<?php
$_order = $this->getOrder();
$msg = $this->__("Order %s was canceled. Canceled orders are not available for printing.", $_order->getIncrementId());
?>

<div id="messages"><ul class="messages"><li class="error-msg"><ul><li><span><? echo  $msg; ?></span></li></ul></li></ul></div>
