<?php
/** @var GoSolid_Frans_Block_Adminhtml_ShipmentManager_Form $this */
/** @var GoSolid_Frans_Model_Sales_Order $_order */
	$_order = $this->getOrder();
	
	$_icePackCount = $_order->getIcePacks();

	/*
    $printStations = Mage::getModel("frans/printStation")->getActivePrintStations();
    $defaultPrintStation = Mage::getModel('core/cookie')->get("default_print_station");
	*/
?>
<div class="sm-title">
	Order #<a href="<?php echo $this->getOrderViewUrl();?>" target="_blank"><?php echo $_order->getIncrementId(); ?></a>
	(Order Date: <?php echo Mage::helper('core')->formatDate($_order->getCreatedAt()); ?>)
</div>
<div class="sm-top-links">
	<a href="#"  onClick="clearForm();return false;">Cancel</a>
</div>
	
<div class="sm-block">
	<div class="sm-title">1. Verify Shipping Address</div>
	<div class="sm-block-content">		
        <fieldset>
            <address><?php echo $_order->getShippingAddress()->getFormated(true) ?></address>
        </fieldset>
	</div>
	<div style="clear:both;"></div>
</div>

<form method="post" action="<?php echo $this->getSaveUrl(); ?>" id="save-shipment-form">
    <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
    <input type="hidden" name="create_shipping_label" id="create_shipping_label" value="1" />

<div class="sm-block">
	<div class="sm-title">2. Verify Order Items to Ship</div>
	<?php echo $this->getItemsHtml(); ?>
</div>

<div class="sm-block">
	<div class="sm-title">3. Select Ship Method</div>
	<div class="sm-block-content">
		<ul class="sm-option-list">
		<?php 
			$_shippingOptions = $this->getShippingOptions();
			$_shipCounter = 1;
			$_closeToggle = false;
		?>
		<?php foreach ($_shippingOptions as $value => $label): ?>
			<?php $_shipIdField = "ship_method_" . $_shipCounter; ?>
			<?php $current = $_order->getShippingMethod() == $value; ?>
			<?php if ($_shipCounter == 4):?>
				<?php $_closeToggle = true; ?>
				<li><a href="#" id='ship-method-toggle'>Show all options</a></li>
				<div style="display:none;">
			<?php endif;?>
			<li><input type="radio" name="shipping_method" id="<?php echo $_shipIdField; ?>" value="<?php echo $value; ?>" <?php if ($current) echo " checked='checked'";?> />
			<label for="<?php echo $_shipIdField; ?>"><?php echo $label . ($current ? ' (Original Ship Method)' : ''); ?></label></li>
			
			<?php $_shipCounter++; ?>
		<?php endforeach; ?>
		<?php if ($_closeToggle): ?>
			</div>
		<?php endif;?>
		</ul>
		
	</div>
	<div style="clear:both;"></div>
</div>

<div class="sm-block">
    <? if ($this->showShipDateWarning()): ?>
        <script>
            Dialog.confirm("<p style=\"font-size: 14px; margin-top: 1em; text-align: center; font-weight: bold;\">This order's ship date isn't scheduled for today. The planned ship date is <?php echo $this->helper('frans')->calendarDisplayDate($this->getOrder()->getPlannedShipDate()); ?>.</p>", {
                buttonClass: "button",
                className: "magento",
                windowClassName: "popup-window",
                title: "This Ship Date is not today!",
                width: 650,
                zIndex: 2100,
                recenterAuto: true,
                hideEffect: Element.hide,
                showEffect: Element.show,
                okLabel: "Continue",
                cancelLabel: "Don't Ship",
                onCancel: clearForm
            });
        </script>
    <? endif; ?>
	<div class="sm-title">4. Choose Ship Date</div>
	<div class="sm-block-content">
		<?php 
			$dateOptions = $this->getShipDateOptions();
			$_counter = 1;
            $is_weekend = $this->getIsWeekend();
            $next_weekday = $this->getNextWeekday();
		?>
		<ul class="sm-option-list">
		<?php foreach($dateOptions as $label => $value):?>
			<?php $_fieldId = "ship_date_" . $_counter; ?>
			<li><input type="radio" name="ship_date" id="<?php echo $_fieldId; ?>" value="<?php echo $value; ?>" <?php if (($is_weekend && $value == $next_weekday) || (!$is_weekend && $_counter == 1)) echo "checked='checked'";?> />
			<label for="<?php echo $_fieldId; ?>"><?php echo $label; ?></label></li>
			<?php 
				$_counter++; 
			?>
		<?php endforeach; ?>
		</ul>
	</div>
	<div style="clear:both;"></div>
</div>

<div class="sm-block">
	<div class="sm-title">5. Add Ice Packs</div>
	<div class="sm-block-content">
		<input type="hidden" name="ice_packs" id="ice_packs" value="<?php echo $_icePackCount; ?>" />
		<div>
			<span id="ice-pack-display" class="ice-pack-display"><?php echo $_icePackCount; ?> Ice Packs</span>
			<button type="button" id="add_ice_pack" class="scalable">+</button>
			<button type="button" id="remove_ice_pack" class="scalable">-</button>
		</div>
		<div>
			Shipping Weight: <span id="shipping-weight"><?php echo $this->getInitialOrderWeight(); ?></span> lbs
		</div>
	</div>
	<div style="clear:both;"></div>
</div>



<div class="sm-buttons">
	<button type="button" id="ship_manual" class="scalable btn-float-left">Ship Manual</button>

	<?php if(!$_order->getIsMultishipChildOrder() && !$_order->getIsMultishipParent()): ?>
		<label for="capture" style="margin-left: 1em"><input type="checkbox" name="capture" id="capture" checked="checked" /> Capture payment</label>
	<?php endif; ?>

	<?php echo $this->getPrintLabelBtn(); ?>
</div>

</form>

<script type="text/javascript">
	var itemWeight = <?php echo $_order->getWeight(); ?>;
	var icePackWeight = <?php echo $this->getIcePackWeight(); ?>;

	var newShipment = new NewShipmentForm({
		"itemWeight": itemWeight,
		"icePackWeight": icePackWeight,
		"manualButton": $('ship_manual'),
		"form": $('save-shipment-form'),
		"container": $('sm-container'),
        "printStation": $('print_station'),
		"icePackDisplay": $('ice-pack-display'),
		"icePackValue": $('ice_packs'),
		"shippingWeightValue": $('shipping-weight'),
		"printButton": $('print_label'),
		//"cancelButton": $('cancel-shipment'),
		"addIceButton": $('add_ice_pack'),
		"removeIceButton": $('remove_ice_pack'),
		"printLabelFlagValue": $('create_shipping_label'),
		"shipMethodToggle": $('ship-method-toggle')
	});

    $('print_label').focus();
</script>
