<div class="sm-nav">
<form action="<?php echo $this->getNewUrl(); ?>" method="post" id="shipment-form">

    <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
    <div class="go-wrapper">
        <input type="text" placeholder="<? echo $this->__("Scan/Enter Order ID"); ?>" name="order_id" id="order_id" />
        <button type="submit" id="new-button"><? echo $this->__("Go"); ?></button>
    </div>
</form>
</div>
<div id="sm-container" class="sm-container">

</div>

<style>
    .popup-window .magento_buttons .button{ border: 0; padding: 0.5em 2em; }
    .popup-window .magento_buttons .ok_button{ float: right; background: #0a0; }
    .popup-window .magento_buttons .cancel_button{ float: left; background: #e00; }
</style>

<script>
    var searchForm;

    document.observe("dom:loaded", function() {
    	document.getElementById('order_id').focus();

    	//$('shipment-form').on('submit', showNewShipment);
    	searchForm = new ShipmentManagerSearch($('shipment-form'), $('sm-container'), $('order_id'));
    });

	function forceShipment(orderId) {
		searchForm.forceShipment(orderId);
		return false;
	}

	function clearForm() {
		searchForm.clearForm();
        $('order_id').value('');
		return false;
	}

	function resetSearch() {
		searchForm.resetSearch();
	}
</script>
