<?php
$msg = $this->__("The order does not exist, or has been deleted. Please double check the order number.");
?>


<div id="messages"><ul class="messages"><li class="error-msg"><ul><li><span><? echo  $msg; ?></span></li></ul></li></ul></div>


