<?php
$_order = $this->getOrder();
$msg = $this->__("The order %s is not a shipment order. Please validate the order number.", $_order->getIncrementId());

?>


<div id="messages"><ul class="messages"><li class="error-msg"><ul><li><span><? echo  $msg; ?></span></li></ul></li></ul></div>



