<?php
$_order = $this->getOrder();
$msg = $this->__("Order %s is currently on hold. You must remove the order from on hold prior to shipping.", $_order->getIncrementId());
?>

<div id="messages"><ul class="messages"><li class="error-msg"><ul><li><span><? echo  $msg; ?></span></li></ul></li></ul></div>



