<?php
/**
 * Created by PhpStorm.
 * User: David
 * Date: 3/16/2015
 * Time: 2:28 PM
 */

$_order = $this->getOrder();

$shipments = $_order->getShipmentsCollection();
?>

<form method="post" action="<?php echo $this->getReprintUrl(); ?>" id="shipment-report">
    <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
    <input type="hidden" name="order_id" value="<?php echo $_order->getIncrementId(); ?>" />
    <div class="sm-block">
        <div class="sm-title">Choose shipment to reprint label for</div>
        <div class="sm-block-content" id="shipment">
            <ul class="sm-option-list">
                <?php foreach($shipments AS $shipment):?>
                    <li>
                        <input type="radio" name="shipment" id="<?php echo "shipment_" . $shipment->getIncrementId(); ?>" value="<?php echo $shipment->getIncrementId(); ?>" <?php echo (is_null($shipment->getShippingLabel())) ? "disabled='disabled'" : ""?><?php echo ($shipments->count() == 1 ? " checked='checked' ":"")?>/>
                        <label for="<?php echo "shipment_" . $shipment->getIncrementId(); ?>" class="<?php echo (is_null($shipment->getShippingLabel()) ? 'noShipment' : ''); ?>">
                            <?php echo $shipment->getIncrementId(); ?><?php echo (is_null($shipment->getShippingLabel()) ? " - No shipping label available" : ""); ?>
                        </label>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
        <div style="clear:both;"></div>
    </div>

    <div class="sm-buttons">
        <?php echo $this->getPrintLabelBtn("submit"); ?>
    </div>
    <div style="clear: both;"></div>
</form>
