<?php
$_order = $this->getOrder();


$msg = $this->__("Order %s has already shipped", $_order->getIncrementId());

?>


<div id="messages"><ul class="messages"><li class="error-msg"><ul><li><span><? echo  $msg; ?></span></li></ul></li></ul></div>

<?php echo $this->getRePrintHtml(); ?>

<a href="#" onClick="forceShipment('<?php echo $_order->getIncrementId(); ?>');">Click here to create a new shipment.</a>

