
<?php
$_order = $this->getOrder();
$showManual = $this->getIsManual();

if ($showManual)
{
    $msg = $this->__("Order %s shipped manually. Tracking number not assigned to shipment.", $_order->getIncrementId());
}
else
{
    $msg = $this->__("Order %s shipped. Tracking number %s", $_order->getIncrementId(),  $this->getTrackingNumber());
}

?>


<div id="messages"><ul class="messages"><li class="success-msg"><ul><li><span><? echo  $msg; ?></span></li></ul></li></ul></div>





