<?php
$_order = $this->getOrder();
$msg = $this->__("Order %s is a virtual order with nothing to ship. Please validate the order number.", $_order->getIncrementId());

?>


<div id="messages"><ul class="messages"><li class="error-msg"><ul><li><span><? echo  $msg; ?></span></li></ul></li></ul></div>



