<?php
$config = $this->getConfig();
$customer = $this->getCustomer();
$_collection = Mage::registry('search_result');
?>
<?php if ($_collection): ?>
<div class="form-kb-result">
    <div class="dropbox">
        <h2 class="legend"><?php echo $this->getSearchQuery() ?></h2>
        <p class="helpful"><?php echo $this->__('We found the following topics that might be helpful:') ?></p>
            <?php foreach($_collection as $_article):?>
                <div class="article-item">
                    <a class="name" href="<?php echo $_article->getUrl()?>" target='_blank'><?php echo $_article->getName() ?></a>
                    <div class="info">
                        <?php if ($_article->getRating() && $this->isRatingEnabled()): ?>
                            <div class="rating-box">
                                <div class="rating" style="width:<?php echo $_article->getRating() * 20 ?>%;"></div>
                            </div>
                        <?php endif ?>
                    </div>
                    <p class="detail"><?php echo Mage::helper('core/string')->truncate(strip_tags($_article->getTextHtml()), 90) ?></p>
                </div>
            <?php endforeach ?>
            <button id="create-ticket" title="<?php echo $this->__("None of these articles were helpful, submit a ticket") ?>" class="post-button" onClick="event.preventDefault(); displayTicketCreation()"><?php echo $this->__("None of these articles were helpful, submit a ticket") ?></button>
            <script type="text/javascript">decorateTable('article-table')</script>
    </div>
</div>
<?php else: ?>
    <div class="form-kb-result">
        <div class="dropbox">
            <h2 class="legend"><?php echo $this->getSearchQuery() ?></h2>
            <p class="helpful"><?php echo $this->__('Sorry, we did not found anything in our knowledge base:') ?></p>
            <p class="helpful">&nbsp;</p>
            <button id="create-ticket" title="<?php echo $this->__("Submit a ticket") ?>" class="post-button" onClick="event.preventDefault(); displayTicketCreation()"><?php echo $this->__("Submit a ticket") ?></button>
            <script type="text/javascript">decorateTable('article-table')</script>
        </div>
    </div>
<?php endif; ?>