<!--@subject {{var ticket.getEmailSubject()}} @-->
<!--@vars
{"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email"}
@-->
<!--@styles
body,td { color:#2f2f2f; }
@-->
{{var hidden_separator}}

<!--Changed template due to preference 1-12-15-->

<div style="font:13px/1.45em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:13px/1.45em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
                        </td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
                                {{var ticket.getLastMessageHtmlText()}}<br><br>
                            </font>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>