<!--Changed email subject line to fit Fran's 1-22-15 DA-->
<!--@subject {{var ticket.getEmailSubject('Thank You for Contacting Us')}} @-->
<!--@vars
{"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email"}
@-->
<!--@styles
body,td { color:#2f2f2f;  }
@-->

<!-- ===== OG Template ===== -->

<!--{{var hidden_separator}}-->
<!--<div style="font:13px/1.45em Verdana, Arial, Helvetica, sans-serif;">-->
    <!--<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:13px/1.45em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">-->
        <!--<tr>-->
            <!--<td align="center" valign="top">-->
                <!--&lt;!&ndash; [ header starts here] &ndash;&gt;-->
                <!--<table cellspacing="0" cellpadding="0" border="0" width="650">-->
                    <!--<tr>-->
                        <!--<td valign="top">-->
                            <!--<a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</table>-->

                <!--&lt;!&ndash; [ middle starts here] &ndash;&gt;-->
                <!--<table cellspacing="0" cellpadding="0" border="0" width="650">-->
                    <!--<tr>-->
                        <!--<td valign="top">-->
                            <!--<p><strong>Dear {{htmlescape var=$customer.name}}</strong>, <br/> Thank you for contacting us.</p>-->

                            <!--This is an automated response confirming the receipt of your ticket. One of our agents will get back to you as soon as possible.<br><br>-->

                            <!--Ticket ID: {{var ticket.code}}<br>-->
                            <!--Subject: {{var ticket.name}}<br>-->
                            <!--Department: {{var ticket.department}}<br>-->
                            <!--Status: {{var ticket.status}}<br>-->
                            <!--Priority: {{var ticket.priority}}<br>-->
                            <!--Details: <br><i>{{var ticket.getLastMessageHtmlText()}}</i></br>-->
                            <!--<br>-->
                            <!--You can check the status of reply to this ticket online at: {{var ticket.getExternalUrl() }}-->
                            <!--<br><br>-->
                            <!--Thank you again,<br>-->
                            <!--<strong>{{var store.getFrontendName()}}</strong>-->
                            <!--{{var ticket.getHiddenCodeHtml()}}-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</table>-->

            <!--</td>-->
        <!--</tr>-->
    <!--</table>-->
<!--</div>-->

<!-- ===== END OG Template ===== -->

<table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td height="30" colspan="3" valign="top">&nbsp;</td>
    </tr>
    <tr>
        <td width="25" valign="top">&nbsp;</td>
        <td width="650" valign="top">
            <table cellpadding="0" cellspacing="6" width="100%">
                <tr>
                    <td height="26" valign="top">
                        <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
                            <h1 style="font-weight: normal; font-size: 1.3em; margin: 0;"><strong>Dear {{htmlescape var=$customer.name}}</strong>,</h1>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="650" height="21" valign="top" style="color: #909090;">
                        <font face="Helvetica, 'Trade Gothic',  Arial, sans-serif" size="2">
                            <p>Thank you for contacting us. Your request will be forwarded to the appropriate person and you will receive a response by the next business day.</p>
                        </font>
                        {{var ticket.getHiddenCodeHtml()}}
                    </td>
                </tr>
                <tr>
                    <td style="color: #909090; text-decoration: none;">
                        {{var ticket.getFransContactDetails()}}
                    </td>
                </tr>
            </table>
        </td>
        <td width="25" valign="top">&nbsp;</td>
    </tr>
    <tr>
        <td height="12" colspan="3" style="line-height: 0;">&nbsp;</td>
    </tr>
</table>