<!--@subject {{var ticket.getEmailSubject()}} @-->
<!--@vars
{"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email"}
@-->
<!--@styles
body,td { color:#2f2f2f; }
@-->
{{var hidden_separator}}
<div style="font:13px/1.45em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:13px/1.45em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
                        </td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
                                {{var ticket.getLastMessageHtmlText()}}<br><br>
                            </font>

                            <!--You can check the status of reply to this ticket online at: {{var ticket.getExternalUrl() }}-->
                            <!--<br><br>-->
                            <!--Thank you,<br>-->
                            <!--<strong>{{var store.getFrontendName()}}</strong>-->

                            <!--{{block type='helpdesk/email_satisfaction' area='frontend' template='mst_helpdesk/email/satisfaction.phtml' ticket=$ticket}}-->

                            <!--{{var ticket.getHistoryHtml()}}-->
                            {{var ticket.getHiddenCodeHtml()}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>