<?php 

	// contact form field values
	$firstName = '';
	$lastName = '';
	$businessName = '';
	$email = '';
	$phone = '';
	$address1 = '';
	$address2 = '';
	$city = '';
	$zip = '';
	
	if($this->helper('customer')->isLoggedIn())
	{
		$customer = Mage::getSingleton('customer/session')->getCustomer();
		$firstName = $customer->getFirstname();
		$lastName = $customer->getLastname();
		$businessName = $customer->getCompanyName();
		$email = $customer->getEmail();
		if($customer->getPrimaryBillingAddress()){
			$fullAddress = $customer->getPrimaryBillingAddress();
			$phone = $fullAddress->getTelephone();
			// if the address is in the US, auto-fill the form with it
			if($fullAddress->getCountry() == 'US'){
				$addressStreet = $fullAddress->getStreet();
				$address1 = $addressStreet[0];
				$address2 = $addressStreet[1];
				$city = $fullAddress->getCity();
				$regionId = $fullAddress->getRegionId();
				$zip = $fullAddress->getPostcode();
			}
		}
	}

?>

<form class="contact-form" id="catalog-request" method="post">

	<span class="form-header"><?php echo $this->__('Fill out the form below to request a catalog:'); ?></span>

	<?php // the action input identifies the form, since multiple forms post to one controller action ?>
	<input type="hidden" name="action" class="form-action">
	
	<?php // only putting a "country" input here for RegionUpdater JS, it's not used anywhere else ?>
	<input type="hidden" name="country" id="country" value="US">

	<div class="form-wrapper">
		<div class="form-row">
			<div class="col-xs-6">
				<input type="text" name="firstname" id="firstname" value="<?php echo $firstName; ?>" title="<?php echo $this->__('First name'); ?>" class="input-text required-entry" placeholder="<?php echo $this->__('First name') ?>" />
			</div>
			<div class="col-xs-6">
				<input type="text" name="lastname" id="lastname" value="<?php echo $lastName; ?>" title="<?php echo $this->__('Last name'); ?>" class="input-text required-entry" placeholder="<?php echo $this->__('Last name') ?>" />
			</div>
		</div>
		<div class="form-row">
			<div class="col-xs-12">
				<input type="text" name="companyname" id="companyname" value="<?php echo $businessName; ?>" title="<?php echo $this->__('Business name'); ?>" class="input-text" placeholder="<?php echo $this->__('Business name') ?>" />
			</div>
		</div>
		<div class="form-row">
			<div class="col-xs-12">
				<input type="text" name="address" id="address" value="<?php echo $address1; ?>" title="<?php echo $this->__('Address'); ?>" class="input-text required-entry" placeholder="<?php echo $this->__('Address') ?>" />
			</div>
		</div>
		<div class="form-row">
			<div class="col-xs-12">
				<input type="text" name="address2" id="address2" value="<?php echo $address2; ?>" title="<?php echo $this->__('Apt, suite #'); ?>" class="input-text" placeholder="<?php echo $this->__('Apt, Suite #') ?>" />
			</div>
		</div>
		<div class="form-row">
			<div class="col-xs-4">
				<input type="text" name="city" id="city" value="<?php echo $city; ?>" title="<?php echo $this->__('City'); ?>" class="input-text required-entry" placeholder="<?php echo $this->__('City') ?>" />
			</div>
			<div class="col-xs-4">
				<select name="region_id" id="region_id" title="<?php echo $this->__('State'); ?>" class="validate-select required-entry" placeholder="<?php echo $this->__('State') ?>">
					<option value="" disabled selected><?php echo $this->__('State') ?></option>
				</select>
			</div>
			<div class="col-xs-4">
				<input type="text" name="zip" id="zip" value="<?php echo $zip; ?>" title="<?php echo $this->__('ZIP code'); ?>" class="input-text required-entry" placeholder="<?php echo $this->__('ZIP code') ?>" />
			</div>
		</div>
		<div class="form-row">
			<div class="col-xs-12">
				<input type="text" name="phone" id="phone" value="<?php echo $phone; ?>" title="<?php echo $this->__('Phone number'); ?>" class="input-text validate-phoneLax required-entry" placeholder="<?php echo $this->__('Phone number') ?>" />
			</div>
		</div>
		<div class="form-row">
			<div class="col-xs-12">
				<input type="text" name="email" id="email" value="<?php echo $email; ?>" title="<?php echo $this->__('Email address'); ?>" class="input-text validate-email" placeholder="<?php echo $this->__('Email address') ?>" />
			</div>
		</div>
		<div class="form-row">
			<div class="col-xs-12">
				<button type="submit" title="<?php echo $this->__('Send'); ?>" class="btn button-dark"><span><span><?php echo $this->__('Send'); ?></span></span></button>
			</div>
    	</div>
	</div>
</form>
<script type="text/javascript">

	<?php if($regionId): // if the customer has an address saved, auto-select the state in this form ?>
		jQuery('#catalog-request #region_id').attr('defaultValue',  '<?php echo $regionId; ?>');
	<?php endif; ?>
	
	new RegionUpdater('country', 'region_id', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
    var catalogRequestForm = new VarienForm('catalog-request', true);

    new Event.observe('catalog-request', 'submit', function(e){
        e.stop();
        var validator = new Validation(this);
        if(validator.validate()){
	        var form = jQuery('#catalog-request');
	        var data = form.serialize();
	        makeAjaxRequest(form.attr('action'), data, function(response){
				if(response['success'] == true)
				{
					toggleEmailTab(false);
					jQuery('.success-message').show();
				}
				else
				{
					alert('<?php echo $this->__('Sorry, there was a problem submitting your message. Please try again later.'); ?>');
				}
			});
        }
    });

</script>