<?php 

	// contact form field values
	$firstName = '';
	$lastName = '';
	$businessName = '';
	$email = '';
	$phone = '';
	
	if($this->helper('customer')->isLoggedIn())
	{
		$customer = Mage::getSingleton('customer/session')->getCustomer();
		$firstName = $customer->getFirstname();
		$lastName = $customer->getLastname();
		$businessName = $customer->getCompanyName();
		$email = $customer->getEmail();
		if($customer->getPrimaryBillingAddress()){
			$phone = $customer->getPrimaryBillingAddress()->getTelephone();
		}
	}

?>

<form class="contact-form" id="international-orders" method="post">

	<span class="form-text"><?php echo $this->__("We ship to several international destinations including Japan, Canada, and the United Kingdom. To place an order to one of these destinations please fill out the form below and we will e-mail you a shipping estimate and an order confirmation by the next business day."); ?></span>

	<?php // the action input identifies the form, since multiple forms post to one controller action ?>
	<input type="hidden" name="action" class="form-action">
	
	<div class="form-wrapper">
		<div class="form-row">
			<div class="col-xs-6">
				<input type="text" name="firstname" id="firstname" value="<?php echo $firstName; ?>" title="<?php echo $this->__('First name'); ?>" class="input-text required-entry" placeholder="<?php echo $this->__('First name') ?>" />
			</div>
			<div class="col-xs-6">
				<input type="text" name="lastname" id="lastname" value="<?php echo $lastName; ?>" title="<?php echo $this->__('Last name'); ?>" class="input-text required-entry" placeholder="<?php echo $this->__('Last name') ?>" />
			</div>
		</div>
		<div class="form-row">
			<div class="col-xs-12">
				<textarea name="shippingaddress" id="shippingaddress" value="" title="<?php echo $this->__('Shipping address'); ?>" class="textarea required-entry" placeholder="<?php echo $this->__('Shipping address') ?>"></textarea>
			</div>
		</div>
		<div class="form-row">
			<div class="col-xs-12">
				<input type="text" name="phone" id="phone" value="<?php echo $phone; ?>" title="<?php echo $this->__('Phone number (including country code)'); ?>" class="input-text required-entry" placeholder="<?php echo $this->__('Phone number (including country code)') ?>" />
			</div>
		</div>
		<div class="form-row">
			<div class="col-xs-12">
				<input type="text" name="email" id="email" value="<?php echo $email; ?>" title="<?php echo $this->__('Email address'); ?>" class="input-text validate-email required-entry" placeholder="<?php echo $this->__('Email address') ?>" />
			</div>
		</div>
		<div class="form-row">
			<div class="col-xs-12">
				<textarea name="itemdetail" id="itemdetail" value="" title="<?php echo $this->__('Items and quantities'); ?>" class="textarea required-entry" placeholder="<?php echo $this->__('Items and quantities') ?>"></textarea>
			</div>
		</div>
		<div class="form-row">
			<div class="col-xs-12">
				<button type="submit" title="<?php echo $this->__('Send'); ?>" class="btn button-dark"><span><span><?php echo $this->__('Send'); ?></span></span></button>
			</div>
    	</div>
	</div>
</form>
<script type="text/javascript">
    var internationalOrdersForm = new VarienForm('international-orders', true);

    new Event.observe('international-orders', 'submit', function(e){
        e.stop();
        var validator = new Validation(this);
        if(validator.validate()){
	        var form = jQuery('#international-orders');
	        var data = form.serialize();
	        makeAjaxRequest(form.attr('action'), data, function(response){
				if(response['success'] == true)
				{
					toggleEmailTab(false);
					jQuery('.success-message').show();
				}
				else
				{
					alert('<?php echo $this->__('Sorry, there was a problem submitting your message. Please try again later.'); ?>');
				}
			});
        }
    });

</script>