<?php 

	// contact form field values
	$firstName = '';
	$lastName = '';
	$businessName = '';
	$email = '';
	$phone = '';
	
	if($this->helper('customer')->isLoggedIn())
	{
		$customer = Mage::getSingleton('customer/session')->getCustomer();
		$firstName = $customer->getFirstname();
		$lastName = $customer->getLastname();
		$businessName = $customer->getCompanyName();
		$email = $customer->getEmail();
		if($customer->getPrimaryBillingAddress()){
			$phone = $customer->getPrimaryBillingAddress()->getTelephone();
		}
	}

?>

<form class="contact-form" id="order-assistance" method="post">

	<span class="form-header"><?php echo $this->__('Fill out the form below and we will assist you:'); ?></span>

	<?php // the action input identifies the form, since multiple forms post to one controller action ?>
	<input type="hidden" name="action" class="form-action">
	
	<div class="form-wrapper">
		<div class="form-row">
			<div class="col-xs-6">
				<input type="text" name="firstname" id="firstname" value="<?php echo $firstName; ?>" title="<?php echo $this->__('First name'); ?>" class="input-text required-entry" placeholder="<?php echo $this->__('First name') ?>" />
			</div>
			<div class="col-xs-6">
				<input type="text" name="lastname" id="lastname" value="<?php echo $lastName; ?>" title="<?php echo $this->__('Last name'); ?>" class="input-text required-entry" placeholder="<?php echo $this->__('Last name') ?>" />
			</div>
		</div>
		<div class="form-row">
			<div class="col-xs-12">
				<input type="text" name="companyname" id="companyname" value="<?php echo $businessName; ?>" title="<?php echo $this->__('Business name'); ?>" class="input-text" placeholder="<?php echo $this->__('Business name') ?>" />
			</div>
		</div>
		<div class="form-row">
			<div class="col-xs-12">
				<input type="text" name="phone" id="phone" value="<?php echo $phone; ?>" title="<?php echo $this->__('Phone number'); ?>" class="input-text validate-phoneLax" placeholder="<?php echo $this->__('Phone number') ?>" />
			</div>
		</div>
		<div class="form-row">
			<div class="col-xs-12">
				<input type="text" name="email" id="email" value="<?php echo $email; ?>" title="<?php echo $this->__('Email address'); ?>" class="input-text validate-email required-entry" placeholder="<?php echo $this->__('Email address') ?>" />
			</div>
		</div>
		<div class="form-row">
			<div class="col-xs-12">
				<input type="text" name="ordernumber" id="ordernumber" value="" title="<?php echo $this->__('Order number'); ?>" class="input-text" placeholder="<?php echo $this->__('Order number') ?>" />
			</div>
		</div>
		<div class="form-row">
			<div class="col-xs-12">
				<textarea name="comment" id="comment" value="" title="<?php echo $this->__('Let us know how we can help you...'); ?>" class="textarea required-entry" placeholder="<?php echo $this->__('Let us know how we can help you...') ?>"></textarea>
			</div>
		</div>
		<div class="form-row">
			<div class="col-xs-12">
				<button type="submit" title="<?php echo $this->__('Send'); ?>" class="btn button-dark"><span><span><?php echo $this->__('Send'); ?></span></span></button>
			</div>
    	</div>
	</div>
</form>
<script type="text/javascript">
    var orderAssistanceForm = new VarienForm('order-assistance', true);

    new Event.observe('order-assistance', 'submit', function(e){
        e.stop();
        var validator = new Validation(this);
        if(validator.validate()){
	        var form = jQuery('#order-assistance');
	        var data = form.serialize();
	        makeAjaxRequest(form.attr('action'), data, function(response){
				if(response['success'] == true)
				{
					toggleEmailTab(false);
					jQuery('.success-message').show();
				}
				else
				{
					alert('<?php echo $this->__('Sorry, there was a problem submitting your message. Please try again later.'); ?>');
				}
			});
        }
    });

</script>