/* IE 8 fixes */

textarea {
	min-width: 95%;
	width: 95%;
}

.placeholder-textarea {
	margin-top: 7px;
}

select {
	padding: 7px 0 7px 2px;
	background-image: none;
}

.btn-continue.plain.button {
	background-color: transparent;
	border: none;
}

.cart-items .row.column-headers {
	border-bottom: none;
}

.backdrop + .frans-container .tile .tile-image {
	height: 350px !important;
}

.frans-checkout-success .receipt #receipt-print-button {
	background-image: none;
	width: auto;
	height: auto;
	font-size: inherit;
	text-decoration: underline;
}

.box-orders .order-tile {
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.saved-credit-card-wrapper .payment-column-label {
	width: 90%;
}

/* IE8 webfont fix: redefine font as "ie8fontfix" with just one definition for all styles and weights */

@font-face {
	font-family: 'ie8fontfix';
	src: url('/skin/frontend/frans/default/src/less/fonts/trade-gothic/25B5BF_9_0.eot');
	src: url('/skin/frontend/frans/default/src/less/fonts/trade-gothic/25B5BF_9_0.eot?#iefix') format('embedded-opentype'),url('/skin/frontend/frans/default/src/less/fonts/trade-gothic/25B5BF_9_0.woff') format('woff'),url('/skin/frontend/frans/default/src/less/fonts/trade-gothic/25B5BF_9_0.ttf') format('truetype');
}

body {
	font-family: 'ie8fontfix', helvetica, arial, sans-serif !important;
}
