<div class="backdrop">
	<div class="col-xs-12">
		<div class="custom-orders-header">

		</div>
	</div>
</div>
<div class="frans-container">

	<div class="row">
		<div class="header-content">
			<div class="section-text">
				<h1 class="page-title"><?php echo $this->__('Custom Gifts, Private Parties & Large Orders'); ?></h1>
				<p><?php echo $this->__('Our beautifully packaged confections are created just for you, cherished by everyone else.'); ?></p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="custom-orders-section section-browse">
			<div class="section-wrapper">
			<img src="<?php echo $this->getSkinUrl('images/pages/custom-orders/custom-orders-01.jpg'); ?>" />
				<div class="section-text">
					<h2><?php echo $this->__('Parties & Events'); ?></h2>
					<p><?php echo $this->__("We are experts at the fine art of planning, packaging, and shipping large orders for special events, parties, and other occasions. Let us tailor your order with a rich assortment of hand-tied bows, hang tags, message enclosures, simplified deliveries, and an arrival date of your choosing."); ?></p>
					<a href="<?php echo $this->getUrl('gifts/parties-events'); ?>" class="button button-dark" title="<?php echo $this->__('Shop Parties & Events'); ?>"><?php echo $this->__('Shop Parties & Events'); ?></a>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="custom-orders-section section-largeorders">
			<div class="section-wrapper">
				<img src="<?php echo $this->getSkinUrl('images/pages/custom-orders/custom-orders-02.jpg'); ?>" />
				<div class="section-text">
					<h2><?php echo $this->__('Multiple Shipments Made Easy'); ?></h2>
					<p><?php echo $this->__("We will ship your gifts to one location or to multiple individual addresses, simply and efficiently."); ?></p>
					<a href="#" class="modal-link largeorders-modal-link" title="<?php echo $this->__('Learn More'); ?>"><?php echo $this->__('Learn More'); ?></a>
				</div>
			</div>
		</div>
	</div>

	<div class="row fleur">
		<div class="custom-orders-section section-customize">
			<div class="section-wrapper">
				<div class="section-text">
					<h2><?php echo $this->__('Orchestrate Your Look'); ?></h2>
					<p><?php echo $this->__("Reflect your unique style with the following customized options, at no additional charge:"); ?></p>
				</div>
				
				<div class="custom-features-frame">
					<ul class="custom-features section-text">
						<li class="feature-ribbon">
							<h3><?php echo $this->__('Ribbon Color'); ?></h3>
							<p><?php echo $this->__('We offer satin ribbons in a rich variety of colors. Personalize your box with the right color for your company.'); ?></p>
						</li>
						<li class="feature-tags">
							<h3><?php echo $this->__('Hang Tags'); ?></h3>
							<p><?php echo $this->__("Provide us with your printed hang-tags, and we’ll hand-tie them to each box. We can also work with you to create custom, letter-press hang-tags."); ?></p>
						</li>
						<li class="feature-message">
							<h3><?php echo $this->__('Custom Gift Message'); ?></h3>
							<p><?php echo $this->__('Use our beautiful ivory gift enclosures and envelope with your gift message.'); ?></p>
						</li>
					</ul>
	 				<div class="lines"></div>
					<div class="custom-box-display">
	  				<div class="favor-box swatch-old-gold"></div>
					</div>
  				<div class="gift-message-card"></div>
				</div>
				
				<div class="ribbon-colors">
					<h5>Available Ribbon Colors</h5>
					<ul>
						<li><span class="swatch swatch-ivory"></span><span class="color-name">Ivory</span></li>
						<?php /* <li><span class="swatch swatch-black"></span><span class="color-name">Black</span></li> */ ?>
						<li><span class="swatch swatch-silver"></span><span class="color-name">Silver</span></li>
						<li class="active"><span class="swatch swatch-old-gold"></span><span class="color-name">Old Gold</span></li>
						<li><span class="swatch swatch-bronze"></span><span class="color-name">Bronze</span></li>
						<li><span class="swatch swatch-rust"></span><span class="color-name">Rust</span></li>
					</ul>
					<ul>
						<li><span class="swatch swatch-red"></span><span class="color-name">Red</span></li>
						<li><span class="swatch swatch-orange"></span><span class="color-name">Orange</span></li>
						<li><span class="swatch swatch-sunny-yellow"></span><span class="color-name">Sunny Yellow</span></li>
						<li><span class="swatch swatch-bright-yellow"></span><span class="color-name">Bright Yellow</span></li>
						<li><span class="swatch swatch-bright-green"></span><span class="color-name">Bright Green</span></li>
					</ul>
					<ul>
						<li><span class="swatch swatch-celadon"></span><span class="color-name">Celadon</span></li>
						<li><span class="swatch swatch-tropic"></span><span class="color-name">Tropic</span></li>
						<li><span class="swatch swatch-blue-turquoise"></span><span class="color-name">Blue Turquoise</span></li>
						<li><span class="swatch swatch-porcelain"></span><span class="color-name">Porcelain</span></li>
						<li><span class="swatch swatch-neon-blue"></span><span class="color-name">Neon Blue</span></li>
						<?php /* <li><span class="swatch swatch-royal-blue"></span><span class="color-name">Royal Blue</span></li> */ ?>
					</ul>
					<ul>
						<li><span class="swatch swatch-purple"></span><span class="color-name">Purple</span></li>
						<li><span class="swatch swatch-moonstone"></span><span class="color-name">Moonstone</span></li>
						<li><span class="swatch swatch-fuchsia"></span><span class="color-name">Fuchsia</span></li>
						<li><span class="swatch swatch-wine"></span><span class="color-name">Wine</span></li>
					</ul>
					<p><span class="note-ribbon">Please allow up to 4 weeks for your custom colors.</span></p>
				</div>
			</div>
		</div>
	</div>

	<div class="row three-cols fleur">
		<div class="custom-orders-section section-futureship">
			<div class="section-wrapper">
				<img src="<?php echo $this->getSkinUrl('images/pages/custom-orders/custom-orders-03.jpg'); ?>" />
				<div class="section-text">
					<h2><?php echo $this->__('Order Now, Ship Later'); ?></h2>
					<p><?php echo $this->__("Place your order whenever it is convenient for you and we’ll ship it later with our freshest chocolates. To ensure we have enough time to hand-make and hand-pack your order, please allow up to 14 days for orders shipping in December."); ?></p>
					<a href="#" class="modal-link rates-modal-link" title="<?php echo $this->__('View Shipping Rates'); ?>"><?php echo $this->__('View Shipping Rates'); ?></a>
				</div>
			</div>
		</div>
		<div class="custom-orders-section section-volumediscounts">
			<div class="section-wrapper">
				<img src="<?php echo $this->getSkinUrl('images/pages/custom-orders/custom-orders-04.jpg'); ?>" />
				<div class="section-text">
					<h2><?php echo $this->__('Delightful Savings'); ?></h2>
					<p><?php echo $this->__("Order more, save more. Applies to orders placed January through November. Please note that discounts are not available in December."); ?></p>
					<a href="#" class="modal-link savings-modal-link" title="<?php echo $this->__('View Discount Rates'); ?>"><?php echo $this->__('View Discount Rates'); ?></a>
				</div>
			</div>
		</div>
		<div class="custom-orders-section section-productcare">
			<div class="section-wrapper">
				<img src="<?php echo $this->getSkinUrl('images/pages/custom-orders/custom-orders-05.jpg'); ?>" />
				<div class="section-text">
					<h2><?php echo $this->__('Product Care'); ?></h2>
					<p><?php echo $this->__("Our confections are crafted with the finest ingredients, including local and organic cream and butter. For peak freshness and flavor, please enjoy our truffles within 10 days, and our caramels and nuts within 30 days of delivery. Store out of direct sunlight, in a cool, dry place between 54⁰ - 68⁰ F."); ?></p>
				</div>
			</div>
		</div>
	</div>

	<div class="ready-to-order">
		<h2><?php echo $this->__('Ready to Order?'); ?></h2>
		<p><?php echo $this->__("We’re ready to handle your parties and large orders."); ?></p>
		<ul>
			<li><span>STEP 1</span> If you haven’t already <a class="block" href="/customer/account/login">Create an Account</a></li>
			<li><span>STEP 2</span> Browse our delectable <a class="block" href="/gifts/parties-events">Parties and Events Gifts</a></li>
			<li><span>STEP 3</span> When you’re ready to order call us at <a href="tel:800.422.3726">800.422.3726</a></li>
		</ul>
	</div>

	<div id="largeorders-popup">
		<h3><?php echo $this->__('How We Can Help'); ?></h3>
		<p><?php echo $this->__('Choose from two easy ways to manage large orders:'); ?></p>
		<ul>
			<li class="largeorders-modal-column">
				<img src="<?php echo $this->getSkinUrl('images/pages/custom-orders/custom-orders-icon-frans.png'); ?>" />
				<h4><?php echo $this->__('Let Us Handle It'); ?></h4>
				<p><?php echo $this->__("Call or "); ?> <a href="mailto:gifting@frans.com"><?php echo $this->__('email us'); ?></a>, <?php echo $this->__("and one of our business gifting specialists will work with you to place your order for you. After your order is placed we will create a business account with your address book so future orders are a breeze."); ?></p>
				<p><?php echo $this->__("844.435.1192"); ?></p>
			</li>
			<li class="largeorders-modal-column">
				<img src="<?php echo $this->getSkinUrl('images/pages/custom-orders/custom-orders-icon-truck.png'); ?>" />
				<h4><?php echo $this->__('Use Our Multi-Ship Tool'); ?></h4>
				<p><?php echo $this->__("If you prefer to place your order yourself, our interactive tool makes it easy.  Start by"); ?> <a href="<?php echo $this->getUrl('customer/account'); ?>" title="<?php echo $this->__('Create an account'); ?>"><?php echo $this->__('creating an account'); ?></a> <?php echo $this->__("and saving your addresses in your account. When you are ready to order simply log-in, add products to your cart then select the option to send to multiple addresses during checkout."); ?></p>
			</li>
		</ul>
	</div>

	<div id="rates-popup">
		<h3><?php echo $this->__('Shipping Rates Per Address'); ?></h3>
		<table>
			<tbody>
				<tr>
					<td class="cell-left"><?php echo $this->__('Purchase Amount'); ?></td>
					<td class="cell-right"><?php echo $this->__('2-Day Shipping'); ?></td>
				</tr>
				<tr>
					<td class="cell-left"><?php echo $this->__('$0 - $35'); ?></td>
					<td class="cell-right"><?php echo $this->__('$14'); ?></td>
				</tr>
				<tr>
					<td class="cell-left"><?php echo $this->__('$35.01 - $65'); ?></td>
					<td class="cell-right"><?php echo $this->__('$16'); ?></td>
				</tr>
				<tr>
					<td class="cell-left"><?php echo $this->__('$65.01 - $120'); ?></td>
					<td class="cell-right"><?php echo $this->__('$20'); ?></td>
				</tr>
				<tr>
					<td class="cell-left"><?php echo $this->__('$120.01 - $220'); ?></td>
					<td class="cell-right"><?php echo $this->__('$25'); ?></td>
				</tr>
				<tr>
					<td class="cell-left"><?php echo $this->__('$220.01 - $300'); ?></td>
					<td class="cell-right"><?php echo $this->__('$30'); ?></td>
				</tr>
				<tr>
					<td class="cell-left"><?php echo $this->__('$300.01 - $600'); ?></td>
					<td class="cell-right"><?php echo $this->__('$40'); ?></td>
				</tr>
				<tr>
					<td class="cell-left"><?php echo $this->__('$600.01 - $1000'); ?></td>
					<td class="cell-right"><?php echo $this->__('$65'); ?></td>
				</tr>
				<tr>
					<td class="cell-left"><?php echo $this->__('$1000.01 +'); ?></td>
					<td class="cell-right"><?php echo $this->__('$100'); ?></td>
				</tr>
			</tbody>
		</table>
		<p class="disclaimers">
			<strong><?php echo $this->__('$10 flat-rate shipping to WA, OR, ID and CA. Add $10 for overnight shipping.'); ?></strong><br />
			<?php echo $this->__('All shipments to Alaska and Hawaii require an additional $15 charge for delivery.'); ?><br />
			<?php echo $this->__('Shipping rates apply to each address.'); ?><br />
			<?php echo $this->__('International shipping available; please call us at 206.322.0233 for details.'); ?><br />
			<?php echo $this->__('Shipping rates may vary for gift bowls and trays; please call us at 844.435.1192 for details.'); ?>
		</p>
	</div>

	<div id="savings-popup">
		<h3><?php echo $this->__('Large Order Savings'); ?></h3>
		<p><?php echo $this->__('Discounts are available from January 1 through November 20.'); ?><br /><?php echo $this->__('Please note: Discounts do not apply to shipping charges.'); ?></p>
		<table>
			<thead>
				<tr>
					<td><?php echo $this->__('5% Off'); ?></td>
					<td><?php echo $this->__('10% Off'); ?></td>
					<td><?php echo $this->__('15% Off'); ?></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><?php echo $this->__('$600 - $1500'); ?></td>
					<td><?php echo $this->__('$1501 - $3000'); ?></td>
					<td><?php echo $this->__('$3001 +'); ?></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>

<script type="text/javascript">

	var modalContainerCss =  {
		position: 'absolute',
		backgroundColor: '#ffffff',
		border: '1px solid #c7c7c7',
		padding: '30px',
		overflow: 'visible',
		marginBottom: '20px',
		textAlign: 'center',
		width: '95%',
		maxWidth: 960
	};

	function showLargeOrdersPopup(event){
		event.preventDefault();
		showModal(jQuery('#largeorders-popup').html(), { containerCss: modalContainerCss });
	}

	function showRatesPopup(event){
		event.preventDefault();
		showModal(jQuery('#rates-popup').html(), { containerCss: modalContainerCss });
	}

	function showSavingsPopup(event){
		event.preventDefault();
		showModal(jQuery('#savings-popup').html(), { containerCss: modalContainerCss });
	}

	jQuery(document).ready(function(){
		var body = jQuery('body');
		body.on('click', '.largeorders-modal-link', showLargeOrdersPopup);
	});

	jQuery(document).ready(function(){
		var body = jQuery('body');
		body.on('click', '.rates-modal-link', showRatesPopup);
	});

	jQuery(document).ready(function(){
		var body = jQuery('body');
		body.on('click', '.savings-modal-link', showSavingsPopup);
	});
	
	//ribbon color switcher
	jQuery(document).ready(function($){
		//$('body.custom-orders .stage.image-headers .table-row.sec4 .image').prepend( $('<div />').addClass('lines') );
		//$('body.custom-orders .stage.image-headers .table-row.sec4 .image').prepend( $('<div />').addClass('favor-box') );
		//$('.swatch.swatch-old-gold').parent().addClass('active');
		//$(document).on('click touchstart'
		$('.ribbon-colors ul li').on('click touchstart', function(e){
			$('.ribbon-colors li.active').removeClass('active');
			$(this).addClass('active');
			var swatch = $(this).find('.swatch');
			var favorBox = $('div.favor-box');
			var swatchClass = swatch.attr('class');
			var favorBoxClass = swatchClass.replace('swatch ','favor-box ');
			favorBox.attr('class', favorBoxClass );
		});
	});

</script>