.sqlreports-adminhtml-index-viewreport th.show-all-sub-querys,
.sqlreports-adminhtml-index-viewreport .show-sub-query
{
    width:35px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
.sqlreports-adminhtml-index-viewreport #sub-query
{
    color: #665 !important;

}

.sqlreports-adminhtml-index-viewreport #sub-query thead tr
{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FFFFFF), color-stop(1, #EAEAEA));
    background: -moz-linear-gradient(center top, #cccccc 5%, #b2b2b2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");
    background: -o-linear-gradient(top, #cccccc, b2b2b2);
    background-color: #D8D8D8;
    border: 0px solid #000000;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-family: Arial;
    font-weight: bold;
}

.sqlreports-adminhtml-index-viewreport .sub-query-row,
.sqlreports-adminhtml-index-viewreport #sub-query td
{
    background-color: #F0F0F0;
}

.sqlreports-adminhtml-index-viewreport .form-list td.value p.note
{
    width: 450px;
}
