/*
	frans theme css
*/
.header{
	background: #331c24;
}
.header-top{
	border-bottom: 1px solid #999184;
}
.logo{
	width: 186px;
	height: 57px;
	margin: 5px 20px 5px 27px;
}
.clear{
    clear: both;
}

/* admin table views */
.scroll-box{
	width: 100%;
	height: 450px;
	overflow-x: scroll;
	overflow-y: scroll;
	border: 2px solid #333;
	margin: 20px 0;	
}

table.table{
	border-collapse: collapse;
}

table.table tr{
	
}

table.table th{
	padding: 3px;
	border: 1px solid #ccc;
}

table.table td{
	padding: 3px;
	border: 1px solid #ccc;
}

.box-left .entry-edit input.input-text, .box-right .entry-edit input.input-text,
.box-left .entry-edit .textarea, .box-right .entry-edit .textarea{
	width: 95% !important;
}

.box-right .entry-edit .form-list td.label, .box-left .entry-edit .form-list td.label{
	width: 200px;
}

.box-right .entry-edit .form-list td.label label, .box-left .entry-edit .form-list td.label label{
	width: 120px;
	padding-right: 0;
}


/* slight gift message tweaks */
.giftmessage-order-create .entire-order, .giftmessage-order-create .entire-order .entry-edit{
	height: auto;
}
.ship-address
{
	float: left;
}
.shipping-score{
    margin-left: 200px;
}
.cm-shipment-container
{
	margin-top: 8px;
}
.cm-shipment-table-container
{
	overflow:hidden;
}
.cm-shipment-order-info
{
	float:left;
	vertical-align: middle;
	padding: 4px;
	background-color: #e5ecf2;
	margin-right: 10px;
}

.go-wrapper
{
    vertical-align: middle;

}
.go-wrapper button
{

    height: 36px;
    width: 36px;
    margin-left: 10px;
}
.go-wrapper input
{
    padding-left: 5px;
    height: 31px;
}

.sm-nav
{
	float: left;
	width: 230px;

}
.sm-container
{
	float:left;
	vertical-align: top;
	width: 600px;
    padding-left: 20px;
    border-left: solid 1px #ccc;
    min-height: 400px;
}


.sm-title
{
	font-weight: bold;
	float: left;
    margin-bottom: 20px;
}
.sm-top-links
{
	float: right;
}
.sm-block
{
	border: 1px solid #ccc;
	padding: 10px 5px;
	clear: both;
	margin: 15px 0px;
}
.sm-block-title
{
	clear: left;
	float: left;
	min-width: 125px;
}
.sm-block-content
{
	margin-left: 10px;
	float: left;	
}
.sm-option-list
{
	list-style-type:none;
	margin-left: 5px;
}
.ice-pack-display
{
	font-weight: bold;
}
.sm-ice-pack
{
	float: left;
	margin-left: 150px;
	border: 1px dotted;
	padding: 10px;	
}
.sm-block-label
{
	clear: left;
	float: left;
	display: block;
	width: 200px;	
}
.sm-right
{
	clear:right;
	float:right;
}
.sm-shipment-dates
{
	float:right;
	margin-right: 100px;
}
.sm-buttons
{

    width: 100%;
}
.sm-warning
{
	margin-top: 15px;
	background: url(images/i_notice.gif) no-repeat;
	clear: both;
	padding-left:40px;
	padding-top:5px;
	height: 50px;
}
.sm-error
{
	margin-top: 15px;
	background: url(images/error-msg.png) no-repeat;
	clear: both;
	padding-left:35px;
	padding-top:5px;
	height: 50px;
}
.sm-info
{
	margin-top: 15px;
	background: url(images/success-msg.png) no-repeat;
	clear: both;
	padding-left:35px;
	padding-top:5px;
	height: 50px;
}
.admin_notes_entry, .gift_message_entry, .special_instructions_entry
{
	height: 5em !important;
	min-width: 270px;
}
/* order create shipping method */
.order-shipping-col
{
    float: left;
    width: 48%;
}
#order-shipping-method-dates
{
    clear: both;
}
/* end order create shipping method */


/* reprint shipment */
#shipment ul li .noShipment{ color: #ccc; }
/* end of reprint shipment */

.btn-float-left
{
    float: left;
}

.btn-float-right
{
    float: right;
    margin-left: 10px;
}

.customer-address-buttons
{
    margin-bottom: 3px;
}

.customer-address-buttons .scalable
{
    margin: 0 0 0 5px;
}

.f-right25
{
    float: right;
    margin-right: 25px;
}

.box-right .entry-edit .content .input-text.width200
{
    width: 200px !important;
}

/* multiship in the admin */
.grid .multiship-address .input-text.half
{
    width: 150px;
}
.grid .multiship-address .input-text.full
{
    width: 310px;
}
.shipment-address-edit .qty
{
    width: 30px;
}

.hide { display: none; }

.multiship-address textarea
{
    width: 95%;
}

.entry-edit-pre-head
{
    margin: 6px 0px;
}

.shipment-address-display { float: left; }
.inline-list li {
    display: inline-block;
    width:15px;
    margin-left: 3px;
}

/* end multiship */

/* saved quote in admin */
.save-quote
{
    margin-top: 15px;
}

/* saved quote */



/* pickup manager */
.adminhtml-pickupmanager-edit .order-tables
{
	min-width: 650px;
	margin-bottom: 15px;
}
.adminhtml-pickupmanager-edit .order-totals
{

}
.adminhtml-pickupmanager-edit .pay-at-register-alert
{
    color: red;
    border: solid 1px red;
    padding: 5px;
}

.adminhtml-pickupmanager-edit .pay-at-register-alert
{
    color: red;
    border: solid 1px red;
    padding: 5px;
}
.adminhtml-pickupmanager-edit .order-payment
{
    margin-top: 15px;
}
.adminhtml-pickupmanager-edit .order-actions
{
    float: left;
    margin-top: 15px;
    width: 100%;

}
.adminhtml-pickupmanager-edit .order-actions-hint
{
    margin-bottom: 5px;
}
.adminhtml-pickupmanager-edit .reset-pickupstatus
{
    float: right;
}
/* end pickup manager */

/* order view */
.resend-email
{
    height: 70px;
    width:300px;
}
.resend-note
{
    display: block;
    margin-left: 150px;
}
/* order view */

/* validation styles for order gift message character limit */

#order-shipments_grid .order-tables tr.validation-failed {
	background-color: #fef0ed;
	color: #d6340e;
}

#order-shipments_grid .order-tables tr.validation-failed .gift-message-flag {
	font-weight: bold;
}

/* end validation for order gift message character limit */

/* sales order create/edit, custom styles with progress block */

.adminhtml-sales-order-create-index .order-choose-address > table,
.adminhtml-sales-order-edit-index .order-choose-address > table { width: 100%; }
.adminhtml-sales-order-create-index .order-choose-address > table select,
.adminhtml-sales-order-edit-index .order-choose-address > table select { width: 95%; }

.adminhtml-sales-order-create-index button.copy-shipping-address,
.adminhtml-sales-order-edit-index button.copy-shipping-address {
	float: right;
	margin-right: 4px;
}

.adminhtml-sales-order-create-index #add_shipment_button,
.adminhtml-sales-order-edit-index #add_shipment_button { margin-right: 4px; }

.adminhtml-sales-order-create-index #shipping-method-overlay,
.adminhtml-sales-order-edit-index #shipping-method-overlay { display: none !important; }

.adminhtml-sales-order-create-index #submit_order_top_button,
.adminhtml-sales-order-edit-index #submit_order_top_button { display: none; }
.adminhtml-sales-order-create-index #additional-divider,
.adminhtml-sales-order-edit-index #additional-divider { margin-bottom: 16px; }

.adminhtml-sales-order-create-index button.progress-done,
.adminhtml-sales-order-create-index .order-search-items button.add,
.adminhtml-sales-order-edit-index button.progress-done,
.adminhtml-sales-order-edit-index .order-search-items button.add { float: right; }

.adminhtml-sales-order-create-index #customer_account_fields .fieldset,
.adminhtml-sales-order-create-index #customer_accounting_fields .fieldset,
.adminhtml-sales-order-edit-index #customer_account_fields .fieldset,
.adminhtml-sales-order-edit-index #customer_accounting_fields .fieldset { height: 75px; }

.adminhtml-sales-order-create-index #order-comments .fieldset,
.adminhtml-sales-order-create-index #order-admin_notes .fieldset,
.adminhtml-sales-order-edit-index #order-comments .fieldset,
.adminhtml-sales-order-edit-index #order-admin_notes .fieldset { height: 145px; }

.adminhtml-sales-order-create-index #customer_account_fields button.progress-done,
.adminhtml-sales-order-create-index #customer_accounting_fields button.progress-done,
.adminhtml-sales-order-create-index #order-payment_method button.progress-done,
.adminhtml-sales-order-edit-index #customer_account_fields button.progress-done,
.adminhtml-sales-order-edit-index #customer_accounting_fields button.progress-done,
.adminhtml-sales-order-edit-index #order-payment_method button.progress-done { margin: -42px 15px 0 0; }

#order-form_account #customer_account_fields #main{ height: 105px; }
#order-form_account #customer_account_fields button.progress-done{  }

.adminhtml-sales-order-create-index #order-shipping_method .entry-edit,
.adminhtml-sales-order-edit-index #order-shipping_method .entry-edit{ position: relative; }
.adminhtml-sales-order-create-index #order-shipping_method button.progress-done,
.adminhtml-sales-order-edit-index #order-shipping_method button.progress-done {
	position: absolute;
	right: 15px;
	bottom: 6px;
}

.adminhtml-sales-order-create-index #giftcard_fields .field-row,
.adminhtml-sales-order-edit-index #giftcard_fields .field-row { float: left; }

.adminhtml-sales-order-create-index #progress-wrapper,
.adminhtml-sales-order-edit-index #progress-wrapper { position: relative; }

.adminhtml-sales-order-create-index #order-progress,
.adminhtml-sales-order-edit-index #order-progress {
	margin-left: 28px;
	width: 232px;
}

.adminhtml-sales-order-create-index #order-progress .bounding-box,
.adminhtml-sales-order-edit-index #order-progress .bounding-box {
	border: 1px solid #6f8992;
	box-shadow: 2px 2px 5px rgba(64,64,64,0.2);
	background-color: #fafafa;
}

.adminhtml-sales-order-create-index #order-progress.bottom,
.adminhtml-sales-order-edit-index #order-progress.bottom {
	position: absolute;
	bottom: 15px;
}
.adminhtml-sales-order-create-index #order-progress.sticky,
.adminhtml-sales-order-edit-index #order-progress.sticky {
	position: fixed;
	top: 50px;
}

.adminhtml-sales-order-create-index #order-progress h4,
.adminhtml-sales-order-edit-index #order-progress h4 {
	float: left;
	width: 155px;
	color: #6f8992;
	font-size: 15px;
	padding: 22px 0 0 15px;
}

.adminhtml-sales-order-create-index #order-progress .radial-indicator,
.adminhtml-sales-order-edit-index #order-progress .radial-indicator {
	float: right;
	margin-right: 10px;
	margin-top: 7px;
}

.adminhtml-sales-order-create-index #order-progress #knob,
.adminhtml-sales-order-edit-index #order-progress #knob {
	width: 50px !important;
	margin-left: -50px !important;
	font-size: 15px !important;
}

.adminhtml-sales-order-create-index #order-progress .steps,
.adminhtml-sales-order-edit-index #order-progress .steps { margin-left: 15px; }

.adminhtml-sales-order-create-index #order-progress .steps hr,
.adminhtml-sales-order-edit-index #order-progress .steps hr {
	margin: 10px 0 10px -15px;
	border-bottom: none;
	border-top: 1px solid #6f8992;
}

.adminhtml-sales-order-create-index #order-progress .steps li a,
.adminhtml-sales-order-edit-index #order-progress .steps li a {
	color: #f98721;
	font-weight: bold;
	padding-left: 18px;
	background-image: url('images/progress-incomplete.png');
	background-repeat: no-repeat;
	text-decoration: none;
}
.adminhtml-sales-order-create-index #order-progress .steps li.hidden,
.adminhtml-sales-order-edit-index #order-progress .steps li.hidden { display: none; }

.adminhtml-sales-order-create-index #order-progress .steps li.done a,
.adminhtml-sales-order-edit-index #order-progress .steps li.done a {
	color: #43af37;
	background-image: url('images/progress-complete.png');
}

.adminhtml-sales-order-create-index #order-progress .steps li a:hover,
.adminhtml-sales-order-edit-index #order-progress .steps li a:hover { text-decoration: underline; }

.adminhtml-sales-order-create-index .order-totals,
.adminhtml-sales-order-edit-index .order-totals {
	background-color: transparent;
	border: none !important;
	padding-bottom: 0;
}

.adminhtml-sales-order-create-index .order-totals table td,
.adminhtml-sales-order-edit-index .order-totals table td {
	padding: 3px 10px;
	line-height: 1.3em;
}

.adminhtml-sales-order-create-index .order-totals-bottom,
.adminhtml-sales-order-edit-index .order-totals-bottom { padding: 0 8px; }

/* end sales order create/edit, custom styles with progress block */

/* address validation */
.product-configure-popup.address-validation
{
    width: 700px;
}
.address-col {
    width: 49%;
    float: left;
}
.address-left {
    float: left;
    width: 33%;
}
.address-right {
    float: left;
    width: 65%;
}
td.slim-label {
    width: 150px;
}

td.display-value {
    padding-top: 0px;
    font-weight: bold;
}

.address-validation-table td {
    border-width: 0px !important;
    border-style: none;
}

.changed-field {
    background-color: #fdfaa4;
}

.address-validation-table td select {
    width: 210px !important;
}
/* end address validation */
.adminhtml-sales-order-create-printview .progress-done, .adminhtml-sales-order-create-printview input{
    border: 0 !important;
}
.adminhtml-sales-order-create-printview input[type='checkbox'],
.adminhtml-sales-order-create-printview button,
.adminhtml-sales-order-create-printview label.normal{
    display: none;
}
/* end address validation */

/* Product Grid Layout icon */
#product-grid-layout-icon {
	margin: 5px 0 0 12px;
}

/* Child Category Layout icon */
#child-category-layout-icon {
	margin: 5px 0 0 12px;
}

/* Widen notes on General tab of Product Information */
#product_info_tabs_group_7_content .form-list td.value p.note {
	width: auto;
}