/**** START MAGENTO RESET ****/
.middle, .footer { background: transparent; }
h1, h2, h3 { margin: inherit; color: inherit; font-size: inherit; line-height: inherit; }
p { margin: 0; }
/****  END MAGENTO RESET  ****/


body {
	background-color: #ebebeb;
	font-family: "Franklin Gothic Book", Helvetica, Arial;
	font-size: 10pt;
	letter-spacing: 0.05em;
	color: #888;
}

a {
	color: #888;
	text-decoration: underline;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-weight: normal;
	font-size: 1.4em;
	text-transform: uppercase;
	margin-bottom: 1em;
	color: #777;
	letter-spacing: 0.03em;
}

h2 {
	font-size: 1em;
	font-weight: 600;
	margin-bottom: 0;
	color: #777;
	letter-spacing: 0.06em;
}

h3 {
	font-size: 1em;
	font-weight: normal;
	margin-bottom: 0;
}

p {
	margin: 0 0 1em;
}

ul {
	margin-bottom: 1em;
}

li {
	list-style-type: disc;
	margin-left: 20px;
}

.email-template {
	width: 700px;
	margin: 0 auto;
}

.email-logo {
	text-align: center;
	margin: 30px auto 25px;
}

.email-content {
	position: relative;
}

.email-content-main {
	padding: 50px 20% 30px 25px;
	background-color: #fff;
	z-index: 2
}

.email-content-behind {
	z-index: 0;
}

.email-signature {
	font-style: italic;
}

.email-background-image {
	position: absolute;
	top: 3px;
	bottom: 3px;
	left: 0;
	right: 0;
	z-index: 1;
	background-image: url('/skin/frontend/frans/default/images/email/bg-caramel.png');
	background-repeat: no-repeat;
	background-position: center right;
}

.email-content-top {
	width: 700px;
	height: 3px;
	background-image: url('/skin/frontend/frans/default/images/email/border-top.png');
}

.email-content-bottom {
	width: 700px;
	height: 3px;
	background-image: url('/skin/frontend/frans/default/images/email/border-bottom.png');
}

.email-social {
	width: 64px;
	overflow: hidden;
	margin: 20px auto;
	padding-left: 15px;
}

.email-social a {
	display: block;
	width: 17px;
	height: 17px;
	float: left;
	margin-right: 15px;
	background-repeat: no-repeat;
	background-position: center left;
}

.email-social a:hover {
	background-position: center right;
}

.email-social-facebook {
	background-image: url('/skin/frontend/frans/default/images/email/social-facebook.png');
}
.email-social-twitter {
	background-image: url('/skin/frontend/frans/default/images/email/social-twitter.png');
}

.email-footer-links {
	margin: 0 auto;
	width: 426px;
	height: 18px;
}

.email-footer-links li {
	list-style-type: none;
	display: block;
	float: left;
	border-right: 1px solid #aaa;
	height: 18px;
	margin: 0;
	padding: 0 15px;
	text-align: center;
	text-transform: uppercase;
}

.email-footer-links a {
	text-decoration: none;
}

.email-footer-links a:hover {
	color: #333;
}

.email-footer-links li:last-child {
	border-right: 0;
}

.email-footer-endnote {
	clear: both;
	text-align: center;
	margin-top: 20px;
	color: #aaa;
}

.email-footer-endnote p {
	margin: 0;
}

.email-footer-endnote * {
	color: #aaa;
}

.single-line {
	margin-bottom: 0;
}


/**** TEMPLATE-SPECIFIC STYLES ****/
.email-inset-stripe {
	width: 100%;
	background-repeat: no-repeat;
	background-image: url('/skin/frontend/frans/default/images/email/inset-stripe.png');
	padding: 18px 0;
	font-family: Verdana, Helvetica, Arial;
	font-size: 12px;
	letter-spacing: 0;
}

.email-inset-stripe li {
	margin-left: 60px;
	list-style-type: none;
	height: 21px;
}