#quotePrint {
    font-family: 'Trade Gothic', Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding: 0 4px;
    /*testing purposes only*/
    /*margin: 39px 38px 38px 39px;*/

}

#order-shipments-grid, #order-summary-grid {
    padding: 0 4px;
}

#quotePrint #order-shipments-grid tr.headings, #quotePrint #order-summary-grid tr.headings{
    background: none;
    color: #bfbfbf;
    font-size: 14px;
}

#quotePrint #order-shipments-grid tr.headings th, #quotePrint #order-summary-grid tr.headings th{
    border: none;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    font-weight: 400;
    padding-bottom: 13px;
    color: #bfbfbf !important;
    padding-top: 13px;
}

#quotePrint #order-shipments-grid tr.headings.first th, #quotePrint #order-summary-grid tr.headings.first th
{
    padding-top: 0;
    border-top: none;
}

#quotePrint #order-shipments-grid table, #quotePrint #order-summary-grid table {
    border: none;
}

#quotePrint #order-summary-grid table tr.order-summary-subtotal-row td span,
#quotePrint #order-summary-grid table.total-table.overall tr.order-total-row td span{
    display:inline-block;
    text-align: right !important;
    width: 100%;
}

#quotePrint #order-summary-grid table.total-table.overall .order-total-row td:nth-of-type(2){
    width: 100px;
    padding-left: 0;
}

#quotePrint #order-summary-grid .order-summary-subtotal-row td {
    padding-bottom: 10px;
}

#quotePrint #order-summary-grid .order-summary-subtotal-row td:first-of-type span {
    text-align: left !important;
}

 #quotePrint #order-shipments-grid table tbody, #quotePrint #order-summary-grid table tbody {
    font-size: 13px;
}

#quotePrint #order-shipments-grid table td, #quotePrint #order-summary-grid table td{
    border: none;
}

#quotePrint #order-shipments-grid table.total-table td, #quotePrint #order-summary-grid table.total-table td{
    padding-right: 0;
}

#quotePrint #order-shipments-grid table.total-table td:first-of-type, #quotePrint #order-summary-grid table.total-table td:first-of-type{
    padding-left: 20px;
}

#quotePrint #order-shipments-grid table.total-table td:last-of-type, #quotePrint #order-summary-grid table.total-table td:last-of-type{
    text-align: right !important;
}

#quotePrint .first-row td, #quotePrint .col-shipping-address {
    padding-top: 15px;
}

#quotePrint .col-shipping-address ul li {
    padding-bottom: 5px;
}

#quotePrint .pac-time {
    display: none;
}

#quotePrint .quote-number
{
    font-size: 16px;
    font-weight: bold;
    min-width: 20%;
    padding-right: 0;
    display: inline-block;
}

#quotePrint #order-shipments-grid table thead, #quotePrint #order-summary-grid table thead {
    color: #777;
}

.quote-header-row {
    padding: 0 4px;
    margin-top: 25px;
}
.quote-header-row div {
    vertical-align: middle;
}

.quote-header-row div.hr-line {
    padding: 0 10px;
    width: 62%;
    display: inline-block;
}
.quote-header-row div.hr-line hr {
    border-top: 1px solid #777;
    background-color: #fff !important;
}

.quote-date {
    display: inline-block;
    float: right;
}

.print-header
{
    width: 100%;
    margin-bottom: 15px;
    padding: 25px 4px 2px;
}

.print-header .grey
{
    color: #bfbfbf !important;
}

.print-header ul li {
    margin-bottom: 3px;
}

.print-header tr.quote-buyer-info {
    margin-bottom: 10px;
}

.print-header tr.divider-row {
    height:15px;
}

.print-header td.quote-store-info {
    display: table-cell;
}
.print-header td.quote-store-info ul li {
    text-align: right !important;
}
.print-header td.quote-billing {
    display: table-cell;
}
.print-header tr.quote-buyer-info td.quote-spacing {
    width: 25%;
    padding: 0;
    display: table-cell;
}

#quotePrint #order-summary-grid tr.order-summary-item td {
    padding-top: 10px;
    width: 35px;
}

#quotePrint #order-shipments-grid table.total-table,
#quotePrint #order-summary-grid table.total-table{
    padding-bottom: 10px;

}

#quotePrint #order-shipments-grid table.total-table {
    padding-top: 15px;
    width: 230px;
    float: right;
}
#quotePrint td.total-cell {
    padding-right: 0;
}

#quotePrint #order-shipments-grid table.total-table tr.order-total-row,
#quotePrint #order-shipments-grid table.total-table.overall tr.order-total-row td,
#quotePrint #order-summary-grid table.total-table tr.order-total-row,
#quotePrint #order-summary-grid table.total-table.overall tr.order-total-row td{
    background: none;
    font-size: 13px;
    padding-bottom: 0;
}



#quotePrint #order-summary-grid table.total-table.overall tr.order-total-row td:last-of-type {
    width: 70px;
}

#quotePrint #order-shipments-grid table.total-table.overall tr.order-total-row td:first-of-type,
#quotePrint #order-summary-grid table.total-table.overall tr.order-total-row td:first-of-type{
    float: left;
}


#quotePrint #order-shipments-grid table.total-table.overall tr.order-total-row td:nth-of-type(4) {
    padding-left: 0;
}

#quotePrint #order-shipments-grid table.total-table.overall tr.order-total-row td:last-of-type {
    padding-left: 5px;
}

#quotePrint #order-shipments-grid table.total-table.overall{
    width: 100%;
}

#quotePrint #order-summary-grid table.total-table.overall tr.order-total-row.last td {
    padding-bottom: 20px;
}

#quotePrint #order-shipments-grid table.total-table.overall,
#quotePrint #order-summary-grid table.total-table.overall
{
    border-top: 1px solid #999;
    padding-top: 10px;
}

.section-divider {
    height: 3px;
    border: none;
    background: #000 !important;
    margin: 0 auto;
    width: 90%;
}


.section-title {
    padding: 15px 4px 0;
    border-top: 3px solid #000;
}



#quotePrint .col-shipping-address {
    width: 225px;
}

#quotePrint .col-item {
    width: 370px;
}

#quotePrint .col-item .item-details .item-name{
    font-size: 14px;
}

#quotePrint .col-item .item-details .item-color-tile{
    color: #bfbfbf !important;
    font-size: 12px;
}


#quotePrint .col-price {
    width: 100px;
    text-align: right !important;
}

#quotePrint .col-qty, #quotePrint .col-qty .item-qty {
    width: 50px;
    text-align: right !important;
}

#quotePrint .col-discount {
    width: 100px;
    text-align: right !important;
}

#quotePrint .col-subtotal {
    text-align: right !important;
}

#quotePrint .col-method {
    width: 200px;
    text-align: right !important;
}

#quotePrint .col-total {
    text-align: right !important;
}

#quotePrint .col-item .item-thumbnail {
    padding-top: 15px;
}

#quotePrint .shipment-number {
    font-weight: 600;
    font-size: 14px;
}

#quotePrint .shipment-number td {
    padding-top: 15px;
}

#quotePrint tr.quote-messages td {
    padding-top: 15px;
}

#quotePrint tr.quote-messages td p {
    font-size: 13px;
}


@media print {
    p.print-page-break {
        display: block;
        height: 1px;
        width: 100%;
        page-break-before: always;
    }
    #quotePrint #order-summary-grid table tr.order-summary-subtotal-row td span,
    #quotePrint #order-summary-grid table.total-table.overall tr.order-total-row td span{
        display:inline-block;
        text-align: right !important;
        width: 100%;
    }

    #quotePrint #order-summary-grid .order-summary-subtotal-row td:first-of-type span {
        text-align: left !important;
    }
}