<?php 
	$order = $this->getOrder();

	$summaryBlock = $this->getLayout()->createBlock('frans/fransemail_order')->setTemplate('sales/order/summary/order_summary.phtml');
	$summaryBlock->setOrder($order);

	$shippingBlock = $this->getLayout()->createBlock('frans/fransemail_order');
	$shippingBlock->setEmailType('order')->setOrder($order);

	if($this->getIsPrint()){
		$summaryBlock->setTemplate('fransemail/order/summary/order_summary.phtml');
		$shippingBlock->setTemplate('fransemail/order/shipment/shipment_details.phtml');
	} else {
		$summaryBlock->setTemplate('sales/order/summary/order_summary.phtml');
		$shippingBlock->setTemplate('sales/order/shipment/shipment_details.phtml');
	}
?>
 
<div class="order-details popup">
	
	<?php if(!$this->getIsPrint()): ?>
		<iframe src="" id="print-container" name="print-container" style="border: 0; margin-left: -10000px;" width="1" height="1" border="0" seamless></iframe>
		<ul class="order-detail-actions">
			<li><span id="order-print-button" class="print" data-print-target="<?php echo $this->getUrl("sales/order/printorder/", array("order_id" => $order->getId())); ?>"  title="<?php echo $this->__("Print this order."); ?>"></span></li>
			<li><span id="order-resend-button" class="email" onclick="window.location.href='<?php echo $this->getUrl("sales/order/sendorderemail/", array("order_id" => $order->getId())); ?>'" title="<?php echo $this->__("Resend the order confirmation email."); ?>"></span></li>
		</ul>
	<?php endif; ?>

	<div class="order-contents">
 	    <?php echo $summaryBlock->toHtml() . $shippingBlock->toHtml(); ?>
	</div>
 	
</div>
<div class="clear"></div>
	<style type="text/css">

		h3, h4 {
			font-size: 12px !important;
			font-weight: bold !important;
		}

		<?php if ($this->getIsPrint()): ?>

		.order-details {
			font-family: Helvetica, Arial, sans-serif;
			font-size: 14px;
			width: 650px;
			margin: 0 auto;
		}

		img.divider, .padding-collapse { display: none; }

		.popup-logo {
			margin-top: 25px;
			text-align: center;
		}

		.order-contents > div:nth-child(-n+4) {
			padding-left: 0 !important;
			background-image: none !important;
			width: 162.5px !important;
		}

	</style>

    <script type='text/javascript'>
        <!--
        // Cross-browser solution for printing hidden iframe, tested in Chrome, FF, IE, Safari, and Opera; Mac and Windows
        window.onload = function() {
	        if(!document.execCommand('print', false, null)){
	            window.parent.frames['print-container'].focus();
	            window.parent.frames['print-container'].print();
	        }
        };
        //-->
    </script>
<?php else: ?>
	</style>
<?php endif; ?>
