<div class="content-header">
<table cellspacing="0">
    <tr>
        <td style="width:50%;"><h3 class="icon-head head-sales-order"><?php echo Mage::helper('receipt')->__('Print Your Receipts'); ?></h3></td>
        <td class="a-right">
            <?php echo $this->getButtonsHtml() ?>
        </td>
    </tr>
</table>
</div>

<?php

	$orderIds = Mage::registry('order_ids');

	$orderIdsForUrlParam = implode(',', $orderIds);

	$iframeHeight = ($this->hasMultiple()) ? "250" : "750";

	if($this->getIsVisible('pickingtickets')): ?>

		<?php if($this->hasMultiple()): ?>
			<h4>Picking Tickets <button title="Print" type="button" class="scalable" onclick="frans.printAction('pickingtickets');" style=""><span><span><span>Print</span></span></span></button></h4>
		<?php endif; ?>

		<iframe src="<?php echo $this->getUrl('*/*/pickTicket', array('order_ids' => $orderIdsForUrlParam)); ?>" name="pickingticketsIframe" width="100%" height="<?php echo $iframeHeight; ?>"></iframe>
	<?php endif;

	if($this->getIsVisible('packingslips')): ?>

		<?php if($this->hasMultiple()): ?>
			<h4>Packing Slips <button title="Print" type="button" class="scalable" onclick="frans.printAction('packingslips');" style=""><span><span><span>Print</span></span></span></button></h4>
		<?php endif; ?>

		<iframe src="<?php echo $this->getUrl('*/*/packingSlip', array('order_ids' => $orderIdsForUrlParam)); ?>" name="packingslipsIframe" width="100%" height="<?php echo $iframeHeight; ?>"></iframe>

	<?php endif;

	if($this->getIsVisible('giftmessages')): ?>

		<?php if($this->hasMultiple()): ?>
			<h4>Gift Messages <button title="Print" type="button" class="scalable" onclick="frans.printAction('giftmessages');" style=""><span><span><span>Print</span></span></span></button></h4>
		<?php endif; ?>
		
		<iframe src="<?php echo $this->getUrl('*/*/giftMessage', array('order_ids' => $orderIdsForUrlParam)); ?>" name="giftmessagesIframe" width="100%" height="<?php echo $iframeHeight; ?>"></iframe>

	<?php endif;
	
	if($this->getIsVisible('pickinginvoices')): ?>

		<?php if($this->hasMultiple()): ?>
			<h4>Picking Invoices <button title="Print" type="button" class="scalable" onclick="frans.printAction('pickinginvoices');" style=""><span><span><span>Print</span></span></span></button></h4>
		<?php endif; ?>

		<iframe src="<?php echo $this->getUrl('*/*/pickInvoice', array('order_ids' => $orderIdsForUrlParam)); ?>" name="pickinginvoicesIframe" width="100%" height="<?php echo $iframeHeight; ?>"></iframe>
	<?php endif; ?>

<form name="markAsPrinted" action="<?php echo $this->getUrl('*/*/massMarkAsPrinted'); ?>" method="post" style="display: none;">
	<input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>" />
	<input type="hidden" name="order_ids" value="<?php echo $orderIdsForUrlParam; ?>" />
</form>


<script>
var frans = {
    markedAsPrinted: false,
	printAction: function(target){
        var targetFrame = document.getElementsByName(target + 'Iframe')[0];
        // have to focus or else print does entire window in IE
        if(navigator.userAgent.indexOf("MSIE") > 0){
            targetFrame.contentWindow.focus();
        }
        targetFrame.contentWindow.print();

        if(!frans.markedAsPrinted){
            if (targetFrame.name != 'pickinginvoicesIframe'){
            	new Ajax.Request(document.markAsPrinted.getAttribute('action'), {
                            'method': "POST",
                            'parameters': {'order_ids': <?php echo json_encode($orderIdsForUrlParam); ?>},
                        });
	       	    frans.markedAsPrinted = true;
       	    }
        }

	},
	markAsPrinted: function(){
		document.markAsPrinted.submit();
	}
};
</script>
<style>
	iframe{
		margin-bottom: 40px;
	}
    .messages li.error-msg{
        font-size: 1.5em !important;
        margin-bottom: 2em !important;
        padding: 1.25em 2em !important;
        background-position: 15px 44% !important;
    }
</style>