

    <style>
        .print-wrapper {
            position: absolute;

            height: 5in;
            width: 3.25in;

            left: 0px;
            top: 0px;

            /*background-color: #eee;*/

            font-family: gothic;
            font-size:13px;
            line-height: 18px;
            color:#69696b;
            color:#4d3529;
        }

        .giftMessageText{
            position: absolute;
            text-align: center;
            width: 2.25in;
            top: 2.75in;
            height: 2.0in;
            left: .5in;
            right: .5in;
            /*background-color: #222;*/

            vertical-align: middle;


        }
    </style>


<?php

$order = $this->getOrder();
?>
    <page>
        <div class="print-wrapper">
            <div class="giftMessageText">
                <?php echo htmlspecialchars( $order->getGiftMessage()) ; ?>
            </div>
        </div>
    </page>