<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Gift Messages</title>
    <style>
		body {
			margin:0;
			padding:0;
			font-family: 'Trade Gothic','Century Gothic',arial,sans-serif;
			font-size:14px;
			color:#69696b;
			color:#4d3529;
			background: #eee;
	    }
		.contentCont {
			width: 2.75in;
			height: 4.75in;
			margin: 0;
			border: 0px solid #ccc;
			background: #fff;
			overflow: hidden;
		}		
		.giftMsgTable{
			margin: 2.4in 0 0 0;	
			width: 100%;
		}
		td.giftMsgBorder{			
			height: 2.25in;
			padding: 0;
			overflow: hidden;
			position: relative;					
			border: 0px solid red;
		}
		.giftMessageText{
			text-align: center;
			padding: 20px;
		}
	</style>
</head>

<body>

	<?php

	$orders = $this->getOrders();
    foreach($orders as $order): ?>

		<?php if($order->getGiftMessage()): ?>
			<div class="contentCont">
				<table class="giftMsgTable"><tr><td class="giftMsgBorder">
					<div class="giftMessageText">
						<?php echo $order->getGiftMessage(); ?>
					</div>
				</td></tr></table>
			</div>
		<?php endif; ?>

		<?php if(count($orders) > 1): ?>
			<div style="page-break-after: always; line-height: 0;">&nbsp;</div>
		<?php endif; ?>

	<?php endforeach; ?>
</body>
</html>