<?php
function localize_number($address){
    $lines = explode("\n", $address);
    foreach($lines as $line){
        if(strpos($line, 'T: ') === 0){
            $line = substr($line, 3);
            $line = localize_us_number($line);
        }
        if(strpos($line, 'F: ') === 0){
            $line = '';
        }
        $output[] = $line;
    }
    return implode("\n", $output);
}
function localize_us_number($phone) {
    $numbers_only = preg_replace("/[^\d]/", "", $phone);
    return preg_replace("/^1?(\d{3})(\d{3})(\d{4})$/", "$1.$2.$3", $numbers_only);
}
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Packing Slip</title>
    <style>
        body {
            margin:0;
            padding:0;
            font-family: 'Trade Gothic','Century Gothic',arial,sans-serif;
            font-size:8pt;
            color:#4d3529;
            background: #fff;
            width: 100%;
            height: 100%;
        }
        .spaceAboveFold {
            height: 3.9in;
        }
        .contentCont {
            background: #fff;
            border: 0px solid #fff;
            position: relative;
            width: 4.33in;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
            /*top: 4.25in;*/
        }
        .pageBreak {
            page-break-after: always;
        }
        table.skuTbl{width: 100%;}
        table.skuTbl td, table.skuTbl th{text-align: left; vertical-align: top;}
        .color-tile
        {
            font-size:7pt;
        }
        @page {
            size: 5.83in 8.27in;
        }
    </style>
</head>
<body>
<?php $orders = $this->getOrders(); ?>
<?php foreach($orders as $order): ?>
    <div class="spaceAboveFold">&nbsp;</div>
    <div class="contentCont <? if (count($orders) > 0) echo 'pageBreak'; ?>">

        <table cellspacing="0" class="addrTbl" width="100%">
            <tr>
                <td class="cont">


                <!-- HEADER WITH ADDRESS -->
                <table cellspacing="0" width="100%">
                    <tr>
                        <td valign="top">
                            <?php $shippingAddress = $order->getShippingAddress(); ?>
                            <?php echo $shippingAddress ? strtoupper(localize_number( $shippingAddress->format('html') )) : $this->__('N/A'); ?>
                        </td>
                    </tr>
                    <tr>
                        <td class="noBg">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Shipment# <?php echo $order->getIncrementId(); ?></td>
                    </tr>
                </table>

                </td>
            </tr>
        </table>
        <br />

        <br />
        <table cellspacing="0" class="skuTbl" style="width: 100%">
            <tr>
                <th class="description" style="width: 99%">Description</th>
                <th class="qty" style="width: 1%; white-space: nowrap">Quantity</th>
            </tr>
            <?php $items = $order->getAllItems(); ?>
            <?php foreach($items as $item): ?>
                <tr>
                    <td class="description">
                        <?php echo $item->getName(); ?>
                        <!--<br />
                        &#8195;<span class="color-tile"><?php echo $item->getProduct()->getAttributeText('color_tile')?></span>-->
                    </td>
                    <td><?php echo (int) $item->getQtyOrdered(); ?></td>
                </tr>
            <?php endforeach; ?>
            <tr>
                <td class="noBg" colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td class="noBg" colspan="1" style="width: 99%">&nbsp;</td>
                <th align="center" style="width: 1%; white-space: nowrap">Total Quantity</th>
            </tr>
            <tr>
                <td class="noBg" colspan="1" style="width: 99%">&nbsp;</td>
                <td><?php echo (int) $order->getTotalQtyOrdered(); ?></td>
            </tr>
        </table>

    </div>
<?php endforeach; ?>
</body>
</html>