<?php
function localize_number($address){
    $lines = explode("\n", $address);
    foreach($lines as $line){
        if(strpos($line, 'T: ') === 0){
            $line = substr($line, 3);
            $line = localize_us_number($line);
        }
        if(strpos($line, 'F: ') === 0){
            $line = '';
        }
        $output[] = $line;
    }
    return implode("\n", $output);
}
function localize_us_number($phone) {
    $numbers_only = preg_replace("/[^\d]/", "", $phone);
    return preg_replace("/^1?(\d{3})(\d{3})(\d{4})$/", "$1.$2.$3", $numbers_only);
}
?>

<!doctype html>
<html>
<head>
    <title>Packing Slip (New)</title>
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    <style>

        @page {
            size: 140mm 209mm;
        }

        @media print {
          @page{ width: 140mm }
        }

        body{
            color: #543019;
            margin: 0;
            padding: 0;
            font-family: 'Gothic A1', sans-serif;
            font-size: 0.75rem;
        }

        h4{
            font-size: 0.5rem;
            margin: 0 0 0.5rem;
        }

        p{
            margin: 0 0 0.6875rem;

        }

        th{
            text-align: left;
        }

        .page{
            box-sizing: border-box;
            width: 140mm;
            height: 209mm;
            page-break-before: always;
        }

        .packing-slip:first-child .page{
            page-break-before: auto;
        }

        .half-page{
            position: relative;
            box-sizing: border-box;
            padding: 0.377in;
            height: 50%;
            border: 1px #ccc solid;
            left: -1mm;
        }

        .care-info{
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        .foil{
            padding: 0 1in;
            text-align: center;
            font-size: 1.0rem;
            line-height: 1.4rem;
        }
        .foil p{
            margin: 0;
            padding: 1in 0;
        }

        table{
            margin-bottom: 1em;
        }

        td{
            vertical-align: top;
        }

        .header-table{
            width: 100%;
        }

        .shipping-info{
            /* */
        }

        .order-number{
            text-align: right;
        }

        .stretch-cell{
            width: 99%;
        }

        .shrink-cell{
            width: 1%;
            white-space: nowrap;
        }

        .bumper{
            height: 1em;
        }

        .table-display{
            display: table;
            width: 100%;
            height: 100%;
        }
        .table-display .table-row{
            display: table-row;
        }
        .table-display .table-cell{
            display: table-cell;
            vertical-align: middle;
        }

        @media print{
            .half-page{
                border: none;
            }
        }

        .product-care{
            position: absolute;
            bottom: 0.6875rem;
            left: 0.6875rem;
            right: 0.6875rem;
            text-align: center;
            font-size: 7pt;
        }

    </style>
</head>
<body>
<?php $orders = $this->getOrders(); ?>
<?php foreach($orders as $order): ?>

    <div class="packing-slip">

        <div class="page">
            <!-- care info (upside down / flipped ) -->
            <div class="half-page care-info">

                <table class="header-table">
                    <tr>
                        <td class="shipping-info">
                            <?php $shippingAddress = $order->getShippingAddress(); ?>
                            <?php echo $shippingAddress ? strtoupper(localize_number( $shippingAddress->format('html') )) : $this->__('N/A'); ?>
                        </td>
                        <td class="order-number">
                            <strong style="white-space: nowrap">Order #<?php echo $order->getIncrementId(); ?></strong>
                        </td>
                    </tr>
                </table>

                <table class="product-table">
                    <tr>
                        <th style="text-align: left;">Description</th>
                        <th>Quantity</th>
                    </tr>
                    <?php $items = $order->getAllItems(); ?>
                    <?php foreach($items as $item): ?>
                        <tr>
                            <td class="stretch-cell">
                                <?php echo $item->getName(); ?>
                            </td>
                            <td class="shrink-cell"><?php echo (int) $item->getQtyOrdered(); ?></td>
                        </tr>
                    <?php endforeach; ?>
                
                    <tr>
                        <td class="bumper" colspan="2">&nbsp;</td>
                    </tr>

                    <tr>
                        <td class="stretch-cell">&nbsp;</td>
                        <td class="shrink-cell">Total Quantity</td>
                    </tr>
                    <tr>
                        <td class="stretch-cell">&nbsp;</td>
                        <td class="shrink-cell"><?php echo (int) $order->getTotalQtyOrdered(); ?></td>
                    </tr>
                </table>

                <div class="product-care">
                    <em>Chocolate Care</em>
                    <p><em>Please enjoy your chocolates within 10 days.<br />
                        Store your chocolates out of direct sunlight in a cool, dry place<br /> between 54&deg; and 68 &deg;F.</em></p>
                </div>
            </div>

            <!-- gift message + foil -->
            <div class="half-page foil">
                <div class="table-display"><div class="table-row">
                <p class="table-cell" contenteditable="true"><?php

                    $message = $order->getGiftMessage();

                    if(trim($message) == false){
                        $message = 'Enjoy!';
                    }

                    echo $message; ?></p>
                </div></div>
            </div></div></div><?php endforeach; ?></body>
</html>