<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html style="margin: 0; padding: 0;">
<head>
	<title>Print Picking Tickets</title>
	<style type="text/css">
	html{ margin:0; padding:0; }
body {
	margin:0;
	padding:0;
	font-family: Arial,Helvetica,Sans;
	font-size:10pt;
	color:#000000;
}
.contentCont {
	position:relative;
	width:7in;	
	margin: 0;
	padding: 0;
}
.headerTbl {
	position:relative;
	margin:0 auto;
}
.headerTbl td {
	width:33%;
	vertical-align:top;
}
.headerTbl td.middle {
	text-align:center;
	font-size: 12pt;
}
.headerTbl td.right {
	text-align:right;
}
.addrTbl {
	position:relative;
	width: 7in;
	margin: 0;
	margin-top:.25in;
}
.addrTbl td {
	vertical-align:top;
}
.addrTbl td.cont {
	/*width:50%;*/
}
.attribTbl {
	position:relative;
	margin-top:.25in;
	width: 7in;
	border-top:solid 1px #959599;
	border-left:solid 1px #959599;
}
.attribTbl th {
	font-weight:normal;
	font-size: 10pt;
	text-align:center;
	padding:5px;
	border-right:solid 1px #959599;
}
.attribTbl td {
	font-weight:normal;
	font-size:10pt;
	text-align:center;
	padding:2px;
	border-bottom:solid 1px #959599;
	border-right:solid 1px #959599;
}
/* Comments */
.orderComments {
	border:solid 1px #959599;
	margin-top:.25in;
}
.orderComments .comment{
	font-weight:bold;
	text-align:center;
	font-size:11pt;
	margin:.15in;
}

/* Skus and totals */
.skuTbl {
	width:95%;
	margin:.25in auto;
}
.skuTbl th {
	font-weight:normal;
	font-size:10pt;
	text-align:left;
	padding:3px 0 5px 10px;
}
.skuTbl td{
	font-size:12pt;
	padding:3px 0 20px 10px;
	vertical-align: top;
}
.skuTbl .qty {
	width:.75in;
}
.skuTbl td.qty, .skuTbl td.description {
	font-size: 14pt;	
}
.skuTbl .sku {
	width:.75in;
}
.skuTbl .description {
	width:auto;
}
.skuTbl .price {
	width:.75in;
	text-align:right;
	padding-right:10px;
}
.skuTbl .amount {
	width:.75in;
	text-align:right;
	padding-right:10px;
	border-right:0;
}
.skuTbl td.typenclass {
	font-size: 10pt;
}		
.skuTbl tr td.titles{
	text-align:right;
}
.skuTbl tr.altRow td{

}
.skuTbl td.noBg,.skuTbl tr.altRow td.noBg{
	
}
.skuTbl .adminNote {
	font-weight: normal;
	font-size: 12pt !important;
    margin-top: 5px;
}

.packingTbl {
	position:relative;
	width:7.95in;
	margin-top:.25in;
}
.packingTbl th {
	font-weight:normal;
	text-align:left;
	padding:3px 0 3px 10px;
}
.packingTbl .qty {
	width:1in;
}
.packingTbl .description {
	width:auto;
}
.packingTbl td{
	font-size:13.5pt;
	padding-left:10px;
}
.packingTbl td.noBg,.packingTbl tr.altRow td.noBg {
}

.fedexTbl {
	margin: 40px auto;
}
.fedexTbl td {
	font-weight: normal;
}

.shiptoTbl {
	margin-right: 30px;	
}
.billtoTbl {
	margin-left: 30px;	
}

.totalItemsTbl, .icePacksTbl {
	margin-left: 30px;	
}
.totalItemsTbl td, .icePacksTbl td {
	font-size: 12pt;	
}

.icePacksTbl {
    margin-top: 20px;
}
.iceTbl {
	margin-left: 30px;	
}

.sumTblHolder {
	width: 95%;
	margin: 0 auto;
}
.sumTbl {
	width: 100%;	
}
.sumTbl tr {
	padding: 3px;
	margin: 3px;	
}
.sumTbl .amount {
	width:.75in;
	text-align:right;
	padding-right:10px;
}
.sumTbl td.titles{
	text-align:right;
}
.sumTbl td.divider-wrapper {

}
.sumTbl .divider {
	background-color: #000;
	height: 1px;
	padding: 0;
	width: 180px;
	float: right;
}

/* Misc styles */
.emph {
	font-weight:bold;
	font-size:11pt;
}

.tblTitle{
	font-size:12pt;	
}
</style>
</head>

<body style="margin: 0; padding: 0;">

<?php

	$orders = $this->getOrders();
    /** @var GoSolid_Frans_Model_Sales_Order $order */
	foreach($orders as $order): ?>

		<div class="contentCont" style="width: 7.5in; min-height: 10in; margin: 0 .25in 0 .25in; padding-bottom: .35in; box-sizing: border-box;">
			<table cellspacing="0" class="headerTbl" style="padding-top: .2in;">
				<tr>
					<td class="left">
							Salesperson: <?php echo $order->getSalesperson(); ?>
					</td>
					<td class="middle">
						<img src="<?php echo $this->getUrl('*/*/barcode', array('barcode' => $order->getIncrementId(), 'width' => 300, 'height' => 50, 'text' => 0)); ?>"
							width="300" height="50" alt="<?php echo $order->getIncrementId(); ?>">
						<br/>
						<b><?php echo $order->getAccountingLabel() . '_' . $order->getIncrementId(); ?></b>
					</td>
					<td class="right">
						PICKING TICKET
					</td>
				</tr>
					</table>

			<table cellspacing="0" class="addrTbl">
				<tr>
					<td class="cont">
						<table cellspacing="0">
							<tr>
								<td>
									Bill&nbsp;To:
								</td>
								<td>
                                    <?php
                                        echo $order->getBillingAddress()->getName() . '<br />';
                                    ?>
                                    <? if ($poNumber = $order->getPayment()->getPoNumber()): ?>
                                        <br />
                                        PO#: <? echo $poNumber; ?>
                                    <? endif; ?>
                                </td>
							</tr>
							<tr>
								<td>&nbsp;</td>
							</tr>					
						</table>
					</td>
					<td align="right" class="cont">
						<table cellspacing="0">
							<tr>
								<td>
									Ship&nbsp;To:
								</td>
								<td align="left">
                                    <? if (!$order->isPickupAtStore()): ?>
	                                    <?php $shippingAddress = $order->getShippingAddress(); ?>
                                        <?php echo $shippingAddress ? $shippingAddress->format('picking_ticket') : $this->__('N/A'); ?>
                                    <? else: ?>
                                        <strong><? echo $this->__('PICK UP IN STORE'); ?></strong>
                                        <br />
                                        <strong><? echo $order->getShippingMethod(true)->getData('method'); ?></strong>
                                    <? endif; ?>
                                </td>
							</tr>
							<tr>
								<td>&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
			<!-- end address table -->
			</table>
			<table cellspacing="0" class="attribTbl">
				<tr>
					<th>Order Type</th>
					<th>Category</th>
					<th>Order Date</th>
					<th><span class="emph">Ship Date</span></th>
					<th>Terms</th>
					<th>Ice Packs</th>
					<th>Shipping</th>
				</tr>
				<tr>
					<td>SALE</td>
					<td>Regular Sale</td>
					<td><?php echo $this->formatDate($order->getCreatedAtDate(), 'short', true); ?></td>
					<td><span class="emph"><?php echo date('m/d/Y', strtotime($order->getPlannedShipDate())); ?></span></td>
                    <td><?php echo $this->helper('frans')->getTermsDisplay($order->getPayment()); ?></td>
					<td><?php echo $order->getIcePacks(); ?></td>
					<td><?php echo $order->getShippingDescription(); ?></td>
				</tr>
			</table>
			<div class="orderComments">
				<?php if($adminNotes = $order->getAdminNotes()): ?>
					<div class="comment">Admin Notes: <br/><?php echo $this->getMultilineField($adminNotes); ?></div>
				<?php endif; ?>
                <?php if($giftMessage = $order->getGiftMessage()): ?>
                    <div class="comment">Gift Message: <br/><?php echo $giftMessage; ?></div>
                <?php endif; ?>
			</div>
			<table cellspacing="0" class="skuTbl">
				<tr>
					<th class="qty">Qty.</th>
					<th class="description">Description</th>
					<th class="color-tile"><?php echo $this->__('Color Tile') ?></th>
					<th class="sku">Item #</th>
				</tr>
				<?php
					$items = $order->getAllItems();
					foreach($items as $item): ?>
				<tr>
					<td class="qty"><?php echo (int) $item->getQtyOrdered(); ?></td>
					<td class="description"><?php echo $item->getName(); ?>
						<?php if($itemNotes = $item->getNotes()): ?>
                                        <p class="adminNote"><?php echo $this->getMultilineField($itemNotes); ?></p>
                        <?php endif; ?>
                    </td>
					<?php $ct = $item->getProduct()->getAttributeText('color_tile'); ?>
					<td class="color-tile"><?php echo ($item->getProduct()->getAttributeText('color_tile') != "-- None --" ? $item->getProduct()->getAttributeText('color_tile') : "") ?></td>
					<td class="sku"><?php echo ($item->getAccpacSku() != '' ? $item->getAccpacSku() : $item->getSku()); ?></td>
				</tr>
			<?php endforeach; ?>
			</table>

			<table class="totalItemsTbl" >
				<tr>
					<td>Total Items: <?php echo (int) $order->getTotalQtyOrdered(); ?></td>
				</tr>
			</table>

            <table class="icePacksTbl" >
                <tr>
                    <td>Ice Packs: <?php echo (int) $order->getIcePacks(); ?></td>
                </tr>
            </table>

			
		<div  style="width: 100%; font-size: 8pt; position:absolute; bottom:5px;">
			<div style="display: inline; float: left; margin-left: 2em;">Printed <?php echo Mage::helper('core')->formatDate(null, 'medium', true); ?></div>
		</div>
		</div><!--end div contentCont -->

		<?php if(count($orders) > 1): ?>
			<div style="page-break-after: always; line-height: 0;">&nbsp;</div>
		<?php endif; ?>

<?php endforeach; ?>
</body>
</html>