<?php

	$storeName	= Mage::getStoreConfig('general/store_information/name');
    $address1	= Mage::getStoreConfig('shipping/origin/street_line1');
    $address2	= Mage::getStoreConfig('shipping/origin/street_line2');
    $city		= Mage::getStoreConfig('shipping/origin/city') . ','; // add a comma here
    $regionId	= Mage::getStoreConfig('shipping/origin/region_id');
    $regionName	= Mage::getModel('directory/region')->load($regionId)->getCode();
    $postCode	= Mage::getStoreConfig('shipping/origin/postcode');
    
    $address = array();
    
    if($storeName){
    	$address[] = $storeName;
    }
    if($address1){
    	$address[] = $address1;
    }
    if($address2){
    	$address[] = $address2;
    }
    if($city || $regionName || $postCode){
    	$address[] = $city . ' ' . $regionName . ' ' . $postCode;
    }

    $currencyHelper = Mage::getModel('directory/currency');
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html style="margin: 0; padding: 0;">
<head>
	<title>Print Picking Invoices</title>
	<style type="text/css">
	html{ margin:0; padding:0; }
body {
	margin:0;
	padding:0;
	font-family: Arial,Helvetica,Sans;
	font-size:10pt;
	color:#000000;
}
.contentCont {
	position:relative;
	width:7in;	
	margin: 0;
	padding: 0;
}
.headerTbl {
	position:relative;
	margin:0 auto;
}
.headerTbl td {
	width:33%;
	vertical-align:top;
}
.headerTbl td.middle {
	text-align:center;
	font-size: 12pt;
}
.headerTbl td.right {
	text-align:right;
}
.addrTbl {
	position:relative;
	width: 7in;
	margin: 0;
	margin-top:.25in;
}
.addrTbl td {
	vertical-align:top;
}
.addrTbl td.cont {
	/*width:50%;*/
}
.attribTbl {
	position:relative;
	margin-top:.25in;
	width: 7in;
	border-top:solid 1px #959599;
	border-left:solid 1px #959599;
}
.attribTbl th {
	font-weight:normal;
	font-size: 10pt;
	text-align:center;
	padding:5px;
	border-right:solid 1px #959599;
}
.attribTbl td {
	font-weight:normal;
	font-size:10pt;
	text-align:center;
	padding:2px;
	border-bottom:solid 1px #959599;
	border-right:solid 1px #959599;
}
/* Comments */
.orderComments {
	border:solid 1px #959599;
	margin-top:.25in;
}
.orderComments .comment{
	font-weight:bold;
	text-align:center;
	font-size:11pt;
	margin:.15in;
}

/* Skus and totals */
.skuTbl {
	width:95%;
	margin:.25in auto;
}
.skuTbl th {
	font-weight:normal;
	font-size:10pt;
	text-align:left;
	padding:3px 0 5px 10px;
}
.skuTbl td{
	font-size:12pt;
	padding:3px 0 20px 10px;
	vertical-align: top;
}
.skuTbl .qty {
	width:.25in;
}
.skuTbl td {
	font-size: 14pt;	
}
.skuTbl .sku {
	width:.9in;
}
.skuTbl .description {
	width:2in;
}
.skuTbl .price, .skuTbl .amount {
	width:.65in;
	text-align:right;
	border-right:0;
}
.skuTbl  .discount
{
	width:.25in;
}

.skuTbl td.typenclass {
	font-size: 10pt;
}		
.skuTbl tr td.titles{
	text-align:right;
}
.skuTbl tr.altRow td{

}
.skuTbl td.noBg,.skuTbl tr.altRow td.noBg{
	
}
.skuTbl .adminNote {
	font-weight: normal;
	font-size: 12pt !important;
}

.packingTbl {
	position:relative;
	width:7.95in;
	margin-top:.25in;
}
.packingTbl th {
	font-weight:normal;
	text-align:left;
	padding:3px 0 3px 10px;
}
.packingTbl .qty {
	width:1in;
}
.packingTbl .description {
	width:auto;
}
.packingTbl td{
	font-size:13.5pt;
	padding-left:10px;
}
.packingTbl td.noBg,.packingTbl tr.altRow td.noBg {
}

.fedexTbl {
	margin: 40px auto;
}
.fedexTbl td {
	font-weight: normal;
}

.shiptoTbl {
	margin-right: 30px;	
}
.billtoTbl {
	margin-left: 30px;	
}

.totalItemsTbl {
	margin-left: 30px;	
}
.totalItemsTbl td {
	font-size: 12pt;	
}

.giftcard-display {
    white-space: nowrap;
}

.iceTbl {
	margin-left: 30px;	
}

.sumTblHolder {
	width: 95%;
	margin: 0 auto;
}
.sumTbl {
	width: 100%;	
}
.sumTbl tr {
	padding: 3px;
	margin: 3px;	
}
.sumTbl .amount {
	width:.75in;
	text-align:right;
	padding-right:10px;
}
.sumTbl td.titles{
	text-align:right;
}
.sumTbl td.divider-wrapper {

}
.sumTbl .divider {
	background-color: #000;
	height: 1px;
	padding: 0;
	width: 180px;
	float: right;
}
.finalTotalTbl {
	float: right;
	margin-right: 15px;
}
.finalTotalTbl td {
	width: .75in;
	text-align: right;
}
.finalTotalTbl tr.finalTotal {
	line-height: 2em;
	font-weight: bold;
}

/* Tracking number styles */
.trackingNumber {
	text-align: center;
}

.trackingNumber.first {
	margin-top: 2em;
}

.trackingNumber.last {
	margin-bottom: 2em;
}

/* Misc styles */
.emph {
	font-weight:bold;
	font-size:11pt;
}

.tblTitle{
	font-size:12pt;	
}
</style>
</head>

<body style="margin: 0; padding: 0;">

<?php

	$orders = $this->getOrders();
	foreach($orders as $order): ?>

		<div class="contentCont" style="width: 7.5in; min-height: 10in; margin: 0 .25in 0 .25in; padding-bottom: .35in; box-sizing: border-box;">
			<table cellspacing="0" class="headerTbl" style="padding-top: .2in;">
				<tr>
					<td class="left">
						<?php foreach($address as $line): ?>
							<?php echo $line; ?><br />
						<?php endforeach; ?>
						T: <?php echo $this->getStorePhone(); ?>
						<?php if($order->getSalesperson()): ?>
							<br />Salesperson: <?php echo $order->getSalesperson(); ?>
						<?php endif; ?>
					</td>
					<td class="middle">
						<img src="<?php echo $this->getUrl('*/*/barcode', array('barcode' => $order->getIncrementId(), 'width' => 300, 'height' => 50, 'text' => 0)); ?>"
							width="300" height="50" alt="<?php echo $order->getIncrementId(); ?>">
						<br/>
						<b><?php echo $order->getAccountingLabel() . '_' . $order->getIncrementId(); ?></b>
					</td>
					<td class="right">
						INVOICE
					</td>
				</tr>
					</table>

			<table cellspacing="0" class="addrTbl">
				<tr>
					<td class="cont">
						<table cellspacing="0">
							<tr>
								<td>
									Bill&nbsp;To:
								</td>
								<td>
                                    <?php echo $order->getBillingAddress()->format('html'); ?>
                                    <? if ($poNumber = $order->getPayment()->getPoNumber()): ?>
                                        <br />
                                        PO#: <? echo $poNumber; ?>
                                    <? endif; ?>
                                </td>
							</tr>
							<tr>
								<td>&nbsp;</td>
							</tr>					
						</table>
					</td>
					<td align="right" class="cont">
						<table cellspacing="0">
							<tr>
								<td>
									Ship&nbsp;To:
								</td>
								<td align="left">
                                    <? if (!$order->isPickupAtStore()): ?>
	                                    <?php $shippingAddress = $order->getShippingAddress(); ?>
	                                    <?php echo $shippingAddress ? $shippingAddress->format('html') : $this->__('N/A'); ?>
                                    <? else: ?>
                                        <strong><? echo $this->__('PICK UP IN STORE'); ?></strong>
                                        <br />
                                        <strong><? echo $order->getShippingMethod(true)->getData('method'); ?></strong>
                                    <? endif; ?>
                                </td>
							</tr>
							<tr>
								<td>&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
			<!-- end address table -->
			</table>
			<table cellspacing="0" class="attribTbl">
				<tr>
					<th>Order Type</th>
					<th>Category</th>
					<th>Order Date</th>
					<th><span class="emph">Ship Date</span></th>
					<th>Terms</th>
					<th>Ice Packs</th>
					<th>Shipping</th>
				</tr>
				<tr>
					<td>SALE</td>
					<td>Regular Sale</td>
                    <td><?php echo $this->formatDate($order->getCreatedAtDate(), 'short', true); ?></td>
                    <td><span class="emph"><?php echo date('m/d/Y', strtotime($order->getPlannedShipDate())); ?></span></td>
					<td><?php echo $this->helper('frans')->getTermsDisplay($order->getPayment()); ?></td>
					<td><?php echo $order->getIcePacks(); ?></td>
					<td><?php echo $order->getShippingDescription(); ?></td>
				</tr>
			</table>
			<div class="orderComments">
				<?php if($adminNotes = $order->getAdminNotes()): ?>
					<div class="comment">Admin Notes: <br/><?php echo $this->getMultilineField($adminNotes); ?></div>
				<?php endif; ?>
				<?php if($giftMessage = $order->getGiftMessage()): ?>
					<div class="comment">Gift Message: <br/><?php echo $giftMessage; ?></div>
				<?php endif; ?>
			</div>
            <table cellspacing="0" class="skuTbl">
				<tr>
					<th class="qty"><?php echo $this->__('Qty.') ?></th>
					<th class="description"><?php echo $this->__('Description') ?></th>
					<th class="sku"><?php echo $this->__('Item #') ?></th>
					<th class="color-tile"><?php echo $this->__('Color Tile') ?></th>
					<th class="price"><?php echo $this->__('Price') ?></th>
                    <th class="discount"></th>
					<th class="amount"><?php echo $this->__('Amount') ?></th>
				</tr>
				<?php $items = $order->getAllItems(); ?>
                <?php /** @var GoSolid_Frans_Model_Sales_Order_Item $item */ ?>
				<?php foreach($items as $item): ?>
					<tr>
						<td class="qty"><?php echo (int) $item->getQtyOrdered(); ?></td>
						<td class="description"><?php echo $item->getName(); ?>
							<?php if($item->isVirtualGiftCard()): ?>
								<br />#<?php echo $item->getGiftCardNumber(); ?>
							<?php endif; ?>
                            <?php if($item->isGiftCard()): ?>
                                <br /><?php echo $this->__('Amount') . ': ' . $currencyHelper->format($item->getBaseOriginalPrice(), array('display'=>Zend_Currency::NO_SYMBOL), false); ?>
                            <?php endif; ?>
							<?php if($item->getNotes()): ?>
	                        	<p class="adminNote"><?php echo $item->getNotes(); ?></p>
	                        <?php endif; ?>
						</td>
						<td class="sku"><?php echo ($item->getAccpacSku() != '' ? $item->getAccpacSku() : $item->getSku()); ?></td>
						<td class="color-tile"><?php echo ($item->getProduct()->getAttributeText('color_tile') != "-- None --" ? $item->getProduct()->getAttributeText('color_tile') : "") ?></td>
						<td class="price"><?php echo $currencyHelper->format($item->getPrice(), array('display'=>Zend_Currency::NO_SYMBOL), false); ?></td>
	                    <td class="discount"><? echo number_format($item->getDiscountPercent(), 0) . '%'; ?></td>
						<td class="amount"><?php echo $currencyHelper->format($item->getBaseRowTotal() - $item->getBaseDiscountAmount(), array('display'=>Zend_Currency::NO_SYMBOL), false); ?></td>
					</tr>
				<?php endforeach; ?>
			</table>

			<table class="totalItemsTbl" >
				<tr>
					<td>Total Items: <?php echo (int) $order->getTotalQtyOrdered(); ?></td>
				</tr>
			</table>
			
			<?php $trackCollection = $order->getTracksCollection(); ?>
			<?php $trackCounter = 1; // index for the tracking collection loop ?>
			<?php foreach($trackCollection as $track): ?>
				<div class="trackingNumber<?php if($trackCounter == 1) echo ' first'; ?><?php if($trackCounter == $trackCollection->count()) echo ' last'; ?>">
					<?php echo $track->getNumberDetail()->getCarrierTitle();?> Tracking: #<?php echo $track->getNumberDetail()->getTracking();?>
				</div>
				<?php $trackCounter++; ?>
			<?php endforeach; ?>

			<table class="finalTotalTbl">
				<tr>
					<td>Subtotal:</td>
					<td><?php echo $currencyHelper->format($order->getSubtotal()); ?></td>
				</tr>
				<tr>
					<td>Discount:</td>
					<td><?php echo $currencyHelper->format($order->getDiscountAmount()); ?></td>
				</tr>
				<tr>
					<td>Shipping:</td>
					<td><?php echo $currencyHelper->format($order->getShippingAmount()); ?></td>
				</tr>
				<tr>
					<td>Sales Tax:</td>
					<td><?php echo $currencyHelper->format($order->getTaxAmount()); ?></td>
				</tr>
                <? if ($giftcardAmount = $order->getBaseGiftcardInvoicedAmount()): ?>
                    <? $giftcardNumber = $order->getGiftcardNumber(); ?>
                    <tr>
                        <td class="giftcard-display">Gift Card (#<? echo $giftcardNumber; ?>):</td>
                        <td><? echo $currencyHelper->format(- $giftcardAmount); ?></td>
                    </tr>
                <? endif; ?>
				<tr class="finalTotal">
					<td>Total:</td>
					<td><?php echo $currencyHelper->format($order->getGrandTotal()); ?></td>
				</tr>
			</table>

			<div style="clear: both;"></div>
			
		<div  style="width: 100%; font-size: 8pt; position:absolute; bottom:5px;">
			<div style="display: inline; float: left; margin-left: 2em;">Printed <?php echo Mage::helper('core')->formatDate(null, 'medium', true); ?></div>
		</div>
		</div><!--end div contentCont -->

		<?php if(count($orders) > 1): ?>
			<div style="page-break-after: always; line-height: 0;">&nbsp;</div>
		<?php endif; ?>

<?php endforeach; ?>
</body>
</html>