<?php
	$_helper = $this->helper('catalog/output');
	$_galleryImages = $this->getGalleryImages();
	$_product = $this->getProduct();
	$imageSize = array(
		'x' => 520,
		'y' => 350,
	);
?>

<?php if($_galleryImages): ?>

	<ul class="product-image">

		<?php $index = 0; ?>
		<?php foreach($_galleryImages as $image): ?>
			<li id="gallery-image-<?php echo $index; ?>" <?php if($index == 0): ?>class="active"<?php endif; ?> >
				<span class="vertical-fix"></span><img src="<?php echo $this->helper('catalog/image')->init($_product, 'image', $image->getFile())->keepFrame(false)->resize($imageSize['x'], $imageSize['y']) ?>" alt="<?php echo $this->htmlEscape($image->getLabel()) ?>">
			</li>
			<?php $index++; ?>
		<?php endforeach; ?>

	</ul>

	<?php if(count($_galleryImages) > 1): ?>
		<div class="gallery-control gallery-prev" title="<?php echo $this->__('Previous Image'); ?>"><span><?php echo $this->__('Previous Image'); ?></span></div>
		<div class="gallery-control gallery-next" title="<?php echo $this->__('Next Image'); ?>"><span><?php echo $this->__('Next Image'); ?></span></div>
		<div class="gallery-pager">
			<?php $index = 0; ?>
			<?php foreach($_galleryImages as $image): ?>
				<span class="gallery-control <?php if($index == 0): ?>active<?php endif; ?>" data-target-index="<?php echo $index; ?>" title="<?php echo $this->__('Image %s', ($index + 1)); ?>"><?php echo $this->__('Image %s', ($index + 1)); ?></span>
				<?php $index++; ?>
			<?php endforeach; ?>
		</div>
	<?php endif; ?>

<?php endif; ?>