<?php
	// TODO: Use getAttributeRawValue() function to avoid loading full products here
    Mage::log($this->getProduct());
	$product = $this->getProduct()->load();
?>
<div class="tile-content">
	<a href="<?php echo Mage::getBaseUrl() . $product->getRequestPath(); ?>" title="<?php echo $product->getName(); ?>" class="tile-image <?php echo Mage::helper('frans/catalog_category')->getProductImageClass($product); ?>" style="background-image: url('<?php echo $product->getProductSetImageUrl(); ?>');">
		<div class="overlay">
			<h3><?php echo $product->getName(); ?></h3>
			<span class="price"><?php echo Mage::helper('frans')->getCatalogPrices($product); ?></span>
		</div>
	</a>
</div>