<?php
	// TODO: Use getAttributeRawValue() function to avoid loading full products here
	$product = $this->getProduct()->load();
	$imageHelper = $this->helper('frans/image');
?>

<div class="tile-content">
	<a href="<?php echo $product->getProductUrl(); ?>" title="<?php echo $product->getName(); ?>" class="tile-image <?php echo Mage::helper('frans/catalog_category')->getProductImageClass($product); ?>">
		<div class="overlay">
			<div class="tile-details details-left vertical-align product-tile">
				<div class="details-content">
					<h3><?php echo $product->getName(); ?></h3>
					<span class="price"><?php echo Mage::helper('frans')->getCatalogPrices($product); ?></span>
					<div class="accent-divider"></div>
					<p class="product-description"><?php echo $product->getDescription(); ?></p>
				</div>
			</div>
			<img class="image-right" src="<?php echo $product->getProductSetImageUrl(); ?>" />
			<div class="clearfix"></div>
		</div>
	</a>
</div>