<?php
$content = $this->getContent();
$imagePath = array_key_exists('image_path', $content) ? $content['image_path'] : null;
$imageStyle = array_key_exists('image_style', $content) ?  $content['image_style'] : 'light';
$insetBackground = array_key_exists('inset_background', $content) ?  $content['inset_background'] : 'transparent'; // should be a valid CSS background value
$insetHeight = array_key_exists('inset_height', $content) ?  $content['inset_height'] : null; // should be a valid CSS height value, minus 40px for top/bottom margins
$insetWidth = array_key_exists('inset_width', $content) ?  $content['inset_width'] : null; // should be a valid CSS width value
$header = array_key_exists('header', $content) ? $content['header'] : null;
$text = array_key_exists('text', $content) ? $content['text'] : null;
?>

<div class="banner" <?php if($imagePath): ?>style="background-image: url('<?php echo $imagePath; ?>');"<?php endif; ?>>
	<div class="content">
		<div class="inset f-left <?php echo $imageStyle; ?>" style="background: <?php echo $insetBackground; ?>; <?php if($insetWidth): ?>max-width: <?php echo $insetWidth; ?>; width: auto;<?php endif; ?> <?php if($insetHeight): ?>line-height: <?php echo $insetHeight; ?>;<?php endif; ?>">
			<div class="inset-valign-center">
				<?php if($header): ?><h3><?php echo $header; ?></h3><?php endif; ?>
				<?php if($header && $text): ?><div class="accent-divider"></div><?php endif; ?>
				<?php if($text): ?><p><?php echo $text; ?></p><?php endif; ?>
			</div>
		</div>
	</div>
</div>