<?php // This template is used in Fran's checkout success page (receipt) and in the order view modal ?>

<?php
	$storeId = Mage::app()->getStore()->getId();
	$order = $this->getOrder();
	$emailType = $this->getEmailType();
	$isGuest = $order->getCustomerIsGuest();
	$doShowMessagesFirst = ($this->getDoShowMessagesFirst() == true);
	$doShowPriceBeforeQty = ($this->getDoShowPriceBeforeQty() == true);
	$childOrders = $order->getChildOrders();
	$shipmentOrders = $childOrders ? $childOrders : array($order); // we will either loop through many child orders or one standalone one
	$shipmentOrderCount = count($shipmentOrders);
	$trackingBaseUrl = 'http://www.fedex.com/Tracking?action=track&tracknumbers=';
?>

<?php $shipmentNumberIndex = 1; ?>
<?php foreach($shipmentOrders as $shipmentOrder): ?>

	<?php
		$shippingAddress = $shipmentOrder->getShippingAddress();
		$isCanceled = $shipmentOrder->isCanceled();
		$giftMessage = $shipmentOrder->getGiftMessage();
		$specialInstructions = $shipmentOrder->getSpecialInstructions();
		$items = $shipmentOrder->getItemsCollection();
		$shippingMethod = Mage::helper('frans')->maskedShippingMethod($shipmentOrder->getShippingMethod(), $shipmentOrder->getShippingDescription());
	?>

	<?php if($shipmentOrderCount > 1): ?>
		<h3 class="shipment-header">
			<?php echo $this->__('Shipment %s of %d', $shipmentNumberIndex, $shipmentOrderCount); ?>
		</h3>
	<?php endif; ?>
    
	<div class="shipment-summary">
        <?php if($shipmentOrder->getTracksCollection()->getFirstItem()->getTrackNumber()):
            $trackingNumber = $shipmentOrder->getTracksCollection()->getFirstItem()->getTrackNumber(); ?>

            <div class="tracking-number"><?php echo $this->__("Tracking Number: "); ?><a href="<?php echo $trackingBaseUrl . $trackingNumber?>"  target="_blank" title="<?php echo $this->__('Track this shipment.'); ?>"><?php echo "#" . $trackingNumber; ?></a></div>

        <?php endif; ?>

		<div class="content row">

			<div class="column col-xs-12 col-md-3">

				<address>
					<?php if($shippingAddress && !$shipmentOrder->isPickupAtStore()): ?>
						<h4><?php echo $shippingAddress->getFirstname(); ?> <?php echo $shippingAddress->getLastname(); ?></h4>
						<?php if($shippingAddress->hasCompany()): ?>
							<?php echo $shippingAddress->getCompany(); ?><br />
						<?php endif; ?>
						<?php echo nl2br($shippingAddress->getStreetFull()); ?><br />
						<?php echo $shippingAddress->getCity(); ?>, <?php echo $shippingAddress->getRegionCode(); ?> <?php echo $shippingAddress->getPostcode(); ?><br />
						<?php echo Mage::app()->getLocale()->getCountryTranslation($shippingAddress->getCountry()); ?><br />
						<?php echo $shippingAddress->getTelephone(); ?>

					<?php elseif($shipmentOrder->isPickupAtStore()): ?>

						<?php
							$shippingMethod = $order->getShippingMethod(true);
							$retailStore = Mage::getModel("frans/retailStore")->load($shippingMethod["method"], "store_code");
						?>
						<h4><?php echo $this->__('In-Store Pickup'); ?></h4>
						<?php echo $retailStore->getName(); ?><br/>
						<?php echo $retailStore->getAddress1(); ?><br/>
						<?php echo $retailStore->getCity() . ', ' . $retailStore->getRegion() . ' ' . $retailStore->getPostalCode(); ?>

					<?php endif; ?>
				</address>

				<div class="arrival-details">

					<?php if($shipmentOrder->isPickupAtStore()): ?>
						<h4><?php echo $this->__('Preferred Pickup Date'); ?></h4>
						<span><?php echo Mage::helper('frans')->prettyDate($shipmentOrder->getPreferredArrivalDate()); ?></span>
					<?php else: ?>
						<h4><?php echo $this->__('Preferred Arrival Date'); ?></h4>
						<span><?php echo Mage::helper('frans')->prettyDate($shipmentOrder->getPreferredArrivalDate()); ?></span>
						<span><?php echo $this->__('via %s', Mage::helper('frans')->maskedShippingMethod($shipmentOrder->getShippingMethod(), $shipmentOrder->getShippingDescription())); ?></span>
					<?php endif; ?>

				</div>

				<?php if($giftMessage): ?>
					<div class="message-details">
						<h4><?php echo $this->__('Gift Message'); ?></h4>
						<span><?php echo $giftMessage; ?></span>
					</div>
				<?php endif; ?>

				<?php if($specialInstructions): ?>
					<div class="message-details">
						<h4><?php echo $this->__('Special Instructions'); ?></h4>
						<span><?php echo $specialInstructions; ?></span>
					</div>
				<?php endif; ?>

			</div>

			<div class="column col-xs-12 col-md-9">

				<div class="cart-items">
					<div class="row column-headers">
						<div class="col-item"><?php echo $this->__('Item'); ?></div>
						<div class="col-price"><?php echo $this->__('Price'); ?></div>
						<div class="col-qty"><?php echo $this->__('Qty'); ?></div>
						<div class="col-total"><?php echo $this->__('Total'); ?></div>
					</div>
					<div class="row micro-column-headers">
						<div class="col-item"><?php echo $this->__('Items'); ?></div>
					</div>

					<?php $itemIndex = 1; // adding a key in the foreach loop yielded incorrect results, so let's use a manual index ?>
					<?php foreach($items as $item): ?>
						<?php
							$product = $item->getProduct();
							$colorTileLabel = $this->getColorTileLabel($item);
						?>
						<div class="row">
							<div class="col-item">
								<div class="item-thumbnail">
									<a href="<?php echo $product->getProductUrl($item->getConfigurableProductId()); ?>" title="<?php echo $item->getName(); ?>" class="product-image">
										<img src="<?php echo Mage::helper('frans/image')->getImageResizedByProduct($product, 'thumbnail', 75); ?>" alt="<?php echo $item->getName(); ?>">
									</a>
								</div>
								<div class="item-details">
									<?php
									$parentIds = [];
									if($product->getTypeId() == "simple"){
										$parentIds = Mage::getModel('catalog/product_type_grouped')->getParentIdsByChild($product->getId()); // check for grouped product
										if(!$parentIds) {
											$parentIds = Mage::getModel('catalog/product_type_configurable')->getParentIdsByChild($product->getId()); //check for config product
										}
									}
									?>
									<a href="<?php if($item->getConfigurableProductId() != null): echo $product->getProductUrl($item->getConfigurableProductId()); else: echo $product->getProductUrl($parentIds[0]); endif;?>" title="<?php echo $item->getName(); ?>" class="product-image">
										<?php if($colorTileLabel): ?>
											<span class="item-color-tile"><?php echo $colorTileLabel; ?></span>
										<?php endif; ?>
										<?php echo $item->getName(); ?>
									</a>
									<span class="micro-priceqty"><?php echo intval($item->getQtyOrdered()); ?> @ <?php echo Mage::helper('checkout')->formatPrice($item->getPrice(),true,false); ?></span>
									<span class="micro-subtotal"><?php echo Mage::helper('checkout')->formatPrice((intval($item->getQtyOrdered()) * $item->getPrice()),true,false); ?></span>
								</div>
							</div>
							<div class="col-price">
								<div class="price-wrapper">
									<span class="cart-price">
		                                <span class="price"><?php echo Mage::helper('checkout')->formatPrice($item->getPrice(),true,false); ?></span>
									</span>
								</div>
							</div>
							<div class="col-qty">
								<div class="qty-wrapper">
									<span class="cart-qty">
		                                <span class="qty"><?php echo intval($item->getQtyOrdered()); ?></span>
									</span>
								</div>
							</div>
							<div class="col-total">
								<div class="price-wrapper">
									<span class="cart-price">
			                            <span class="price"><?php echo Mage::helper('checkout')->formatPrice((intval($item->getQtyOrdered()) * $item->getPrice()),true,false); ?></span>
									</span>
								</div>
							</div>
						</div>
						<?php $itemIndex++; ?>
					<?php endforeach; ?>

				</div>

				<div class="shipment-total subtotal">
					<div class="total-label"><?php echo $this->__('Subtotal'); ?></div>
					<div class="total-amount"><?php echo Mage::helper('core')->currency($shipmentOrder->getSubtotal(),true,false); ?></div>
				</div>

				<?php if(($discountAmount = $shipmentOrder->getDiscountAmount()) && abs($discountAmount) != 0): ?>
					<?php
						$ruleIds = explode(',', $shipmentOrder->getAppliedRuleIds());
						$discountLabels = array();
						foreach ($ruleIds as $ruleId)
						{
							$rule = Mage::getModel('salesrule/rule')->load($ruleId);
							$label = $rule->getStoreLabel();

							if (empty($label))
							{
								$label = $this->__('Discount');
							}

							$discountLabels[] = $label;
						}
						$discountLabel = implode(',', $discountLabels);
					?>
					<div class="shipment-total discount">
						<div class="total-label"><?php echo $discountLabel; ?></div>
						<div class="total-amount"><?php echo Mage::helper('core')->currency($discountAmount,true,false); ?></div>
					</div>
				<?php endif; ?>

				<div class="shipment-total shipping-method">
					<div class="total-label">
						<?php if($shipmentOrder->isPickupAtStore()): ?>
							<?php echo $this->__('Shipping'); ?>
						<?php else: ?>
							<?php echo $this->__('Shipping (%s)', $shippingMethod); ?>
						<?php endif; ?>
					</div>
					<div class="total-amount"><?php echo Mage::helper('core')->currency($shipmentOrder->getShippingAmount(),true,false); ?></div>
				</div>

				<div class="shipment-total total">
					<div class="total-label"><?php echo $this->__('Shipment total'); ?></div>
					<div class="total-amount"><?php echo Mage::helper('core')->currency(($shipmentOrder->getSubtotalInclTax() + $shipmentOrder->getShippingAmount() + $shipmentOrder->getDiscountAmount()),true,false); ?></div>
				</div>

			</div>
		</div>
	</div>

	<?php $shipmentNumberIndex++; ?>
<?php endforeach; ?>