<?php
	$store = $this->getStore();
	$media = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);
	$hours = $store->getStoreHours();
?>

<div class="frans-container">
	<div class="row">
		<div class="col-lg-4 store-info-column">
			<div class="store-info">
				<h3><?php echo $store->getName(); ?></h3>
				<span class="store-subtitle"><?php echo $store->getSubtitle(); ?></span>
				<span>
					<?php echo $store->getAddress1(); ?>
				</span>
				<?php if($store->getAddress2() != ''): ?>
					<span>
						<?php echo $store->getAddress2(); ?>
					</span>
				<?php endif; ?>
				<span>
					<?php echo $store->getCity(); ?>, <?php echo $store->getRegion(); ?> <?php echo $store->getPostalCode(); ?>
				</span>
				<span>
					<?php echo $store->getPhone(); ?>
				</span>
				<?php if ($store->getMapsUrl()):?>
					<span class="store-directions">
						<a href="<?php echo $store->getMapsUrl();?>" target="_blank"><?php echo $this->__('Driving directions & map'); ?> &gt;</a>
					</span>
				<?php endif;?>
				<div class="store-divider"></div>
				<h4><?php echo $this->__('Store Hours'); ?></h4>
				<?php foreach($hours as $time): ?>
					<div class="row">
						<div class="col-xs-6 hours-label"><?php echo $time['days']; ?></div>
						<div class="col-xs-6 hours-value"><?php echo $time['hours']; ?></div>
					</div>
				<?php endforeach;?>
			</div>
		</div>
		<div class="col-lg-8 store-image-column">
			<img src="<?php echo $media . $store->getStoreImageLarge(); ?>" class="store-image" />
		</div>
	</div>
	<div class="row hidden-xs store-banner">
		<div class="col-xs-12"><img src="<?php echo $media . $store->getStoreImageBanner(); ?>" class="store-image" /></div>
	</div>
</div>

<?php echo $this->getCrosssellHtml(); ?>