<?php
$decemberBlock = Mage::getModel('cms/block')->load('december-alert');

if($decemberBlock->getIsActive()) { ?>

<table cellpadding="0" cellspacing="0" style="background-color: #f8f8f8; text-align: center; color: #666666; line-height: 1.5em; width:100%;"">
	<tr>
		<td height="25" colspan="3" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="<?php echo $this->getSkinUrl('images/email/bg-shippingalert-december.png'); ?>" />
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				<b style="font-size: 13px;"><?php echo $decemberBlock->getTitle()?></b>
			</font>
		</td>
	</tr>
	<tr>
		<td width="125">&nbsp;</td>
		<td>
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				<span style="font-size: 12px;"><?php echo $decemberBlock->getContent()?></span>
			</font>
		</td>
		<td width="125">&nbsp;</td>
	</tr>
	<tr>
		<td height="25" colspan="3" style="line-height: 0;">&nbsp;</td>
	</tr>
</table>
<?php } ?>