<?php /* @var $this GoSolid_Frans_Block_Adminhtml_Sales_Order_View_Info_Shipping */ ?>
<?php
$_order = $this->getOrder();
// we have to wrap the container in if statements otherwise we get nested ones. it's weird/annoying
$showContainer = !$this->getRequest()->isAjax();
?>
<?
if ($showContainer):
?>
<fieldset id="ship_address_display">
<? endif; ?>
    <? if ($validationMessages = $_order->getShippingAddress()->getValidationMessages()): ?>
        <div>
            <ul class="messages">
                <? foreach ($validationMessages as $message): ?>
                    <li class="error-msg"><?= $message; ?></li>
                <? endforeach; ?>
            </ul>
        </div>
    <? endif; ?>
    <address class="ship-address"><?php echo $_order->getShippingAddress()->getFormated(true) ?></address>
    <div class="shipping-score">
        <div>
            <p><label>Fedex Score</label>
            <strong><?php echo $_order->getShippingAddress()->getAddressScore();?></strong><br />
            <?php echo $_order->getShippingAddress()->getAddressScoreDescription(); ?></p>
        </div>
        <?php
            $suggested_address = $_order->getShippingAddress()->getEffectiveAddressHtmlFormatted();
            if($suggested_address): ?>
                <div>
                    <p><label>Suggested Address:</label><br /><?php echo $suggested_address; ?></p>
                </div>
        <?php endif; ?>
        <? if ($validationMessages): ?>
        <? echo $this->getAddressValidationFormHtml(); ?>
        <script type="text/javascript">
            var applyCallback = function() {
                submitAndReloadArea($('ship_address_display'), '<? echo $this->getUpdateAddressUrl(); ?>');
            };
        </script>
        <div>
            <a href="#" onclick="return addressValidation.showValidationOptions(applyCallback)">Show Suggested Address</a>
        </div>
        <? endif; ?>
    </div>
<?
if ($showContainer):
?>
</fieldset>
<? endif; ?>
