<?php
	$checkoutHelper = Mage::helper('frans/checkout_data');
	$imageHelper = Mage::helper('frans/image');
	$resourceModel = Mage::getResourceModel('catalog/product');
	$products = $this->getProducts();
	$label = $this->getLabel();
	$storeId = Mage::app()->getStore()->getId();
?>
<?php if($products->count() > 0): ?>

	<div class="cross-sell">

		<?php if($label != ''): ?>
			<h3><?php echo $label; ?></h3>
		<?php endif; ?>

		<ul>
			<?php foreach($products as $product): ?>

				<li>
					<a href="<?php echo $this->getProductUrl($product); ?>">
						<div class="crosssell-image">
							<img src="<?php echo $imageHelper->getImageResizedByProduct($product, array('small_image', 'thumbnail'), 126, 85); ?>" />
						</div>
						<div class="crosssell-details">
							<p class="name"><?php echo $resourceModel->getAttributeRawValue($product->getId(), 'name', $storeId); ?></p>
							<p class="price"><?php echo $checkoutHelper->formatPrice($resourceModel->getAttributeRawValue($product->getId(), 'price', $storeId)); ?></p>
						</div>
					</a>
					<div class="clearfix"></div>
				</li>

			<?php endforeach; ?>
		</ul>

	</div>

<?php endif; ?>