<?php
/** @var GoSolid_Frans_Block_Adminhtml_Sales_Order_Create_Shipments_Grid_Address $this */
/**
 * Template for the row(s) for an address in the shipment grid
 */
/** @var GoSolid_Frans_Model_Sales_Quote_Address $_address */
$_address = $this->getAddress();
$_items = $_address->getQuote()->getAllItems();
$_addressId = $_address->getId();
$_giftMessage = $_address->getGiftMessage();

// validate that the gift message is 300 chars or fewer
$giftMessageClass = (strlen($_giftMessage) > 300) ? ' validation-failed' : '';

$existingShippingMethod = $_address->getShippingMethod();
?>
<!-- first the display row -->
<tbody id="order-shipment_address_<? echo $_addressId; ?>">
<? if ($this->getEditMode()):
    $_formContainerId = "shipment-address-form-$_addressId";
    $_addressChoiceContainerId = "shipment-address-choice-$_addressId";
    $_fieldsContainerId = "shipment-address-fields-$_addressId";
?>
<tr>
    <td >
        <div class="shipment-address-edit" id="<? echo $_formContainerId; ?>">
            <div id = "<?php echo $_addressChoiceContainerId ?>" class="order-choose-address">
                <?php echo Mage::helper('sales')->__('Select from existing customer addresses:') ?><br/>
                <?php $_id = $this->getForm()->getHtmlIdPrefix() . 'customer_address_id' ?>
                <select id="<?php echo $_id ?>"  name="<?php echo $this->getForm()->getHtmlNamePrefix()?>[customer_address_id]" onchange="order.selectShipmentAddress(this, '<?php echo $_fieldsContainerId ?>')">
                    <option value=""><?php echo Mage::helper('sales')->__('Add New Address') ?></option>
                    <?php foreach ($this->getAddressCollection() as $_customerAddress): ?>
                        <?php //if($this->getAddressAsString($_address)!=$this->getAddressAsString($this->getAddress())): ?>
                        <option value="<?php echo $_customerAddress->getId() ?>"<?php if ($_customerAddress->getId()==$this->getAddressId()): ?> selected="selected"<?php endif; ?>>
                            <?php echo $this->getAddressAsString($_customerAddress) ?>
                        </option>
                        <?php //endif; ?>
                    <?php endforeach; ?>

                </select>
                <br/>
            </div>

            <div id="<?php echo $_fieldsContainerId ?>" class="multiship-address">
                <div class="content">
                    <?php echo $this->getForm()->toHtml() ?>
                </div>
                <div class="content">
                    <div>
                        <div><label for="<?php echo $this->getForm()->getHtmlIdPrefix()?>_gift_message"><? echo $this->__('Gift Message'); ?></label></div>
                        <div>
                            <textarea name="<?php echo $this->getForm()->getHtmlNamePrefix()?>[gift_message]" id="<?php echo $this->getForm()->getHtmlIdPrefix()?>_gift_message" class="soft-maxlength<?php echo $giftMessageClass; ?>"><? echo $_giftMessage; ?></textarea>
                        </div>
                    </div>
                    <div>
                        <div><label for="<?php echo $this->getForm()->getHtmlIdPrefix()?>_special_instructions"><? echo $this->__('Special Instructions'); ?></label></div>
                        <div>
                            <textarea name="<?php echo $this->getForm()->getHtmlNamePrefix()?>[special_instructions]" id="<?php echo $this->getForm()->getHtmlIdPrefix()?>_special_instructions"><? echo $_address->getSpecialInstructions(); ?></textarea>
                        </div>
                    </div>
                </div>
                <div class="order-save-in-address-book">
                    <input name="<?php echo $this->getForm()->getHtmlNamePrefix()?>[save_in_address_book]" type="checkbox" id="<?php echo $this->getForm()->getHtmlIdPrefix()?>save_in_address_book" value="1" <?php if (!$this->getDontSaveInAddressBook() && $this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?>/>
                    <label for="<?php echo $this->getForm()->getHtmlIdPrefix()?>save_in_address_book"><?php echo Mage::helper('sales')->__('Save in address book') ?></label>
                </div>
            </div>
            <script type="text/javascript">
                order.bindShipmentAddressFields('<?php echo $_fieldsContainerId ?>', <? echo $this->getQuoteAddressId(); ?>);
                order.bindShipmentAddressFields('<?php echo $_addressChoiceContainerId ?>', <? echo $this->getQuoteAddressId(); ?>);
            </script>

            <?php $hideElement = 'address-' . ($this->getIsShipping() ? 'shipping' : 'billing') . '-overlay'; ?>
            <div style="display:none;" id="<?php echo $hideElement ?>" class="overlay"><span><?php echo $this->__('Shipping address selection is not applicable') ?></span></div>
        </div>
    </td>
    <? foreach ($_items as $_item):
        $_qty = 0;
        if ($_addressItem = $_address->getItemByQuoteItemId($_item->getId()))
        {
            $_qty = (int) $_addressItem->getQty();
        }
        ?>
        <td>
            <div class="shipment-address-edit">
                <input type="text" name="<? echo $this->getFieldName("[items][{$_item->getId()}][qty]"); ?>" value="<? echo $_qty; ?>" class="qty" />
            </div>
        </td>
    <? endforeach; ?>
    <td width="500px">
        <div id="shipment-method-form-<? echo $this->getQuoteAddressId(); ?>">
            <? echo $this->getShippingMethodHtml(); ?>
        </div>
    </td>
    <td class="a-center shipment-edit-buttons">
        <? if ($this->canEdit()): ?>
            <a href="#" onclick="order.editShipment(<? echo $this->getQuoteAddressId(); ?>); return false;" class="shipment-start-edit shipment-address-display"><? echo $this->__('Edit'); ?></a>
        <? elseif ($this->getEditMode()): ?>
            <a href="#" onclick="order.cancelEditShipment(<? echo $this->getQuoteAddressId(); ?>); return false;" class="shipment-address-edit"><? echo $this->__('Cancel'); ?></a>
        <? endif; ?>
        <? if ($this->canRemove()): ?>
            <a href="#" onclick="order.removeShipment(<? echo $this->getQuoteAddressId(); ?>); return false;" class="shipment-remove"><? echo $this->__('Remove'); ?></a>
        <? endif; ?>

        <script type="text/javascript">
            order.bindShipmentQuantityFields('order-shipment_address_<? echo $_addressId; ?>', <? echo $_addressId; ?>);
        </script>
    </td>
</tr>
<? else: ?>
    <tr class="<?php echo $giftMessageClass; ?>">
        <td class="v-top">
            <div class="shipment-address-display">
                <? echo $this->getAddressDisplayHtml(); ?>
            </div>
            <ul class="f-right inline-list">
                <li class="gift-message-flag" title="<? echo $_giftMessage; ?>"><?php if ($_giftMessage) echo "GM"; ?></li>
                <li title="<? echo $_address->getSpecialInstructions(); ?>"><?php if ($_address->getSpecialInstructions()) echo "SI"; ?></li>
            </ul>
        </td>
        <? foreach ($_items as $_item):
            $_qty = 0;
            if ($_addressItem = $_address->getItemByQuoteItemId($_item->getId()))
            {
                $_qty = (int) $_addressItem->getQty();
            }
            ?>
            <td>
                <? echo $_qty; ?>
            </td>
        <? endforeach; ?>
        <td width="500px">
            <div id="shipment-method-form-<? echo $this->getQuoteAddressId(); ?>">
                <? echo $this->getShippingMethodHtml(); ?>
            </div>
        </td>
        <td class="a-center shipment-edit-buttons">
            <? if ($this->canEdit()): ?>
                <a href="#" onclick="order.editShipment(<? echo $this->getQuoteAddressId(); ?>); return false;" class="shipment-start-edit shipment-address-display"><? echo $this->__('Edit'); ?></a>
                <a href="#" onclick="order.cancelEditShipment(<? echo $this->getQuoteAddressId(); ?>); return false;" class="shipment-address-edit" style="display:none;"><? echo $this->__('Cancel'); ?></a>
            <? endif; ?>
            <? if ($this->canRemove()): ?>
                <a href="#" onclick="order.removeShipment(<? echo $this->getQuoteAddressId(); ?>); return false;" class="shipment-remove"><? echo $this->__('Remove'); ?></a>
            <? endif; ?>

        </td>
    </tr>
<? endif; ?>
</tbody>
<!-- then the edit row-->