@font-face {
    font-family: 'MistletoeScript';
    src: url('@{font-path}mistletoe/MistletoeScript.eot');
    src: url('@{font-path}mistletoe/MistletoeScript.eot?#iefix') format('embedded-opentype'),
        url('@{font-path}mistletoe/MistletoeScript.otf')  format('opentype'), 
        url('@{font-path}mistletoe/MistletoeScript.woff') format('woff'), 
        url('@{font-path}mistletoe/MistletoeScript.ttf')  format('truetype'), 
        url('@{font-path}mistletoe/MistletoeScript.svg#MistletoeScript') format('svg');
    font-weight: normal;
    font-style: normal;
}
