<?
/** @var GoSolid_Frans_Block_Adminhtml_Pickupmanager_Edit_Tab_Form_Actions $this */

	$order = $this->getOrder();

?>
    <!-- show the options to mark it picked up -->
    <? if($this->canSetReadyForPickup()): ?>
        <div class="order-actions-hint">
            <? echo $this->__("An email will be sent to the customer to let them know this order is ready for pickup.") ?>
        </div>

        <button title="<? echo $this->__("Ready for Pickup") ?>" onclick="editForm.submit();" type="button" class="scalable save" style="">
            <span><span><span> <? echo $this->__("Ready for Pickup") ?></span></span></span>
        </button>

        <input type="hidden" name="status_label" value="ready_for_pickup" />

    <? elseif($order->getStatus() == GoSolid_Frans_Model_Sales_Order::STATE_READY_FOR_PICKUP): ?>
	    <div class="order-actions-hint">
		    <? echo $this->__("An email will be sent to the customer to let them know this order has been picked up.") ?>
	    </div>

        <button title="<? echo $this->__("Marked Picked Up") ?>" type="button" onclick="editForm.submit();" class="scalable save" style="">
            <span><span><span><? echo $this->__("Mark Picked Up") ?></span></span></span>
        </button>

        <input type="hidden" id="status_label" name="status_label" value="picked_up" />
        <a class="reset-pickupstatus" href="javascript:void(0)" onclick="jQuery('#status_label').val('processing'); editForm.submit();"><? echo $this->__("Reset to 'Processing' Status") ?></a>
    <? endif; ?>

    <? if($order->getStatus() == GoSolid_Frans_Model_Sales_Order::STATE_PICKED_UP): ?>
        <?
	        $date = $order->getShipDate();
	        $dateFormatted = date("m-d-Y", strtotime($date));
        ?>
        <? echo $this->__("Order picked up:  %s", $dateFormatted ) ?>

        <input type="hidden" id="status_label" name="status_label" value="<?php echo GoSolid_Frans_Model_Sales_Order::STATE_PROCESSING; ?>" />
        <a class="reset-pickupstatus" href="javascript:void(0)" onclick="editForm.submit();"><? echo $this->__("Reset to 'Processing' Status") ?></a>
    <? endif; ?>
