<?php
/**
 * Displays the items in the shipment
 */

// only register if not present.
if (!Mage::registry('current_order'))
{
    Mage::register('current_order', $this->getOrder());
}

$blockTotals = $this->getLayout()->createBlock('frans/adminhtml_sales_order_pickUpTotals')
    ->setParentBlock($this->getParentBlock())
    ->setTemplate('sales/order/totals.phtml');

$blockPayment = $this->getLayout()->createBlock('frans/adminhtml_sales_order_view_billing_method_form')
    ->setParentBlock($this->getParentBlock())
    ->setIsRetailPayment(true)
    ->setTemplate('sales/order/view/billing/method/form.phtml');

$blockActions = $this->getLayout()->createBlock('frans/adminhtml_pickupmanager_edit_tab_form_actions')
    ->setOrder($this->getOrder())
    ->setTemplate('pickupmanager/actions.phtml');

$blockPaymentForm = $this->getLayout()->createBlock('adminhtml/sales_order_payment');

$blockPayment->setChild('order_payment_display', $blockPaymentForm);

?>



<div class="grid np">
    <table cellspacing="0" class="data order-tables">
        <thead>
        <tr class="headings">
            <th><?php echo $this->helper('sales')->__('SKU') ?></th>
            <th><?php echo $this->helper('sales')->__('Product') ?></th>
            <th><?php echo $this->helper('sales')->__('Box/Ribbon color') ?></th>
            <th><?php echo $this->helper('sales')->__('Order Qty') ?></th>
            <th><?php echo $this->helper('sales')->__('Ship Qty') ?></th>
            <th class="last"><?php echo $this->helper('sales')->__('Product Notes') ?></th>
        </tr>
        </thead>
        <tbody>
        <?php $_items = $this->getItemsCollection() ?>
        <?php $i=0;foreach ($_items as $_item):?>
            <?php if ($_item->getParentItem()) continue; else $i++;?>
            <?php $_totalQty = ($_item->getQtyOrdered() - $_item->getQtyCanceled()); ?>
<!--            --><?php //var_dump($_item); ?>
            <tr class="<?php echo $i%2?'even':'odd' ?>">
                <td><?php echo ( $_item->getAccpacSku() == '' ?$_item->getSku(): $_item->getAccpacSku() ); ?></td>
                <td><?php echo $_item->getName(); ?></td>
                <td><?php echo $_item->getProduct()->getAttributeText('color_tile'); ?></td>
                <td><?php echo $_totalQty; ?></td>
                <td><?php echo $_totalQty; ?></td>
                <td width="35%" class="last" >
                    <?php echo $_item->getNotes(); ?>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>


<div class="order-totals">
    <? echo $blockTotals->toHtml(); ?>
</div>

<div class="order-actions">
    <? if($this->getOrder()->getPayment()->getMethod() == GoSolid_Frans_Model_Payment_Method_PayAtPickup::CODE
        && $this->getOrder()->getStatus() =="ready_for_pickup" ): ?>
        <!-- only show the payment form if it was pay at pickup -->
        <? echo $blockPayment->toHtml(); ?>

    <? else: ?>
        <!-- show the actions -->
        <? echo $blockActions->toHtml(); ?>

    <? endif; ?>
</div>