<?php /* @var $this GoSolid_Frans_Block_Adminhtml_Sales_Order_Create_Sidebar_Quote */ ?>
<?php
?>
<div class="create-order-sidebar-block" id="sidebar_data_quotes">
    <div class="head">
        <h5 style="float:none;"><?php echo $this->getHeaderText() ?> <span class="normal">(<?php echo $this->getQuoteCount() ?>)</span></h5>
        <a href="#" title="<?php echo Mage::helper('sales')->__('Refresh') ?>" onclick="order.loadArea('sidebar_<?php echo $this->getDataId() ?>', 'sidebar_data_<?php echo $this->getDataId() ?>');return false;">
            <img src="<?php echo $this->getSkinUrl('images/fam_refresh.gif') ?>" alt="<?php echo Mage::helper('sales')->__('Refresh') ?>" width="16" height="16"/>
        </a>
    </div>
    <div class="content">
        <div class="auto-scroll">
            <?php if($this->getQuoteCount()): ?>
                <table style="width:100%">
                    <col width="30" />
                    <col width="100" />
                    <col />
                    <tr>
                        <th><?php echo Mage::helper('frans')->__('ID') ?></th>
                        <th class="a-center"><?php echo Mage::helper('frans')->__('Last Updated') ?></th>
                        <th class="a-right"><?php echo Mage::helper('frans')->__('Total') ?></th>
                    </tr>
                    <?php foreach ($this->getQuoteCollection() as $_quote): ?>
                        <tr>
                            <td>
                                <a href="<? echo $this->getLoadQuoteUrl($_quote); ?>" title="<? echo $this->__('Load this quote'); ?>"><?php echo $_quote->getId(); ?></a>
                            </td>
                            <td class="a-center">
                                <?php echo $this->formatDate($_quote->getUpdatedAt(), 'short') ?>
                            </td>
                            <td class="a-right"><?php echo $this->convertPrice($_quote->getGrandTotal()); ?></td>
                        </tr>
                    <?php endforeach; ?>
                </table>
            <?php else: ?>
                <p class="center"><?php echo Mage::helper('frans')->__('No saved quotes') ?></p>
            <?php endif ?>
        </div>
    </div>
</div>
