<?php
/**
 * Edit customer address template
 *
 * @see GoSolid_Frans_Block_Customer_Address_Edit
 * @var GoSolid_Frans_Block_Customer_Address_Edit $this
 */

$_formId = $this->getFormId();
$customer = $this->getCustomer();
$primaryBillingAddress = $customer->getPrimaryBillingAddress();
?>

<div id="address<?php if($this->isModal()): ?>-modal<?php endif; ?>" class="email-dob">
    <?php if($this->showTitle() && $this->getTitle()): ?>
        <div class="page-title">
            <h3 class="modal-title"><?php echo $this->getTitle() ?></h3>
        </div>
    <?php endif; ?>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <form action="<?php echo $this->getSaveDobUrl(); ?>" method="post" class="address-save" id="<?php echo $_formId; ?>">

        <?php echo $this->getBlockHtml('formkey')?>
        <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl(); ?>" />
        <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl(); ?>" />
        <input type="hidden" name="field_name_format" value="<?php echo $this->getFieldNameFormat(); ?>" />
        <input type="hidden" name="subscription_dob" value="1" />

        <div class="form-row">
            <div class="col-xs-12">
                <h5 class="email-title"><?php echo $this->__('Receive Fran\'s Notes at:'); ?></h5>
            </div>
        </div>
        <div class="form-row">
            <div class="col-xs-12">
                <input type="text" name="email" id="email" value="<?php echo $customer->getEmail(); ?>" title="Email Address" readonly placeholder="<?php echo $customer->getEmail();?>">
            </div>
        </div>
        <div class="form-row">
            <div class="col-xs-12">
                <p><?php echo $this->__('If you want to change where you receive emails update your sign-in email on your <a href="/customer/account/edit">personal profile</a>.'); ?></p>
            </div>
        </div>
        <div class="form-row">
            <div class="col-xs-12">
                <h5 class="dob-title"><?php echo $this->__('Receive birthday wishes on:'); ?></h5>
            </div>
        </div>
        <div class="form-row">
            <div class="col-xs-12">
                <?php
                $_dob = $this->getLayout()->createBlock('customer/widget_dob');
                echo $_dob->setDate($customer->getDob())->setDobChecker(false)->toHtml();
                ?>
            </div>
        </div>
        <div class="form-row<?php if($this->isModal()): ?> modal-form<?php endif; ?>">
            <div class="col-xs-12">
                <button type="submit" title="<?php echo $this->__('Update'); ?>" class="btn button-dark"><span><span><?php echo $this->getSubmitButtonLabel(); ?></span></span></button>
            </div>
        </div>
   </form>
</div>

<script type="text/javascript">
    //<![CDATA[
    var addressForm = new VarienForm('<?php echo $_formId; ?>', true);
    //]]>
        jQuery('#simplemodal-container').css('background-color','#fff');
</script>