<?php
/**
 * Frans
 */
?>
<?php
/**
 * Edit customer address template
 *
 * @see GoSolid_Frans_Block_Customer_Address_Edit
 * @var GoSolid_Frans_Block_Customer_Address_Edit $this
 */
$_invalidFields = $this->getInvalidFields();
$_validationHelper = $this->helper('addressValidation');
$_routeName = Mage::app()->getFrontController()->getRequest()->getRouteName();
$_isMultiShipping = Mage::getModel('checkout/cart')->getQuote()->getData()['is_multi_shipping'];
$_isDefaultMailing = $this->getIsDefaultMailing();

$_formId = $this->getFormId();
if($this->hasIsTelephoneRequired() && $this->getIsTelephoneRequired()){
	$telephoneClass = 'required-entry';
} else {
	$telephoneClass = '';
}
?>
<?php

$addressData = $this->getAddress()->getData();
$isPoBox = false;


//setting session information to port to the modal since we are deleting the address in order to not save anything to the quote
if(Mage::getSingleton('customer/session')->isLoggedIn()){
	if(Mage::getSingleton('customer/session')->getData('pobox') == 1){
		$tempAddress = Mage::getSingleton('customer/session')->getData('temp_address');
		Mage::getSingleton('customer/session')->unsetData('temp_address');
		$tempAddressLines = $tempAddress['street'];
		if(strstr($tempAddress['street'], PHP_EOL)) {
			$tempAddressLines = explode("\n", $tempAddress['street']);
		}

		$isPoBox = true;

	} elseif(is_array($addressData['street'])){
		if($_validationHelper->isPoBox($addressData['street'][0])){
			$isPoBox = true;
		}
		$addressFirstName = $addressData['firstname'];
		$addressLastName = $addressData['lastname'];
	}  else {

		$addressStreetArray = explode(PHP_EOL, $addressData['street']);
		if($_validationHelper->isPoBox($addressStreetArray[0])) {
			$isPoBox = true;
			$addressFirstName = $addressData['firstname'];
			$addressLastName = $addressData['lastname'];
		}
	}
} else {
	if(Mage::getSingleton('core/session')->getData('pobox') == 1){
		$tempAddress = Mage::getSingleton('core/session')->getData('temp_address');
		Mage::getSingleton('core/session')->unsetData('temp_address');
		$tempAddressLines = $tempAddress['street'];
		if(strstr($tempAddress['street'], PHP_EOL)) {
			$tempAddressLines = explode("\n", $tempAddress['street']);
		}

		$isPoBox = true;

	} elseif(is_array($addressData['street'])){
		if($_validationHelper->isPoBox($addressData['street'][0])){
			$isPoBox = true;
		}
		$addressFirstName = $addressData['firstname'];
		$addressLastName = $addressData['lastname'];
	}  else {

		$addressStreetArray = explode(PHP_EOL, $addressData['street']);
		if($_validationHelper->isPoBox($addressStreetArray[0])) {
			$isPoBox = true;
			$addressFirstName = $addressData['firstname'];
			$addressLastName = $addressData['lastname'];
		}

	}
}
if(is_null($_score) || $isPoBox){
	$_validationHelper->resetErrorCount();
}

?>
<div id="address<?php if($this->isModal()): ?>-modal<?php endif; ?>">
	<?php if($this->showTitle() && $this->getTitle()): ?>
		<div class="page-title">
			<h3 class="modal-title">
				<?php echo $this->getTitle() ?>
			</h3>
		</div>
	<?php endif; ?>
	<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
	<form action="<?php echo $this->getSaveUrl(); ?>" method="post" class="address-save" id="<?php echo $_formId; ?>">

		<?php echo $this->getBlockHtml('formkey')?>
		<input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl(); ?>" />
		<input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl(); ?>" />
		<input type="hidden" name="field_name_format" value="<?php echo $this->getFieldNameFormat(); ?>" />
		<input type="hidden" name="address_id" value="<?php echo $this->getAddressId(); ?>" />
		<input type="hidden" name="use_suggested" value="true" />

		<?php if($_isDefaultMailing): ?>
			<input type="hidden" name="default_mailing" value="1" />
		<?php endif; ?>



		<input type="hidden" name="original_customer_address_id" value="<?php echo $this->getOriginalCustomerAddressId(); ?>" />
		<?php if(is_numeric($_score) && $_score > 0): ?>
			<input type="hidden" name="suggested_address" value="<?php echo $addressData['customer_address_id']; ?>" />
		<?php endif; ?>

		<?php
		if($this->showCustomerAddresses()):
			$customerAddresses = $this->getCustomerAddresses();
			?>
			<div class="form-row">
				<div class="col-xs-12">
					<h5><?php echo $this->__('Send to a saved address:'); ?></h5>
				</div>
			</div>
			<div class="form-row">
				<div class="col-xs-12">
					<select name="customer_address_id" id="customer_address_id" class="select-customer-address">
						<option value='' disabled selected><?php echo $this->__('Select a recipient'); ?></option>
						<?php foreach ($customerAddresses as $customerAddress): ?>
							<?php $selected = false; ?>
							<?php if($customerAddress->getId() == $this->getAddress()->getCustomerAddressId())
							{
								$selected = true;
							}
							?>
							<option <?php if($selected == true) { echo "selected"; } ?>  data-fields="<?php echo $this->htmlescape($this->getAddressAttributesJson($customerAddress)); ?>" value='<?php echo $customerAddress->getId(); ?>'><?php echo $customerAddress->getName(); ?></option>
						<?php endforeach; ?>
						<option value=''><?php echo $this->__('New recipient'); ?></option>
					</select>
				</div>
			</div>

			<div class="form-row">
				<div class="col-xs-12">
					<div class="divider-with-text"><span><?php echo $this->__('or'); ?></span></div>
				</div>
			</div>

		<?php endif; ?>


		<?php if($this->getAddress()->getIsValid() != true): ?>
			<div class="form-row" id="addressValidationMessage">
				<div class="col-xs-12">
					<div class="validation-advice text-center">
						<?php echo $this->getAddress()->getValidationMessage(); ?>
					</div>
				</div>
			</div>
		<?php endif; ?>

		<div class="form-row">
			<?php if(!$this->getAddress()->getId()): ?>
				<?php if(!$this->getAddress()->getData('firstname')): ?>
					<?php echo $this->getNameBlockHtml("add-new"); ?>
				<?php else: ?>
					<?php echo $this->getNameBlockHtml(); ?>
				<?php endif; ?>
			<?php else: ?>
				<?php echo $this->getNameBlockHtml(); ?>
			<?php endif; ?>
		</div>

		<div class="form-row">
			<div class="col-xs-12">
				<input placeholder="<?php echo $this->__('Business name'); ?>" type="text" name="<?php echo $this->getFieldName('company'); ?>" id="company" title="<?php echo $this->__('Business name') ?>" value="<?php if($tempAddress): echo $tempAddress['company']; else: echo $this->escapeHtml($this->getAddress()->getCompany()); endif; ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" />
			</div>
		</div>

		<?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
		<?php for($_i = 1, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
			<div class="form-row">
				<div class="col-xs-12">
					<input placeholder="<?php echo $this->__('Address line %s', $_i); ?> <?php if($_i == 1): ?>(we are unable to ship to a PO box)<?php endif; ?>" type="text" name="<?php echo $this->getFieldName('street') . '[]'; ?>"
						   value="<?php if($tempAddress && $_i == 1): if(is_array($tempAddressLines) && $tempAddressLines[0]): echo $tempAddressLines[0]; elseif(is_string($tempAddressLines) && $tempAddressLines[0]): echo $tempAddressLines; else: echo $tempAddress['street'];  endif; elseif($tempAddress && $_i == 2): if(is_array($tempAddressLines) && $tempAddressLines[1]): echo $tempAddressLines[1];  ;endif; else: echo $this->escapeHtml($this->getAddress()->getStreet($_i)); endif; ?>"
						   title="<?php echo $this->__('Street Address %s', $_i) ?>" id="street_<?php echo $_i ?>" class="street-entry input-text<?php echo $_streetValidationClass ?>" />
				</div>
			</div>
			<?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); // putting here so only the first line is a required field ?>
		<?php endfor; ?>

		<div class="form-row">
			<div class="col-xs-4">
				<input placeholder="<?php echo $this->__('City'); ?>" type="text" name="<?php echo $this->getFieldName('city'); ?>" value="<?php if($tempAddress): echo $tempAddress['city']; else: echo $this->escapeHtml($this->getAddress()->getCity()); endif; ?>"  title="<?php echo $this->__('City') ?>" class="input-text<?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="city" />
			</div>
			<div class="col-xs-4">
				<select id="region_id" name="<?php echo $this->getFieldName('region_id'); ?>" title="<?php echo $this->__('State') ?>" class="validate-select modal-state" style="display:none;">
					<option value="" disabled selected><?php echo $this->__('State') ?></option>
				</select>
				<input  placeholder="<?php echo $this->__('State'); ?>" type="text" id="<?php echo $this->getFieldName('region') ?>" name="<?php echo $this->getFieldName('region'); ?>" value="<?php if($tempAddress): echo $tempAddress['region_id']; else: echo $this->escapeHtml($this->getAddress()->getRegion()); endif; ?>"  title="<?php echo $this->__('State') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>" style="display:none;" />
			</div>
			<div class="col-xs-4">
				<input placeholder="<?php echo $this->__('ZIP'); ?>" type="text" name="<?php echo $this->getFieldName('postcode'); ?>" value="<?php if($tempAddress): echo $tempAddress['postcode']; else: echo $this->escapeHtml($this->getAddress()->getPostcode()); endif; ?>" title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" />
			</div>
		</div>

		<div class="form-row">
			<div class="col-xs-12">
				<?php echo $this->getCountryHtmlSelect($this->getCountryId(), $this->getFieldName('country_id')); ?>
			</div>
		</div>

		<div class="form-row">
			<div class="col-xs-12">
				<input placeholder="<?php echo $this->__('Telephone'); ?>" type="text" name="<?php echo $this->getFieldName('telephone'); ?>" value="<?php if($tempAddress): echo $tempAddress['telephone']; else: echo $this->escapeHtml($this->getAddress()->getTelephone()); endif; ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?> <?php echo $telephoneClass; ?>" id="telephone" />
			</div>
		</div>
		<?php if($this->showDob()): ?>
			<?php
			$_dob = $this->getLayout()->createBlock('customer/widget_dob');
			echo $_dob->setDate($this->getAddress()->getDob())->toHtml();
			?>
		<?php endif; ?>

		<?php if($this->getAddressType() == "billing"): ?>
			<input type="hidden" id="primary_billing" name="default_billing" value="1" class="checkbox" checked="checked"/>
			<input type="hidden" name="default_billing" value="1" />
		<?php elseif($this->getAddressType() == "shipping"): ?>

			<input type="hidden" name="default_shipping" value="0" />

		<?php endif; ?>

		<div class="form-row<?php if($this->isModal()): ?> modal-form<?php endif; ?>">
			<div class="col-xs-12">

				<button type="submit" title="<?php echo $this->__('Save Address'); ?>" class="btn button-dark"><span><span><?php echo $this->getSubmitButtonLabel(); ?></span></span></button>

				<!-- if there is no address id yet, this is a new address, let the user cancel -->
				<? if($this->isModal() == true): ?>

					<? if($this->getAddress()->getId() == null): ?>
						<a  title="<?php echo $this->__('Cancel'); ?>" class="btn btn-link modal-form close-modal " style="padding-left: 0px; padding-right: 0px;"><?php echo $this->__('Cancel'); ?></a>


					<? elseif($this->getAddress()->getId() != null && $this->getAddress()->getIsValid() != true && $this->showRemoveButton() == false && $_isDefaultMailing != true): ?>
						<!-- in this case, the address has been added to the quote, but it is invalid so cancel should remove -->
						<a onclick="addressDeleteAction('<?php echo $this->getUrl('customer/address/delete', array('id'=> $this->getAddress()->getId(),'ajax' => true, 'type' => $this->getAddressType())); ?>'); return false;"  href='<?php echo $this->getRemoveUrl(); ?>' title="<?php echo $this->__('Cancel'); ?>" class="btn btn-link modal-form remove-address" style='padding-left: 0px;'><?php echo $this->__('Cancel'); ?></a>

					<? else: ?>
						<?php if($this->showDeleteButton()): ?>
							<?php if(!$this->isDefaultBilling() && $this->getAddress()->getId()): ?>
								<button onclick="addressDeleteAction('<?php echo $this->getUrl('customer/address/delete', array('id'=> $this->getAddress()->getId(),'ajax' => true, 'type' => $this->getAddressType())); ?>')" type="button" title="<?php echo $this->__('Delete Address'); ?>" class="btn btn-link modal-form"><span><span><?php echo $this->__('Delete'); ?></span></span></button>
							<?php endif;?>
						<?php endif; ?>
					<? endif; ?>

				<? endif; ?>




				<?php if($this->showRemoveButton()): ?>
					<a href='<?php echo $this->getRemoveUrl(); ?>' title="<?php echo $this->__('Remove from order'); ?>" class="btn btn-link modal-form remove-address"><?php echo $this->__('Remove from order'); ?></a>
				<?php endif; ?>

			</div>
		</div>
	</form>


	<?php if($this->getAddress()->getSuggestAddress() == true): ?>

		<?php
		$proposedAddress = json_decode($this->getAddress()->getProposedAddress());
		$proposedRegion = Mage::getModel('directory/region')->loadByCode($proposedAddress->Address->StateOrProvinceCode, $proposedAddress->Address->CountryCode);

		?>

		<div class="sr-only" id="addressValidationModal">
			<form
				<?php if($_isMultiShipping && ($_routeName != 'customer')): ?>
					action="<?php echo $this->addAddressMultishipChoiceUrl(); ?>" method="post"
				<?php elseif($_routeName == 'customer'): ?>
					action="<?php echo $this->addAddressCustomerChoiceUrl(); ?>" method="post"
				<?php endif ?>
				id="addressSelectionForm<?php if($_isMultiShipping && $_routeName != 'customer'): ?>-multiship<?php elseif($_routeName == 'customer'): ?>-customer<?php else: ?>-singleship<?php endif; ?>" data-associated-form-id="<?php echo $_formId; ?>">
				<input type="hidden" name="address_id" value="<?php echo $this->getAddressId(); ?>" />
				<input type="hidden" name="original_customer_address_id" value="<?php echo $this->getOriginalCustomerAddressId(); ?>" />
				<input type="hidden" name="new_customer_address_id" value="<?php echo $this->getNewCustomerAddressId(); ?>" />
				<?php if($_routeName != 'customer'): ?>
					<h2><?php echo $this->__('Confirm Shipping Address'); ?></h2>
				<?php else: ?>
					<h2><?php echo $this->__('Confirm Address'); ?></h2>
				<?php endif;?>
				<p><?php echo $this->__("We'd like to recommend a standardized version of this address. Please review and confirm our"); ?> <span class="validation-suggestion"><?php echo $this->__('suggested changes'); ?></span>.</p>
				<ul>
					<li>
						<label>
							<?php $originalStreetOneLine = ''; ?>
							<?php $originalStreetMultiLine = ''; ?>
							<?php for($_i = 1, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
								<?php $originalStreetOneLine .= $this->getAddress()->getStreet($_i) ? $this->escapeHtml($this->getAddress()->getStreet($_i)) . ', ' : ''; ?>
								<?php $originalStreetMultiLine .= $this->getAddress()->getStreet($_i) ? $this->escapeHtml($this->getAddress()->getStreet($_i)) . PHP_EOL : ''; ?>
							<?php endfor; ?>
							<?php if((!$_isMultiShipping) && ($_routeName != 'customer')): ?>
								<?php
								$fieldData = array(
									'city' => $this->getAddress()->getCity(),
									'country_id' => $this->getCountryId(),
									'region_id' => $this->getAddress()->getRegionId(),
									'region' => $this->getAddress()->getRegionCode(),
									'postcode' => $this->getAddress()->getPostcode(),
									'street' => $originalStreetMultiLine,
									'use_suggested' => false
								);
								?>
							<?php endif; ?>
							<input type="radio" name="address_choice" value="original" <?php if((!$_isMultiShipping) && ($_routeName != 'customer')): ?>data-fields="<?= htmlspecialchars(json_encode($fieldData)); ?>"<?php endif; ?> />
							<?php if(($_isMultiShipping) || ($_routeName == 'customer')): ?>
								<input type="hidden" name="address[original][street]" value="<?php echo $originalStreetMultiLine; ?>" />
								<input type="hidden" name="address[original][city]" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()); ?>" />
								<input type="hidden" name="address[original][country_id]" value="<?php echo $this->getCountryId(); ?>" />
								<input type="hidden" name="address[original][region_id]" value="<?php echo  $this->getAddress()->getRegionId(); ?>" />
								<input type="hidden" name="address[original][region]" value="<?php echo $this->getAddress()->getRegionCode(); ?>" />
								<input type="hidden" name="address[original][postcode]" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>" />
							<?php endif; ?>

							<h3><?php echo $this->__('Entered Address:'); ?></h3>
							<p>
								<?php echo $originalStreetOneLine; ?>
								<?php echo $this->escapeHtml($this->getAddress()->getCity()); ?>,
								<?php echo $this->getAddress()->getRegionCode(); ?>
								<?php echo $this->escapeHtml($this->getAddress()->getPostcode()); ?>,
								<?php echo $this->getCountryId(); ?>
							</p>
						</label>
					</li>
					<li>
						<label>
							<?php $street1 = $this->getAddress()->getStreet(1); ?>
							<?php $street2 = $this->getAddress()->getStreet(2); ?>
							<?php
							$parsedAddress = Mage::helper('addressValidation')->getParsedAddress($proposedAddress, false);
							$addressLine1 = implode(' ', $parsedAddress['street_1']);
							$addressLine2 = implode(' ', $parsedAddress['street_2']);
							?>

							<?php if((!$_isMultiShipping) && ($_routeName != 'customer')): ?>
								<?php
								$fullStreet = $this->escapeHtml($addressLine1) . (!empty($parsedAddress['street_2']) ? '\n' . $addressLine2 : '\n'. $street2);
								$fieldData = array(
									'city' => $proposedAddress->Address->City,
									'country_id' => $proposedAddress->Address->CountryCode,
									'region_id' => $proposedRegion->getId(),
									'region' => $proposedRegion->getName(),
									'postcode' => $proposedAddress->Address->PostalCode,
									'street' => $fullStreet,
									'use_suggested' => true
								);

								$fieldData = htmlspecialchars(json_encode($fieldData));
								$fieldData = str_replace('\\\n', '\\n', $fieldData);
								?>
							<?php endif; ?>

							<input type="radio" name="address_choice" value="suggested" checked <?php if((!$_isMultiShipping) && ($_routeName != 'customer')): ?>data-fields="<?= $fieldData; ?>"<?php endif; ?> />
							<?php if(($_isMultiShipping) || ($_routeName == 'customer')): ?>
								<input type="hidden" name="address[suggested][street1]" value="<?php echo $this->escapeHtml($addressLine1); ?>" />
								<input type="hidden" name="address[suggested][street2]" value="<?php echo !empty($parsedAddress['street_2']) ? $addressLine2 : $street2; ?>" />
								<input type="hidden" name="address[suggested][city]" value="<?php echo $this->escapeHtml($proposedAddress->Address->City); ?>" />
								<input type="hidden" name="address[suggested][country_id]" value="<?php echo $this->escapeHtml($proposedAddress->Address->CountryCode); ?>" />
								<input type="hidden" name="address[suggested][region_id]" value="<?php echo  $proposedRegion->getId(); ?>" />
								<input type="hidden" name="address[suggested][region]" value="<?php echo $proposedRegion->getName(); ?>" />
								<input type="hidden" name="address[suggested][postcode]" value="<?php echo $this->escapeHtml($proposedAddress->Address->PostalCode); ?>" />
							<?php endif; ?>
							<h3>Suggested Address:</h3>
							<p>

								<?php $className = in_array('street_1', $_invalidFields) ? 'validation-suggestion' : ''; ?>

								<?php if(strtolower($this->escapeHtml($addressLine1)) == strtolower($this->escapeHtml($street1))): ?>
									<span>
                                        <?php echo $this->escapeHtml($street1); ?><span class="suggest-address-comma">,</span>
                                    </span>
								<?php else: ?>
									<span class="<?php echo $className; ?>">
                                        <?php echo $this->escapeHtml($addressLine1); ?><span class="suggest-address-comma">,</span>
                                    </span>
								<?php endif; ?>

								<?php if($street2): ?>
									<?php $className = in_array('street_2', $_invalidFields) ? 'validation-suggestion' : ''; ?>
									<span class="<?php echo $className; ?>">
                                        <?php if(!empty($parsedAddress['street_2'])): ?>
											<?php if(strtolower($this->escapeHtml($addressLine2)) == strtolower($this->escapeHtml($street2))): ?>
												<?php echo $this->escapeHtml($street2); ?><span class="suggest-address-comma">,</span>
											<?php else: ?>
												<?php echo $this->escapeHtml($addressLine2); ?><span class="suggest-address-comma">,</span>
											<?php endif; ?>
										<?php else: ?>
											<?php echo $this->escapeHtml($street2); ?><span class="suggest-address-comma">,</span>
										<?php endif; ?>
                                    </span>
								<?php endif; ?>
								<?php $className = in_array('city', $_invalidFields) ? 'validation-suggestion' : ''; ?>
								<span class="<?php echo $className; ?>">
                                    <?php echo $this->escapeHtml($proposedAddress->Address->City); ?><span class="suggest-address-comma">,</span>
                                </span>
								<?php $className = in_array('region_id', $_invalidFields) ? 'validation-suggestion' : ''; ?>
								<span class="<?php echo $className; ?>">
                                    <?php echo $this->escapeHtml($proposedAddress->Address->StateOrProvinceCode); ?><span class="suggest-address-comma">,</span>
                                </span>
								<?php $className = in_array('zip', $_invalidFields) ? 'validation-suggestion' : ''; ?>
								<span class="<?php echo $className; ?>">
                                    <?php echo $this->escapeHtml($proposedAddress->Address->PostalCode); ?><span class="suggest-address-comma">,</span>
                                </span>
								<?php $className = in_array('country', $_invalidFields) ? 'validation-suggestion' : ''; ?>
								<span class="<?php echo $className; ?>">
                                    <?php echo $this->escapeHtml($proposedAddress->Address->CountryCode); ?>
                                </span>

							</p>
						</label>
					</li>
				</ul>
				<?php if($_isMultiShipping && $_routeName != 'customer'): ?>
					<button type="button" title="<?php echo $this->__('Edit This Address'); ?>" name="suggested-edit" class="button plain back left btn-continue" id="suggestedAddressEdit-multiship">
                    <span>
                        <span id="suggestAddressFullText"><?php echo $this->__('Edit This Address'); ?></span>
                        <span id="suggestAddressReduceText"><?php echo $this->__('Edit'); ?></span>
                    </span>
					</button>
					<button type="submit" title="<?php echo $this->__('Use This Address'); ?>" name="suggested-submit" class="button button-dark f-right"><span><span><?php echo $this->__('Use This Address'); ?></span></span></button>
				<?php elseif($_routeName == 'customer'): ?>
					<button type="button" title="<?php echo $this->__('Edit This Address'); ?>" name="suggested-edit" class="button plain back left btn-continue" id="suggestedAddressEdit-customer">
                    <span>
                        <span id="suggestAddressFullText"><?php echo $this->__('Edit This Address'); ?></span>
                        <span id="suggestAddressReduceText"><?php echo $this->__('Edit'); ?></span>
                    </span>
					</button>
					<button type="submit" title="<?php echo $this->__('Use This Address'); ?>" name="suggested-submit" class="button button-dark f-right"><span><span><?php echo $this->__('Use This Address'); ?></span></span></button>
				<?php else: ?>
					<button type="button" title="<?php echo $this->__('Edit This Address'); ?>" class="button plain back left btn-continue" id="suggestedAddressEdit-singleship">
                    <span>
                        <span id="suggestAddressFullText"><?php echo $this->__('Edit This Address'); ?></span>
                        <span id="suggestAddressReduceText"><?php echo $this->__('Edit'); ?></span>
                    </span>
					</button>
					<button type="submit" title="<?php echo $this->__('Use This Address'); ?>"  class="button button-dark f-right"><span><span><?php echo $this->__('Use This Address'); ?></span></span></button>
				<?php endif; ?>
			</form>
		</div>

		<script type="text/javascript">
			showModal(jQuery('#addressValidationModal').html(), {
				containerCss: {
					backgroundColor: '#ffffff'
				}
			});
			// remove the modal source HTML from the DOM
			jQuery('#addressValidationModal').html('');
			// select the suggested address by default
			jQuery('#addressSelectionForm-singleship').trigger('change');
		</script>

	<?php endif; ?>

</>
<script type="text/javascript">
	//<![CDATA[
	var addressForm = new VarienForm('<?php echo $_formId; ?>', true);
	var addressUpdater = new RegionUpdater('country', '<?php echo $this->getFieldName('region'); ?>', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
	Validation.add('validate-zip','Required.',function(the_field_value){

		if(the_field_value.strip().length == 0)
		{
			return false;
		}
		return true;
	});

	<?php if(is_array($_invalidFields) && $this->getAddress()->getIsValid() != true): ?>
	<?php foreach($_invalidFields as $field): ?>
		jQuery('#<?php echo $field; ?>').addClass('validation-failed');
	<?php endforeach; ?>
	<?php endif; ?>

	//]]>
</script>