<?php /* @var $this Mage_Catalog_Block_Product_View_Abstract */
	$_product = $this->getProduct();
	$_helper = $this->helper('catalog/output');
	$pieceCounts = array_key_exists('piece_count', $this->_attributes) ? $this->_attributes['piece_count']['options'] : array();
	$colorTiles = array_key_exists('color_tile', $this->_attributes) ? $this->_attributes['color_tile']['options'] : array();

	usort($colorTiles, function($a, $b) {
	return $a['position'] - $b['position'];
	});

	$this->array_sort($colorTiles, 'label', SORT_ASC);
?>

<div class="row product-basics">
	<?php if(count($pieceCounts) > 0): ?>

		<div class="col-xs-8 col-md-5">
			<?php if(count($pieceCounts) > 1): ?>

				<select name="piece_count">
					<?php foreach($pieceCounts as $option): ?>
						<option value="<?php echo $option['id']; ?>" <?php if($this->isProductIdInOption($option)): ?>selected<?php endif; ?>>
							<?php echo $option['label']; ?> &#8212; <span class="price"><?php echo $this->getOptionPriceText($option); ?></span>
						</option>
					<?php endforeach; ?>
				</select>

			<?php else: // count($pieceCounts) == 1, so display the one option as text rather than a select ?>

				<?php echo $pieceCounts[0]['label']; ?> &#8212; <span class="price"><?php echo $this->getOptionPriceText($pieceCounts[0]); ?></span>

			<?php endif; ?>
		</div>

	<?php elseif(count($colorTiles) > 0): // count($pieceCounts) == 0, so display price from the first color tile option as text ?>

		<div class="col-xs-4 col-md-3">
			<span class="price"><?php echo $this->getOptionPriceText($colorTiles[0]); ?></span>
		</div>

	<?php else: // count($pieceCounts) and count($colorTiles) both == 0, so just show nothing here ?>

	<?php endif; ?>

	<div class="col-xs-4 col-md-3">
		<input type="number" title="<?php echo $this->__('Qty') ?>" pattern="[0-9]*" inputmode="numeric" min="1" step="1" class="input-text qty" maxlength="12" name="qty" placeholder="<?php echo $this->__('Qty'); ?>" />
	</div>

</div>

<?php if(count($colorTiles) > 0): ?>
	<div class="color-tiles">
		<h4><?php echo $this->__('Box and Ribbon Colors'); ?></h4>
		<div class="color-tile-wrapper">
			<?php foreach($colorTiles as $option): ?>
				<label title="<?php echo $option['label']; ?>" style="display: none; background-image: url('<?php echo $option['image_url']; ?>');" <?php if($this->isProductIdInOption($option)): ?>class="checked"<?php endif; ?>>
					<?php echo $option['label']; ?>
					<input type="radio" name="color_tile" value="<?php echo $option['id']; ?>" <?php if($this->isProductIdInOption($option)): ?>checked="checked"<?php endif; ?> />
				</label>
			<?php endforeach; ?>
		</div>
	</div>
<?php endif; ?>

<script id="attribute-data" type="application/json">
	<?php echo $this->getJsonAttributes(); // make attributes available to client as JSON for DOM manipulation ?>
</script>