<?php /** @var GoSolid_Frans_Block_Adminhtml_Sales_Order_Create_Shipping_Method_Form $this */ ?>
<? $showAddressValidation = $this->getShowAddressValidation(); ?>
<? if ($showAddressValidation): ?>
    <?= $this->getAddressValidationFormHtml(); ?>
    <? if ($this->getQuote()->getIsMultiShipping()): ?>
        <script type="text/javascript">
            var reloadShippingCallback = function(newData) {
                newData['order[use_validated_address]'] = true;
                newData['collect_shipping_rates'] = 1;
                newData['edit_address_id'] = <? echo $this->getAddress()->getId(); ?>;
                newData['order[shipping_address_id]'] = <? echo $this->getAddress()->getId(); ?>;

                order.loadArea(['shipments', 'totals'], true, params);
            };
            addressValidation.showValidationOptions(reloadShippingCallback);
        </script>
    <? else: ?>
        <script type="text/javascript">
            var reloadShippingCallback = function(newData) {
                newData['order[use_validated_address]'] = true;
                newData['order[shipping_address_id]'] = <? echo $this->getAddress()->getId(); ?>;
                order.loadArea(['shipping_method', 'shipping_address', 'totals'], true, newData, true);
            };
            var loadShippingRatesCallback = function() {
                if(getProperty('order-shipping_address', 'done') && getProperty('order-billing_address', 'done')){
                    order.loadShippingRates();
                }
            };
            addressValidation.showValidationOptions(reloadShippingCallback, loadShippingRatesCallback);
        </script>
    <? endif; ?>
<? endif; ?><?php if ($this->showShippingOptions()): ?>
    <? if (($this->getShowEdit() || !$this->getIsMultiShipment()) || !$this->getUserSelectedMethod()): ?>
    <div id="<? echo $this->getHtmlFieldId('reset_rates'); ?>" style="display:none;" class="shipment-address-edit hide">
        <a href="#" onclick="order.loadShipmentShippingRates(<? echo $this->getAddress()->getId(); ?>);return false;">
            <?php echo Mage::helper('sales')->__('Get shipping methods and rates') ?>
        </a>
    </div>
    <div id="<? echo $this->getHtmlFieldId('order-shipping-method-dates'); ?>" <? if ($this->getUserSelectedMethod() && !$this->getShowEdit()) echo "style='display:none;'"; ?> class="shipment-address-edit">
        <div id="<? echo $this->getHtmlFieldId('order-shipping-method'); ?>" class="order-shipping-col">
            <h5 class='title'><? echo $this->__('Shipping Method'); ?></h5>
            <ul>
                <? $selectedCode = $this->getSelectedMethodCode(); ?>
                <? foreach ($this->getShippingRateOptions() as $shippingRateOption): ?>
                    <?
                    $code = $shippingRateOption->getCode();
                    $id = $this->getHtmlFieldId("method_$code");
                    $calculatedArrivalDate = $this->calculateArrivalDate($shippingRateOption->getCode());
                    $price = $shippingRateOption->getPrice();
                    $formattedPrice = $this->formatPrice($price);
                    ?>
                    <li>
                        <input type='radio' name="<? echo $this->getHtmlFieldName('shipping_method') ?>" id="<? echo $id; ?>" value="<? echo $code; ?>" onclick="order.setShippingDatesAndPrices(this);" data-price="<? echo $formattedPrice; ?>" data-id-prefix="<? echo $this->getHtmlIdPrefix(); ?>"  <? if ($selectedCode == $shippingRateOption->getCode()) echo "checked='checked'"; ?>/>
                        <label for="<? echo $id; ?>">
                            <? echo $shippingRateOption->getCarrierTitle() . ' - ' . $shippingRateOption->getMethodTitle() . $calculatedArrivalDate; ?> (<? echo Mage::helper('core')->formatPrice($shippingRateOption->getPrice(), false); ?>)
                        </label>
                    </li>
                <? endforeach; ?>
            </ul>
        </div>
        <div id="<? echo $this->getHtmlFieldId('order-shipping-date'); ?>" class="order-shipping-col">
            <h5 class='title'><? echo $this->__('Dates / Price'); ?></h5>
            <div>
                <div>
                    <label for="<? echo $this->getHtmlFieldId('preferred_arrival_date'); ?>"><? echo $this->__('Preferred Arrival Date'); ?></label>
                </div>
                <div>
                    <? echo $this->getDateFieldHtml('preferred_arrival_date', $this->getPreferredArrivalDate(true)); ?>
                </div>
            </div>
            <div>
                <div>
                    <label for="<? echo $this->getHtmlFieldId('planned_ship_date'); ?>"><? echo $this->__('Planned Ship Date'); ?></label>
                </div>
                <div>
                    <? echo $this->getDateFieldHtml('planned_ship_date', $this->getPlannedShipDate()); ?>
                </div>
            </div>
            <div>
                <div>
                    <label for="<? echo $this->getHtmlFieldId('base_shipping_amount_adjusted'); ?>"><? echo $this->__('Price'); ?></label>
                </div>
                <div>
                    <!-- To track the current shipping amount -->
                    <input type="hidden" id="<? echo $this->getHtmlFieldId('current_shipping_amount'); ?>" disabled='disabled' value="<? echo $this->getAddress()->getBaseShippingAmount(); ?>" />
                    <input type="text" name="<? echo $this->getHtmlFieldName('base_shipping_amount_adjusted'); ?>" id="<? echo $this->getHtmlFieldId('base_shipping_amount_adjusted'); ?>" size="15" value="<? echo $this->formatPrice($this->getSelectedPrice()); ?>" />
                </div>
            </div>
	        <div class="clear"></div>
	        <div>
		        <? echo $this->getSaveButtonHtml(); ?>
	        </div>
        </div>
    </div>
    <? endif; ?>
    <?php if (($_rate = $this->getActiveMethodRate()) && !$this->getShowEdit()): ?>
        <div id="<? echo $this->getHtmlFieldId('order-shipping-method-info'); ?>">
            <strong><?php echo $this->escapeHtml($this->getCarrierName($_rate->getCarrier())) ?></strong><br/>
            <?php echo $this->escapeHtml($_rate->getMethodTitle() ? $_rate->getMethodTitle() : $_rate->getMethodDescription()) ?> -
            <strong>
                <?php $_excl = $this->getShippingPrice($this->getAddress()->getBaseShippingAmount(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                <?php $_incl = $this->getShippingPrice($this->getAddress()->getBaseShippingAmount(), true); ?>

                <?php echo $_excl; ?>
                <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                    (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                <?php endif; ?>
            </strong>
            <!--input type="text" class="input-text" style="width:70px"/-->
            <br/>
            <strong><? echo $this->__('Preferred Arrival Date: '); ?></strong>
            <? echo $this->getPreferredArrivalDate(true); ?>
            <br />
            <? if (!$this->getIsMultiShipment()): ?>
                <a href="#" onclick="$('<? echo $this->getHtmlFieldId('order-shipping-method-info'); ?>').hide();$('<? echo $this->getHtmlFieldId('order-shipping-method-dates'); ?>').show();return false">
                    <?php echo Mage::helper('sales')->__('Click to change shipping method') ?>
                </a>
            <? endif; ?>
        </div>
    <?php endif; ?>
    <div class='clear'></div>
<?php elseif($this->getIsRateRequest()): ?>
    <strong><?php echo Mage::helper('sales')->__("No quotes are available for this order at this time. This may be caused by a missing shipping or billing address, or because the items in the order don't qualify for shipping.") ?></strong>
<?php elseif ($this->getIsMultiShipment()): ?>
    <div id="<? echo $this->getHtmlFieldId('shipping_method'); ?>">
        <a href="#" onclick="order.loadShipmentShippingRates(<? echo $this->getAddress()->getId(); ?>);return false;">
            <?php echo Mage::helper('sales')->__('Get shipping methods and rates') ?>
        </a>
        <input type="hidden" name="shipment[has_shipping]" value="" class="required-entry" />
	    <script type="text/javascript">
		    undo('order-shipments');
	    </script>
    </div>
<?php else: ?>
    <div id="<? echo $this->getHtmlFieldId('order-shipping-method-summary'); ?>">
        <a href="#" onclick="order.loadShippingRates();return false">
            <?php echo Mage::helper('sales')->__('Get shipping methods and rates') ?>
        </a>
        <input type="hidden" name="order[has_shipping]" value="" class="required-entry" />
    </div>
    <? if (!$showAddressValidation): ?>
	<script type="text/javascript">
		if(getProperty('order-shipping_address', 'done') && getProperty('order-billing_address', 'done')){
			order.loadShippingRates();
		}
	</script>
    <? endif; ?>
<?php endif; ?>
<? if (!$this->getIsMultiShipment()): ?>
<div style="display:none;" id="shipping-method-overlay" class="overlay"><span><?php echo $this->__('Shipping method selection is not applicable') ?></span></div>
<script type="text/javascript">
order.overlay('shipping-method-overlay', <?php if ($this->getQuote()->isVirtual()): ?>false<?php else: ?>true<?php endif; ?>);
order.overlay('address-shipping-overlay', <?php if ($this->getQuote()->isVirtual()): ?>false<?php else: ?>true<?php endif; ?>);
</script>
<? endif; ?>
