<?php
    $attributes = $this->getAttributes();
    $other = $this->getOtherConditions();
    $categories = $this->getCategories();
?>
<div id="condition_row" class="condition-select-row">
    <input type="hidden" name="advanced[:value_order][condition][type][]" value="<?php 
        print Amasty_Feed_Model_Filter::$_TYPE_OTHER
    ?>"/>
    <select name="advanced[:value_order][condition][attribute][]" id="change_condition" class="select">
        <optgroup label="<?php print $this->__('Attributes');?>">
            <?php foreach($attributes as $code => $label){ ?>
            <option data-type="<?php print Amasty_Feed_Model_Filter::$_TYPE_ATTRIBUTE;?>" value="<?php print $code?>"><?php 
                print $this->htmlEscape($label);
            ?></option>
            <?php }?>
        </optgroup>

        <optgroup label="<?php print $this->__('Other');?>">
            <?php foreach($other as $code => $label){ ?>
            <option <?php
                print $this->_otherCondition && $this->_otherCondition == $code ?
                        "selected" :
                        "";
            ?> data-type="<?php print Amasty_Feed_Model_Filter::$_TYPE_OTHER;?>" value="<?php print $code?>"><?php 
                print $this->htmlEscape($label);
            ?></option>
            <?php }?>
        </optgroup>
    </select>
    <select id="condition_operator" name="advanced[:value_order][condition][operator][]" class="select select-operator">
        <option value="eq">equal</option>
        <option value="neq">not equal</option>
    </select>
    <select id="condition_value" name="advanced[:value_order][condition][value][]" class="select">
        <?php foreach($categories as $id => $val){?>
            <option value="<?php print $id;?>"><?php print $val;?></option>
        <?php }?>
    </select>
    <button id="delete_condition" type="button" class="scalable delete" style=""><span><span><span></span></span></span></button>
</div>