<?php
    $attributes = $this->getAttributes();
    $conditions = $this->getConditions();
    
    $other = $this->getOtherConditions();
?>
<div id="condition_row" class="condition-default-row">
    <input type="hidden" name="advanced[:value_order][condition][type][]" value="<?php 
        print Amasty_Feed_Model_Filter::$_TYPE_ATTRIBUTE
    ?>"/>
    <select name="advanced[:value_order][condition][attribute][]" id="change_condition" class="select">
        <optgroup label="<?php print $this->__('Attributes');?>">
        <?php foreach($attributes as $code => $title) { ?>
             <option <?php
                print $this->_attribute && $code == $this->_attribute->getAttributeCode() ? 
                        "selected" :
                        "";
                 ?> value="<?php print $code?>" data-type="<?php print Amasty_Feed_Model_Filter::$_TYPE_ATTRIBUTE;?>"><?php 
                print $this->htmlEscape($title);
            ?></option>
        <?php } ?>
        </optgroup>   
             
        <optgroup label="<?php print $this->__('Other');?>">
            <?php foreach($other as $code => $label){ ?>
            <option <?php
                print $this->_otherCondition && $this->_otherCondition == $code ?
                        "selected" :
                        "";
            ?> data-type="<?php print Amasty_Feed_Model_Filter::$_TYPE_OTHER;?>" value="<?php print $code?>"><?php 
                print $this->htmlEscape($label);
            ?></option>
            <?php }?>
        </optgroup>
    </select>
    <select id="condition_operator" name="advanced[:value_order][condition][operator][]" class="select select-operator">
        <?php foreach($conditions as $code => $title){?>
            <option value="<?php print $code?>"><?php 
                print $this->htmlEscape($title);
            ?></option>
        <?php }?>
    </select>
    <input id="condition_value" name="advanced[:value_order][condition][value][]" class="input-text" type="text"/>
    <button id="delete_condition" type="button" class="scalable delete" style=""><span><span><span></span></span></span></button>
</div>
