<?php
	$stores = Mage::getModel('frans/retailStore')->getActiveFrontendStores();
	$media = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);
	$counter = 0;
?>

<?php foreach ($stores as $store):?>
<?php $counter++; ?>
<?php $hours = $store->getStoreHours(); ?>
<div id="retail">
	<div class="<?php echo ($counter%2 == 0) ? 'EvenWrapper xmasColorsEven' : 'OddWrapper xmasColorsOdd'?>">
		<div class="<?php echo ($counter%2 == 0) ? 'EvenProduct' : 'OddProduct'?>">
			<div class="PListImgBox">
				<img src="<?php echo $media. $store->getStoreImage();?>" class="BorderedImage" alt="<?php echo $store->getName();?>">
			</div>
			<ul clas ="info">
				<li>
					<b><?php echo $store->getName();?></b>
					<?php if ($store->getSubtitle()):?>
						<p><?php echo $store->getSubtitle();?></p>
					<?php endif;?>
				</li>
				<li>
					<?php echo $store->getAddress1();?>
				</li>
				<?php if($store->getAddress2() != ''): ?>
					<li>
						<?php echo $store->getAddress2();?>
					</li>
				<?php endif; ?>
				<li>
					<?php echo $store->getCity();?>, <?php echo $store->getRegion();?> <?php echo $store->getPostalCode();?>
				</li>
				<li>
					<?php echo $store->getPhone();?>
				</li>
				<?php if ($store->getMapsUrl()):?>
					<li><a href="<?php echo $store->getMapsUrl();?>" target="_blank">Map</a></li>
				<?php endif;?>
				<li class="store-hours">
					<b><?php echo $this->__('Store Hours'); ?>:</b>
				</li>
				<li>
					<ul clas ="list">
						<table class="store-hours-table">
	                        <tbody>
								<?php foreach($hours as $time): ?>
									<tr>
										<td class="days"><?php echo $time['days']; ?></td>
										<td><?php echo $time['hours']; ?></td>
									</tr>
								<?php endforeach;?>
							</tbody>
	                    </table>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<?php endforeach;?>
