<div class="backdrop">
	<div class="col-xs-12">
		<div class="business-accounts-header">
			<div class="header-content">
				<div class="section-text">
					<h1 class="page-title"><?php echo $this->__('Business Accounts'); ?></h1>
					<p><?php echo $this->__('Beautiful, elegant and delicious, our gifts are the sweetest way to say "thank you" to your clients and customers, employees and dedicated vendors.'); ?></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="frans-container">

	<div class="row">
		<div class="business-accounts-section section-browse">
			<div class="section-wrapper">
			<img src="<?php echo $this->getSkinUrl('images/business-accounts-browse.jpg'); ?>" />
				<div class="section-text">
					<h2><?php echo $this->__('The Very Best'); ?></h2>
					<p><?php echo $this->__("From unique leather and lacquer gift boxes and bowls to our award-winning chocolates inside, a gift from Fran’s is a gift that will always be treasured and remembered."); ?></p>
					<a href="<?php echo $this->getUrl('gifts/business-gifts'); ?>" class="button button-dark" title="<?php echo $this->__('Browse Business Gifts'); ?>"><?php echo $this->__('Browse Business Gifts'); ?></a>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="business-accounts-section section-largeorders">
			<div class="section-wrapper">
				<img src="<?php echo $this->getSkinUrl('images/business-accounts-largeorders.jpg'); ?>" />
				<div class="section-text">
					<h2><?php echo $this->__('Large Orders, Simplified'); ?></h2>
					<p><?php echo $this->__("We are experts at handling complex shipping needs simply and efficiently, whether you are sending all your gifts to one location or to many different addresses."); ?></p>
					<a href="#" class="modal-link largeorders-modal-link" title="<?php echo $this->__('Learn More'); ?>"><?php echo $this->__('Learn More'); ?></a>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="business-accounts-section section-quote">
			<div class="section-wrapper">
				<img src="<?php echo $this->getSkinUrl('images/business-accounts-gift-box-grand-bronze-champagne.png'); ?>" />
				<div class="section-text">
					<h2><?php echo $this->__('Need a Quote?'); ?></h2>
					<p><?php echo $this->__("Based on the information you share on our order form, we will create a quote for you. Upon approval, we will place your order and create your business account for easy ordering in the future."); ?></p>
					<p><?php echo $this->__("Call us at 844.435.1192 or"); ?> <a href="mailto:gifting@frans.com"><?php echo $this->__('email us'); ?></a> <?php echo $this->__("any time to receive a quote or answers to questions."); ?></p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="business-accounts-section section-customize">
			<div class="section-wrapper">
				<div class="section-text">
					<h2><?php echo $this->__('Customize Your Gifts'); ?></h2>
					<p><?php echo $this->__("Fran's gifts reflect your business beautifully. The following customized options are yours at no additional charge:"); ?></p>
				</div>
				<img class="hidden-md hidden-lg" src="<?php echo $this->getSkinUrl('images/business-accounts-customize.jpg'); ?>" />
				<img class="visible-md visible-lg" src="<?php echo $this->getSkinUrl('images/business-accounts-customize-diagram.jpg'); ?>" />
				<ul class="custom-features section-text">
					<li class="feature-message">
						<h3><?php echo $this->__('Custom Gift Message'); ?></h3>
						<p><?php echo $this->__('Use our beautiful ivory gift enclosures and envelopes, to include a personalized message to each gift recipient.'); ?></p>
					</li>
					<li class="feature-ribbon">
						<h3><?php echo $this->__('Ribbon Color'); ?></h3>
						<p><?php echo $this->__('We offer satin ribbons in a rich variety of colors. Personalize your box with the right color for your company. Please allow up to 4 weeks for your custom colors.'); ?></p>
					</li>
					<li class="feature-tags">
						<h3><?php echo $this->__('Hang Tags'); ?></h3>
						<p><?php echo $this->__("Provide us with your logo hang tags, and we'll hand-tie them to each box."); ?></p>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row three-cols">
		<div class="business-accounts-section section-futureship">
			<div class="section-wrapper">
				<img src="<?php echo $this->getSkinUrl('images/business-accounts-futureship.jpg'); ?>" />
				<div class="section-text">
					<h2><?php echo $this->__('Order Now, Ship Later'); ?></h2>
					<p><?php echo $this->__("Place your order whenever it is convenient for you, and we'll ship it later with our freshest chocolates. To ensure we have enough time to hand-make and hand-pack your order, please allow up to 14 days for orders shipping in November and December."); ?></p>
					<a href="#" class="modal-link rates-modal-link" title="<?php echo $this->__('View Shipping Rates'); ?>"><?php echo $this->__('View Shipping Rates'); ?></a>
				</div>
			</div>
		</div>
		<div class="business-accounts-section section-volumediscounts">
			<div class="section-wrapper">
				<img src="<?php echo $this->getSkinUrl('images/business-accounts-duo-grand-bronze-champagne.png'); ?>" />
				<div class="section-text">
					<h2><?php echo $this->__('Delightful Savings'); ?></h2>
					<p><?php echo $this->__("Order more and save more. Volume discounts apply to orders placed January 1 through November 20. Please note that discounts are not available in December."); ?></p>
					<a href="#" class="modal-link savings-modal-link" title="<?php echo $this->__('View Discount Rates'); ?>"><?php echo $this->__('View Discount Rates'); ?></a>
				</div>
			</div>
		</div>
		<div class="business-accounts-section section-productcare">
			<div class="section-wrapper">
				<img src="<?php echo $this->getSkinUrl('images/business-accounts-productcare.jpg'); ?>" />
				<div class="section-text">
					<h2><?php echo $this->__('Product Care'); ?></h2>
					<p><?php echo $this->__("Our chocolates are made fresh with the finest ingredients, including local, organic cream and butter. To fully appreciate their quality, please enjoy our truffles within 10 days, and our caramels and nuts within 4 weeks of delivery. Store in a cool, dry place at 64&deg;- 68&deg; F."); ?></p>
				</div>
			</div>
		</div>
	</div>

	<div class="ready-to-order">
		<h2><?php echo $this->__('Ready to Order?'); ?></h2>
		<p><?php echo $this->__("We are honored to handle your business gifting needs. Call us at 844.435.1192 to place your order or to"); ?> <a href="<?php echo rtrim($this->getUrl('customer/account/login?business=1'), '/'); ?>" title="<?php echo $this->__('Create an account'); ?>"><?php echo $this->__('open a business account'); ?></a> <?php echo $this->__("that lets you enjoy faster checkout, automatic volume discounts when eligible, and simple shipping to multiple addresses."); ?></p>
	</div>

	<div id="largeorders-popup">
		<h3><?php echo $this->__('How We Can Help'); ?></h3>
		<p><?php echo $this->__('Choose from two easy ways to manage large orders:'); ?></p>
		<ul>
			<li class="largeorders-modal-column">
				<img src="<?php echo $this->getSkinUrl('images/business-accounts-letushandle.png'); ?>" />
				<h4><?php echo $this->__('Let Us Handle It'); ?></h4>
				<p><?php echo $this->__("Call or "); ?> <a href="mailto:gifting@frans.com"><?php echo $this->__('email us'); ?></a>, <?php echo $this->__("and one of our business gifting specialists will work with you to place your order for you. After your order is placed we will create a business account with your address book so future orders are a breeze."); ?></p>
				<p><?php echo $this->__("844.435.1192"); ?></p>
			</li>
			<li class="largeorders-modal-column">
				<img src="<?php echo $this->getSkinUrl('images/business-accounts-multishiptool.png'); ?>" />
				<h4><?php echo $this->__('Use Our Multi-Ship Tool'); ?></h4>
				<p><?php echo $this->__("If you prefer to place your order yourself, our interactive tool makes it easy.  Start by"); ?> <a href="<?php echo $this->getUrl('customer/account'); ?>" title="<?php echo $this->__('Create an account'); ?>"><?php echo $this->__('creating an account'); ?></a> <?php echo $this->__("and saving your addresses in your account. When you are ready to order simply log-in, add products to your cart then select the option to send to multiple addresses during checkout."); ?></p>
			</li>
		</ul>
	</div>

	<div id="rates-popup">
		<h3><?php echo $this->__('Shipping Rates Per Address'); ?></h3>
		<table>
			<tbody>
				<tr>
					<td class="cell-left"><?php echo $this->__('Purchase Amount'); ?></td>
					<td class="cell-right"><?php echo $this->__('2-Day Shipping'); ?></td>
				</tr>
				<tr>
					<td class="cell-left"><?php echo $this->__('$0 - $35'); ?></td>
					<td class="cell-right"><?php echo $this->__('$14'); ?></td>
				</tr>
				<tr>
					<td class="cell-left"><?php echo $this->__('$35.01 - $65'); ?></td>
					<td class="cell-right"><?php echo $this->__('$16'); ?></td>
				</tr>
				<tr>
					<td class="cell-left"><?php echo $this->__('$65.01 - $120'); ?></td>
					<td class="cell-right"><?php echo $this->__('$20'); ?></td>
				</tr>
				<tr>
					<td class="cell-left"><?php echo $this->__('$120.01 - $220'); ?></td>
					<td class="cell-right"><?php echo $this->__('$25'); ?></td>
				</tr>
				<tr>
					<td class="cell-left"><?php echo $this->__('$220.01 - $300'); ?></td>
					<td class="cell-right"><?php echo $this->__('$30'); ?></td>
				</tr>
				<tr>
					<td class="cell-left"><?php echo $this->__('$300.01 - $600'); ?></td>
					<td class="cell-right"><?php echo $this->__('$40'); ?></td>
				</tr>
				<tr>
					<td class="cell-left"><?php echo $this->__('$600.01 - $1000'); ?></td>
					<td class="cell-right"><?php echo $this->__('$65'); ?></td>
				</tr>
				<tr>
					<td class="cell-left"><?php echo $this->__('$1000.01 +'); ?></td>
					<td class="cell-right"><?php echo $this->__('$100'); ?></td>
				</tr>
			</tbody>
		</table>
		<p class="disclaimers">
			<strong><?php echo $this->__('$10 flat-rate shipping to WA, OR, ID and CA. Add $10 for overnight shipping.'); ?></strong><br />
			<?php echo $this->__('All shipments to Alaska and Hawaii require an additional $15 charge for delivery.'); ?><br />
			<?php echo $this->__('Shipping rates apply to each address.'); ?><br />
			<?php echo $this->__('International shipping available; please call us at 206.322.0233 for details.'); ?><br />
			<?php echo $this->__('Shipping rates may vary for gift bowls and trays; please call us at 844.435.1192 for details.'); ?>
		</p>
	</div>

	<div id="savings-popup">
		<h3><?php echo $this->__('Large Order Savings'); ?></h3>
		<p><?php echo $this->__('Discounts are available from January 1 through November 20.'); ?><br /><?php echo $this->__('Please note: Discounts do not apply to shipping charges.'); ?></p>
		<table>
			<thead>
				<tr>
					<td><?php echo $this->__('5% Off'); ?></td>
					<td><?php echo $this->__('10% Off'); ?></td>
					<td><?php echo $this->__('15% Off'); ?></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><?php echo $this->__('$600 - $1500'); ?></td>
					<td><?php echo $this->__('$1501 - $3000'); ?></td>
					<td><?php echo $this->__('$3001 +'); ?></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>

<script type="text/javascript">

	var modalContainerCss =  {
		position: 'absolute',
		backgroundColor: '#ffffff',
		border: '1px solid #c7c7c7',
		padding: '30px',
		overflow: 'visible',
		marginBottom: '20px',
		textAlign: 'center',
		width: '95%',
		maxWidth: 960
	};

	function showLargeOrdersPopup(event){
		event.preventDefault();
		showModal(jQuery('#largeorders-popup').html(), { containerCss: modalContainerCss });
	}

	function showRatesPopup(event){
		event.preventDefault();
		showModal(jQuery('#rates-popup').html(), { containerCss: modalContainerCss });
	}

	function showSavingsPopup(event){
		event.preventDefault();
		showModal(jQuery('#savings-popup').html(), { containerCss: modalContainerCss });
	}

	jQuery(document).ready(function(){
		var body = jQuery('body');
		body.on('click', '.largeorders-modal-link', showLargeOrdersPopup);
	});

	jQuery(document).ready(function(){
		var body = jQuery('body');
		body.on('click', '.rates-modal-link', showRatesPopup);
	});

	jQuery(document).ready(function(){
		var body = jQuery('body');
		body.on('click', '.savings-modal-link', showSavingsPopup);
	});

</script>