<!--@subject We Have An Update To Your Order Refund@-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var creditmemo.increment_id":"Credit Memo Id",
"var order.increment_id":"Order Id",
"var order.billing_address.format('html')":"Billing Address",
"payment_html":"Payment Details",
"var order.shipping_address.format('html')":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"layout handle=\"sales_email_order_creditmemo_items\" creditmemo=$creditmemo order=$order":"Credit Memo Items Grid",
"var comment":"Credit Memo Comment"}
@-->

<table cellpadding="0" cellspacing="0" width="650" align="center" style="color: #909090;">
	<tr>
		<td height="30" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td>
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				<h1 style="color: #777777; font-size: 1.3em; margin: 0; letter-spacing: 0.03em;">ORDER REFUND UPDATE</h1>
			</font>
		</td>
	</tr>
	<tr>
		<td style="line-height: 1.5em;">
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				{{var comment}}
			</font>
		</td>
	</tr>
	<tr>
		<td height="10" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td>
			{{var order_summary}}
		</td>
	</tr>
	<tr>
		<td height="10" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td>
			{{var contact_details}}
		</td>
	</tr>
	<tr>
		<td height="30" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td style="line-height: 1.5em;">
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				<i>&ndash; Our very best from all of us at Fran's Chocolates &ndash;</i>
			</font>
		</td>
	</tr>
	<tr>
		<td height="30" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
</table>