<!--@subject Fran's Order #{{var order.increment_id}} Confirmation@-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Number",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->

<table cellpadding="0" cellspacing="0" width="650" align="center" style="color: #909090;">
	<tr>
		<td height="30" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2">
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				<h1 style="color: #666666; font-size: 1.3em; margin: 0;">THANK YOU FOR YOUR ORDER!</h1>
			</font>
		</td>
	</tr>
	<tr>
		<td style="line-height: 1.5em;">
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				Once your chocolates ship we will send you an e-mail with a link to track your shipment(s). You can also check the status of your order by <a style="color: #88551e; text-decoration: none;" href="{{store url="customer/account"}}">logging into your account.</a>
			</font>
		</td>
		<td width="80">&nbsp;</td>
	</tr>
	{{depend shipping_alert}}
		<tr>
			<td height="30" colspan="2" style="line-height: 0;">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2">
				{{var shipping_alert}}
			</td>
		</tr>
	{{/depend}}
	<tr>
		<td height="10" colspan="2" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td style="line-height: 1.5em;">
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				Please take a moment to verify your order information below. If you have any questions please contact us at 800.422.3726.
			</font>
		</td>
		<td width="80">&nbsp;</td>
	</tr>
	<tr>
		<td height="10" colspan="2" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2">
			{{var order_summary}}
		</td>
	</tr>
	<tr>
		<td height="10" colspan="2" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2">
			{{var shipment_details}}
		</td>
	</tr>
	<tr>
		<td height="10" colspan="2" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2">
			{{var contact_details}}
		</td>
	</tr>
	<tr>
		<td height="30" colspan="2" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
</table>