<!--@subject Your Order Has Been Picked Up!@-->
<!--@vars
{"store url=\"\"":"Store Url",
"htmlescape var=$customer.name":"Customer Name",
"var order.increment_id":"Order Number",
"var pickup.details":"Pickup Location and Details"}
@-->

<table cellpadding="0" cellspacing="0" width="650" align="center" style="color: #909090;">
	<tr>
		<td height="30" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td>
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				<h1 style="color: #666666; font-size: 1.3em; margin: 0;">YOUR ORDER HAS BEEN PICKED UP!</h1>
			</font>
		</td>
	</tr>
	<tr>
		<td height="10" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td style="line-height: 1.5em;">
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				Thank you again for picking up your order. Please let us know if we can be of further assistance.
			</font>
		</td>
	</tr>
	<tr>
		<td style="line-height: 1.5em;">
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				Your pick-up information is below.
			</font>
		</td>
	</tr>
	<tr>
		<td height="10" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<td style="line-height: 1.5em; color: #666666">
		<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
			<b>Order #{{var order.increment_id}}</b>
		</font>
	</td>
	<tr>
		<td>
			{{var store_details}}
		</td>
	</tr>
	<tr>
		<td height="10" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td>
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				<i>&ndash; From all of us at Fran's Chocolates &ndash;</i>
			</font>
		</td>
	</tr>
	<tr>
		<td height="30" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
</table>