<!--@subject Your Order is Ready for Pick-Up at {{var retail_store_name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"htmlescape var=$customer.name":"Customer Name",
"var order.increment_id":"Order Number",
"var pickup.details":"Pickup Location and Details"}
@-->

<table cellpadding="0" cellspacing="0" width="650" align="center" style="color: #909090;">
	<tr>
		<td height="30" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td>
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				<h1 style="color: #666666; font-size: 1.3em; margin: 0;">ORDER #{{var order.increment_id}} IS READY TO BE PICKED UP!</h1>
			</font>
		</td>
	</tr>
	<tr>
		<td height="10" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td>
			{{var shipment_details}}
		</td>
	</tr>
	<tr>
		<td height="10" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td>
			{{var store_details}}
		</td>
	</tr>
	<tr>
		<td height="30" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
</table>