<!--@subject Your Fran's Order #{{var order.increment_id}} Shipment Update@-->

<table cellpadding="0" cellspacing="0" width="650" align="center" style="color: #909090;">
	<tr>
		<td height="30" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2">
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				<h1 style="color: #666666; font-size: 1.3em; margin: 0;">SHIPMENT UPDATE</h1>
			</font>
		</td>
	</tr>
	<tr>
		<td style="line-height: 1.5em;">
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				{{var comment}}
			</font>
		</td>
	</tr>
	<tr>
		<td height="10" colspan="2" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2">
			{{var order_summary}}
		</td>
	</tr>
	<tr>
		<td height="10" colspan="2" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2">
			{{var shipment_details}}
		</td>
	</tr>
	<tr>
		<td height="10" colspan="2" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2">
			{{var contact_details}}
		</td>
	</tr>
	<tr>
		<td height="30" colspan="2" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
</table>