<!--@subject Your Fran's Order #{{var order.increment_id}} Has Shipped!@-->

<table cellpadding="0" cellspacing="0" width="650" align="center" style="color: #909090;">
	<tr>
		<td height="30" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td>
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				<h1 style="color: #666666; font-size: 1.3em; margin: 0;">YOUR FRAN'S ORDER HAS SHIPPED!</h1>
			</font>
		</td>
	</tr>
	<tr>
		<td height="10" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td>
			{{var order_summary}}
		</td>
	</tr>
	<tr>
		<td height="10" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td>
			{{var shipment_details}}
		</td>
	</tr>
	<tr>
		<td height="10" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td>
			{{var contact_details}}
		</td>
	</tr>
	<tr>
		<td height="30" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
</table>