<?php
/** @var GoSolid_Frans_Block_Adminhtml_Sales_Order_View_Billing_Method_Form */
$_order = $this->getOrder();
?>
<div class="entry-edit" id="billing-method-block">

    <? if($this->getIsRetailPayment() == true): ?>
        <div class="payment-info">
            <? if($this->getOrder()->getPayment()->getMethod() == GoSolid_Frans_Model_Payment_Method_PayAtPickup::CODE): ?>
                <p class="pay-at-register-alert"><? echo $this->__("Order not yet paid for. Please collect payment."); ?></p>
            <? endif; ?>

        </div>
    <? endif; ?>


    <div class="entry-edit-head">
        <h4 class="icon-head head-payment-method"><?php echo Mage::helper('sales')->__('Payment Information') ?></h4>
        <? if ($this->canEditPayment()): ?>
        <div class="tools shipping-method-display"><a href="#" id="start-edit-billing">Edit</a></div>
        <? endif; ?>
    </div>
    <fieldset>
        <div id="order-billing-display">
            <? echo $this->getChildHtml('order_payment_display'); ?>
            <? if ($giftcardNumber = $this->getGiftcardNumber()): ?>
                <div><? echo $this->__('Gift Card Number: ') . $giftcardNumber; ?></div>
            <? endif; ?>
            <div><?php echo Mage::helper('sales')->__('Order was placed using %s', $_order->getOrderCurrencyCode()) ?></div>
        </div>
        <?php if($this->canEditPayment()): ?>
            <form action="<? echo $this->getEditUrl(); ?>" method="post" id="billing-method-form">
                <input type="hidden" name="form_key" value="<? echo $this->getFormKey(); ?>" />
                <div id="order-billing_method_form" style="display:none;">

                <dl class="payment-methods">
                    <?php
                    $_methods       = $this->getMethods();
                    $_methodsCount  = count($_methods);
                    $_counter = 0;
                    ?>
                    <?php foreach ($_methods as $_method): $_code = $_method->getCode(); $_counter++; ?>
                        <dt>
                            <?php if ($_methodsCount > 1): ?>
                                <input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" title="<?php echo $this->htmlEscape($_method->getTitle()) ?>" onclick="payment.switchMethod('<?php echo $_code ?>')"<?php if($this->getSelectedMethodCode()==$_code): ?> checked="checked"<?php endif; ?> <?php if ($_counter == $_methodsCount) : ?>class="validate-one-required-by-name"<?php endif;?>/>
                            <?php else :?>
                                <span class="no-display"><input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" checked="checked" /></span>
                            <?php endif;?>

                            <label for="p_method_<?php echo $_code ?>"><?php echo $_method->getTitle() ?></label>
                        </dt>
                        <dd>
                            <?php echo $this->getChildHtml('payment.method.'.$_code) ?>
                        </dd>
                    <?php endforeach; ?>
                </dl>

                <p class="form-buttons">
                    <? if($this->getIsRetailPayment() == true): ?>
                        <button class='scalable' id='save-billing-method'><?php echo $this->__('Save & Mark Picked Up'); ?></button>
                    <? else: ?>
                        <button class='scalable' id='save-billing-method'><?php echo $this->__('Save'); ?></button>
                        <a href="#" id="cancel-billing-method"><?php echo $this->__('Cancel'); ?></a>
                    <? endif; ?>

                </p>
            </div>
            <div id="billing-address-fields" style="display:none;">
                <? echo $this->getAddressFormHtml(); ?>
            </div>
            </form>



            <script type="text/javascript">

                var paymentForm = new varienForm('billing-method-form');

                jQuery(document).ready(function($) {

                    function toggleFields(evt) {
                        evt.preventDefault();

                        var editVisible = evt.data.editVisible;
                        $('#order-billing_method_form').toggle(editVisible);
                        $('#order-billing-display').toggle(!editVisible);
                        $("#start-edit-billing").toggle(!editVisible);
                    }

                    $("#start-edit-billing").on('click', { editVisible: true }, toggleFields);
                    $("#cancel-billing-method").on('click', { editVisible: false }, toggleFields);

                    // default is just to update the billing method area
                    var updateContent = function(newContent) {
                        $('#billing-method-block').replaceWith(newContent);
                    }

                    <? if($this->getIsRetailPayment() == true): ?>
                    $("#start-edit-billing").click();

                    // need to update entire totals area if we are doing a retail payment, not just the billing method
                    updateContent = function(newContent) {
                        $("#billing-method-block").closest('.order-actions').parent().html(newContent);
                    }
                    <? endif; ?>


                    $("#save-billing-method").click(function(evt) {
                        evt.preventDefault();

                        if (paymentForm.validator.validate()) {
                            // make sure we have our stripe token or customer ID
                            // stripePending is defined in stripe/admin.js
                            if (stripePending
                                && $("input[name='payment[method]']:checked").val() == 'stripe')
                            {
                                alert("Still waiting for Stripe credit card processing to complete; please try again shortly.");
                                return;
                            }

                            $('#loading-mask').show();
                            var $form = $("#billing-method-form");
                            $.post($form.prop('action'), $form.serialize())
                                .done(function(data, textStatus, xhr) {
                                    if (textStatus == 'success' && xhr.status == 200) {
                                        //alert('Payment data was successfully updated.');
                                        updateContent(xhr.responseText);
                                    }
                                    else {
                                        alert('An error occurred updating payment information.');
                                    }
                                })
                                .fail(function(data, textStatus, xhr) {
                                    alert('An error occurred updating payment information.');
                                })
                                .always(function() {
                                    $('#loading-mask').hide();
                                });
                        }
                    });
                });
            </script>

    <? // these divs here just to spoof the JS ?>
    <div id="order-data" style="display:none;"></div>
    <div id="order-items" style="display:none;"></div>
    <div id="order-search" style="display:none;"></div>
    <script type="text/javascript">
        var order = new AdminOrder(); // it's ok to not have params
        var payment = {};
        // changed from original so that we don't do any callbacks to load areas.
        payment.switchMethod = order.setPaymentMethod.bind(order);
        order.setPaymentMethod('<?php echo $this->getSelectedMethodCode() ?>');
    </script>
    <?php endif; ?>
    </fieldset>
</div>

