<?php // TODO: Delete this template if it's not being used anywhere? ?>

<ul class="category-list">
    <?php
        $children = $this->getChildrenCats();
        $isCategoryPage = (Mage::app()->getRequest()->getModuleName() == 'catalog' ? true : false);
    ?>
    <?php if($isCategoryPage):?>
        <?php $index = 1; ?>
        <?php foreach ($children as $category): ?>
            <? $category->load($category->getId()); ?>
            <?php $category = Mage::getModel('catalog/category')->load($category->getId()); ?>
            <li<?php if($index % 3 == 0): ?> class="last-item"<?php endif; ?>>

                    <a href="<?php print $category->getUrl(); ?>">
                        <?php if( $img = $category->getThumbnail() ) : ?>
                        <div class="thumb-container"><img src="/media/catalog/category/<?php print $category->getThumbnail(); ?>" /></div>
                        <?php else: ?>
                            <span class="place-holder"></span>
                        <?php endif; ?>
                        <span class="title"><?php print $category->getName(); ?></span>
                    </a>

            </li>
            <?php $index++; ?>
        <?php endforeach; ?>
    <? endif;?>
</ul>