<div class="entry-edit">
    <div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend">Ticket History</h4>
    <div class="form-buttons"></div>
</div>
	<div class="fieldset " id="edit_fieldset">
		<div class="hor-scroll">
<table id='hor-minimalist-a'>
	<thead>
		<tr>
			<th width="150px"><?php echo $this->__('Date')?></th>
			<th width="150px"><?php echo $this->__('Done by')?></th>
			<th><?php echo $this->__('Changes')?></th>
		</tr>
	</thead>
	<tbody>
<?php foreach($this->getHistoryCollection() as $history): ?>
	<tr>
		<td><?php echo Mage::helper('core')->formatDate($history->getCreatedAt(), 'medium') ?> <?php echo Mage::helper('core')->formatTime($history->getCreatedAt(), 'short') ?></td>
		<td><?php echo $this->escapeHtml($history->getName()) ?></td>
		<td><?php echo Mage::helper('helpdesk/string')->convertToHtml($history->getMessage()) ?></td>
	</tr>
<?php endforeach ?>
	</tbody>
</table>
		</div>
	</div>
</div>