<div class="frans-container page-content">

	<div class="box-account box-info">
		<table class="user-info" id="communications-details">
			<tr>
				<?php echo $this->getChildHtml('customer_newsletter'); ?>
			</tr>
		</table>
	</div>

</div>