<td>
	<div class="payment">

	    <form action="<?php echo Mage::getUrl('customer/account/savecard'); ?>" method="post" class="address-save" id="cc-form">

			<div id="cc-save-form" class="<?php echo ($this->hasCardInfo() ? "hide" :  ""); ?>">

				<h4 class="tile-header"><?php echo $this->__("Save your credit card for faster checkout"); ?></h4>

				<div class="form-row">
					<div class="col-xs-12">
						<ul class="card-types">
							<li class="icon visa"></li>
							<li class="icon amex"></li>
							<li class="icon mastercard"></li>
							<li class="icon discover"></li>
						</ul>
					</div>
				</div>

				<div class="cc-new" <?php if($showSavedCardOption): ?>style="display: none;"<?php endif; ?>>
					<div class="form-row">
						<div class="col-xs-7">
							<input placeholder="<?php echo $this->__("Card Number"); ?>" type="text" data-stripe="number" autocomplete="off" id="cc-number" name="cc-number" value="" title="<?php echo $this->__("Card Number"); ?>" maxlength="255" class="input-text required-entry validate-cc-number" />
						</div>
						<div class="col-xs-5">
							<input placeholder="<?php echo $this->__("CVN"); ?>" type="text" data-stripe="cvc" id="cc-cvn" autocomplete="off" name="cc-cvn" value="" title="<?php echo $this->__("CVN"); ?>" maxlength="20" class="input-text required-entry validate-cc-cvn help" data-content="#cvn-popup" data-help-tooltip="<?php echo $this->__('What\'s this?'); ?>" />
						</div>
					</div>

					<div class="form-row">
						<div class="expires-label col-xs-2 hidden-sm hidden-md">
							<?php echo $this->__('Expires'); ?>
						</div>
						<div class="expires-label col-xs-2 visible-sm visible-md">
							<?php echo $this->__('Exp.'); ?>
						</div>
						<div class="col-xs-5">
							<select data-stripe="exp-month" id="cc-exp-month" name="cc-exp-month" class="required-entry">
								<option value="" selected disabled><?php echo $this->__("Month"); ?></option>
								<?php
									$i = 1;
									$month = strtotime('2011-01-01');
									while($i <= 12)
									{
										$month_name = date('F', $month);
										echo '<option value="'. ($i) . '">'.$month_name.'</option>';
										$month = strtotime('+1 month', $month);
										$i++;
									}
								?>
							</select>
						</div>
						<div class="col-xs-5">
							<select data-stripe="exp-year" id="cc-exp-year" name="cc-exp-year" class="required-entry">
								<option value=""  selected disabled><?php echo $this->__("Year"); ?></option>
								<?php
									for($i=0; $i<=11; $i++){
										$nextyear = date("Y", mktime(0, 0, 0, 1, 1, date("Y")+$i));
										echo '<option value="' . $nextyear . '">' . $nextyear . '</option>';
									}
								?>
							</select>
						</div>
					</div>

					<div class="form-row">

						<div class="col-xs-12">

							<button type="submit" title="<?php echo $this->__("Save"); ?>" class="btn button-dark"><span><span><?php echo $this->__("Save"); ?></span></span></button>

							<?php if($this->hasCardInfo()): ?>
								<button id="btn-cc-cancel" type="button" title="<?php echo $this->__("Cancel"); ?>" class="btn btn-link"><span><span><?php echo $this->__("Cancel"); ?></span></span></button>
							<?php endif; ?>

						</div>

					</div>

			    </div>

			</div>

			<div id="cc-saved" class=" <?php echo ($this->hasCardInfo() ? "" :  "hide"); ?>">

				<a id="btn-edit-cc" href="#" class="edit-link"><?php echo $this->__('Edit'); ?></a>
				<a id="btn-remove-cc" href="<?php echo $this->getUrl('customer/account/removecard'); ?>" class="edit-link"><?php echo $this->__('Remove'); ?></a>
				<h4 class="tile-header"><?php echo $this->__('Payment'); ?></h4>

				<div class="tile-label"><?php echo $this->__('Saved Credit Card'); ?></div>
				<div class="tile-value"><?php echo $this->getFormattedLast4(); ?></div>

				<?php if($discountLabel = $this->getCustomerDiscountLabel()): // note the single = operator, this isn't a comparison ?>
					<div class="tile-label"><?php echo $this->__('Discount'); ?></div>
					<div class="tile-value"><?php echo $discountLabel; ?></div>
				<?php endif; ?>

				<?php // TODO: Add "Terms" section here ?>

			</div>

		</form>
	</div>
</td>

<div id="cvn-popup" class="hide">
	<div class="cvn-popup-content">
		<div class="cvn-popup-image default">
			<span class="card-name"><?php echo $this->__('Discover, MasterCard, Visa'); ?></span>
			<span class="cvn-label"><?php echo $this->__('3-digit Card Verification Number'); ?></span>
		</div>
		<div class="cvn-popup-image amex">
			<span class="card-name"><?php echo $this->__('American Express'); ?></span>
			<span class="cvn-label"><?php echo $this->__('4-digit Card Verification Number'); ?></span>
		</div>
	</div>
</div>

<script type="text/javascript">
	//<![CDATA[
	    Stripe.setPublishableKey('<?php echo Mage::getModel('stripe/payment')->retrieveKey(true); ?>');
	    var ccForm = new VarienForm('cc-form', true);
	//]]>
</script>