<td>
	<div id="signin-view">
		<a id="btn-edit-signin" href="#" class="edit-link"><?php echo $this->__('Edit'); ?></a>
		<h4 class="tile-header"><?php echo $this->getHeaderText(); ?></h4>
		<div class="f-left">
			<div class="tile-label"><?php echo $this->__("Email"); ?></div>
			<div class="tile-value"><?php echo $this->htmlEscape($this->getCustomer()->getEmail()); ?></div>
		</div>
		<div class="f-left">
			<div class="tile-label"><?php echo $this->__("Password"); ?></div>
			<div class="tile-value">&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;</div>
		</div>
	</div>
	<div id="signin-form" class="hide">
		<form action="<?php echo $this->getUrl('customer/account/editPost') ?>" method="post" id="form-validate">
			<h4 class="tile-header"><?php echo $this->__('Edit your email & password') ?></h4>
			<?php echo $this->getBlockHtml('formkey'); ?>

			<div class="form-row">
				<div class="col-xs-12">
					<input placeholder="<?php echo $this->__('Email address'); ?>" type="text" name="email" id="email" value="<?php echo $this->htmlEscape($this->getCustomer()->getEmail()); ?>" title="<?php echo $this->__('Email Address'); ?>" class="input-text required-entry validate-email" />
				</div>
			</div>

			<?php $_dob = $this->getLayout()->createBlock('customer/widget_dob'); ?>
			<?php if($_dob->isEnabled()): ?>
				<div class="form-row">
					<div class="col-xs-12">
						<?php echo $_dob->setDate($this->getCustomer()->getDob())->toHtml(); ?>
					</div>
				</div>
			<?php endif; ?>
			<?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat'); ?>
			<?php if($_taxvat->isEnabled()): ?>
				<div class="form-row">
					<div class="col-xs-12">
						<?php echo $_taxvat->setTaxvat($this->getCustomer()->getTaxvat())->toHtml(); ?>
					</div>
				</div>
			<?php endif; ?>
			<?php $_gender = $this->getLayout()->createBlock('customer/widget_gender'); ?>
			<?php if($_gender->isEnabled()): ?>
				<div class="form-row">
					<div class="col-xs-12">
						<?php echo $_gender->setGender($this->getCustomer()->getGender())->toHtml(); ?>
					</div>
				</div>
			<?php endif; ?>

			<div class="form-row">
				<div class="col-xs-12">
					<input type="hidden" name="change_password" id="change_password" value="0" <?php if($this->getCustomer()->getChangePassword()==1): ?> checked="checked"<?php endif; ?> class="checkbox" />
					<button id="top-update-button" type="submit" title="<?php echo $this->__('Update'); ?>" class="btn button-dark"><span><span><?php echo $this->__('Update'); ?></span></span></button>
					<button id="change-password-control" onclick="setPasswordForm()" type="button" title="<?php echo $this->__('Change Password'); ?>" class="btn btn-link"><span><span><?php echo $this->__('Change Password'); ?></span></span></button>
				</div>
			</div>

			<div class="change-password" style="display: none;">
				<h4 class="tile-header"><?php echo $this->__('Change Password'); ?></h4>
				<div class="form-row">
					<div class="col-xs-12">
						<input placeholder="<?php echo $this->__('Current password'); ?>" type="password" title="<?php echo $this->__('Current Password'); ?>" class="input-text" name="current_password" id="current_password" />
					</div>
				</div>
				<div class="form-row">
					<div class="col-xs-6">
						<input placeholder="<?php echo $this->__('New Password'); ?>" type="password" title="<?php echo $this->__('New Password'); ?>" class="input-text validate-password" name="password" id="password" />
					</div>
					<div class="col-xs-6">
						<input placeholder="<?php echo $this->__('Confirm New Password'); ?>" type="password" title="<?php echo $this->__('Confirm New Password'); ?>" class="input-text validate-cpassword" name="confirmation" id="confirmation" />
					</div>
				</div>
				<div class="form-row">
					<div class="col-xs-12">
						<button type="submit" title="<?php echo $this->__('Update'); ?>" class="btn button-dark"><span><span><?php echo $this->__('Update'); ?></span></span></button>
					</div>
				</div>

			</div>
		</form>
	</div>
</td>

<script type="text/javascript">
	//<![CDATA[
	var dataForm = new VarienForm('form-validate', true);
	function setPasswordForm(checker){
		$('current_password').up(2).show();
		$('current_password').addClassName('required-entry');
		jQuery('#change_password').val(1);
		$('password').addClassName('required-entry');
		$('confirmation').addClassName('required-entry');
		$('change-password-control').hide();
		$('top-update-button').hide();
	}
	<?php if($this->getCustomer()->getChangePassword()): ?>
		setPasswordForm(true);
	<?php endif; ?>
	//]]>
</script>
