<ul class="frans-tabs four">
			<li class="first <?echo ($this->getActiveItem() == "account" ? 'active' : ""); ?> ">
        		<a href="<?php echo $this->getUrl('customer/account/edit')?>"><?php echo $this->__('Email &amp; Password'); ?></a>
        	</li>
        	<li class = " <?echo ($this->getActiveItem() == "billing" ? 'active' : ""); ?>">
        		<a href="<?php echo $this->getUrl('customer/address/billing')?>"><?php echo $this->__('Billing Address'); ?></a>
        	</li>
        	<li class=" <?echo ($this->getActiveItem() == "shipping" ? 'active' : ""); ?>">
        		<a href = "<?php echo $this->getUrl('customer/address')?>"><?php echo $this->__('Shipping Addresses'); ?></a>
        	</li>
        	<li class="last <?echo ($this->getActiveItem() == "creditcard" ? 'active' : ""); ?>">
        		<a href="<?php echo $this->getUrl('customer/account/creditcard')?>"><?php echo $this->__('Payment Information'); ?></a>
        	</li>
        </ul>