<?php

	$sku = GoSolid_Frans_Block_Giftcards_Purchase::CLASSIC_GIFT_CARD_SKU;

	$options = $this->getOptions();
	$values = $this->getOptionValues();

?>

<form id="classic-form" action="<?php echo $this->getUrl('frans/giftcards/addtocart'); ?>" method="post">

	<input type="hidden" name="sku" value="<?php echo $sku; ?>" />

	<h5><?php echo $this->__('Select Amount:'); ?></h5>

	<?php $index = 1; ?>
	<?php foreach($values[$options['Amount']] as $value => $title): ?>
		<?php if($index % 4 == 1): ?>
			<div class="row">
		<?php endif; ?>
			<div class="col-xs-3">
				<label><input type="radio" name="option[<?php echo $options['Amount']; ?>]" value="<?php echo $value; ?>" tabindex="2" /><?php echo $title; ?></label>
			</div>
		<?php if($index % 4 == 0): ?>
			</div>
		<?php endif; ?>
		<?php $index++; ?>
	<?php endforeach; ?>
	<?php if($index % 4 != 1): // close the div if there weren't four columns in the last row ?>
		</div>
	<?php endif; ?>

	<!-- Enable radio button group validation -->
	<div class="validation-helper"><input type="radio" name="option[<?php echo $options['Amount']; ?>]" value="" class="validate-one-required-by-name" /></div>

	<div class="row spacer-row">
		<div class="col-xs-1 col-sm-2"></div>
		<div class="col-xs-3">
			<input type="number" name="quantity" id="quantity" pattern="[0-9]*" inputmode="numeric" min="1" step="1" title="<?php echo $this->__('Quantity'); ?>" class="input-text qty required-entry" placeholder="<?php echo $this->__('Qty'); ?>" tabindex="<?php echo $index; ?>" /></li>
		</div>
		<div class="col-xs-8 col-sm-5">
			<button type="button" title="<?php echo $this->__('Add to Cart'); ?>" class="btn button-dark" tabindex="10" onclick="classicForm.submit(this)"><span><span><?php echo $this->__('Add to Cart'); ?></span></span></button>
		</div>
		<div class="hidden-xs col-sm-2"></div>
	</div>

</form>

<script type="text/javascript">
	//<![CDATA[
	var classicForm = new VarienForm('classic-form', true);
    classicForm.submit = function(button, url) {

        var qtyField = jQuery('#quantity');

        if(isNaN(parseInt(qtyField.val())) || qtyField.val() < 1){
            qtyField.val(1);
        }

        if (this.validator.validate()) {
            var form = this.form;
            var oldUrl = form.action;

            if (url) {
                form.action = url;
            }
            var e = null;
            try {
                this.form.submit();
            } catch (e) {
            }
            this.form.action = oldUrl;
            if (e) {
                throw e;
            }
            if (button && button != 'undefined') {
                button.disabled = true;
            }
        }
    }.bind(classicForm);
	//]]>
</script>