<?php

$sku = GoSolid_Frans_Block_Giftcards_Purchase::VIRTUAL_GIFT_CARD_SKU;

$options = $this->getOptions();
$values = $this->getOptionValues();

// we'll autopopulate the Sender Name and Sender Email fields if customer is logged in
$senderName = '';
$senderEmail = '';

if($this->helper('customer')->isLoggedIn())
{
    $customer = Mage::getSingleton('customer/session')->getCustomer();
    $senderName = $customer->getName();
    $senderEmail = $customer->getEmail();
}

?>
<?php if(GoSolid_Frans_Block_Giftcards_Purchase::preventVirtual()): ?>
    <p class="message-virtual"><?php echo $this->__('You are currently set to ship to multiple addresses. Unfortunately we are unable process orders for multiple addresses with virtual gift cards.'); ?></p>
<?php else: ?>
    <button type="button" id="giftcard-select-virtual" title="<?php echo $this->__('Send Virtual'); ?>" class="btn button-dark" tabindex="1"><?php echo $this->__('Send Virtual'); ?></button>
    <form id="virtual-form" action="<?php echo $this->getUrl('frans/giftcards/addtocart'); ?>" method="post">

        <input type="hidden" name="sku" value="<?php echo $sku; ?>" />
        <input type="hidden" name="quantity" value="1" />

        <h5><?php echo $this->__('Select Amount:'); ?></h5>

        <?php $index = 1; ?>
        <?php foreach($values[$options['gc_amount']] as $value => $title): ?>
            <?php if($index % 4 == 1): ?>
                <div class="row">
            <?php endif; ?>
            <div class="col-xs-3">
                <label><input type="radio" name="option[<?php echo $options['gc_amount']; ?>]" value="<?php echo $value; ?>" tabindex="2" /><?php echo $title; ?></label>
            </div>
            <?php if($index % 4 == 0): ?>
                </div>
            <?php endif; ?>
            <?php $index++; ?>
        <?php endforeach; ?>
        <?php if($index % 4 != 1): // close the div if there weren't four columns in the last row ?>
		</div>
	<?php endif; ?>

        <!-- Enable radio button group validation -->
        <div class="validation-helper"><input type="radio" name="option[<?php echo $options['gc_amount']; ?>]" value="" class="validate-one-required-by-name" /></div>

        <div class="virtual-details">
            <h5><?php echo $this->__('Send To:'); ?></h5>
            <div class="row">
                <div class="col-xs-2 details-label"><?php echo $this->__('To:'); ?></div>
                <div class="col-xs-5">
                    <input type="text" name="option[<?php echo $options['gc_recipient_name']; ?>]" id="gc_recipient_name" title="<?php echo $this->__('Recipient Name'); ?>" class="input-text required-entry" placeholder="<?php echo $this->__('Recipient Name'); ?>" tabindex="3" />
                </div>
                <div class="col-xs-5">
                    <input type="text" name="option[<?php echo $options['gc_recipient_email']; ?>]" id="gc_recipient_email" title="<?php echo $this->__('Recipient Email'); ?>" class="input-text validate-email required-entry" placeholder="<?php echo $this->__('Recipient Email'); ?>" tabindex="4" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 details-label"><?php echo $this->__('From:'); ?></div>
                <div class="col-xs-5">
                    <input type="text" name="option[<?php echo $options['gc_sender_name']; ?>]" id="gc_sender_name" value="<?php echo $senderName; ?>" title="<?php echo $this->__('Your Name'); ?>" class="input-text required-entry" placeholder="<?php echo $this->__('Your Name'); ?>" tabindex="5" />
                </div>
                <div class="col-xs-5">
                    <input type="text" name="option[<?php echo $options['gc_sender_email']; ?>]" id="gc_sender_email" value="<?php echo $senderEmail; ?>" title="<?php echo $this->__('Your Email'); ?>" class="input-text validate-email required-entry" placeholder="<?php echo $this->__('Your Email'); ?>" tabindex="6" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-10">
                    <textarea name="option[<?php echo $options['gc_message']; ?>]" id="gc_message" value="" title="<?php echo $this->__('Add a message (optional)'); ?>" class="textarea show-remaining" placeholder="<?php echo $this->__('Add a message (optional)') ?>" maxlength="300" tabindex="7"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <button type="button" title="<?php echo $this->__('Preview Virtual Card'); ?>" class="btn btn-link" tabindex="9" id="preview-button"><span><span><?php echo $this->__('Preview Virtual Card'); ?></span></span></button>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <button type="submit" title="<?php echo $this->__('Add to Cart'); ?>" class="btn button-dark" tabindex="10"><span><span><?php echo $this->__('Add to Cart'); ?></span></span></button>
                </div>
            </div>
        </div>

    </form>

    <script type="text/javascript">
        //<![CDATA[
        var virtualForm = new VarienForm('virtual-form', true);

        function getCardPreview(event) {

            var $giftcardFromData = jQuery('#virtual-form').serialize();
            var giftcardPreviewUrl = '<?php echo Mage::getUrl('frans/giftcards/getcardpreview'); ?>'+'?' + $giftcardFromData;
            var modalContainerCss = {
                position: 'absolute',
                backgroundColor: '#ffffff',
                border: '1px solid #c7c7c7',
                fontSize: '12px',
                padding: '10px 0',
                width: '420px',
                overflow: 'visible',
                marginBottom: '20px'
            };
            if(virtualForm.validator &&  virtualForm.validator.validate()) {
                showModal('<iframe id="gift_card_preview" src="'+giftcardPreviewUrl+'" height="500" width="100%" style="border:0;" />', { containerCss: modalContainerCss });
            }
        }

        jQuery(document).ready(function(){
            jQuery('body').on('click', '#preview-button', getCardPreview);
        });

        //]]>
    </script>
<?php endif; ?>
