<?php

	// grab the banner for this page backdrop from the Banners module
	$banner = $this->getBanner();

	// grab all banners for this page's tiles from the Banners module
	$tileBanners = $this->getTileBanners();
	$tileBannersCount = count($tileBanners);

	// get the CMS block content
	$cmsBlock = Mage::getModel('cms/block')->load('event-favors-content');

?>

<div class="backdrop">
	<div class="col-xs-12">
		<div class="event-favors-header" style="background-image: url('<?php echo $banner->getImageUrl(); ?>');">
			<div class="header-content">
				<h3><?php echo $cmsBlock->getTitle(); ?></h3>
				<?php echo $cmsBlock->getContent(); ?>
			</div>
		</div>
	</div>
</div>
<div class="frans-container">
	<?php foreach($tileBanners as $i => $tileBanner): ?>

		<?php $index = $i + 1; // easier to calculate positions with 1-based index instead of 0-based default ?>

		<?php if($index % 3 == 1): // start a row ?>
			<div class="tile-row three-flip">
		<?php endif; ?>

		<?php echo $this->getBannerHtml($tileBanner, 3, $index); ?>

		<?php if(($index % 3 == 0) || $index == $tileBannersCount): // end a row ?>
			</div>
		<?php endif; ?>

	<?php endforeach; ?>
</div>