<?php
	$storeId = Mage::app()->getStore()->getId();
	$order = $this->getOrder();
	$emailType = $this->getEmailType();
	$isGuest = $order->getCustomerIsGuest();
	$doShowMessagesFirst = ($this->getDoShowMessagesFirst() == true);
	$doShowPriceBeforeQty = ($this->getDoShowPriceBeforeQty() == true);
	$childOrders = $order->getChildOrders();
	$shipmentOrders = $childOrders ? $childOrders : array($order); // we will either loop through many child orders or one standalone one
	$trackingBaseUrl = 'http://www.fedex.com/Tracking?action=track&tracknumbers=';
?>

<?php if($emailType == 'pickup'): ?>
	<table width="650" cellpadding="0" cellspacing="0" class="shipment-header">
		<tr>
			<td height="7" style="line-height: 0; font-size: 0;">&nbsp;</td>
		</tr>
		<tr class="divider">
			<td style="color: #666666; height: 40px; vertical-align: middle;">
				<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="3">
					<b><?php echo $this->__('ITEMS&nbsp;READY'); ?>&nbsp;&nbsp;</b>
				</font>
			</td>
			<td width="100%" style="background: transparent url('<?php echo $this->getSkinUrl('images/email/divider-shipment.png'); ?>') repeat-x left center; line-height: 0;">
				<hr size="1" color="d8d8d8" style="display: none;" />
			</td>
		</tr>
	</table>
<?php endif; ?>

<?php // Multi-ship shipment and order update emails use a different template, in the else block of this conditional ?>
<?php if(count($shipmentOrders) == 1 || $emailType == 'order'): ?>
    <?php $showShipmentCount = (count($shipmentOrders) > 1); ?>
	<?php foreach($shipmentOrders as $index => $shipmentOrder): ?>

		<?php
	        $giftcardAmount = $order->getIsMultishipChildOrder() ?
	            $order->getMultishipParentOrder()->getGiftcardAmount() :
	            $order->getGiftcardAmount();

	        $hasGiftCard = $giftcardAmount > 0;

	        // we may have a gift card independent of other payment methods
	        if ($hasGiftCard)
	        {
	            $giftcardNumber = $order->getIsMultishipChildOrder() ?
	                $order->getMultishipParentOrder()->getGiftcardNumber() :
	                $order->getGiftcardNumber();
	            // pad with X except last 4 chars
	            $giftCardLast4 = substr($giftcardNumber, -4, 4);
	            $maskedGiftCardNumber = str_pad($giftCardLast4, strlen($giftcardNumber), 'X', STR_PAD_LEFT);
	        }

	        $payment = $shipmentOrder->getPayment();

	        $paymentMethod = $payment->getMethod();

	        if ($paymentMethod == 'stripe')
	        {
	            $ccLast4 = $payment->getCcLast4();
		        $ccType = $payment->getCcType();
	            $ccExpMo = sprintf("%02s", $payment->getCcExpMonth());
	            $ccExpYr = $payment->getCcExpYear();

		        $ccHelper = Mage::helper('frans/creditCard');
	            $formattedCc = $ccHelper->formatLast4ByCardType($ccLast4, $ccType);
				$ccTypeLabel = $ccHelper->getCardTypeLabel($ccType);
	        }
	        else if ($paymentMethod == 'pay_at_pickup')
	        {
	            $paymentText = $this->__('Payment at Pickup');
	        }
	        else if ($paymentMethod == 'paybyinvoice')
	        {
	            $paymentText = $this->__('Payment by Invoice');
	        }
	        else if ($paymentMethod == 'free')
	        {
	            $paymentText = $this->__('No Payment Required');
	        }
	        else if ($paymentMethod == "paid_at_register")
	        {
	            $paymentText = $this->__('Paid at Register');
	        }

		    $giftMessage = $shipmentOrder->getGiftMessage();
			$shippingAddress = $shipmentOrder->getShippingAddress();
			$billingAddress = $shipmentOrder->getBillingAddress();
			$items = $shipmentOrder->getItemsCollection();

        ?>
		<div class="unbreakable">

			<table width="650" cellpadding="0" cellspacing="0" class="shipment-header">
				<tr>
					<td height="7" style="line-height: 0; font-size: 0;">&nbsp;</td>
				</tr>
				<tr class="shipment-divider">
						<td style="color: #666666; height: 40px; vertical-align: middle;" class = "inspectlet-sensitive">
							<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="3">
								<b><?php echo $this->__('SHIPMENT'); ?>&nbsp;<?php echo $index + 1; ?>&nbsp;of&nbsp;<?php echo count($shipmentOrders); ?>&nbsp;&nbsp;</b>
							</font>
					</td>
					<td width="100%" style="background: transparent url('<?php echo $this->getSkinUrl('images/email/divider-shipment.png'); ?>') repeat-x left center; line-height: 0;">
						<hr size="1" color="d8d8d8" style="display: none;" />
					</td>
				</tr>
			</table>

			<?php if($this->getHideShipmentSummary() != true): ?>

	            <?php if($emailType == 'shipment'): ?>

	                <?php $trackingNumber = $shipmentOrder->getTracksCollection()->getFirstItem()->getTrackNumber(); ?>
	                <?php $shipmentNumber = $shipmentOrder->getShipmentsCollection()->getFirstItem()->getIncrementId(); ?>

	                <table style="width: 100%; padding: 0px; margin: 0px;" cellpadding="0" cellspacing="0">
	                    <tr>
	                        <td height="30" style="text-align: left; text-transform: uppercase; color: #666666; vertical-align: top;" class = "inspectlet-sensitive">
		                        <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
		                            <b><?php echo $this->__("Tracking Number"); ?> <a href="<?php echo $trackingBaseUrl . $trackingNumber?>" style="color: #88551e; text-decoration: none;" title="<?php echo $this->__('Track this shipment.'); ?>"><?php echo $trackingNumber; ?></a></b>
			                    </font>
	                        </td>
	                        <td height="30" style="text-align: right; text-transform: uppercase; color: #666666; vertical-align: top;">
		                        <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2" class = "inspectlet-sensitive">
	                                <span style="color: #b2b2b2;"><?php echo $this->__('Shipment Number'); ?></span> <?php echo $shipmentNumber; ?>
			                    </font>
	                        </td>
	                    </tr>
	                </table>

				<?php endif; ?>

		        <table width="650" cellpadding="0" cellspacing="0" align="center" class="receipt-overview">
					<tr style="line-height: 0; font-size: 0;">
						<td class="odd" width="12" height="12" style="background-color: #f0f0f0;">&nbsp;</td>
						<td class="odd" width="136" height="12" style="background-color: #f0f0f0;">&nbsp;</td>
						<td class="odd" width="12" height="12" style="background-color: #f0f0f0;">&nbsp;</td>
						<td class="even" width="14" height="12" style="background-color: #fafafa;">&nbsp;</td>
						<td class="even" width="139" height="12" style="background-color: #fafafa;">&nbsp;</td>
						<td class="even" width="12" height="12" style="background-color: #fafafa;">&nbsp;</td>
						<td class="odd" width="14" height="12" style="background-color: #f0f0f0;">&nbsp;</td>
						<td class="odd" width="135" height="12" style="background-color: #f0f0f0;">&nbsp;</td>
						<td class="odd" width="12" height="12" style="background-color: #f0f0f0;">&nbsp;</td>
						<td class="even" width="14" height="12" style="background-color: #fafafa;">&nbsp;</td>
						<td class="even" width="138" height="12" style="background-color: #fafafa;">&nbsp;</td>
						<td class="even" width="12" height="12" style="background-color: #fafafa;">&nbsp;</td>
					</tr>
					<tr>
						<td class="odd" style="background-color: #f0f0f0;">&nbsp;</td>
						<td class="odd" style="background-color: #f0f0f0;" valign="top">
							<?php if($shipmentOrder->getShippingCarrier()): ?>


								<?php if($shippingAddress && !$shipmentOrder->isPickupAtStore()): ?>
	                                <!-- begin shipping column -->
									<table cellpadding="0" cellspacing="0">
										<tr class="header">
											<td style="color: #b2b2b2; line-height: 1.3em;">
												<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
													<b><?php echo $this->__('SHIPPING ADDRESS'); ?></b>
												</font>
											</td>
										</tr>
										<tr>
											<td height="12" style="line-height: 0; font-size: 0;">&nbsp;</td>
										</tr>
										<tr>
											<td style="color: #666666; line-height: 1.3em;" class = "inspectlet-sensitive">
												<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
													<b><?php echo $shippingAddress->getFirstname() . ' ' . $shippingAddress->getLastname(); ?></b>
												</font>
											</td>
										</tr>
										<?php if($shippingAddress->getCompany()): ?>
										<tr>
												<td style="color: #666666; line-height: 1.3em;" class = "inspectlet-sensitive">
												<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
														<?php echo $shippingAddress->getCompany(); ?>
													</font>
												</td>
											</tr>
										<?php endif; ?>
										<tr>
											<td style="color: #666666; line-height: 1.3em;" class = "inspectlet-sensitive">
												<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
													<?php echo nl2br($shippingAddress->getStreetFull()); ?>
												</font>
											</td>
										</tr>
										<tr>
											<td style="color: #666666; line-height: 1.3em;" class = "inspectlet-sensitive">
												<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
													<?php echo $shippingAddress->getCity(); ?>, <?php echo $shippingAddress->getRegionCode(); ?> <?php echo $shippingAddress->getPostcode(); ?>
												</font>
											</td>
										</tr>
										<tr>
											<td style="color: #666666; line-height: 1.3em;" class = "inspectlet-sensitive">
												<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
													<?php echo Mage::app()->getLocale()->getCountryTranslation($shippingAddress->getCountry()); ?>
												</font>
											</td>
										</tr>
										<tr>
											<td style="color: #666666; line-height: 1.3em;" class = "inspectlet-sensitive">
												<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
													<?php echo $shippingAddress->getTelephone(); ?>
												</font>
											</td>
										</tr>
									</table>
	                                <!-- end shipping column -->
								<?php elseif($shipmentOrder->isPickupAtStore()): ?>
	                                <!-- begin pickup at store shipping column -->
	                                <table cellpadding="0" cellspacing="0">
	                                    <tr>
	                                        <td style="color: #b2b2b2; line-height: 1.3em;">
	                                            <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
	                                                <b><?php echo $this->__('IN-STORE PICKUP'); ?></b>
	                                            </font>
	                                        </td>
	                                    </tr>
	                                    <tr>
	                                        <td height="12" style="line-height: 0; font-size: 0;">&nbsp;</td>
	                                    </tr>
	                                    <tr>
	                                        <td style="color: #666666; line-height: 1.3em;" class = "inspectlet-sensitive">
	                                            <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
	                                                <?php
	                                                    $shippingMethod = $order->getShippingMethod(true);
	                                                    $retailStore = Mage::getModel("frans/retailStore")->load($shippingMethod["method"], "store_code");
	                                                ?>
	                                                <b><?php echo $retailStore->getName();?></b><br/>
	                                                <?php echo $retailStore->getAddress1();?><br/>
	                                                <?php echo $retailStore->getCity() . ', ' . $retailStore->getRegion() . ' ' . $retailStore->getPostalCode();?><br/>

	                                            </font>
	                                        </td>
	                                    </tr>
	                                </table>
	                                <!-- end  pickup at store shipping column -->


                                <?php endif; ?>

                            <?php else: ?>
                                <!-- begin virtual order column -->
                                <table cellpadding="0" cellspacing="0">
                                    <tr class="header">
                                        <td style="color: #b2b2b2; line-height: 1.3em;">
                                            <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
                                                <b><?php echo $this->__('DELIVERY'); ?></b>
                                            </font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="12" style="line-height: 0; font-size: 0;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="color: #666666; line-height: 1.3em;">
                                            <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
                                                <?php echo $this->__('Emailed directly to the recipient.'); ?>
                                            </font>
                                        </td>
                                    </tr>

                                </table>
                                <!-- end virtual order column -->
                            <?php endif; ?>
						</td>
						<td class="odd" style="background-color: #f0f0f0;">&nbsp;</td>
						<td class="even" style="background-color: #fafafa;" valign="top"><img class="divider" src="<?php echo $this->getSkinUrl('images/email/shipment-divider-odd.png'); ?>"></td>
						<td class="even" style="background-color: #fafafa;" valign="top">
							<table cellpadding="0" cellspacing="0">
								<tr>
									<td style="color: #b2b2b2;">
										<?php if($shippingAddress): ?>
                                            <!-- begin shipping column two -->
											<table cellpadding="0" cellspacing="0">
												<?php if($this->getHideArrivalDate()): ?>
													<tr class="header">
														<td style="color: #b2b2b2; line-height: 1.3em;">
															<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
																<b><?php echo $this->__('DELIVERY'); ?></b>
															</font>
														</td>
													</tr>
													<tr>
														<td height="12" style="line-height: 0; font-size: 0;">&nbsp;</td>
													</tr>
													<tr class="shipping-method">
														<td style="color: #a8a8a8; line-height: 1.3em;" class = "inspectlet-sensitive">
															<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
																<b><?php echo $this->__('Via'); ?> <?php echo Mage::helper('frans')->maskedShippingMethod($shipmentOrder->getShippingMethod(), $shipmentOrder->getShippingDescription()); ?></b>
															</font>
														</td>
													</tr>
												<?php else: ?>
													<?php if($shipmentOrder->isPickupAtStore()): ?>
														<tr>
															<td style="color: #b2b2b2; line-height: 1.3em;">
																<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
																	<b><?php echo $this->__('PICK UP ON'); ?></b>
																</font>
															</td>
														</tr>
														<tr>
															<td height="12" style="line-height: 0; font-size: 0;">&nbsp;</td>
														</tr>
														<tr>
															<td style="color: #666666; line-height: 1.3em;">
																<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
																	<b><?php echo $this->__('Preferred Pick&#8209;Up&nbsp;Date'); ?></b>
																</font>
															</td>
														</tr>
														<tr>
															<td style="color: #666666; line-height: 1.3em;" class = "inspectlet-sensitive">
																<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
																	<?php echo Mage::helper('frans')->prettyDate($shipmentOrder->getPreferredArrivalDate()); ?>
																</font>
															</td>
														</tr>
													<?php else: ?>
														<tr class="header">
															<td style="color: #b2b2b2; line-height: 1.3em;">
																<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
																	<b><?php echo $this->__('DELIVERY'); ?></b>
																</font>
															</td>
														</tr>
														<tr>
															<td height="12" style="line-height: 0; font-size: 0;">&nbsp;</td>
														</tr>
														<tr>
															<td style="color: #666666; line-height: 1.3em;">
																<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
																	<b><?php echo $this->__('Preferred Arrival Date'); ?></b>
																</font>
															</td>
														</tr>
														<tr>
															<td style="color: #666666; line-height: 1.3em;" class = "inspectlet-sensitive">
																<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
																	<?php echo Mage::helper('frans')->prettyDate($shipmentOrder->getPreferredArrivalDate()); ?>
																</font>
															</td>
														</tr>
														<tr class="shipping-method">
															<td style="color: #a8a8a8; line-height: 1.3em;" class = "inspectlet-sensitive">
																<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
																	<b><?php echo $this->__('Via'); ?> <?php echo Mage::helper('frans')->maskedShippingMethod($shipmentOrder->getShippingMethod(), $shipmentOrder->getShippingDescription()); ?></b>
																</font>
															</td>
														</tr>
													<?php endif; ?>
													<tr>
														<td height="12" style="line-height: 0; font-size: 0;">&nbsp;</td>
													</tr>
													<tr>
														<td style="color: #666666; line-height: 1.3em;">
															<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
																<b><?php echo $this->__("Status") ?></b>
															</font>
														</td>
													</tr>
													<tr>
														<td style="color: #666666; line-height: 1.3em;" class = "inspectlet-sensitive">
															<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
																<?php echo $shipmentOrder->getFrontendStatusLabel(); ?>
															</font>
														</td>
													</tr>
												<?php endif; ?>
											</table>
                                            <!-- end shipping column two -->
                                        <?php else: ?>
                                            <!-- begin virtual order column -->
                                            <table cellpadding="0" cellspacing="0">
                                                <tr class="header">
                                                    <td style="color: #b2b2b2; line-height: 1.3em;">
                                                        <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
                                                            <b><?php echo $this->__('SHIPPING ADDRESS'); ?></b>
                                                        </font>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="12" style="line-height: 0; font-size: 0;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td style="color: #666666; line-height: 1.3em;">
                                                        <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
                                                            <?php echo $this->__('No shipping address needed for virtual orders.'); ?>
                                                        </font>
                                                    </td>
                                                </tr>

                                            </table>
                                            <!-- end virtual order column -->
										<?php endif; ?>
									</td>
								</tr>
							</table>
						</td>
						<td class="even" style="background-color: #fafafa;">&nbsp;</td>
						<td class="odd" style="background-color: #f0f0f0;" valign="top"><img class="divider" src="<?php echo $this->getSkinUrl('images/email/shipment-divider-even.png'); ?>"></td>
						<td class="odd" style="background-color: #f0f0f0;" valign="top">
							<table cellpadding="0" cellspacing="0">
								<tr class="header">
									<td style="color: #b2b2b2; line-height: 1.3em;">
										<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
											<b><?php echo $this->__('BILLING ADDRESS'); ?></b>
										</font>
									</td>
								</tr>
								<tr>
									<td height="12" style="line-height: 0; font-size: 0;">&nbsp;</td>
								</tr>
								<tr>
									<td style="color: #666666; line-height: 1.3em;" class = "inspectlet-sensitive">
										<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
											<b><?php echo $billingAddress->getFirstname() . ' ' . $billingAddress->getLastname(); ?></b>
										</font>
									</td>
								</tr>
								<?php if($billingAddress->getCompany()): ?>
								<tr>
										<td style="color: #666666; line-height: 1.3em;" class = "inspectlet-sensitive">
										<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
												<?php echo $billingAddress->getCompany(); ?>
											</font>
										</td>
									</tr>
								<?php endif; ?>
								<tr>
									<td style="color: #666666; line-height: 1.3em;" class = "inspectlet-sensitive">
										<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
											<?php echo nl2br($billingAddress->getStreetFull()); ?>
										</font>
									</td>
								</tr>
								<tr>
									<td style="color: #666666; line-height: 1.3em;" class = "inspectlet-sensitive">
										<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
											<?php echo $billingAddress->getCity(); ?>, <?php echo $billingAddress->getRegionCode(); ?> <?php echo $billingAddress->getPostcode(); ?>
										</font>
									</td>
								</tr>
								<tr>
									<td style="color: #666666; line-height: 1.3em;">
										<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
											<?php echo Mage::app()->getLocale()->getCountryTranslation($billingAddress->getCountry()); ?>
										</font>
									</td>
								</tr>
								<tr>
									<td style="color: #666666; line-height: 1.3em;" class = "inspectlet-sensitive">
										<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
											<?php echo $billingAddress->getTelephone(); ?>
										</font>
									</td>
								</tr>
							</table>
						</td>
						<td class="odd" style="background-color: #f0f0f0;">&nbsp;</td>
						<td class="even" style="background-color: #fafafa;" valign="top"><img class="divider" src="<?php echo $this->getSkinUrl('images/email/shipment-divider-odd.png'); ?>"></td>
						<td class="even" style="background-color: #fafafa;" valign="top">
							<table cellpadding="0" cellspacing="0" style="line-height: 1.3em;">
								<tr class="header">
									<td style="color: #b2b2b2; line-height: 1.3em;">
										<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
											<b><?php echo $this->__('PAYMENT'); ?></b>
										</font>
									</td>
								</tr>
								<tr>
									<td height="12" style="line-height: 0; font-size: 0;">&nbsp;</td>
								</tr>
								<?php if($paymentMethod == 'stripe'): ?>
									<tr>
										<td style="color: #666666; line-height: 1.3em;">
											<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
												<b><?php echo $ccTypeLabel; ?></b>
											</font>
										</td>
									</tr>
									<tr>
										<td style="color: #666666; line-height: 1.3em;" class = "inspectlet-sensitive">
											<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2" style="font-size: 12px;">
												<?php echo $formattedCc; ?>
											</font>
										</td>
									</tr>
									<tr class="expiration">
										<td style="color: #666666; line-height: 1.3em;" class = "inspectlet-sensitive">
											<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
												<b><?php echo $this->__('Expires'); ?>:</b> <?php echo $ccExpMo; ?>/<?php echo $ccExpYr; ?>
											</font>
										</td>
									</tr>
								<?php elseif(!$hasGiftCard): ?>
									<tr>
										<td style="color: #666666; line-height: 1.3em;" class = "inspectlet-sensitive">
											<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
												<b><?php echo $paymentText; ?></b>
											</font>
										</td>
									</tr>
								<?php endif; ?>
								<?php if($hasGiftCard): ?>
									<tr>
										<td style="color: #666666; line-height: 1.3em;">
											<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
												<b><?php echo $this->__('Gift Card'); ?></b>
											</font>
										</td>
									</tr>
									<tr>
										<td style="color: #666666; line-height: 1.3em;" class = "inspectlet-sensitive">
											<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
												<?php echo $maskedGiftCardNumber; ?>
											</font>
										</td>
									</tr>
									<tr>
										<td style="color: #666666; line-height: 1.3em;" class = "inspectlet-sensitive">
											<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
												<?php echo Mage::helper('core')->formatPrice($giftcardAmount, false); ?>
											</font>
										</td>
									</tr>
								<?php endif; ?>
							</table>
						</td>
						<td class="even" style="background-color: #fafafa;">&nbsp;</td>
					</tr>
					<tr style="line-height: 0;">
						<td class="odd" height="12" style="background-color: #f0f0f0;">&nbsp;</td>
						<td class="odd" height="12" style="background-color: #f0f0f0;">&nbsp;</td>
						<td class="odd" height="12" style="background-color: #f0f0f0;">&nbsp;</td>
						<td class="even" height="12" style="background-color: #fafafa;">&nbsp;</td>
						<td class="even" height="12" style="background-color: #fafafa;">&nbsp;</td>
						<td class="even" height="12" style="background-color: #fafafa;">&nbsp;</td>
						<td class="odd" height="12" style="background-color: #f0f0f0;">&nbsp;</td>
						<td class="odd" height="12" style="background-color: #f0f0f0;">&nbsp;</td>
						<td class="odd" height="12" style="background-color: #f0f0f0;">&nbsp;</td>
						<td class="even" height="12" style="background-color: #fafafa;">&nbsp;</td>
						<td class="even" height="12" style="background-color: #fafafa;">&nbsp;</td>
						<td class="even" height="12" style="background-color: #fafafa;">&nbsp;</td>
					</tr>
				</table>
	        <?php endif; ?>

			<table class="receipt-details" width="650" cellpadding="0" cellspacing="0">
				<tr>
					<td style="background-color: #f8f8f8;">
						<table width="600" align="center" cellpadding="0" cellspacing="0" style="margin: 0 auto;">

							<?php if($doShowMessagesFirst): ?>
								<?php if($giftMessage): ?>
									<tr class="message-header">
										<td height="35" valign="bottom" style="color: #b2b2b2; vertical-align: bottom;" colspan="5">
											<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
												<b><?php echo $this->__('GIFT MESSAGE'); ?></b>
											</font>
										</td>
									</tr>
									<tr>
										<td style="color: #666666; line-height: 1.3em;" colspan="5">
											<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
												<i><?php echo $giftMessage; ?></i>
											</font>
										</td>
									</tr>
								<?php endif; ?>

								<?php if($specialInstructions = $shipmentOrder->getSpecialInstructions()): ?>
									<tr class="message-header">
										<td height="35" valign="bottom" style="color: #b2b2b2; vertical-align: bottom;" colspan="5">
											<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
												<b><?php echo $this->__('SPECIAL INSTRUCTIONS'); ?></b>
											</font>
										</td>
									</tr>
									<tr>
										<td style="color: #666666; line-height: 1.3em;" colspan="5">
											<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
												<i><?php echo $specialInstructions; ?></i>
											</font>
										</td>
									</tr>
								<?php endif; ?>
							<?php endif; ?>

							<tr class="item-column-header">
								<td width="355" height="30" valign="bottom" style="color: #b2b2b2; vertical-align: bottom;" colspan="2">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b><?php echo $this->__('ITEM'); ?></b>
									</font>
								</td>
								<?php if($doShowPriceBeforeQty): ?>
									<td width="100" height="30" valign="bottom" style="color: #b2b2b2; vertical-align: bottom; text-align: right; padding-right: 25px;">
										<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
											<b><?php echo $this->__('PRICE'); ?></b>
										</font>
									</td>
								<?php endif; ?>
								<td width="45" height="30" valign="bottom" style="color: #b2b2b2; vertical-align: bottom; text-align: center;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b><?php echo $this->__('QTY'); ?></b>
									</font>
								</td>
								<?php if(!$doShowPriceBeforeQty): ?>
									<td width="100" height="30" valign="bottom" style="color: #b2b2b2; vertical-align: bottom; text-align: right;">
										<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
											<b><?php echo $this->__('PRICE'); ?></b>
										</font>
									</td>
								<?php endif; ?>
								<td width="<?php echo $doShowPriceBeforeQty ? '50' : '100'; ?>" height="30" valign="bottom" style="color: #b2b2b2; vertical-align: bottom; text-align: right;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b><?php echo $this->__('TOTAL'); ?></b>
									</font>
								</td>
							</tr>

							<?php $itemIndex = 1; // adding a key in the foreach loop yielded incorrect results, so let's use a manual index ?>
							<?php foreach($items as $item): ?>
								<?php

									$product = $item->getProduct();
									$colorTileLabel = $this->getColorTileLabel($item);

								?>
								<tr class="item">
									<td class="item-thumbnail" valign="middle" width="80" style="vertical-align: middle;">
										<img src="<?php echo Mage::helper('catalog/image')->init($product, 'thumbnail')->resize(75); ?>" />
									</td>
									<td valign="middle" width="275" style="vertical-align: middle;" class = "inspectlet-sensitive">
										<table cellpadding="0" cellspacing="0">
											<?php if($colorTileLabel): ?>
												<tr class="color-tile">
													<td style="color: #8f8f8f;">
														<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="1">
															<b><?php echo $colorTileLabel; ?></b>
														</font>
													</td>
												</tr>
											<?php endif; ?>
											<tr class="product-name">
												<td style="color: #666666;">
													<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
														<b><?php echo $item->getName(); ?></b>
													</font>
												</td>
											</tr>
										</table>
									</td>
									<?php if($doShowPriceBeforeQty): ?>
										<td class="item-price" valign="middle" style="color: #666666; text-align: right; vertical-align: middle; padding-right: 25px;">
											<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
												<b><?php echo Mage::helper('checkout')->formatPrice($item->getPrice(),true,false); ?></b>
											</font>
										</td>
									<?php endif; ?>
									<td class="item-qty" valign="middle" style="color: #666666; text-align: center; vertical-align: middle;">
										<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
											<b><?php echo intval($item->getQtyOrdered()); ?></b>
										</font>
									</td>
									<?php if(!$doShowPriceBeforeQty): ?>
										<td class="item-price" valign="middle" style="color: #666666; text-align: right; vertical-align: middle;">
											<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
												<b><?php echo Mage::helper('checkout')->formatPrice($item->getPrice(),true,false); ?></b>
											</font>
										</td>
									<?php endif; ?>
									<td class="item-total" valign="middle" style="color: #666666; text-align: right; vertical-align: middle;">
										<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
											<b><?php echo Mage::helper('checkout')->formatPrice((intval($item->getQtyOrdered()) * $item->getPrice()),true,false); ?></b>
										</font>
									</td>
								</tr>
								<?php if(($itemIndex) < $items->count()): ?>
									<tr>
										<td height="5" colspan="5" style="font-size: 0; line-height: 0;">&nbsp;</td>
									</tr>
									<tr>
										<td height="1" colspan="5" style="background-color: #e9e9e9; font-size: 0; line-height: 0;">&nbsp;</td>
									</tr>
									<tr>
										<td height="5" colspan="5" style="font-size: 0; line-height: 0;">&nbsp;</td>
									</tr>
								<?php endif; ?>
								<?php $itemIndex++; ?>
							<?php endforeach; ?>

							<?php if(!$doShowMessagesFirst): ?>
								<?php if($giftMessage): ?>
									<tr class="message-header">
										<td height="35" valign="bottom" style="color: #b2b2b2; vertical-align: bottom;" colspan="5">
											<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
												<b><?php echo $this->__('GIFT MESSAGE'); ?></b>
											</font>
										</td>
									</tr>
									<tr>
									<td style="color: #666666; line-height: 1.3em;" colspan="5" class = "inspectlet-sensitive">
											<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
												<i><?php echo $giftMessage; ?></i>
											</font>
										</td>
									</tr>
								<?php endif; ?>

								<?php if($specialInstructions = $shipmentOrder->getSpecialInstructions()): ?>
									<tr class="message-header">
										<td height="35" valign="bottom" style="color: #b2b2b2; vertical-align: bottom;" colspan="5">
											<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
												<b><?php echo $this->__('SPECIAL INSTRUCTIONS'); ?></b>
											</font>
										</td>
									</tr>
									<tr>
									<td style="color: #666666; line-height: 1.3em;" colspan="5" class = "inspectlet-sensitive">
											<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
												<i><?php echo $specialInstructions; ?></i>
											</font>
										</td>
									</tr>
								<?php endif; ?>
							<?php endif; ?>

						</table>
					</td>
				</tr>
			</table>

			<table class="receipt-totals" width="650" cellpadding="0" cellspacing="0">
				<tr>
					<td style="background-color: #f4f4f4;">
						<table width="614" align="center" cellpadding="0" cellspacing="0">
							<tr class="divider">
								<td height="20" colspan="3" style="line-height: 0; font-size: 0;">&nbsp;</td>
							</tr>
							<tr class="subtotal">
								<td width="100%" style="text-align: right; color: #666666;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b><?php echo $this->__('Subtotal'); ?></b>
									</font>
								</td>
								<td width="30">&nbsp;</td>
								<td style="text-align: right; color: #666666;" class = "inspectlet-sensitive">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b><?php echo Mage::helper('core')->currency($shipmentOrder->getSubtotal(),true,false); ?></b>
									</font>
								</td>
							</tr>
                            <?php if (($discountAmount = $shipmentOrder->getDiscountAmount()) && abs($discountAmount) != 0): ?>
                                <?php
                                    $ruleIds = explode(',', $shipmentOrder->getAppliedRuleIds());
                                    $discountLabels = array();
                                    foreach ($ruleIds as $ruleId)
                                    {
                                        $rule = Mage::getModel('salesrule/rule')->load($ruleId);
                                        $label = $rule->getStoreLabel();

                                        if (empty($label))
                                        {
                                            $label = $this->__('Discount');
                                        }

                                        $discountLabels[] = $label;
                                    }

                                    $discountLabel = implode(',', $discountLabels);
                                ?>
	                            <tr class="discount">
	                                <td width="100%" style="text-align: right; color: #666666;">
	                                    <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
	                                        <b><?php echo $discountLabel; ?></b>
	                                    </font>
	                                </td>
	                                <td width="30">&nbsp;</td>
                                <td style="text-align: right; color: #666666;" class = "inspectlet-sensitive">
	                                    <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
	                                        <b><?php echo Mage::helper('core')->currency($discountAmount,true,false); ?></b>
	                                    </font>
	                                </td>
	                            </tr>
                            <?php endif; ?>
							<tr class="shipping">
								<td width="100%" style="text-align: right; color: #666666;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b><?php echo $this->__('Shipping'); ?></b>
									</font>
								</td>
								<td width="30">&nbsp;</td>
								<td style="text-align: right; color: #666666;" class = "inspectlet-sensitive">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b><?php echo Mage::helper('core')->currency($shipmentOrder->getShippingAmount(),true,false); ?></b>
									</font>
								</td>
							</tr>
							<tr class="divider">
								<td height="7" colspan="3" style="line-height: 0; font-size: 0;">&nbsp;</td>
							</tr>
							<tr class="grand-total">
								<td width="100%" style="text-align: right; color: #666666;" class = "inspectlet-sensitive">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b style="font-size: 1.05em;"><?php echo $this->__('Shipment Total'); ?> <?php if ($showShipmentCount): ?> #<?php echo $index + 1; ?><?php endif; ?></b>
									</font>
								</td>
								<td width="30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td style="text-align: right; color: #666666;" class = "inspectlet-sensitive">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b style="font-size: 1.05em;"><?php echo Mage::helper('core')->currency(($shipmentOrder->getSubtotalInclTax() + $shipmentOrder->getShippingAmount() + $shipmentOrder->getDiscountAmount()),true,false); ?></b>
									</font>
								</td>
							</tr>
							<tr class="divider padding-collapse">
								<td height="20" colspan="3" style="line-height: 0; font-size: 0;">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	<?php endforeach; ?>

<?php else: // Multiship shipment update and order template below this point ?>

	<?php if($order->getCustomerId()): // currently this is the *working* way to determine if customer is a guest ?>
		<table width="650" cellpadding="0" cellspacing="0" style="background-color: #f8f8f8;">
			<tr>
				<td height="18" style="line-height: 0; font-size: 0;">&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align: center;">
					<a href="<?php echo $this->getUrl('sales/order/history'); ?>"><img style="border: 0;" src="<?php echo $this->getSkinUrl('images/email/icon-account.png'); ?>" alt="<?php echo $this->__('Your Fran\'s account'); ?>" /></a>
				</td>
			</tr>
			<tr>
				<td style="text-align: center; line-height: 1.7em;">
					<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
						<a style="color: #88551e; text-decoration: none;" href="<?php echo $this->getUrl('sales/order/history'); ?>"><?php echo $this->__('View your account'); ?></a>
					</font>
				</td>
			</tr>
			<tr>
				<td style="text-align: center; line-height: 1.1em;">
					<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
						<a style="color: #666666; text-decoration: none;" href="<?php echo $this->getUrl('sales/order/history'); ?>"><?php echo $this->__('for a detailed summary of this order.'); ?></a>
					</font>
				</td>
			</tr>
			<tr>
				<td height="30" style="line-height: 0; font-size: 0;">&nbsp;</td>
			</tr>
		</table>
	<?php endif; ?>
	<?php
    /** @var GoSolid_Frans_Model_Sales_Order $shipmentOrder */
    foreach($shipmentOrders as $index => $shipmentOrder): ?>
		<?php
            $shippingAddress = $shipmentOrder->getShippingAddress();
            $hasShipment = $this->hasShipment($shipmentOrder);
            $trackingNumber = $shipmentOrder->getTracksCollection()->getFirstItem()->getTrackNumber();
            $shipmentNumber = $shipmentOrder->getShipmentsCollection()->getFirstItem()->getIncrementId();
            $isCanceled = $shipmentOrder->isCanceled();
            $onHold = $shipmentOrder->getIsOnHold();
        ?>

		<table width="650" cellpadding="0" cellspacing="0" class="shipment-header">
			<tr>
				<td height="24" style="line-height: 0; font-size: 0;">&nbsp;</td>
			</tr>
			<tr class="divider">
				<td style="color: #666666; height: 40px; vertical-align: middle;">
					<?php //if(count($shipmentOrders) > 1): ?>
						<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="3">
							<b><?php echo $this->__('SHIPMENT'); ?>&nbsp;<?php echo $index + 1; ?>&nbsp;of&nbsp;<?php echo count($shipmentOrders); ?>&nbsp;&nbsp;</b>
						</font>
					<?php //endif; ?>
				</td>
				<td width="100%" style="background: transparent url('<?php echo $this->getSkinUrl('images/email/divider-shipment.png'); ?>') repeat-x left center; line-height: 0;">
					<hr size="1" color="d8d8d8" style="display: none;" />
				</td>
			</tr>
		</table>

		<table width="650" cellpadding="0" cellspacing="0">
			<tr>
				<td valign="top" style="vertical-align: top;">
					<table cellpadding="0" cellspacing="0">
						<tr>
							<td style="color: #b2b2b2;">
								<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
                                    <b><?php echo $this->__('TRACKING NUMBER'); ?></b>
                                </font>
							</td>
						</tr>
                        <tr>
                            <td height="12" style="line-height: 0; font-size: 0;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="color: #666666;">
                                <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
                                    <?php if($hasShipment):?>
                                        <a href="<?php echo $trackingBaseUrl . $trackingNumber?>" style="color: #88551e; text-decoration: none;" title="<?php echo $this->__('Track this shipment with FedEx'); ?>"><b><?php echo $trackingNumber; ?></b></a>
                                    <?php elseif ($isCanceled): ?>
                                        <b><?php echo $this->__('Canceled'); ?></b>
                                    <?php elseif ($onHold): ?>
                                        <b><?php echo $this->__('On Hold'); ?></b>
                                    <?php else:?>
                                        <b><?php echo $shipmentOrder->getStatusLabel(); ?></b>
                                    <?php endif;?>
                                </font>
                            </td>
                        </tr>
					</table>
				</td>
				<td valign="top" style="vertical-align: top;">
					<table cellpadding="0" cellspacing="0">
						<tr>
							<td style="color: #b2b2b2;">
								<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
									<b><?php echo $this->__('SHIPMENT NUMBER'); ?></b>
								</font>
							</td>
						</tr>
						<tr>
							<td height="12" style="line-height: 0; font-size: 0;">&nbsp;</td>
						</tr>
						<tr>
							<td style="color: #666666;">
								<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
									<?php echo $shipmentNumber; ?>
								</font>
							</td>
						</tr>
					</table>
				</td>
				<td valign="top" style="vertical-align: top;">
					<table cellpadding="0" cellspacing="0">
						<tr class="header">
							<td style="color: #b2b2b2;">
								<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
									<b><?php echo $this->__('SHIPPING ADDRESS'); ?></b>
								</font>
							</td>
						</tr>
						<tr>
							<td height="12" style="line-height: 0; font-size: 0;">&nbsp;</td>
						</tr>
						<tr>
							<td style="color: #666666;">
								<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
									<b><?php echo $shippingAddress->getFirstname() . ' ' . $shippingAddress->getLastname(); ?></b>
								</font>
							</td>
						</tr>
						<tr>
							<td style="color: #666666;" class = "inspectlet-sensitive">
								<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
									<?php echo nl2br($shippingAddress->getStreetFull()); ?>
								</font>
							</td>
						</tr>
						<tr>
							<td style="color: #666666;" class = "inspectlet-sensitive">
								<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
									<?php echo $shippingAddress->getCity(); ?>, <?php echo $shippingAddress->getRegionCode(); ?> <?php echo $shippingAddress->getPostcode(); ?>
								</font>
							</td>
						</tr>
						<tr>
							<td style="color: #666666;" class = "inspectlet-sensitive">
								<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
									<?php echo Mage::app()->getLocale()->getCountryTranslation($shippingAddress->getCountry()); ?>
								</font>
							</td>
						</tr>
						<tr>
							<td style="color: #666666;" class = "inspectlet-sensitive">
								<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
									<?php echo $shippingAddress->getTelephone(); ?>
								</font>
							</td>
						</tr>
					</table>
				</td>
				<td valign="top" style="vertical-align: top;">
					<table cellpadding="0" cellspacing="0">
						<tr class="header">
							<td style="color: #b2b2b2;">
								<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
									<b><?php echo $this->__('DELIVERY'); ?></b>
								</font>
							</td>
						</tr>
						<tr>
							<td height="12" style="line-height: 0; font-size: 0;">&nbsp;</td>
						</tr>
                        <?php if ($isCanceled): ?>
                            <tr>
                                <td style="color: #666666;">
                                    <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
                                        <?php echo $this->__('N / A'); ?>
                                    </font>
                                </td>
                            </tr>
                        <?php else: ?>
                            <tr>
                                <td style="color: #666666;" class = "inspectlet-sensitive">
                                    <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
                                        <?php echo Mage::helper('frans')->prettyDate($shipmentOrder->getPreferredArrivalDate()); ?>
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td height="12" style="line-height: 0; font-size: 0;">&nbsp;</td>
                            </tr>
                            <tr class="shipping-method">
                                <td style="color: #666666;" class = "inspectlet-sensitive">
                                    <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
                                        <b><?php echo $this->__('Via'); ?> <?php echo Mage::helper('frans')->maskedShippingMethod($shipmentOrder->getShippingMethod(), $shipmentOrder->getShippingDescription()); ?></b>
                                    </font>
                                </td>
                            </tr>
                        <?php endif; ?>

					</table>
				</td>
			</tr>
		</table>
	<?php endforeach; ?>
<?php endif; ?>