<?php $store = $this->getRetailStore(); // GoSolid_Frans_Model_RetailStore ?>
<?php $isPickedUp = $this->getIsPickedUp(); ?>

<?php if(!$isPickedUp): ?>
	<table width="650" cellpadding="0" cellspacing="0" class="shipment-header">
		<tr>
			<td height="7" style="line-height: 0; font-size: 0;">&nbsp;</td>
		</tr>
		<tr>
			<td style="color: #666666; height: 40px; vertical-align: middle;">
				<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="3">
					<b><?php echo $this->__('TO&nbsp;BE&nbsp;PICKED&nbsp;UP&nbsp;AT'); ?>&nbsp;&nbsp;</b>
				</font>
			</td>
			<td width="100%" style="background: transparent url('<?php echo $this->getSkinUrl('images/email/divider-shipment.png'); ?>') repeat-x left center; line-height: 0;">
				<hr size="1" color="d8d8d8" style="display: none;" />
			</td>
		</tr>
	</table>
<?php endif; ?>

<table width="634" style="border: none;" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td colspan="3" height="14" style="line-height: 0; font-size: 0;">&nbsp;</td>
	</tr>
    <tr>
        <td width="55" style="vertical-align: top;">
	        <img style="border: 0;" src="<?php echo $this->getSkinUrl('images/email/pickup-icon.png'); ?>" />
        </td>
        <td style="vertical-align: top;">
	        <table cellpadding="0" cellspacing="0">
		        <tr>
		            <td style="color: #666666;">
			            <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
			                <b><?php echo strtoupper($store->getName()); ?></b>
			            </font>
		            </td>
			    </tr>
		        <tr>
		            <td style="color: #666666;">
			            <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
			                <?php echo $store->getAddress1(); ?>
		                </font>
		            </td>
		        </tr>
		        <?php if(strlen(trim( $store->getAddress2() )) > 0 ) : ?>
		            <tr>
		                <td style="color: #666666;">
			                <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
			                    <?php echo $store->getAddress2(); ?>
		                    </font>
		                </td>
			        </tr>
	            <?php endif; ?>
				<tr>
		            <td style="color: #666666;">
			            <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				            <?php echo $store->getCity(); ?>, <?php echo $store->getRegion(); ?> <?php echo $store->getPostalCode(); ?>
		                </font>
		            </td>
				</tr>
		        <tr>
		            <td style="color: #666666;">
			            <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
			                <?php echo $store->getPhone(); ?>
		                </font>
		            </td>
		        </tr>
		        <?php if(count($store->getStoreHours()) > 0 ): ?>
			        <tr>
				        <td height="12" style="line-height: 0; font-size: 0;">&nbsp;</td>
			        </tr>
		            <tr>
		                <td style="color: #666666;">
			                <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				                <b><?php echo $this->__('Store Hours'); ?>:</b>
		                    </font>
		                </td>
			        </tr>
	                <?php foreach($store->getStoreHours() as $lines): ?>
			            <tr>
		                    <td style="color: #666666;">
			                    <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
			                        <?php echo $lines["days"] . " " . $lines["hours"]; ?>
		                        </font>
		                    </td>
				        </tr>
	                <?php endforeach; ?>
	            <?php endif; ?>
		        <tr>
			        <td height="12" style="line-height: 0; font-size: 0;">&nbsp;</td>
		        </tr>
				<tr>
		            <td style="color: #666666;">
			            <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				            <?php if($isPickedUp): ?>
			                    <b><?php echo $this->__('We look forward to seeing you again soon!'); ?></b>
				            <?php else: ?>
					            <b><?php echo $this->__('We look forward to seeing you soon!'); ?></b>
				            <?php endif; ?>
		                </font>
		            </td>
		        </tr>
	        </table>
        </td>
        <td style="vertical-align: top; text-align: right;">
            <a href = "<?php echo $store->getMapsUrl();?>"><img style="border: 0;" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $store->getMapImage(); ?>" /><a/>
        </td>
    </tr>
</table>


