<?php
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Webcomm Pty Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
?>
<?php $_product = $this->getProduct(); ?>
<?php $buttonTitle = $this->__('Add to Cart'); ?>
<?php $isConfigurable = ($_product->getTypeId() == Mage_Catalog_Model_Product_Type_Configurable::TYPE_CODE); ?>

<div class="add-to-cart">

	<?php if($_product->getCallToOrder() || $isConfigurable): ?>
		<div class="call-to-order <?php if($isConfigurable): ?>hidden<?php endif; ?>">
			<p class="unavailable-header"><?php echo $this->__("Call Us"); ?></p>
			<p class="unavailable-label"><?php echo $this->__("We're sorry, this item is not currently available for online orders."); ?></p>
			<p class="unavailable-label"><?php echo $this->__("Please call us at %s to place your order.", Mage::getStoreConfig('general/store_information/tollfree_number')); ?></p>
		</div>
	<?php endif; ?>

	<?php if((!$_product->isSaleable() && !$_product->getCallToOrder()) || $isConfigurable): ?>
		<div class="out-of-stock <?php if($isConfigurable): ?>hidden<?php endif; ?>">
			<p class="unavailable-header"><?php echo $this->__("Fresh Out"); ?></p>
			<p class="unavailable-label"><?php echo $this->__("We're sorry, this item is not currently available."); ?></p>
		</div>
	<?php endif; ?>

	<?php if(($_product->isSaleable() && !$_product->getCallToOrder()) || $isConfigurable): ?>
	    <?php if(!$_product->isGrouped()): ?>
	        <div class="in-stock input-group">
	            <span class="input-group-btn">
	                <button type="button" title="<?php echo $buttonTitle; ?>" class="button btn btn-cart" onclick="productAddToCartForm.submit(this);"><span><span><?php echo $buttonTitle; ?></span></span></button>
	                <?php echo $this->getChildHtml('', true, true); ?>
	            </span>
	        </div>
	    <?php else: ?>
	        <button type="button" title="<?php echo $buttonTitle; ?>" class="button btn-cart" onclick="productAddToCartForm.submit(this);"><span><span><?php echo $buttonTitle; ?></span></span></button>
	        <?php echo $this->getChildHtml('', true, true); ?>
	    <?php endif; ?>
	<?php endif; ?>

</div>

<script id="availability-data" type="application/json">
	<?php echo $this->getJsonAvailabilityStatuses(); // make availability statuses available to client as JSON for DOM manipulation ?>
</script>

<script type="application/javascript">

	function isAvailabilityStatusOutOfStock(status){
		return (status === <?php echo GoSolid_Frans_Block_Catalog_Product_View::AVAILABILITY_STATUS_OUT_OF_STOCK; ?>);
	}

	function isAvailabilityStatusCallToOrder(status){
		return (status === <?php echo GoSolid_Frans_Block_Catalog_Product_View::AVAILABILITY_STATUS_CALL_TO_ORDER; ?>);
	}

</script>