<?php
/**
 * Product media data template
 *
 * @see Mage_Catalog_Block_Product_View_Media
 */
?>

<script id="gallery-data" type="application/json">
	<?php echo $this->getJsonGalleries(); ?>
</script>

<div id="media-gallery" class="product-img-box">
	<?php echo $this->getSelectedProductGalleryHtml(); ?>
</div>