<?php $piece = $this->getPiece(); ?>
<?php $qty = $this->getQty(); ?>

<div class="product-piece-image" style="background-image: url('<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $piece->getPath(); ?>');"></div>
<div class="product-piece-details">
	<span class="product-piece-name"><?php echo $qty; ?> <?php echo $piece->getPieceLabel(); ?></span>
	<p><?php echo $piece->getPieceDescription(); ?></p>
</div>
