<?php $product = $this->getProduct(); ?>
<?php $qty = $this->getQty(); ?>
<?php $imageHelper = $this->helper('catalog/image'); ?>

<a href="<?php echo $product->getProductUrl(); ?>">
	<div class="product-piece-image" style="background-image: url('<?php echo $imageHelper->init($product, 'small_image')->resize(722, 100); ?>');"></div>
	<div class="product-piece-details">
		<span class="product-piece-name"><?php echo $qty; ?> <?php echo $product->getName(); ?></span>
		<p><?php echo $product->getShortDescription(); ?></p>
	</div>
</a>