<div class="row frans-story-header">
	<div class="col-xs-12 frans-story-portrait-wrapper">
		<div class="frans-story-portrait"></div>
	</div>
	<div class="hidden-xs frans-story-chocolate-wrapper">
		<div class="row frans-story-chocolate-toprow">
			<div class="col-xs-12">
				<div class="frans-story-chocolate-top"></div>
			</div>
		</div>
		<div class="row frans-story-chocolate-bottomrow">
			<div class="col-xs-12">
				<div class="frans-story-chocolate-bottom"></div>
			</div>
		</div>
	</div>
</div>