<?php

	// use a URL param to open a specific email form (see "form" child block)
	$openForm = $this->getRequest()->getParam('form', false);

	// use a URL param to open either the "call" or "email" tab automatically; an $openForm value forces this to "email"
	$openTab = empty($openForm) ? $this->getRequest()->getParam('tab', false) : 'email';
	
	// if the URL param didn't specify the "email" tab, default to the "call" tab
	if($openTab !== 'email'){ $openTab = 'call'; }
	
	// contact form field values
	$shopUrlPath = Mage::getStoreConfig('frans/business_gifting_options/shop_link_path');
	$firstName = '';
	$lastName = '';
	$businessName = '';
	$email = '';
	$phone = '';
	
	if($this->helper('customer')->isLoggedIn())
	{
		$customer = Mage::getSingleton('customer/session')->getCustomer();
		$firstName = $customer->getFirstname();
		$lastName = $customer->getLastname();
		$businessName = $customer->getCompanyName();
		$email = $customer->getEmail();
		if($customer->getPrimaryBillingAddress()){
			$phone = $customer->getPrimaryBillingAddress()->getTelephone();
		}
	}

	// grab the banner for this page from the Banners module
	$banner = $this->getBanner();
	
?>

<?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>

<div class="row backdrop">
	<div class="contact-header-wrapper col-xs-12">
		<div class="contact-header" style="background-image: url('<?php echo $banner->getImageUrl(); ?>');"></div>
	</div>
</div>
<div class="frans-container contact-content">

	<div class="row">

		<div class="col-xs-12">

			<div class="content-tabs">

				<h3><?php echo $this->__("We're Here to Help"); ?></h3>
				<span><?php echo $this->__('Nothing is more important to us than your complete satisfaction.'); ?></span>

				<ul>
					<li>
						<a class="contact-call<?php if($openTab === 'call') echo ' active'; ?>" href="javascript:void(0);">
							<span class="icon"></span>
							<?php echo $this->__('Give us a call'); ?>
						</a>
					</li>
					<li>
						<a class="contact-mail<?php if($openTab === 'email') echo ' active'; ?>" href="javascript:void(0);">
							<span class="icon"></span>
							<?php echo $this->__('Send us a message'); ?>
						</a>
					</li>
				</ul>
				<div class="tab call-info" <?php if($openTab !== 'call') echo 'style="display: none;"'; ?>>
					<?php echo $this->getChildHtml('contacts.info'); ?>
				</div>
				<div class="tab email-form" <?php if($openTab !== 'email') echo 'style="display: none;"'; ?>>
					<?php echo $this->getChildHtml('contacts.form'); ?>
				</div>
				<div class="tab success-message" style="display: none;">
					<div class="contact-success-wrapper">
						<?php echo $this->__("Thank you for contacting Fran's, we will be in touch with you shortly."); ?>
					</div>
				</div>
				<script type="text/javascript">
			    //<![CDATA[

					jQuery('.contact-call').on('click', function(){
						toggleEmailTab(false);
						toggleCallTab();
					});

					jQuery('.contact-mail').on('click', function(){
						toggleCallTab(false);
						toggleEmailTab();
					});

					function toggleCallTab(doShow){
						var control = jQuery('.contact-call');
						var display = jQuery('.call-info');
						var success = jQuery('.success-message');
						if(typeof(doShow) === 'undefined'){
							doShow = !control.hasClass('active');
						}
						if(doShow){
							resetValidation();
							control.addClass('active');
							display.fadeIn();
						} else {
							control.removeClass('active');
							display.hide();
						}
						success.fadeOut();
					}

					function toggleEmailTab(doShow){
						var control = jQuery('.contact-mail');
						var display = jQuery('.email-form');
						var success = jQuery('.success-message');
						if(typeof(doShow) === 'undefined'){
							doShow = !control.hasClass('active');
						}
						if(doShow){
							resetValidation();
							control.addClass('active');
							display.fadeIn();
						} else {
							control.removeClass('active');
							display.hide();
						}
						success.fadeOut();
					}

			    //]]>
			    </script>
			</div>
		</div>
	</div>
</div>
<?php echo $this->getChildHtml('businessgifting.passrequirements'); ?>