<?php

	// use a URL param to open a specific email form
	$openForm = $this->getRequest()->getParam('form', false);

	// define the forms in the order they'll appear in the dropdown
	$forms = array(
		'order-assistance'      => $this->__('Order Assistance'),
		'catalog-request'       => $this->__('Requesting a Catalogue'),
		'press-inquiries'       => $this->__('Press Inquiries'),
		'donations'             => $this->__('Donations'),
		'jobs'                  => $this->__('Jobs'),
		'wholesale'             => $this->__('Wholesale'),
		'international-orders'  => $this->__('International Orders'),
		'other'                 => $this->__('Other')
	);

	// determine which option element gets the "selected" flag to open that form immediately
	$selectedFlags = array();
	$selectedForm = array_key_exists($openForm, $forms) ? $openForm : 'default';
	$selectedFlags[$selectedForm] = 'selected';

?>

<div class="contact-form-wrapper">
	<span class="form-header"><?php echo $this->__('I would like to inquire about:'); ?></span>

	<div class="form-wrapper">
		<div class="form-row">
			<div class="col-xs-12">
				<select id="action" name="action" title="<?php echo $this->__('Select an option'); ?>">
					<option value="" disabled <?php echo $selectedFlags['default']; ?>><?php echo $this->__('Select an option'); ?></option>
					<?php foreach($forms as $value => $label): ?>
						<option value="<?php echo $value; ?>" <?php echo $selectedFlags[$value]; ?>><?php echo $label; ?></option>
					<?php endforeach; ?>
				</select>
			</div>
		</div>
	</div>

	<?php echo $this->getChildHtml('contacts.form.catalogrequest'); ?>
	<?php echo $this->getChildHtml('contacts.form.orderassistance'); ?>
    <?php echo $this->getChildHtml('contacts.form.jobs'); ?>
	<?php echo $this->getChildHtml('contacts.form.internationalorders'); ?>
	<?php echo $this->getChildHtml('contacts.form.other'); ?>

	<script type="text/javascript">
	//<![CDATA[

		var formSelect = jQuery('#action');

		formSelect.on('change', function(){
			switchForm(jQuery(this).val());
		});

		function resetValidation(){
			catalogRequestForm.validator.reset();
			orderAssistanceForm.validator.reset();
			otherForm.validator.reset();
		}

		function switchForm(formAction){
			var formId;
			switch(formAction){
				case null:
					formId = 'default';
					break;
				case 'catalog-request':
				case 'order-assistance':
                case 'jobs':
				case 'international-orders':
					formId = formAction;
					break;
				default:
					formId = 'other';
					break;
			}
			jQuery('form:not(#'+formId+')').hide();
			jQuery('form#'+formId).css('display', 'block');
			if (jQuery.placeholder) {
				// wait a bit to give the DOM time to update first
				setTimeout(function() {
					jQuery.placeholder.shim();
				}, 500);
			}
			// declare the specific form action in the hidden input within the form
			jQuery('form#'+formId+' .form-action').val(formAction);
		}

		// switch the form immediately to set up page
		switchForm(formSelect.val());

		setTimeout(function(){
			var forms = document.querySelectorAll('.contact-form');
			for(var i = 0; i < forms.length; i++){
				forms[i].setAttribute('action', decodeURIComponent("<?php echo strtr(rawurlencode($this->getUrl('*/*/post')), array('%21'=>'!', '%2A'=>'*', '%27'=>"'", '%28'=>'(', '%29'=>')')); ?>"));
			}
		}, 2500);

	//]]>
	</script>
</div>