<?php
	$stores = Mage::getModel('frans/retailStore')->getActiveFrontendStores();
	$media = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);
?>

<div class="contact-calltab">

	<div class="hours">
		<ul>
			<li class="header"><?php echo $this->__('Customer Service'); ?></li>
			<li><strong><?php echo Mage::getStoreConfig('general/store_information/tollfree_number'); ?></strong></li>
			<li><?php echo Mage::getStoreConfig('general/store_information/weekday_hours'); ?></li>
			<li><?php echo Mage::getStoreConfig('general/store_information/weekend_hours'); ?></li>
		</ul>
		<ul>
			<li><strong><?php echo Mage::getStoreConfig('general/store_information/phone'); ?></strong></li>
			<li><?php echo Mage::getStoreConfig('general/store_information/business_contact_hours'); ?></li>
		</ul>
	</div>

	<div class="stores">
		<div class="row">
			<div class="col-xs-12">
				<span class="header"><?php echo $this->__('Store Information'); ?></span>
			</div>
		</div>
		<div class="row">

			<?php foreach($stores as $store): ?>
				<?php $hours = $store->getStoreHours(); ?>
				<div class="store-detail col-ms-6 col-md-3">
                    <a href="<?php echo $this->getUrl('stores/' . $store->getUrlKey()); ?>" >
					    <img class="store-thumbnail" src="<?php echo $media . $store->getStoreImageThumbnail(); ?>" />
                     </a>
					<ul>
						<li class="store-name"><?php echo $store->getName(); ?></li>
						<?php foreach($hours as $time): ?>
							<li><?php echo $time['days']; ?>: <?php echo $time['hours']; ?></li>
						<?php endforeach;?>
						<li class="store-phone"><?php echo $store->getPhone(); ?></li>
					</ul>
				</div>
			<?php endforeach; ?>

		</div>
	</div>
	
</div>