<?php
/**
 * Frans Override
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2012 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */

/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<?php $_productIds = $this->getProductIds(); ?>
<?php $_availabilityStatuses = $this->getAvailabilityStatuses(); ?>
<?php $_selectedProductId = $this->getSelectedProductId(); ?>
<?php $_formActionExtraParams = $this->getFormActionExtraParams(); ?>

<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">
    <div class="product-essential clearfix">
	    <form action="<?php echo $this->getSubmitUrl($_product, $_formActionExtraParams); ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>

		    <div class="product-name">
			    <h2 id="product-name-label"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h2>
			    <h3 id="color-tile-label"><?php echo $this->getSelectedColorTileLabel(); ?></h3>
		    </div>

		    <?php echo $this->getChild('media')->setProductIds($_productIds)->setSelectedProductId($_selectedProductId)->toHtml(); ?>

	        <div class="product-shop">

		        <?php echo $this->getChildHtml('product_type_data'); ?>
		        <?php echo $this->getChild('addtocart')->setAvailabilityStatuses($_availabilityStatuses)->toHtml(); ?>

	        </div>

	    </form>
    </div>

    <div class="product-collateral">
	    <?php echo $this->getChild('additional')->setProductIds($_productIds)->setSelectedProductId($_selectedProductId)->toHtml(); ?>
        <?php echo $this->getChildHtml('upsell_products'); ?>
        <?php echo $this->getChildHtml('product_additional_data'); ?>
    </div>

</div>

<script type="text/javascript">
	//<![CDATA[

	var productAddToCartForm = new VarienForm('product_addtocart_form');
	productAddToCartForm.submit = function(button, url) {

		var qtyField = jQuery('#product_addtocart_form input.qty');

		if(isNaN(parseInt(qtyField.val())) || qtyField.val() < 1){
			qtyField.val(1);
		}

		if (this.validator.validate()) {
			var form = this.form;
			var oldUrl = form.action;

			if (url) {
				form.action = url;
			}
			var e = null;
			try {
				this.form.submit();
			} catch (e) {
			}
			this.form.action = oldUrl;
			if (e) {
				throw e;
			}

			if (button && button != 'undefined') {
				button.disabled = true;
			}
		}
	}.bind(productAddToCartForm);

	productAddToCartForm.submitLight = function(button, url){
		if(this.validator) {
			var nv = Validation.methods;
			delete Validation.methods['required-entry'];
			delete Validation.methods['validate-one-required'];
			delete Validation.methods['validate-one-required-by-name'];
			// Remove custom datetime validators
			for (var methodName in Validation.methods) {
				if (methodName.match(/^validate-datetime-.*/i)) {
					delete Validation.methods[methodName];
				}
			}

			if (this.validator.validate()) {
				if (url) {
					this.form.action = url;
				}
				this.form.submit();
			}
			Object.extend(Validation.methods, nv);
		}
	}.bind(productAddToCartForm);

	//]]>
</script>
