<?php $testNames = $this->getTestNames(); ?>
<div id="gosolid-test-list">
	<div class="entry-edit box-left" >
		<div class="entry-edit-head ">
			<h4><?php echo $this->__('Tests')?></h4>
		</div>
		<fieldset id="test-names" class="config ">
			<?php if (count($testNames) > 0): ?>
				<p>Select the tests you wish to run.</p>
				<form action="" method="post">
				<table cellspacing="0" class="form-list grid" id="test-name-list">
					<tbody>
						<?php foreach($testNames as $testName):?>
							<tr>
								<td>
									<input type="checkbox" name="testNames[]" value="<?php echo $testName; ?>" id="test_<? echo $testName; ?>" />
								</td>
								<td><label for="test_<?php echo $testName; ?>"> <?php echo $testName; ?></label></td>
							</tr>
						<?php endforeach;?>
					</tbody>
				</table>
				<button onclick="submitForm(this)" class="scalable" type="button" id="create-module">
					<span><?php echo $this->__('Run Tests')?></span>
				</button>
				</form>
			<?php else: ?>
			<p>No tests found. They should be in the tests directory and end in .php.</p>
			<?php endif; ?>
		</fieldset>
	</div>
</div>
<div class="clear">
</div>
<div>
	<div class="entry-edit box-left" id="test-results" style="display:none;">
		<div class="entry-edit-head ">
			<h4><?php echo $this->__('Test Results')?></h4>
		</div>
		<textarea id="test-output" rows="20" cols="100" style="width:100%"></textarea>
	</div>
</div>
<script type="text/javascript">
	
var moduleName = 'New';

function submitForm(el)
{
	var $ = jQuery;
	var $form = $(el).parents('form');
	

    var options = {
			url: '<?php echo $this->getUrl('*/adminhtml_test/run')?>',
			data: $form.serialize(),
			success: function(response){
					$('#test-results').show();
					$('#test-output').val(response);
				}
    	};

	$.ajax(options);
	
    return false;
}

</script>