<?php $cols = 2; ?>

<div class="gift-services-header">
	<p><strong><?php echo $this->__("A box of chocolates is always in good taste."); ?></strong></p>
	<p><?php echo $this->__("We strive to ensure that gift giving with Fran’s is a delicious experience, from start to finish."); ?></p>
</div>

<?php echo $this->getHtml($cols); ?>