<h5><?php echo $this->__('Shipping & Packaging'); ?></h5>
<p><?php echo $this->__("Nothing is more important to us than your complete satisfaction. That is why we take great care creating our chocolates and hand packing your order. Please note that all of our chocolates are shipped via local, two-day or overnight methods due to perishability."); ?></p>