<?php
/**
 * Frans
 */
?>
<div class="cart">

	<h1 class="page-title"><?php echo $this->__('Shopping Cart'); ?></h1>

    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php echo $this->getChildHtml('checkout_cart_empty_widget'); ?>

    <p class="cart-empty"><?php echo $this->__('Your Shopping Bag is Empty.') ?></p>

    <?php if($this->getContinueShoppingUrl()): ?>
	    <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Back to Shopping')); ?>" class="button plain back left btn-continue" onclick="setLocation('<?php echo Mage::helper('core')->quoteEscape($this->getContinueShoppingUrl()); ?>');">
		    <span><?php echo $this->__('Back to Shopping'); ?></span>
	    </button>
    <?php endif; ?>
    <?php echo $this->getChildHtml('shopping.cart.table.after'); ?>

</div>