<?php
/**
 * Frans
 */
?>
<?php
	$currentCategory = Mage::registry('current_category');
    $banner = GoSolid_Banner_Block_Banner::getFirstBanner('arrival_dates_calender');
	$display = (!$currentCategory || ($currentCategory->getChildren() == ''));

?>

<?php if($display): ?>
	<div class="arrival-dates">
        <div class="image" title="<?php echo $banner->getTooltip(); ?>">
            <img src="<?php echo $banner->getImageUrl(); ?>" />
        </div>

		<div class="content">
			<?php echo $this->getChildHtml('cms_arrival_dates') ?>
		</div>
	</div>
<?php endif; ?>