<?php

	// TODO: Adjust template for more flexible handling of different row sizes, right now it's just built for "two"

	$banners = $this->getBanners();
	$bannerIndex = 1;
	$bannerCount = $banners->count();
	$stores = Mage::getModel('frans/retailStore')->getActiveFrontendStores();

	$heroHtml = $this->getChildHtml('hero');

	$retailBanner = $this->getRetailBanner();

?>

<?php echo $heroHtml; ?>
<?php $bannerCount = $banners->getSize(); ?>
<div class="frans-container home-content">

	<?php foreach($banners as $banner): ?>
		<?php if($bannerIndex % 2 == 1): ?>
			<div class="tile-row two">
		<?php endif; ?>

			<?php echo $this->getBannerHtml($banner, 2, $bannerIndex); ?>
			<?php if($bannerIndex === $bannerCount):?>
				<?php echo $this->getNewsletterTileHtml(); ?>
			<?php endif; ?>

		<?php if($bannerIndex % 2 == 0 || $bannerIndex == $bannerCount): ?>
			</div>
		<?php endif; ?>

		<?php // interrupt the banner loop with the retail store tile ?>
		<?php if($bannerIndex == 4): ?>
			<div class="tile-row one stores-banner">
				<div class="tile one">
					<div class="tile-content">
						<div class="tile-image"<?php if($retailBanner->hasImage()): ?> style="background-image: url('<?php echo $retailBanner->getImageUrl(); ?>');"<?php endif; ?> data-url="<?php echo $this->getUrl('stores'); ?>">
							<div class="stores-content">
								<?php if($retailBanner->hasTitle()): ?><h3><a href="<?php echo $this->getUrl('stores'); ?>"><?php echo $retailBanner->getTitle(); ?></a></h3><?php endif; ?>
								<?php if($retailBanner->hasSubtitle()): ?><span><?php echo $retailBanner->getSubtitle(); ?></span><?php endif; ?>
								<div class="accent-divider"></div>
								<ul>
									<?php foreach($stores as $store): ?>
										<li>
											<a href="<?php echo $this->getUrl('stores/' . $store->getUrlKey()); ?>">
												<?php echo $store->getName(); ?>
											</a>
										</li>
									<?php endforeach; ?>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		<?php endif; ?>

		<?php $bannerIndex++; ?>
	<?php endforeach; ?>


</div>