<?php

	/* standard "footer" with contact info for use in various content areas and email templates */

	$header         = $this->hasHeader() ? $this->getHeader() : $this->__('For immediate assistance please call us:');
	$weekdayHours   = Mage::getStoreConfig('general/store_information/weekday_hours');
	$weekendHours   = Mage::getStoreConfig('general/store_information/weekend_hours');
	$phoneNumber    = Mage::getStoreConfig('general/store_information/tollfree_number');
	$email          = Mage::getStoreConfig('trans_email/ident_general/email');
	$footer         = $this->hasFooter() ? $this->getFooter() : false;

	$linesToHide    = $this->hasHideLines() ? $this->getHideLines() : array();

?>

<?php if($this->getUseEmailFormatting()): ?>

	<table width="100%" cellpadding="0" cellspacing="0" style="text-align: center;">
		<tr>
			<td height="30" style="line-height: 0;">&nbsp;</td>
		</tr>
		<?php if(!in_array('header', $linesToHide)): ?>
			<tr>
				<td height="21" valign="top" style="color: #666666;">
					<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
						<b><?php echo $header; ?></b>
					</font>
				</td>
			</tr>
		<?php endif; ?>
		<?php if(!in_array('weekday_hours', $linesToHide)): ?>
			<tr>
				<td height="21" valign="top" style="color: #909090;">
					<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
						<?php echo $weekdayHours; ?>
					</font>
				</td>
			</tr>
		<?php endif; ?>
		<?php if(!in_array('weekend_hours', $linesToHide)): ?>
			<tr>
				<td height="21" valign="top" style="color: #909090;">
					<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
						<?php echo $weekendHours; ?>
					</font>
				</td>
			</tr>
		<?php endif; ?>
		<?php if(!in_array('phone_number', $linesToHide)): ?>
			<tr>
				<td height="21" valign="top" style="color: #909090;">
					<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
						<span style="text-decoration: none;"><?php echo $phoneNumber; ?></span>
					</font>
				</td>
			</tr>
		<?php endif; ?>
		<?php if(!in_array('email', $linesToHide)): ?>
			<tr>
				<td height="21" valign="top" style="color: #909090;">
					<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
						<a href="mailto:<?php echo $email; ?>" style="color: #88551e; text-decoration: none;"><?php echo $email; ?></a>
					</font>
				</td>
			</tr>
		<?php endif; ?>
		<?php if(!in_array('footer', $linesToHide) && $footer): ?>
			<tr>
				<td height="21" valign="top" style="color: #909090;">
					<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
						<i>&ndash; <?php echo $footer; ?> &ndash;</i>
					</font>
				</td>
			</tr>
		<?php endif; ?>
	</table>

<?php else: ?>

	<?php if(!in_array('header', $linesToHide)): ?><p class="contact-details contact-header"><?php echo $header; ?></p><?php endif; ?>
	<?php if(!in_array('weekday_hours', $linesToHide)): ?><p class="contact-details contact-weekdayhours"><?php echo $weekdayHours; ?></p><?php endif; ?>
	<?php if(!in_array('weekend_hours', $linesToHide)): ?><p class="contact-details contact-weekendhours"><?php echo $weekendHours; ?></p><?php endif; ?>
	<?php if(!in_array('phone_number', $linesToHide)): ?><p class="contact-details contact-phonenumber"><span><?php echo $this->__('Phone'); ?>:</span> <?php echo $phoneNumber; ?></p><?php endif; ?>
	<?php if(!in_array('email', $linesToHide)): ?><p class="contact-details contact-email"><span><?php echo $this->__('Email'); ?>:</span> <a href="mailto:<?php echo $email; ?>"><?php echo $email; ?></a></p><?php endif; ?>
	<?php if(!in_array('footer', $linesToHide) && $footer): ?><p class="contact-details contact-footer">&ndash; <?php echo $footer; ?> &ndash;</p><?php endif; ?>

<?php endif; ?>