<?php
	$category = $this->getCategory();
	$tagline = $category->hasTagline() ? $category->getTagline() : $this->__('Shop %s', $category->getName());
	$imageHelper = Mage::helper('frans/image');
	$categoryHelper = $this->helper('catalog/category');
	$tileImage = $category->getAllProductsTileImagePath() ? $imageHelper->getImageResized($category->getAllProductsTileImagePath()) : '';
	$childCategories = $categoryHelper->getChildCategories($category);
	$sectionSortedChildCategories = $categoryHelper->sortCategoriesByDisplaySection($childCategories);
    $tileLabel = Mage::getModel('catalog/category')->load($category->getId())->getTileLabel();
    $name = $tileLabel ? $tileLabel : $category->getName();
?>

<?php if($category): ?>
	<div class="tile-content">
		<div class="tile-image <?php echo Mage::helper('frans/catalog_category')->getTileImageClass($category); ?>" style="background-image: url('<?php echo $tileImage; ?>');">
			<div class="overlay">
				<a href="<?php echo $category->getUrl(); ?>" title="<?php echo $tagline; ?>">
					<h3><?php echo $name; ?></h3>
				</a>
				<div class="accent-divider"></div>
				<ul>
					<?php foreach($sectionSortedChildCategories[1] as $child): ?>
						<?php $childTagline = $child->hasTagline() ? $child->getTagline() : $this->__('Shop %s', $child->getName()); ?>
						<li>
							<a href="<?php echo $child->getUrl(); ?>" title="<?php echo $childTagline; ?>"><?php echo $child->getName(); ?></a>
						</li>
					<?php endforeach; ?>
					<?php foreach($sectionSortedChildCategories[3] as $child): ?>
						<?php $childTagline = $child->hasTagline() ? $child->getTagline() : $this->__('Shop %s', $child->getName()); ?>
						<li>
							<a href="<?php echo $child->getUrl(); ?>" title="<?php echo $childTagline; ?>"><?php echo $child->getName(); ?></a>
						</li>
					<?php endforeach; ?>
				</ul>
				<?php if(count($sectionSortedChildCategories[2]) > 0): ?>
					<ul class="reserved-categories">
						<?php foreach($sectionSortedChildCategories[2] as $child): ?>
							<?php $childTagline = $child->hasTagline() ? $child->getTagline() : $this->__('Shop %s', $child->getName()); ?>
							<li>
								<a href="<?php echo $child->getUrl(); ?>" title="<?php echo $childTagline; ?>"><?php echo $child->getName(); ?></a>
							</li>
						<?php endforeach; ?>
					</ul>
				<?php endif; ?>
			</div>
		</div>
	</div>
<?php endif; ?>