<?php
	$category = $this->getCategory();
	$tagline = $category->hasTagline() ? $category->getTagline() : $this->__('Shop %s', $category->getName());
	$imageHelper = Mage::helper('frans/image');
	$tileImage = $category->getTileImagePath() ? $imageHelper->getImageResized($category->getTileImagePath(), 1785, 350) : '';
?>

<div class="tile-content">
	<a href="<?php echo $category->getUrl(); ?>" title="<?php echo $tagline; ?>" class="tile-image <?php echo Mage::helper('frans/catalog_category')->getTileImageClass($category); ?>" style="background-image: url('<?php echo $tileImage; ?>');">
		<div class="overlay">
			<h3><?php echo $category->getTileLabel() ? $category->getTileLabel() : $category->getName(); ?></h3>
			<?php if($category->hasActionLabel()): ?>
				<div class="action-label"><?php echo $category->getActionLabel(); ?></div>
			<?php endif; ?>
		</div>
	</a>
</div>