<?php $category = $this->getCategory(); ?>
<?php $products = $category->getProductCollection(); ?>
<?php $imageHelper = Mage::helper('frans/image'); ?>

<div class="tile-content">
	<div class="tile-image <?php echo Mage::helper('frans/catalog_category')->getTileImageClass($category); ?>">
		<div class="overlay">
			<div class="tile-details details-left vertical-align">
				<div class="details-content">
					<h3><?php echo $category->getTileLabel() ? $category->getTileLabel() : $category->getName(); ?></h3>
					<ul>
						<?php foreach($products as $product): ?>
							<?php // TODO: Use getAttributeRawValue() instead of loading full product here ?>
							<?php $product = $product->load(); ?>
							<li>
								<a href="<?php echo '/'.$product->getUrlModel()->getUrlPath($product, $category); ?>" title="<?php echo $product->getName(); ?>">
									<span class="details-name"><?php echo $product->getName(); ?></span> &#8212; <span class="details-price price"><?php echo Mage::helper('frans')->getCatalogPrices($product); ?></span>
									<span class="details-description"><?php echo $product->getDescription(); ?></span>
								</a>
							</li>
						<?php endforeach; ?>
					</ul>
				</div>
			</div>
			<img class="image-right" src="<?php
				// TODO: Complete development of this helper function for image resizing and caching
				// echo $imageHelper->getImageResized($category->getImagePath());
				echo $category->getImageUrl(); // this works, but is not production-ready
			?>" />
			<div class="clearfix"></div>
		</div>
	</div>
</div>