<?php
	// TODO: Use getAttributeRawValue() function to avoid loading full categories here
	$category = $this->getCategory();
	$tagline = $category->hasTagline() ? $category->getTagline() : $this->__('Shop %s', $category->getName());
	$imageHelper = Mage::helper('frans/image');
	$imagePath = $category->getImagePath() ? $imageHelper->getImageResized($category->getImagePath()) : '';
?>

<div class="banner" style="background-image: url('<?php echo $imagePath; ?>');">
	<a href="<?php echo $category->getUrl(); ?>" title="<?php echo $tagline; ?>">
		<div class="content">
			<div class="inset f-right <?php echo Mage::helper('frans/catalog_category')->getTileImageClass($category); ?>" style="background: <?php echo $category->getInsetBackground(); ?>;">
				<div class="inset-valign-center">
					<h3><?php echo $category->getTileLabel() ? $category->getTileLabel() : $category->getName(); ?></h3>
					<p><?php echo $category->getDescription(); ?></p>
					<?php if($category->hasActionImage()): ?>
						<img src="<?php echo $imageHelper->getImageResized($category->getActionImagePath()); ?>" />
					<?php endif; ?>
					<?php if($category->hasActionLabel()): ?>
						<div class="action-label"><?php echo $category->getActionLabel(); ?></div>
					<?php endif; ?>
				</div>
			</div>
		</div>
	</a>
</div>