<?php
	$category = $this->getCategory();
	$tagline = $category->hasTagline() ? $category->getTagline() : $this->__('Shop %s', $category->getName());
?>

<div class="tile-content slim">
	<a href="<?php echo $category->getUrl(); ?>" title="<?php echo $tagline; ?>">
		<span>
			<?php echo $this->__('Shop'); ?><br />
			<?php echo $category->getName(); ?>
		</span>
	</a>
</div>