<?php
/**
 * Frans
 */
?>
<?php
	$_item = $this->getItem();
	$_product = $_item->getProduct();
	$_storeId = Mage::app()->getStore()->getId();
	$_thumbnail = Mage::helper('frans/image')->getImageResizedByProduct($_product, 'thumbnail', 100);
	$_colorTileValue = Mage::getResourceModel('catalog/product')->getAttributeRawValue($_product->getId(), 'color_tile', $_storeId);
	$_colorTileLabel = null;
	$_parentId = $_item->getConfigurableProductId();
	if($_parentId){
		$_productUrl = $_product->getProductUrl($_parentId);
		$this->overrideProductUrl($_productUrl);
		if(!empty($_colorTileValue))
			$_colorTileLabel = $_product->setColorTile($_colorTileValue)->getAttributeText('color_tile');
	}
	$isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();
	$canApplyMsrp = Mage::helper('catalog')->canApplyMsrp($_item->getProduct(), Mage_Catalog_Model_Product_Attribute_Source_Msrp_Type::TYPE_BEFORE_ORDER_CONFIRM);
	$this->setDeleteUrl($this->getUrl(
		'checkout/cart/delete',
		array(
			'id' => $_item->getId()
		)
	));
?>

<div class="row">

	<div class="col-item">
		<div class="item-thumbnail">
			<?php if($this->hasProductUrl()): ?>
    		    <a href="<?php echo $this->getProductUrl(); ?>" title="<?php echo $this->htmlEscape($this->getProductName()); ?>" class="product-image">
    	    <?php endif; ?>
			<img src="<?php echo $_thumbnail; ?>" alt="<?php echo $this->htmlEscape($this->getProductName()); ?>" />
			<?php if($this->hasProductUrl()): ?>
    		    </a>
    	    <?php endif; ?>
		</div>
		<div class="item-details">

			<?php if($this->hasProductUrl()): ?>
				<a href="<?php echo $this->getProductUrl(); ?>" title="<?php echo $this->htmlEscape($this->getProductName()); ?>" class="product-image">
			<?php endif; ?>
			<?php if($_colorTileLabel): ?>
				<span class="item-color-tile"><?php echo $_colorTileLabel; ?></span>
			<?php endif; ?>
			<?php echo $this->htmlEscape($this->getProductName()); ?>
			<?php if($this->hasProductUrl()): ?>
				</a>
			<?php endif; ?>

			<?php if($_item->getProduct()->getTypeId() == 'virtualgiftcard'): ?>
				<div class="cart-virtual-gc-details-email-message">
					<?php echo $this->__('Emailed directly to the recipient with a personal message from you.'); ?>
				</div>
				<?php

					$_options = $this->getOptionList();
					$_optionValues = array();

					foreach($_options as $o)
					{
						if($o['label'] == 'gc_recipient_name')
						{
							$_optionValues['to'] = $o['print_value'];
						}
						if($o['label'] == 'gc_recipient_email')
						{
							$_optionValues['to_email'] = $o['print_value'];
						}
						if($o['label'] == 'gc_message')
						{
							$_optionValues['message'] = $o['print_value'];
						}
						if($o['label'] == 'gc_sender_name')
						{
							$_optionValues['from_name'] = $o['print_value'];
						}
					}

				?>

				<div class="cart-virtual-gc-details">
					<div class="row">
						<div class="gc-details-label col-xs-4">
							<?php echo $this->__('Send To:'); ?>
						</div>
						<div class="col-xs-8">
							<?php echo $_optionValues['to']; ?> (<?php echo $_optionValues['to_email']; ?>)
						</div>
					</div>
					<div class="row">
						<div class="gc-details-label col-xs-4">
							<?php echo $this->__('Send From:'); ?>
						</div>
						<div class="col-xs-8">
							<?php echo $_optionValues['from_name']; ?>
						</div>
					</div>
					<?php if(strlen(trim( $_optionValues['message']) ) > 0): ?>
						<div class="row">
							<div class="gc-details-label col-xs-4">
								<?php echo $this->__('Gift Message:'); ?>
							</div>
							<div class="col-xs-8">
								<?php echo $_optionValues['message']; ?>
							</div>
						</div>
					<?php endif; ?>
				</div>

			<?php endif; ?>


			<?php if($messages = $this->getMessages()): ?>
				<?php foreach ($messages as $message): ?>
					<p class="item-msg <?php echo $message['type'] ?>">* <?php echo $this->escapeHtml($message['text']) ?></p>
				<?php endforeach; ?>
			<?php endif; ?>
			<?php $addInfoBlock = $this->getProductAdditionalInformationBlock(); ?>
			<?php if($addInfoBlock): ?>
				<?php echo $addInfoBlock->setItem($_item)->toHtml(); ?>
			<?php endif; ?>

		</div>
	</div>

	<?php /* WISHLIST NOT CURRENTLY SUPPORTED
    if($this->helper('wishlist')->isAllowInCart()) :
		<td class="a-center">
			<?php if($isVisibleProduct): ?>
				<a href="<?php echo $this->helper('wishlist')->getMoveFromCartUrl($_item->getId()); ?>" class="link-wishlist use-ajax"><?php echo $this->__('Move'); ?></a>
			<?php endif ?>
		</td>
	<?php endif */ ?>

	<div class="col-price">

		<div class="price-wrapper">
			<?php if(Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
				<span class="cart-tax-total" onclick="taxToggle('eunit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
	        <?php else: ?>
				<span class="cart-price">
	        <?php endif; ?>
		        <?php if(Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
		            <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?>
		        <?php else: ?>
		            <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()) ?>
		        <?php endif; ?>
	        </span>

			<?php if(Mage::helper('weee')->getApplied($_item)): ?>
				<div class="cart-tax-info" id="eunit-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
					<?php if(Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
						<?php foreach(Mage::helper('weee')->getApplied($_item) as $tax): ?>
							<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount'],true,true); ?></span>
						<?php endforeach; ?>
					<?php elseif(Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
						<?php foreach(Mage::helper('weee')->getApplied($_item) as $tax): ?>
							<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></span>
						<?php endforeach; ?>
					<?php elseif(Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
						<?php foreach(Mage::helper('weee')->getApplied($_item) as $tax): ?>
							<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></span>
						<?php endforeach; ?>
					<?php endif; ?>
				</div>

	            <?php if(Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
					<div class="cart-tax-total" onclick="taxToggle('eunit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
						<span class="weee"><?php echo Mage::helper('weee')->__('Total'); ?>: <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?></span>
					</div>
				<?php endif; ?>
			<?php endif; ?>
		</div>

	</div>

	<div class="col-qty">

		<ul>
			<li id="qty-input-field">
				<input type="number" title="<?php echo $this->__('Qty') ?>" pattern="[0-9]*" inputmode="numeric" step="1" class="input-text small qty" name="cart[<?php echo $_item->getId(); ?>][qty]" maxlength="12" value="<?php echo $this->getQty() ?>" />
			</li>
			<li id="update-field">
				<button type="submit" name="update_cart_action" value="update_qty" title="<?php echo $this->__('Update all quantities'); ?>" class="button plain btn-update">
					<span><span><?php echo $this->__('Update'); ?></span></span>
				</button>
			</li>
		</ul>

	</div>

	<div class="col-total">

		<div class="price-wrapper">
			<?php if(Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
				<span class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
	        <?php else: ?>
				<span class="cart-price">
	        <?php endif; ?>
				<?php if($canApplyMsrp): ?>
					<span class="cart-msrp-subtotal">--</span>
				<?php else: ?>
					<?php if(Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
						<?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?>
					<?php else: ?>
						<?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()); ?>
					<?php endif; ?>
				<?php endif; ?>
	        </span>

			<?php if(Mage::helper('weee')->getApplied($_item)): ?>

				<div class="cart-tax-info" id="esubtotal-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
					<?php if(Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
						<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
							<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'],true,true); ?></span>
						<?php endforeach; ?>
					<?php elseif(Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
						<?php foreach(Mage::helper('weee')->getApplied($_item) as $tax): ?>
							<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span>
						<?php endforeach; ?>
					<?php elseif(Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
						<?php foreach(Mage::helper('weee')->getApplied($_item) as $tax): ?>
							<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span>
						<?php endforeach; ?>
					<?php endif; ?>
				</div>

	            <?php if(Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
					<div class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
						<span class="weee"><?php echo Mage::helper('weee')->__('Total'); ?>: <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?></span>
					</div>
				<?php endif; ?>

			<?php endif; ?>
		</div>

	</div>

	<?php $deleteUrl = $this->getUrl(
		'checkout/cart/delete',
		array(
			'id'=>$this->getItem()->getId(),
			'form_key' => Mage::getSingleton('core/session')->getFormKey(),
			Mage_Core_Controller_Front_Action::PARAM_NAME_URL_ENCODED => $this->helper('core/url')->getEncodedUrl()
		));
	?>

	<div class="col-remove">
		<a class="remove-icon-wrapper" href="<?php echo $deleteUrl; ?>" title="<?php echo $this->__('Remove item'); ?>" id="remove-item-<?php echo $_item->getId(); ?>">
			<div class="remove-icon"><?php echo $this->__('Remove item'); ?></div>
		</a>
	</div>

	<script type="text/javascript">
		// set the referrer URL for remove buttons
		var removeLink = jQuery('#remove-item-<?php echo $_item->getId(); ?>');
		removeLinkHref = removeLink.attr('href');
		removeLinkHref = removeLinkHref + '<?php echo Mage_Core_Controller_Front_Action::PARAM_NAME_URL_ENCODED; ?>/' + Base64.encode(document.URL);
		removeLink.attr('href', removeLinkHref);
	</script>

</div>
