<?php

	// GoSolid_Banner_Block_Banner

	$bannerType = $this->getBannerType();
	$banner = $this->getFirstBanner($bannerType);

?>

<a href="<?php echo $banner->getUrl(); ?>" class="home-hero" title="<?php echo $banner->getTooltip(); ?>" target="<?php echo $banner->getTarget(); ?>">
	<img src="<?php echo $banner->getImageUrl(); ?>" />
	<?php echo $banner->getTooltip(); ?>
</a>