<div class="newsletter tile two">
	<div class="tile-content">

			<div class="live-tile" id="newsletter-tile" data-mode="flip">
				<div id="newsletter-tile1">
						<form action="<?php echo $this->getUrl("*/newsletter/tileSubscribeNewsletter",array('_secure'=>true)); ?>" method="post" id="newsletter-email-validate">
							<?php echo $this->getBlockHtml('formkey'); ?>
							<input type="hidden" name="step" id="newsletter-tile-step-email" value="1" />
							<div class="content">
								<h3><?php echo $this->__('Notes From  Fran\'s'); ?></h3>
								<p><?php echo $this->__('Sweet surprises & delectable news — all for you'); ?></p>
								<div class="newsletter-tile-email-input">
									<input type="text" name="email" id="newsletter-tile-email" value="" title="Email Address"  placeholder="Email Address">
								</div>
								<div>
									<button type="submit" class="btn button-dark" id="newsletter-tile-email-button" title="<?php echo $this->__('Join'); ?>" name="send"><span><span><?php echo $this->__('Join'); ?></span></span></button>
								</div>
							</div>
						</form>

					<form id="newsletter-tile-thankyou" action="#">
						<div class="content" >
							<h3><?php echo $this->__('THANK YOU FOR JOINING FRAN\'S NOTES.'); ?></h3>
							<p><?php echo $this->__('We\'ll be in touch with our recent inspirations, new products and latest happenings.'); ?></p>
							<input id="newsletter-tile-restart" type="submit" value="close" />
						</div>
					</form>


				</div>
				<div id="newsletter-tile2">
					<form action="<?php echo $this->getUrl("*/newsletter/updateDob"); ?>" method="post" id="newsletter-dob-validate">
						<?php echo $this->getBlockHtml('formkey'); ?>
						<input type="hidden" name="email" id="email-used" value="" />
						<input type="hidden" name="step" id="newsletter-tile-step-dob" value="" />
						<div class="content">
							<h3><?php echo $this->__('Thank you for joining!'); ?></h3>
							<p><?php echo $this->__('Add your birthday so we can celebrate you!'); ?></p>
							<div>
								<?php
								$_dob = $this->getLayout()->createBlock('customer/widget_dob');
								echo $_dob->setDobChecker(false)->setHomePageTile(true)->toHtml();
								?>
							</div>
							<button type="submit" class="btn button-dark col-xs-4" id="newsletter-tile-dob-button" title="<?php echo $this->__('Update'); ?>" name="send"><span><span><?php echo $this->__('Update'); ?></span></span></button>
							<input type="submit" id="newsletter-tile-dob-nothanks" value='no thanks'>
						</div>
					</form>

				</div>
			</div>
	</div>
</div>

<script type="text/javascript">
	//<![CDATA[
	var $tile = jQuery("#newsletter-tile").liveTile({ repeatCount: 0, delay:0, startNow: false });
	var accountFormEmail = new VarienForm('newsletter-email-validate', false);
	var accountFormDob = new VarienForm('newsletter-email-validate', false);

	jQuery('#newsletter-tile-email-button').click(function( e ) {
		e.preventDefault();

		jQuery('#newsletter-tile1').removeClass('flipped');
		jQuery('.validation-advice').empty();
		jQuery('#newsletter-tile-email').removeClass('validation-failed');

		var $form = jQuery('#newsletter-email-validate');
		if (accountFormEmail.validator.validate())
		{
			makeAjaxRequest($form.prop('action'), $form.serialize(), function(response){
				if(response['status'] == 'success')
				{
					jQuery('#newsletter-tile').liveTile('play');
					jQuery('#email-used').val(response['email']);

					if(response['lastStep'] == 1){
						jQuery('#newsletter-tile-step-dob').val('2');
					}
				}
				else
				{
					var $errorMessage  = '<div class="validation-advice text-center">' + response['msg'] + '</div>';
					jQuery('#newsletter-tile-email').addClass('validation-failed').after($errorMessage);
				}
			});
		}
	});

	jQuery('#newsletter-tile-dob-button').click(function( e ) {
		e.preventDefault();
		jQuery('.validation-advice').empty();
		jQuery('#newsletter-tile #month, #newsletter-tile #day').removeClass('validation-failed');
		var $form = jQuery('#newsletter-dob-validate');
		if (accountFormDob.validator.validate())
		{
			makeAjaxRequest($form.prop('action'), $form.serialize(), function(response){
				if(response['status'] == 'success')
				{
					if(response['lastStep'] == 2){
						jQuery('#newsletter-tile-step-email').val('3');
						jQuery('#newsletter-email-validate').css('display', 'none');
						jQuery('#newsletter-tile #newsletter-tile1 form#newsletter-tile-thankyou').css('display', 'block');
					}
					jQuery('#newsletter-tile').liveTile('play');

				}
				else
				{
					var $errorMessages  = '<div class="validation-advice text-center">' + response["msg"] + '</div>';

					jQuery('#newsletter-tile-dob-button').after($errorMessages);
					jQuery('#newsletter-tile #month, #newsletter-tile #day').addClass('validation-failed');

				}
			});
		}
	});

	jQuery('#newsletter-tile-dob-nothanks').click(function( e ) {
		e.preventDefault();

		jQuery('.validation-advice').empty();
		jQuery('#newsletter-tile #month, #newsletter-tile #day').removeClass('validation-failed');
		jQuery("#newsletter-tile-email").val('');

		jQuery('#newsletter-tile-step-email').val('3');
		jQuery('#newsletter-email-validate').css('display', 'none');
		jQuery('#newsletter-tile #newsletter-tile1 form#newsletter-tile-thankyou').css('display', 'block');

		jQuery("#newsletter-tile .customer-dob #month").val('');
		jQuery("#newsletter-tile .customer-dob #day").val('');
		jQuery('#newsletter-tile').liveTile('play');

	});

	function displayEmailTileBlock() {
		jQuery('#newsletter-email-validate').css('display', 'block');
		jQuery('#newsletter-tile #newsletter-tile1 form#newsletter-tile-thankyou').css('display', 'none');
	}

	jQuery('#newsletter-tile-restart').click(function( e ) {
		e.preventDefault();

		jQuery('.validation-advice').empty();
		jQuery('#newsletter-tile-email').removeClass('validation-failed');
		jQuery('#newsletter-tile-step-email').val('1');
		jQuery("#newsletter-tile-email").val('');
		jQuery(".customer-dob #month").val('');
		jQuery(".customer-dob #day").val('');
		jQuery('#newsletter-tile1').removeClass('flipped').addClass('flipped');
		setTimeout(displayEmailTileBlock, 500);

	});
	//]]>
</script>
