<div class="live-tile" id="newsletter-modal" data-mode="flip">
	<div id="newsletter-modal1">
			<form action="<?php echo $this->getUrl("cms/newsletter/tileSubscribeNewsletter",array('_secure'=>true)); ?>" method="post" id="newsletter-modal-email-validate">
				<?php echo $this->getBlockHtml('formkey'); ?>
				<input type="hidden" name="step" id="newsletter-modal-step-email" value="1" />
				<div class="content">
					<h3><?php echo $this->__('NOTES FROM  Fran\'s'); ?></h3>
					<p><?php echo $this->__('Sweet surprises & delectable news — all for you'); ?></p>
					<div class="newsletter-modal-email-input">
						<input type="text" name="email" id="newsletter-modal-email" value="" title="Email Address"  placeholder="Email Address">
					</div>
					<div>
						<button type="submit" class="btn button-dark" id="newsletter-modal-email-button" title="<?php echo $this->__('Join'); ?>" name="send"><span><span><?php echo $this->__('Join'); ?></span></span></button>
					</div>
				</div>
			</form>

		<form id="newsletter-modal-thankyou" action="#">
			<div class="content" >
				<h3><?php echo $this->__('THANK YOU FOR JOINING FRAN\'S NOTES.'); ?></h3>
				<p><?php echo $this->__('We\'ll be in touch with our recent inspirations, new products and latest happenings.'); ?></p>
				<input id="newsletter-modal-close" type="submit" value="close" />
			</div>
		</form>


	</div>
	<div id="newsletter-modal2">
		<form action="<?php echo $this->getUrl("cms/newsletter/updateDob"); ?>" method="post" id="newsletter-modal-dob-validate">
			<?php echo $this->getBlockHtml('formkey'); ?>
			<input type="hidden" name="email" id="modal-email-used" value="" />
			<input type="hidden" name="step" id="newsletter-modal-step-dob" value="" />
			<div class="content">
				<h3><?php echo $this->__('Thank you for joining!'); ?></h3>
				<p><?php echo $this->__('Add your birthday so we can celebrate you!'); ?></p>
				<div>
					<?php
					$_dob = $this->getLayout()->createBlock('customer/widget_dob');
					echo $_dob->setDobChecker(false)->setHomePageTile(true)->toHtml();
					?>
				</div>
				<button type="submit" class="btn button-dark col-xs-4" id="newsletter-modal-dob-button" title="<?php echo $this->__('Update'); ?>" name="send"><span><span><?php echo $this->__('Update'); ?></span></span></button>
				<input type="submit" id="newsletter-modal-dob-nothanks" value='no thanks'>
			</div>
		</form>

	</div>
</div>

<script type="text/javascript">
	//<![CDATA[
	var $tile = jQuery("#newsletter-modal").liveTile({ repeatCount: 0, delay:0, startNow: false });
	var accountModalFormEmail = new VarienForm('newsletter-modal-email-validate', false);
	var accountModalFormDob = new VarienForm('newsletter-modal-dob-validate', false);

	var scrollPosition = [
		self.pageXOffset || document.documentElement.scrollLeft || document.body.scrollLeft,
		self.pageYOffset || document.documentElement.scrollTop  || document.body.scrollTop
	];
	var html = jQuery('html'); // it would make more sense to apply this to body, but IE7 won't have that
	html.data('scroll-position', scrollPosition);
	html.data('previous-overflow', html.css('overflow'));
	html.css('overflow', 'hidden');
	window.scrollTo(scrollPosition[0], scrollPosition[1]);

	var modal = jQuery('#simplemodal-container');

	modal.css("position","fixed");
	modal.css("top", (jQuery(window).height() / 2) - (modal.outerHeight() / 2));
	modal.css("left", (jQuery(window).width() / 2) - (modal.outerWidth() / 2));

	modal.css({
		'padding': 0,
		'width': 590 + 'px',
		'height': 350 + 'px',
		'border': 0,
		'left': 425 + 'px',
		'top': 100 + 'px',
		'background': 'none'
	});

	jQuery('#newsletter-modal-email-button').click(function( e ) {
		e.preventDefault();

		jQuery('#newsletter-modal1').removeClass('flipped');
		jQuery('.validation-advice-newsletter-modal').empty();
		jQuery('#newsletter-modal-email').removeClass('validation-failed');

		var $form = jQuery('#newsletter-modal-email-validate');
		if (accountModalFormEmail.validator.validate())
		{
			makeAjaxRequest($form.prop('action'), $form.serialize(), function(response){
				if(response['status'] == 'success')
				{
					jQuery('#newsletter-modal').liveTile('play');
					jQuery('#modal-email-used').val(response['email']);

					if(response['lastStep'] == 1){
						jQuery('#newsletter-modal-step-dob').val('2');
					}
				}
				else
				{
					var $errorMessage  = '<div class="validation-advice-newsletter-modal text-center">' + response['msg'] + '</div>';
					jQuery('#newsletter-modal-email').addClass('validation-failed-newsletter-modal').after($errorMessage);
				}
			});
		}
	});

	jQuery('#newsletter-modal-dob-button').click(function( e ) {
		e.preventDefault();
		jQuery('.validation-advice-newsletter-modal').empty();
		jQuery('#newsletter-modal #month, #newsletter-modal #day').removeClass('validation-failed');
		var $form = jQuery('#newsletter-modal-dob-validate');
		if (accountModalFormDob.validator.validate())
		{
			makeAjaxRequest($form.prop('action'), $form.serialize(), function(response){
				if(response['status'] == 'success')
				{
					if(response['lastStep'] == 2){
						jQuery('#newsletter-modal-step-email').val('3');
						jQuery('#newsletter-modal-email-validate').css('display', 'none');
						jQuery('#newsletter-modal #newsletter-modal1 form#newsletter-modal-thankyou').css('display', 'block');
					}
					jQuery('#newsletter-modal').liveTile('play');

				}
				else
				{
					var $errorMessages  = '<div class="validation-advice-newsletter-modal text-center">' + response["msg"] + '</div>';

					jQuery('#newsletter-modal-dob-button').after($errorMessages);
					jQuery('#newsletter-modal #month, #newsletter-modal #day').addClass('validation-failed-newsletter-modal');

				}
			});
		}
	});

	jQuery('#newsletter-modal-dob-nothanks').click(function( e ) {
		e.preventDefault();
		jQuery("#newsletter-modal-email").val('');
		jQuery("#newsletter-modal .customer-dob #month").val('');
		jQuery("#newsletter-modal .customer-dob #day").val('');

		jQuery('#newsletter-modal-step-email').val('3');
		jQuery('#newsletter-modal-email-validate').css('display', 'none');
		jQuery('#newsletter-modal #newsletter-modal1 form#newsletter-modal-thankyou').css('display', 'block');

		jQuery('#newsletter-modal').liveTile('play');

	});

	function displayEmailBlock() {
		jQuery('#newsletter-modal-email-validate').css('display', 'block');
		jQuery('#newsletter-modal #newsletter-modal1 form#newsletter-modal-thankyou').css('display', 'none');
	}

	jQuery('#newsletter-modal-close').click(function( e ) {
		e.preventDefault();
		jQuery.modal.close()

	});
	//]]>
</script>
