<?php
	$banner = $this->getBanner();
	$tileClass = $this->getTileClass();
	$isLink = $banner->hasUrl();
?>

<div class="tile <?php echo $tileClass; ?>">
	<div class="tile-content">
		<?php if($isLink): ?>
			<a href="<?php echo $banner->getUrl(); ?>" <?php if($banner->hasTooltip()): ?>title="<?php echo $banner->getTooltip(); ?>" <?php endif; ?>target="<?php echo $banner->getTarget(); ?>" class="tile-image <?php echo $banner->getBannerColorClass(); ?>"<?php if($banner->hasImage()): ?> style="background-image: url('<?php echo $banner->getImageUrl(); ?>');"<?php endif; ?>>
		<?php else: ?>
			<div class="tile-image <?php echo $banner->getBannerColorClass(); ?>"<?php if($banner->hasImage()): ?> style="background-image: url('<?php echo $banner->getImageUrl(); ?>');"<?php endif; ?>>
		<?php endif; ?>
			<div class="overlay">
				<?php if($banner->hasTitle()): ?><h3><?php echo $banner->getTitle(); ?></h3><?php endif; ?>
				<?php if($banner->hasSubtitle()): ?><span><?php echo $banner->getSubtitle(); ?></span><?php endif; ?>
			</div>
		<?php if($isLink): ?>
			</a>
		<?php else: ?>
			</div>
		<?php endif; ?>
	</div>
</div>