<?php 
	$order = $this->getOrder();
	$summaryBlock = $this->getLayout()->createBlock('frans/fransemail_order')->setTemplate('fransemail/order/summary/order_summary.phtml');
	$summaryBlock->setOrder($order);

	$shippingBlock = $this->getLayout()->createBlock('core/template')->setTemplate('fransemail/order/shipment/shipment_details.phtml');
	$shippingBlock->setEmailType('order')->setOrder($order);

	$contactDetailsBlock = $this->getLayout()->createBlock('frans/page_contactdetails')->setTemplate('page/contact-details.phtml')->setUseEmailFormatting(false)->setHeader($this->__("For additional assistance, please contact us:"));

	$isGuest = $order->getCustomerIsGuest();

?>
<iframe src="" id="print-container" style="border: 0; margin-left: -10000px; float: left;" width="1" height="1" border="0" seamless></iframe>
<button id="receipt-print-button" type="submit" title="Update" class="button-dark" data-print-target="<?php echo $this->getUrl("sales/order/printorder/", array("order_id" => $order->getId())); ?>"><span><span><?php echo $this->__('Print Receipt'); ?></span></span></button>
<div class="receipt-status">
	<p>
		<?php echo $this->__('Your order number is'); ?>
		<?php if($isGuest): ?>
			<strong class = 'order-number inspectlet-sensitive'><?php echo $order->getIncrementId(); ?></strong>.
		<?php else: ?>
			<a class = "inspectlet-sensitive" href="<?php echo $this->getUrl('sales/order/history/', array('view' => $order->getIncrementId())); ?>"><?php echo $order->getIncrementId(); ?></a>.
		<?php endif; ?>
	</p>
	<p><?php echo $this->__('Please check your email for an order confirmation email. We will send a shipment confirmation email when your package ships.'); ?></p>
</div>
<div class="clear"></div>

<div class="order-details popup">
    <?php echo $summaryBlock->toHtml(); ?>
	<?php echo $shippingBlock->toHtml(); ?>
</div>

<?php echo $contactDetailsBlock->toHtml(); ?>