<?php 
	$order = $this->getOrder();
	$summaryBlock = $this->getLayout()->createBlock('frans/fransemail_order')->setTemplate('fransemail/order/summary/order_summary.phtml');
	$summaryBlock->setOrder($order);

	$shippingBlock = $this->getLayout()->createBlock('core/template')->setTemplate('fransemail/order/shipment/shipment_details.phtml');
	$shippingBlock->setEmailType('order')->setOrder($order);
?>
 
<div class="order-details popup">
	

	<div class="popup-logo">
		<img src="<?php echo $this->getSkinUrl('images/email/logo.png'); ?>" alt="Fran's Chocolates"  />
	</div>
	
	<?php if(!$this->getIsPrint()): ?>
		<iframe src="" id="print-container" name="print-container" style="border: 0; margin-left: -10000px;" width="1" height="1" border="0" seamless></iframe>
		<ul class="order-detail-actions">
			<li><span id="order-print-button" class="print" data-print-target="<?php echo $this->getUrl("sales/order/printorder/", array("order_id" => $order->getId())); ?>"  title="<?php echo $this->__("Print this order."); ?>"></span></li>
			<li><span class="email" onclick="window.location.href='<?php echo $this->getUrl("sales/order/sendorderemail/", array("order_id" => $order->getId())); ?>'" title="<?php echo $this->__("Resend the order confirmation email."); ?>"></span></li>
		</ul>
	<?php endif; ?>
	
	<h1><?php echo $this->__("Order Summary");?></h1>

	<div class="order-contents">
 	    <?php echo $summaryBlock->toHtml() . $shippingBlock->toHtml(); ?>
	</div>
 	
</div>
<div class="clear"></div>
<?php if ($this->getIsPrint()): ?>
	<style type="text/css">

		.order-details {
			font-family: Helvetica, Arial, sans-serif;
			font-size: 14px;
			width: 650px;
			margin: 0 auto;
		}

		img.divider, .padding-collapse { display: none; }

		.popup-logo {
			margin-top: 25px;
			text-align: center;
		}

		h1 {
			font-size: 20px;
			margin-bottom: 20px;
		}

		.order-contents > div:nth-child(-n+4) {
			padding-left: 0 !important;
			background-image: none !important;
			width: 162.5px !important;
		}

		.unbreakable { page-break-inside: auto; }

	</style>

    <script type='text/javascript'>
        <!--
        // Cross-browser solution for printing hidden iframe, tested in Chrome, FF, IE, Safari, and Opera; Mac and Windows
        window.onload = function() {
	        if(!document.execCommand('print', false, null)){
	            window.parent.frames['print-container'].focus();
	            window.parent.frames['print-container'].print();
	        }
        }
        //-->
    </script>
<?php endif; ?>
