<?php
	$_items = $this->getItems();
?>

<h5><?php echo $this->__('Your Shopping Bag'); ?></h5>

<?php if(count($_items) > 0): ?>

	<form id="cart-menu-form" action="<?php echo $this->getUrl('checkout/cart/updatePost'); ?>" method="post">

		<ul class="cart-items">
			<?php foreach($_items as $_item): ?>
				<li><?php echo $this->getItemHtml($_item); ?></li>
			<?php endforeach; ?>
		</ul>

		<div class="quote-summary">
			<div class="subtotal">
				<?php echo $this->__('Subtotal'); ?> <span class="price"><?php echo $this->getFormattedSubtotal(); ?></span>
			</div>
			<button type="button" title="<?php echo $this->__('Continue to Checkout') ?>" class="button button-dark btn-proceed-checkout btn-checkout "><span><span><?php echo $this->__('Continue to Checkout') ?></span></span></button>
		</div>

		<script type="text/javascript">

			jQuery('#cart-menu-form .btn-proceed-checkout').bind("click", function(){
				jQuery("#cart-menu-form").append('<input type="hidden" name="return_url" value="<?php echo Mage::helper('checkout/url')->getCheckoutUrl(); ?>" />').submit();
			});

		</script>

	</form>

<?php else: ?>

	<div class="cart"><p class="cart-empty"><?php echo $this->__('Your Shopping Bag is Empty.'); ?></p></div>

<?php endif; ?>