<div class="row contact-info">
	<div class="col-md-12">
		<div class="logo-watermark"><span class="sr-only"><?php echo $this->__("Fran's Chocolates"); ?></span></div>
		<ul>
			<li class="phone"><?php echo Mage::getStoreConfig('general/store_information/tollfree_number'); ?></li>
			<li class="hours"><?php echo Mage::getStoreConfig('general/store_information/weekday_hours'); ?></li>
			<li class="hours"><?php echo Mage::getStoreConfig('general/store_information/weekend_hours'); ?></li>
		</ul>
	</div>
</div>