<div id="sidebarRefresh">
	<div class="content">
		<div class="container">
			<h2 class="active"><a class="VertMenuItems" href="<?php echo $this->getBaseUrl(); ?>service"><?php echo $this->__('Customer Care'); ?></a></h2>
			<div class="sublinks section-care">
				<h3><a class="sublink-confectioncare" href="<?php echo $this->getBaseUrl(); ?>confection-care"><?php echo $this->__('Confection Care'); ?></a></h3>
				<h3><a class="sublink-ingredients" href="<?php echo $this->getBaseUrl(); ?>ingredients"><?php echo $this->__('Ingredient Information'); ?></a></h3>
				<h3><a class="sublink-shipping" href="<?php echo $this->getBaseUrl(); ?>shipping"><?php echo $this->__('Shipping Information'); ?></a></h3>
				<h3><a class="sublink-giftcards" href="<?php echo $this->getBaseUrl(); ?>frans/giftcards"><?php echo $this->__('Gift Card Balance'); ?></a></h3>
			</div>
		</div>
	</div>
	<div class="floor">&nbsp;</div>
</div>