<?php
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Webcomm Pty Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
?>

<footer role="contentinfo">
    <div class="container">
	    <div class="row links">
		    <div class="col-md-2">
			    <ul class="group">
				    <li>
					    <span class="header hidden-md hidden-lg expander-toggle" data-expander-id="ex-where-to-buy"><?php echo $this->__("Where to Buy"); ?></span>
					    <span class="header hidden-sm hidden-ms hidden-xs"><?php echo $this->__("Where to Buy"); ?></span>
					    <ul class="expander" id="ex-where-to-buy">
						    <li><a href="<?php echo $this->getUrl('stores'); ?>"><?php echo $this->__("Fran's Boutiques"); ?></a></li>
						    <li><a href="http://notes.frans.com/posts/where-to-buy-frans-chocolates"><?php echo $this->__("Retail Locator"); ?></a></li>
						    <?php 
							/* Fran's Boutique location list */
							/*
						    <?php foreach(Mage::getModel('frans/retailStore')->getActiveFrontendStores() as $store): ?>
						        <li><a href="<?php echo $this->getUrl('stores/' . $store->getUrlKey()); ?>"><?php echo $store->getName(); ?></a></li>
						    <?php endforeach; ?>
						    */ ?>
						    <!--<li><a href="#"><?php //echo $this->__("Retail Locator"); ?></a></li>-->
					    </ul>
				    </li>
			    </ul>
		    </div>
		    <div class="col-md-2">
			    <ul class="group">
				    <li>
					    <span class="header hidden-md hidden-lg expander-toggle" data-expander-id="ex-services"><?php echo $this->__("Services"); ?></span>
					    <span class="header hidden-sm hidden-ms hidden-xs"><?php echo $this->__("Services"); ?></span>
					    <ul class="expander" id="ex-services">
						    <li><a href="<?php echo $this->getUrl('contact'); ?>?form=catalog-request"><?php echo $this->__("Request a Catalogue"); ?></a></li>
						    <li><a href="<?php echo $this->getUrl('gift-cards'); ?>"><?php echo $this->__("Gift Cards"); ?></a></li>
						    <li><a href="<?php echo $this->getUrl('business-accounts'); ?>"><?php echo $this->__("Business Accounts"); ?></a></li>
						    <li><a href="<?php echo $this->getUrl('custom-orders'); ?>"><?php echo $this->__("Custom & Large Orders"); ?></a></li>
						    <li><a href="<?php echo $this->getUrl('event-favors'); ?>"><?php echo $this->__("Event Favors"); ?></a></li>
						</ul>
				    </li>
			    </ul>
			</div>
		    <div class="col-md-2">
			    <ul class="group">
				    <li>
					    <span class="header hidden-md hidden-lg expander-toggle" data-expander-id="ex-customer-care"><?php echo $this->__("Customer Care"); ?></span>
					    <span class="header hidden-sm hidden-ms hidden-xs"><?php echo $this->__("Customer Care"); ?></span>
					    <ul class="expander" id="ex-customer-care">
						    <li><a href="<?php echo $this->getUrl('contact'); ?>"><?php echo $this->__("Contact Us"); ?></a></li>
						    <li><a href="<?php echo $this->getUrl('confection-care'); ?>"><?php echo $this->__("Confection Care"); ?></a></li>
						    <li><a href="<?php echo $this->getUrl('ingredient-information'); ?>"><?php echo $this->__("Ingredient Information"); ?></a></li>
							<li><a href="<?php echo $this->getUrl('shipping'); ?>"><?php echo $this->__("Shipping"); ?></a></li>
							<li><a href="<?php echo $this->getUrl('guarantee'); ?>"><?php echo $this->__("Returns & Refunds"); ?></a></li>
						    <li><a href="<?php echo $this->getUrl('new-website'); ?>"><?php echo $this->__("About Our Website"); ?></a></li>
						</ul>
				    </li>
			    </ul>
		    </div>
		    <div class="col-md-2">
			    <ul class="group">
				    <li>
					    <span class="header hidden-md hidden-lg expander-toggle" data-expander-id="ex-about-frans"><?php echo $this->__("About Fran's"); ?></span>
					    <span class="header hidden-sm hidden-ms hidden-xs"><?php echo $this->__("About Fran's"); ?></span>
					    <ul class="expander" id="ex-about-frans">
						    <li><a href="<?php echo $this->getUrl('frans-story'); ?>"><?php echo $this->__("Fran's Story"); ?></a></li>
						    <li><a href="<?php echo $this->getUrl('news'); ?>"><?php echo $this->__("News"); ?></a></li>
						    <li><a href="<?php echo $this->getUrl('charitable-giving'); ?>"><?php echo $this->__("Charitable Giving"); ?></a></li>
						    <li><a href="<?php echo $this->getUrl('contact'); ?>?form=jobs"><?php echo $this->__("Join Our Team"); ?></a></li>
						    <li><a href="<?php echo $this->getUrl('privacy'); ?>"><?php echo $this->__("Privacy Policy"); ?></a></li>
						    <li><a href="<?php echo $this->getUrl('terms'); ?>"><?php echo $this->__("Terms of Use"); ?></a></li>
				        </ul>
				    </li>
			    </ul>
			</div>
		    <div class="col-md-2">
			    <ul class="group">
				    <li>
					    <span class="header hidden-md hidden-lg expander-toggle" data-expander-id="ex-favorites"><?php echo $this->__("Favorites"); ?></span>
					    <span class="header hidden-sm hidden-ms hidden-xs"><?php echo $this->__("Favorites"); ?></span>
					    <ul class="expander" id="ex-favorites">
						    <li><a href="<?php echo $this->getUrl('caramels/salted-caramels'); ?>"><?php echo $this->__("Salted Caramels"); ?></a></li>
						    <li><a href="<?php echo $this->getUrl('bars/gold-bars'); ?>"><?php echo $this->__("Gold Bars"); ?></a></li>
						    <li><a href="<?php echo $this->getUrl('wedding-event-favors/wedding-favors'); ?>"><?php echo $this->__("Wedding Favors"); ?></a></li>
						    <li><a href="<?php echo $this->getUrl('sauce-hot-chocolate'); ?>"><?php echo $this->__("Dessert Sauces"); ?></a></li>
				        </ul>
			        </li>
			    </ul>
		    </div>
		    <div class="col-md-2">
			    <ul class="group">
				    <li>
					    <span class="header hidden-md hidden-lg expander-toggle" data-expander-id="ex-social"><?php echo $this->__("Social"); ?></span>
					    <span class="header hidden-sm hidden-ms hidden-xs"><?php echo $this->__("Social"); ?></span>
					    <ul class="expander" id="ex-social">
						    <li><a href="http://www.facebook.com/franschocolates" class="social-facebook"><span class="sr-only"><?php echo $this->__("Facebook"); ?></span></a></li>
						    <li><a href="http://www.twitter.com/FransChocolates" class="social-twitter"><span class="sr-only"><?php echo $this->__("Twitter"); ?></span></a></li>
						    <li><a href="http://www.instagram.com/franschocolates/" class="social-instagram"><span class="sr-only"><?php echo $this->__("Instagram"); ?></span></a></li>
						    <li><a href="http://notes.frans.com" class="social-blog"><span><?php echo $this->__("Fran's Notes and Recipes"); ?></span></a></li>

							<?php $newsletterSubscribe = $this->getUrl('cms/newsletter/form', array( "ajax" => 1 , "_secure" => true)) ?>
                            <li><div onclick="showAjaxModal('<?php echo $newsletterSubscribe?>')" class="social-newsletter"><span ><?php echo $this->__("join our mailing list"); ?></span></div></li>

					    </ul>
				    </li>
			    </ul>
		    </div>
	    </div>
	    <?php echo $this->getChildHtml('contact_info'); ?>
        <span class="sr-only"><?php echo $this->getCopyright(); ?></span>
    </div>
</footer>
