<?php
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Webcomm Pty Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
?>
<?php
/**
 * @var Mage_Page_Block_Html_Header $this
 */
?>

<?php $logoAlt = $this->getLogoAlt(); ?>
<?php $logoTargetUrl = $this->getUrl(''); ?>
<?php if ($this->getIsHomePage()) {
    $titleTag = "h1";
} else {
    $titleTag = "div";
}?>

<div class="flyout-push-wrapper">
	<div class="flyout-push">
		<div class="header-container container">
		    <header role="banner">
			    <div class="banner-mobile">
				    <a href="#" id="flyout-left-toggle">
					    <span class="hamburger-icon"><span class="sr-only"><?php echo $this->__('View menu'); ?></span></span>
				    </a>
				    <a href="<?php echo $logoTargetUrl; ?>" class="logo-mobile" title="<?php echo $logoAlt; ?>">
					    <span class="sr-only"><?php echo $this->__('Home'); ?></span>
				    </a>
			    </div>
			    <div class="banner-desktop">

		            <<?= $titleTag ?> class="logo">
			            <strong>
				            <?php echo $this->getLogoAlt(); ?>
			            </strong>
			            <a href="<?php echo $logoTargetUrl; ?>" title="<?php echo $logoAlt; ?>">
				            <img src="<?php echo $this->getLogoSrc(); ?>" alt="<?php echo $logoAlt; ?>" />
			            </a>
		            </<?= $titleTag ?>>
			    </div>
		    </header>
		</div>
	</div>
</div>

<div id="topLinks">
	<?php echo $this->getChildHtml('topLinks'); ?>
</div>

<?php echo $this->getChildHtml('topMenu'); ?>