<?php
	$nodes = $this->getNodes();
	$catalogSearchHelper = $this->helper('catalogsearch');
?>

<div id="flyout-left">

	<header>
		<form action="<?php echo $catalogSearchHelper->getResultUrl(); ?>" method="get">
			<input type="search" id="mobile-search" class="input-text" placeholder="<?php echo $this->__("Search Fran's Chocolates..."); ?>" name="<?php echo $catalogSearchHelper->getQueryParamName(); ?>" value="<?php echo $catalogSearchHelper->getEscapedQueryText() ?>" maxlength="<?php echo $catalogSearchHelper->getMaxQueryLength();?>" />
		</form>
		<h5><?php echo $this->__("Shop Fran's"); ?></h5>
	</header>

	<section>
		<ul>
			<?php foreach($nodes as $node): ?>

				<?php $categoryName = $this->escapeHtml($node->getName()); ?>
				<?php $hasChildren = $node->hasChildren(); ?>
				<?php $nodeId = $node->getId(); ?>
                <?php $viewAll = substr(strtolower($categoryName), 0, 4) == 'all ' ? 'View' : 'View all'; ?>

				<li class="category">
					<a href="<?php echo $node->getUrl(); ?>" class="icon <?php if($hasChildren): ?>expander-toggle<?php endif; ?>" <?php if($hasChildren): ?>data-expander-id="<?php echo $nodeId; ?>"<?php endif; ?>>
						<img src="<?php echo $node->getThumbnail(); ?>" />
					</a>
					<div class="contents">
						<a title="<?php echo $categoryName; ?>" href="<?php echo $node->getUrl(); ?>" class="<?php if($hasChildren): ?>expander-toggle<?php endif; ?>" <?php if($hasChildren): ?>data-expander-id="<?php echo $nodeId; ?>"<?php endif; ?>>
							<?php echo $categoryName; ?>
						</a>
						<?php if($hasChildren): ?>
							<ul class="expander" id="<?php echo $nodeId; ?>">
								<?php foreach($node->getChildren() as $child): ?>
									<?php $childName = $this->escapeHtml($child->getName()); ?>
									<li>
										<a title="<?php echo $childName; ?>" href="<?php echo $child->getUrl(); ?>" class="<?php echo $child->getOutermostClass(); ?>">
											<div class="icon"></div>
											<div class="contents"><?php echo $childName; ?></div>
										</a>
									</li>
								<?php endforeach; ?>
								<li>
									<a title="<?php echo $this->__('%s %s', $viewAll, $categoryName); ?>" href="<?php echo $node->getUrl(); ?>" class="<?php echo $child->getOutermostClass(); ?>">
										<div class="icon"></div>
										<div class="contents"><?php echo $this->__('%s %s', $viewAll, $categoryName); ?></div>
									</a>
								</li>
							</ul>
						<?php endif; ?>
					</div>
				</li>
			<?php endforeach; ?>
		</ul>
	</section>

	<header class="account-header">
		<h5><?php echo $this->__('Your Account'); ?></h5>
	</header>

	<section class="account-links">
		<ul>
			<li class="account-overview">
				<a href="<?php echo $this->getUrl('customer/account'); ?>">
					<div class="icon">
						<div class="account-icon"></div>
					</div>
					<div class="label">
						<span><?php echo $this->__('Overview'); ?></span>
					</div>
				</a>
			</li>
			<li class="account-profile">
				<a href="<?php echo $this->getUrl('customer/account/edit'); ?>">
					<div class="icon">
						<div class="account-icon"></div>
					</div>
					<div class="label">
						<span><?php echo $this->__('Personal Profile'); ?></span>
					</div>
				</a>
			</li>
			<li class="account-orders">
				<a href="<?php echo $this->getUrl('sales/order/history'); ?>">
					<div class="icon">
						<div class="account-icon"></div>
					</div>
					<div class="label">
						<span><?php echo $this->__('Order History'); ?></span>
					</div>
				</a>
			</li>
			<li class="account-communications">
				<a href="<?php echo $this->getUrl('newsletter/manage'); ?>">
					<div class="icon">
						<div class="account-icon"></div>
					</div>
					<div class="label">
						<span><?php echo $this->__('Communications'); ?></span>
					</div>
				</a>
			</li>
			<li class="account-signout">
				<a href="<?php echo $this->getUrl('customer/account/logout'); ?>">
					<div class="icon">
						<div class="account-icon"></div>
					</div>
					<div class="label">
						<span><?php echo $this->__('Sign Out'); ?></span>
					</div>
				</a>
			</li>
			<li class="account-signin">
				<a href="<?php echo $this->getUrl('customer/account'); ?>">
					<div class="icon">
						<div class="account-icon"></div>
					</div>
					<div class="label">
						<span><?php echo $this->__('Sign In'); ?></span>
					</div>
				</a>
			</li>
		</ul>
	</section>

</div>