<?php
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Webcomm Pty Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
?>
<?php
/**
 * Top menu for store
 *
 * @see Mage_Page_Block_Html_Topmenu
 */
?>

<?php $menuTree = $this->getMenuTree('level-top'); ?>
<?php $nodes = $menuTree->getChildren(); ?>
<?php $children = array(); ?>

<div class="flyout-push-wrapper">
	<div class="flyout-push">
		<div class="navbar-container container relative">
		    <?php if($menuTree): ?>
		        <nav class="navbar navbar-default navbar-main" role="navigation">
		            <div class="collapse navbar-collapse navbar-main-collapse">

			            <ul class="nav navbar-nav">

				            <?php $counter = $nodes->count(); ?>
				            <?php $parentThumbnails = array(); ?>
			                <?php foreach($nodes as $node): ?>
				                <?php $hasChildren = $node->hasChildren(); ?>
				                <?php if($hasChildren): ?>
					                <?php $children[$counter] = array(
						                'index' => $counter,
						                'tagline' => $node->getTagline(),
						                'tree' => $node->getChildren()
					                ); ?>
				                <?php endif; ?>

				                <li <?php echo $this->_getRenderedMenuItemAttributes($node); ?> data-node-index="<?php echo $counter; ?>" <?php if(!$hasChildren): ?>data-force-close="true"<?php endif; ?>>
					                <a href="<?php echo $node->getUrl(); ?>" class="<?php echo $node->getOutermostClass(); ?>">
						                <span><?php echo $this->escapeHtml($node->getName()); ?></span>
					                </a>
				                </li>
				                <?php $parentThumbnails[$counter] = $node->getThumbnail(); ?>
				                <?php $counter--; ?>
							<?php endforeach; ?>
							<?php $sortedChildren = array_reverse($children); // reverse the array before looping below ?>

		                </ul>

			            <span class="navbar-arrow"></span>

			            <ul class="navbar-main-expand">
				            <?php foreach($sortedChildren as $index => $node): ?>
				                <li class="navbar-panel" data-node-index="<?php echo $node['index']; ?>">
					                <?php if($node['tagline']): ?>
					                    <h4 class="navbar-tagline"><?php echo $node['tagline']; ?></h4>
					                <?php endif; ?>

					                <?php $displaySections = $this->getDisplaySections($node['tree']); ?>

					                <?php // TWO-COLUMN LAYOUT FOR CATEGORIES WITH CHILDREN IN DISPLAY SECTION 2 ?>
					                <?php if($displaySections[2]->count()): ?>

						                <?php $parentThumbnail = $parentThumbnails[$node['index']]; ?>
						                <?php if($parentThumbnail == ''): ?>
							                <div class="category-thumbnail placeholder"></div>
						                <?php else: ?>
							                <img class="category-thumbnail" src="<?php echo $parentThumbnail; ?>" />
						                <?php endif; ?>
						                <div class="two-column-wrapper">
							                <div class="row">

								                <div class="col-xs-6">
									                <ul>
										                <?php foreach($displaySections as $displaySectionNumber => $displaySectionNodes): ?>
											                <?php if($displaySectionNumber != 2): // every section except 2 goes in the left column ?>
											                    <?php foreach($displaySectionNodes as $child): ?>
													                <li>
														                <a href="<?php echo $child->getUrl(); ?>" tabindex="-1"><?php echo $this->escapeHtml($child->getName()); ?></a>
													                </li>
											                    <?php endforeach; ?>
															<?php endif; ?>
														<?php endforeach; ?>
								                    </ul>
								                </div>

								                <div class="col-xs-6">
									                <ul>
										                <?php foreach($displaySections[2] as $child): // section 2 goes in the right column ?>
											                <li>
												                <a href="<?php echo $child->getUrl(); ?>" tabindex="-1"><?php echo $this->escapeHtml($child->getName()); ?></a>
											                </li>
										                <?php endforeach; ?>
									                </ul>
								                </div>

							                </div>
						                </div>

					                <?php else: // STANDARD LAYOUT FOR CATEGORIES WITH CHILDREN IN DISPLAY SECTION 1 ONLY ?>

										<ul>
											<?php foreach($displaySections[1] as $child): ?>
												<?php $thumbnail = $child->getThumbnail(); ?>
								                <li <?php echo $this->_getRenderedMenuItemAttributes($child); ?>>
										            <a href="<?php echo $child->getUrl(); ?>" class="<?php echo $child->getOutermostClass(); ?>" tabindex="-1">
											            <?php if($thumbnail == ''): ?>
															<div class="category-thumbnail placeholder"></div>
														<?php else: ?>
												            <?php // TODO: Use Fran's Image Helper to cache category thumbnail images ?>
											                <img class="category-thumbnail" src="<?php echo $child->getThumbnail(); ?>" />
														<?php endif; ?>
											            <div><?php echo $this->escapeHtml($child->getName()); ?></div>
										            </a>
									            </li>
							                <?php endforeach; ?>
										</ul>

									<?php endif; ?>

				                </li>
				            <?php endforeach; ?>

			            </ul>

		            </div>
		        </nav>
			<?php endif; ?>
			<?php echo $this->getChildHtml('topSearch'); ?>
		</div>
	</div>
</div>

<?php echo $this->getChild('mobileMenu')->setNodes($nodes)->toHtml(); ?>