<?php
/**
 * Form for checking the balance
 */
?>

<?php
	$cardBalance = $this->getCardBalance();

	// grab the banner for this page backdrop from the Banners module
	$banner = $this->getBanner();
?>

<div class="backdrop">
	<div class="col-xs-12">
		<div class="gift-cards-header" style="background-image: url('<?php echo $banner->getImageUrl(); ?>');">
			<div class="header-content">
				<h3><?php echo $this->__('Check Balance'); ?></h3>
				<p><?php echo $this->__("To check the balance on your Fran's Gift Card, please enter your card number below."); ?></p>
			</div>
		</div>
	</div>
</div>
<div class="frans-container">

	<div class="row">
		<div class="col-xs-12">
			<form action="<?php echo rtrim($this->getUrl('*/*'),'/'); ?>" method="post" id="check-balance-form">

				<input type="hidden" name="action" value="check_balance" />
				<div class="row">
					<div class="col-xs-9">
						<input class="input-text" type="text" name="card_number" placeholder="<?php echo $this->__('Enter 21 digit code'); ?>" maxlength="50" />
						<span class="valid-icon"></span>
					</div>
					<div class="col-xs-3">
						<input type="submit" class="btn button-dark" value="Check" id="gc-check-button" />
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12" id="result">
						<?php if($cardBalance['status'] == 'success'): ?>
							<span class="gc-result-label"><?php echo $this->__('The remaining balance on your gift card is'); ?></span>
							<span class="gc-result-amount"><?php echo $cardBalance['message']; ?></span>
						<?php elseif($cardBalance['status'] == 'error'): ?>
							<span class="gc-result-error"><?php echo $cardBalance['message']; ?></span>
						<?php endif; ?>
					</div>
				</div>

			</form>

			<p class="terms-link"><?php echo $this->__('View Gift Card'); ?> <a href="#" class="terms-and-conditions"><?php echo $this->__('Terms and Conditions'); ?> &#187;</a></p>

		</div>

	</div>


	<div id="terms-popup">
		<h2><?php echo $this->_termsTitle; ?></h2>
		<?php echo $this->_termsContent; ?>
	</div>

	<script type="text/javascript">

		var modalContainerCss =  {
			position: 'absolute',
			backgroundColor: '#ffffff',
			border: '1px solid #c7c7c7',
			fontSize: '12px',
			padding: '30px',
			width: '500px',
			overflow: 'visible',
			marginBottom: '20px',
			fontFamily: 'Helvetica, Arial, sans-serif'
		};

		function showTermsPopup(event){
			event.preventDefault();
			showModal(jQuery('#terms-popup').html(), { containerCss: modalContainerCss });
		}

		jQuery(document).ready(function(){
			var body = jQuery('body');
			body.on('click', '.terms-and-conditions', showTermsPopup);
			body.on('keyup', 'input[name="card_number"]', function(){
				var isValid = (jQuery(this).val().length >= 16);
				jQuery(this).toggleClass('valid', isValid);
			});
		});

	</script>

</div>