<ul class="form-list" id="payment_form_giftcard">
    <li>
        <label for="giftcards_card_number">Fran's Gift Card Number</label>
        <div class="input-box">
            <input type="text" title="Gift Card Number" class="input-text " id="giftcards_card_number" name="payment[gift_card_number]" value="" autocomplete="off" />
        </div>
    </li>
</ul>