<div class="gift-card-preview">
	<div class="preview-header">
		<?php echo $this->__('Preview Virtual Gift Card'); ?>
	</div>
	<div class="masthead">
		<p><?php echo $this->__('Gift Card Number:'); ?> <span><?php echo $this->__('(will be shown here)'); ?></span></p>
		<img src="<?php echo $this->getSkinUrl('images/giftcard-preview.png'); ?>" />
	</div>
	<div class="content">
		<div class="greeting"><?php echo $this->__('Hi %s,', $this->getRecipientName()); ?></div>
		<div class="info"><?php echo $this->__("You've received a gift card from %s!", $this->getSenderName()); ?></div>
		<?php if($this->getMessage()): ?>
			<div class="message"><?php echo $this->getMessage(); ?></div>
		<?php endif; ?>
	</div>
</div>