<?php

	// grab the banner for this page backdrop from the Banners module
	$banner = $this->getBanner();

?>

<div class="backdrop">
	<div class="col-xs-12">
		<div class="gift-cards-header" style="background-image: url('<?php echo $banner->getImageUrl(); ?>');">
			<div class="header-content">
				<h3><?php echo $this->getCategoryName(); ?></h3>
				<?php echo $this->getCategoryDescription(); ?>
			</div>
		</div>
	</div>
</div>
<div class="frans-container">

	<div class="row">
		<div class="gift-card-column classic">
			<div class="gift-card-column-wrapper">
				<img src="<?php echo $this->getProductImage($this->_classicProduct); ?>" />
				<h4><?php echo $this->getProductName($this->_classicProduct); ?></h4>
				<p><?php echo $this->getProductDescription($this->_classicProduct); ?></p>
				<button type="button" id="giftcard-select-classic" title="<?php echo $this->__('Send Classic'); ?>" class="btn button-dark" tabindex="1"><?php echo $this->__('Send Classic'); ?></button>
				<?php echo $this->getChild('classic.giftcard')->setProduct($this->_classicProduct)->toHtml(); ?>
			</div>
		</div>
		<div class="gift-card-column virtual">
			<div class="gift-card-column-wrapper">
				<img src="<?php echo $this->getProductImage($this->_virtualProduct); ?>" />
				<h4><?php echo $this->getProductName($this->_virtualProduct); ?></h4>
				<p><?php echo $this->getProductDescription($this->_virtualProduct); ?></p>
                <div id="giftcardsBlock">
                	<?php echo $this->getChild('virtual.giftcard')->setProduct($this->_virtualProduct)->toHtml(); ?>
                </div>
			</div>
		</div>
	</div>

	<p class="terms-link"><?php echo $this->__('View Gift Card'); ?> <a href="#" class="terms-and-conditions"><?php echo $this->__('Terms and Conditions'); ?> &#187;</a></p>

	<div id="terms-popup">
		<h2><?php echo $this->_termsTitle; ?></h2>
		<?php echo $this->_termsContent; ?>
	</div>

	<script type="text/javascript">

		var modalContainerCss =  {
			position: 'absolute',
			backgroundColor: '#ffffff',
			border: '1px solid #c7c7c7',
			fontSize: '12px',
			padding: '30px',
			width: '500px',
			overflow: 'visible',
			marginBottom: '20px',
			fontFamily: 'Helvetica, Arial, sans-serif'
		};

		function showClassic(){
			jQuery('#giftcard-select-classic').hide();
			jQuery('#classic-form').slideDown(100);
			jQuery('#virtual-form').slideUp(100, function(){
				jQuery('#giftcard-select-virtual').show();
			});
		}

		function showVirtual(){
			jQuery('#giftcard-select-virtual').hide();
			jQuery('#virtual-form').slideDown(100);
			jQuery('#classic-form').slideUp(100, function(){
				jQuery('#giftcard-select-classic').show();
			});
		}

		function showTermsPopup(event){
			event.preventDefault();
			showModal(jQuery('#terms-popup').html(), { containerCss: modalContainerCss });
		}

		jQuery(document).ready(function(){
			var body = jQuery('body');
			body.on('click', '#giftcard-select-classic', showClassic);
			body.on('click', '#giftcard-select-virtual', showVirtual);
			body.on('click', '.terms-and-conditions', showTermsPopup);
		});
	</script>

</div>