<?php 
	$results = $this->getResults();
	$hasSubQuery = $this->getHasSubQuery();
	$hasTotals = $this->getHasTotals();
?>

<div class="grid" style="width: 100%;" >
	<?php if($results["error"] == null): ?>
		<h4><?php echo $this->__("Results: ")?></h4>
		<table class="data sub-query-table">
			<thead>
				<tr class="headings">
					<?php if($hasSubQuery): ?>
						<th class="show-all-sub-querys sub-query-hidden">
							<?php echo $this->__("+/-") ?>
						</th>
					<?php endif; ?>
					<?php foreach ($results["columns"] as $key => $column):?>
						<?php  $headerColumnCount = 0; ?>
						<th><?php echo $column["name"]; ?></th>
					<?php endforeach;?>
				</tr>
			</thead>
			<tbody style="height: 300px; overflow-y: auto">
				<?php foreach ($results["data"] as $dataKey => $data):?>
					<?php  $c = 0; ?>
					<tr>
						<?php if($hasSubQuery): ?>
							<td class="<?php echo ($hasTotals && $dataKey  == count($results["data"]) - 1 ? '' : 'show-sub-query')  ?>">
								<?php echo ($hasTotals && $dataKey  == count($results["data"]) - 1 ? '' : '+')  ?>
							</td>
						<?php endif; ?>
						<?php foreach($data as $d): ?>
							<?php $type = $results["columns"][$c]["type"]; ?>
							<?php 
								//alignment
								$align = "left";
								if($this->isNumber($type) == true)
								{
									$align = "right";
								}
								
								//format
								$value = $d;
								switch($type){
									case "DATE":
										// dates might be empty, skip if so
										if ($value)
										{
											$value = date('m-d-Y',strtotime($value));
										}
										break;
									case "NEWDECIMAL":
										$value = number_format ($value, 2);
										break;
									default:
										$value = $d;
										break;
								}
							?>
							
							<td style="text-align: <?php echo $align; ?>">
								<?php echo $value; ?>
							</td>
							<?php 
								if($this->isNumber($type) == true)
								{
									$results["columns"][$c]["total"] += $d;
								}
							?>
							<?php $c++; ?>
						<?php endforeach;?>
					</tr>
					<?php
						//If we have time lets move the table to it's own child phtml
					?>
					<?php if($hasSubQuery): ?>
						<tr  class="sub-query-row" style="display: none;">
							<td></td>
							<td colspan="<?php echo $c; ?>" >
								<table id="sub-query" class="data">
									<thead>
									<tr >
										<?php foreach($results["sub_data" ][$dataKey]['columns'] as $subQueryData): ?>
											<th><?php  echo $subQueryData["name"]; ?></th>
										<?php endforeach; ?>
									</tr>
									</thead>
									<tbody style="height: 300px; overflow-y: auto">

										<?php foreach($results["sub_data" ][$dataKey]['data'] as $data): ?>
											<tr>
												<?php  $c = 0; ?>
												<?php foreach($data as $d): ?>
													<?php $type = $results["sub_data" ][$dataKey]["columns"][$c]["type"]; ?>
													<?php
													//alignment
													$align = "left";
													if($this->isNumber($type) == true)
													{
														$align = "right";
													}

													//format
													$value = $d;
													switch($type){
														case "DATE":
															// dates might be empty, skip if so
															if ($value)
															{
																$value = date('m-d-Y',strtotime($value));
															}
															break;
														case "NEWDECIMAL":
															$value = number_format ($value, 2);
															break;
														default:
															$value = $d;
															break;
													}
													?>

													<td style="text-align: <?php echo $align; ?>">
														<?php echo $value; ?>
													</td>
													<?php
													if($this->isNumber($type) == true)
													{
														$results["columns"][$c]["total"] += $d;
													}
													?>
													<?php $c++; ?>
												<?php endforeach;?>
											</tr>

										<?php endforeach;?>
									</tbody>
								</table>
							</td>
						</tr>

					<?php endif;?>
				<?php endforeach; ?>		
			</tbody>
		</table>
	<?php else: ?>
		<h4><?php echo $this->__("Error running report: ")?></h4>
		<p><?php echo $results["error"]; ?></p>
	<?php endif; ?>
</div>

<div style="margin-top: 30px;">
	<h4><?php echo $this->__("Pre-Sql Query: ")?></h4>
		<?php echo $this->getFinalPreSql(); ?> 		
</div>

<div style="margin-top: 30px;">
	<h4><?php echo $this->__("Sql Query: ")?></h4>
	<?php echo $this->getSql(); ?>
</div>

<div style="margin-top: 30px;">
	<h4><?php echo $this->__("Sub Query: ")?></h4>
	<?php echo $this->getFinalSubQuery(); ?>
</div>


