<div class="content-header">
	<table cellspacing="0">
		<tr>
			<td>
			<h3><?php echo $this->__("Reports by Category"); ?></h3>
			</td>
		</tr>
	</table>
</div>

<div class="entry-edit">
	<?php foreach($this->getCategories() as $category):?>
		<div class="entry-edit-head">
		    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $category->getTitle();?></h4>
		    <div class="form-buttons"></div>
		</div>
		
		<div class="fieldset " id="sales_report_base_fieldset">
		    <?php foreach($this->getReports($category) as $report):?>
		    	<table>
		    		<tr>
		    			<td>
		    				<a href="<?php echo $this->getUrl('*/sqlreports_index/viewreport', array("id" => $report->getId())); ?>"><?php echo $report->getTitle(); ?></a>
		    			</td>
		    		</tr>
		    	</table>
		    <?php endforeach; ?>
		</div>
	<?php endforeach; ?>
	

	
</div>