<?php $report = $this->getReport(); ?>
<?php $categories = Mage::getModel("sqlReports/sqlReportCategory")->getCollection(); ?>
<?php $sqlTables = $report->getListOfTables(); ?>

<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td>
                <h3><?php echo $this->__("Report: ") . $report->getTitle(); ?></h3>

            </td>
            <td class="form-buttons">
                <button type="button" onclick="window.location.href='<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/sqlreports_index'); ?>'" class="scalable"><span><?php echo $this->__("Back To Dashboard");?></span></button>
            </td>
        </tr>
    </table>
</div>

<div class="entry-edit">
<form id="edit_form" action="<?php echo $this->getUrl('*/sqlreports_index/savereport' , array("id" => $report->getId())) ?>" method="post" style="display: none;">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__("Edit Report");?></h4>
        <div class="form-buttons"></div>
    </div>

    <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />

    <div class="fieldset " id="sales_report_base_fieldset">
        <table class="form-list">
            <tr>
                <td class="label"><?php echo $this->__("Label");?></td>
                <td class="value">
                    <input class='required-entry input-text' value="<?php echo $report->getTitle(); ?>" type='text' name='title'>
                </td>
            </tr>
            <tr>
                <td class="label"><?php echo $this->__("Category");?></td>
                <td class="value">
                    <select class='required-entry'  name='category'>
                        <?php foreach($categories as $category):?>
                            <option <?php echo ($report->getCategoryId() == $category->getId() ? "selected" : "" ); ?> value="<?php echo $category->getId(); ?>"><?php echo $category->getTitle(); ?></option>
                        <?php endforeach;?>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label"><?php echo $this->__("SQL Query");?></td>
                <td class="value">
                    <textarea class='required-entry'  name='sql' style="width: 450px;"><?php echo $report->getSql(); ?></textarea>
                    <p class="note">
                                <span>To include a link to an order in the report, you can include the order ID column with the alias "order_view" (e.g. o.entity_id AS order_view).
                                This will be included when viewing the report results, but will be excluded when exporting to CSV.</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="label"><?php echo $this->__("Sub Query");?></td>
                <td class="value">
                    <textarea class=''  name='sub_query' style="width: 450px;"><?php echo $report->getSubQuery(); ?></textarea>
                    <p class="note">
                        <span>
                            <?php echo $this->__('A query that will be executed against each row result of the SQL Query. You can use column results from the SQL Query as conditions or as columns in your Sub query by adding keys to be replaced. Like {entity_id} could be used if your SQL Query was on the sales_flat_order table, see example below.
                                <br>
                                    SELECT * FROM sale_oreder_item WHERE order_id = {entity_id};'); ?>
                        </span>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="label"><?php echo $this->__("Pre SQL Query (is run before the query)");?></td>
                <td class="value">
                    <textarea  name='pre_sql' style="width: 450px;"><?php echo $report->getPreSql(); ?></textarea>
                </td>
            </tr>
            <tr>
                <td class="label"><?php echo $this->__("Columns to Total");?></td>
                <td class="value">
                    <textarea name='column_names_to_total' style="width: 450px;"><?php echo $report->getColumnNamesToTotal(); ?></textarea>
                </td>
            </tr>
            <tr>
                <td class="label"></td>
                <td class="value">
                    <button style="margin-top: 20px; margin-right: 15px;" type="button" onclick="editFormSubmit()" class="scalable"><span><?php echo $this->__("Save");?></span></button>
                    <a href='javascript: hideEdit()' ><?php echo $this->__("cancel"); ?></a>
                </td>
            </tr>
        </table>
    </div>

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__("Available Tables");?></h4>
        <div class="form-buttons"></div>
    </div>
    <div  class="fieldset " id="sales_report_base_fieldset">

        <div style="float: left;">
            <h4>Click on a table to see sample data and columns.</h4>
            <select id="table-list" onchange="tableselectChange(this);" multiple="multiple" style="width: 300px; height: 300px;" >
                <?php foreach($sqlTables as $table): ?>
                    <option value="<?php echo $table; ?>"><?php echo $table; ?></option>
                <?php endforeach;?>
            </select>
        </div>

        <div style="float: left; margin-left: 20px;">

            <div id="sample-data"></div>

        </div>

        <div style="clear: both"></div>

    </div>

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__("Parameter Builder");?></h4>
        <div class="form-buttons"></div>
    </div>
    <div  class="fieldset " id="sales_report_base_fieldset">

        <h4>Enter the parameter label and type, then copy and paste the output to the SQL Query above.</h4>

        <table id="param-builder" class="form-list">
            <tr>
                <td class="label"><?php echo $this->__("Label");?></td>
                <td class="value">
                    <input onchange="buildParam();" id="param-label" class=' input-text' value="" type='text'>
                </td>
            </tr>
            <tr>
                <td class="label"><?php echo $this->__("Type");?></td>
                <td class="value">
                    <select  onchange="buildParam();" id="param-type"  >
                        <option value="string">Text Field</option>
                        <option value="number">Number Field</option>
                        <option value="date">Date Selector</option>
                        <option value="select[usregions]">Select State Selector</option>
                        <option value="multiselect[usregions]">MultiSelect State Selector</option>
                        <option value="select[customergroups]">Select Customer Group Selector</option>
                        <option value="multiselect[customergroups]">MultiSelect Customer Group Selector</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td class="label"><?php echo $this->__("Output (copy and paste):");?></td>
                <td class="value">
                    <span id="param-output"></span>
                </td>
            </tr>

        </table>

        <div style="clear: both"></div>

    </div>



</form>
<!--  /index.php/sqlreports/adminhtml_index/runreport/id/ -->
<form id="filter_form" action="<?php echo $this->getUrl('*/sqlreports_index/runreport' , array("id" => $report->getId())) ?>" method="post">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__("Query Parameters");?></h4>
        <div class="form-buttons"></div>
    </div>

    <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
    <input type="hidden" name="export" id="form_export" value="" />

    <div class="fieldset " id="sales_report_base_fieldset">
        <?php if($report->getQueryParameters() == null):?>
            <p><?php echo $this->__("There are no parameters for this report."); ?></p>
        <?php else: ?>
            <table class="form-list">
                <?php foreach($report->getQueryParameters() as $param): ?>
                    <tr>
                        <td class="label"><?php echo $param["label"];?></td>
                        <td class="value">
                            <?php
                            $name = "params[" . $param["label"] . "]";
                            switch($param["type"])
                            {
                                case "string":
                                    echo "<input class='required-entry input-text' type='text' name='" . $name . "'>";
                                    break;
                                case "number":
                                    echo "<input  class='required-entry input-text number' type='text' name='" . $name . "'>";
                                    break;
                                case "date":
                                    echo "<input id=" . str_replace(" ", "_", $name) . " class='required-entry input-text' type='text' name='" . $name . "'  style='width:110px !important;'>";
                                    echo ' <img src="/skin/adminhtml/default/default/images/grid-cal.gif" alt="" class="v-middle" id="report_param' . str_replace(" ", "_", $name) . '" title="Select Date" style="" />';
                                    echo "<p class='note' style='color: #D40707'><span>mm/dd/yy</span></p>";
                                    echo "<script type='text/javascript'>";
                                    // echo "//<![CDATA[";
                                    echo "    Calendar.setup({";
                                    echo "        inputField: '" . str_replace(" ", "_", $name)  . "',";
                                    //    echo "        ifFormat: '%y/%m/%d',";
                                    echo "        ifFormat: '%m/%d/%y',";
                                    echo "        showsTime: false,";
                                    echo "        button: 'report_param" . str_replace(" ", "_", $name) . "',";
                                    echo "        align: 'Bl',";
                                    echo "        singleClick : true";
                                    echo "    });";
                                    //echo "//]]>";
                                    echo "</script>";
                                    break;
                                case "select":
                                    echo "<select  class='required-entry'  name='" . $name . "'>";
                                    echo "<option value=''></option>";
                                    foreach($param["options"] as $options)
                                    {
                                        echo "<option value='" . $options["value"] . "'>" . $options["label"] . "</option>";
                                    }
                                    echo "</select>";
                                    break;
                                case "multiselect":
                                    echo "<select  multiple='multiple' class='required-entry'  name='" . $name . "[]'>";

                                    foreach($param["options"] as $options)
                                    {
                                        echo "<option value='" . $options["value"] . "'>" . $options["label"] . "</option>";
                                    }
                                    echo "</select>";
                                    break;
                            }
                            ?>
                        </td>
                        <td class="value">

                            <?php
                            switch($param["type"])
                            {
                                case "multiselect":
                                    echo $this->__("Hold down CTRL to select more than one.");
                                    break;
                                default:
                                    //echo $param["type"];
                                    break;
                            }

                            ?>
                        </td>
                    </tr>
                <?php endforeach;?>
            </table>
        <?php endif;?>

        <button style="margin-top: 20px; margin-right: 15px;" type="button" onclick="filterFormSubmit()" class="scalable"><span><?php echo $this->__("Run Report");?></span></button>
        <button style="margin-top: 20px; margin-right: 15px;" type="button" onclick="filterFormSubmit('export')" class="scalable"><span><?php echo $this->__("Export Report");?></span></button>
        <a href='javascript: showEdit()' ><?php echo $this->__("edit report"); ?></a>
    </div>
</form>

<div id="sqlReportsGrid">

</div>

</div>


<script type="text/javascript">


    jQuery(document).on("click", '.show-all-sub-querys', function($) {
        var subQueries = jQuery('.show-sub-query');
        var showHide = '+';

        jQuery('.sub-query-hidden');
        if( jQuery('.sub-query-hidden').length == 0)
        {
            var showHide = '-';
            jQuery('.show-all-sub-querys').addClass('sub-query-hidden');
        }

        jQuery.each(subQueries, function(){
            showSubQuery(jQuery(this),showHide);
        });

    });

    jQuery(document).on("click", '.show-sub-query', function($) {
        showSubQuery(jQuery(this));
    });

    function showSubQuery(jQueryObj, showHide)
    {
        var $varShow = '+';
        var $varHide = '-';

        if(typeof showHide == "undefined")
        {
            var showAllSubQueries = jQuery('.show-all-sub-querys');
            if(jQueryObj.text() == $varHide)
            {
                jQueryObj.html($varShow);
                jQueryObj.parent('tr').next('tr').hide();
                showAllSubQueries.addClass('sub-query-hidden');
            }
            else
            {
                jQueryObj.html($varHide);
                jQueryObj.parent('tr').next('tr').show();
                showAllSubQueries.removeClass('sub-query-hidden');
            }
        }
        else
        {
            if(showHide == $varHide)
            {
                jQueryObj.html($varShow);
                jQueryObj.parent('tr').next('tr').hide();

            }
            else
            {
                jQueryObj.html($varHide);
                jQueryObj.parent('tr').next('tr').show();
                jQuery('.show-all-sub-querys').removeClass('sub-query-hidden');
            }
        }



    }


    function showEdit()
    {
        jQuery('#edit_form').show();
        jQuery('#filter_form').hide();
        jQuery('#sqlReportsGrid').html('');

        //return false;
    }

    function hideEdit()
    {
        jQuery('#edit_form').hide();
        jQuery('#filter_form').show();

        //return false;
    }

    function filterFormSubmit(runType) {

        var filters = $$('#filter_form input', '#filter_form select');
        //alert(filters.length);
        var elements = [];
        for(var i in filters){
            if(filters[i].value && filters[i].value.length && !filters[i].disabled) elements.push(filters[i]);
        }
        var validator  = new Validation('filter_form');
        if (validator.validate()) {
            //get all the form fields.
            var vars = [];
            for(var i = 0; i < filters.length; i++){
                vars.push({key: filters[i].name, value: filters[i].value});
            }



            //call report.
            if(runType == "export")
            {
                jQuery("#form_export").attr("value","true");

                jQuery('#sqlReportsGrid').html("Your exported report will auto download in a moment.");

                jQuery("#filter_form").submit();

            }
            else
            {
                jQuery("#form_export").attr("value","");

                jQuery('#sqlReportsGrid').html("Running report...");

                var url = "<?php echo $this->getUrl('*/sqlreports_index/runreport' , array("id" => $report->getId())) ?>";

                jQuery.get(url, jQuery("#filter_form").serialize(), function(data) {
                    jQuery('#sqlReportsGrid').html(data);
                    jQuery('#data-table').fixheadertable({
                        height   : 200,
                        width    : 800,
                        minWidth : 1000
                    });
                });
            }

            //setLocation('http://dev.publicsafetytesting.com/index.php/admin/report_sales/tax/filter/'+encode_base64(Form.serializeElements(elements))+'/');
        }
    }

    function tableselectChange(el)
    {
        var selected = jQuery("#table-list").attr('selected', 'selected');
        getSampleData(selected.attr("value") );
    }
    function getSampleData(tablename)
    {//'/index.php/sqlreports/adminhtml_index/getsampledata/id/'
        jQuery.get("<?php echo $this->getUrl('*/sqlreports_index/getsampledata/') ?>"+ "id/" + tablename, null, function(data) {
            jQuery('#sample-data').html(data);
            //alert('Load was performed.');
        });
    }

    function buildParam()
    {
        var label = jQuery("#param-label").attr("value");
        var type = jQuery("#param-type").attr("value");
        var output = jQuery("#param-output");


        var param = "{" + label + ":" + type + "}";

        jQuery(output).html(param);
    }

    function editFormSubmit() {

        var filters = $$('#edit_form input', '#edit_form select');
        //alert(filters.length);
        var elements = [];
        for(var i in filters){
            if(filters[i].value && filters[i].value.length && !filters[i].disabled) elements.push(filters[i]);
        }
        var validator  = new Validation('edit_form');
        if (validator.validate()) {


            jQuery('#edit_form').submit();

        }
    }
</script>