<?php 
	$results = $this->getResults(); 
?>
<h4><?php echo $this->__("Sample Data: ")?> <?php echo $this->getTableName(); ?></h4>
<div  class="grid" style="height: 400px; width: 700px; overflow:auto;">
<?php if(empty($results["error"])):?>
	<table class="data">
		<thead>
			<tr class="headings">
				<?php foreach ($results["columns"] as $column):?>
					<th><?php echo $column["name"]; ?></th>
				<?php endforeach;?>
			</tr>
		</thead>
		<tbody>
			<?php foreach ($results["data"] as $data):?>
				<tr>
					<?php foreach($data as $d): ?>
						<td><?php echo $d ?></td>
					<?php endforeach;?>
				</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
<?php else: ?>
	<p><?php echo $this->__("No data available or possible error receiving sample data."); ?>
<?php endif; ?>
</div>