// Overrides for Bootstrap Forms mixins go in here

.form-control-focus() {

  .transition(~'background-color 500ms, box-shadow 300ms');

  &:focus {
    border-color: @input-border;
    outline: inherit;
    .box-shadow(@input-focus-shadow);
    .transition(background-color 100ms);
  }
}