//
// This LESS mixin file is updated automatically by TexturePacker.
// If you manually make changes to this file, they will be overwritten!
//
// Please review internal documentation for info about updating spritesheets:
// http://connect.gosolid.net/public/index.php?path_info=projects%2F128%2Fpages%2F74344
//
// SmartUpdateHash: $TexturePacker:SmartUpdate:d8c79ad422181a99a10b2d46503c3de7:e4797f58e3f0dec2db2ba80a8f8685ae:cd40cd2d4ce2403769ced22d25756372$
//

// append a timestamp (generated once per publish) to the URLs to invalidate old cached spritesheets
@sprite-timestamp: '1450130622755';

// load the styles for downscaled sprites, to enable retina sprite support for browsers that don't support background-size
@import "sprites-downscaled.less";

// Global mixin used for all sprites
.sprite(@sprite-name; @sprite-display: block){
  display: @sprite-display;
  background-image: url('@{image-path}frans-sprites.png?@{sprite-timestamp}');
  background-repeat: no-repeat;
  .sprite-info(@sprite-name);
  content: '';
}

// Individual sprite definitions below this point

.sprite-info('divider-horizontal-or') {
  @scale-factor: 0.5;
  background-position: (-0px * @scale-factor) (-0px * @scale-factor);
  width: (334px * @scale-factor);
  height: (18px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('divider-vertical-or') {
  @scale-factor: 0.5;
  background-position: (-338px * @scale-factor) (-0px * @scale-factor);
  width: (32px * @scale-factor);
  height: (318px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('accent-divider') {
  @scale-factor: 1.0;
  background-position: (-0px * @scale-factor) (-22px * @scale-factor);
  width: (150px * @scale-factor);
  height: (14px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('account-icon-communications') {
  @scale-factor: 1.0;
  background-position: (-0px * @scale-factor) (-40px * @scale-factor);
  width: (110px * @scale-factor);
  height: (50px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('account-icon-orders') {
  @scale-factor: 1.0;
  background-position: (-0px * @scale-factor) (-94px * @scale-factor);
  width: (110px * @scale-factor);
  height: (50px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('account-icon-overview') {
  @scale-factor: 1.0;
  background-position: (-0px * @scale-factor) (-148px * @scale-factor);
  width: (110px * @scale-factor);
  height: (50px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('account-icon-profile') {
  @scale-factor: 1.0;
  background-position: (-0px * @scale-factor) (-202px * @scale-factor);
  width: (110px * @scale-factor);
  height: (50px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('logo-watermark') {
  @scale-factor: 0.5;
  background-position: (-0px * @scale-factor) (-256px * @scale-factor);
  width: (64px * @scale-factor);
  height: (68px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('shopping-bag-hover') {
  @scale-factor: 0.5;
  background-position: (-0px * @scale-factor) (-328px * @scale-factor);
  width: (70px * @scale-factor);
  height: (60px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('shopping-bag') {
  @scale-factor: 0.5;
  background-position: (-0px * @scale-factor) (-392px * @scale-factor);
  width: (70px * @scale-factor);
  height: (60px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('flyout-account-communications') {
  @scale-factor: 0.5;
  background-position: (-0px * @scale-factor) (-456px * @scale-factor);
  width: (68px * @scale-factor);
  height: (49px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('divider-vertical-arrow-right') {
  @scale-factor: 1.0;
  background-position: (-114px * @scale-factor) (-40px * @scale-factor);
  width: (8px * @scale-factor);
  height: (101px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('logo-mobile-dark') {
  @scale-factor: 0.5;
  background-position: (-68px * @scale-factor) (-256px * @scale-factor);
  width: (57px * @scale-factor);
  height: (60px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('logo-mobile-light') {
  @scale-factor: 0.5;
  background-position: (-74px * @scale-factor) (-320px * @scale-factor);
  width: (57px * @scale-factor);
  height: (60px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('logo-light-gray') {
  @scale-factor: 1.0;
  background-position: (-74px * @scale-factor) (-384px * @scale-factor);
  width: (55px * @scale-factor);
  height: (57px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('flyout-account-orders') {
  @scale-factor: 0.5;
  background-position: (-154px * @scale-factor) (-22px * @scale-factor);
  width: (68px * @scale-factor);
  height: (49px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('flyout-account-overview') {
  @scale-factor: 0.5;
  background-position: (-226px * @scale-factor) (-22px * @scale-factor);
  width: (68px * @scale-factor);
  height: (49px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('flyout-account-profile') {
  @scale-factor: 0.5;
  background-position: (-126px * @scale-factor) (-75px * @scale-factor);
  width: (68px * @scale-factor);
  height: (49px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('flyout-account-signout') {
  @scale-factor: 0.5;
  background-position: (-198px * @scale-factor) (-75px * @scale-factor);
  width: (68px * @scale-factor);
  height: (49px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('section-icon-cart') {
  @scale-factor: 1.0;
  background-position: (-126px * @scale-factor) (-40px * @scale-factor);
  width: (23px * @scale-factor);
  height: (31px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('loading-animation-1') {
  @scale-factor: 1.0;
  background-position: (-270px * @scale-factor) (-75px * @scale-factor);
  width: (50px * @scale-factor);
  height: (50px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('shipment-summary-truck') {
  @scale-factor: 1.0;
  background-position: (-126px * @scale-factor) (-128px * @scale-factor);
  width: (60px * @scale-factor);
  height: (27px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('loading-animation-10') {
  @scale-factor: 1.0;
  background-position: (-114px * @scale-factor) (-159px * @scale-factor);
  width: (50px * @scale-factor);
  height: (50px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('hamburger-icon-dark') {
  @scale-factor: 0.5;
  background-position: (-190px * @scale-factor) (-128px * @scale-factor);
  width: (50px * @scale-factor);
  height: (27px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('loading-animation-2') {
  @scale-factor: 1.0;
  background-position: (-168px * @scale-factor) (-159px * @scale-factor);
  width: (50px * @scale-factor);
  height: (50px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('hamburger-icon-light') {
  @scale-factor: 0.5;
  background-position: (-114px * @scale-factor) (-213px * @scale-factor);
  width: (50px * @scale-factor);
  height: (27px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('loading-animation-3') {
  @scale-factor: 1.0;
  background-position: (-168px * @scale-factor) (-213px * @scale-factor);
  width: (50px * @scale-factor);
  height: (50px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('loading-animation-4') {
  @scale-factor: 1.0;
  background-position: (-222px * @scale-factor) (-159px * @scale-factor);
  width: (50px * @scale-factor);
  height: (50px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('loading-animation-5') {
  @scale-factor: 1.0;
  background-position: (-222px * @scale-factor) (-213px * @scale-factor);
  width: (50px * @scale-factor);
  height: (50px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('loading-animation-6') {
  @scale-factor: 1.0;
  background-position: (-276px * @scale-factor) (-129px * @scale-factor);
  width: (50px * @scale-factor);
  height: (50px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('loading-animation-7') {
  @scale-factor: 1.0;
  background-position: (-276px * @scale-factor) (-183px * @scale-factor);
  width: (50px * @scale-factor);
  height: (50px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('loading-animation-8') {
  @scale-factor: 1.0;
  background-position: (-276px * @scale-factor) (-237px * @scale-factor);
  width: (50px * @scale-factor);
  height: (50px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('cross-sell-icon') {
  @scale-factor: 1.0;
  background-position: (-298px * @scale-factor) (-22px * @scale-factor);
  width: (30px * @scale-factor);
  height: (30px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('social-facebook-hover') {
  @scale-factor: 1.0;
  background-position: (-74px * @scale-factor) (-445px * @scale-factor);
  width: (52px * @scale-factor);
  height: (12px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('resend-email-icon') {
  @scale-factor: 0.5;
  background-position: (-72px * @scale-factor) (-460px * @scale-factor);
  width: (46px * @scale-factor);
  height: (43px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('loading-animation-9') {
  @scale-factor: 1.0;
  background-position: (-133px * @scale-factor) (-384px * @scale-factor);
  width: (50px * @scale-factor);
  height: (50px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('social-facebook') {
  @scale-factor: 1.0;
  background-position: (-133px * @scale-factor) (-438px * @scale-factor);
  width: (52px * @scale-factor);
  height: (12px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('social-twitter-hover') {
  @scale-factor: 1.0;
  background-position: (-130px * @scale-factor) (-453px * @scale-factor);
  width: (48px * @scale-factor);
  height: (9px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('print-icon') {
  @scale-factor: 0.5;
  background-position: (-122px * @scale-factor) (-466px * @scale-factor);
  width: (41px * @scale-factor);
  height: (43px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('logo-divider') {
  @scale-factor: 1.0;
  background-position: (-167px * @scale-factor) (-466px * @scale-factor);
  width: (37px * @scale-factor);
  height: (38px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('contact-call-active') {
  @scale-factor: 1.0;
  background-position: (-129px * @scale-factor) (-244px * @scale-factor);
  width: (31px * @scale-factor);
  height: (27px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('nutrition-icon-gluten') {
  @scale-factor: 1.0;
  background-position: (-129px * @scale-factor) (-275px * @scale-factor);
  width: (37px * @scale-factor);
  height: (37px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('nutrition-icon-gmo') {
  @scale-factor: 1.0;
  background-position: (-170px * @scale-factor) (-267px * @scale-factor);
  width: (37px * @scale-factor);
  height: (37px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('nutrition-icon-vegan') {
  @scale-factor: 1.0;
  background-position: (-211px * @scale-factor) (-267px * @scale-factor);
  width: (37px * @scale-factor);
  height: (37px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('gallery-next-hover') {
  @scale-factor: 1.0;
  background-position: (-252px * @scale-factor) (-267px * @scale-factor);
  width: (20px * @scale-factor);
  height: (37px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('social-instagram-hover') {
  @scale-factor: 1.0;
  background-position: (-276px * @scale-factor) (-291px * @scale-factor);
  width: (46px * @scale-factor);
  height: (16px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('calendar-next-disabled') {
  @scale-factor: 1.0;
  background-position: (-135px * @scale-factor) (-316px * @scale-factor);
  width: (40px * @scale-factor);
  height: (31px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('calendar-next-hover') {
  @scale-factor: 1.0;
  background-position: (-179px * @scale-factor) (-308px * @scale-factor);
  width: (40px * @scale-factor);
  height: (31px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('calendar-next') {
  @scale-factor: 1.0;
  background-position: (-223px * @scale-factor) (-308px * @scale-factor);
  width: (40px * @scale-factor);
  height: (31px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('card-icon-amex') {
  @scale-factor: 1.0;
  background-position: (-135px * @scale-factor) (-351px * @scale-factor);
  width: (38px * @scale-factor);
  height: (25px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('calendar-prev-disabled') {
  @scale-factor: 1.0;
  background-position: (-267px * @scale-factor) (-311px * @scale-factor);
  width: (40px * @scale-factor);
  height: (31px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('social-twitter') {
  @scale-factor: 1.0;
  background-position: (-179px * @scale-factor) (-343px * @scale-factor);
  width: (48px * @scale-factor);
  height: (9px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('social-instagram') {
  @scale-factor: 1.0;
  background-position: (-177px * @scale-factor) (-356px * @scale-factor);
  width: (46px * @scale-factor);
  height: (16px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('calendar-prev-hover') {
  @scale-factor: 1.0;
  background-position: (-187px * @scale-factor) (-376px * @scale-factor);
  width: (40px * @scale-factor);
  height: (31px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('quote-open') {
  @scale-factor: 1.0;
  background-position: (-187px * @scale-factor) (-411px * @scale-factor);
  width: (34px * @scale-factor);
  height: (23px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('checkbox-checked') {
  @scale-factor: 0.5;
  background-position: (-189px * @scale-factor) (-438px * @scale-factor);
  width: (24px * @scale-factor);
  height: (24px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('expander-icon-minus') {
  @scale-factor: 0.5;
  background-position: (-244px * @scale-factor) (-128px * @scale-factor);
  width: (22px * @scale-factor);
  height: (22px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('gallery-next') {
  @scale-factor: 1.0;
  background-position: (-311px * @scale-factor) (-311px * @scale-factor);
  width: (20px * @scale-factor);
  height: (37px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('contact-call') {
  @scale-factor: 1.0;
  background-position: (-335px * @scale-factor) (-322px * @scale-factor);
  width: (31px * @scale-factor);
  height: (27px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('gallery-prev-hover') {
  @scale-factor: 1.0;
  background-position: (-208px * @scale-factor) (-466px * @scale-factor);
  width: (20px * @scale-factor);
  height: (37px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('checkbox') {
  @scale-factor: 0.5;
  background-position: (-217px * @scale-factor) (-438px * @scale-factor);
  width: (24px * @scale-factor);
  height: (24px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('gallery-prev') {
  @scale-factor: 1.0;
  background-position: (-232px * @scale-factor) (-466px * @scale-factor);
  width: (20px * @scale-factor);
  height: (37px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('calendar-icon') {
  @scale-factor: 1.0;
  background-position: (-225px * @scale-factor) (-411px * @scale-factor);
  width: (24px * @scale-factor);
  height: (23px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('contact-mail-active') {
  @scale-factor: 1.0;
  background-position: (-231px * @scale-factor) (-343px * @scale-factor);
  width: (31px * @scale-factor);
  height: (27px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('calendar-prev') {
  @scale-factor: 1.0;
  background-position: (-266px * @scale-factor) (-346px * @scale-factor);
  width: (40px * @scale-factor);
  height: (31px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('contact-mail') {
  @scale-factor: 1.0;
  background-position: (-231px * @scale-factor) (-374px * @scale-factor);
  width: (31px * @scale-factor);
  height: (27px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('card-icon-discover') {
  @scale-factor: 1.0;
  background-position: (-266px * @scale-factor) (-381px * @scale-factor);
  width: (38px * @scale-factor);
  height: (25px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('card-icon-mastercard') {
  @scale-factor: 1.0;
  background-position: (-253px * @scale-factor) (-410px * @scale-factor);
  width: (38px * @scale-factor);
  height: (25px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('quote-close') {
  @scale-factor: 1.0;
  background-position: (-245px * @scale-factor) (-439px * @scale-factor);
  width: (34px * @scale-factor);
  height: (22px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('multiship-address-arrow') {
  @scale-factor: 1.0;
  background-position: (-256px * @scale-factor) (-465px * @scale-factor);
  width: (22px * @scale-factor);
  height: (32px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('account-order-arrow') {
  @scale-factor: 0.5;
  background-position: (-310px * @scale-factor) (-352px * @scale-factor);
  width: (16px * @scale-factor);
  height: (25px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('card-icon-visa') {
  @scale-factor: 1.0;
  background-position: (-330px * @scale-factor) (-353px * @scale-factor);
  width: (38px * @scale-factor);
  height: (25px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('navmenu-indicator') {
  @scale-factor: 1.0;
  background-position: (-256px * @scale-factor) (-501px * @scale-factor);
  width: (16px * @scale-factor);
  height: (8px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('accordion-step-indicator') {
  @scale-factor: 1.0;
  background-position: (-298px * @scale-factor) (-56px * @scale-factor);
  width: (23px * @scale-factor);
  height: (14px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('help-icon') {
  @scale-factor: 1.0;
  background-position: (-308px * @scale-factor) (-381px * @scale-factor);
  width: (18px * @scale-factor);
  height: (18px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('social-youtube-hover') {
  @scale-factor: 1.0;
  background-position: (-330px * @scale-factor) (-382px * @scale-factor);
  width: (38px * @scale-factor);
  height: (14px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('social-youtube') {
  @scale-factor: 1.0;
  background-position: (-330px * @scale-factor) (-400px * @scale-factor);
  width: (38px * @scale-factor);
  height: (14px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('modal-close-icon') {
  @scale-factor: 1.0;
  background-position: (-308px * @scale-factor) (-403px * @scale-factor);
  width: (18px * @scale-factor);
  height: (18px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('tooltip-arrow-left') {
  @scale-factor: 1.0;
  background-position: (-324px * @scale-factor) (-74px * @scale-factor);
  width: (10px * @scale-factor);
  height: (18px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('tooltip-arrow-right') {
  @scale-factor: 1.0;
  background-position: (-324px * @scale-factor) (-96px * @scale-factor);
  width: (10px * @scale-factor);
  height: (18px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('confection-care-bullet') {
  @scale-factor: 1.0;
  background-position: (-295px * @scale-factor) (-410px * @scale-factor);
  width: (9px * @scale-factor);
  height: (9px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('expander-icon-plus') {
  @scale-factor: 0.5;
  background-position: (-283px * @scale-factor) (-439px * @scale-factor);
  width: (22px * @scale-factor);
  height: (22px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('gallery-pager-active') {
  @scale-factor: 0.5;
  background-position: (-282px * @scale-factor) (-465px * @scale-factor);
  width: (22px * @scale-factor);
  height: (22px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('valid-icon') {
  @scale-factor: 1.0;
  background-position: (-282px * @scale-factor) (-491px * @scale-factor);
  width: (18px * @scale-factor);
  height: (18px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('tooltip-arrow-bottom') {
  @scale-factor: 1.0;
  background-position: (-295px * @scale-factor) (-425px * @scale-factor);
  width: (18px * @scale-factor);
  height: (10px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('gallery-pager-hover') {
  @scale-factor: 0.5;
  background-position: (-309px * @scale-factor) (-439px * @scale-factor);
  width: (22px * @scale-factor);
  height: (22px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('gallery-pager') {
  @scale-factor: 0.5;
  background-position: (-308px * @scale-factor) (-465px * @scale-factor);
  width: (22px * @scale-factor);
  height: (22px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('tooltip-arrow-top') {
  @scale-factor: 1.0;
  background-position: (-317px * @scale-factor) (-425px * @scale-factor);
  width: (18px * @scale-factor);
  height: (10px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('tab-indicator') {
  @scale-factor: 1.0;
  background-position: (-304px * @scale-factor) (-491px * @scale-factor);
  width: (21px * @scale-factor);
  height: (12px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('multiship-add-item') {
  @scale-factor: 1.0;
  background-position: (-339px * @scale-factor) (-418px * @scale-factor);
  width: (22px * @scale-factor);
  height: (22px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('search-icon-dark') {
  @scale-factor: 1.0;
  background-position: (-335px * @scale-factor) (-444px * @scale-factor);
  width: (16px * @scale-factor);
  height: (16px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('multiship-pager-next') {
  @scale-factor: 1.0;
  background-position: (-114px * @scale-factor) (-244px * @scale-factor);
  width: (7px * @scale-factor);
  height: (8px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('breadcrumb-home') {
  @scale-factor: 1.0;
  background-position: (-355px * @scale-factor) (-444px * @scale-factor);
  width: (14px * @scale-factor);
  height: (14px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('back-icon') {
  @scale-factor: 1.0;
  background-position: (-114px * @scale-factor) (-145px * @scale-factor);
  width: (6px * @scale-factor);
  height: (9px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('multiship-remove-item') {
  @scale-factor: 1.0;
  background-position: (-329px * @scale-factor) (-491px * @scale-factor);
  width: (12px * @scale-factor);
  height: (13px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('search-icon-light') {
  @scale-factor: 1.0;
  background-position: (-334px * @scale-factor) (-465px * @scale-factor);
  width: (16px * @scale-factor);
  height: (16px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('breadcrumb-separator') {
  @scale-factor: 1.0;
  background-position: (-325px * @scale-factor) (-56px * @scale-factor);
  width: (6px * @scale-factor);
  height: (9px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('logo-micro') {
  @scale-factor: 1.0;
  background-position: (-355px * @scale-factor) (-462px * @scale-factor);
  width: (12px * @scale-factor);
  height: (11px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('remove-icon-hover') {
  @scale-factor: 1.0;
  background-position: (-354px * @scale-factor) (-477px * @scale-factor);
  width: (10px * @scale-factor);
  height: (9px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('remove-icon') {
  @scale-factor: 1.0;
  background-position: (-345px * @scale-factor) (-490px * @scale-factor);
  width: (10px * @scale-factor);
  height: (9px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}

.sprite-info('multiship-pager-prev') {
  @scale-factor: 1.0;
  background-position: (-359px * @scale-factor) (-490px * @scale-factor);
  width: (7px * @scale-factor);
  height: (8px * @scale-factor);
  background-size: floor(370px * @scale-factor) floor(509px * @scale-factor);
}
