//
// This LESS mixin file is updated automatically by TexturePacker.
// If you manually make changes to this file, they will be overwritten!
//
// Please review internal documentation for info about updating spritesheets:
// http://connect.gosolid.net/public/index.php?path_info=projects%2F128%2Fpages%2F74344
//
// SmartUpdateHash: $TexturePacker:SmartUpdate:d8c79ad422181a99a10b2d46503c3de7:e4797f58e3f0dec2db2ba80a8f8685ae:cd40cd2d4ce2403769ced22d25756372$
//
@image-path: "/skin/frontend/frans/default/images/";

// Individual sprite overrides for retina sprites only, using downscaled spritesheet for browsers that don't support background-size

.sprite-info('divider-horizontal-or') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('divider-vertical-or') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('logo-watermark') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('shopping-bag-hover') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('shopping-bag') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('flyout-account-communications') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('logo-mobile-dark') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('logo-mobile-light') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('flyout-account-orders') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('flyout-account-overview') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('flyout-account-profile') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('flyout-account-signout') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('hamburger-icon-dark') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('hamburger-icon-light') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('resend-email-icon') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('print-icon') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('checkbox-checked') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('expander-icon-minus') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('checkbox') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('account-order-arrow') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('expander-icon-plus') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('gallery-pager-active') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('gallery-pager-hover') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}

.sprite-info('gallery-pager') {
  body.nobgsize & {
    background-image: url('@{image-path}frans-sprites-downscaled.png?@{sprite-timestamp}') !important;
  }	
}
