<?php

//$defaultShippingAddress = null;
//if(Mage::getSingleton('customer/session')->getCustomer()->getDefaultShippingAddress()){
//	$defaultShippingAddress = Mage::getSingleton('customer/session')->getCustomer()->getDefaultShippingAddress()->getId();
//}

$addresses = Mage::getSingleton('customer/session')->getCustomer()->getShippingAddresses()
		->addAttributeToSort('firstname','ASC')
		->addAttributeToSort('lastname','ASC');

//foreach ($addresses as $address) {
//	$addresses->removeItemByKey($defaultShippingAddress);
//}

	$count = empty($addresses) ? 0 : count($addresses);
?>


<div class="default-shipping-address-list">
	<?php if($count == 0): ?>
		<div id="newaccount-addressbooktip">
			<?php echo $this->__('Set up your address book now and make shipping easy forever.'); ?>
		</div>
	<?php endif; ?>
	<table class="data-table" id="my-addresses-table">
		<col width="1" />
		<col width="1" />
		<col width="1" />
		<col width="1" />
		<col width="1" />
		<thead>
			<tr class="order-history-title-bar">
				<th colspan="2">
					<h4 class="tile-header"><?php echo $this->__('Address Book'); ?></h4>
					<button type="button" class="btn btn-link hidden-md hidden-lg" title="<?php echo $this->__('Add New Address'); ?>" onclick="showAjaxModal('<?php echo $this->getUrl('customer/address/form', array("ajax" => 1,"type" => 'shipping')) ?>',  {'closeHTML' : ''});"><span><span><?php echo $this->__('+ Add Address'); // shorter text here for mobile devices ?></span></span></button>
				</th>
				<th class="hidden-sm hidden-ms hidden-xs" colspan="3"></th>
			</tr>
			<tr class="order-history-title-bar <?php if($count > 0): ?>hidden-sm hidden-ms hidden-xs<?php endif; ?>">
				<th colspan="2">
					<?php if($count == 0): ?>
						<p class="no-addresses"><?php echo $this->__('You currently have no shipping addresses.'); ?></p>
					<?php endif; ?>
				</th>
				<th class="hidden-sm hidden-ms hidden-xs" colspan="3">
					<button type="button" class="btn btn-link hidden-sm hidden-ms hidden-xs" title="<?php echo $this->__('Add New Address'); ?>" onclick="showAjaxModal('<?php echo $this->getUrl('customer/address/form', array("ajax" => 1,"type" => 'shipping')) ?>', {'closeHTML' : ''});"><span><span><?php echo $this->__('+ Add New Address'); ?></span></span></button>
				</th>
			</tr>
			<?php if($count > 0): ?>
				<tr class="order-history-title-bar">
					<th class="order-history-title name"><?php echo $this->__('Name'); ?></th>
					<th class="order-history-title address hidden-sm hidden-ms hidden-xs"><?php echo $this->__('Address'); ?></th>
					<th class="order-history-title state"><span class="hidden-sm hidden-ms hidden-xs"><?php echo $this->__('City/State/'); ?></span><?php echo $this->__('ZIP'); ?></th>
					<th class="order-history-title phone hidden-sm hidden-ms hidden-xs"><?php echo $this->__('Phone number'); ?></th>
					<th class="order-history-title birthday hidden-sm hidden-ms hidden-xs"><?php echo $this->__('Birthday'); ?></th>
				</tr>
			<?php endif; ?>
		</thead>
		<?php if($count > 0): ?>
			<tbody>
				<?php $counter = 1; ?>
				<?php foreach($addresses as $_address): ?>
					<?php $editShippingUrl = $this->getUrl('customer/address/edit', array('id'=>$_address->getId(), "ajax" => 1, "type" => 'shipping')); ?>
					<tr class="order-row" onclick="showAjaxModal('<?php echo $editShippingUrl; ?>');">

						<?php $counter++; ?>

						<td>
							<?php echo $_address->getName(); ?>
						</td>

						<td class="hidden-sm hidden-ms hidden-xs">
							<?php if(strlen(trim($_address->getCompany())) > 0): ?>
			                    <?php echo $_address->getCompany(); ?><br/>
			                <?php endif; ?>
							<?php echo $_address->getStreetFull(); ?>
						</td>

						<td>
							<span class="hidden-sm hidden-ms hidden-xs"><?php echo $_address->getCity().", ".$_address->getRegionCode(); ?> </span><?php echo $_address->getData('postcode'); ?>
						</td>

						<td class="hidden-sm hidden-ms hidden-xs">
							<?php echo $_address->getTelephone(); ?>
						</td>

						<td class="hidden-sm hidden-ms hidden-xs">
							<?php if($_address->getDob() != ""): ?>
								<?php echo date('F j', strtotime($_address->getDob())); ?>
							<?php endif; ?>
						</td>

					</tr>
				<?php endforeach; ?>
			</tbody>
		<?php endif; ?>
	</table>
</div>