<?php
    $customer = Mage::getSingleton('customer/session')->getCustomer();
?>

<div class="addresses-info-billing">
	<?php if(($primaryBillingAddress = $customer->getPrimaryBillingAddress()) && $primaryBillingAddress->getId()): ?>

		<?php $editBilling = $this->getUrl('customer/address/edit', array('id'=>$primaryBillingAddress->getId(), "ajax" => 1, "type" => 'billing')) ?>
		<span class="edit-link" onclick="showAjaxModal('<?php echo $editBilling?>')"><?php echo $this->__('Edit') ?></span>
		<h4 class="tile-header"><?php echo $this->__('Default Billing Address'); ?></h4>
		<address class="f-left">
			<div class="tile-label"><?php echo $primaryBillingAddress->getName(); ?></div>
			<div class="tile-value"><?php echo $primaryBillingAddress->getCompany(); ?></div>
			<div class="tile-value"><?php echo $primaryBillingAddress->getStreetFull(); ?></div>
			<div class="tile-value"><?php echo $primaryBillingAddress->getCity() . ", " . $primaryBillingAddress->getRegionCode() . ", ".$primaryBillingAddress->getData('postcode'); ?></div>
			<div class="tile-value"><?php echo $primaryBillingAddress->getTelephone(); ?></div>
		</address>

	<?php else: ?>

		<h4 class="tile-header"><?php echo $this->__('Default Billing Address'); ?></h4>
		<div class="tile-label"><?php echo $this->__('You have no default billing address in your address book.'); ?></div>
		<button type="button" class="btn button-dark" title="<?php echo $this->__('Add Address'); ?>" onclick="showAjaxModal('<?php echo $this->getUrl('customer/address/form', array("ajax" => 1,"type" => 'billing')); ?>');"><span><span><?php echo $this->__('+ Add Address'); ?></span></span></button>

	<?php endif; ?>
</div>
