<?php

$customer = Mage::getSingleton('customer/session')->getCustomer();
$newDefaultMailingId = $this->getDefaultShippingId();
$primaryMailingAddress = null;
if($newDefaultMailingId != null){
	$primaryMailingAddress = Mage::getModel('customer/address')->load($newDefaultMailingId);
} elseif($customer->getDefaultShipping() != null) {
	$primaryMailingAddress = Mage::getModel('customer/address')->load($customer->getDefaultShipping());
}

?>

<div class="addresses-info-billing">
	<?php if($primaryMailingAddress && $primaryMailingAddress->getId()): ?>
		<?php $editMailing = $this->getUrl('customer/address/edit', array('id'=>$primaryMailingAddress->getId(), "ajax" => 1, "type" => 'default_mailing')) ?>
		<span class="edit-link" onclick="showAjaxModal('<?php echo $editMailing?>')"><?php echo $this->__('Edit') ?></span>
		<address class="f-left">
			<div class="tile-label"><?php echo $primaryMailingAddress->getName(); ?></div>
			<div class="tile-value"><?php echo $primaryMailingAddress->getCompany(); ?></div>
			<div class="tile-value"><?php echo $primaryMailingAddress->getStreetFull(); ?></div>
			<div class="tile-value"><?php echo $primaryMailingAddress->getCity() . ", " . $primaryMailingAddress->getRegionCode() . ", ".$primaryMailingAddress->getData('postcode'); ?></div>
			<div class="tile-value"><?php echo $primaryMailingAddress->getTelephone(); ?></div>
		</address>

	<?php else: ?>

		<h4 class="tile-header"><?php echo $this->__('Default Mailing Address'); ?></h4>
		<div class="tile-label"><?php echo $this->__('You have not set a preferred mailing address. Catalogs will be sent to your default billing address.'); ?></div>
		<button type="button" class="btn button-dark" title="<?php echo $this->__('Add Address'); ?>" onclick="showAjaxModal('<?php echo $this->getUrl('customer/address/form', array("ajax" => 1,"type" => 'default_mailing')); ?>');"><span><span><?php echo $this->__('+ Add Address'); ?></span></span></button>

	<?php endif; ?>
</div>