<?php
    $customer = $this->getCustomer();
?>

<div class="addresses-info-shipping">
	<?php if(($primaryShippingAddress = $customer->getPrimaryShippingAddress()) && $primaryShippingAddress->getId()): ?>

		<?php $editShipping = $this->getUrl('customer/address/edit', array('id'=>$primaryShippingAddress->getId(), "ajax" => 1, "type" => 'shipping')) ?>
		<span class="edit-link" onclick="showAjaxModal('<?php echo $editShipping; ?>');"><?php echo $this->__('Edit') ?></span>

		<h4 class="tile-header"><?php echo $this->__('Default Shipping Address'); ?></h4>
		<address>
			<div class="tile-label"><?php echo $primaryShippingAddress->getName(); ?></div>
			<div class="tile-value"><?php echo $primaryShippingAddress->getStreetFull(); ?></div>
			<div class="tile-value"><?php echo $primaryShippingAddress->getCity().", ".$primaryShippingAddress->getRegionCode().", ".$primaryShippingAddress->getData('postcode'); ?></div>
			<div class="tile-value"><?php echo $primaryShippingAddress->getTelephone(); ?></div>
		</address>

	<?php else: ?>

		<h4 class="tile-header"><?php echo $this->__('Default Shipping Address'); ?></h4>
		<div class="tile-label"><?php echo $this->__('You have no default shipping address in your address book.'); ?></div>
		<button type="button" class="btn button-dark" title="<?php echo $this->__('Add Address'); ?>" class="button" onclick="showAjaxModal('<?php echo $this->getUrl('customer/address/form', array("ajax" => 1,"type" => 'shipping')); ?>');"><span><span><?php echo $this->__('+ Add Address') ?></span></span></button>

	<?php endif; ?>
</div>