<?php
	$_addressItemQtys = $this->getAddressItemQtys();
	$_columnCount = $this->getColumnCount();

	$_firstQtys = reset($_addressItemQtys);
	# only need to do this the first time, but that's ok
	$_displayCount = count($_firstQtys);
	$_emptyCount = $_columnCount - $_displayCount;
	
?>

<tbody id="address-items-content">

	<tr class="spacer">
		<td colspan="9999"></td>
	</tr>

	<?php foreach($_addressItemQtys as $_addressId => $_itemQtys): ?>
		<tr class="allocation-row give-one">
			<?php foreach($_itemQtys as $_orderItemId => $_qty): ?>
				<?php $fieldName = "shipping_info[$_addressId][$_orderItemId][qty]"; ?>
				<td class="allocation-column">
					<input type="number" class="input-text small qty input-qty input-give-one" value="<?php echo ((int)$_qty); ?>" name="<?php echo $fieldName ?>" pattern="[0-9]*" inputmode="numeric" min="1" step="1" />
				</td>
			<?php endforeach; ?>

			<?php for($i = 0; $i < $_emptyCount; $i++): ?>
				<td class="allocation-column"></td>
			<?php endfor; ?>
		</tr>
	<?php endforeach; ?>

	<tr class="allocation-row give-one disabled">
		<?php for($i = 0; $i < $_displayCount; $i++): ?>
			<td class="allocation-column">
				<input type="number" class="input-text small qty input-qty input-give-one" value="0" disabled />
			</td>
		<?php endfor; ?>
		<?php for($i = 0; $i < $_emptyCount; $i++): ?>
			<td class="allocation-column"></td>
		<?php endfor; ?>
	</tr>

</tbody>