<?php
	$_addresses = $this->getAddresses();
?>
<ul class="allocation-names" id="addresses-content">
	<div id="address-error-anchor" data-tooltip-position="top"></div>
	<?php foreach ($_addresses as $_quoteAddress): ?>
		<?php 
			$_name = $_quoteAddress->getName();
			list($_street1, $_street2) = $_quoteAddress->getStreet();
		
			$_showStreet2 = isset($_street2);
		?>
		
		<li>
			<span><?php echo $_name; ?></span>
			<div class="rollover">
				<div class="details">
				<span class="name"><?php echo $_name; ?></span>
					<span><?php echo $_street1; ?></span>
					<?php if ($_showStreet2): ?>
						<span><?php echo $_street2; ?></span>
					<?php endif;?>
					<span><?php echo $_quoteAddress->getCity() . ', ' . $_quoteAddress->getRegionCode() . ' ' . $_quoteAddress->getPostcode(); ?></span>
				</div>
				<a class="edit edit-address" href="<?php echo $this->getEditUrl($_quoteAddress); ?>">Edit</a>
			</div>
	        <input type="hidden" name="addressId[]" disabled="disabled" value="<? echo $_quoteAddress->getId(); ?>" />
		</li>

	<?php endforeach; ?>

	<li class="add add-address" href="<?php echo $this->getAddUrl(); ?>">+ <?php echo $this->__($this->getAddButtonText()); ?></li>
</ul>
