<?php
	/* @var $this GoSolid_Frans_Block_Checkout_Multiship_Shipping_Items */

    $_count = 0;
	$_columnCount = $this->getColumnCount();
	$_items = $this->getItems();

	# if we only have one, we want a different class
	# we always use remove, we just use a different locator class
	$_removeClass = 'remove ' . ($this->isAjaxRemove() ? 'remove-item' : 'remove-last');
?>

<thead id="items-content">
	<tr class="item-details">
		<?php foreach($_items as $_quoteItem): ?>
			<?php
				$_storeId = Mage::app()->getStore()->getId();
				$_product = Mage::getModel('catalog/product')->load($_quoteItem->getProductId());
				$_colorTileValue = Mage::getResourceModel('catalog/product')->getAttributeRawValue($_product->getId(), 'color_tile', $_storeId);
				$_colorTileLabel = null;
				$_parentId = $_quoteItem->getConfigurableProductId();
				if($_parentId && !empty($_colorTileValue)){
					$_colorTileLabel = $_product->setColorTile($_colorTileValue)->getAttributeText('color_tile');
				}
			?>
			<?php $_imageUrl = Mage::helper('catalog/image')->init($_quoteItem->getProduct(), 'thumbnail')->resize(84); ?>
			<?php $_count++; ?>
			<td class="allocation-column">
				<a href="<?php echo $this->getRemoveItemUrl($_quoteItem); ?>" class="<?php echo $_removeClass;?>"><?php echo $this->__('Remove Item'); ?></a>
				<img src="<?php echo $_imageUrl; ?>" alt="<?php echo $this->htmlEscape($this->getProductName()) ?>" /><br />
				<?php if($_colorTileLabel): ?>
					<span class="item-color-tile"><?php echo $_colorTileLabel; ?></span>
				<?php endif; ?>
				<?php echo $this->htmlEscape($_quoteItem->getName()); ?>
			</td>
		<?php endforeach; ?>
		<?php $_emptyCount = $_columnCount - $_count; ?>
		<?php for($i = 0; $i < $_emptyCount; $i++): // pad the rest of the page with columns containing "add item" buttons ?>
			<td class="allocation-column">
				<a href="<?php echo $this->getAddItemUrl(); ?>" class="add">
					<span class="icon">+</span>
					<div class="add-label"><?php echo $this->__('Add Item'); ?></div>
				</a>
			</td>
		<?php endfor; ?>
	</tr>

	<tr class="give-all">
		<?php foreach ($_items as $_quoteItem): ?>
			<?php $_name = "give_all[{$_quoteItem->getId()}]";?>
			<td class="allocation-column">
				<span><?php echo $this->__('QTY: %s', $this->getAllocatedDisplay($_quoteItem)); ?></span>
				<div>
					<span><?php echo $this->__('Give'); ?></span>
					<input type="number" title="<?php echo $this->__('Qty'); ?>" pattern="[0-9]*" inputmode="numeric" min="1" step="1" class="input-text small qty input-qty input-give-all" name="<?php echo $_name; ?>" maxlength="12" value="0">
					<span><?php echo $this->__('to all'); ?></span>
				</div>
			</td>
		<?php endforeach; ?>
		<?php for($i = 0; $i < $_emptyCount; $i++): // pad the rest of the page with empty columns ?>
			<td class="allocation-column"></td>
		<?php endfor; ?>
	</tr>
</thead>