<?php 
	$pageCount = $this->getPageCount();
?>
<div class="pagination">
	<a href="#" title="<?php echo $this->__('Previous'); ?>" class="prevlink disabled">&lt;</a>
	<span class="page-display">1 <?php echo $this->__('of'); ?> <?php echo $pageCount; ?></span>
	<a href="#" title="<?php echo $this->__('Next'); ?>" class="nextlink<?php if ($pageCount == 1) echo " disabled"; ?>">&gt;</a>
</div>
