<?php
    /* @var $this GoSolid_Frans_Block_Checkout_Multiship_Shipping */
	$_items = $this->getItems();

    // calculate the allocated amount, rather than what they selected originally

?>
<table class="summary-totals" id="summary-totals">
		
	<thead class="row-item headers">
		<tr>
			<td class="col-item"><?php echo $this->__('Item'); ?></td>
			<td class="col-price"><?php echo $this->__('Price'); ?></td>
			<td class="col-qty"><?php echo $this->__('Qty'); ?></td>
			<td class="col-total"><?php echo $this->__('Total'); ?></td>
		</tr>
	</thead>

	<tbody>
		<?php foreach ($_items as $_quoteItem): ?>
			<?php
				$_storeId = Mage::app()->getStore()->getId();
				$_product = Mage::getModel('catalog/product')->load($_quoteItem->getProductId());
				$_colorTileValue = Mage::getResourceModel('catalog/product')->getAttributeRawValue($_product->getId(), 'color_tile', $_storeId);
				$_colorTileLabel = null;
				$_parentId = $_quoteItem->getConfigurableProductId();
				if($_parentId && !empty($_colorTileValue)){
					$_colorTileLabel = $_product->setColorTile($_colorTileValue)->getAttributeText('color_tile');
				}
			?>
			<tr class="row-item">
				<td class="col-item">
					<?php if($_colorTileLabel): ?>
						<span class="item-color-tile"><?php echo $_colorTileLabel; ?></span>
					<?php endif; ?>
					<span class="item-name"><?php echo $_quoteItem->getName(); ?></span>
				</td>
				<td class="col-price">
					<span class="item-price"><?php echo Mage::helper('core')->currency($_quoteItem->getPrice(), true, false); ?></span>
				</td>
				<td class="col-qty">
					<span class="item-qty"><?php echo max(0, $_quoteItem->getMultishippingQty()); ?></span>
				</td>
				<td class="col-total">
					<span class="item-total"><?php echo Mage::helper('core')->currency($_quoteItem->getAllocatedRowTotal(), true, false); ?></span>
				</td>
			</tr>
		<?php endforeach; ?>

		<tr>
			<td class="subtotal-label" colspan="3"><?php echo $this->__('Order Subtotal')?></td>
			<td class="subtotal"><?php echo Mage::helper('core')->currency($this->getAllocatedSubtotal(), true, false); ?></td>
		</tr>
	</tbody>
</table>
