<div id="output_static_row" class="inside-row output-static-row">
    <input id="output_static" placeholder="<?php 
        print $this->__("Default Value")
    ?>" name="advanced[:value_order][output][static]" type="text" class="input-text"/>
</div>