<div class="backdrop holiday-2-2015">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('gifts/holiday-gifts'); ?>" title="<?php echo $this->__('Shop our holiday collection'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						<h2>
							<span class="line-1"><?php echo $this->__("Love"); ?><span class="ampersand"><?php echo $this->__("&"); ?></span><?php echo $this->__("Joy"); ?></span>
							<span class="line-2"><?php echo $this->__("Come To You"); ?></span>
						</h2>
						<span class="banner-button">
							<?php echo $this->__('Shop our holiday collection'); ?>
						</span>
					</div>
				</div>

			</a>
		</div>
	</div>
</div>