<div class="backdrop fall-2015">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('collections/fall-collection'); ?>" title="<?php echo $this->__('Shop our seasonal collection'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						<h2>
							<span class="line-1"><?php echo $this->__("Something"); ?></span>
							<span class="line-2"><?php echo $this->__("delicious"); ?></span>
							<span class="line-3"><?php echo $this->__("this way comes"); ?></span>
							<span class="line-4"><?php echo $this->__("and it's time to celebrate fall"); ?></span>
						</h2>
						<span class="banner-button">
							<?php echo $this->__('Shop our seasonal collection'); ?>
						</span>
					</div>
				</div>

			</a>
		</div>
	</div>
</div>