<div class="backdrop holiday-1-2015">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('gifts/holiday-gifts'); ?>" title="<?php echo $this->__('Shop our Holiday Collection'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						<h2>
							<span class="line-1"><?php echo $this->__("Give Joy"); ?></span>
							<span class="line-2"><?php echo $this->__("Happiness comes in Fran's packages"); ?></span>
						</h2>
						<span class="banner-button">
							<?php echo $this->__('Shop our Holiday Collection'); ?>
						</span>
					</div>
				</div>

			</a>
		</div>
	</div>
</div>