<div class="backdrop holiday-giftcards-2015">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('gifts/gift-cards'); ?>" title="<?php echo $this->__('Shop our virtual gift cards'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						<h2>
							<span class="line-1"><?php echo $this->__("Virtual"); ?></span>
                            <span class="line-1"><?php echo $this->__("Bliss"); ?></span>
							<span class="line-2"><?php echo $this->__("Just in time for a Christmas smile"); ?></span>
						</h2>
						<span class="banner-button">
							<?php echo $this->__('Shop our virtual gift cards'); ?>
						</span>
					</div>
                    <div class="giftcard-container">
                        <div class="hero-giftcard"></div>
                    </div>
				</div>

			</a>
		</div>
	</div>
</div>