<div class="backdrop winter-1-2016">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('collections/winter-collection'); ?>" title="<?php echo $this->__('Shop our winter collection'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						<h2>
							<span class="line-1"><?php echo $this->__("Pure Delight"); ?></span>
							<span class="line-2"><?php echo $this->__("In Every Bite"); ?></span>
						</h2>
						<span class="banner-button">
							<?php echo $this->__('Shop our winter collection'); ?>
						</span>
					</div>
				</div>

			</a>
		</div>
	</div>
</div>