<div class="backdrop holiday-newyears-2015">
	<div class="col-xs-12">
		<div class="banner hero-banner">
			<a href="<?php echo $this->getUrl('gifts/parties-events'); ?>" title="<?php echo $this->__('Shop our party favorites'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						<h2>
                            <span class="line-3"><?php echo $this->__("Wishing you a"); ?></span>
                            <span class="line-1"><?php echo $this->__("Delicious"); ?></span>
                            <span class="line-1">
                                <span class="line-1-join"><?php echo $this->__("New"); ?></span>
                                <span class="line-1-join"><?php echo $this->__("Year"); ?></span>
                            </span>
							<span class="line-2"><?php echo $this->__("Full of happiness and cheer"); ?></span>
						</h2>
						<span class="banner-button">
							<?php echo $this->__('Shop our party favorites'); ?>
						</span>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>