<div class="backdrop easter-1-2016">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('gifts/easter-gifts'); ?>" title="<?php echo $this->__('Shop our easter collection'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						<h2 class="line-1">

							<span class="w1"><?php echo $this->__("Bunnies"); ?></span>
							<span class="w2"><?php echo $this->__("and"); ?></span>
							<span class="w3"><?php echo $this->__("Truffles"); ?></span>
							<span class="w4"><?php echo $this->__("and"); ?></span>
							<span class="w5"><?php echo $this->__("Eggs&mdash;Oh"); ?></span>
							<span class="w6"><?php echo $this->__("My!"); ?></span>
							
						</h2>
						<h3 class="line-2"><?php echo $this->__("All Dressed Up to Delight"); ?></span></h3>
						<span class="banner-button">
							<?php echo $this->__('Shop our easter collection'); ?>
						</span>
					</div>
				</div>

			</a>
		</div>
	</div>
</div>