<div class="backdrop summer-1">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('collections/summer-collection'); ?>" title="<?php echo $this->__('Shop Our Summer Collection'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						
						<h2 class="line-1">
							<span class="line1"><?php echo $this->__("Celebrate"); ?></span>
							<span class="line2"><?php echo $this->__("Summer"); ?></span>
						</h2>
						
						<h3 class="line-2"><?php echo $this->__("and savor happiness"); ?></span></h3>
						
						<span class="banner-button">
							<?php echo $this->__('SHOP OUR SEASONAL COLLECTION'); ?>
						</span>
						
					</div>
				</div>

			</a>
		</div>
	</div>
</div>