<div class="backdrop easter-2-2016">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('gifts/easter-gifts'); ?>" title="<?php echo $this->__('Shop our easter collection'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						
						<h2 class="line-1">
							<span class="line"><?php echo $this->__("A TREASURE TROVE OF DELIGHTS"); ?></span>							
						</h2>
						
						<h3 class="line-2"><?php echo $this->__("DELICIOUS TREATS FOR EVERYBUNNY"); ?></span></h3>
						
						<span class="banner-button">
							<?php echo $this->__('Shop our easter collection'); ?>
						</span>
						
					</div>
				</div>

			</a>
		</div>
	</div>
</div>