<div class="backdrop spring-1-2016">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('collections/spring-collection'); ?>" title="<?php echo $this->__('Shop our spring collection'); ?>" class="hero">
				<div class="content">
					<div class="accent">
						<h2>
							<span class="line-1"><?php echo $this->__("Hello,"); ?></span>
							<span class="line-2"><?php echo $this->__("Sweetest Spring!"); ?></span>
							<span class="line-3"><?php echo $this->__("We're Happy To See You."); ?></span>
						</h2>
						<span class="banner-button">
							<?php echo $this->__('Shop our seasonal collection'); ?>
						</span>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>

