<div class="backdrop summer-3-icecream">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('gifts/summer-treats'); ?>" title="<?php echo $this->__('Shop Our Summer Treats'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						
						<h2 class="line-1">
							<span class="line"><?php echo $this->__("Just Add Ice Cream"); ?></span>							
						</h2>
						
						<h3 class="line-2"><?php echo $this->__("for the sweetest summertime sundae"); ?></span></h3>
						
						<span class="banner-button">
							<?php echo $this->__('SHOP OUR SUMMER TREATS'); ?>
						</span>
						
					</div>
				</div>

			</a>
		</div>
	</div>
</div>