<div class="backdrop gratitude">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('gifts/appreciation-gifts'); ?>" title="<?php echo $this->__('Shop Our Appreciation Gifts'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						
						<h2 class="line-1">
							<span class="line"><?php echo $this->__("THE GIFT OF GRATITUDE"); ?></span>							
						</h2>
						
						<h3 class="line-2"><?php echo $this->__("TRANSFORM ANY MOMENT INTO SOMETHING SPECIAL"); ?></span></h3>
						
						<span class="banner-button">
							<?php echo $this->__('SHOP OUR APPRECIATION GIFTS'); ?>
						</span>
						
					</div>
				</div>

			</a>
		</div>
	</div>
</div>