<div class="backdrop spring-party-2016">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('gifts/parties-events'); ?>" title="<?php echo $this->__('SHOP PARTIES & EVENTS'); ?>" class="hero">

				<div class="content">
					<div class="accent">

						<h2 class="line-1">
							<span class="line"><?php echo $this->__("SPRING PARTIES IN FULL BLOOM"); ?></span>
						</h2>

						<h3 class="line-2"><?php echo $this->__("Make every special event sweeter"); ?></span></h3>

						<span class="banner-button">
							<?php echo $this->__('SHOP PARTIES & EVENTS'); ?>
						</span>

					</div>
				</div>
			</a>
		</div>
	</div>
</div>
