<div class="backdrop mothersday-2016">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('gifts/mother-s-day-gifts'); ?>" title="<?php echo $this->__('Shop Our Mother\'s Day Collection'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						
						<h2 class="line-1">
							<span class="line"><?php echo $this->__("FROM THE HEART"); ?></span>							
						</h2>
						
						<h3 class="line-2"><?php echo $this->__("FOR ALL HER GIFTS TO YOU"); ?></span></h3>
						
						<span class="banner-button">
							<?php echo $this->__('SHOP OUR MOTHER\'S DAY COLLECTION'); ?>
						</span>
						
					</div>
				</div>

			</a>
		</div>
	</div>
</div>