<div class="backdrop valentines-1-2016">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('collections/valentines-collection'); ?>" title="<?php echo $this->__('Shop our Valentine\'s Collection'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						<h2>
							<span class="line-1"><?php echo $this->__("Only The"); ?></span>
							<span class="line-2"><?php echo $this->__("Sweetest"); ?></span>
                            <span class="line-1"><?php echo $this->__("For Your"); ?></span>
                            <span class="line-2"><?php echo $this->__("Sweet"); ?></span>
						</h2>
						<span class="banner-button">
							<?php echo $this->__('Shop our valentine\'s collection'); ?>
						</span>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>