<div class="backdrop gifts-tame">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('gifts'); ?>" title="<?php echo $this->__('Shop Our Gifts'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						
						<h2 class="line-1">
							<span class="line"><?php echo $this->__("A gift to treasure"); ?></span>
						</h2>
						
						<h3 class="line-2">
							<span><?php echo $this->__("Dazzle the eye and delight the palate"); ?></span>
						</h3>
						
						<span class="banner-button">
							<?php echo $this->__('SHOP OUR GIFTS'); ?>
						</span>
						
					</div>
				</div>

			</a>
		</div>
	</div>
</div>