<div class="backdrop fall-gold-bars">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('bars/gold-bars'); ?>" title="<?php echo $this->__('Shop Our Gold Bars'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						
						<h2 class="line-1">
							<span class="line"><?php echo $this->__("New Look."); ?></span>
							<span class="line"><?php echo $this->__("New Recipe."); ?></span>
						</h2>
						
						<h3 class="line-2">
							<span><?php echo $this->__("same delicious decadence."); ?></span>
							<span><?php echo $this->__("now certified fairtrade and organic."); ?></span>
						</h3>
						
						<span class="banner-button">
							<?php echo $this->__('SHOP OUR GOLD BARS'); ?>
						</span>
						
					</div>
				</div>

			</a>
		</div>
	</div>
</div>