<div class="backdrop fathers">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('gifts/father-s-day-gifts'); ?>" title="<?php echo $this->__('Shop Our Father\'s Day Gifts'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						
						<h2 class="line-1">
							<span class="line"><?php echo $this->__("Father's Day Favorites"); ?></span>							
						</h2>
						
						<h3 class="line-2"><?php echo $this->__("Bring a smile to his face on June 19"); ?></span></h3>
						
						<span class="banner-button">
							<?php echo $this->__('SHOP OUR FATHER\'S DAY GIFTS'); ?>
						</span>
						
					</div>
				</div>

			</a>
		</div>
	</div>
</div>