<div class="backdrop eventful">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('gifts/parties-events'); ?>" title="<?php echo $this->__('Shop Parties & Events'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						
						<h2 class="line-1">
							<span class="line"><?php echo $this->__("LIFE IS EVENTFUL"); ?></span>							
						</h2>
						
						<h3 class="line-2"><?php echo $this->__("Celebrate a milestone, savor the moment"); ?></span></h3>
						
						<span class="banner-button">
							<?php echo $this->__('SHOP PARTIES & EVENTS'); ?>
						</span>
						
					</div>
				</div>

			</a>
		</div>
	</div>
</div>