<div class="backdrop hero-new-years-2">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('gifts/parties-events'); ?>" title="<?php echo $this->__('SHOP OUR PARTY FAVORITES'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						<h2 class="line-1">
							<span class="w1"><?php echo $this->__("&ndash; WISHING YOU &ndash;"); ?></span>
							<span class="w2"><?php echo $this->__("A DELICIOUS NEW YEAR FULL OF"); ?></span>
							<span class="w3"><?php echo $this->__("HAPPINESS AND CHEER"); ?></span>
						</h2>
						<span class="banner-button">
							<?php echo $this->__('SHOP OUR PARTY FAVORITES'); ?>
						</span>
					</div>
				</div>

			</a>
		</div>
	</div>
</div>