<div class="backdrop hero-signature">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('collections/signature-collection'); ?>" title="<?php echo $this->__('Shop Our Signature Collection'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						<h2 class="line-1">
							<span class="w1"><?php echo $this->__("A FEAST FOR"); ?></span>
							<span class="w2"><?php echo $this->__("ALL YOUR SENSES"); ?></span>
						</h2>
						<span class="banner-button">
							<?php echo $this->__('Shop Our Signature Collection'); ?>
						</span>
					</div>
				</div>

			</a>
		</div>
	</div>
</div>