<div class="backdrop summer-sauce">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('sauce-hot-chocolate'); ?>" title="<?php echo $this->__('Shop Our Sauces'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						<h2 class="line-1">
							<span class="w1"><?php echo $this->__("Sweet Summertime"); ?></span>
						</h2>
						
						<h3 class="line-2"><?php echo $this->__("Discover Our New Dessert Sauce"); ?></span></h3>
						<span class="banner-button">
							<?php echo $this->__('Shop Now'); ?>
						</span>
					</div>
				</div>

			</a>
		</div>
	</div>
</div>