<div class="backdrop wedding">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('collections/wedding-collection'); ?>" title="<?php echo $this->__('Shop Our Wedding Collection'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						
						<h2 class="line-1">
							<span class="line"><?php echo $this->__("Wedded Bliss"); ?></span>
						</h2>
						
						<h3 class="line-2"><?php echo $this->__("Our " . date('Y') . " collection for showers, receptions, gifts and favors."); ?></span></h3>
						
						<span class="banner-button">
							<?php echo $this->__('SHOP OUR WEDDING COLLECTION'); ?>
						</span>
						
					</div>
				</div>

			</a>
		</div>
	</div>
</div>