<div class="backdrop park-bars">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('bars/gold-bars/park-bars'); ?>" title="<?php echo $this->__('Shop our Park Bars'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						<h2 class="line-1">
							<span class="w1"><?php echo $this->__("A Deliciously Decadent"); ?></span>
							<span class="w2"><?php echo $this->__("New Treat"); ?></span>
						</h2>
						
						<h3 class="line-2"><?php echo $this->__("Discover our latest confection creation"); ?></span></h3>
						<span class="banner-button">
							<?php echo $this->__('Shop Our Park Bars'); ?>
						</span>
					</div>
				</div>

			</a>
		</div>
	</div>
</div>