<div class="backdrop easter-3">
    <div class="col-xs-12">
        <div class="banner">
            <a href="<?php echo $this->getUrl('gifts/easter-gifts'); ?>" title="<?php echo $this->__('Shop our Easter Collection'); ?>" class="hero">

                <div class="content">
                    <div class="accent">

                        <h2>
                            <span class="line line1"><?php echo $this->__("HAPPIER EASTER!"); ?></span>
                            <span class="line line2"><?php echo $this->__("ALL DRESSED UP TO DELIGHT"); ?></span>
                        </h2>

                        <span class="banner-button">
                            <?php echo $this->__('Shop our easter collection'); ?>
                        </span>

                    </div>
                </div>

            </a>
        </div>
    </div>
</div>