<div class="backdrop signature-2">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('collections/signature-collection'); ?>" title="<?php echo $this->__('Shop our Signature Collection'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						<h2>
							<span class="w1"><?php echo $this->__("Pure Delight"); ?></span>
							<span class="w2"><?php echo $this->__("In Every Bite"); ?></span>
						</h2>
						<span class="banner-button">
							<?php echo $this->__('Shop our Signature Collection'); ?>
						</span>
					</div>
				</div>

			</a>
		</div>
	</div>
</div>