<div class="backdrop fathers-2">
    <div class="col-xs-12">
        <div class="banner">
            <a href="<?php echo $this->getUrl('gifts/father-s-day-gifts'); ?>" title="<?php echo $this->__('Shop Father’s Day'); ?>" class="hero">

                <div class="content">
                    <div class="accent">
                        <h2 class="line-1">
                            <span class="w1"><?php echo $this->__("IT’S"); ?></span>
                            <span class="w2"><?php echo $this->__("GOOD"); ?></span>
                            <span class="w3"><?php echo $this->__("TO BE"); ?></span>
                            <span class="w4"><?php echo $this->__("DAD"); ?></span>
                        </h2>
                        <span class="banner-button">
                            <?php echo $this->__('Shop Father’s Day'); ?>
                        </span>
                    </div>
                </div>

            </a>
        </div>
    </div>
</div>