<div class="backdrop summer-4-toppings">
    <div class="col-xs-12">
        <div class="banner">
            <a href="<?php echo $this->getUrl('gifts/summer-treats'); ?>" title="<?php echo $this->__('Shop Summer Treats'); ?>" class="hero">

                <div class="content">
                    <div class="accent">

                        <h2 class="line-1">
                            <span class="line"><?php echo $this->__("Just Add Ice Cream"); ?></span>
                        </h2>

                        <span class="banner-button">
                            <?php echo $this->__('SHOP SUMMER TREATS'); ?>
                        </span>

                    </div>
                </div>

            </a>
        </div>
    </div>
</div>