<div class="backdrop winter-santa">
    <div class="col-xs-12">
        <div class="banner">
            <a href="<?php echo $this->getUrl('gifts/holiday-gifts'); ?>" title="<?php echo $this->__('Shop Holiday Gifts'); ?>" class="hero">
                <div class="content">
                    <div class="accent">
                        <h2><?php echo $this->__("Give<Br />Joy!"); ?></h2>
                    </div>
                    <div class="cta-box">
                        <span class="banner-button"><?php echo $this->__('Shop Holiday Gifts'); ?></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>