<div class="backdrop fall-thanksgiving">
    <div class="col-xs-12">
        <div class="banner">
            <a href="<?php echo $this->getUrl('collections/signature-collection'); ?>" title="<?php echo $this->__('Shop Truffles & Caramels'); ?>" class="hero">

                <div class="content">
                    <div class="accent">
                        
                        <h2><?php echo $this->__("Give Thanks with Autumn Sweets"); ?></h2>
                        
                        <span class="banner-button">
                            <?php echo $this->__('Shop Truffles & Caramels'); ?>
                        </span>
                        
                    </div>
                </div>

            </a>
        </div>
    </div>
</div>