<div class="backdrop gold-bars">
    <div class="col-xs-12">
        <div class="banner">
            <a href="<?php echo $this->getUrl('bars/gold-bars'); ?>" title="<?php echo $this->__('Shop Gold Bars'); ?>" class="hero">

                <div class="content">
                    <div class="accent">

                        <h3 class="line-1">
                            <span class="line"><?php echo $this->__("Discover the"); ?></span>
                        </h3>
                        <h2 class="line-1">
                            <span class="line"><?php echo $this->__("Ultimate"); ?></span>
                            <span class="line"><?php echo $this->__("Candy Bars"); ?></span>
                        </h2>

                        <span class="banner-button">
                            <?php echo $this->__('SHOP GOLD BARS'); ?>
                        </span>

                    </div>
                </div>

            </a>
        </div>
    </div>
</div>