<div class="backdrop gold-bars-3">
    <div class="col-xs-12">
        <div class="banner">
            <a href="<?php echo $this->getUrl('bars/gold-bars/coconut-gold-bars'); ?>" title="<?php echo $this->__('Shop Coconut Gold Bars'); ?>" class="hero">
                <div class="content">
                    <div class="accent">
                        <h2><?php echo $this->__("&ldquo;These are the best gourmet candy bars ever. Hands down.<br />No Competition.&rdquo;"); ?></h2>
                        <h3><?php echo $this->__("&mdash; Bobby Flay"); ?></h3>
                        <span class="banner-button"><?php echo $this->__('Shop Coconut Gold Bars'); ?></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>