<div class="backdrop lacquer-collection">
    <div class="col-xs-12">
        <div class="banner">
            <a href="<?php echo $this->getUrl('collections/lacquer-collection'); ?>" title="<?php echo $this->__('Shop our Lacquer Collection'); ?>" class="hero">

                <div class="content">
                    <div class="accent">
                        <h2 class="line-1"><?php echo $this->__("A SUMPTUOUS CELEBRATION"); ?></h2>
                        <h3 class="line-2"><?php echo $this->__("With our elegant keepsake boxes & bowls"); ?></span></h3>
                        <span class="banner-button">
                            <?php echo $this->__('Shop Our Lacquer Collection'); ?>
                        </span>
                    </div>
                </div>

            </a>
        </div>
    </div>
</div>