<div class="backdrop wedding-favors color-pink">
    <div class="col-xs-12">
        <div class="banner">
            <a href="<?php echo $this->getUrl('gifts/weddings-showers'); ?>" title="<?php echo $this->__('Shop Our Wedding Collection'); ?>" class="hero">

                <div class="content">
                    <div class="accent">
                        
                        <h2><?php echo $this->__("Wedded Bliss"); ?></h2>
                        <h3><?php echo $this->__("showers, receptions, gifts, and favors"); ?></h3>
                        
                        <span class="banner-button">
                            <?php echo $this->__('SHOP OUR WEDDING COLLECTION'); ?>
                        </span>
                        
                    </div>
                </div>

            </a>
        </div>
    </div>
</div>