<div class="backdrop caramels-20-year">
    <div class="col-xs-12">
        <div class="banner">
            <a href="<?php echo $this->getUrl('caramels/salted-caramels'); ?>" title="<?php echo $this->__('Shop Salted Caramels'); ?>" class="hero">

                <div class="content">
                    <div class="accent">

                        <h2>
                            <span class="line1"><?php echo $this->__("CELEBRATING"); ?></span>
                            <span class="line2"><?php echo $this->__("20 YEARS"); ?></span>
                        </h2>
                        <h3>
                            <span class="line"><?php echo $this->__("OF THE SALTED CARAMEL"); ?></span>
                        </h3>

                        <span class="banner-button">
                            <?php echo $this->__('Shop Salted Caramels'); ?>
                        </span>

                    </div>
                </div>

            </a>
        </div>
    </div>
</div>