<div class="backdrop fall-halloween">
    <div class="col-xs-12">
        <div class="banner">
            <a href="<?php echo $this->getUrl('gifts/fall-treats'); ?>" title="<?php echo $this->__('Shop Fall Treats'); ?>" class="hero">

                <div class="content">
                    <div class="accent">
                        
                        <h2><?php echo $this->__("SOMETHING WICKEDLY DELICIOUS THIS WAY COMES"); ?></h2>
                        
                        <span class="banner-button">
                            <?php echo $this->__('Shop Fall Treats'); ?>
                        </span>
                        
                    </div>
                </div>

            </a>
        </div>
    </div>
</div>