<div class="backdrop hero-mothers-day-2019b">
	<div class="col-xs-12">
		<div class="banner hero-template-label">
			<a href="<?php echo $this->getUrl('gifts/mother-s-day-gifts'); ?>" title="<?php echo $this->__('Shop Mother\'s Day Gifts'); ?>" class="hero">

				<div class="content">
    				<div class="content-table"><div class="content-center">
    					<div class="accent"><div class="inner">
    						<h2>
    							<span class="line1"><?php echo $this->__("Mom"); ?></span>
    						</h2>
    						<span class="banner-button">
    							<?php echo $this->__('Shop Mother\'s Day Gifts'); ?>
    						</span>
    					</div></div>
					</div></div>
				</div>

			</a>
		</div>
	</div>
</div>