<div class="backdrop hero-mothers-day-2019a">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('gifts/mother-s-day-gifts'); ?>" title="<?php echo $this->__('Shop Mother\'s Day Gifts'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						<h2>
							<span class="line line1"><?php echo $this->__("Mom"); ?></span>
						</h2>
						<span class="banner-button">
							<?php echo $this->__('Shop Mother\'s Day Gifts'); ?>
						</span>
					</div>
				</div>

			</a>
		</div>
	</div>
</div>