<div class="backdrop hero-summer-2019-wedding">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('wedding-event-favors/wedding-favors'); ?>" title="<?php echo $this->__('Shop Wedding Favors'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						<h2>
							<span class="line line1"><?php echo $this->__("Favors for Your"); ?></span>
							<span class="line line2"><?php echo $this->__("Perfect Day"); ?></span>
						</h2>
						<span class="banner-button">
							<?php echo $this->__('Shop Wedding Favors'); ?>
						</span>
					</div>
				</div>

			</a>
		</div>
	</div>
</div>