<div class="backdrop hero-easter-2019c">
	<div class="col-xs-12">
		<div class="banner hero-template-label">
			<a href="<?php echo $this->getUrl('gifts/easter-gifts'); ?>" title="<?php echo $this->__('Shop Easter'); ?>" class="hero">

				<div class="content">
    				<div class="content-table"><div class="content-center">
    					<div class="accent"><div class="inner">
    						<h2>
    							<span class="line1"><?php echo $this->__("Happier"); ?></span>
    							<span class="line2"><?php echo $this->__("Easter"); ?></span>
    						</h2>
    						<span class="banner-button">
    							<?php echo $this->__('Shop Easter'); ?>
    						</span>
    					</div></div>
					</div></div>
				</div>

			</a>
		</div>
	</div>
</div>