<div class="backdrop hero-spring-2019">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('collections/spring-collection'); ?>" title="<?php echo $this->__('Shop Spring Collection'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						<h2>
							<span class="line line1"><?php echo $this->__("Spring in Bloom"); ?></span>
						</h2>
						<span class="banner-button">
							<?php echo $this->__('Shop Spring Collection'); ?>
						</span>
					</div>
				</div>

			</a>
		</div>
	</div>
</div>