<div class="backdrop valentines-heart-boxes">
    <div class="col-xs-12">
        <div class="banner">
            <a href="<?php echo $this->getUrl('gifts/valentines-gifts'); ?>" title="<?php echo $this->__('Shop Valentine\'s Gifts'); ?>" class="hero">

                <div class="content">
                    <div class="accent">
                        
                        <span class="banner-button">
                            <?php echo $this->__('Shop Valentine\'s Collection'); ?>
                        </span>
                        
                    </div>
                </div>

            </a>
        </div>
    </div>
</div>