<div class="backdrop hero-summer-2019-bright">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('collections/summer-collection'); ?>" title="<?php echo $this->__('Shop Summer Collection'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						<h2>
							<span class="line line1"><?php echo $this->__("Delight in Everything"); ?></span>
							<span class="line line2"><?php echo $this->__("Bright & Beautiful"); ?></span>
						</h2>
						<span class="banner-button">
							<?php echo $this->__('Shop Summer Collection'); ?>
						</span>
					</div>
				</div>

			</a>
		</div>
	</div>
</div>