<div class="backdrop hero-easter-2019a">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('gifts/easter-gifts'); ?>" title="<?php echo $this->__('Shop Easter'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						<h2>
							<span class="line line1"><?php echo $this->__("Delicious Treats for"); ?></span>
							<span class="line line2"><?php echo $this->__("Everybunny"); ?></span>
						</h2>
						<span class="banner-button">
							<?php echo $this->__('Shop Easter'); ?>
						</span>
					</div>
				</div>

			</a>
		</div>
	</div>
</div>