<div class="backdrop caramels-20-year-2">
    <div class="col-xs-12">
        <div class="banner">
            <a href="<?php echo $this->getUrl('caramels/salted-caramels'); ?>" title="<?php echo $this->__('Shop Salted Caramels'); ?>" class="hero">
                <div class="content">
                    <div class="accent">
                        <h2>
                            <span class="line1"><?php echo $this->__("Celebrating 20 Years of Salted Caramels"); ?></span>
                        </h2>
                        <span class="banner-button">
                            <?php echo $this->__('Shop Salted Caramels'); ?>
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>