<div class="backdrop hero-summer-2019-iced">
	<div class="col-xs-12">
		<div class="banner">
			<a href="<?php echo $this->getUrl('sauce-hot-chocolate/hot-chocolate/hot-chocolate'); ?>" title="<?php echo $this->__('Shop Now'); ?>" class="hero">

				<div class="content">
					<div class="accent">
						<h2>
							<span class="line line1"><?php echo $this->__("Cool Down"); ?></span>
							<span class="line line2"><?php echo $this->__("with Iced Drinking"); ?></span>
							<span class="line line3"><?php echo $this->__("Chocolate"); ?></span>
						</h2>
						<span class="banner-button">
							<?php echo $this->__('Shop Now'); ?>
						</span>
					</div>
				</div>

			</a>
		</div>
	</div>
</div>