<div class="backdrop celebrate-2019">
    <div class="col-xs-12">
        <div class="banner">
            <a href="<?php echo $this->getUrl('collections/signature-collection'); ?>" title="<?php echo $this->__('Shop Signature Collection'); ?>" class="hero">
                <div class="content">
                    <div class="accent">
                        <h2><?php echo $this->__("Celebrate!"); ?></h2>
                    </div>
                    <div class="cta-box">
                        <span class="banner-button"><?php echo $this->__('Shop Signature Collection'); ?></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>