<div class="backdrop gold-bars-4">
    <div class="col-xs-12">
        <div class="banner">
            <a href="<?php echo $this->getUrl('bars/gold-bars'); ?>" title="<?php echo $this->__('Shop Coconut Gold Bars'); ?>" class="hero">
                <div class="content">
                    <div class="accent">
                        <h2>
                            <span class="line1"><?php echo $this->__("As seen on:"); ?></span>
                            <span class="line2"><?php echo $this->__("The Best Thing"); ?></span>
                            <span class="line3"><?php echo $this->__("I Ever Ate"); ?></span>
                            <span class="line4"><?php echo $this->__("with Bobby Flay"); ?></span>
                        </h2>
                        <span class="banner-button">
                            <?php echo $this->__('SHOP COCONUT GOLD BARS'); ?>
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>