<div id="<?php echo $this->getHtmlId(); ?>">
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-quick-ship"><?php echo Mage::helper('quickship')->__('Weight &amp; Ice') ?></h4>
        </div>
        <?php $order = $this->getOrder(); ?>
        <?php if($this->includeForm()): ?>
            <form id="<?php echo $this->getFieldId('form'); ?>" action="<?php echo $this->getSaveUrl(); ?>">
        <?php endif; ?>
            <div class="fieldset">
                <table cellspacing="0" class="form-list">
                    <tbody>
                        <tr>
                            <td class="label"><label for="ice_packs">Ice Packs (0.5lb each)</label></td>
                            <td class="value"><input type="text" name="shipment[ice_packs]" id="ice_packs" value="<?php echo $order->getIcePacks(); ?>" size="2" />
                                <span class="add-remove-ice-packs">
                                    <a href="#" class="add" id="add-ice">+</a>
                                    <a href="#" class="remove" id="remove-ice">&minus;</a>
                                </span></td>
                        </tr>
                        <tr>
                            <td class="label"><label for="total_weight">Total Weight:</label></td>
                            <td class="value"><input type="text" name="shipment[total_weight]" id="total_weight" value="<?php echo $this->getOrder()->getWeight(); ?>" data-weight="<?php echo $order->getWeight(); ?>" /> lbs</td>
                        </tr>
                        <?php if($this->includeForm()): ?>
                            <tr>
                                <td class="label"></td>
                                <td class="value"><?php echo $this->getSaveButtonHtml(); ?></td>
                            </tr>
                        <?php endif; ?>
                    </tbody>
                </table>
            </div>
        <?php if($this->includeForm()): ?>
            </form>
        <?php endif; ?>
    </div>
</div>

<style>
.add-remove-ice-packs{ margin-left: 0.5em; font-size: 1.5em; }
.add-remove-ice-packs a{ padding: 0.125em 0.4em; text-align: center; margin-left: 0.5em; text-decoration: none; border-radius: 8px; background: #ffac47; color: #fff;}
</style>
<script>
    $('remove-ice').observe('click', function(event){
        event.preventDefault();
        var icePacksField = $('ice_packs');
        var icePacksCount = parseInt(icePacksField.value);
        var totalWeightField = $('total_weight');
        if(icePacksCount >= 1){
            icePacksField.value = icePacksCount - 1;
            totalWeightField.value = parseFloat(totalWeightField.value) - 0.5;
        }
    });

    $('add-ice').observe('click', function(event){
        event.preventDefault();
        var icePacksField = $('ice_packs');
        var icePacksCount = parseInt(icePacksField.value);
        var totalWeightField = $('total_weight');
        icePacksField.value = icePacksCount + 1;
        totalWeightField.value = parseFloat(totalWeightField.value) + 0.5;
    });

    $('ice_packs').observe('blur', function(){
        var iceWeight = 0.5 * parseInt($('ice_packs').value);
        $('total_weight').value = parseFloat($('total_weight').dataset.weight) + iceWeight;
    });
</script>