<form action="<?php echo $this->getUrl('quickship/index/go'); ?>" method="post" class="quick-ship-lookup-form">
    <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
    <label for="order_id">Scan an Order ID:</label>
    <input type="text" name="order_id" id="order_id" />
    <button type="submit">Go</button>
</form>

<script>
    document.getElementById('order_id').focus();
    <?php if($this->getRequest()->getParam('shipment_id')): ?>
    setTimeout(function(){
        window.location.href = '<?php echo $this->getUrl('adminhtml/sales_order_shipment/printLabel', array('shipment_id' => $this->getRequest()->getParam('shipment_id'))); ?>';
    }, 1000);
    <?php endif; ?>
</script>

<style>
.quick-ship-lookup-form{
    width: 60%;
    margin: 2em auto;
    font-size: 2em;
    display: block;
    text-align: center;
}
.quick-ship-lookup-form input{ font-size: 2em;
    display: block;
    margin: 1em auto;
    text-align: center; }

.quick-ship-lookup-form label{
    display: block;
} 

.quick-ship-lookup-form button{
    font-size: 1em;
    padding: 0.25em 0.5em;
}
</style>