<?php
    $_helper = $this->helper('catalog/output');
	$_data = $this->_attributeData;
	$_html = $this->getAttributeHtml();
?>

<?php if($_html): ?>
	<li>
	    <span class="expander-toggle scroll-for-mobile"  data-expander-group="pdp-attributes" data-expander-id="ex-<?php echo $_data['code']; ?>">
	        <?php echo $this->getAttributeLabel(); ?>
	        <div class="expander-icon"></div>
	    </span>
		<ul class="expander" id="ex-<?php echo $_data['code']; ?>">
			<li><?php echo $_html; ?></li>
		</ul>
	</li>
<?php endif; ?>