<?php $order = $this->getOrder(); ?>
<?php $orderDate = new DateTime($order->getCreatedAt()); ?>
<?php $childOrders = $order->getChildOrders(); ?>
<?php $shipmentCount = $childOrders ? count($childOrders) : 1; ?>

<table cellpadding="0" cellspacing="0" class="order-summary-email-template">
	<tr>
		<td width="34" rowspan="2"><img src="<?php echo $this->getSkinUrl('images/email/icon-summary.png'); ?>" /></td>
		<td width="125" style="color: #c2c2c2;">
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				<b><?php echo $this->getSummaryTotalLabel(); ?></b>
			</font>
		</td>
		<td width="38" rowspan="2"><img src="<?php echo $this->getSkinUrl('images/email/icon-shipment.png'); ?>" /></td>
		<td width="124" style="color: #c2c2c2;">
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				<b><?php echo $this->__('SHIPMENTS'); ?></b>
			</font>
		</td>
		<td width="39" rowspan="2"><img src="<?php echo $this->getSkinUrl('images/email/icon-calendar/' . $orderDate->format('j') . '.png'); ?>" /></td>
		<td width="122" style="color: #c2c2c2;">
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				<b><?php echo $this->__('ORDER PLACED'); ?></b>
			</font>
		</td>
		<td width="36" rowspan="2"><img src="<?php echo $this->getSkinUrl('images/email/icon-order.png'); ?>" /></td>
		<td width="132" style="color: #c2c2c2;">
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				<b><?php echo $this->__('ORDER NUMBER'); ?></b>
			</font>
		</td>
	</tr>
	<tr>
		<td style="color: #666666;">
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				<b><?php echo Mage::helper('core')->currency($this->getSummaryTotalAmount($order),true,false); ?></b>
			</font>
		</td>
		<td style="color: #666666;">
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				<b><?php echo $shipmentCount; ?></b>
			</font>
		</td>
		<td style="color: #666666;">
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				<b><?php echo $orderDate->format('M j, Y'); ?></b>
			</font>
		</td>
		<td>
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2" style = "color: #c87d2a; font-weight: bold;" class = "order-number">
				<?php if($this->getIsGuest()): ?>
					<span style="color: #c87d2a;">
				<?php else: ?>
					<b><a href="<?php echo $this->getUrl('sales/order/history/', array('view' => $order->getIncrementId())); ?>" style="color: #c87d2a!important; text-decoration: none; font-weight: bold;" class="link-disabled" onmouseover="jQuery(this).replaceWith(jQuery('<span>' + this.innerHTML + '</span>'));"></b>
				<?php endif; ?>
				<?php echo $order->getIncrementId(); ?>
				<?php if($this->getIsGuest()): ?>
					</span>
				<?php else: ?>
					</a>
				<?php endif; ?>
			</font>
		</td>
	</tr>
</table>