<div class="inside-row output-modification-row">
    <input id="modificaiton_value" placeholder="<?php 
        print $this->__("Percentage (like +15%), or fixed value (like -20)")?>" name="advanced[:value_order][modification][value]"  type="text" class="input-text"/>
</div>
