<?php
/**
 * Created by goSolid.
 */
/** @var GoSolid_Frans_Block_Adminhtml_Sales_Order_Create_Shipments_Grid $this */
$quote = $this->getQuote();
$_addresses = $quote->getAllShippingAddresses();
$_items = $quote->getAllItems();
?>
<div class="grid" id="order-shipments_grid">
    <table cellspacing="0" class="data order-tables">
        <col />
        <? for ($i = 0; $i < count($_items); $i++): ?>
        <col width="40"  />
        <? endfor; ?>
        <col width="500" /> <!-- shipping -->
        <col width="50" /> <!-- actions -->
        <thead>
        <tr class="headings">
            <th class="no-link"><?php echo $this->__('Shipment Address') ?></th>
            <? foreach ($_items as $_item): ?>
                <th class="no-link" title="<? echo $_item->getName(); ?>"><?php echo $_item->getAccpacSku(); ?></th>
            <? endforeach; ?>
            <th class="no-link"><?php echo $this->__('Shipping Method') ?></th>
            <th class="no-link"><?php echo $this->__('Actions') ?></th>
        </tr>
        </thead>

        <?php $i=0 ?>
        <?php
        /** @var GoSolid_Frans_Model_Sales_Quote_Address $_address */
        foreach ($_addresses as $_address):$i++ ?>
            <? echo $this->getShipmentAddressHtml($_address); ?>
        <?php endforeach; ?>
        <tfoot>
            <tr>
                <td colspan="<? echo count($_items) + 1; ?>">
                    <? echo count($_addresses) . ' ' . $this->__('Shipments'); ?>
                </td>
                <td colspan="2" class="a-right">
                    <? echo $this->getAddAddressButtonHtml(); ?>
	                <?php if($this->canAddAddress()): ?>
		                <button type="button" class="scalable save progress-done"><span><span><?php echo $this->__('Done'); ?></span></span></button>
	                <?php endif; ?>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
