/**
 * @license
 * MyFonts Webfont Build ID 3675512, 2018-11-19T19:10:05-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: DidotLTPro-BoldItalic by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/didot/pro-bold-italic/
 * Copyright: Copyright &#x00A9; 2012 Linotype GmbH, www.linotype.com. All rights reserved. This font software may not be reproduced, modified, disclosed or transferred without the express written approval of Linotype GmbH. Linotype Didot is a trademark of Linotype Gmb
 * Licensed pageviews: 2,500,000
 * 
 * Webfont: DidotLTPro-Roman by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/didot/linotype-didot-pro-roman/
 * Copyright: Copyright &#x00A9; 2013 Monotype GmbH. All rights reserved.
 * Licensed pageviews: 250,000
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3675512
 * 
 * © 2018 MyFonts Inc
*/

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/38c533");

@font-face {font-family: 'DidotLTPro-BoldItalic';
    src: url('@{font-path}didot/38C533_0_0.eot');
    src: url('@{font-path}didot/38C533_0_0.eot?#iefix') format('embedded-opentype'),
        url('@{font-path}didot/38C533_0_0.woff2') format('woff2'),
        url('@{font-path}didot/38C533_0_0.woff') format('woff'),
        url('@{font-path}didot/38C533_0_0.ttf') format('truetype'),
        url('@{font-path}didot/38C533_0_0.svg#wf') format('svg');
}

@font-face {
    font-family: 'DidotLTPro-Roman';
    src: url('@{font-path}didot/38C533_1_0.eot');
    src: url('@{font-path}didot/38C533_1_0.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}didot/38C533_1_0.woff2') format('woff2'),
    url('@{font-path}didot/38C533_1_0.woff') format('woff'),
    url('@{font-path}didot/38C533_1_0.ttf') format('truetype'),
    url('@{font-path}didot/38C533_1_0.svg#wf') format('svg');
}