<ul id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none">
    <li>
        <div class="input-box">
            <label for="po_number">PO Number:</label>
            <input type="text" name="payment[po_number]" value="<?php echo $this->getPoNumber(); ?>" />
        </div>
    </li>
</ul>