<?php /* @var $this GoSolid_Frans_Block_Adminhtml_Sales_Order_View_Info */ ?>
<?php
/* @var GoSolid_Frans_Model_Sales_Order $_order */
$_order = $this->getOrder() ?>
<?php
$orderAdminDate = $this->formatDate($_order->getCreatedAtDate(), 'medium', true);
$orderStoreDate = $this->formatDate($_order->getCreatedAtStoreDate(), 'medium', true);
$orderQueues = Mage::getModel('orderQueues/orderQueue')->__getOrderGridOptionArray();


$isChild = $isParent = false;

if ($_order->getIsMultishipChildOrder())
{
	$isChild = true;
	$parentOrder = $_order->getMultishipParentOrder();
	$parentViewUrl = $this->getViewUrl($parentOrder->getId());
	$emailSent = $parentOrder->getEmailSent();
}
else 
{
	$emailSent = $_order->getEmailSent();
}

?>
<div class="box-left">
    <!--Order Information-->
    <div class="entry-edit">
        <?php if ($emailSent):
            $_email = Mage::helper('sales')->__('the order confirmation email was sent');
        else:
            $_email = Mage::helper('sales')->__('the order confirmation email is not sent');
        endif; ?>
        <div class="entry-edit-head">
        <?php if ($this->getNoUseOrderLink()): ?>
            <h4 class="icon-head head-account"><?php echo Mage::helper('sales')->__('Order # %s', $_order->getRealOrderId()) ?> (<?php echo $_email ?>)</h4>
        <?php else: ?>
            <a href="<?php echo $this->getViewUrl($_order->getId()) ?>"><?php echo Mage::helper('sales')->__('Order # %s', $_order->getRealOrderId()) ?></a>
            <strong>(<?php echo $_email ?>)</strong>
        <?php endif; ?>
        </div>
        <div class="fieldset">
            <table cellspacing="0" class="form-list">
            <?php if ($isChild): ?>
            <tr>
                <td class="label"><label><?php echo Mage::helper('sales')->__('Parent Order') ?></label></td>
                <td class="value"><strong>
                	<a href="<?php echo $parentViewUrl ?>"><strong><?php echo $parentOrder->getIncrementId(); ?></strong></a>
                </strong></td>
            </tr>
            <?php endif; ?>
            <tr>
                <td class="label"><label><?php echo Mage::helper('sales')->__('Order Date') ?></label></td>
                <td class="value"><strong><?php echo $orderAdminDate ?></strong></td>
            </tr>
            <?php if ($orderAdminDate != $orderStoreDate):?>
            <tr>
                <td class="label"><label><?php echo Mage::helper('sales')->__('Order Date (%s)', $_order->getCreatedAtStoreDate()->getTimezone()) ?></label></td>
                <td class="value"><strong><?php echo $orderStoreDate ?></strong></td>
            </tr>
            <?php endif;?>
            <tr>
                <td class="label"><label><?php echo Mage::helper('sales')->__('Order Status') ?></label></td>
                <td class="value"><strong>
                        <span id="order_status">
                            <?php echo $_order->getStatusLabel() ?>

                        </span></strong>
                    <? if($_order->getIsOnHold() == true): ?>
                        <? echo $this->__("(On Hold)"); ?>
                    <? endif; ?>

                </td>
            </tr>
            <tr>
                <td class="label"><label><?php echo Mage::helper('sales')->__('Purchased From') ?></label></td>
                <td class="value"><strong><?php echo $this->getOrderStoreName() ?></strong></td>
            </tr>
            <?php if($_order->getRelationChildId()): ?>
            <tr>
                <td class="label"><label><?php echo Mage::helper('sales')->__('Link to the New Order') ?></label></td>
                <td class="value"><a href="<?php echo $this->getViewUrl($_order->getRelationChildId()) ?>">
                    <?php echo $_order->getRelationChildRealId() ?>
                </a></td>
            </tr>
            <?php endif; ?>
            <?php if($_order->getRelationParentId()): ?>
            <tr>
                <td class="label"><label><?php echo Mage::helper('sales')->__('Link to the Previous Order') ?></label></td>
                <td class="value"><a href="<?php echo $this->getViewUrl($_order->getRelationParentId()) ?>">
                    <?php echo $_order->getRelationParentRealId() ?>
                </a></td>
            </tr>
            <?php endif; ?>
            <?php if($_order->getRemoteIp() && $this->shouldDisplayCustomerIp()): ?>
            <tr>
                <td class="label"><label><?php echo Mage::helper('sales')->__('Placed from IP') ?></label></td>
                <td class="value"><strong><?php echo $_order->getRemoteIp(); echo ($_order->getXForwardedFor())?' (' . $this->escapeHtml($_order->getXForwardedFor()) . ')':''; ?></strong></td>
            </tr>
            <?php endif; ?>
            <?php if($_order->getGlobalCurrencyCode() != $_order->getBaseCurrencyCode()): ?>
            <tr>
                <td class="label"><label><?php echo Mage::helper('sales')->__('%s / %s rate:', $_order->getGlobalCurrencyCode(), $_order->getBaseCurrencyCode()) ?></label></td>
                <td class="value"><strong><?php echo $_order->getBaseToGlobalRate() ?></strong></td>
            </tr>
            <?php endif; ?>
            <?php if($_order->getBaseCurrencyCode() != $_order->getOrderCurrencyCode()): ?>
            <tr>
                <td class="label"><label><?php echo Mage::helper('sales')->__('%s / %s rate:', $_order->getOrderCurrencyCode(), $_order->getBaseCurrencyCode()) ?></label></td>
                <td class="value"><strong><?php echo $_order->getBaseToOrderRate() ?></strong></td>
            </tr>
            <?php endif; ?>
            <tr>
                <td class="label"><label><?php echo Mage::helper('frans')->__('Processing Queue'); ?></label></td>
                <td class="value" id="order_queue">
                    <select name="queue" id="queue" style="margin-bottom:3px">
                        <option value="">-- Please Select --</option>
                        <?php
                        asort($orderQueues);
                        $temp = array('na' => $orderQueues['na']);
                        unset($orderQueues['na']);
                        $orderQueues = $temp + $orderQueues;
                        ?>
                    <?php foreach($orderQueues as $queueKey=>$queueLabel): ?>
                        <option value="<?php echo $queueKey; ?>" <?php if($queueKey == $_order->getProcessingQueue()){ echo "selected"; } ?>><?php echo $queueLabel; ?></option>
                    <?php endforeach; ?>
                    </select>
                    <?php echo $this->getSaveQueueButtonHtml(); ?>
                </td>
            </tr>
            <tr>
                <td class="label"><label><?php echo Mage::helper('frans')->__('Admin Notes'); ?></label></td>
                <td class="value">
                    <div id="admin_notes_fields">
                        <textarea rows="2" cols="15" id="admin_notes" name="order[admin_notes]" style="width:98%;height:8em;"><?php echo $_order->getAdminNotes(); ?></textarea>
                        <? echo $this->getSaveAdminNotesButtonHtml(); ?>
                    </div>
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>
<div class="box-right">
    <!--Account Information-->
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-account"><?php echo Mage::helper('sales')->__('Account Information') ?></h4>
            <div class="tools"><?php echo $this->getAccountEditLink()?></div>
        </div>
        <div class="fieldset">
            <div class="hor-scroll">
                <table cellspacing="0" class="form-list">
                <tr>
                    <td class="label"><label><?php echo Mage::helper('sales')->__('Customer Name') ?></label></td>
                    <td class="value">
                    <?php if ($_customerUrl=$this->getCustomerViewUrl()) : ?>
                        <a href="<?php echo $_customerUrl ?>" target="_blank"><strong><?php echo $this->htmlEscape($_order->getCustomerName()) ?></strong></a>
                    <?php else: ?>
                        <strong><?php echo $this->htmlEscape($_order->getCustomerName()) ?></strong>
                    <?php endif; ?>
                    </td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('sales')->__('Email') ?></label></td>
                    <td class="value"><a href="mailto:<?php echo $_order->getCustomerEmail() ?>"><strong><?php echo $_order->getCustomerEmail() ?></strong></a></td>
                </tr>
                <?php if ($_groupName = $this->getCustomerGroupName()) : ?>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('sales')->__('Customer Group') ?></label></td>
                    <td class="value"><strong><?php echo $_groupName ?></strong></td>
                </tr>
                <?php endif; ?>
                <?php foreach ($this->getCustomerAccountData() as $data):?>
                <tr>
                    <td class="label"><label><?php echo $data['label'] ?></label></td>
                    <td class="value"><strong><?php echo $data['value'] ?></strong></td>
                </tr>
                <?php endforeach;?>
                    <tr>
                        <td class="label"><label><?php echo Mage::helper('sales')->__('Customer Notes') ?></label></td>
                        <td class="value">
                            <div id="customer_notes_fields">
                                <strong><textarea rows="2" cols="15" id="customer_notes" name="customer_notes" style="width:98%;height:8em;"><?php echo Mage::getModel('frans/customerNotes')->loadByCustomer($_order->getCustomerId())->getNotes(); ?></textarea></strong>
                                <input type="hidden" id="notes_customer_id" name="customer_id" value="<? echo $_order->getCustomerId(); ?>" />
                                <input type="hidden" id="notes_order_id" name="order_id" value="<? echo $_order->getId(); ?>" />
                                <button id="customer_notes_submit" class="scalable form-button scalable save" onclick="submitAreaInBackground('customer_notes_fields', '<?php echo $this->getUrl('adminhtml/customernotes/save', array( 'id' => $_order->getCustomerId() )); ?>')">
                                    <span><span><span>Save Notes</span></span></span>
                                </button>
                            </div>
                        </td>

                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>


<?php if ($this->getOrder()->getIsMultishipParent()): ?>
<div class="box-left">
    <!--Shipping Address-->
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-shipping-address"><?php echo Mage::helper('sales')->__('Shipping Address') ?></h4>
        </div>
        <fieldset>
            <?php echo $this->__('See individual shipment orders for shipping address information');?>
        </fieldset>
    </div>
</div>
<?php elseif (!$this->getOrder()->getIsVirtual()): ?>
<?php $shippingAddressHtml = $this->getChildHtml('shipping_address'); ?>
<div class="box-left">
    <!--Shipping Address-->
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-shipping-address"><?php echo Mage::helper('sales')->__('Shipping Address') ?></h4>
            <div class="tools"><?php echo $this->getAddressEditLink($_order->getShippingAddress())?></div>
        </div>
        <?php if($shippingAddressHtml == ""):?>
            <fieldset>
                <address><?php echo $_order->getShippingAddress()->getFormated(true) ?></address>
            </fieldset>
        <?php endif; ?>
    </div>
    <!-- This template is used with shipments as well and should have a fallback for empty string -->

    <?php if($shippingAddressHtml != ""):?>
        <?php echo $shippingAddressHtml; ?>
    <?php endif; ?>
</div>
<?php endif; ?>

<div class="box-right">
	<!--Billing Address-->
	<div class="entry-edit">
		<div class="entry-edit-head">
			<h4 class="icon-head head-billing-address"><?php echo Mage::helper('sales')->__('Billing Address') ?></h4>
			<div class="tools"><?php echo $this->getAddressEditLink($_order->getBillingAddress())?></div>
		</div>
		<fieldset>
			<address><?php echo $_order->getBillingAddress()->getFormated(true) ?></address>
		</fieldset>
	</div>
</div>
<div class="clear"></div>