<div class="guest-account-success">
    <div><?php echo $this->__('Your account has been created!'); ?></div>
    <div><?php echo $this->__('On your next visit, simply login with your email and password.'); ?></div>
</div>

<script type="text/javascript">
    jQuery('#create-account-wrapper').css('background-image','none');
</script>