<?
    /* @var GoSolid_Frans_Block_Checkout_Billing $this */
    /* @var Mage_Customer_Model_Address $billingAddress */
    $billingAddress = $this->getBillingAddress();

    $isVirtual = $this->getQuote()->isVirtual();

?>

<input type="hidden" id="region-name" data-stripe="address_state" />
<input type="hidden" id="billing-full-name" data-stripe="name" />

<div class="form-row">
	<div class="col-xs-6">
		<h5><?php echo $this->__('Billing address'); ?></h5>
	</div>
    <?php if($this->isSingleShipment() && !$isVirtual): ?>
		<div class="col-xs-6">
		    <label class="use-shipping-address">
		        <input type="checkbox" id="toggle-use-shipping-address" data-autofill='<?php echo $this->getShippingAddressData(); ?>' />
		        <?php echo $this->__('Same as shipping address'); ?>
		    </label>
		</div>
    <?php endif; ?>
</div>

<div class="form-row">
	<?php echo $this->getNameBlockHtml(); ?>
</div>

<div class="form-row">
	<div class="col-xs-12">
		<input placeholder="<?php echo $this->__('Business name'); ?>" type="text" name="billing[company]" id="company" title="<?php echo $this->__('Business') ?>" value="<?php echo $this->escapeHtml($this->getBillingAddress()->getCompany()) ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" />
	</div>
</div>

<?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
<?php for($_i = 1, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
	<div class="form-row">
		<div class="col-xs-12">
			<input placeholder="<?php echo $this->__('Address line %s', $_i); ?>" data-stripe="address_line<?php echo $_i ?>" type="text" name="billing[street][]" value="<?php echo $this->escapeHtml($this->getBillingAddress()->getStreet($_i)) ?>" title="<?php echo $this->__('Address line %s', $_i) ?>" id="street_<?php echo $_i ?>" class="input-text<?php echo $_streetValidationClass ?>" />
		</div>
	</div>
	<?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
<?php endfor; ?>

<div class="form-row">
	<div class="col-xs-4">
		<input placeholder="<?php echo $this->__('City'); ?>" data-stripe="address_city" type="text" name="billing[city]" value="<?php echo $this->escapeHtml($this->getBillingAddress()->getCity()) ?>"  title="<?php echo $this->__('City') ?>" class="input-text<?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="city" />
	</div>
	<div class="col-xs-4">
		<select id="billing-region-id" name="billing[region_id]" title="<?php echo $this->__('State') ?>" class="validate-select modal-state" style="display:none;">
			<option value="" disabled selected><?php echo $this->__('State') ?></option>
		</select>
		<script type="text/javascript">
			//<![CDATA[
			// disabling this for now, due to bug in IE 8
			//$('billing-region-id').setAttribute('defaultValue',  "<?php echo $this->getBillingAddress()->getRegionId() ?>");
			//]]>
		</script>
		<input placeholder="<?php echo $this->__('State'); ?>"  type="text" id="billing-region" name="billing[region]" value="<?php echo $this->escapeHtml($this->getBillingAddress()->getRegion()) ?>"  title="<?php echo $this->__('State') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>" />
	</div>
	<div class="col-xs-4">
		<input placeholder="<?php echo $this->__('ZIP'); ?>" data-stripe="address_zip" type="text" name="billing[postcode]"  value="<?php echo $this->escapeHtml($this->getBillingAddress()->getPostcode()) ?>" title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" />
	</div>
</div>

<div class="form-row">
	<div class="col-xs-12">
        <?php echo $this->getCountryHtmlSelect(null, 'billing[country_id]', 'country-billing') ?>
    </div>
</div>

<div class="form-row">
	<div class="col-xs-12">
		<input placeholder="<?php echo $this->__('Telephone'); ?>" type="text" name="billing[telephone]" value="<?php echo $this->escapeHtml($this->getBillingAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?> required-entry" id="telephone-billing" />
	</div>
</div>

<?php if(!Mage::getSingleton('customer/session')->isLoggedIn()):?>
	<div class="form-row">
		<div class="col-xs-12">
			<input class="input-text required-entry validate-email email help" name="billing[email]" type="text" placeholder="<?php echo $this->__('E-mail address for order information'); ?>" data-content="#email-popup" data-help-tooltip="<?php echo $this->__('What\'s this?'); ?>" value="<?php echo $this->getEmailAddress(); ?>" />
		</div>
	</div>
<?php endif; ?>
<div id="email-popup" style="display: none;">
	<div class="email-popup">
		<p><?php echo $this->__('This email address is used for order communication.'); ?></p>
		<p><?php echo $this->__('We do not share your information with any third parties.'); ?></p>
	</div>
</div>

<?php if($this->getIsLoggedIn()): ?>
	<div class="form-row">
		<div class="col-xs-12">
			<label class="save-billing-address">
				<input type="checkbox" name="billing[default_billing_address]" id="billing:default_billing_address" value="1" />
				<?php echo $this->__('Save as default billing address'); ?>
			</label>
		</div>
	</div>
<?php endif; ?>