<?php
$_months = $this->getMonths();

foreach ($_months as $_monthData)
{
	$_monthInfo = $_monthData['month'];
	$_monthDays = $_monthData['days'];
    $_monthLegend = $_monthData['legend'];
?>
<div class="calendar-page">
	<div class="month">
		<span class="month-label"><?php echo $_monthInfo['name'];?></span> <span class="year-label"><?php echo $_monthInfo['year']; ?></span>
	</div>
	<div class="day">
		<ul class="day-names">
			<li><?php echo $this->__('Sun'); ?></li>
			<li><?php echo $this->__('Mon'); ?></li>
			<li><?php echo $this->__('Tue'); ?></li>
			<li><?php echo $this->__('Wed'); ?></li>
			<li><?php echo $this->__('Thu'); ?></li>
			<li><?php echo $this->__('Fri'); ?></li>
			<li><?php echo $this->__('Sat'); ?></li>
		</ul>
		<ul class="day-picker">
			<?php foreach($_monthDays as $_dayInfo): ?>
				<li class="<?php echo $_dayInfo['class']; ?>" data-method="<?php echo $_dayInfo['method'] ?>" data-numeric-date="<?php echo $_dayInfo['numeric']; ?>" data-text-date="<?php echo $_dayInfo['text']; ?>" <?php if (isset($_dayInfo['message_id'])) echo "data-message-id='{$_dayInfo['message_id']}'";?> <?php if (isset($_dayInfo['style'])) echo "style='{$_dayInfo['style']}'"; ?>><span><?php echo $_dayInfo['number']; ?></span></li>
			<?php endforeach; ?>
		</ul>
		<ul class="shipmethod-key">
            <?php foreach ($_monthLegend as $_legendEntry): ?>
                <li style="<?php echo $_legendEntry['style']; ?>" class="shipmethod_<?php echo $_legendEntry['method']; ?>"><span class="shipmethod-label" data-raw-price="<?php echo $_legendEntry['rawPrice']; ?>"><?php echo $_legendEntry['label']; ?> <span class="shipmethod-price">(<?php echo $_legendEntry['price']; ?>)</span></span></li>
            <?php endforeach; ?>
		</ul>
	</div>
</div>

<?php 
}
?>
