<?php
/**
 * Frans
 */
?>
<?php
/**
 * Shopping cart template
 *
 * @see GoSolid_Frans_Block_Checkout_Cart
 */
?>
<div class="cart">

    <h1 class="page-title"><?php echo $this->__('Shopping Cart'); ?></h1>

    <?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>
    <?php echo $this->getChildHtml('form_before'); ?>

    <form id="cart-form" action="<?php echo $this->getUrl('checkout/cart/updatePost'); ?>" method="post">
		<input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
	    <div class="cart-items">

		    <div class="row column-headers">

			    <?php //TODO: If Fran's ever wants wishlist or tax price display support, add it in this file ?>
			    <div class="col-item"><?php echo $this->__('Item'); ?></div>
			    <div class="col-price"><?php echo $this->__('Price'); ?></div>
			    <div class="col-qty"><?php echo $this->__('Qty'); ?></div>
			    <div class="col-total"><?php echo $this->__('Total'); ?></div>
			    <div class="col-remove"></div>

		    </div>

		    <?php foreach($this->getItems() as $_item): ?>
			    <?php echo $this->getItemHtml($_item) ?>
		    <?php endforeach ?>

	    </div>


	    <div class="cart-totals">

		    <div class="row">
			    <div class="col-subtotal">
				    <?php echo $this->__('Subtotal'); ?> <span class="price"><?php echo $this->getFormattedSubtotal(); ?></span>
			    </div>
		    </div>

	        <?php if(!$this->hasError()): ?>
				<div class="row">

					<div class="col-previous">
						<?php if($this->getContinueShoppingUrl()): ?>
							<button type="button" title="<?php echo $this->__('Back to Shopping'); ?>" class="button plain back left btn-continue" onclick="setLocation('<?php echo $this->getContinueShoppingUrl(); ?>');">
								<span><?php echo $this->__('Back to Shopping'); ?></span>
							</button>
						<?php endif; ?>
					</div>
					<div class="col-checkout">
						<button type="button" title="<?php echo $this->__('Proceed to Checkout'); ?>" class="button button-dark btn-proceed-checkout btn-checkout "><span><span><?php echo $this->__('Proceed to Checkout'); ?></span></span></button>
					</div>

				</div>
	        <?php endif; ?>

		    <?php /* OLD CODE FOR ADDITIONAL TABLE FOOTER CONTENT
                <tr>
                    <td colspan="50" class="a-right blank">

					    <div class="cart-collaterals">
					        <div class="col2-set hide">
					            <div class="col-1">
					                <?php echo $this->getChildHtml('crosssell') ?>
					            </div>
					            <div class="col-2">
	                                <?php echo $this->getChildHtml('checkout.cart.extra') ?>
	                                <?php echo $this->getChildHtml('coupon') ?>
	                                <?php if (!$this->getIsVirtual()): echo $this->getChildHtml('shipping'); endif; ?>
                                </div>
							</div>
						                <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Back to Shopping')) ?>" class="button-plain back left btn-continue" onclick="setLocation('<?php echo Mage::helper('core')->quoteEscape($this->getContinueShoppingUrl()) ?>')">
						</div>
					</td>
				</tr>
			*/ ?>

		</div>

        <script type="text/javascript">

            jQuery(document).ready(function($){

                if(jQuery('.btn-proceed-checkout').length > 0)
                {
					jQuery('.btn-proceed-checkout').bind("click", function(){
						jQuery("form#cart-form").append('<input type="hidden" name="return_url" value="<?php echo $this->getCheckoutUrl() ?>" />').submit();
                    });
                }
            });

        </script>
		<!--[if lt IE 8]>
			<input type="hidden" id="update_cart_action_container" />
			<script type="text/javascript">
			//<![CDATA[
		        Event.observe(window, 'load', function()
		        {
		            // Internet Explorer (lt 8) does not support value attribute in button elements
		            $emptyCartButton = $('empty_cart_button');
		            $cartActionContainer = $('update_cart_action_container');
		            if ($emptyCartButton && $cartActionContainer) {
		                Event.observe($emptyCartButton, 'click', function()
		                {
		                    $emptyCartButton.setAttribute('name', 'update_cart_action_temp');
		                    $cartActionContainer.setAttribute('name', 'update_cart_action');
		                    $cartActionContainer.setValue('empty_cart');
		                });
		            }
		        });
		    //]]>
		    </script>
	    <![endif]-->
    </form>

</div>
