<?php
/**
 * Frans
 */
?>
<?php
/**
 * Shopping cart legend template
 *
 * @see Mage_Checkout_Block_Cart
 */
?>
<?php
	/*
	<?php if ($this->isStepComplete('billing')): ?>
		Billing is complete
	<?php else: ?>
		Billing is not complete	
	<?php endif; ?>
	*/
	//$data = Mage::getSingleton('import/data');
	//$steps =  $this->getSteps();
	//Zend_Debug::dump($steps);
	//print $this->currentStep;
	//$add = $this->getShipping();
?>
<ol class="checkout-legend">
    <li class="shoppingcart"><span><?php echo $this->__('Shopping Bag') ?></span></li>
    <li class="begincheckout"><span>Begin Checkout</span></li>
    <li class="shipments"><span>Shipment(s)</span></li>
    <li class="shippingoptions"><span>Shipping Options</span></li>		
    <li class="summarypayment"><span>Summary &amp; Payment</span></li>
    <li class="confirmation"><span>Confirmation</span></li>
</ol>