<div class="cart">

	<h1 class="page-title"><?php echo $this->__('Checkout'); ?></h1>
	<?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>

	<div id="checkout-section">
		<div id="checkout-content">
			<div class="checkout-wrapper">

				<ul>
					<li class="checkout-step">
						<span class="expander-toggle expanded keep-open scroll-on-open active" data-expander-id="ex-shipping" data-expander-group="checkout-steps" data-expander-sequence="1" data-expander-duration="250"><?php echo $this->__('1. Shipping Address'); ?></span>
						<div class="expander expanded" id="ex-shipping">
							<div class="content checkout-shipping">
								<?php // Give .frans-tabs a class of three for tabs that are each 1/3 of the parent width ?>
								<ul class="frans-tabs three">
									<li class="first">
										<a href="<?php echo $this->getStandardUrl(); ?>"><?php echo $this->__('Send to a single address'); ?></a>
									</li>
									<li class="last active">
										<span><?php echo $this->__('Send to multiple addresses'); ?></span>
									</li>
								</ul>
								<?php echo $this->getShippingHtml(); ?>
							</div>
						</div>
					</li>
					<li class="checkout-step">
						<span class="expander-toggle keep-open toggle-disabled scroll-on-open next" data-expander-id="ex-delivery" data-expander-group="checkout-steps" data-expander-sequence="2" data-expander-duration="250"><?php echo $this->__('2. Delivery Options'); ?></span>
						<div class="expander" id="ex-delivery">
							<div class="content checkout-delivery"></div>
						</div>
					</li>
					<li class="checkout-step">
						<span class="expander-toggle keep-open toggle-disabled scroll-on-open" data-expander-id="ex-payment" data-expander-group="checkout-steps" data-expander-sequence="3" data-expander-duration="250"><?php echo $this->__('3. Payment & Review'); ?></span>
						<div class="expander" id="ex-payment">
							<?php echo $this->getPaymentStepHtml(); ?>
							<div class="content checkout-payment multiship-payment"></div>
						</div>
					</li>

				</ul>

			</div>

		</div>
	</div>

</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        baseUrl = '<?php echo $this->getUrl('frans/checkout_multiship'); ?>';
    });
</script>