<?php
/**
 * Frans Override
 */
?>

<div class="page-title gray">
	<div class="title-icon bag"></div>
    <h1 class="title-gray-text"><?php echo $this->__('Checkout') ?></h1>
</div>

<div class="checkout-step expanded">
	<h2 class="title"><span class="step-number">1.</span> Shipping Address</h2>
	<div class="content">
		<?php // Give .frans-tabs a class of three for tabs that are each 1/3 of the parent width ?>
		<ul class="frans-tabs three">
			<li class="first">
				<a href="#"><?php echo $this->__('Send to a single address'); ?></a>
			</li>
			<li class="last active">
				<a href="#"><?php echo $this->__('Send to multiple addresses'); ?></a>
			</li>
		</ul>
		
		<?php /* Commenting out single address tab view for now
		<div class="frans-tab-content">
			<form>
				<label for="recipient">Send to a recipient:</label>
				<select id="recipient">
					<option value="" disabled selected>Select a recipient</option>
					<?php // BEGIN LOOP THROUGH ADDRESSES ?>
					<option>Address 1</option>
					<option>Address 2</option>
					<?php // END LOOP THROUGH ADDRESSES ?>
				</select>
			</form>
		</div> */ ?>
		
		<div class="frans-tab-content">
			<div class="multiship-checkout">
				<div class="pagination">
					<a href="#" title="<?php echo $this->__('Previous'); ?>" class="prevlink">&lt;</a>
					1 <?php echo $this->__('of'); ?> 2
					<a href="#" title="<?php echo $this->__('Next'); ?>" class="nextlink">&gt;</a>
				</div>
				
				<div class="allocation">
					<div class="viewport">
						<ul class="allocation-row items">
						
							<?php /* BEGIN CART ITEM */ ?>
							<li>
								<a href="#" class="remove"><?php echo $this->__('Remove Item'); ?></a>
								<img class="thumbnail" src="http://dev.frans.com/media/catalog/product/2/0/204210-7-6pc-double-chocolate-figs-001_1.png" />
								20pc Gray &amp; Smoked Salt Caramels
							</li>
							<?php /* END CART ITEM */ ?>
							
							<?php /* BEGIN EMPTY SLOT (FIVE COLUMNS MUST ALWAYS BE PRESENT, PAD SPACE WITH MORE OF THESE) */ ?>
							<li>
								<a href="#" class="add">
									<div class="icon-wrapper"><div class="icon">+</div></div>
									<div class="add-label"><?php echo $this->__('Add Item'); ?></div>
								</a>
							</li>
							<?php /* END EMPTY SLOT */ ?>
							
							<?php /* BEGIN ADD ITEM LOOP */ ?>
							<li><a href="#" class="add"><div class="icon-wrapper"><div class="icon">+</div></div><div class="add-label"><?php echo $this->__('Add Item'); ?></div></a></li>
							<li><a href="#" class="add"><div class="icon-wrapper"><div class="icon">+</div></div><div class="add-label"><?php echo $this->__('Add Item'); ?></div></a></li>
							<li><a href="#" class="add"><div class="icon-wrapper"><div class="icon">+</div></div><div class="add-label"><?php echo $this->__('Add Item'); ?></div></a></li>
							<?php /* END ADD ITEM LOOP */ ?>
						
<?php /* EXTRA PLACEHOLDER ELEMENTS TO SHOW HOW TO LOAD MULTIPLE PAGES (1 OF 3) */ ?>
<li><a href="#" class="add"><div class="icon-wrapper"><div class="icon">+</div></div><div class="add-label"><?php echo $this->__('Add Item'); ?></div></a></li>
<li><a href="#" class="add"><div class="icon-wrapper"><div class="icon">+</div></div><div class="add-label"><?php echo $this->__('Add Item'); ?></div></a></li>
<li><a href="#" class="add"><div class="icon-wrapper"><div class="icon">+</div></div><div class="add-label"><?php echo $this->__('Add Item'); ?></div></a></li>
<li><a href="#" class="add"><div class="icon-wrapper"><div class="icon">+</div></div><div class="add-label"><?php echo $this->__('Add Item'); ?></div></a></li>
<li><a href="#" class="add"><div class="icon-wrapper"><div class="icon">+</div></div><div class="add-label"><?php echo $this->__('Add Item'); ?></div></a></li>
<?php /* END EXTRA PLACEHOLDER ELEMENTS */ ?>
						
						</ul>
						
						<ul class="allocation-row give all">
							<li>
								<span><?php echo $this->__('Give'); ?></span>
								<input type="text" value="0" />
								<span><?php echo $this->__('to all'); ?></span>
							</li>
							
							<?php /* BEGIN LOOPING "GIVE ALL" FIELDS FOR EACH ITEM */ ?>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<?php /* END LOOPING "GIVE ALL" FIELDS FOR EACH ITEM */ ?>
						
<?php /* EXTRA PLACEHOLDER ELEMENTS TO SHOW HOW TO LOAD MULTIPLE PAGES (2 OF 3) */ ?>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<?php /* END EXTRA PLACEHOLDER ELEMENTS */ ?>
						
						</ul>
						
						<ul class="allocation-row give one">
							<li>
								<input type="text" value="0" />
							</li>
							
							<?php /* BEGIN LOOPING "GIVE ONE" FIELDS FOR EACH ITEM */ ?>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<?php /* END LOOPING "GIVE ONE" FIELDS FOR EACH ITEM */ ?>
						
<?php /* EXTRA PLACEHOLDER ELEMENTS TO SHOW HOW TO LOAD MULTIPLE PAGES (3 OF 3) */ ?>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<?php /* END EXTRA PLACEHOLDER ELEMENTS */ ?>
						
						</ul>
					
<?php /* EXTRA PLACEHOLDER ROWS */ ?>
<ul class="allocation-row give one"><li><input type="text" value="0" /></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
<ul class="allocation-row give one"><li><input type="text" value="0" /></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
<ul class="allocation-row give one"><li><input type="text" value="0" /></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
<ul class="allocation-row give one"><li><input type="text" value="0" /></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
<?php /* END EXTRA PLACEHOLDER ROWS */ ?>
					
						<?php /* LAST ROW CONTAINS DISABLED INPUTS IN NON-EMPTY COLUMNS FOR PRESENTATION ONLY */ ?>
						<ul class="allocation-row give one disabled">
							<li><input type="text" value="0" disabled /></li>
							<li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
						</ul>
					
					</div>
					<div class="clear"></div>
					<ul class="allocation-names">
						<li>
							<span>Firstname Lastname</span>
							<div class="rollover">
								<div class="details">
									<span class="name">Firstname Lastname</span>
									<span>Address Line 1</span>
									<span>Address Line 2</span>
								</div>
								<a href="#"class="edit">Edit</a>
							</div>
						</li>

						<li><span>Second Name</span><div class="rollover"><div class="details"><span class="name">Second Name</span><span>123 Main Street</span><span>Suite 900</span><span>Seattle, WA 98108</span></div><a href="#"class="edit">Edit</a></div></li>
						<li><span>Third Name</span><div class="rollover"><div class="details"><span class="name">Third Name</span><span>221B Baker Street</span><span>Beverly Hills, CA 90210</span></div><a href="#"class="edit">Edit</a></div></li>
						<li><span>Fourth Name</span><div class="rollover"><div class="details"><span class="name">Fourth Name</span><span>1600 Pennsylvania Avenue</span><span>Washington, DC 20000</span></div><a href="#"class="edit">Edit</a></div></li>
						<li><span>Fifth Name</span><div class="rollover"><div class="details"><span class="name">Fifth Name</span><span>Another Address</span><span>Another Line 2</span></div><a href="#"class="edit">Edit</a></div></li>
						
						<?php /* LAST ROW CONTAINS "SELECT OR ADD RECIPIENT" CONTROL WHICH LAUNCHES MODAL */ ?>
						<li class="add"><?php echo $this->__('Select or Add Recipient'); ?></li>
					</ul>
					
				</div>
				
				<div class="pagination">
					<a href="#" title="<?php echo $this->__('Previous'); ?>" class="prevlink">&lt;</a>
					1 <?php echo $this->__('of'); ?> 2
					<a href="#" title="<?php echo $this->__('Next'); ?>" class="nextlink">&gt;</a>
				</div>
				
				<div class="clear"></div>
				
				<div class="summary-totals">
					<div class="item-summary">
						
						<div class="row-item headers">
							<div class="col-item"><?php echo $this->__('Item'); ?></div>
							<div class="col-price"><?php echo $this->__('Price'); ?></div>
							<div class="col-qty"><?php echo $this->__('Qty'); ?></div>
							<div class="col-total"><?php echo $this->__('Total'); ?></div>
						</div>
						
						<div class="row-item">
							<div class="col-item">
								<span class="item-name">Name</span>
								<span class="item-sku">544852</span>
							</div>
							<div class="col-price">
								<span class="item-price">$50.00</span>
							</div>
							<div class="col-qty">
								<span class="item-qty">1</span>
							</div>
							<div class="col-total">
								<span class="item-total">$50.00</span>
							</div>
						</div>
							
						<?php /* BEGIN ITEM LOOP (SPACING ISSUES WILL RESOLVE THEMSELVES WHEN LOOP IS IMPLEMENTED) */ ?>
						<div class="row-item"><div class="col-item"><span class="item-name">Name</span><span class="item-sku">544852</span></div><div class="col-price"><span class="item-price">$50.00</span></div><div class="col-qty"><span class="item-qty">1</span></div><div class="col-total"><span class="item-total">$50.00</span></div></div>
						<div class="row-item"><div class="col-item"><span class="item-name">Name</span><span class="item-sku">544852</span></div><div class="col-price"><span class="item-price">$50.00</span></div><div class="col-qty"><span class="item-qty">1</span></div><div class="col-total"><span class="item-total">$50.00</span></div></div>
						<div class="row-item"><div class="col-item"><span class="item-name">Name</span><span class="item-sku">544852</span></div><div class="col-price"><span class="item-price">$50.00</span></div><div class="col-qty"><span class="item-qty">1</span></div><div class="col-total"><span class="item-total">$50.00</span></div></div>
						<div class="row-item"><div class="col-item"><span class="item-name">Name</span><span class="item-sku">544852</span></div><div class="col-price"><span class="item-price">$50.00</span></div><div class="col-qty"><span class="item-qty">1</span></div><div class="col-total"><span class="item-total">$50.00</span></div></div>
						<?php /* END ITEM LOOP */ ?>
					</div>
					
					<span class="subtotal">
						<span class="subtotal-label"><?php echo $this->__('Order Subtotal')?></span>
						$104.50
					</span>
					
				</div>
				
				<div class="clear"></div>
				
				<div class="buttons-set" id="login-sign-in-button">
					<button type="submit" class="button-dark" title="Continue"><span><span>Continue</span></span></button>
				</div>
				
				<div class="clear"></div>
				
			</div>
		</div>
		
	</div>
</div>
<div class="checkout-step next">
	<h2 class="title"><span class="step-number">2.</span> Delivery Options</h2>
	<div class="content"></div>
</div>
<div class="checkout-step">
	<h2 class="title"><span class="step-number">3.</span> Payment &amp; Review</h2>
	<div class="content"></div>
</div>
<div class="checkout-step">
	<h2 class="title"><span class="step-number">4.</span> Receipt</h2>
	<div class="content"></div>
</div>

<script type="text/javascript">

	jQuery(document).ready(function($){
	
		$('.multiship-checkout .allocation-names > li').on('mouseenter', function(event){
			$(this).find('.rollover').fadeIn(50);
		});
		
		$('.multiship-checkout .allocation-names > li').on('mouseleave', function(event){
			$(this).find('.rollover').fadeOut(50);
		});
		
	});

</script>