<div class="opt-in-success">
    <div><?php echo $this->__('Thank you for joining fran\'s notes'); ?></div>
    <div><?php echo $this->__('We\'ll be in touch with our recent inspirations, new products and latest happenings.'); ?></div>
    <div><?php echo $this->__('Visit <a href="/customer/account">your account<a/> to see your subscription settings.'); ?></div>
</div>

<script type="text/javascript">
    jQuery('#create-account-wrapper').css('background-image','none');
</script>