<?php
    /* @var GoSolid_Frans_Block_Checkout_Payment $this */
    $showSavedCardOption = $this->isSavedCardOptionAvailable();
	$hideNewCardClass = $showSavedCardOption ? 'hide' : '';
    $_allowCardSave = $this->getQuote()->getCustomerId() > 0;
?>

<input type="hidden" name="payment[method]" value="stripe" />
<input type="hidden" name="payment[stripe_token]" />

<div class="form-row">
	<div class="col-xs-12">
		<h5 class="payment-header"><?php echo $this->__('Payment'); ?></h5>
	</div>
</div>

<?php if($this->getShowInvoice()): ?>
	<div class="form-row">
		<div class="col-xs-12">
			<label class="invoice-label">
				<input id="invoice-check" class="invoice" type="checkbox" name="invoice">
				<h5><?php echo $this->__("Pay By Invoice"); ?></h5>
				<p><?php echo $this->__("As a preferred business customer, you have the option to pay by invoice. Check the box above to place your order without a credit card and we will email you an invoice for your order."); ?></p>
			</label>
		</div>
	</div>
<?php endif; ?>

<div id="payment-wrapper">
	<div class="saved-credit-card-wrapper">
		<div id="cc-save-form">

			<?php if($showSavedCardOption): ?>
				<div class="form-row">
					<div class="payment-column-radio">
						<input type="radio" name="payment[use_saved_card]" id="payment_use_saved_card" value="1" checked="checked" />
					</div>
					<div class="payment-column-label">
						<label class="cc-radio" for="payment_use_saved_card">
							<?php echo $this->__('Use saved card:'); ?><br /><?php echo $this->getExistingCardMasked(); ?><br /><?php echo $this->__("Exp:") ?> <?php echo $this->getExistingCardExpDate(); ?>
						</label>
					</div>
				</div>
				<div class="form-row">
					<div class="payment-column-radio">
						<input type="radio" name="payment[use_saved_card]" id="payment_enter_new_card" value="0" />
					</div>
					<div class="payment-column-label">
						<label class="cc-radio" for="payment_enter_new_card">
							<?php echo $this->__('Enter new card:'); ?>
						</label>
					</div>
				</div>
			<?php endif; ?>

			<div class="form-row">
				<div class="col-xs-12">
					<ul class="card-types">
						<li class="icon visa"></li>
						<li class="icon amex"></li>
						<li class="icon mastercard"></li>
						<li class="icon discover"></li>
					</ul>
				</div>
			</div>

			<div class="cc-new" <?php if($showSavedCardOption): ?>style="display: none;"<?php endif; ?>>
				<div class="form-row">
					<div class="col-xs-7">
						<input placeholder="<?php echo $this->__("Card Number"); ?>" type="text" data-stripe="number" autocomplete="off" id="cc-number" name="cc-number" value="" title="<?php echo $this->__("Card Number"); ?>" maxlength="255" class="input-text required-entry validate-cc-number" />
					</div>
					<div class="col-xs-5">
						<input placeholder="<?php echo $this->__("CVN"); ?>" type="text" data-stripe="cvc" id="cc-cvn" autocomplete="off" name="cc-cvn" value="" title="<?php echo $this->__("CVN"); ?>" maxlength="20" class="input-text required-entry validate-cc-cvn help" data-content="#cvn-popup" data-help-tooltip="<?php echo $this->__('What\'s this?'); ?>" />
					</div>
				</div>

				<div class="form-row">
					<div class="expires-label col-xs-2">
						<?php echo $this->__('Expires'); ?>
					</div>
					<div class="col-xs-5">
						<select data-stripe="exp-month" id="cc-exp-month" name="cc-exp-month" class="required-entry">
							<option value="" selected disabled><?php echo $this->__("Month"); ?></option>
							<?php
								$i = 1;
								$month = strtotime('2011-01-01');
								while($i <= 12)
								{
									$month_name = date('F', $month);
									echo '<option value="'. ($i) . '">'.$month_name.'</option>';
									$month = strtotime('+1 month', $month);
									$i++;
								}
							?>
						</select>
					</div>
					<div class="col-xs-5">
						<select data-stripe="exp-year" id="cc-exp-year" name="cc-exp-year" class="required-entry">
							<option value=""  selected disabled><?php echo $this->__("Year");?></option>
							<?php
								for($i=0; $i<=11; $i++){
									$nextyear = date("Y", mktime(0, 0, 0, 1, 1, date("Y")+$i));
									echo '<option value="' . $nextyear . '">' . $nextyear . '</option>';
								}
							?>
						</select>
					</div>
				</div>
				<?php if($_allowCardSave): ?>
					<div class="form-row">
						<div class="col-xs-12">
							<label class="save-card">
								<input type="checkbox" name="payment[create_stripe_customer]" id="payment:create_stripe_customer" value="1" />
								<?php echo $this->__('Save card for future use'); ?>
							</label>
						</div>
					</div>
				<?php endif; ?>
			</div>
		</div>
		<div class="validation-advice" id="payment-error-message"></div>
	</div>
</div>
	<div id="giftcard-wrapper">
		<?php echo $this->getGiftcardHtml(); ?>
	</div>
</div>

<div id="cvn-popup" class="hide">
	<div class="cvn-popup-content">
		<div class="cvn-popup-image default">
			<span class="card-name"><?php echo $this->__('Discover, MasterCard, Visa'); ?></span>
			<span class="cvn-label"><?php echo $this->__('3-digit Card Verification Number'); ?></span>
		</div>
		<div class="cvn-popup-image amex">
			<span class="card-name"><?php echo $this->__('American Express'); ?></span>
			<span class="cvn-label"><?php echo $this->__('4-digit Card Verification Number'); ?></span>
		</div>
	</div>
</div>

<script type="text/javascript">
    //<![CDATA[

	    <?php if($showSavedCardOption): ?>
		    jQuery('#cc-save-form input[type=radio]').on('change', function(){
				jQuery(".cc-new").toggleClass('hide', (jQuery(this).val() == 1));
			    jQuery(".cc-new").toggle((jQuery(this).val() == 0));
		    });
	    <?php endif; ?>

		Stripe.setPublishableKey('<?php echo Mage::getModel('stripe/payment')->retrieveKey(true); ?>');
	    var ccForm = new VarienForm('payment-step', true);

    //]]>
</script>