<?php
/**
 * @var GoSolid_Frans_Block_Checkout_Standard $this
 */
?>
<?php
    $isVirtual = $this->getIsVirtual();
?>
<?php if($isVirtual): ?>
    <script type="text/javascript">
        jQuery(document).ready(function(){

            jQuery('.expander-toggle').attr('data-expander-duration', 0);
            jQuery('.expander-toggle').removeClass('scroll-on-open');
            setActiveStep(3);
            jQuery('.expander-toggle').addClass('toggle-disabled');
            jQuery("#ex-payment").addClass('content').addClass('checkout-payment');
        });
    </script>
<?php endif; ?>

<div class="cart">

	<h1 class="page-title"><?php echo $this->__('Checkout'); ?></h1>
	<?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>

	<?php if($this->showLoginSection()): ?>

	    <div id="login-section" class="frans-container">
		    <div id="login-wrapper">
			    <div class="login-or-guest">
				    <div class="row">
					    <div class="col-xs-12 col-sm-5">
		                    <?php echo $this->getChildHtml('customer.form.login_form'); ?>
		                </div>
					    <div class="col-xs-12 col-sm-2">
						    <div class="dynamic-or-divider"><?php echo $this->__('or'); ?></div>
					    </div>
					    <div class="col-xs-12 col-sm-5">
						    <div class="form-row">
							    <div class="col-xs-12">
	                                <h2 class="guest-continue-title"><?php echo $this->__('New Customer'); ?></h2>
							    </div>
						    </div>
						    <div class="form-row">
							    <div class="col-xs-12">
							        <p><?php echo $this->__('If desired, you will have the opportunity to create an account at the end of checkout.'); ?></p>
							    </div>
						    </div>
		                    <div class="form-row">
			                    <div class="col-xs-12">
		                            <button tabindex="3" type="submit" class="btn button-dark" id="use-guest-checkout" title="<?php echo $this->__('Continue as Guest'); ?>" name="send"><span><span><?php echo $this->__('Continue as Guest'); ?></span></span></button>
			                    </div>
		                    </div>
				        </div>
				    </div>
			    </div>
			    <div class="email-notice">
				    <div class="row">
					    <div class="col-xs-12 notice-to-new-customers">
					        <h2><?php echo $this->__('Notice to current customers'); ?></h2>
					        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('login-notice')->toHtml(); ?>
					    </div>
				    </div>
			    </div>
		    </div>
		</div>

	<?php endif; ?>

	<div id="checkout-section" <?php if($this->showLoginSection()): ?>style="display: none;"<?php endif; ?>>
		<div id="checkout-content">
			<div class="checkout-wrapper">

				<ul>
					<li class="checkout-step mobile-cart hidden-sm hidden-md hidden-lg">
						<span class="expander-toggle" data-expander-id="ex-items" data-expander-duration="250"><?php echo $this->__('Your Shopping Bag (%s)', $this->helper('checkout/cart')->getSummaryCount()); ?></span>
                        <ul class="expander checkout-step" id="ex-items">
                            <?php echo $this->getSummaryHtml() ?>
						</ul>
					</li>
					<li class="checkout-step">
						<span class="expander-toggle <?if(!$isVirtual): ?>expanded<? endif ?> keep-open scroll-on-open active" data-expander-id="ex-shipping" data-expander-group="checkout-steps" data-expander-sequence="1" data-expander-duration="250"><?php echo $this->__('1. Shipping Address'); ?></span>
						<div class="expander <?if(!$isVirtual): ?>expanded<? endif ?>" id="ex-shipping">
							<ul class="frans-tabs two">
								<li class="first active">
									<span><?php echo $this->__('Send to a single address'); ?></span>
								</li>
								<?php if($this->preventMultiship()): ?>
									<?php $warning = $this->__('Unfortunately, we are not able to ship to multiple addresses with virtual gift cards.'); ?>
									<li class="last disabled">
										<a href="javascript:alert('<?php echo $warning; ?>');"><?php echo $this->__('Send to multiple addresses'); ?></a>
									</li>
								<?php else: ?>
									<li class="last">
										<a href="<?php echo $this->getMultishipUrl(); ?>"><?php echo $this->__('Send to multiple addresses'); ?></a>
									</li>
                                 <? endif; ?>
							</ul>
							<div class="content checkout-shipping">
								<?php echo ($isVirtual == false) ? $this->getShippingHtml() : ''; ?>
							</div>
						</div>
					</li>
					<li class="checkout-step">
						<span class="expander-toggle keep-open toggle-disabled scroll-on-open  next" data-expander-id="ex-delivery" data-expander-group="checkout-steps" data-expander-sequence="2" data-expander-duration="250"><?php echo $this->__('2. Delivery Options'); ?></span>
						<div class="expander" id="ex-delivery">
							<div class="content checkout-delivery"></div>
						</div>
					</li>
					<li class="checkout-step">
						<span class="expander-toggle keep-open toggle-disabled scroll-on-open " data-expander-id="ex-payment" data-expander-group="checkout-steps" data-expander-sequence="3" data-expander-duration="250"><?php echo $this->__('3. Payment & Review'); ?></span>
						<div class="expander" id="ex-payment">
							<?php echo ($isVirtual == true)? $this->getPaymentStepHtml() : ''; ?>
							<div class="content checkout-payment"></div>
						</div>
					</li>

				</ul>

			</div>

		</div>

		<div id="checkout-sidebar" class="hidden-xs">
			<?php echo $this->getSummaryHtml(); ?>
		</div>

	</div>

	<script type="text/javascript">
	    jQuery(document).ready(function() {
	       baseUrl = '<?php echo $this->getUrl('frans/checkout'); ?>';
	    });
	</script>
</div>