<?php
/**
 * Checkout success page
 *
 * @var GoSolid_Frans_Block_Checkout_Success $this
 */

	$order = $this->getOrder();

	$customer = null;
	$email = null;


	if(Mage::getSingleton('customer/session')->isLoggedIn()){
		$customer = Mage::getSingleton('customer/session')->getCustomer();
		$email = $customer->getEmail();
	}
?>

 <iframe src="" id="print-container" style="border: 0; margin-left: -10000px; float: left;" width="1" height="1" border="0" seamless></iframe>

 <div class="checkout-success cart">

     <h1 class="page-title"><?php echo $this->__('Receipt'); ?></h1>

    <?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>

	<div class="frans-container">

		<div class="receipt">
			    <div id="create-account-wrapper" <?php if($this->showCreateAccount()): ?>class="guest"<?php endif; ?>>
					<div class="thanks">
						<h2 ><?php echo $this->__('Thank you for your order.'); ?></h2>
					</div>
					<?php if($this->showCreateAccount()): ?>
				    <div class="guest-account-form">
				        <form action="<?php echo $this->getUrl("*/*/createAccountPost") ?>" method="post" id="form-validate">
				            <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
				            <input type="hidden" name="order_id" value="<?php echo $this->getOrderId(); ?>" />
				            <div class="content">
				                <p class="guest-continue-title"><?php echo $this->__('Before you go, would you like to create an account?'); ?></p>

				                <div class="form-row">
			                        <div class="col-xs-12 col-md-12 receipt-registeremail">
	                                    <input tabindex="5" type="text" name="email" id="email_address" value="<?php echo $this->getOrderEmailAddress(); ?>" title="Email Address" class="input-text validate-email required-entry" placeholder="Email Address">
			                        </div>
				                </div>
					            <div class="form-row">
				                    <div class="col-xs-6 col-md-6 receipt-registerpass">
			                            <input type="password" name="password" data-tooltip-id="passrequirements" data-tooltip-position="bottom" id="password" class="input-text required-entry validate-password register-password autotooltip" title="<?php echo $this->__('Password'); ?>" placeholder="<?php echo $this->__('password'); ?>" />
			                        </div>
				                    <div class="col-xs-6 col-md-6">
			                            <input type="password" name="confirmation" id="confirmation" class="input-text required-entry validate-cpassword register-confirmpass" title="<?php echo $this->__('onfirm Password'); ?>" placeholder="<?php echo $this->__('confirm password'); ?>" />
			                        </div>
					            </div>
					            <div class="form-row">
						            <div class="col-xs-12 col-md-12">
				                        <label class="register-checkbox">
				                            <input tabindex="8" type="checkbox" name="is_subscribed" title="Sign Up for Newsletter" value="1" id="is_subscribed" class="checkbox" />
				                            <?php echo $this->__('Receive  Fran\'s communications'); ?>
				                        </label>
						            </div>
					            </div>
					            <div class="form-row">
						            <div class="col-xs-12 col-md-12">
				                        <label class="register-checkbox">
				                            <input tabindex="9" type="checkbox" name="business-account" class="business-account" />
				                            <?php echo $this->__('This is a business account'); ?>
				                        </label>
						            </div>
					            </div>
					            <div class="form-row business-name-wrapper hide">
				                    <div class="col-xs-12 col-md-6">
				                        <div class="input-box">
				                            <input tabindex="10" type="text" name="company_name" id="company_name" class="input-text company_name" title="<?php echo $this->__('Business Name'); ?>" placeholder="<?php echo $this->__('Business Name'); ?>"  />
				                        </div>
				                    </div>
				                </div>
					            <div class="form-row">
						            <div class="col-xs-6 col-md-6" id="register-button">
							            <button tabindex="11" type="submit" class="btn button-dark" id="create-account" title="<?php echo $this->__('Create Account'); ?>" name="send"><span><span><?php echo $this->__('Create Account'); ?></span></span></button>
						            </div>
					            </div>
				            </div>
				        </form>
				        <script type="text/javascript">
				            //<![CDATA[
				            var accountForm = new VarienForm('form-validate', false);
				            jQuery('#create-account').click(function( e ) {
				                e.preventDefault();

				                var $form = jQuery('#form-validate');

				                if (accountForm.validator.validate())
				                {
				                    makeAjaxRequest($form.prop('action'), $form.serialize(), function(response){
				                        if(response['status'] == 'success')
				                        {
				                            jQuery('#create-account-wrapper').html(response['html']);
				                        }
				                        else
				                        {
				                            //This may be needed again and should be centralized
				                            var $errorMessages  = '<ul class="messages"><li class="error-msg">'
				                                + '<ul><li><span>' + response['message'] +'</span></li></ul>' +
				                                '</li></ul>';

				                            jQuery('.page-title').after($errorMessages);
				                            initErrorMessages();
				                        }
				                    });
				                }
				            });
				            //]]>
				        </script>
				        <?php echo $this->getChildHtml('customer.form.businessaccounttoggle'); ?>
				        <?php echo $this->getChildHtml('customer.form.passrequirements'); ?>
				    </div>
					<?php elseif($customer->getSubscriptions() === null): ?>

						<div id="cust-order-success-opt-in-form">
							<form action="<?php echo $this->getUrl("*/*/optInEmailNewsletter"); ?>" method="post" id="form-validate">

								<input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
								<input type="hidden" name="order_id" value="<?php echo $this->getOrderId(); ?>" />

								<div class="content">
									<p><?php echo $this->__('Would you like to to receive Notes from Fran\'s?'); ?></p>
									<p><?php echo $this->__('Sweet surprises and delectable news — all for you.'); ?></p>
									<div >
										<input type="text" name="email" id="cust-opt-in-email" value="<?php echo $email; ?>" title="Email Address" readonly placeholder="<?php echo $email?>">
									</div>
									<div>
										<button type="submit" class="btn button-dark" id="cust-opt-in-email-button" title="<?php echo $this->__('Join'); ?>" name="send"><span><span><?php echo $this->__('Join'); ?></span></span></button>
									</div>
								</div>

							</form>
							<script type="text/javascript">
								//<![CDATA[
								var accountForm = new VarienForm('form-validate', false);
								jQuery('#cust-opt-in-email-button').click(function( e ) {
									e.preventDefault();

									var $form = jQuery('#form-validate');

									if (accountForm.validator.validate())
									{
										makeAjaxRequest($form.prop('action'), $form.serialize(), function(response){
											if(response['status'] == 'success')
											{
												jQuery('#create-account-wrapper').html(response['html']);
											}
											else
											{
												//This may be needed again and should be centralized
												var $errorMessages  = '<ul class="messages"><li class="error-msg">'
													+ '<ul><li><span>' + response['message'] +'</span></li></ul>' +
													'</li></ul>';

												jQuery('.page-title').after($errorMessages);
												initErrorMessages();
											}
										});
									}
								});
								//]]>
							</script>
						</div>

					<?php else: ?>
						<script type="text/javascript">
							jQuery('#create-account-wrapper').css('background-image', 'none');
						</script>
					<?php endif; ?>
			    </div>

			<div id="receipt-print-button" title="<?php echo $this->__('Print Receipt'); ?>" data-print-target="<?php echo $this->getUrl("sales/order/printorder/", array("order_id" => $order->getId())); ?>"><?php echo $this->__('Print Receipt'); ?></div>


			<?php echo $this->getReceiptDetailsHtml(); ?>

		</div>

	</div>

</div>