<?php
	/* @var GoSolid_Frans_Block_Checkout_Summary $this */
	/* @var GoSolid_Frans_Model_Sales_Quote $_quote; */
	/* @var Mage_Sales_Model_Quote_Address $_shippingAddress; */

	/*
		A lot of this code is modified from the cart item renderer code in this file:
		/app/design/frontend/frans/default/template/checkout/cart/item/default.phtml
	*/

	$_quote = $this->getQuote();
	if(!$this->getIsMultiship()){
		$_shippingAddress = $_quote->getShippingAddress();
	}
?>
<div class="order-summary">
    <h5><?php echo $this->__('Order Summary'); ?></h5>

	<?php if(!$this->getIsMultiship()): ?>
		<div class="order-summary-items">
	        <?php foreach ($_quote->getAllItems() as $_quoteItem): ?>

				<?php
					$_storeId = Mage::app()->getStore()->getId();
					$_product = $_quoteItem->getProduct();
		            $_colorTileValue = Mage::getResourceModel('catalog/product')->getAttributeRawValue($_product->getId(), 'color_tile', $_storeId);
		            $_colorTileLabel = null;
		            $_parentId = $_quoteItem->getConfigurableProductId();
		            if($_parentId && !empty($_colorTileValue)){
						$_colorTileLabel = $_product->setColorTile($_colorTileValue)->getAttributeText('color_tile');
		            }
				?>

	            <div class="row">

		            <div class="col-item">
			            <div class="item-thumbnail">
				            <?php /* THUMBNAILS ARE 70PX WIDE IN THIS LOCATION */ ?>
				            <?php $_imageUrl = Mage::helper('frans/image')->getImageResizedByProduct($_product, 'thumbnail', 70); ?>
				            <img src="<?php echo $_imageUrl; ?>" alt="<?php echo $this->htmlEscape($this->getProductName()); ?>" />
			            </div>
			            <div class="item-details">
				            <?php if($_colorTileLabel): ?>
					            <span class="item-color-tile"><?php echo $_colorTileLabel; ?></span>
				            <?php endif; ?>
				            <?php echo $this->htmlEscape($_quoteItem->getName()); ?>
			            </div>
		            </div>

		            <div class="col-total-qty">

			            <div class="price-wrapper">
				            <?php if(Mage::helper('weee')->typeOfDisplay($_quoteItem, array(1, 4), 'sales') && $_quoteItem->getWeeeTaxAppliedAmount()): ?>
				            <span class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?php echo $_quoteItem->getId(); ?>', this, 'cart-tax-total-expanded');">
		                    <?php else: ?>
					            <span class="cart-price">
		                    <?php endif; ?>
					            <?php if($canApplyMsrp): ?>
						            <span class="cart-msrp-subtotal">--</span>
					            <?php else: ?>
						            <?php if(Mage::helper('weee')->typeOfDisplay($_quoteItem, array(0, 1, 4), 'sales') && $_quoteItem->getWeeeTaxAppliedAmount()): ?>
							            <?php echo $this->helper('checkout')->formatPrice($_quoteItem->getRowTotal()+$_quoteItem->getWeeeTaxAppliedRowAmount()+$_quoteItem->getWeeeTaxRowDisposition()); ?>
						            <?php else: ?>
							            <?php echo $this->helper('checkout')->formatPrice($_quoteItem->getRowTotal()); ?>
						            <?php endif; ?>
					            <?php endif; ?>
		                    </span>

				            <?php if(Mage::helper('weee')->getApplied($_quoteItem)): ?>

					            <div class="cart-tax-info" id="esubtotal-item-tax-details<?php echo $_quoteItem->getId(); ?>" style="display:none;">
						            <?php if(Mage::helper('weee')->typeOfDisplay($_quoteItem, 1, 'sales') && $_quoteItem->getWeeeTaxAppliedAmount()): ?>
							            <?php foreach (Mage::helper('weee')->getApplied($_quoteItem) as $tax): ?>
								            <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'],true,true); ?></span>
							            <?php endforeach; ?>
						            <?php elseif(Mage::helper('weee')->typeOfDisplay($_quoteItem, 2, 'sales') && $_quoteItem->getWeeeTaxAppliedAmount()): ?>
							            <?php foreach(Mage::helper('weee')->getApplied($_quoteItem) as $tax): ?>
								            <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span>
							            <?php endforeach; ?>
						            <?php elseif(Mage::helper('weee')->typeOfDisplay($_quoteItem, 4, 'sales') && $_quoteItem->getWeeeTaxAppliedAmount()): ?>
							            <?php foreach(Mage::helper('weee')->getApplied($_quoteItem) as $tax): ?>
								            <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span>
							            <?php endforeach; ?>
						            <?php endif; ?>
					            </div>

	                        <?php if(Mage::helper('weee')->typeOfDisplay($_quoteItem, 2, 'sales') && $_quoteItem->getWeeeTaxAppliedAmount()): ?>
					            <div class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?php echo $_quoteItem->getId(); ?>', this, 'cart-tax-total-expanded');">
						            <span class="weee"><?php echo Mage::helper('weee')->__('Total'); ?>: <?php echo $this->helper('checkout')->formatPrice($_quoteItem->getRowTotal()+$_quoteItem->getWeeeTaxAppliedRowAmount()+$_quoteItem->getWeeeTaxRowDisposition()); ?></span>
					            </div>
				            <?php endif; ?>

				            <?php endif; ?>
			            </div>

			            <div class="qty">
			               <?php echo $this->__('Qty'); ?>  <span><?php echo $_quoteItem->getQty(); ?></span>
			            </div>

		            </div>

	            </div>

	        <?php endforeach; ?>

		</div>
	<?php endif; ?>

	<?php if($this->getShowShipping() || $this->getShowDelivery()): ?>
		<div class="order-summary-inset">

			<?php if($this->getShowShipping()): ?>
				<?php echo $this->getShipmentListHtml(); ?>
			<?php endif; ?>

			<?php if($this->getShowDelivery()): ?>
				<?php echo $this->getDeliverySummaryHtml(); ?>
			<?php endif; ?>

			<div class="order-summary-messages">
				<?php if($this->getShowDelivery() && $_shippingAddress): ?>
					<?php if($_shippingAddress->getGiftMessage()): ?>
						<div class="single-message">
							<h5 class="message-header"><?php echo $this->__('Gift Message'); ?></h5>
							<a href="#" class="edit-link" data-destination-step="2"><?php echo $this->__('Edit'); ?></a>
							<div class="clearfix"></div>
							<?php echo $this->getTruncatedMessageHtml($_shippingAddress->getGiftMessage(), $this->__('View message')); ?>
						</div>
					<?php endif; ?>

					<?php if($_shippingAddress->getSpecialInstructions()): ?>
						<div class="single-message">
							<h5 class="message-header"><?php echo $this->__('Special Instructions'); ?></h5>
							<a href="#" class="edit-link" data-destination-step="2"><?php echo $this->__('Edit'); ?></a>
							<div class="clearfix"></div>
							<?php echo $this->getTruncatedMessageHtml($_shippingAddress->getSpecialInstructions(), $this->__('View instructions')); ?>
						</div>
					<?php endif; ?>
				<?php endif; ?>
			</div>

		</div>
	<?php endif; ?>

	<div class="order-summary-totals">
		<div class="row">

			<div class="<?php echo $this->getIsMultiship() ? 'col-xs-4' : 'col-xs-4 col-sm-12 col-md-4'; ?>"></div>
			<div class="<?php echo $this->getIsMultiship() ? 'col-xs-8' : 'col-xs-8 col-sm-12 col-md-8'; ?>">
				<ul class="line-items">
					<li class="subtotal">
						<?php echo $this->__('Subtotal'); ?>
						<span class="value"><?php echo $this->helper('core')->formatPrice($_quote->getSubtotal(), false); ?></span>
					</li>
					<?php if($discountAmount = $this->getDiscountAmount()): ?>
						<?php // TODO: add discount item ?>
						<li class="discount">
							<?php echo $this->getDiscountDescription(); ?>
							<span class="value"><?php echo $this->helper('core')->formatPrice($discountAmount, false); ?></span>
						</li>
					<?php endif; ?>
					<li class="shipping">
						<?php echo $this->__('Shipping'); ?>
						<span class="value"><?php echo $this->getShippingTotal(); ?></span>
					</li>
					<?php if($giftcardAmount = $_quote->getGiftcardAmount()): ?>
						<li class="gift-card">
							<?php echo $this->__('Gift Card'); ?>
							<span class="value"><?php echo '-' . $this->helper('core')->formatPrice($giftcardAmount, false); ?></span>
						</li>
					<?php endif; ?>
					<li class="grand-total">
						<?php echo $this->__('Order Total'); ?>
						<span class="value"><?php echo $this->helper('core')->formatPrice($_quote->getGrandTotal(), false); ?></span>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>