<?php
	// get an array of all years we have articles for
	$articleYears = $this->getArticleYears();
?>

<ul class="articles-list">

	<?php foreach($articleYears as $articleYear): ?>

		<li class="year"><h3><?php echo $articleYear; ?></h3></li>
		<li class="year-articles">
			<ul class="articles">

				<?php $currentYearArticles = $this->getArticlesByYear($articleYear); ?>
				<?php foreach($currentYearArticles as $article): ?>

					<li class="article">
						<h4 class="article-title">
							<?php echo $article->getUrl() ? $this->buildArticleLink($article->getTitle(), $article) : $article->getTitle(); ?>
						</h4>
						<span class="article-citation">
							<span class="article-publication"><?php echo $article->getSubTitle(); ?></span>
							<span class="article-date"><?php echo date('F Y', strtotime($article->getDate()));?></span>
						</span>
						<p class="article-content">
							<?php echo $article->getDescription(); ?>
						</p>
						<?php if($article->getUrl()): ?>
							<span class="article-morelink">
								<?php echo $this->__('Read more at:'); ?> <?php echo $this->buildArticleLink($article->getLinkDomain(), $article); ?>
							</span>
						<?php endif; ?>
					</li>

				<?php endforeach; ?>

			</ul>
		</li>

	<?php endforeach;?>

</ul>