<?php
/**
 * Created by goSolid.
 */
$address = $this->getAddress();
?>
<span class="name"><?php echo $address->getName(); ?></span>
<span><? echo $address->getStreet1(); ?></span>
<? if ($street2 = $address->getStreet2()): ?>
    <span><? echo $street2; ?></span>
<? endif; ?>
<span><?php echo $address->getCity() . ', ' . $address->getRegionCode() . ' ' . $address->getPostcode(); ?></span>
<span><?php echo $address->getCountryId(); ?></span>
<span><?php echo $address->getTelephone(); ?></span>
