<?php
/**
 * Print View PHTML
 */
?>
<?php /* @var $this GoSolid_Frans_Block_Adminhtml_Sales_Order_Create_Print */ ?>
<?php $billingAddress = $this->getQuote()->getBillingAddress();  ?>
<div id="quotePrint">
    <div class="a-center">
        <img src="<?php echo $this->getSkinUrl('images/frans-chocolates-logo.png'); ?>" width="100" height="58" alt="Fran's Chocolates"  /><br />
    </div>

    <div class="quote-header-row">
        <div class="a-left quote-number"><?php echo $this->__('QUOTE NO. %s', $this->getQuote()->getId()); ?></div>
        <div class="a-center hr-line"><hr></div>
        <div class="a-right quote-date"><span class="bold"><?php echo $this->__('Date: '); ?></span> <?php echo $this->formatDate($this->getQuote()->getUpdatedAt(), 'short'); ?></div>
    </div>
    <table class="print-header">
        <tr class="quote-buyer-info">
            <td colspan="1" class="a-left quote-billing">
                <ul>
                    <li><span class="bold"><?php echo $this->getCustomer()->getName(); ?></span></li>
                    <li><?php echo $this->getCustomer()->getCompanyName(); ?></li>
                    <li><?php echo $billingAddress->getStreet1(); ?><?php if ($street2 = $billingAddress->getStreet2()): ?><?php echo ' ' . $street2; ?><?php endif; ?></li>
                    <li><?php echo $billingAddress->getCity(); ?>, <?php echo $billingAddress->getRegionCode(); ?> <?php echo $billingAddress->getPostcode(); ?>, <?php echo Mage::getModel('directory/country')->loadByCode($billingAddress->getCountryId())->getName(); ?></li>
                    <li><?php echo $billingAddress->getTelephone(); ?></li>
                    <li class="grey"><span ><?php echo $this->getCustomer()->getEmail(); ?></span></li>
                </ul>
            </td>
            <td colspan="2" class="a-right quote-store-info">
                <ul>
                    <li><span class="bold"> <?php echo $this->__('Fran\'s Chocolates'); ?></span></li>
                    <li><?php echo Mage::getStoreConfig('general/store_information/tollfree_number'); ?></li>
                    <li><?php echo Mage::getStoreConfig('general/store_information/weekday_hours'); ?></li>
                    <li> <?php echo Mage::getStoreConfig('general/store_information/weekend_hours'); ?></li>
                    <li class="grey"><span ><?php echo $this->__('hours are in Pacific Time'); ?><br /></span></li>
                    <li class="grey"><span ><?php echo $this->cleanBaseUrl(Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB));?></span></li>
                </ul>
            </td>
        </tr>
    </table>

    <?php $_items = $this->getQuote()->getAllVisibleItems(); ?>
    <?php $_itemsCount = count($_items); ?>
    <?php $_generalShipments = $this->getShipments(); ?>
    <?php
    $_addresses = array();
    foreach($_generalShipments as $generalShipment) {
        if($generalShipment->getAllItems() > 0){
            array_push($_addresses, $generalShipment);
        }
    }
    ?>
    <?php
    $_addressesShippingTotal = array();
    foreach ($_addresses as $_address){
        array_push($_addressesShippingTotal, $_address->getShippingAmount());
    }
    $_addressesShippingTotal = array_sum($_addressesShippingTotal);
    ?>
    <?php $_quote = $this->getQuote();?>
    <?php $_totalProducts = 0;?>

    <?php if(count($_addresses) > 1):?>
    <div class="grid" id="order-summary-grid">
        <h4 class="section-title a-left"><?php echo strtoupper($this->__('Order Summary')); ?></h4>
        <table cellspacing="0" class="order-summary">
            <col />
            <col />
            <col />
            <col width="40"  />
            <col width="40" />
            <col width="50" />
            <thead>
            <tr class="headings first">
                <th class="no-link"><?php echo strtoupper($this->__('Item'));  ?></th>
                <th class="no-link a-right"><?php echo strtoupper($this->__('Price')); ?></th>
                <th class="no-link a-right"><?php echo strtoupper($this->__('Qty')); ?></th>
                <th class="no-link a-right"><?php echo strtoupper($this->__('Subtotal')); ?></th>
                <th class="no-link a-right"><?php echo strtoupper($this->__('Discount')); ?></th>
                <th class="no-link a-right"><?php echo strtoupper($this->__('Total')); ?></th>
            </tr>
            </thead>
            <?php
            $_totalProduct = 0;
            $_overallTotalSubtotal = 0;
            $_overallTotalDiscount = 0;

            foreach ($_quote->getAllItems() as $_item):
                $itemId = $_item->getProductId();
                $_totalQty = 0;
                $_shipmentItemPrice = 0;
                $_shipmentItemDiscount = 0;
                $_totalDiscount = 0;
                ?>
                <?php  /** @var GoSolid_Frans_Model_Sales_Quote_Address $_address */
                foreach ($_addresses as $_address): ?>
                    <?php foreach ($_address->getAllItems() as $_shipmentItem): ?>
                        <?php
                        if($_shipmentItem->getProductId() == $itemId){
                            $_totalQty = $_totalQty + $_shipmentItem->getQty();
                            $_shipmentItemPrice = $_shipmentItem->getPrice();

                            $_shipmentItemDiscount = $_shipmentItem->getDiscountAmount() / $_shipmentItem->getQty();

                        }
                        ?>
                    <?php endforeach; ?>
                <?php endforeach; ?>
                <?php
                $_totalSubtotal = $_shipmentItemPrice * $_totalQty;
                $_totalDiscount = $_shipmentItemDiscount * $_totalQty;
                $_storeId = Mage::app()->getStore()->getId();
                $_product = Mage::getModel('catalog/product')->load($_item->getProductId());
                $_colorTileValue = Mage::getResourceModel('catalog/product')->getAttributeRawValue($_product->getId(), 'color_tile', $_storeId);
                $_colorTileLabel = null;
                if(!empty($_colorTileValue)){
                    $_colorTileLabel = $_product->setColorTile($_colorTileValue)->getAttributeText('color_tile');
                }
                ?>
                <tr class = "order-summary-item">
                    <td class="col-item">
                        <div class="item-details">
                            <span class="item-name"><?php echo strtoupper($_item->getName()); ?></span><br />
                            <?php if($_colorTileLabel): ?>
                                <span class="item-color-tile"><?php echo strtoupper($_colorTileLabel); ?></span>
                            <?php endif; ?>
                        </div>
                        <?php if($smallImage = Mage::helper('frans/image')->getImageResizedByProduct($_product, 'thumbnail', 150)):?>
                            <div class="item-thumbnail">
                                <img src="<?php echo $smallImage; ?>" alt="<?php echo $_item->getName(); ?>">
                            </div>
                        <?php endif; ?>
                    </td>
                    <td class="col-price">
                        <span class="item-price"><?php echo Mage::helper('core')->currency($_item->getPrice(), true, false); ?></span>
                    </td>
                    <td class="col-qty">
                        <span class="item-qty"><?php echo max(0, $_totalQty); ?></span>
                    </td>
                    <td class="col-subtotal">
                        <span class="item-subtotal"><?php echo Mage::helper('core')->currency($_totalSubtotal, true, false);?></span>
                    </td>
                    <td class="col-discount">
                        <span class="item-discount"><?php echo '- ' . Mage::helper('core')->currency($_totalDiscount, true, false); ?></span>
                    </td>
                    <td class="col-total">
                        <span class="item-grand-total"><?php echo Mage::helper('core')->currency($_totalSubtotal - $_totalDiscount, true, false);?></span>
                    </td>

                </tr>
                <?php $_totalProduct = $_totalProduct + $_totalQty; ?>
                <?php $_overallTotalSubtotal = $_overallTotalSubtotal + $_totalSubtotal; ?>
                <?php $_overallTotalDiscount = $_overallTotalDiscount + $_totalDiscount; ?>

            <?php endforeach; ?>
                <tr class = 'order-summary-subtotal-row'>
                    <td class="bold">
                        <span><?php echo $_totalProduct . ' ' . $this->__('product(s) total'); ?></span>
                    </td>
                    <td></td>
                    <td class="bold"><span><?php echo $this->__('Subtotal');  ?></span></td>
                    <td class="bold"><span><?php echo Mage::helper('core')->currency($_overallTotalSubtotal, true, false);?></span></td>
                    <td class="bold"><span><?php echo '-' . Mage::helper('core')->currency($_overallTotalDiscount, true, false);?></span></td>
                    <td class="bold"><span><?php echo Mage::helper('core')->currency($_overallTotalSubtotal - $_overallTotalDiscount, true, false);?></span></td>
                </tr>
        </table>
        <table class="total-table overall">
            <col />
            <col />
            <col />
            <col width="150"/>
            <col width="50"/>
            <?php if(round($_quote->getItemsQty()) > 1): ?>
            <tr class = "order-total-row">
                <td></td>
                <td class="bold"><span><?php echo strtoupper($this->__('Quote'));  ?></span></td>
                <td></td>
                <td ><span><?php echo $this->__('Products (' . $_totalProduct . ' items)');  ?></span></td>
                <td class="bold"><span><?php echo Mage::helper('core')->currency($_quote->getSubtotal(), true, false);  ?></span></td>
            </tr>
            <?php else: ?>
                <tr class="order-total-row">
                    <td></td>
                    <td class="bold"><span><?php echo strtoupper($this->__('Quote'));  ?></span></td>
                    <td></td>
                    <td ><span><?php echo $this->__('Product (' . $_totalProduct . ' item)');  ?></span></td>
                    <td class="bold"><span><?php echo Mage::helper('core')->currency($_quote->getSubtotal(), true, false);   ?></span></td>
                </tr>
            <?php endif; ?>

            <?php if($_overallTotalDiscount): ?>
                <?php
                $ruleIds = explode(',', $_quote->getAppliedRuleIds());
                $discountLabels = array();
                foreach ($ruleIds as $ruleId)
                {
                    $rule = Mage::getModel('salesrule/rule')->load($ruleId);
                    $label = $rule->getStoreLabel();
                    if (empty($label))
                    {
                        $label = $this->__('Discount');
                    }
                    $discountLabels[] = $label;
                }
                $discountLabel = implode(',', $discountLabels);
                ?>
                <tr class="order-total-row">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span><?php echo $discountLabel;  ?></span></td>
                    <td class="bold" ><span><?php echo '-' . Mage::helper('core')->currency($_overallTotalDiscount, true, false);  ?></span></td>
                </tr>
            <?php endif; ?>
            <?php if($_addressesShippingTotal): ?>
                <tr class="order-total-row">
                    <td></td>
                    <td></td>
                    <td></td>
                    <?php if(count($_addresses) != 1):?>
                        <td><span><?php echo $this->__('Shipping') . ' (' . count($_addresses) . ' shipments)';  ?></span></td>
                    <?php else: ?>
                        <td><span><?php echo $this->__('Shipping') . ' (' . count($_addresses) . ' shipment)';  ?></span></td>
                    <?php endif; ?>
                    <td class="bold"><span><?php echo Mage::helper('core')->currency($_addressesShippingTotal, true, false);  ?></span></td>
                </tr>
            <?php endif; ?>
            <?php if($shipmentTotal = $_quote->getGrandTotal()): ?>
                <tr class="order-total-row last">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class = "bold"><span><?php echo $this->__('Grand Total');  ?></td>
                    <td class = "bold"><span><?php echo Mage::helper('core')->currency(($_overallTotalSubtotal - $_overallTotalDiscount) + $_addressesShippingTotal, true, false);  ?></span></td>
                </tr>
            <?php endif; ?>
        </table>
        <?php endif; ?>

        <div class="grid" id="order-shipments-grid">
            <h4 class="section-title a-left"><?php echo strtoupper($this->__('Shipment Details')); ?></h4>
            <?php $i=0 ?>
            <?php
            /** @var GoSolid_Frans_Model_Sales_Quote_Address $_address */
            foreach ($_addresses as $_address):$i++ ?>
                <?php echo ($i > 1) ? '<p class="print-page-break"></p>' : '';?>
                <table cellspacing="0" class="data order-tables">
                    <col />
                    <col />
                    <col />
                    <col width="40"  />
                    <col width="40" />
                    <col width="50" />
                    <thead>
                    <tr class="headings <?php if($i == 1):?>first<?php endif;?>">
                        <th class="no-link"><?php echo strtoupper($this->__('Shipping Address'));  ?></th>
                        <th class="no-link"><?php echo strtoupper($this->__('Item')); ?></th>
                        <th class="no-link a-right"><?php echo strtoupper($this->__('Price')); ?></th>
                        <th class="no-link a-right"><?php echo strtoupper($this->__('Qty')); ?></th>
                        <th class="no-link a-right"><?php echo strtoupper($this->__('Discount')); ?></th>
                        <th class="no-link a-right"><?php echo strtoupper($this->__('Ship Method')); ?></th>
                    </tr>
                    </thead>
                    <tr class="shipment-number">
                        <td>
                            <span><?php echo $this->__('Shipment ' . $i . ' of ' . count($_addresses)); ?></span>
                        </td>
                    </tr>
                    <td class="col-shipping-address" rowspan="<?php echo $_itemsCount + 2; ?>">
                        <ul>
                            <li class="bold"><?php echo $_address->getFirstname() . ' ' . $_address->getLastname();?></li>
                            <?php if($company = $_address->getCompany()): ?>
                                <li><?php echo $company; ?></li>
                            <?php endif;?>
                            <li><?php echo $_address->getStreet()[0]; ?></li>
                            <?php if($_address->getStreet()[1]):?>
                                <li><?php echo $_address->getStreet()[1]; ?></li>
                            <?php endif; ?>
                            <li><?php echo $_address->getCity() . ', ' . $_address->getRegionCode() . ' ' . $_address->getPostcode();?></li>
                            <li><?php echo Mage::getModel('directory/country')->loadByCode($_address->getCountryId())->getName(); ?></li>
                            <li><?php echo $_address->getTelephone(); ?></li>
                        </ul>
                    </td>
                    <?php  $_shipMethodCounter = 0; ?>
                    <?php  $_itemCounter = 0; ?>
                    <?php foreach ($_address->getAllItems() as $_item):
                        $_storeId = Mage::app()->getStore()->getId();
                        $_product = Mage::getModel('catalog/product')->load($_item->getProductId());
                        $_colorTileValue = Mage::getResourceModel('catalog/product')->getAttributeRawValue($_product->getId(), 'color_tile', $_storeId);
                        $_colorTileLabel = null;
                        $_itemCounter = $_itemCounter + round(max(0, $_item->getQty()));

                        if(!empty($_colorTileValue)){
                            $_colorTileLabel = $_product->setColorTile($_colorTileValue)->getAttributeText('color_tile');
                        }
                        ?>
                        <tr <?php if($_shipMethodCounter === 0):?> class="first-row" <?php endif; ?>>
                            <td class="col-item">
                                <div class="item-details">
                                    <span class="item-name"><?php echo strtoupper($_item->getName()); ?></span><br />
                                    <?php if($_colorTileLabel): ?>
                                        <span class="item-color-tile"><?php echo strtoupper($_colorTileLabel); ?></span>
                                    <?php endif; ?>
                                </div>
                                <?php if($smallImage = Mage::helper('frans/image')->getImageResizedByProduct($_product, 'thumbnail', 150)):?>
                                    <div class="item-thumbnail">
                                        <img src="<?php echo $smallImage; ?>" alt="<?php echo $_item->getName(); ?>">
                                    </div>
                                <?php endif; ?>
                            </td>
                            <td class="col-price">
                                <span class="item-price"><?php echo Mage::helper('core')->currency($_item->getPrice(), true, false); ?></span>
                            </td>
                            <td class="col-qty">
                                <span class="item-qty"><?php echo round(max(0, $_item->getQty())); ?></span>
                            </td>
                            <td class="col-discount">
                                <span class="item-discount"><?php echo '- ' . Mage::helper('core')->currency($_item->getDiscountAmount(), true, false); ?></span>
                            </td>
                            <?php if($_shipMethodCounter === 0): ?>
                                <td class="col-method" rowspan="<?php echo $_itemsCount + 2; ?>">
                                    <?php if ($_rate = $this->getActiveMethodRate($_address)):  ?>
                                        <!--                                <strong>--><?php //echo $this->escapeHtml($this->getCarrierName($_rate->getCarrier())) ?><!--</strong><br/>-->
                                        <?php echo $this->escapeHtml($_rate->getMethodTitle() ? $_rate->getMethodTitle() : $_rate->getMethodDescription()) ?>
                                            <?php $_excl = $this->getShippingPrice($_address, $_address->getBaseShippingAmount(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                                            <?php $_incl = $this->getShippingPrice($_address, $_address->getBaseShippingAmount(), true); ?>

                                            <?php echo '(' . $_excl . ')'; ?>
                                            <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                                (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                                            <?php endif; ?>
                                        <br/>
                                        <!--                                <strong>--><?php //echo $this->__('Preferred Arrival Date:'); ?><!--</strong><br />-->
                                        <!--                                --><?php //echo $this->getPreferredArrivalDate($_address, true); ?>
                                    <?php else: ?>
                                        <?php echo $this->__('No shipping method selected.'); ?>
                                    <?php endif; ?>
                                </td>
                                <?php $_shipMethodCounter = 1; ?>
                            <?php endif; ?>
                        </tr>
                    <?php endforeach; ?>
                    <tr class="quote-messages">
                        <td colspan = "5" >
                            <?php if ($giftMessage = $_address->getGiftMessage()): ?>
                                <p><strong>Gift Message</strong><br/><span class="message-body"><?php echo $giftMessage; ?></span></p>
                            <?php endif; ?>
                            <?php if ($specialInstructions = $_address->getSpecialInstructions()): ?>
                                <p><strong>Special Instructions</strong><br/><span class="message-body"><?php echo $specialInstructions; ?></span></p>
                            <?php endif; ?>
                        </td>
                    </tr>
                    <tr>
                        <td class = "total-cell" colspan="7">
                            <table class="total-table">
                                <?php if($_itemCounter > 1): ?>
                                    <tr class="shipment-subtotal-row">
                                        <td><?php echo $this->__('Products (' . $_itemCounter . ' items)');  ?></td>
                                        <td><?php echo Mage::helper('core')->currency($_address->getSubtotal(), true, false);  ?></td>
                                    </tr>
                                <?php else: ?>
                                    <tr class="shipment-subtotal-row">
                                        <td><?php echo $this->__('Product (' . $_itemCounter . ' item)');  ?></td>
                                        <td><?php echo Mage::helper('core')->currency($_address->getSubtotal(), true, false);   ?></td>
                                    </tr>
                                <?php endif; ?>
                                <?php if (($discountAmount = $_address->getDiscountAmount()) && abs($discountAmount) != 0): ?>
                                    <?php
                                    $ruleIds = explode(',', $_address->getQuote()->getAppliedRuleIds());
                                    $discountLabels = array();
                                    foreach ($ruleIds as $ruleId)
                                    {
                                        $rule = Mage::getModel('salesrule/rule')->load($ruleId);
                                        $label = $rule->getStoreLabel();

                                        if (empty($label))
                                        {
                                            $label = $this->__('Discount');
                                        }
                                        $discountLabels[] = $label;
                                    }

                                    $discountLabel = implode(',', $discountLabels);
                                    ?>
                                <?php endif; ?>
                                <?php if($discountAmount != 0): ?>
                                    <tr class="shipment-subtotal-row">
                                        <td><?php echo $discountLabel;  ?></td>
                                        <td><?php echo Mage::helper('core')->currency($discountAmount, true, false);  ?></td>
                                    </tr>
                                <?php endif; ?>
                                <?php if($shippingAmount = $_address->getShippingAmount()): ?>
                                    <tr class="shipment-subtotal-row">
                                        <td><?php echo $this->__('Shipping');  ?></td>
                                        <td><?php echo Mage::helper('core')->currency($shippingAmount, true, false);  ?></td>
                                    </tr>
                                <?php endif; ?>
                                <?php if($shipmentTotal = $_address->getGrandTotal()): ?>
                                    <tr class="shipment-subtotal-row bold">
                                        <td><?php echo $this->__('Shipment Total');  ?></td>
                                        <td><?php echo Mage::helper('core')->currency($shipmentTotal, true, false);  ?></td>
                                    </tr>
                                <?php endif; ?>
                            </table>
                        </td>
                    </tr>
                </table>
            <?php endforeach; ?>
            <?php if(count($_addresses) == 1):?>
                <table class="total-table overall">
                    <col />
                    <col />
                    <col />
                    <col width="150"/>
                    <col width="50"/>
                    <?php if(round($_quote->getItemsQty()) > 1): ?>
                    <tr class = "order-total-row">
                        <td class="bold">
                            <?php echo count($_addresses) . ' ' . $this->__('shipment(s) total'); ?>
                        </td>
                        <td></td>
                        <td class="bold"><?php echo strtoupper($this->__('Quote'));  ?></td>
                        <td ><?php echo $this->__('Products (' . round($_quote->getItemsQty()) . ' items)');  ?></td>
                        <td ><?php echo Mage::helper('core')->currency($_quote->getSubtotal(), true, false);  ?></td>
                    </tr>
                    <?php else: ?>
                        <tr class="order-total-row">
                            <td  class="bold">
                                <?php echo count($_addresses) . ' ' . $this->__('shipment(s) total'); ?>
                            </td>
                            <td></td>
                            <td class="bold"><?php echo $this->__('Quote');  ?></td>
                            <td><?php echo $this->__('Product (' .count($_items) . ' item)');  ?></td>
                            <td><?php echo Mage::helper('core')->currency($_quote->getSubtotal(), true, false);   ?></td>
                        </tr>
                    <?php endif; ?>
                    <?php if (($discountAmount = $_quote->getSubtotal() - $_quote->getSubtotalWithDiscount()) && abs($discountAmount) != 0): ?>
                        <?php
                        $ruleIds = explode(',', $_address->getQuote()->getAppliedRuleIds());
                        $discountLabels = array();
                        foreach ($ruleIds as $ruleId)
                        {
                            $rule = Mage::getModel('salesrule/rule')->load($ruleId);
                            $label = $rule->getStoreLabel();
                            if (empty($label))
                            {
                                $label = $this->__('Discount');
                            }
                            $discountLabels[] = $label;
                        }
                        $discountLabel = implode(',', $discountLabels);
                        ?>
                    <?php endif; ?>
                    <?php if($discountAmount): ?>
                        <tr class="order-total-row">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><?php echo $discountLabel;  ?></td>
                            <td><?php echo '-' . Mage::helper('core')->currency($discountAmount, true, false);  ?></td>
                        </tr>
                    <?php endif; ?>
                    <?php if($_addressesShippingTotal): ?>
                        <tr class="order-total-row">
                            <td></td>
                            <td></td>
                            <td></td>
                            <?php if(count($_addresses) != 1):?>
                                <td><?php echo $this->__('Shipping') . ' (' . count($_addresses) . ' shipments)';  ?></td>
                            <?php else: ?>
                                <td><?php echo $this->__('Shipping') . ' (' . count($_addresses) . ' shipment)';  ?></td>
                            <?php endif; ?>
                            <td><?php echo Mage::helper('core')->currency($_addressesShippingTotal, true, false);  ?></td>
                        </tr>
                    <?php endif; ?>
                    <?php if($shipmentTotal = $_quote->getGrandTotal()): ?>
                        <tr class="order-total-row">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class = "bold"><?php echo $this->__('Grand Total');  ?></td>
                            <td class = "bold"><?php echo Mage::helper('core')->currency($shipmentTotal, true, false);  ?></td>
                        </tr>
                    <?php endif; ?>
                </table>
            <?php else: ?>
                <table class="total-table overall">
                    <col />
                    <col />
                    <col />
                    <col width="150"/>
                    <col width="50"/>
                    <tr class = "order-total-row">
                        <td class="bold">
                            <?php echo count($_addresses) . ' ' . $this->__('shipment(s) total'); ?>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            <?php endif;?>
        </div>
    </div>

    <script type='text/javascript'>
        <!--
        // Cross-browser solution for printing hidden iframe, tested in Chrome, FF, IE, Safari, and Opera; Mac and Windows
        window.onload = function() {
            /*
             if(!document.execCommand('print', false, null)){
             window.parent.frames['print-container'].print();
             }*/
            var targetFrame = window.parent.document.getElementById('print-container');
            // have to focus or else print does entire window in IE
            if(navigator.userAgent.indexOf("MSIE") > 0){
                targetFrame.contentWindow.focus();
            }
            targetFrame.contentWindow.print();
        }
        //-->
    </script>