<?php

?>
<?php /* @var $this GoSolid_Frans_Block_Adminhtml_Sales_Order_Create_Save */ ?>
<div class="fieldset">
    <? if ($this->getCustomerId()): ?>
        <p><? echo $this->__('Note that payment information is <strong>*not*</strong> required to save a quote. Any payment information will be discarded when the quote is saved.'); ?></p>
        <p class="a-right">
            <?php echo $this->getButtonHtml($this->__('Save and Print'), "order.saveAndPrintQuote()", ''); ?>
            <?php echo $this->getButtonHtml($this->__('Save Quote'),'order.saveQuote()','save'); ?>
        </p>

        <? if ($this->getRequest()->getParam('print_quote')): ?>
            <iframe src="<? echo $this->getPrintUrl(); ?>" id="print-container" name="print-container" style="border: 0; margin-left: -10000px;" width="1" height="1" border="0" seamless></iframe>
        <? endif; ?>
    <? else: ?>
        <p><? echo $this->__('Quotes can only be saved for registered customers. Please create a new customer record for this customer in order to save a quote.'); ?></p>
    <? endif; // if CustomerId ?>
</div>
