<?php /* @var $this GoSolid_Frans_Block_Adminhtml_Sales_Order_Create_Shipments */ ?>
<?php
/**
 * Overall phtml for shipments block
 */
?>
<!--<iframe id="shipments-import-frame" style="display:none;" scrolling="yes" frameBorder="0" src="--><?// echo $this->getIframeUrl(); ?><!--">-->
<!--</iframe>-->

<div class="entry-edit" id="import_validation_container" style="display:none;">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend" id="import_validation_container_header">Shipment Import Validation Results</h4>
    </div>
    <div id="import_validation_messages" class="fieldset"></div>
</div>


<div class="entry-edit">
    <div id="shipment-import-inline-form" class="a-right entry-edit-pre-head" style="display:none;">
        <? echo $this->getValidateImportButtonHtml(); ?>
    </div>
    <div class="entry-edit-head">
        <h4 class="icon-head head-cart"><?php echo $this->getHeaderText() ?></h4>
        <div class="form-buttons"><?php echo $this->getButtonsHtml() ?></div>
    </div>
    <?php echo $this->getChildHtml() ?>
</div>
