<?php
/** @var $this Mage_Customer_Block_Form_Login */
?>
<form action="<?php echo $this->getPostActionUrl(); ?>" method="post" id="login-form">
    <?php echo $this->getBlockHtml('formkey'); ?>
    <div class="content">
        <h2 class="guest-continue-title"><?php echo $this->__('Returning customer'); ?></h2>

        <div class="form-row">
	        <div class="col-xs-12">
                <div class="input-box">
                    <input tabindex="1" type="text" name="login[username]" value="<?php echo $this->htmlEscape($this->getUsername()) ?>" id="email" class="input-text required-entry validate-email" title="<?php echo $this->__('Email Address'); ?>"  placeholder="<?php echo $this->__('Email Address'); ?>" />
                </div>
            </div>
	    </div>
	    <div class="form-row">
            <div class="col-xs-12">
                <button tabindex="3" type="button" onclick='window.location.href="<?php echo $this->getForgotPasswordUrl(); ?>"' class="forgot-button button plain infield"><span class="forgot-button-text"><?php echo $this->__('Forgot?'); ?></span></button>
                <input tabindex="2" type="password" name="login[password]" class="input-text required-entry" id="pass" title="<?php echo $this->__('Password'); ?>" placeholder="<?php echo $this->__('Password'); ?>" />
            </div>
		</div>

        <?php echo $this->getChildHtml('form.additional.info'); ?>
        <?php echo $this->getChildHtml('persistent.remember.me'); ?>
        <?php echo $this->getChildHtml('persistent.remember.me.tooltip'); ?>

	    <div class="form-row">
		    <div class="col-xs-12">
		        <button tabindex="4" type="submit" class="btn button-dark" id="login-sign-in" title="<?php echo $this->__('Sign In'); ?>" name="send" id="send2"><span><span><?php echo $this->__('Sign In'); ?></span></span></button>
		    </div>
	    </div>

    </div>
</form>
<script type="text/javascript">
    //<![CDATA[
    var dataForm = new VarienForm('login-form', true);
    //]]>
</script>
