<div class="tooltip" id="passrequirements">
	<h3><?php echo $this->__('Password Requirements'); ?></h3>
	<ul>
		<li><?php echo $this->__('Must be at least 8 characters long'); ?></li>
		<li><?php echo $this->__('Must contain at least 1 number OR symbol'); ?></li>
	</ul>
	<div class="tooltip-arrow"></div>
</div>