<?php
/** @var $this Mage_Customer_Block_Form_Login */
?>
<form action="<?php echo $this->getUrl("customer/account/createpost"); ?>" method="post" id="register-form">
    <div class="content">
        <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
        <h2 class="guest-continue-title"><?php echo $this->__('Create an Account'); ?></h2>

        <div class="form-row">
	        <div class="col-xs-12">
                <div class="input-box">
                    <input tabindex="5" type="text" name="email" id="email_address" value="" title="<?php echo $this->__('Email Address'); ?>" class="input-text validate-email required-entry" placeholder="<?php echo $this->__('Email Address'); ?>" />
                </div>
            </div>
	    </div>

	    <div class="form-row">
		    <div class="col-xs-6">
			    <input tabindex="6" type="password" name="password" data-tooltip-id="passrequirements" data-tooltip-position="left top" id="password" class="input-text required-entry validate-password register-password autotooltip" title="<?php echo $this->__('Password'); ?>" placeholder="<?php echo $this->__('Password'); ?>" />
		    </div>
		    <div class="col-xs-6">
			    <input tabindex="7" type="password" name="confirmation" id="confirmation" class="input-text required-entry validate-cpassword register-confirmpass" title="<?php echo $this->__('Confirm Password'); ?>" placeholder="<?php echo $this->__('Confirm Password'); ?>" />
		    </div>
		</div>

	    <div class="form-row">
		    <div class="col-xs-12">
			    <label class="register-checkbox">
				    <input tabindex="8" type="checkbox" name="is_subscribed" title="<?php echo $this->__('Sign Up for Newsletter'); ?>" value="1" id="is_subscribed" class="checkbox" />
				    <?php echo $this->__("Receive Fran's Communications"); ?>
			    </label>
		    </div>
	    </div>
	    <div class="form-row">
		    <div class="col-xs-12">
			    <label class="register-checkbox">
				    <input tabindex="9" type="checkbox" <?php if($_GET['business'] != null):?>  checked="checked" <?php endif; ?> name="business-account" class="business-account" />
				    <?php echo $this->__("This is a business account"); ?>
			    </label>
		    </div>
	    </div>

		<div class="form-row business-name-wrapper <?php if($_GET['business'] === null):?> hide <?php endif; ?>">
		    <div class="col-xs-12">
			    <input tabindex="10" type="text" name="company_name" id="company_name" class="input-text company_name" title="<?php echo $this->__('Business Name'); ?>" placeholder="<?php echo $this->__('Business Name'); ?>"  />
		    </div>
	    </div>

	    <div class="form-row">
		    <div class="col-xs-12">
			    <button tabindex="11" type="submit" class="btn button-dark" id="create-account" title="<?php echo $this->__('Create Account'); ?>" name="send"><span><span><?php echo $this->__('Create Account'); ?></span></span></button>
		    </div>
	    </div>

	    <?php echo $this->getChildHtml('customer.form.businessaccounttoggle'); ?>
	    <?php echo $this->getChildHtml('customer.form.passrequirements'); ?>

    </div>
</form>
<script type="text/javascript">
    //<![CDATA[
    var dataForm = new VarienForm('register-form', true);
    //]]>
</script>
