<?php
	$stores = Mage::getModel('frans/retailStore')->getActiveFrontendStores();
	$media = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);
	$helper = Mage::helper('frans');
	$counter = 1;
?>

<div class="frans-container keep-mobile-gutters">
	<div class="tile-row four">
		<?php foreach ($stores as $store): ?>
			<div class="tile <?php echo $helper->getNumberText($counter); ?>">
				<div class="tile-content">
					<?php // TODO: Make light/dark a configurable field in the retail store model ?>
					<a href="<?php echo $this->getUrl('stores/' . $store->getUrlKey()); ?>" class="tile-image dark" style="background-image: url('<?php echo $media . $store->getStoreImageTile(); ?>');">
						<div class="overlay light-tile">
							<h3><?php echo $store->getName(); ?></h3>
							<div class="divider"></div>
							<span class="store-subtitle"><?php echo $store->getSubtitle(); ?></span>
							<span>
								<?php echo $store->getAddress1();?>
							</span>
							<?php if($store->getAddress2() != ''): ?>
								<span>
									<?php echo $store->getAddress2();?>
								</span>
							<?php endif; ?>
							<span>
								<?php echo $store->getCity();?>, <?php echo $store->getRegion();?> <?php echo $store->getPostalCode();?>
							</span>
							<?php if($store->getPhone() != ''): ?>
								<span class="tile-store-phone">
									<?php echo $store->getPhone();?>
								</span>
							<?php endif; ?>
						</div>
					</a>
				</div>
			</div>
			<?php $counter++; // TODO: Make this counter loop back to zero every four items, in case more stores are added ?>
		<?php endforeach;?>
	</div>
</div>