// Styles for 404 (no-route) page and also no search results found page (both use the same CMS page content)

// Note the .no-results class on the .frans-container, preventing these styles from being
// applied on search results pages where results actually were found

.cms-index-noroute .frans-container, .catalogsearch-result-index .frans-container.no-results {

  .std {

    margin: 0 15px;
    padding-bottom: 25px;
    text-align: center;

    h2 {
      font-size: @font-size-h2;
    }

    p:last-of-type {
      margin-bottom: 75px;
    }

  }

}