// Styles for Fran's Business Accounts page

.frans-businessaccounts-index {

  div[role="main"] {

    font-size: @font-size-medium-small;
    line-height: 22px;
    color: @gray;

    h2 {
      font-size: 20px;
      color: @gray-dark;
    }

    h3 {
      font-size: @font-size-small;
      text-transform: none;
      font-weight: bold;
    }

    a:not(.button) {
      color: @link-color-bright;
      text-decoration: underline;
    }

    #largeorders-popup, #rates-popup, #savings-popup {
      display: none;
    }

  }

  // top banner
  .backdrop {

    margin-top: -5px;
    height: 245px; // cutoff height

    .business-accounts-header {

      background-repeat: no-repeat;
      background-position: top center;
      height: 330px; // actual image height (in this case it's a forced cutoff point for mobile, the image is bigger)
      background-image: url('@{image-path}business-accounts-header.jpg');
      background-size: 540px;

      .header-content {

        position: absolute;
        top: 157px;
        text-align: center;

        div {

          margin: 0 auto;
          padding: 0 40px;

          .page-title {
            font-family: @font-family-sans-serif-light;
            font-size: 22px;
            color: @gray-dark;
          }

        }

      }

    }

  }

  .frans-container .row {

    margin: 0;

    .business-accounts-section {

      .make-xs-column(12, 0);
      .make-sm-column(12);
      padding-bottom: 30px;
      margin-bottom: 15px;
      border-bottom: 1px solid @gray-lightest;
      text-align: center;

      .section-wrapper {
        margin: 0 auto;
      }

      .section-text {

        padding: 0 @grid-gutter-width;
        margin: 0 auto;

        .button {
          width: 100%;
        }

      }

      img {
        max-width: 100%;
      }

      .modal-link {
        color: @link-color-bright;
        text-transform: uppercase;
        text-decoration: none !important;
        margin-top: 18px;
        display: inline-block;
      }

      &.section-customize {

        padding-left: 70px;
        padding-right: 70px;

        .custom-features {
          font-size: @font-size-small;
          max-width: 335px;
        }

      }

    }

    &.three-cols .business-accounts-section {

      .make-md-column(4, 40px);

      &:last-child {
        border-bottom: none;
      }

    }

  }

  .ready-to-order {

    background-color: #f3efec;
    background-image: url('@{image-path}business-accounts-order.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 330px;
    padding-top: 18px;
    margin: 0 (@grid-gutter-width * -1) (@grid-gutter-width * -1);
    text-align: center;

    p {
      margin: 0 40px;
    }

  }

  #simplemodal-container {

    h3 {
      font-size: @font-size-h4;
    }

    img {
      margin: @grid-gutter-width 0;
    }

    p {

      font-size: @font-size-medium-small;
      line-height: @line-height-computed;
      margin-bottom: 1em;

      &.disclaimers {
        margin-top: 1em;
        color: @gray-light;
        line-height: 2em;
      }

    }

    table {

      table-layout: fixed;
      width: 100%;
      max-width: 400px;
      text-align: center;
      margin: 0 auto;

      thead td {
        font-weight: bold;
        text-transform: uppercase;
        padding: 8px;
        border-bottom: 1px solid @gray-lighter;
      }

      tbody tr {

        &:nth-child(even) td {
          background-color: lighten(@gray-lightest, 7%);
        }

        td {

          padding: 8px;

          &.cell-left {
            padding: 3px;
            text-align: right;
            text-transform: uppercase;
          }

          &.cell-right {
            text-align: left;
            text-transform: uppercase;
            padding: 3px 3px 3px 30px;
          }

        }

      }

    }

  }

  // MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT

  @media(min-width: 461px){

    .backdrop {

      height: 360px;

      .business-accounts-header {

        background-size: 815px;
        height: 360px;

        .header-content {
          top: 242px;
        }

      }

    }

    .ready-to-order {
      height: 360px;
    }

  }

  @media(min-width: @screen-ms-min){

    .backdrop {

      height: 490px;

      .business-accounts-header {

        background-size: auto;
        height: 490px;

        .header-content {
          top: 360px;
          padding-left: 60px;
          padding-right: 60px;
        }

      }

    }

    .ready-to-order p {
      margin: 0 auto;
      max-width: 390px;
    }

  }

  @media(min-width: @screen-sm-min){

    .backdrop {

      .business-accounts-header {

        height: 600px;

        .header-content {
          top: 379px;
        }

        .header-content {
          width: 100%;
        }

      }

    }

    .ready-to-order {
      height: 425px;
    }

    #simplemodal-container {
      padding-left: 60px !important;
      padding-right: 60px !important;
    }

  }

  @media(min-width: @screen-md-min){

    .backdrop {

      margin-top: 0;

      .business-accounts-header {

        .header-content div {
          max-width: 600px;
          padding-left: @grid-gutter-width;
          padding-right: @grid-gutter-width;
        }

      }
    }

    .frans-container .row {

      margin: 0 @grid-gutter-width;

      .business-accounts-section {

        padding-top: 32px;
        padding-bottom: 60px;
        text-align: left;

        .section-wrapper {
          max-width: 960px;
        }

        .section-text {

          padding: 65px 0 0;
          max-width: 455px;
          margin: 0;

          .button {
            width: auto;
          }

        }

        img {
          max-width: 455px;
        }

        &.section-browse, &.section-quote {

          img {
            float: right;
          }

        }

        &.section-largeorders {

          .section-text {
            float: right;
            padding-top: 20px;
          }

        }

        &.section-customize {

          position: relative;
          text-align: center;

          img {
            margin: 0 auto;
          }

          .section-text {
            padding-top: 0;
            margin: 0 auto;
          }

          .custom-features {

            li {

              position: absolute;
              width: 175px;
              line-height: 18px;

              &.feature-message {
                top: 120px;
                margin-left: 405px;
                text-align: left;
              }

              &.feature-ribbon {
                top: 120px;
                margin-left: -245px;
                text-align: right;
              }

              &.feature-tags {
                top: 299px;
                margin-left: -245px;
                text-align: right;
              }

            }

          }

        }

      }

      &.three-cols .business-accounts-section {

        border-bottom: none;

        .section-text {
          padding-top: 0;
        }

        img {
          max-width: 100%;
        }

      }

    }

    #simplemodal-container {

      .largeorders-modal-column {

        width: 50%;
        float: left;

        p {
          margin-left: @grid-gutter-width;
          margin-right: @grid-gutter-width;
        }

      }

    }

    .ready-to-order {
      background-size: auto;
      height: 550px;
    }

  }

  @media(min-width: @screen-lg-min){
    .frans-container .row {
      margin: 0 105px;
    }
  }

}

