// Styles for Charitable Giving page

.cms-charitable-giving {

  font-size: @font-size-medium-small;

  .std {

    h3 {
      font-size: 15px;
      font-weight: bold;
    }

    h4 {
      text-transform: none;
    }

    .button {
      margin: 30px auto;
    }

    img {
      margin: 0 auto;
    }

  }

}