// Styles for Confection Care page

.cms-confection-care {

  .std {

    margin: 0 15px;
    padding-bottom: 25px;

    & > p > strong {
      display: block;

      margin: 29px auto;
      font-size: @font-size-small;
    }

    // general list styles reset
    ul {

      padding-left: 0;

      li {
        list-style-type: none;
      }

    }

    // default view is a vertical timeline (for mobile devices)
    & > ul {

      border-left: 1px solid @gray-lightest;
      color: @gray-dark;
      font-size: @font-size-medium-small;
      .clearfix();

      & > li {

        position: relative;
        padding-left: 25px;

        & > ul {

          max-width: 250px;

          & > li:first-child {
            color: @gray-darker;
          }

        }

        &:before {
          .sprite('confection-care-bullet');
          position: absolute;
          left: -5px;
          top: 4px; // vertically center the 9px tall bullet icon next to the first line of text
        }

      }

    }

  }

  // MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT

  @media (min-width: @screen-sm-min) {

    .std {

      width: 640px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 0;

      // set up horizontal timeline display
      & > ul {

        border-left: none;
        border-top: 1px solid @gray-lightest;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 50px;
        white-space: nowrap;

        & > li {

          padding-left: 0;
          display: inline-block;
          vertical-align: top;
          width: 25%; // set a general width (25% for 4 columns) for browsers that don't support :nth-child()

          & > ul {
            max-width: auto;
            margin-top: 4px;
            white-space: normal;
          }

          &:before {
            position: static;
            margin-top: -5px;
          }

          // specific widths and margins for specific columns
          &:nth-child(1) { width: 65px; margin-right: 5px; }
          &:nth-child(2) { width: 160px; margin-right: 27px; }
          &:nth-child(3) { width: 195px; margin-right: 36px; }
          &:nth-child(4) { width: 140px; }

        }

      }

    }

  }

  @media (min-width: @screen-md-min) {

    .std {

      width: 840px;

      & > ul {

        padding-left: 20px;
        padding-right: 20px;

        & > li {

          // specific widths and margins for specific columns
          &:nth-child(1) { width: 71px; }
          &:nth-child(2) { margin-right: 111px; }
          &:nth-child(3) { width: 290px; margin-right: 84px; }

        }

      }

    }

  }

  @media (min-width: @screen-lg-min) {

    .std {

      width: 900px;

      & > ul > li {

        // specific widths and margins for specific columns
        &:nth-child(1) { width: 75px; }
        &:nth-child(2) { margin-right: 100px; }
        &:nth-child(3) { margin-right: 70px; }

      }

    }

  }

}