// Styles for Fran's Contact Us page

.contacts-index-index {

  .backdrop .contact-header-wrapper {

    height: 200px;

    .contact-header {

      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      height: 291px;

    }

  }

  .contact-content {

    .content-tabs {

      text-align: center;
      padding: 0 @grid-gutter-width @grid-gutter-width;

      & > ul {

        margin-bottom: 22px;

        li {

          display: inline-block;
          width: 175px;

          a {

            display: block;
            font-weight: bold;
            text-transform: uppercase;

            .icon {
              margin: 31px auto 21px;
            }

            &.contact-call {

              .icon {
                .sprite('contact-call');
              }

              &.active .icon, &:hover .icon {
                .sprite('contact-call-active');
              }

            }

            &.contact-mail {

              .icon{
                .sprite('contact-mail');
              }

              &.active .icon, &:hover .icon {
                .sprite('contact-mail-active');
              }

            }

          }

        }

      }

      .tab {

        background-color: #ebebeb; // using a color var would be best but it's not worth recoloring the indicator icon

        &:before {
          .sprite('tab-indicator');
          position: absolute;
          left: 0;
          right: 0;
          margin: -12px auto 0; // center the indicator and raise it above the tab content
        }

        &.call-info:before {
          left: -175px; // centered between right edge and this number, which accounts for width of this tab
        }

        &.email-form:before, &.success-message:before {
          left: 175px; // centered between right edge and this number, which accounts for width of this tab
        }

        &.email-form {

          .contact-form-wrapper {
            padding: 10px 30px 30px;
            min-height: 168px;
          }

          .contact-form {
            display: none; // forms are hidden initially, and revealed by JS
          }

          .form-header {
            font-weight: bold;
            text-transform: uppercase;
            margin: @line-height-computed auto;
            color: @gray;
            display: block;
          }

          .form-text {
            margin: @line-height-computed auto;
            color: @gray;
            display: block;
            width: 450px;
            max-width: 100%;
          }

          .form-wrapper {
            width: 386px;
            max-width: 100%;
            margin: 0 auto;
          }

        }

        .header {
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: @line-height-computed;
        }

        .hours {

          padding: 30px 30px 20px;

        }

        .stores {

          background-color: @gray-lightest;
          padding: 30px;
          text-align: left;

          .store-detail {

            font-size: @font-size-small;
            margin: (@line-height-computed / 2) 0;

            .store-thumbnail {
              margin-bottom: (@line-height-computed / 2);
            }

            .store-name {
              text-transform: uppercase;
              font-weight: bold;
              margin-bottom: (@line-height-computed / 2);
            }

            .store-phone {
              margin-top: (@line-height-computed / 2);
            }

            .store-thumbnail {
              width: 100%;
              max-width: 231px;
              height: auto;
            }

          }

        }

        .contact-success-wrapper {
          padding: 120px 30px;
        }

      }

    }


  }

  // MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT

  @media(min-width: @screen-sm-min){

    .backdrop .contact-header-wrapper {

      height: 380px;

      .contact-header {
        height: 600px;
      }

    }

    .contact-content .content-tabs {

      padding: 0;

      .tab .stores {
        padding: 30px 120px;
      }

    }

  }

  @media(min-width: @screen-md-min) and (max-width: @screen-md-max){
    .contact-content .content-tabs .tab .stores {
      padding: 30px;
    }
  }

  // SMALLER THAN MOBILE BREAKPOINT FOR SPECIAL CASES (VERY SMALL DEVICES)

  @media(max-width: 590px){
    .contact-content .content-tabs {

      & > ul li {
        width: 100px;
      }

      .tab.call-info:before {
        left: -100px; // centered between right edge and this number, which accounts for width of this tab
      }

      .tab.email-form:before, .tab.success-message:before {
        left: 100px; // centered between right edge and this number, which accounts for width of this tab
      }

    }
  }

  // MOBILE ONLY

  @media(max-width: @screen-xs-max){
    .contact-content .content-tabs .tab .stores .row {

      width: 231px; // width of the thumbnail images
      margin: 0 auto;

      .store-detail {

        margin-bottom: @line-height-computed;

        &:last-child {
          margin-bottom: 0;
        }

      }

    }
  }

}

