// Styles for Custom and Large Orders Page based on Fran's Business Accounts page

 //mobile screens / 320+

.frans-customorders-index {
	
	/*
	*{
		outline: 1px dotted red;
	}
	*/

	div[role="main"] {

		font-size: @font-size-medium-small;
		line-height: 22px;
		color: @gray;
		padding: 0;

		.col-xs-12{
			padding: 0;
		}

		h2 {
			font-size: 20px;
			color: @gray-dark;
			padding: 0;
			margin: 0 0 10px;
		}

		h3 {
			font-size: @font-size-small;
			text-transform: none;
			font-weight: bold;
			margin: 8px 0 2px;
		}

		a:not(.button) {
			color: @link-color-bright;
			text-decoration: underline;
		}

		#largeorders-popup, #rates-popup, #savings-popup {
			display: none;
		}

	}

	.frans-container{
		margin: 0;
		padding: 0;
	}

	// top banner
	.backdrop {

		margin-top: -5px;
		height: 160px; // cutoff height
		width: 100%;
		padding: 0;
		margin: 0;

		.custom-orders-header {

			background-repeat: no-repeat;
			background-position: top center;
			height: 160px; // actual image height (in this case it's a forced cutoff point for mobile, the image is bigger)
			background-image: url('@{image-path}pages/custom-orders/custom-orders-00.jpg');
			background-size: 540px;

		}

	}

	.frans-container .row.fleur {
		margin-top: 20px;
		padding-top: 25px;
		background: 50% 0 url('@{image-path}pages/custom-orders/custom-orders-divider.jpg') no-repeat;
		background-size: 110px auto;
	}
	.frans-container .row.three-cols.fleur {
		margin-top: 10px;
	}

	.frans-container .row {

		margin: 0;
		
		.header-content {
			
			padding-bottom: 20px;
			text-align: center;
	
			div {
	
				margin: 0 auto;
				padding: 0 16px;
	
				.page-title {
					font-family: @font-family-sans-serif-light;
					font-size: 22px;
					color: @gray-dark;
				}
	
			}
	
		}		

		.custom-orders-section {

			//.make-xs-column(12, 0);
			//.make-sm-column(12);
			padding: 0 16px;
			margin-bottom: 0;
			text-align: left;
			
			&.section-browse{
				border-bottom: 1px solid #e5e5e5;
				padding-bottom: 20px;
			}

			.section-wrapper {
				margin: 0 auto;
			}

			.section-text {

				padding: 0;
				margin: 0 auto;

				.button {
					width: 100%;
					width: auto;
				}

			}

			img {
				max-width: 100%;
				margin: auto;
				display: block;
			}

			.modal-link {
				color: @link-color-bright;
				text-transform: uppercase;
				text-decoration: none !important;
				margin-top: 10px;
				display: inline-block;
			}

			&.section-customize {
			
				padding-top: 20px;
				
				.custom-features {
					font-size: @font-size-small;
					max-width: 335px;
					max-width: inherit;
					margin: 0;
					p{
						line-height: 18px;
					}
				}

			}

		}

		&.three-cols .custom-orders-section {

			//.make-md-column(4, 40px);
			padding: 0 16px;

			&:last-child {
				border-bottom: none;
				padding-bottom: 60px;
			}

		}

	}

	//footer section / ready to order

	.ready-to-order {
		
		background-color: #ececf4;
		background-image: url('@{image-path}pages/custom-orders/custom-orders-06.jpg');
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: contain;
		background-size: 700px auto;
		box-sizing: border-box;
		height: 330px;
		height: auto;
		padding-top: 20px;
		padding-bottom: 240px;
		//margin: 0 (@grid-gutter-width * -1) (@grid-gutter-width * -1);
		margin: 0;
		text-align: center;
		
		p {
			margin: 0;
		}
	
		ul{
			padding: 0;
			overflow: hidden;
			position: relative;
			max-width: 600px;
			margin: 16px auto 0;
		}	
		ul li{
			display: block;
			font-size: 12px;
			line-height: 16px;
			box-sizing: border-box;
			list-style: none;
			padding: 0 20px;
			margin: 0;
			text-indent: 0;
			float: none;
			width: auto;
			padding: 0 10px 16px;
		}	
		ul li span {
				display: block;
				margin: 0 0 4px;
				font-size: 13px;
				font-weight: normal;
		}
		ul li a.block{
			display: block;
		}
	
	}

	//custom ribbon colors

	div.gift-message-card{
		display: none;
	}
	div.favor-box {
			display: block;
			position: relative;
			z-index: 1;
			margin-left: -255px;
			background: url('@{image-path}pages/custom-orders/custom-orders-sprite-favor-box.png') 0 0 no-repeat;
			background-position: 0 -750px;
			background-size: 980px auto;
			width: 245px;
			height: 175px;
			top: auto;
			left: auto;
			margin: auto;
			
			&.swatch-ivory{
				background-position: 0 0;
			}
			&.swatch-black{
				background-position: 0 -175px;
			}
			&.swatch-silver{
				background-position: 0 -350px;
			}
			&.swatch-old-gold{
				background-position: 0 -525px;
			}
			&.swatch-bronze{
				background-position: 0 -700px;
			}								
			
			&.swatch-red{
				background-position: -245px 0;
			}
			&.swatch-rust{
				background-position: -245px -175px;
			}
			&.swatch-orange{
				background-position: -245px -350px;
			}
			&.swatch-sunny-yellow{
				background-position: -245px -525px;
			}
			&.swatch-bright-yellow{
				background-position: -245px -700px;
			}						
			&.swatch-bright-green{
				background-position: -245px -875px;
			}
			
			&.swatch-celadon{
				background-position: -490px 0;
			}
			&.swatch-tropic{
				background-position: -490px -175px;
			}
			&.swatch-blue-turquoise{
				background-position: -490px -350px;
			}
			&.swatch-porcelain{
				background-position: -490px -525px;
			}
			&.swatch-neon-blue{
				background-position: -490px -700px;
			}
			&.swatch-royal-blue{
				background-position: -490px -875px;
			}
			
			&.swatch-purple{
				background-position: -735px 0;
			}
			&.swatch-moonstone{
				background-position: -735px -175px;
			}
			&.swatch-fuchsia{
				background-position: -735px -350px;
			}
			&.swatch-wine{
				background-position: -735px -525px;
			}
			
	}

	.ribbon-colors {
			overflow: hidden;
			position: relative;
			padding: 0 0 20px;
			margin: 0 auto;
			max-width: 500px;

			h5 {
					font-weight: bold;
					text-transform: none;
					text-align: left;
					color: #333333;
					font-size: 12px;
					line-height: 18px;
					margin: 0 0 10px 0;
			}	
			ul {
					margin: 0;
					padding: 0;
					overflow: hidden;
					position: relative;
					width: 25%;
					float: left;
			}
			ul li {
					overflow: hidden;
					position: relative;
					list-style: none;
					box-sizing: border-box;
					padding: 3px 0;
					margin: 0 0 6px 0;
					width: 100%;
					border: 1px solid #fff;
					cursor: pointer;
					text-align: center;
					&:hover{
						border: 1px solid #dedede;
						background: #ffffff;
					}
					&.active{
						border: 1px solid #cecece;
						background: #ffffff;
					}
					
			}
			span.swatch {
					display: block;
					box-sizing: border-box;
					width: 20px;
					height: 20px;
					margin: 0 auto 2px;
					background: #333;
			}
			span.color-name {
					display: block;
					font-size: 13px;
					line-height: 20px;
					color: #666;
					font-size: 12px;
					line-height: 12px;
					float: none;
					clear: both;
					max-width: inherit;
					padding: 0;
					letter-spacing: -1px;
					white-space: normal;
			}
			p {
					display: block;
					clear: both;
			}
			span.swatch.swatch-ivory{
				background: #ffffff;
				border: 1px solid #ccc;
			}
			span.swatch.swatch-silver{
				background: #d5d5d5;
			}
			span.swatch.swatch-old-gold{
				background: #e4b678;
			}
			span.swatch.swatch-bronze{
				background: #925400;
			}
			span.swatch.swatch-rust{
				background: #dc4115;
			}
			span.swatch.swatch-orange{
				background: #ffa72b;
			}		
			span.swatch.swatch-purple{
				background: #5d2eb0;
			}	
			span.swatch.swatch-fuchsia{
				background: #ef1083;
			}
			span.swatch.swatch-moonstone{
				background: #e1d3cc;
			}
			span.swatch.swatch-red{
				background: #ff2b2a;
			}
			span.swatch.swatch-sunny-yellow{
				background: #ffd02a;
			}
			span.swatch.swatch-bright-yellow{
				background: #ffe82a;
			}
			span.swatch.swatch-bright-green{
				background: #c0e519;
			}
			span.swatch.swatch-royal-blue{
				background: #154dba;
			}
			span.swatch.swatch-porcelain{
				background: #8cbbe5;
			}
			span.swatch.swatch-blue-turquoise{
				background: #62cfe3;
			}
			span.swatch.swatch-slate{
				background: #424f5e;
			}
			span.swatch.swatch-black{
				background: #000000;
			}
			span.swatch.swatch-celadon{
				background: #8eccb3;
			}
			span.swatch.swatch-tropic{
				background: #00c9c0;
			}
			span.swatch.swatch-neon-blue{
				background: #0aaceb;
			}
			span.swatch.swatch-wine{
				background: #830b39;
			}

	}
	
	span.note-ribbon {
			font-size: 12px;
			display: block;
			text-align: center;
			color: #bbb;
			padding-top: 16px;
	}

	//Modal Window
	// ------------------------------------------------	

	#simplemodal-container {

		h3 {
			font-size: @font-size-h4;
		}

		img {
			margin: @grid-gutter-width 0;
		}

		p {

			font-size: @font-size-medium-small;
			line-height: @line-height-computed;
			margin-bottom: 1em;

			&.disclaimers {
				margin-top: 1em;
				color: @gray-light;
				line-height: 2em;
			}

		}

		table {

			table-layout: fixed;
			width: 100%;
			max-width: 400px;
			text-align: center;
			margin: 0 auto;

			thead td {
				font-weight: bold;
				text-transform: uppercase;
				padding: 8px;
				border-bottom: 1px solid @gray-lighter;
			}

			tbody tr {

				&:nth-child(even) td {
					background-color: lighten(@gray-lightest, 7%);
				}

				td {

					padding: 8px;

					&.cell-left {
						padding: 3px;
						text-align: right;
						text-transform: uppercase;
					}

					&.cell-right {
						text-align: left;
						text-transform: uppercase;
						padding: 3px 3px 3px 30px;
					}

				}

			}

		}

	}

	// MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE
	// ------------------------------------------------

	//mobile screens / 461+
	
	@media(min-width: 461px){

		.backdrop {

			height: 220px;

			.custom-orders-header {

				background-size: 700px;
				height: 220px;

				.header-content {
					top: 220px;
				}

			}

		}
		
		
		.custom-features-frame{
			position: relative;
			overflow: hidden;
			height: auto;
			width: 100%;
			padding-bottom: 250px;
			margin: 0 auto;
			
			div.favor-box{
				width: 350px;
				height: 250px;
				top: auto;
				bottom: 0;
				left: 50%;
				margin-left: -250px;
			}
			
			div.gift-message-card{
				display: block;
				position: absolute;
				background: url('@{image-path}pages/custom-orders/custom-orders-card.jpg') 50% 50% no-repeat;
				z-index: 5;
				width: 500px;
				height: 164px;
				bottom: 45px;
				right: 0;
			}
			
			.custom-box-display{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 250px;
				z-index: 10;
			}
			
		}
		
		.ready-to-order{
		}
		
		div.favor-box {
				width: 350px;
				height: 250px;
				background-size: 1400px auto;
				background-position: 0 -750px;
				
				&.swatch-ivory{
					background-position: 0 0;
				}
				&.swatch-black{
					background-position: 0 -250px;
				}
				&.swatch-silver{
					background-position: 0 -500px;
				}
				&.swatch-old-gold{
					background-position: 0 -750px;
				}
				&.swatch-bronze{
					background-position: 0 -1000px;
				}
				
				&.swatch-red{
					background-position: -350px 0;
				}
				&.swatch-rust{
					background-position: -350px -250px;
				}
				&.swatch-orange{
					background-position: -350px -500px;
				}
				&.swatch-sunny-yellow{
					background-position: -350px -750px;
				}
				&.swatch-bright-yellow{
					background-position: -350px -1000px;
				}						
				&.swatch-bright-green{
					background-position: -350px -1250px;
				}
				
				&.swatch-celadon{
					background-position: -700px 0;
				}
				&.swatch-tropic{
					background-position: -700px -250px;
				}
				&.swatch-blue-turquoise{
					background-position: -700px -500px;
				}
				&.swatch-porcelain{
					background-position: -700px -750px;
				}
				&.swatch-neon-blue{
					background-position: -700px -1000px;
				}
				&.swatch-royal-blue{
					background-position: -700px -1250px;
				}
				
				&.swatch-purple{
					background-position: -1050px 0;
				}
				&.swatch-moonstone{
					background-position: -1050px -250px;
				}
				&.swatch-fuchsia{
					background-position: -1050px -500px;
				}
				&.swatch-wine{
					background-position: -1050px -750px;
				}
		
		}
		
		.frans-container .row {
			margin: 0;
			.header-content {
				div {
					padding: 0 90px;
				}
			}
		}

	}
	
	//mobile screens / 605+

	@media(min-width: @screen-ms-min){

		.backdrop {

			height: 400px;

			.custom-orders-header {

				background-size: auto;
				height: 400px;

				.header-content {
					top: 360px;
					padding-left: 60px;
					padding-right: 60px;
				}

			}

		}
		
		.frans-container .row{
			.custom-orders-section{
				padding: 0;
				margin: 0 90px;
			}
		}
		.frans-container .row.three-cols{
			.custom-orders-section{
				padding: 0;
				margin: 0 90px;
			}
		}
		
		.custom-features-frame{
			div.gift-message-card{
				right: -20px;
			}
		}
		
		.custom-features li{
			float: left;
			width: 33.33%;
			padding: 0 12px 0 0;
		}

		.ready-to-order p {
			margin: 0 auto;
			max-width: 390px;
		}
		
		.ready-to-order {
			height: 600px;
			background-size: auto;
			background-position: 50% 100%;
			
			ul li{
				width: 33.33%;
				float: left;
				padding: 0 20px;
			}
			ul li:nth-child(2){
					margin: 0;
					border-left: 1px solid #ddd;
					border-right: 1px solid #ddd;
			}
		}

	}

	//small screens / 760+

	@media(min-width: @screen-sm-min){

		.backdrop {

			
			.custom-orders-header {

				height: 600px;
				
				.header-content {
					top: 379px;
					width: 100%;
				}

			}

		}
		
		.frans-container .row {
			.header-content {
				padding: 10px 0;
			}
		}

		.custom-features-frame{
			div.gift-message-card{
				right: 50px;
			}
		}

		.ribbon-colors {
			ul {
			}
			ul li {
				padding: 3px;
			}
			span.swatch {
				float: left;
				margin: 0;
			}
			span.color-name {
					float: left;
					clear: none;
					font-size: 13px;
					line-height: 20px;
					letter-spacing: 0;
					margin: 0 0 0 5px;
			}
		}
		
		.ready-to-order {
			height: 600px;
			background-size: auto;
			background-position: 50% 100%;
		}

		#simplemodal-container {
			padding-left: 60px !important;
			padding-right: 60px !important;
		}

	}

	//medium screens / 1000+
	//switch to columns
	
	@media(min-width: @screen-md-min){

		.backdrop {

			margin-top: 0;

			.custom-orders-header {

				.header-content div {
					max-width: 600px;
					padding-left: @grid-gutter-width;
					padding-right: @grid-gutter-width;
				}

			}
		}

		.frans-container .row.three-cols{
			.custom-orders-section{
				padding: 20px 0 0;
				margin: 0;
			}
		}

		.frans-container .row {

			margin: 0 @grid-gutter-width;
			margin: 0 30px;

			.custom-orders-section {

				padding: 20px 0;
				margin: 0;
				text-align: left;

				.section-wrapper {
					max-width: 960px;
				}

				.section-text {

					padding: 50px 0 20px;
					max-width: 440px;
					margin: 0;

					.button {
						width: auto;
					}

				}

				img {
					max-width: 450px;
					float: left;
				}

				&.section-browse, &.section-quote {

					img {
						float: right;
					}

				}

				&.section-largeorders {

					.section-text {
						float: right;
						padding: 60px 30px 0 0;
					}

				}

				

				&.section-customize {

					position: relative;
					text-align: center;

					img {
						margin: 0 auto;
					}

					.section-text {
						padding-top: 0;
						margin: 0 auto;
						max-width: inherit;
						width: 100%;
					}
					
					.custom-features-frame{
						
						height: 300px;
						width: 890px;
						padding-bottom: 0;
						
						div.favor-box{
							top: 70px;
							bottom: auto;
						}
						
						.lines{
							position: absolute;
							top: 0;
							left: 0;
							background: url('@{image-path}pages/custom-orders/custom-orders-lines.png') 50% 50% no-repeat;
							background-size: 500px auto;
							width: 100%;
							height: 100%;
							z-index: 30;
						}
						
						div.gift-message-card{
							top: 110px;
							left: 50%;
							right: auto;
							margin-left: -250px;
						}
						
					}
					
					.custom-box-display{
						width: 890px;
						height: 300px;
					}

					.custom-features {
						position: absolute;
						top: 0;
						left: 0;
						width: 890px;
						height: 300px;
						z-index: 20;
						
						li {

							position: absolute;
							width: 175px;
							line-height: 18px;
							margin: 0;
							padding: 0;

							&.feature-message {
								top: 112px;
								left: 700px;
								text-align: left;
							}

							&.feature-ribbon {
								top: 20px;
								left: 245px;
								width: 350px;
								text-align: left;
							}

							&.feature-tags {
								top: 165px;
								left: 15px;
								text-align: right;
							}

						}

					}

				}

			}

			&.three-cols .custom-orders-section {

				.make-md-column(4, 40px);
				border-bottom: none;

				.section-text {
					padding-top: 0;
				}

				img {
					max-width: 100%;
				}

			}

		}

		#simplemodal-container {

			.largeorders-modal-column {

				width: 50%;
				float: left;

				p {
					margin-left: @grid-gutter-width;
					margin-right: @grid-gutter-width;
				}

			}

		}

		.ready-to-order {
			background-size: auto;
			height: 600px;
		}

	}

	//large screens / 1236+
	
	@media(min-width: @screen-lg-min){
		.frans-container .row {
			margin: 0 105px;
		}
	}

}