// Styles for Fran's Event Favors page

.frans-eventfavors-index {

  // top banner
  .backdrop {

    height: 477px; // cutoff height

    .event-favors-header {

      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      height: 495px; // actual image height (in this case it's a forced cutoff point for mobile, the image is bigger)

      .header-content {

        position: absolute;
        top: 379px;
        text-align: center;
        width: 100%;
        @media(max-width: @screen-ms-max) {
          top: 339px;
        }
        ul {

          margin-right: 0.6em;

          li {

            display: block;
            margin: 0 0.3em 0 -0.3em;
            vertical-align: middle;
            list-style-type: none;
            color: @gray;

            @media(min-width: @screen-ms-max) {
              display: inline-block;
              margin: 0 auto;
              vertical-align: middle;
              list-style-type: none;
              color: @gray;
              &:before {
                content: '\2022';
                display: inline-block;
                margin: -.1em 1.2em 0 .7em;
                vertical-align: middle;
                font-size: 12px;
                color: #444;
              }
            }

            &:first-child:before {
              display: none;
            }

          }

        }

      }

    }

  }

  // MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT

  @media(min-width: @screen-sm-min){
    .backdrop .event-favors-header {

      height: 600px;

      .header-content {
        width: 100%;
      }

    }
  }

  // SMALLER THAN MOBILE BREAKPOINT FOR SPECIAL CASES (VERY SMALL DEVICES)
  @media(max-width: 600px){
    .backdrop .event-favors-header {
      height: 520px;
    }
  }

}

