// Styles for Confection Care page

.cms-frans-story {

  .frans-container {
    background-image: none !important;
    padding-top: @grid-gutter-width !important;
  }

  .std {
    position: relative;
    padding-bottom: 40px;
    margin: 0 15px 50px;
    text-align: justify;
  }

  .frans-story-header {

    margin: 0 -20px 30px; // position the header outside of the .std class

    .frans-story-portrait-wrapper {

      .make-ms-column(8);
      .make-lg-column(6);

      @media(max-width: @screen-xs-max) {
        padding-left: 0;
      }

      @media(max-width: @screen-ms-max) {
        padding-right: 0;
      }

      .frans-story-portrait {
        background-image: url('@{image-path}cms/frans-story-portrait.jpg');
        background-position: top right;
        background-repeat: no-repeat;
        height: 350px;
      }

    }

    .frans-story-chocolate-wrapper {

      .make-ms-column(4);
      .make-lg-column(6);

      @media(max-width: @screen-ms-max) {
        padding-left: 0;
      }

      .frans-story-chocolate-toprow {
        .frans-story-chocolate-top {
          background-image: url('@{image-path}cms/frans-story-chocolate-top.jpg');
          height: 175px;
        }
      }

      .frans-story-chocolate-bottom {
        background-image: url('@{image-path}cms/frans-story-chocolate-bottom.jpg');
        height: 175px;
      }

    }

  }

  .page-title {

    font-size: @font-size-h3;
    font-weight: normal;

    & + hr {
      margin-top: @grid-gutter-width;
    }

  }

  .aside, blockquote {
    margin: 40px auto;
  }

  .aside {
    text-align: center;
  }

  // MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT

  @media(min-width: @screen-ms-min) {

    .std {
      width: 550px;
      margin-left: auto;
      margin-right: auto;
    }

    .frans-story-header {

      margin-left: -26px; // position the header outside of the .std class
      margin-right: -27px; // position the header outside of the .std class

      .frans-story-portrait-wrapper .frans-story-portrait {
        background-position: -185px 0;
      }

    }

    .aside {
      float: right;
      margin: @grid-gutter-width 0 40px 20px;
      .clearfix();
    }

    blockquote {
      float: left;
      margin: @grid-gutter-width 40px 40px 0;
      .clearfix();
    }

  }

  @media(min-width: @screen-sm-min) {

    .std {
      padding-bottom: 0;
    }

    .frans-story-header {

      margin-left: -100px; // position the header outside of the .std class
      margin-right: -100px; // position the header outside of the .std class

      .frans-story-portrait-wrapper .frans-story-portrait {
        height: 400px;
        background-position: top right;
      }

      .frans-story-chocolate-wrapper .frans-story-chocolate-toprow {

        margin-bottom: @grid-gutter-width;

        .frans-story-chocolate-top {
          height: 194px;
        }

      }

      .frans-story-chocolate-wrapper .frans-story-chocolate-bottomrow .frans-story-chocolate-bottom {
        height: 194px;
      }

    }

  }

  @media(min-width: @screen-md-min) {

    .std {
      width: 750px;
    }

    .frans-story-header {
       margin-left: -105px; // position the header outside of the .std class
       margin-right: -105px; // position the header outside of the .std class
    }

  }

  @media(min-width: @screen-lg-min) {

    .frans-story-header {

      margin-left: -225px; // position the header outside of the .std class
      margin-right: -225px; // position the header outside of the .std class

      .frans-story-portrait-wrapper {

        width: 640px;

        .frans-story-portrait {
          background-position: top center;
        }

      }

      .frans-story-chocolate-wrapper {
        width: 560px;
      }

    }

  }

  @media(max-width: @screen-ms-max) {

    // override general CMS frans-container styles for special Fran's Story page
    .frans-container {
      padding: 0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

  }

  // SPECIAL BREAKPOINT FOR CENTERING IMAGE OF FRAN ON SMALLEST DEVICES

  @media(max-width: 450px) {
    .frans-story-header .frans-story-portrait-wrapper .frans-story-portrait {
      background-position: -195px 0;
    }
  }

}