// Styles for Fran's Gift Cards page

.category-gift-cards {

  // breadcrumb fix for gift cards page (don't show Gifts category in trail)
  .breadcrumb li.home + li {
    display: none;
  }

  div[role="main"] .gift-cards-header p {

    max-width: 436px;
    margin-left: auto;
    margin-right: auto;

    &:last-of-type {
      margin-top: @line-height-computed;
    }

  }

}

.gift-card-preview {

  text-align: center;
  margin: 0 auto;
  width: 270px;
  position: relative;
  background-color: #ffffff;

  .preview-header {
    text-transform: uppercase;
    padding-bottom: @line-height-computed;
  }

  .masthead {
    border: 1px solid @gray-lightest;
    background-color: lighten(@gray-lightest, 7%);
    font-size: @font-size-small;
    padding: @grid-gutter-width (@grid-gutter-width / 2);

    span {
      font-style: italic;
      color: @gray;
    }

  }

  .content {

    border: 1px solid @gray-lightest;
    border-top: none;
    padding: 20px 40px;
    position: relative;

    .greeting {
      font-size: @font-size-large;
    }

    .info {
      margin-top: (@line-height-computed / 2);
    }

    .message {

      font-style: italic;
      color: @gray;
      margin-top: (@line-height-computed / 2);

      &:before, &:after {
        content: '"';
      }

    }

  }

  &:before, &:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 10px;
    left: 3px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #ffffff;
    .box-shadow(0 15px 4px lighten(@gray-lightest, 6%));
    -webkit-transform: rotate(-2.8deg);
    -moz-transform: rotate(-2.8deg);
    -o-transform: rotate(-2.8deg);
    -ms-transform: rotate(-2.8deg);
    transform: rotate(-2.8deg);
  }

  &:after {
    -webkit-transform: rotate(2.8deg);
    -moz-transform: rotate(2.8deg);
    -o-transform: rotate(2.8deg);
    -ms-transform: rotate(2.8deg);
    transform: rotate(2.8deg);
    right: 3px;
    left: auto;
  }

}

.category-gift-cards div[role="main"], .frans-giftcards-index div[role="main"] {

  // top banner
  a {
    color: #6D4720 !important;
  }
  .backdrop {

    height: 405px; // cutoff height

    .gift-cards-header {

      background-size: auto 405px;
      background-repeat: no-repeat;
      background-position: top center;
      height: 405px; // actual image height (in this case it's a forced cutoff point for mobile, the image is bigger)

      .header-content {

        position: absolute;
        top: 245px;
        width: 100%;
        text-align: center;
        padding: 0 25px;

      }

    }

  }

  p {
    font-size: @font-size-medium-small;
    margin-bottom: 0;
  }

  .gift-card-column {

    .make-xs-column(12);
    .make-sm-column(6);
    text-align: center;

    .gift-card-column-wrapper {

      max-width: 350px;
      margin: 0 auto 30px;
      .clearfix();

      img {
        max-width: 90%;
        height: auto;
      }

      #preview-button {
        color: #6D4720 !important;
      }

    }

    button {
      margin-top: 26px;
    }

    h5 {
      text-transform: none;
      font-size: @font-size-small;
      font-weight: bold;
      margin-bottom: 20px;
      margin-top: 0;
    }

    form {

      display: none;
      padding-top: 20px;
      border-top: 1px solid @gray-lightest;
      font-size: @font-size-small;
      max-width: 90%;
      margin: 20px auto 0;

      .row {

        text-align: left;

        &.spacer-row {
          margin-top: 20px;
        }

      }

      input[type="radio"] {
        margin-right: 3px;
        vertical-align: text-bottom;
      }

      input[type="number"] {
        height: 40px;
      }

      label {
        font-weight: normal;
      }

      button {
        margin-top: 0;
      }

      &#virtual-form .row:last-of-type {

        text-align: center;

        button {
          @media (min-width: @screen-sm-min) {
            padding-left: 8px;
            padding-right: 8px;
          }
        }

      }

      .virtual-details {

        border-top: 1px solid @gray-lightest;
        padding-top: 20px;
        margin-top: 20px;

        .row {
          margin-bottom: 10px;
        }

      }

      .details-label {
        font-weight: bold;
        line-height: 32px;
        text-align: right;
      }

      .chars-remaining {
        display: block;
        font-size: @font-size-smaller;
        text-align: right;
        margin-bottom: 20px;
      }

    }

  }

  .validation-helper input[type="radio"] {
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    left: -9999px;
  }

  .message-virtual {
    margin-top: @line-height-computed;
    border: 1px solid @gray-lightest;
    padding: @grid-gutter-width;
    color: @brand-warning;
    font-size: @font-size-small;
  }

  .terms-link {
    text-align: center;
    margin: 50px 0 0;
    border-bottom: 20px solid #ffffff;
  }

  #terms-popup {
    display: none;
  }

  #check-balance-form {

    margin: -40px auto 0;
    width: 80%;
    max-width: 460px;
    border: 1px solid @gray-lightest;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(50,50,50,.1);
    padding: 50px 30px;

    .valid-icon {
      .sprite('valid-icon');
      position: absolute;
      right: 12px;
      top: 8px;
      display: none;
    }

    input[name="card_number"].valid + .valid-icon {
      display: block;
    }

  }

  #gc-check-button {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }

  #result {

    font-size: @font-size-small;
    color: @gray;
    margin-top: @grid-gutter-width;
    text-align: center;

    .gc-result-amount {
      color: #15a100;
      font-weight: bold;
    }

    .gc-result-error {
      font-size: @font-size-smaller;
    }

  }

  // MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT

  @media (min-width: @screen-md-min){

    .gift-card-column.classic .gift-card-column-wrapper {
      margin: 0 44px 0 0;
    }

    .gift-card-column.virtual .gift-card-column-wrapper {
      margin: 0 0 0 44px;
    }

  }

  @media(min-width: @screen-sm-min){

    .backdrop {

      height: 525px;

      .gift-cards-header {

        height: 600px;
        background-size: auto;

        .header-content {
          top: 379px;
          width: 100%;
        }

      }

    }

    .gift-card-column.classic .gift-card-column-wrapper {
      float: right;
    }

    .gift-card-column.classic.virtual .gift-card-column-wrapper {
      float: left;
    }

  }

  // SPECIAL BREAKPOINT FOR SMALL DEVICES
  @media(max-width: 476px){

    .backdrop {

      height: 267px;

      .gift-cards-header {

        background-position: 50% 0;
        background-size: 540px;
        height: 365px;

        .header-content {

          top: 157px;
          padding: 0 25px;

          p:last-of-type {
            max-width: 200px;
            margin: 0 auto;
          }

        }

      }

    }

    #check-balance-form {
      padding-left: 10px;
      padding-right: 10px;

      input[type="submit"] {
        margin-left: (@grid-gutter-width * -0.5);
        padding-left: 5px;
        padding-right: 5px;
      }

    }

  }

}

