// Styles for Fran's home page

@import "home/hero.less";

.cms-index-defaultindex {

  .home-content {
    background-color: #ffffff;
  }

  .stores-banner {

    .tile-image {
      background-size: cover;
      height: 350px;
      padding: 18px;
    }

    .tile-image:hover {
      cursor: pointer;
    }

    .stores-content {

      background-color: #ffffff; // fallback for older browsers
      background-color: rgba(255,255,255,0.8);
      padding: 50px 40px 0;
      margin: 0 auto;
      height: 100%;
      width: 280px;
      max-width: 100%;

      li {
        font-size: @font-size-small;
        margin-bottom: @font-size-small;
      }

    }

    .stores-content:hover {
      cursor: default;
    }

  }

  // MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT

  @media(min-width: @screen-ms-min){
    .stores-banner .stores-content {
      width: 350px;
    }
  }

  @media(min-width: @screen-sm-min){
    .stores-banner .stores-content {
      float: right;
      margin-right: 0;
      width: 344px;
    }
  }

  @media(min-width: @screen-md-min){
    .stores-banner .stores-content {
      width: 350px;
    }
  }

}

