// Styles for Ingredient Information page

.cms-ingredient-information {

  font-size: @font-size-medium-small;

  h3 {

    font-size: 15px;
    text-transform: none;

    &.text-uppercase {
      text-transform: uppercase;
    }

    &.badge {

      margin-top: 50px;

      &:before {
        content: '';
        display: block;
        width: 62px;
        height: 62px;
        background-size: 62px auto;
        //background-repeat: no-repeat;
        margin: 0 0 @grid-gutter-width;
      }

      &.fairtrade:before {
        background-image: url('@{image-path}cms/nutrition-badge-fairtrade.png');
      }

      &.gluten:before {
        background-image: url('@{image-path}cms/nutrition-badge-gluten.png');
      }

      &.gmo:before {
        background-image: url('@{image-path}cms/nutrition-badge-gmo.png');
      }

      &.milkeggs:before {
        background-image: url('@{image-path}cms/nutrition-badge-milkeggs.png');
      }

      &.nuts:before {
        background-image: url('@{image-path}cms/nutrition-badge-nuts.png');
      }

      &.organic:before {
        background-image: url('@{image-path}cms/nutrition-badge-organic.png');
      }

      &.soy:before {
        background-image: url('@{image-path}cms/nutrition-badge-soy.png');
      }

      &.vegan:before {
        background-image: url('@{image-path}cms/nutrition-badge-vegan.png');
      }

    }

  }

  tr td {
    display: block;
  }

  // MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT

  @media (min-width: @screen-sm-min) {

    .frans-container {

      tr td {

        display: table-cell;
        width: 50%;
        vertical-align: top;

        &:nth-child(odd){
          padding-right: 40px;
        }

        &:nth-child(even){
          padding-left: 40px;
        }
      }

    }

  }

}