// Styles for New Website page

.cms-new-website {

  &.cms-page-view .frans-container .page-title {
    margin-bottom: 28px;
    color: #333333;
  }

  .std {

    color: @gray;

    h2 {
      font-size: @font-size-base;
      color: @gray-dark;
      margin-top: 0;
    }

    ul {

      padding: 0;

      li {

        list-style-type: none;
        border-bottom: 1px solid @gray-lightest;
        padding: 40px 0;
        .clearfix();

        .image, .content {
          width: 100%;
        }

        .image {

          margin-bottom: 1em;

          .vertical-align {

            text-align: center;

            img {
              margin: 0 @grid-gutter-width;
              max-width: 100%;
            }

          }

        }

        .content > * {
          width: 100%;
        }

      }

    }

    h2 {
      font-size: 16px;
    }

    p {
      font-size: 15px;
      max-width: 900px;
      line-height: 1.8em;
    }

    a {
      text-decoration: underline;
    }

    .more-to-come {

      text-align: center;
      max-width: 700px;
      padding: 60px 0;
      margin: 0 auto;

      img {
        margin-bottom: 1em;
      }

    }

  }

  // MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT

  @media (min-width: @screen-md-min) {

    .std ul li {

      padding: 60px 0;

      &:nth-child(odd) {

        .image {
          float: left;
        }

        .content {
          float: right;
        }

      }

      &:nth-child(even) {

        .image {
          float: right;
        }

        .content {
          float: left;
        }

      }

      .image, .content {

        width: 50%;
        min-height: 200px;
        display: table;

        .vertical-align {
          display: table-cell;
          vertical-align: middle;
        }

      }

      .image {
        margin-bottom: 0;
      }

    }

  }

}