// Styles for News (formerly articles) page

.cms-news {

  ul {
    padding-left: 0;
  }

  .articles-list {

    width: 470px;
    max-width: 90%; // less accurate, for old browsers
    max-width: ~'calc(100% - 30px)'; // more accurate, for new browsers
    margin: 0 auto;
    .clearfix();

    li {

      list-style-type: none;

      &.year {

        float: left;
        clear: both;
        width: 75px;

        h3 {
          color: @gray-lighter;
          font-size: 16px;
          margin: 0;
        }

      }

      &.year-articles {

        clear: right;
        float: right;
        width: 395px;
        max-width: 72%; // less accurate, for old browsers
        max-width: ~'calc(100% - 75px)'; // more accurate, for new browsers
        position: relative;

        .articles {

          .article {

            font-size: @font-size-medium-small;
            margin-bottom: @line-height-computed;

            .article-title {
              font-size: 15px;
              margin: 0 0 6px;
            }

            .article-citation {
              display: block;
              color: @gray-lighter;
            }

            .article-publication {
              margin-right: @grid-gutter-width;
            }

            .article-content {
              margin: 0;
            }

            .article-morelink {
              display: block;
              color: @gray-lighter;
            }

          }

          // the vertical line connecting years
          &:before {
            content: "";
            position: absolute;
            background-color: @gray-lightest;
            width: 1px;
            left: -56px;
            top: 28px;
            bottom: 26px;
          }

        }

      }

    }

  }

  // MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT

  @media (min-width: @screen-ms-min) {

    .articles-list {

      width: 500px;

      li.year-articles {
        width: 425px;
      }

    }

  }

  @media (min-width: @screen-sm-min) {

    .articles-list {

      width: 640px;

      li.year-articles {
        width: 565px;
      }

    }

  }

  @media (min-width: @screen-md-min) {

    .articles-list {

      width: 840px;

      li.year-articles {
        width: 765px;
      }

    }

  }

  @media (min-width: @screen-lg-min) {

    .articles-list {

      width: 900px;

      li.year-articles {
        width: 825px;
      }

    }

  }

}