// General styles for pages and CMS content goes in here, alphabetically.
// Page-specific content is imported from its own files.

// Load 404 page styles
@import "404.less";

// Load Custom and Large Orders page styles
@import "styleguide.less";

// Load Custom and Large Orders page styles
@import "custom-orders.less";

// Load Business Accounts (formerly Business Gifting) page styles
@import "business-accounts.less";

// Load Charitable Giving page styles
@import "charitable-giving.less";

// Load Confection Care page styles
@import "confection-care.less";

// Load Contact Us page styles
@import "contact.less";

// Load Event Favors page styles
@import "event-favors.less";

// Load Fran's Story page styles
@import "frans-story.less";

// Load Gift Cards page styles
@import "gift-cards.less";

// Load home page styles
@import "home.less";

// Load Ingredient Information (formerly Our Ingredients) page styles
@import "ingredient-information.less";

// Load News (formerly Articles) page styles
@import "news.less";

// Load New Website page styles
@import "new-website.less";

// Load Privacy Policy and Terms of Use page styles
@import "privacy.less";

// Load Shipping page styles
@import "shipping.less";

// Load Stores (formerly Locations/Boutiques) page styles
@import "stores.less";

// Load category-specific page styles for special designs
@import "categories.less";

// General CMS page styles (includes No Search Results page, which is the same as 404 page)
.cms-page-view .frans-container, .cms-index-noroute .frans-container, .catalogsearch-result-index .frans-container.no-results {

  // actual background image is pulled from the Banners module, not defined here
  background-position: top center;
  background-repeat: no-repeat;
  padding: 192px 15px 30px;
  background-size: 540px;

  // special breakpoint for scaling background image
  @media (min-width: 461px) {
    background-size: 815px;
    padding-top: 263px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (min-width: @screen-sm-min) {
    background-size: auto;
    padding-top: 392px;
    padding-left: 55px;
    padding-right: 55px;
  }

  @media (min-width: @screen-md-min) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: @screen-lg-min) {
    padding-left: 150px;
    padding-right: 150px;
  }

  .page-title {
    margin: 0 auto @grid-gutter-width;
    text-align: center;
    border-bottom: none;
  }

}