// Styles for Privacy Policy and Terms of Use pages

.cms-privacy, .cms-terms {

  font-size: @font-size-medium-small;

  .std {

    h2 {
      margin-bottom: @grid-gutter-width;
    }

    h3 {
      font-size: 15px;
      font-weight: bold;
    }

  }

}