// Styles for Fran's Stores (formerly locations/boutiques) pages

.frans-stores-index {

  .frans-container {
    width: 300px;
    margin: 0 auto 0;
  }

  // Stores page
  .tile-row .tile .tile-content .tile-image .overlay {

    max-height: none;
    height: 300px;
    padding-top: 115px;

    span {
      display: block;
      text-transform: none;
      font-size: @font-size-small;

      &.store-subtitle {
        margin-bottom: @line-height-computed;
      }
      &.tile-store-phone {
        margin-top: 10px
      }

    }

  }
  
    //special 5th tile for store page desktop
    @media (min-width: @screen-sm-min){
        .tile-row.four .tile.five{
            overflow: hidden;
            clear: both;
            float: none;
            margin: 10px auto;
            padding-top: 12px;
            max-height: 400px;
            width: 100%;
            max-width: 570px;
            max-height: 340px;
            .tile-content .tile-image{
                .overlay{
                    height: auto;
                    padding-top: 130px;
                    padding-top: 80px;
                }
            }
        }
    }

}

// Store details page

.frans-stores-view {

  .store-info {
    /* winter colors */
    /* background-color: #8ECBD2; */
    /* color: #ffffff; */
    /* summer colors */
    /* background-color: #389cd0; */
    /* color: #ffffff; */
    /* spring colors */
    /* background-color: #d1e29c; */
    /* color: #382818; */
    /* fall / default colors */
    background-color: #ab8960;
    color: #ffffff;
    
    text-transform: uppercase;
    text-align: center;
    font-size: @font-size-small;
    height: 425px;
    padding-top: 60px;

    h3 {
      font-size: 20px;
      font-weight: normal;
    }

    h4 {
      font-size: 15px;
      font-weight: normal;
    }

    span {

      display: block;

      &.store-subtitle {
        margin: (@line-height-computed / 2) 0 @line-height-computed;
      }

      &.store-directions {
        margin: @line-height-computed 0;

        a {
          font-size: @font-size-smaller;
          color: #ffffff;          
          color: #382818;
        }
        a:hover {
          color: #eeeeee;	        
          color: #382818;
        }

      }

    }

    .hours-label {
      text-align: right;
      font-weight: bold;
    }

    .hours-value {
      text-align: left;
    }

    .store-divider {
      // look in seasonal.less for this
    }

  }

  .store-image {
    width: 100%;
    height: auto;
  }

}

// MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT

@media(min-width: @screen-sm-min){

  // Stores page
  .frans-stores-index {

    .frans-container {
      width: 600px;
    }
    .tile-row .tile .tile-content .tile-image .overlay {
      height: 370px;
      padding-top: 150px;
    }

  }

  // Store details page
  .frans-stores-view {
    .store-info {
      height: 390px;
      padding-top: 35px;
    }
  }

}

@media(min-width: @screen-lg-min){

  .frans-stores-index, .frans-stores-view {
    .frans-container {
      width: auto;
      .make-row();
    }
  }

  // Stores page
  .frans-stores-index {
    .tile-row .tile .tile-content .tile-image .overlay {
      height: 500px;
      padding-top: 215px;
    }
  }

  // Store details page
  .frans-stores-view {

    .frans-container {
      padding: 10px;
    }

    // Custom column widths on this page for largest breakpoint
    .store-info-column {

      width: (440px + (@grid-gutter-width / 2));
      margin-left: (@grid-gutter-width / 2);

      .store-info {
        margin-left: -(@grid-gutter-width / 2);
      }

    }

    .store-image-column {
      width: 750px;
      height: 390px;
      margin-left: -(@grid-gutter-width / 2);
      padding: 0;
    }

  }

}

