// Styles for Style Guide Page
body.frans-styleguide-index{
    .frans-container{
        padding: 20px;
        text-align: center;
    }
    .font-container{
        background: #ffffff;
        padding: 30px;
        border: 4px solid #ccc;
        margin-bottom: 50px;
    }
    
    /* TRADE GOTHIC */
    
    .font-tg-frans-01{
        font-family: 'Trade Gothic';
    }
    .font-tg-frans-02{
        font-family: 'Trade Gothic';
        font-weight: bold;
    }
    .font-tg-frans-03{
        font-family: 'Trade Gothic';
        font-style: italic;
    }
    .font-tg-frans-04{
        font-family: 'Trade Gothic';
        font-weight: bold;
        font-style: italic;
    }
    .font-tg-frans-05{
        font-family: 'Trade Gothic Light';
        font-weight: normal;
        font-style: normal;
    }
    
    .font-tg-01{
        font-family: 'TradeGothicLT';
    }
    .font-tg-02{
        font-family: 'TradeGothicLT-Oblique';
    }
    .font-tg-03{
        font-family: 'TradeGothicLT-BoldTwo';
    }
    .font-tg-04{
        font-family: 'TradeGothicLT-BoldTwoOblique';
    }
    .font-tg-05{
        font-family: 'TradeGothicLT-CondEighteen';
    }
    .font-tg-06{
        font-family: 'TradeGothicLT-BoldCondTwenty';
    }
    .font-tg-07{
        font-family: 'TradeGothicLTCom-Cn18Obl';
    }
    .font-tg-08{
        font-family: 'TradeGothicLTCom-BdCn20Obl';
    }
    .font-tg-09{
        font-family: 'TradeGothicLT-Light';
    }
    .font-tg-10{
        font-family: 'TradeGothicLT-LightOblique';
    }
    .font-tg-11{
        font-family: 'TradeGothicLT-Bold';
    }
    .font-tg-12{
        font-family: 'TradeGothicLTStd-BoldObl';
    }
    .font-tg-13{
        font-family: 'TradeGothicLTStd-Extended';
    }
    .font-tg-14{
        font-family: 'TradeGothicLTStd-BoldExt';
    }
    
    .font-gotham-01{
        font-family: 'HCo Gotham';
    	font-weight: 100;
    	font-style: normal;
    }
    .font-gotham-02{
        font-family: 'HCo Gotham';
    	font-weight: 200;
    	font-style: normal;
    }
    .font-gotham-03{
        font-family: 'HCo Gotham';
    	font-weight: 300;
    	font-style: normal;
    }
    .font-gotham-04{
        font-family: 'HCo Gotham';
    	font-weight: 400;
    	font-style: normal;
    }
    .font-gotham-05{
        font-family: 'HCo Gotham';
    	font-weight: 500;
    	font-style: normal;
    }
    .font-gotham-06{
        font-family: 'HCo Gotham';
    	font-weight: 600;
    	font-style: normal;
    }
    .font-gotham-07{
        font-family: 'HCo Gotham';
    	font-weight: 700;
    	font-style: normal;
    }
    .font-gotham-08{
        font-family: 'HCo Gotham';
    	font-weight: 800;
    	font-style: normal;
    }
    .font-gotham-09{
        font-family: 'HCo Gotham';
    	font-weight: 900;
    	font-style: normal;
    }
    .font-gotham-10{
        font-family: 'HCo Gotham';
    	font-weight: 100;
    	font-style: italic;
    }
    .font-gotham-11{
        font-family: 'HCo Gotham';
    	font-weight: 200;
    	font-style: italic;
    }
    .font-gotham-12{
        font-family: 'HCo Gotham';
    	font-weight: 300;
    	font-style: italic;
    }
    .font-gotham-13{
        font-family: 'HCo Gotham';
    	font-weight: 400;
    	font-style: italic;
    }
    .font-gotham-14{
        font-family: 'HCo Gotham';
    	font-weight: 500;
    	font-style: italic;
    }
    .font-gotham-15{
        font-family: 'HCo Gotham';
    	font-weight: 600;
    	font-style: italic;
    }
    .font-gotham-16{
        font-family: 'HCo Gotham';
    	font-weight: 700;
    	font-style: italic;
    }
    .font-gotham-17{
        font-family: 'HCo Gotham';
    	font-weight: 800;
    	font-style: italic;
    }
    .font-gotham-18{
        font-family: 'HCo Gotham';
    	font-weight: 900;
    	font-style: italic;
    }
    
    /* DIDOT */
    .font-didot-01{
        font-family: 'DidotLTPro-Roman';
    }
    .font-didot-02{
        font-family: 'DidotLTPro-BoldItalic';
    }
    
}

.hero-style-wrapper{
    background: #ffffff;
    overflow: visible;
    position: relative;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 50px;
    .backdrop{
        display: block;
        overflow: hidden;
        position: relative;
        margin: 0;
    }
}