// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

// Fran's breadcrumb styles go here
// Defaults  to mobile view; overrides for larger breakpoints at bottom of file

// We roll our own breadcrumbs, bootstrap component is disabled
// @import "@{bootstrap-path}breadcrumbs.less";

.breadcrumb {

  display: none; // hidden for mobile view
  background: @breadcrumb-bg;

  li {

    display: inline-block;
    text-transform: uppercase;
    font-size: @font-size-small;

    a {

      color: @breadcrumb-color;

      &:hover {
        color: inherit;
      }

    }

    .active {
      color: @breadcrumb-active-color;
    }


    &:before {
      .sprite('breadcrumb-separator', inline-block);
      margin: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal;
      font-size: 0;
      content: @breadcrumb-separator;
      vertical-align: middle;
    }

    &.home {

      & > a {
        .sprite('breadcrumb-home', inline-block);
        font-size: 0;
        vertical-align: top;
      }

      &:before {
        margin: 0;
        width: 0;
      }

    }

  }

}


// MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT

@media(min-width: @screen-md-min) {
  .breadcrumb {
    display: block; // visible for screens larger than mobile
  }
}