// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

@import "@{bootstrap-path}buttons.less";

.btn {
  text-transform: uppercase;
  font-size: @font-size-small;
  padding: 10.5px 19px;
  .form-control-focus();
}

// Alias Magento's button class to Bootstraps
.button {

  .btn();
  .btn-default();

  &.plain {

    .button-variant(@text-color; rgba(255,255,255,0); rgba(255,255,255,0));
    text-transform: none;
    font-size: @font-size-small;
    line-height: @font-size-small;

    &:active, &:focus {
      .box-shadow(none);
    }

  }

  &.infield {

    padding-left: @grid-gutter-width;
    padding-right: @grid-gutter-width;
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
    color: @gray-lighter;
    .transition(color 150ms linear);

    &:hover, &.active {
      color: @gray-dark;
      box-shadow: none;
    }

  }

}

.btn-link:focus {
  border-color: transparent;
  .box-shadow(none);
}

.button.plain.btn-continue {

  float: left;
  padding: 13px 0;
  text-transform: uppercase;
  color: #7c4e2a; // is this color used anywhere else?

  &:before {
    .sprite('back-icon', inline-block);
    margin: 0 3px -1px 0;
  }

}

  #suggestAddressFullText {
    display: inline-block;
  }
  #suggestAddressReduceText {
    display: none;
  }


@media(max-width: 375px){
  #suggestAddressFullText {
    display: none;
  }
  #suggestAddressReduceText {
    display: inline-block;
  }
}