// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

// Checkout Types
.cart {

  max-width: @container-md;
  margin: 0 auto;

  .page-title {

    font-size: @font-size-h5;
    color: @gray;
    margin: 0 0 11px;
    text-align: center;

    .checkout-types li {
      margin: 0 0 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  .button.back {
    margin-left: @grid-gutter-width;
  }

  .title-buttons .checkout-types {
    float: right;
    margin-bottom: 0;
  }

  .checkout-types .paypal-or {
    margin: 0 8px;
  }
  .totals .checkout-types .paypal-or {
    clear: both;
    display: block;
    padding: 8px 55px 0 0;
    font-size: @font-size-small;
  }

  .cart-empty {
    text-align: center;
    padding: 100px 0;
  }

}

// Button
.btn-checkout {
  .btn-primary();
  padding: 12px 20px;
  border: none;
}

// Shopping Cart Table
.cart-table {
  margin-bottom: 0;

  .qty {
    .input-sm();
    width: auto;
    text-align: center;
  }

  .button {
    .btn-sm();
  }

}

// Collateral boxes
.cart .cart-collaterals {
  .make-row();

  .col2-set {
    .make-md-column(8);
  }

  @media (min-width: @screen-sm) {
    .totals {
      margin-right: (@grid-gutter-width / 2);
      float: right;
      width: percentage((4 / @grid-columns));
    }
  }
}

.cart .crosssell,
.cart .discount,
.cart .shipping {
  //.panel();
  border-color: @panel-default-border;

  > h2 {
    //.panel-heading();
    border-color: @panel-default-border;
    background-color: @panel-default-heading-bg;
    color: @panel-default-text;

    //.panel-title();
    font-weight: @headings-font-weight;
  }
}

// Cross-sell
.cart .crosssell {

  #crosssell-products-list {
    margin-bottom: 0;
    padding: 15px;
  }

  li.item {
    padding: 10px 0;
    border-bottom: 1px solid @hr-border;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  .product-image {
    float: left;
  }
  .product-details {
    margin-left: 100px;
  }
  .add-to-links {
    .separator {
      display: none;
    }
  }

  .link-compare {
    font-weight: normal;
  }

  @media (max-width: @screen-md) {
    display: none;
  }
}

// Discount Codes & Estimate Shipping and Tax Boxes
.cart .discount,
.cart .shipping {

}

.cart .discount {
  .discount-form {
    padding: 15px;
  }
}

.cart .shipping {
  .shipping-form {
    padding: 15px;
  }
}

// Shopping Cart Totals
.cart .totals {
  //.well();

  table {
    .table();
  }

  .checkout-types {
    margin-bottom: 0;
    text-align: right;

    li {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Options Tool Tip
.item-options {
  margin-top: (@line-height-computed / 2);

  dd {
    margin-left: 15px;
  }
}

.truncated {
  position: relative;
  cursor: help;

  .dots {
    cursor: inherit;
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

.truncated_full_value {
  //.popover();
  top: (@line-height-computed);

  dl {
    margin: 0;
  }

  dt {
    //.popover-title();
  }

  dd {
    //.popover-content();
    margin-left: 0;
  }

  // Multiple lists, add a border at the top
  dd + dt {
    border-radius: 0;
    //border-top: 1px solid darken(@popover-title-bg, 5%);
  }

  &.show {
    display: block;
  }
}

// FRAN'S CART STYLES

.cart, .cart-menu {
  text-transform: uppercase;
  font-size: @font-size-small;
}

.cart-items {

  margin-bottom: 0;

  .row {

    margin: 0;
    border-bottom: 1px solid #ffffff;
    background-color: fadeout(@body-bg, 75%);
    padding: 20px 0;

    & > div {
      min-height: 67px;
    }

    &.column-headers {

      color: gray;
      padding-bottom: 0;
      
      & > div {
        min-height: 0;
      }
      
    }

    &:last-child, &.column-headers {
      border-bottom: none;
    }

  }

  .col-item {

    .make-xs-column(6);
    padding-left: 20px;

    .item-thumbnail {

      display: inline-block;
      vertical-align: top;
      margin-right: 10px;
      height: 100px;
      width: 100px;
      text-align: center;
      line-height: 100px;

      img {
        vertical-align: top;
      }

      @media(max-width: @screen-ms-min){
        line-height: initial;
        width: initial;
        height: initial;
        margin-right: 0;
      }

    }

    .item-details {

      display: inline-block;
      vertical-align: middle;
      width: 43%; // less accurate, for old browsers
      width: ~'calc(100% - 115px)'; // more accurate, for new browsers

      .item-color-tile {
        color: @gray-light;
        font-size: @font-size-smaller;
        display: block;
      }

    }

  }

  .col-price {

    .make-xs-column(2);
    text-align: right;

    .price-wrapper {
      font-weight: bold;
      position: absolute;
      top: 50%;
      right: (@grid-gutter-width / 2);
      line-height: 0;
    }

  }

  .col-qty {

    .make-xs-column(2);
    text-align: center;

    ul {
      position: absolute;
      top: 50%;
      margin-top: -13px;
      margin-bottom: 0;
      width: 85%; // less accurate, for old browsers
      width: ~'calc(100% - @{grid-gutter-width})'; // more accurate, for new browsers
    }

    .qty-wrapper {
      position: absolute;
      top: 50%;
      line-height: 0;
    }

    .btn-update {
      display: none;
    }

  }

  .col-total {

    .make-xs-column(1);
    text-align: right;

    .price-wrapper {

      position: absolute;
      top: 50%;
      right: (@grid-gutter-width / 2);
      line-height: 0;

    }

  }

  .col-remove {
    .make-xs-column(1);
  }

  .remove-icon-wrapper {

    position: absolute;
    height: 100%;
    width: 100%;

    .remove-icon {
      .sprite('remove-icon');
      font-size: 0;
      margin-top: -4.5px;
      position: absolute;
      top: 50%;
      left: 10px;
    }

    &:hover .remove-icon {
      .sprite('remove-icon-hover');
    }

  }

  .cart-totals {

    .col-subtotal {
      .make-xs-column(12);
      text-align: center;
    }

    .col-previous {
      display: none;
    }

    .col-checkout {

      .make-xs-column(12);

      .btn-checkout {
        width: 100%;
        border-left: 10px solid lighten(@gray-lightest, 4%);
        border-right: 10px solid lighten(@gray-lightest, 4%);
        padding: 15px;
      }

    }

  }

  .cart & {
    background-color: @body-bg;
    border-top: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
  }

}

.cart-totals {

  background-color: lighten(@gray-lightest, 4%);
  border-bottom: 5px solid #ffffff;
  border-left: 5px solid #ffffff;
  border-right: 5px solid #ffffff;

  .row {
    padding-top: 15px;
  }

  .col-subtotal {

    .make-xs-column(11);
    text-align: right;
    padding-right: 30px;
    text-transform: none;
    font-size: @font-size-small;

    .price {
      font-weight: bold;
    }

  }

  .col-previous {
    .make-xs-column(5);
    margin-left: 20px;
  }

  .col-checkout {
    .make-xs-column(6);
    text-align: right;
    padding: 0 30px 15px 0;
  }

}

// VIRTUAL GIFT CARD ITEM

.cart-virtual-gc-details-email-message {
  color: @gray-light;
  font-size: @font-size-smaller;
  text-transform: none;
}

.cart-virtual-gc-details {

  background-color: lighten(@gray-lightest, 4%);
  text-transform: none;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: (@line-height-computed / 2);
  max-width: 333px;

  .cart-menu & {
    width: 120%;
  }

  .row {

    border-bottom: none;
    padding: 0;

    .gc-details-label {
      color: @gray-light;
      text-align: right;
    }

    & > div {
      min-height: 0 !important;
    }

  }

}

// "LIGHT" CART STYLES FOR SMALL DEVICES AND CART MENU

.cart-light {

  .column-headers {
    display: none;
  }

  .cart-items {

    .row  > div {
      min-height: 62px;
    }

    .col-item {

      .make-xs-column(10);

      @media(min-width: 461px){
        padding-right: 35px;
      }

    }

    .col-qty {

      .make-xs-column(1);
      padding-right: 0;

      @media(min-width: 461px){
        #qty-input-field:before {
          content: "QTY";
          position: absolute;
          right: 35px;
          top: 4px;
        }
      }

      ul {
        right: 0;
        width: 28px;
      }

      .btn-update {
        margin-left: -26px;
      }

    }

    .col-price {
      display: none;
    }

    // move total out of grid and position it above the quantity field
    .col-total {

      float: none;
      position: absolute;
      right: 5.5%; // less accurate, for old browsers
      right: ~'calc(8.5% - @{grid-gutter-width})'; // more accurate, for new browsers
      font-weight: bold;
      padding: 0;
      min-height: 0 !important;
      width: 50px;

      .price-wrapper {
        position: static;
        line-height: inherit;
        text-align: center;
      }

    }

    .col-remove .remove-icon-wrapper {

      left: (@grid-gutter-width / 2);

      .remove-icon {
        left: (@grid-gutter-width / 2);
      }

    }

  }

  .cart-totals {

    .col-subtotal {
      .make-xs-column(12);
      text-align: center;
    }

    .col-previous {
      display: none;
    }

    .col-checkout {

      .make-xs-column(12);

      .btn-checkout {
        width: 100%;
        border-left: 10px solid lighten(@gray-lightest, 4%);
        border-right: 10px solid lighten(@gray-lightest, 4%);
        padding: 15px;
      }

    }

  }

  .quote-summary {

    text-align: right;
    padding: 14px 40px 14px 5px;
    background-color: fadeout(@gray-lightest, 65%);

    .subtotal {
      text-transform: capitalize;
      color: @gray;

      .price {
        font-weight: bold;
        color: @gray-dark;
        padding-left: 5px;
      }

    }

    .btn-checkout {
      margin-top: 10px;
    }

  }

}

// "MINIMAL" CART STYLES FOR SMALL DEVICES

// minimal version of cart uses smaller image and font than cart menu, and remove icons have extra padding
.cart-minimal {

  font-size: @font-size-smaller;

  .cart-items {

    .col-item {

      .make-xs-column(9);

      .item-thumbnail {

        img {
          width: 60px;
          height: 40px;
        }

      }

      .item-details {

        width: 68%; // less accurate, for old browsers
        width: ~'calc(100% - 70px)'; // more accurate, for new browsers

        .item-color-tile {
          font-size: (@font-size-smaller - 1);
        }

      }

    }

    .col-qty {

      .make-xs-column(2);

      ul {
        right: 18px;
      }

    }

    // position total above the quantity field
    .col-total {
      right: 11.5%; // less accurate, for old browsers
      right: ~'calc(8% + 12px)'; // more accurate, for new browsers
      width: 50px;
    }

    .col-remove {
      right: 9px;
    }

  }

  .quote-summary {

    font-size: @font-size-small;
    padding: 10px;

    .btn-checkout {
      width: 100%;
    }

  }

}

// MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT

// custom breakpoint for very small cart view
@media (max-width: 460px) {

  .cart {
    .cart-light; // use the "light" cart view on small devices
    .cart-minimal; // use the "minimal" cart view on small devices
  }

  .cart-menu {
    .cart-minimal; // the menu also goes "minimal" on small devices (it is "light" by default)
  }

}

@media (min-width: @screen-sm-min) {

  .cart {

    .page-title {

      text-align: left;
      margin-top: 0;
      margin-bottom: 21px;

      &:before {
        .sprite('section-icon-cart', inline-block);
        margin: 0 5px -6px 0;
      }

    }

    .button.back {
      margin-left: 0;
    }

  }

}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

  .cart-items {

    .col-price {

      padding-right: 33px;

      .price-wrapper {
        right: 33px;
      }

    }

    .col-total {

      padding-right: 20px;

      .price-wrapper {
        right: 20px;
      }

    }

  }

}

@media (min-width: @screen-md-min) {

  .cart-items {

    .col-price {

      padding-right: 73px;

      .price-wrapper {
        right: 73px;
      }

    }

    .col-total {

      padding-right: 30px;

      .price-wrapper {
        right: 30px;
      }

    }

  }

}