// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

// .category-title { border:0; margin:0 0 7px; }
// .category-image { width:100%; overflow:hidden; margin:0 0 10px; text-align:center; }
// .category-image img {}
// .category-description { margin:0 0 10px; }
// .category-products {}

.category-image img {
  .img-responsive();
}

.category-description {
  margin-bottom: (@line-height-computed / 2);
}

.category-products {
  .toolbar {
    margin-bottom: (@line-height-computed / 2);
  }
}

@media(min-width: @screen-sm-min){
  body.catalog-category-view.category-collections,
  body.catalog-category-view.category-specialty-collection,
  body.catalog-category-view.category-spring-collection,
  body.catalog-category-view.category-summer-collection,  
  body.catalog-category-view.category-wedding-collection,
  body.catalog-category-view.category-easter-collection {
    /* remove special category bgs for now */
    /*
    background-color: @body-bg;
    background-image: url('@{image-path}bg-collections-summer.jpg');
    background-image: url('@{image-path}bg-collections-spring.jpg');
    background-size: contain;

    .layout.layout-1-col div[role="main"]{
      max-width: none;
    }
    */
  }
}