// Custom Fran's checkout styles go in here
// Defaults  to mobile view; overrides for larger breakpoints at bottom of file

.frans-checkout-index, .frans-checkout-multiship-index {

  div[role="main"] .button-dark {

    width: 100%;

    @media (min-width: @screen-ms-min) {

      width: auto;

      &#multiship-save-order {
        margin-right: @grid-gutter-width;
      }

    }

  }

  // hide cart icon in header during checkout
  .checkout-wrapper > ul {

    li.top-link-cart {
      width: 0;
      overflow: hidden;
    }

    li.top-link-account:after {
      display: none;
    }

    &.logged-in {

      li.top-link-account:after {
        display: inline;
      }

      li.top-link-logout:after {
        display: none;
      }

    }

  }

  #checkout-content {

    .make-sm-column(7.5);
    padding-left: 0;

    @media(max-width: @screen-ms-max){
      padding-right: 0;
    }

    .checkout-wrapper {

      background-color: lighten(@gray-lightest, 7%);

      & > ul {
        margin-bottom: 0;
      }

    }

    .checkout-step {

      .expander-toggle {

        display: block;
        overflow: hidden;
        border-bottom: 1px solid #ffffff;
        font-size: @font-size-base;
        color: @gray-light;
        padding: 10px;
        position: relative;
        background-color: @gray-lightest;
        .transition(~'background-color 150ms linear, color 150ms linear');

        &:hover {
          background-color: darken(@gray-lightest, 4%);
          color: @gray-dark;
        }

        &.toggle-disabled:hover {
          background-color: @gray-lightest;
          color: @gray-light;
        }

        &.expanded {

          border-bottom: none;
          background-color: lighten(@gray-lightest, 7%);
          color: @gray;

          &:hover {
            background-color: lighten(@gray-lightest, 7%);
            color: @gray;
          }

        }

        &.next:before {
          .sprite('accordion-step-indicator');
          .animation(next-step-arrow 1s cubic-bezier(.9,.01,.7,.65));
          position: absolute;
          right: 0;
          left: 0;
          top: 0;
          margin: 0 auto;
        }

      }

      .expander.expanded {
        background-color: lighten(@gray-lightest, 7%);
      }

      &:first-child .expander-toggle, &:last-child .expander-toggle {
        border-bottom: none;
      }

    }

  }

  #single-delivery-form {
    margin-top: -15px; // special position for Delivery Options, top of arrival icon should be flush with bottom of expander toggle
  }

  .shipment-wrapper {

    text-transform: none;
    padding: 0 @grid-gutter-width @grid-gutter-width;

    .arrival {

      .wrapper {
        margin-bottom: @grid-gutter-width;
      }

      .instruction {
        margin-bottom: 8px;
        display: block;
        color: @gray;
        font-weight: bold;
      }

      #quickship_delivery_method_future {
        display: none;
      }

      .arrival-entry {
        padding-top: 30px;
      }

      .arrival-summary {

        &:before {

          margin: 0 auto;

          @media(min-width: @screen-ms-min) and (max-width: @screen-ms-max) {
            .sprite('divider-vertical-arrow-right');
            float: left;
            margin: 30px 30px 0 0;
          }
          @media(min-width: @screen-md)  {
            .sprite('divider-vertical-arrow-right');
            float: left;
            margin: 30px 30px 0 0;
          }

        }

        & > .wrapper {

          float: left;
          width: 100%;

          @media(min-width: @screen-md) {
            width: 73%; // less accurate, for old browsers
            width: ~'calc(100% - 76px)'; // more accurate, for new browsers
          }
          @media(min-width: @screen-ms-min) and (max-width: @screen-ms-max) {
            width: 73%; // less accurate, for old browsers
            width: ~'calc(100% - 76px)'; // more accurate, for new browsers
          }
          & > * {
            display: block;
            text-align: center;
            margin-bottom: 4px;
          }

          & .arrival-icon {
            margin: 0 auto 5px;
            background-position: top center;
            background-repeat: no-repeat;
            width: 134px;
            height: 60px;
          }

          & .arrival-title {
            margin-bottom: 2px;
          }

          & .arrival-date {
            font-size: 15px; // awkward, this font size is hardcoded since it isn't used anywhere else on the site
            font-weight: bold;
          }

          & .about-shipping {
            text-transform: uppercase;
            color: @link-color-bright;
            font-size: @font-size-smaller;
          }

        }

      }

    }

    .message {

      position: relative;
      margin-bottom: 30px;

      .chars-remaining {
        display: block;
        position: absolute;
        font-size: @font-size-smaller;
      }

    }

  }

  #delivery-complete-shipping {

    .clearfix();

    button {
      float: right;
      margin: 0 0 @grid-gutter-width;
    }

  }

  .checkout-payment {

    margin: 0 auto;
    padding-bottom: 20px;

    .payment-details {
      max-width: 390px;
      margin: 0 auto;
    }

    #payment-wrapper {
      margin: 0 (@grid-gutter-width * -1); // make the wrapper wide enough so columns inside aren't cut off when animating
      padding: 0 @grid-gutter-width;
    }

    .use-shipping-address {
      margin: 11px 0 0;
      text-transform: none;
      font-weight: normal;
      float: right;

      @media (max-width: 375px){
        min-width: 145px;
        text-align: right;
      }

    }

    .payment-column-radio {
      float: left;
    }

    .payment-column-label {

      float: left;
      margin-left: (@grid-gutter-width / 2);
      padding-top: 2px;

      label {
        text-transform: none;
        font-weight: normal;
      }

    }

    .invoice-label {

      text-transform: none;
      cursor: pointer;

      h5 {
        margin: 2px 0 0 16px;
      }

      p {
        font-weight: normal;
        margin-top: 2px;
      }

    }

    .save-card, .save-billing-address {

      text-transform: none;
      font-weight: normal;

      & > * {
        margin-right: 4px; // position the checkbox
      }

    }

    .payment-header {
      padding-top: (@grid-gutter-width / 2);
    }

    .giftcard-message {
      text-transform: none;
    }

    .giftcard-entry {

      position: relative;

      .giftcard-number[disabled] {
        opacity: 0.5;
      }

    }

    #giftcard-wrapper {

      margin-bottom: @grid-gutter-width;

      .giftcard-header {

        padding-top: 20px;

        &.no-padding {
          padding-top: 0;
        }

      }

    }

  }
  #giftcard-validation-check{
    float: right;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('/skin/frontend/frans/default/images/GrayCheck.svg');
  }
  #giftcard-validation-sync{
    float: right;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('/skin/frontend/frans/default/images/sync-ani.gif');
    display: none;
  }


  #checkout-sidebar {

    .make-sm-column(4.5);
    padding-right: 0;

    @media(max-width: @screen-ms-max){
      padding-left: 0;
    }

  }

  #shipping-popup {
    display: none;
  }

  .item-color-tile {
    display: block;
    line-height: normal;
    color: @gray-lighter;
    font-size: @font-size-smaller;
  }

  // ORDER SUMMARY STYLES
  .order-summary {

    background-color: lighten(@gray-lightest, 5%);
    padding: 19px 15px 15px;

    h5 {
      font-size: @font-size-base;
      margin-top: 0;
    }

    .order-summary-items {

      margin-bottom: 0;

      .row {

        padding: 10px 0;

        & > div {
          min-height: 67px;
        }

        &.column-headers {

          color: gray;
          padding-bottom: 0;

          & > div {
            min-height: 0;
          }

        }

      }

      .col-item {

        .make-xs-column(9.75);
        color: @gray;

        .item-thumbnail {

          display: inline-block;
          vertical-align: top;
          margin-right: 10px;
          height: 70px;
          width: 70px;
          line-height: 70px;
          text-align: center;

          img {
            margin: 0px auto;
            vertical-align: top;
          }

        }

        .item-details {
          display: inline-block;
          vertical-align: middle;
          line-height: normal;
          width: 66%; // less accurate, for old browsers
          width: ~'calc(100% - 88px)'; // more accurate, for new browsers
        }

      }

      .col-total-qty {

        .make-xs-column(2.25);
        text-align: right;

        .price-wrapper {

          margin-bottom: 8px;

          .price {
            font-weight: bold;
            color: @gray-dark;
          }

        }

        .qty {

          color: @gray-lighter;
          text-align: left;
          min-width: 30px;

          span {
            display: block;
            float: right;
            font-size: @font-size-smaller;
            line-height: 17px;
            color: @gray-light;
          }

        }

      }

    }

    .order-summary-inset {

      background-color: @gray-lightest;
      padding: @grid-gutter-width;
      margin-bottom: @grid-gutter-width;
      text-transform: none;
      color: @gray-light;
      font-size: @font-size-smaller;

      h5 {
        font-size: @font-size-small;
        margin: @grid-gutter-width 0 4px;
        text-transform: uppercase;
        float: left;
        color: @gray;
      }

      .edit-link {
        margin: @grid-gutter-width 0 @grid-gutter-width @grid-gutter-width;
        line-height: @headings-line-height;
      }

      .order-summary-shipments {

        h5, .edit-link {
          margin-top: 0;
        }

        .shipping-address  span {
          display: block;
          .clearfix();
        }

      }

      .order-summary-delivery {

        div, span {

          margin: 0 auto !important;
          text-align: center;
          font-size: @font-size-small;

          &.arrival-icon {
            .sprite('shipment-summary-truck');
          }

          &.arrival-date {
            font-weight: bold;
          }

        }

      }

      .order-summary-messages {

        .single-message {

          .truncated-msg {
            font-style: italic;
          }

        }

      }

    }

    .order-summary-totals {

      .clearfix();
      text-transform: none;
      color: @gray-light;
      text-align: right;

      ul {

        margin-bottom: 0;

        li {

          line-height: (@line-height-computed * 1.5);
          padding: 0 5px;

          &.grand-total {
            border-top: 1px solid darken(@gray-lightest, 10%);
            margin-top: 5px;
            font-weight: bold;
            color: @gray-dark;
            line-height: (@line-height-computed * 1.5);
          }

        }

      }

      .value {
        float: right;
        color: @gray;
        display: inline-block;
        width: 110px;
      }

    }

  }

  // MULTISHIP STYLES
  @multiship-width-lg: 880px; // the internal width of .frans-tab-content (workable space for multiship form, desktop/laptop view)
  @multiship-tablewidth-lg: (@multiship-width-lg * 0.8);
  @multiship-tablewidth-md: (@multiship-width-lg * 0.55);
  @multiship-tablemargin-lg: (@multiship-width-lg - @multiship-tablewidth-lg);
  @multiship-columncount-lg: 5;

  &.frans-checkout-multiship-index {

    #checkout-content {
      .make-sm-column(12);
    }

    .checkout-shipping {

      .frans-tab-content {
        padding: 20px;
      }

      .pagination {

        text-align: right;
        text-transform: none;
        font-size: @font-size-small;
        color: @gray;

        .nextlink, .prevlink {

          font-size: 0;
          display: inline-block;
          margin: 0 2px 2px;
          vertical-align: middle;
          background-color: @gray-dark;
          .transition(~'background-color 0.1s');

          &:hover {
            background-color: @gray-lighter;
            .transition(~'background-color 0.3s');
          }

          &.disabled, &:hover.disabled {
            background-color: @gray-lightest;
          }

        }

        .nextlink:after {
          .sprite('multiship-pager-next', inline-block);
        }

        .prevlink:before {
          .sprite('multiship-pager-prev', inline-block);
        }

      }

      .allocation {

        position: relative;
        text-transform: none;
        margin: @grid-gutter-width 0;

        .items-viewport {
          overflow-x: hidden;
          margin-left: @multiship-tablemargin-lg;
        }

        .allocation-table {

          .transition(~'margin-left 0.3s');

          img {
            margin-bottom: 3px;
          }

          .input-qty {
            height: 23px;
            padding: 0;
          }

          tr {
            border-left: 1px solid #f7f7f7;
            border-right: 1px solid #f7f7f7;
          }

        }

        .spacer {

          border: none !important;

          td {
            background-color: #ffffff;
            height: 10px;
          }

        }

        .allocation-column {

          width: (@multiship-tablewidth-lg / @multiship-columncount-lg);
          text-align: center;
          vertical-align: top;
          border: 1px solid #ffffff;
          padding: 4px;

          &:nth-child(@{multiship-columncount-lg}n+1) {
            border-left-width: 2px;
            width: ((@multiship-tablewidth-lg / @multiship-columncount-lg) - 1);
          }

          &:first-child {
            border-left-width: 1px;
            width: (@multiship-tablewidth-lg / @multiship-columncount-lg);
          }

          &:last-child, &:nth-child(@{multiship-columncount-lg}) {
            border-right-width: 2px;
            width: ((@multiship-tablewidth-lg / @multiship-columncount-lg) - 1);
          }

        }

        .item-details .allocation-column {
          border-color: #f7f7f7;
          color: @gray-light;
        }

        .give-all .allocation-column {

          background-color: @gray-lightest;
          color: @gray-light;
          font-size: @font-size-smaller;
          border-bottom: 2px solid @gray-lightest;
          padding-bottom: 4px;

          &:first-child, &:nth-child(@{multiship-columncount-lg}n+1) {
            border-left-color: @gray-lightest;
          }

          &:last-child, &:nth-child(@{multiship-columncount-lg}) {
            border-right-color: @gray-lightest;
          }

          div {

            margin-top: 3px;

            span, input {
              display: inline-block;
              vertical-align: middle;
            }

          }

        }

        .give-one .allocation-column {
          background-color: #f0f0f0;
          border-color: #f7f7f7;
        }

        .item-details {

          .add, .remove {

            display: inline-block;
            color: #bababa;
            margin: 5px 0;
            border: 1px solid #ffffff;
            text-decoration: none;
            .transition(~'background-color 0.1s, color 0.1s, box-shadow 0.2s, border-color 0.1s');

            &:hover {
              background-color: lighten(@gray-lightest, 8%);
              border-color: lighten(@gray-lightest, 8%);
              box-shadow: 0 0 2px 2px @gray-lightest;
              color: #a0a0a0;
              .transition(~'background-color 0.3s, color 0.3s, box-shadow 0.4s, border-color 0.3s');
            }

            &.remove {

              padding: 3px 10px;
              border-radius: 5px;

              &:before {
                .sprite('multiship-remove-item', inline-block);
                vertical-align: middle;
                margin: -3px 3px 0 0;
              }

            }

            &.add {

              width: 85px;
              height: 85px;
              background-color: #f0f0f0;
              color: @gray-lightest;
              margin-top: 34px;

              .icon {
                .sprite('multiship-add-item');
                margin: 31.5px; // center the icon vertically and horizontally
                font-size: 0;
              }

              &:hover {
                border-radius: 5px;
                color: @gray-dark;
              }

            }

          }

        }

        .allocation-names {

          position: absolute;
          bottom: 0;
          border-top: 1px solid #f7f7f7;

          li {

            position: relative;
            display: block;
            height: 32px;
            background-color: @gray-lightest;
            border-bottom: 1px solid #f7f7f7;
            color: @gray-dark;
            width: (@multiship-tablemargin-lg + 22); // add space for address arrow sprite
            padding: 7px 22px 0 10px;
            cursor: pointer;
            .transition(~'background-color 0.1s');

            &:after {
              .sprite('multiship-address-arrow');
              position: absolute;
              right: 0;
              top: 0;
            }

            &:hover {
              background-color: #d5d5d5;
              z-index: 1;
            }

            &.add-address {

              background-color: #b5b5b5;
              color: #ffffff;
              .transition(~'background-color 0.3s');

              &:hover {
                background-color: @brand-primary;
              }

            }

            & > span {
              display: block;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }

            .rollover {

              display: none;
              position: absolute;
              left: @multiship-tablemargin-lg;
              top: 0;
              padding: 10px 0 10px 15px;
              background-color: #d5d5d5;
              width: 180px;
              z-index: 2;
              color: @gray;

              span {
                display: block;
              }

              .edit {
                position: absolute;
                top: 10px;
                right: 15px;
                font-weight: bold;
                color: @link-color-bright;
              }

            }

          }

        }

      }

      .summary-totals {

        border: 15px solid #f0f0f0;
        background-color: #f0f0f0;
        margin: @grid-gutter-width 0 @grid-gutter-width @multiship-tablemargin-lg;
        width: @multiship-tablewidth-lg;


        @media(max-width: @screen-md-min) {
          width: @multiship-tablewidth-md;
        }

        td {
          padding-top: 14px;
          padding-bottom: 14px;
          color: @gray;
        }

        .col-item {
          padding-right: (@grid-gutter-width / 2);
        }

        .col-price {
          width: 60px;
          text-align: right;
          padding-left: (@grid-gutter-width / 2);
          padding-right: (@grid-gutter-width / 2);
        }

        .col-qty {
          width: 50px;
          text-align: center;
          padding-left: (@grid-gutter-width / 2);
          padding-right: (@grid-gutter-width / 2);
        }

        .col-total {
          width: 75px;
          text-align: right;
          padding-left: (@grid-gutter-width / 2);
        }

        .subtotal, .subtotal-label {
          text-align: right;
          text-transform: none;
          color: @gray-dark;
        }

        thead td {

          color: @gray-light;
          padding-top: 0;

          &.col-qty {
            text-align: center;
          }

          &.col-price, &.col-total{
            text-align: right;
          }

        }

        tbody tr {

          td {
            border-top: 1px solid @gray-lightest;
          }

          &:first-child td {
            border-top: none;
          }

        }

      }

      #address-count-popup {
        display: none;
      }

      .tooltip {

        width: 165px;
        left: 45px !important;
        font-size: @font-size-smaller;
        text-transform: none;

        h3 {
          font-size: @font-size-smaller;
        }

        a {
          color: @link-color-bright;
          text-decoration: underline;
        }

      }

    }

    .checkout-delivery {

      h4, h5 {
        margin-top: (@grid-gutter-width * 2);
        margin-left: (@grid-gutter-width * 2);
        font-size: @font-size-small;
      }

      .shipment {

        margin: 0 @grid-gutter-width @grid-gutter-width;
        padding: 10px 4px 4px;
        background-color: lighten(@gray-lightest, 10%);

        .shipping-address {

          padding: @grid-gutter-width (@grid-gutter-width / 2) (@grid-gutter-width / 2);
          background-color: lighten(@gray-lightest, 7%);

          .address-title {
            text-transform: uppercase;
            margin-bottom: 4px;
          }

          .editlink {
            float: right;
            color: @link-color-bright;
          }

          span {

            display: block;

            &.name {
              font-weight: bold;
            }

          }

        }

        .order-summary {
          background-color: lighten(@gray-lightest, 7%);
        }

        .cart-items {

          border: none;
          text-transform: uppercase;
          background-color: transparent;

          .row {
            padding-top: 8px;
            padding-bottom: 8px;
          }

          .column-headers {
            padding: 0;

            div {
              padding-top: 0;
            }

          }

          .col-item {

            .make-xs-column(9);

            .item-color-tile {
              display: block;
            }

          }

          .col-price, .col-qty, .col-total {
            .make-xs-column(1);
            padding-top: 35px;
          }

        }

        .subtotal, .shipping-total, .shipment-total {
          background-color: lighten(@gray-lightest, 10%);
          padding: @grid-gutter-width @grid-gutter-width 0;
          text-align: right;
        }

        .shipment-total {
          padding-bottom: @grid-gutter-width;
          font-weight: bold;
        }

      }

      #multiship-delivery-address-list .shipment {

        padding: 14px 0;

        .shipment-wrapper {
          padding-bottom: 0;
        }

        .shipping-address {
          padding: @grid-gutter-width;
        }

        .arrival {

          padding: 0 (@grid-gutter-width / 2);

          .wrapper {
            margin-bottom: 0;
          }

          .notes {
            background-color: lighten(@gray-lightest, 7%);
            padding: @grid-gutter-width (@grid-gutter-width / 2);
          }

        }

      }

      .arrival {

        .wrapper {
          padding: @grid-gutter-width (@grid-gutter-width / 2) (@grid-gutter-width / 2);
          background-color: lighten(@gray-lightest, 7%);
        }

        .arrival-entry {
          padding-top: 0;
        }

        .option {
          padding-right: 75px;
        }

        .instruction {

          margin-bottom: 0;

          .optional {
            color: @gray;
          }

        }

        .giftmsg {
          padding-right: (@grid-gutter-width * 1.5);
        }

        .instructmsg {
          padding-left: (@grid-gutter-width * 1.5);
        }

        .message .chars-remaining {
          right: (@grid-gutter-width * 1.5);
          top: auto;
          bottom: (@line-height-computed * -0.8);
          color: @gray;
        }

      }

      label {
        font-weight: normal;
      }

      #btn-apply-all {
        margin-top: @grid-gutter-width;
      }

    }

    .checkout-payment {

      width: 100%;

      .multiship-payment-wrapper {
        width: 390px;
        margin: 0 auto;
      }

      .order-summary {

        margin: 50px 0 20px;

        .order-summary-inset {

          padding: 0;

          .order-shipment {

            border-bottom: 4px solid lighten(@gray-lightest, 7%);
            color: @gray-light;

            h6 {
              font-weight: bold;
              margin-top: 0;
              margin-bottom: 0;
              color: @gray;
            }

            p {
              margin: 2px 0;
              font-size: @font-size-smaller;
            }

            .expander-toggle {

              .expander-icon {

                color: @gray;
                float: right;
                margin: 0;
                padding: 0 5px;

                &:before {
                  content: '+';
                }

              }

              &.expanded {

                .expander-icon:before {
                  content: '-';
                }

              }

            }

            .expander {

              padding: 0 10px 10px;

              div {
                margin: 0 0 @grid-gutter-width;
              }

              span {

                display: block;

                & > span {
                  display: inline;
                }

              }

              .shipment-totals {

                font-size: @font-size-small;
                text-align: right;
                color: @gray;

                & > div {
                  margin-bottom: 0;
                }

                .col-xs-2 {
                  padding-right: 40px;
                }

                .shipment-total {

                  margin-top: (@grid-gutter-width * -2);
                  color: @gray-dark;
                  font-weight: bold;

                  div {

                    border-top: 1px solid lighten(@gray-lighter, 10%);
                    padding-top: @grid-gutter-width;

                    &:first-child {
                      border-top: none;
                    }

                  }

                }

              }

              .shipment-header {
                display: block;
                margin-bottom: (@grid-gutter-width / 2);
                text-transform: uppercase;
                font-size: @font-size-small;
                color: @gray;
                text-align: left;
              }

              .shipment-item {
                font-size: @font-size-small;
              }

              .item-color-tile, .item-name {
                text-transform: uppercase;
              }

            }

          }

        }

      }

    }

    #delivery-complete-shipping button {
      margin-right: @grid-gutter-width;
    }

  }

  #address-modal {

    h5 {
      font-size: @font-size-small;
      font-weight: bold;
      margin: (@grid-gutter-width / 2) 0;
    }

    .remove-address {
      padding-left: 0;
      padding-right: 0;
    }

  }

}

// RECEIPT PAGE
.frans-checkout-success {

  .frans-container {
    padding: 0 6px 6px; // thinner border around this container

    .shipment-summary {
      .cart-items {
        .row {
          .col-item {
            .item-thumbnail {
              width: initial;
              height: initial;
              line-height: initial;
            }
            .item-details {
              width: 68% !important; // less accurate, for older browsers
              width: ~'calc(100% - 58px)' !important; // more accurate, for newer browsers
              padding-right: 0;
              margin-right: -(@grid-gutter-width / 2);
              // Special micro breakpoint
              @media (min-width: 461px) {
                width: 70% !important; // less accurate, for older browsers
                width: ~'calc(70% - 14px)' !important; // more accurate, for newer browsers
              }
              .product-image {
                display: block;
              }
            }
          }
          span {
            vertical-align: baseline;
          }
          .micro-priceqty {
            float: left;
          }
        }
      }
    }
  }

  .cart {

    max-width: 590px;

    @media(min-width: @screen-md-min) {
      max-width: @container-md;
    }

    .page-title {

      text-align: center;
      margin: 0 0 @grid-gutter-width;

      @media(min-width: @screen-sm-min) {

        text-align: left;

        &:before {
          .sprite('section-icon-cart', inline-block);
          margin: 0 5px -6px (@grid-gutter-width * 2);
        }

      }

    }

  }

  .receipt {

    text-transform: none;

    #receipt-print-button {
      .sprite('print-icon');
      font-size: 0;
      cursor: pointer;
      float: right;
      margin: 1px 21px @grid-gutter-width 0;
    }
    #create-account-wrapper{
      background-image: url('@{image-path}bg-ribbon-2.jpg');
      background-repeat: no-repeat;
      background-position: 50% 0;

      @media(max-width: 400px) {
        background-image: none;
      }

    }
    .thanks {
      padding: 45px 20px 20px;
      font-size: 13px;

      h2 {
        font-size: 18px;
        margin: 0 0 0 0;
        text-transform: uppercase;
        text-align: center;
      }
    }
    #cust-order-success-opt-in-form {
      height: 250px;
      @media(max-width: 700px) {
        height: 150px;
      }
    }

    #cust-order-success-opt-in-form .content{
      width: 40%;
      margin: 0 auto;
      text-align: center;

      p{
        margin: 0 0 5px;
      }
      @media(max-width: 500px) {
        width: 85%;
      }
    }
    #cust-opt-in-email{
      color: #666;
      width: 100%;
      border: none;
      text-align: center;
    }

    #cust-opt-in-email-button{
      margin-top: 10px;
      padding-right: 30%;
      padding-left: 30%;
    }
    .guest-account-form, .guest-account-success {

      max-width: 360px;
      background-position: 690px -55px; // less accurate, for old browsers
      background-position: ~'calc(100% + 105px) -55px'; // more accurate, for new browsers
      background-repeat: no-repeat;
      width: 50%;
      margin: 0 auto;
      height: 275px;
      overflow: hidden;

      @media(max-width: 400px) {
        max-width: 400px;
        width: 75%;
      }
      .guest-continue-title {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
      }

      label {
        font-weight: normal;
        margin-bottom: 0;
      }

      span.jqTransformCheckboxWrapper {
        margin-right: (@grid-gutter-width / 2);
      }

      #register-button button {
        float: left;
        margin-top: 10px;
      }

      @media(max-width: @screen-ms-max){

        #passrequirements {

          left: 45px !important;

          .tooltip-arrow {
            left: -200px !important;
          }

        }

      }

    }

    .shipment-divider td {

      padding-left: 17px;

      &:last-child {
        background-image: none !important;
      }

    }

    .guest-account-success, .opt-in-success {
      text-align: center;
      max-height: none;
      padding-bottom: 20px;
      margin-top: 10px;
      margin-bottom: 35px;
      height: 85px;
      padding-top: 5px;

      .animation(none);

      div{
        padding: 10px;
        font-size: 12px;
        line-height: 18px;
      }
      a{
        text-decoration: underline;
      }
      div:first-child{
        text-transform: uppercase;
        font-size: 18px;
        padding: 30px 20px 0;
      }

      div:nth-child(3){
        padding-top: 0;
      }

      @media(max-width: 996px) {
        width: 100%;
        height: 125px;
      }

    }

    .receipt-status {
      margin-top: 5px;
      padding: 0 20px @grid-gutter-width 6px;
    }

    .order-number {
      color: @link-color-bright;
      text-decoration: none;
    }

  }

}

// order details styles for receipt and order view
.order-details {

  padding: 0 20px @grid-gutter-width;

  &.popup {
    padding: 0;
  }

  .content {
    background-color: lighten(@gray-lightest, 10%);
    padding: @grid-gutter-width @grid-gutter-width 0;
    margin: @grid-gutter-width 0;
  }

  .column, .payment-details {
    margin-bottom: @grid-gutter-width;
  }

  h3 {

    font-size: @font-size-small;
    text-transform: uppercase;
    margin-top: (@grid-gutter-width / 2);
    margin-bottom: 2px;
    font-weight: bold;

    &.shipment-header {
      font-weight: bold;
      margin-top: (@grid-gutter-width * 3);
    }

  }

  h4 {
    font-size: @font-size-small;
    text-transform: none;
    font-weight: bold;
    margin: 20px 0 5px;
  }

  address {

    margin-bottom: @grid-gutter-width;

    .frans-checkout-index & h4 {
      margin-top: 0;
    }

  }

  span {
    display: block;
  }

  .message-details span {
    font-style: italic;
  }

  .cart-items {

    background-color: transparent;
    border: none;
    text-transform: uppercase;

    .row {

      background-color: transparent;
      border-bottom: 1px solid @gray-lightest;
      padding-bottom: @grid-gutter-width;

      &:first-child {
        padding-top: 0;
      }

      &:last-of-type {
        border-bottom: none;
      }

      span {
        display: inline-block;
        vertical-align: middle;
      }

      .item-color-tile {
        display: block;
      }

    }

    .col-item {
      .make-xs-column(7);
    }

    .col-price, .col-total {
      .make-xs-column(1.5);
      padding-right: 0;
      width: 14.5%;
    }

    .col-qty {
      .make-xs-column(1.5);
    }

    .price-wrapper {
      right: 0;
    }

    .qty-wrapper {
      width: 100%;
    }

    .row .micro-priceqty, .row .micro-subtotal {
      display: none;
    }

    .micro-column-headers {
      display: none;
    }

    // Special micro breakpoint
    @media (max-width: 460px) {

      .col-item {
        .make-xs-column(12);
      }

      .col-price, .col-qty, .col-total, .column-headers {
        display: none;
      }

      .micro-column-headers {

        display: block;

        & > div {
          min-height: 0;
        }

      }

      .row .micro-priceqty {
        display: block;
        color: @gray-lighter;
      }

      .row .micro-subtotal {
        display: block;
        color: #000000;
        font-weight: bold;
        font-size: @font-size-small;
        float: right;
      }

    }


  }

  .newrow {
    border-top: (@grid-gutter-width * 3) solid transparent;
    clear: both;
  }

  .shipment-total {

    text-align: right;
    line-height: 2em;

    &.total {
      font-weight: bold;
    }

    .total-label {
      width: 85%;
      float: left;

      // Special micro breakpoint
      @media (max-width: 460px) {
        width: 70%;
      }

    }

    .total-amount {
      clear: right;
      float: right;
    }

  }

}

@keyframes next-step-arrow {
  from { top: -10px; }
  to { top: 0; }
}
@-webkit-keyframes next-step-arrow {
  from { top: -10px; }
  to { top: 0; }
}
@-moz-keyframes next-step-arrow {
  from { top: -10px; }
  to { top: 0; }
}

@keyframes guest-registration {
  0% {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  10% {
    margin-top: 10px;
    margin-bottom: 35px;
  }
  15% {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  100% {
    max-height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 35px;
  }
}
@-webkit-keyframes guest-registration {
  0% {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  10% {
    margin-top: 10px;
    margin-bottom: 35px;
  }
  15% {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  100% {
    max-height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 35px;
  }
}
@-moz-keyframes guest-registration {
  0% {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  10% {
    margin-top: 10px;
    margin-bottom: 35px;
  }
  15% {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  100% {
    max-height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 35px;
  }
}


// MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT

@media(max-width: @screen-xs-max) {

  .frans-checkout-index, .frans-checkout-multiship-index {
    .frans-tab-content {
      padding: 20px;
    }
  }
}

@media(min-width: @screen-ms-min) {

  #checkout-content .checkout-wrapper {
    border: (@grid-gutter-width / 2) solid #ffffff;
  }

}

@media(min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .frans-checkout-index, .frans-checkout-multiship-index {
    .frans-tab-content {
      padding: 20px;
    }
  }
}

@media(max-width: @screen-ms-max) {

  .frans-tabs {
    display: none;
  }

  .checkout-step {

    .frans-tab-content {

      margin: 0 0 @grid-gutter-width;
      border-left: none;
      border-right: none;

      .form-row h5 {
        margin-top: 0;
      }

    }

    .checkout-payment {

      background-color: #ffffff;
      padding: @grid-gutter-width 20px 20px;
      border-top: 1px solid #e2e2e2;

      @media (max-width: @screen-xs-max){
        border-bottom: 1px solid #e2e2e2;
      }

    }

    .order-summary {
      background: white !important;

      h5,
      .order-summary-totals,
      .order-summary-inset {
        display: none;
      }
      .order-summary-items {
        .row:not(:last-child)  {
          border-bottom: 1px solid #e1e1e1;
        }
        .col-total-qty {
          float: right;
          width: 10.75%;
        }
      }

    }
  }
  .mobile-cart {
    .expander-toggle {
      &:after {
        content: "+";
        float: right;
      }
    }
    .expanded {
      background-color: white !important;
      &:after {
        content: "-" !important;
        float: right;
      }
    }
  }

}