// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

// Captcha
.captcha-image {
  position: relative;
  width: 258px;
}
.captcha-note {
  clear: left;
  padding-top: 5px;
}
.captcha-image .captcha-img {
  border-radius: @input-border-radius;
  border: 1px solid @input-border;
  width: 100%;
}
.registered-users .captcha-image {
  margin: 0;
}
.captcha-reload {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 2px;

  .refreshing {
    -webkit-animation: captcha-rotate 1.5s infinite linear;
       -moz-animation: captcha-rotate 1.5s infinite linear;
        animation: captcha-rotate 1.5s infinite linear;
  }
}

@-webkit-keyframes captcha-rotate {
  0% { -webkit-transform: rotate(0); }
  0% { -webkit-transform: rotate(-360deg); }
}
@-moz-keyframes captcha-rotate {
  0% { -moz-transform: rotate(0); }
  0% { -moz-transform: rotate(-360deg); }
}
@keyframes captcha-rotate {
  0% { transform: rotate(0); }
  0% { transform: rotate(-360deg); }
}

// Login page
.account-login {

  max-width: @container-md;
  margin: 0 auto;

  .page-title {
    font-size: @font-size-h5;
    color: @gray;
    margin: 0 0 11px;
    text-align: center;
  }

  .button-dark {

    width: 100%;

    @media (min-width: @screen-ms-min) {
      width: auto;
    }

  }

}

// Dashboard
.dashboard {
  .box .box-title {
    .clearfix();
    padding: 0 0 (@line-height-computed / 2);
    margin: 0 0 (@line-height-computed / 2);
    border-bottom: 1px solid @panel-default-border;

    text-align: right;

    h3,
    h4 {
      margin: 0;
      float: left;
      font-size: @font-size-large;
    }
  }

  // Fix for the spacing when a box is nested in a column set.
  .col2-set > .box > .box-title {
    margin-left: (@grid-gutter-width / 2);
    margin-right: (@grid-gutter-width / 2);
  }
}



// Recent orders
.dashboard .box-recent {

  .data-table {
    margin-bottom: 0;
  }

}

.customer-account-index{
  .shipment-summary .tracking-number {
    color: gray;
    text-transform: uppercase;
  }
}

// Account information
.dashboard .box-info {
  p,
  address {
    margin: 0;
  }
  .box {
    margin-bottom: (@line-height-computed * 1.5);
  }
}

// Block: Reviews
.dashboard .box-reviews {
  ol {
    margin-bottom: 0;
  }
  .number {
    float: left;
  }
  .details {
    margin-left: 20px;
  }
  li.item {
    .clearfix();
    margin-bottom: (@line-height-computed / 2);

    &:last-child {
      margin-bottom: 0;
    }
  }
  .ratings {
    margin-top: (@line-height-computed / 4);
  }
}

/* Block: Tags */
.dashboard .box-tags {
  .number {
    float: left;
  }
  .details {
    margin-left: 20px;
  }
  li.item {
    margin-bottom: (@line-height-computed / 2);

    &:last-child {
      margin-bottom: 0;
    }
  }
  .tags {
    strong,
    ul,
    ul li {
      display: inline;
    }
  }
}

// Address Book
.addresses-list {
  h2 {
    font-size: @font-size-large;
  }
  h3 {
    margin-top: 0;
    font-size: @font-size-base;
  }
  address {
    margin: 0 0 3px;
  }
  p {
    margin: 0;
  }
  .link-remove {
    color: @alert-danger-text;
  }
  .separator {
    margin: 0 3px;
  }

  li.item {
    //.panel();
    padding: 15px;
    border-color: @panel-default-border;

    h3 {
      margin: -15px -15px 15px;
      //.panel-heading();
      border-color: @panel-default-border;
      background-color: @panel-default-heading-bg;
      color: @panel-default-text;
    }
  }
  li.empty {
    background: none;
    border: 0;
    padding: 0;
  }
  .addresses-additional li.item {

  }
}

// Order View
.order-info {
  margin-bottom: (@line-height-computed / 2);
  border-bottom: 1px solid @hr-border;

  dd {
    padding-left: 10px;
  }

  li {
    display: inline;
    margin: 0 3px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
  .current {
    font-weight: bold;
  }
}

.order-date {
  margin-bottom: (@line-height-computed / 2);
}

.order-info-box {
  //.panel();
  margin-left: 0;
  margin-right: 0;
  border-color: @panel-default-border;
  padding-top: 15px;

  .box {
    margin-bottom: 15px;
  }

  h2 {
    margin-top: 0;
    font-size: @font-size-base;
  }

  address {
    margin-bottom: 0;
  }
}

.order-items {
  h2 {
    font-size: @font-size-large;
  }
  h3 {
    font-size: @font-size-small;
  }

  .order-links {
    text-align: right;
  }
}

.order-additional {
  margin: (@line-height-computed / 2) 0;
}

// Order Gift Message
.gift-message {
  //.panel();
  padding: 15px;
  border-color: @panel-default-border;

  dt {
    padding-left: 10px;

    strong {
      display: block;
      margin-left: -10px;
    }
  }
  dd {
    margin-top: (@line-height-computed / 2);
  }
}

// Inside the table
.gift-message-row .gift-message {
  padding: 0;
  margin: 0;
  border: 0;
}

// Order Comments
.order-about {
  //.panel();
  padding: 15px;
  border-color: @panel-default-border;

  dd {
    margin-bottom: (@line-height-computed / 2);
    padding-left: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// My Wishlist
.my-wishlist {
  textarea {
    .form-control();
    height: auto;
  }

  .price-box {
    margin-bottom: (@line-height-computed / 4);
  }

  .add-to-cart-alt {
    input.input-text {
      margin-bottom: (@line-height-computed / 4);
    }
    .btn-cart {
      display: block;
      margin-bottom: (@line-height-computed / 4);
      width: 100%;
    }
  }

  p {
    margin-bottom: 0;
  }

  .link-edit {
    .btn();
    .btn-default();
    width: 100%;
    display: block;
  }

  .btn-add {
    .btn-primary();
  }
}

.product-review {
  .product-img-box {
    float: left;
    width: 140px;

    .product-image {
      .img-responsive();
    }

    .label {
      font-size: @font-size-small;
    }

    .ratings .rating-box {
      display: block;
      float: none;
      margin-bottom: (@line-height-computed / 4);
    }
  }

  .product-details {
    margin-left: 150px;
  }
  .product-name {
    margin-bottom: (@line-height-computed / 2);
    font-size: @font-size-large;
  }
  h3 {
    font-size: @font-size-base;
  }

  .ratings-table { margin:0 0 10px; }

  dt {
    margin-bottom: (@line-height-computed / 4);
  }
}

// Billing Agreements
.billing-agreements {
  .info-box {
    margin: (@line-height-computed / 2) 0;
  }
  .form-list li {
    select {
      float: left;
    }
    button.button {
      float: left;
      margin-left: 10px;
    }
  }
  .table-caption {
    font-weight: bold;
  }
}

.my-account .frans-container {

  // hide the container background on mobile
  background-color: transparent;

  .form-row:before, .form-row:after {
    display: block;
  }

  .welcome-block {

    padding: 20px 20px 0;
    text-align: center;
    box-sizing: border-box;
    max-width: 550px;
    margin: 0 auto;

    h3{
      text-transform: uppercase;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      margin: 8px 0 8px 0;
    }
    .general-greeting{
      font-weight: bold;
      font-size: 13px;
      line-height: 18px;
      margin: 0 0 8px 0;
      padding: 0;
    }
    .overview-info{
      font-size: 13px;
      line-height: 22px;
      margin: 0;
      padding-bottom: 0;

      .hello-email{
        color: #89551b;
        text-decoration: none;
      }
    }
    &.personal-profile{
      display: none;
    }
  }

}

.my-account-nav {

  background-color: lighten(@gray-lightest, 10%);
  border-bottom: 1px solid @gray-lightest;
  margin: (@grid-gutter-width * -1);
  padding: 0 9%;
  display: none; // hidden for mobile view, the links appear in the mobile nav menu instead

  ul {
    margin: 0;
  }

  li {

    float: left;
    width: 25%;
    text-align: center;
    font-size: @font-size-small;

    a {
      display: block;
      padding: 30px 0;
    }

    .section-header {
      display: block;
      text-transform: uppercase;
    }

    .my-account-nav-icon {
      border-bottom: 1px solid lighten(@gray-lightest, 4%);
      margin-bottom: 8px;
    }

    .title-icon {

      margin: 0 auto -1px;
      background-color: @gray-lighter;
      border-bottom: 1px solid lighten(@gray-lightest, 4%);
      .transition(~'background-color 200ms linear, border-color 200ms linear');

      &.overview {
        .sprite('account-icon-overview');
      }

      &.profile {
        .sprite('account-icon-profile');
      }

      &.orders {
        .sprite('account-icon-orders');
      }

      &.communications {
        .sprite('account-icon-communications');
      }

    }

    &.active .title-icon, :hover .title-icon {
      border-color: @brand-primary;
      background-color: @brand-primary;
      .transition(~'background-color 50ms linear, border-color 50ms linear');
    }

  }

}

.box-account {

  margin-bottom: @grid-gutter-width;

  table {

    width: 100%;
    max-width: 415px;
    margin: 0 auto;

    tr {

      display: block;

      &.order-row, &.order-history-title-bar {

        display: table-row;

        td {
          display: table-cell;
          float: none;
        }

        button {
          float: right;
          min-width: 0;
          margin-top: 0;
        }

        .no-addresses {
          font-weight: normal;
        }

      }

    }

    th {
      padding: 20px;
      vertical-align: bottom;
      font-size: @font-size-small;
    }

    td {
      display: block;
      float: left;
      width: 100%;
      margin-bottom: 2px;
      background-color: lighten(@gray-lightest, 10%);
      border: 1px solid @gray-lightest;
      vertical-align: top;
      padding: 20px;
      font-size: @font-size-small;
      color: @gray;
    }

    .edit-link {
      margin-top: -2px;
    }

    .tile-header {
      font-size: @font-size-medium-small;
      text-transform: uppercase;
      margin-top: 0;
    }

    .tile-label {
      font-weight: bold;
      margin-top: @line-height-computed;
    }

    .tile-value {
      color: @gray-lighter;
    }

    .btn {
      margin-top: @line-height-computed;
    }

    .f-left {
      width: 100%;
    }

    .edit-link {
      text-transform: uppercase;
    }

    @media(min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      .card-types li {
        margin-right: 2px;
      }
    }

  }

  .default-shipping-address-list {
    padding: 0 @grid-gutter-width;

    #newaccount-addressbooktip{
      font-size: 13px;
      position: relative;
      top: 92px;
      left: 830px;
      width: 220px;
      background: #fff;
      padding: 12px;
      box-sizing: border-box;
      text-align: center;
      border: 1px solid #ccc;
      box-shadow: 1px 1px 5px rgba(0,0,0,.2);
      z-index: 100;

      @media(max-width:1236px) {
        left: 590px;
      }

      @media(max-width:996px) {
        left: 380px;
        top: 42px;
      }

      @media(max-width:760px) {
        top: 0;
        left: 0;
        position: initial;
        margin: 0 auto 15px;

      }
    }
  }

  .user-info {

    border-spacing: @grid-gutter-width;
    border-collapse: separate;

    .newsletter-manage-index & {
      margin-bottom: 225px;
    }

  }

  .box-account{
    table{
        #mailing-address-subscribe-catalog{
            address {
              .tile-label{
                margin-top: 0;
            }
          }
      }
    }
  }

  #newsletter-catalogue {
    .newsletter-preferences {
        #mailing-address-subscribe-catalog {
          border-bottom: none;

      }
    }
  }
  .newsletter-preferences {

    li {
      border-bottom: 1px solid @gray-lightest;
    }

    label {
      color: @gray-dark;
      font-weight: normal;
      display: block;
      min-height: 34px;
    }

    .jqTransformCheckboxWrapper {
      float: right;
      margin-left: 20px;

      .jqTransformCheckbox {
        background: #ffffff;
        background-image: none !Important;
      }
    }

  }

  #my-addresses-table {

    background-color: lighten(@gray-lightest, 10%);
    border: 1px solid @gray-lightest;
    max-width: 415px - (@grid-gutter-width * 2);

    .tile-header {
      padding: @grid-gutter-width;
    }

    thead tr {

      &:first-child th {

        background-color: #ffffff;
        padding-left: 0;

        h4 {
          margin-bottom: 0;
          padding-bottom: 0;
          float: left;
        }

        button {
          margin-top: 0;
        }

      }

      &:first-child th {
        border-bottom: 1px solid @gray-lightest;
      }

      &:last-child th {
        border-bottom: 1px solid @gray-lightest;
        vertical-align: middle;
      }

    }

    tbody tr {

      cursor: pointer;

      &:hover td {
        background-color: lighten(@gray-lightest, 10%);
      }

    }

    th {
      background-color: lighten(@gray-lightest, 10%);
      padding: 10px @grid-gutter-width;
      color: @gray;
    }

    td {
      background-color: #ffffff;
      border: none;
      width: auto;
      padding: 10px @grid-gutter-width;
      border-bottom: 1px solid @gray-lightest;
      color: @gray-light;
      vertical-align: middle;
    }

  }

}

.orders-header {

  margin: 0 auto;
  padding: 25px 0 @grid-gutter-width;
  text-align: center;
  width: 90%;
  max-width: 390px;

  @media(min-width: @screen-sm-min) {
    margin: 0 100px;
    width: auto;
    max-width: none;
  }

  @media(min-width: @screen-md-min) {
    margin: 0 130px;
  }

  &.underline {
    text-align: left;
  }

  h4 {
    margin: 0;
    font-size: @font-size-medium-small;
  }

  .edit-link {
    text-transform: uppercase;
  }

}

.sales-order-history {

  #order-history-age-filter {
    width: 22%;
    min-width: 200px;
    margin: 0 auto (@grid-gutter-width * 2);
  }

  .pager .amount {

    margin-bottom: @grid-gutter-width;
    text-align: center;

    @media(min-width: @screen-sm-min) {
      text-align: left;
      margin-bottom: 0;
    }

  }

  .pages{
    @media(max-width: @screen-sm-min) {
      text-align: center;
      strong, ol li {
        display: inline-block;
      }
      ol li {
        font-size: 17px;
        margin: 0 6px;
      }
    }
  }

  .shipment-summary .tracking-number {
    color: gray;
    text-transform: uppercase;
  }

}

.box-orders {

  width: auto;
  max-width: 390px;
  margin: 0 auto;
  padding: 0 30px 25px;
  background-color: #ffffff;
  .clearfix();

  .order-tile {

    float: left;
    width: 100%; // less accurate, for old browsers
    padding-top: @grid-gutter-width;
    border-bottom: 1px solid @gray-lightest;
    font-size: @font-size-small;
    color: @gray-light;
    cursor: pointer;
    .transition(~'border-color 200ms linear');

    &:before {
      .sprite('account-order-arrow');
      float: right;
      margin-top: (@line-height-computed * 3.5);
      .transition(~'margin-right 200ms linear');
    }

    &:hover {

      border-color: @gray;
      .transition(~'border-color 50ms linear');

      &:before {
        margin-right: -5px;
        .transition(~'margin-right 50ms linear');
      }

    }

    .order-date {
      margin-bottom: 0;
      font-weight: bold;
      color: @gray-dark;
      text-transform: uppercase;
      font-size: @font-size-medium-small;
    }

    .order-status {
      margin-top: @line-height-computed;
      font-weight: bold;
      color: @gray-dark;
    }

    .order-thumbnail {

      float: left;
      margin: @grid-gutter-width @grid-gutter-width @grid-gutter-width 0;
      height: 70px;
      width: 70px;

      &:before {
        content: ' ';
        height: 50%;
        display: inline-block;
      }

      img {
        width: auto;
        height: auto;
        max-height: 70px;
        max-width: 70px;
        display: inline-block;
        vertical-align: middle;
      }

    }

    .order-total {
      font-weight: bold;
      color: @gray-dark;
    }

  }

}

.order-detail-actions {

  margin: 0;

  #order-print-button {
    .sprite('print-icon');
    font-size: 0;
    cursor: pointer;
    position: absolute;
    right: ((@grid-gutter-width * 2) + 40px);
    z-index: 1;
  }

  #order-resend-button {
    .sprite('resend-email-icon');
    font-size: 0;
    cursor: pointer;
    position: absolute;
    right: (@grid-gutter-width * 2);
    z-index: 1;
  }

}

// Login / Register / Continue As Guest form styles
#login-section {

  margin-top: 20px;

  #login-wrapper {

    background-color: lighten(@gray-lightest, 7%);
    margin: (@grid-gutter-width * -0.5);
    font-size: @font-size-small;

    &.forgot-password-wrapper {

      padding: 30px 20px;

      h5 {
        font-size: @font-size-small;
        font-weight: normal;
        text-transform: uppercase;
      }

      @media (max-width: @screen-xs-max) {

        #btn-cc-cancel {
          margin-top: 40px;
        }

        button[type="submit"] {
          margin-top: -80px;
        }

      }

    }

    .login-or-guest {
      padding: 30px 20px;
    }

    .email-notice {
      background-color: lighten(@gray-lightest, 5%);
      padding: 30px 20px;
      color: @gray;

      .notice-to-new-customers > *:last-child {
        margin-bottom: 0;
      }

    }

    h2 {
      font-size: @font-size-medium-small;
      margin-top: 0;
    }

    p {
      text-transform: none;
      margin-bottom: (@line-height-computed / 2);
    }

  }

}

#register-form {
  .register-checkbox {
    font-weight: normal;
    color: @gray;
  }
}

// Logout success styles
.logout-success {

  padding: 150px 30px;
  text-align: center;
  font-size: @font-size-small;

  @media (min-width: @screen-sm-min) {
    font-size: @font-size-large;
  }

}

// "You currently have no additional addresses" message
#shipping_address_grid > p {
  margin: 35px auto;
  max-width: 80%; // less accurate, for old browsers
  max-width: ~'calc(100% - ((125px - @{grid-gutter-width}) * 2))'; // more accurate, for new browsers
  padding: 0 @grid-gutter-width;
  text-align: center;
}

// MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT

@media(min-width: 460px) {
  #login-section #login-wrapper {

    &.forgot-password-wrapper {
      padding: 30px 50px;
    }
    .login-or-guest, .email-notice {
      padding: 30px 50px;
    }

  }
}

@media(min-width: @screen-ms-min) {
  #login-section #login-wrapper {

    &.forgot-password-wrapper {
      padding: 45px 105px;
    }
    .login-or-guest, .email-notice {
      padding: 45px 105px;
    }

  }
}

@media(min-width: @screen-sm-min) {

  #login-section {
    margin-top: 0;
  }

  .orders-header.underline {
    border-bottom: 1px solid @gray-lightest;
  }

  .my-account {

    .frans-container {
      margin-top: 0;
      background-color: #ffffff;
    }

  }

  .my-account-nav {
    display: block;
  }

  @media(max-width: @screen-sm-max){
    .box-orders {
      padding: 0 0 25px;
    }
  }

  .account-login .page-title {

    text-align: left;
    margin-top: 0;
    margin-bottom: 21px;

    &:before {
      .sprite('section-icon-cart', inline-block);
      margin: 0 5px -6px 0;
    }

  }

  .box-account {

    table {

      max-width: 90%; // less accurate, for old browsers
      max-width: ~'calc(100% - ((50px - @{grid-gutter-width}) * 2))'; // more accurate, for new browsers

      tr {
        display: table-row;
      }

      td {

        display: table-cell;
        width: 33.33%; // less accurate, for old browsers
        width: ~'calc(100% / 3)'; // more accurate, for new browsers
        margin-bottom: 0;
        float: none;

      }

      .f-left, .f-right {
        float: none !important;
        min-width: 0;
      }

    }

    #my-addresses-table {
      margin-top: 35px;
      border: none;
      max-width: 80%; // less accurate, for old browsers
      max-width: ~'calc(100% - ((125px - @{grid-gutter-width}) * 2))'; // more accurate, for new browsers
    }

  }

  .pager {

    font-size: @font-size-small;
    margin: (@grid-gutter-width * 2) 130px (-24px + @grid-gutter-width);

    & ~ .pager {
      margin-top: 0;
      margin-bottom: 50px;
    }

    .amount {
      float: left;
    }

    .pages {

      float: right;

      ol, li {

        display: inline-block;
        margin-left: (@grid-gutter-width / 2);

        .current {
          font-weight: bold;
        }

      }

    }

  }

  .box-orders {

    clear: both;
    max-width: 100%;
    margin: 0 100px;

    .order-tile {

      &.two {

        width: 45%; // less accurate, for old browsers
        width: ~'calc((100% - 80px) / 2)'; // more accurate, for new browsers

        &:nth-of-type(odd) {
          margin-right: 80px;
        }

      }

    }

  }

}

@media(min-width: @screen-md-min) {

  #login-section #login-wrapper.forgot-password-wrapper {
    padding-left: 300px;
    padding-right: 300px;
  }

  .box-account table {
    max-width: 80%; // less accurate, for old browsers
    max-width: ~'calc(100% - ((125px - @{grid-gutter-width}) * 2))'; // more accurate, for new browsers
  }

}