// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

@import "@{bootstrap-path}forms.less";

p.control input.checkbox,
p.control input.radio {
  margin-right: 6px;
}

.input-text {

  .form-control();

  &[type="number"]{

    padding-right: 3px;

    // remove the spinner arrows from small-form numeric inputs
    &.small {

      padding-top: 4px;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

    }

  }

  &.small {
    font-size: @font-size-smaller;
    height: 26px;
    width: 28px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

}

textarea {
  .input-text();
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: (@line-height-computed * 4);
  min-height: @input-height-base;
}

.form-list {
  .clearfix();

  li {
    .form-group();
    .clearfix();
  }
  label {
    position: relative;
  }
  label.required em {
    float: right;
    font-style: normal;
    color: @alert-danger-text;
    position: absolute;
    top: 0;
    right: -8px;
  }
  li.control label {
    float: none;
    display: block;
  }
  li.control input.radio,
  li.control input.checkbox {
    margin-right: 6px;

    // Reset bootstrap's radio styles
    display: inline;
    float: left;
    margin-top: 2px;
  }
  li.control .input-box {
    clear: none;
    display: inline;
    width: auto;
  }
  .field {
    float: left;
    width: 50%;
    padding-right: (@grid-gutter-width / 2);
    padding-left: (@grid-gutter-width / 2);

    &:first-child,
    &:first-of-type {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
  textarea,
  select {
    .form-control();
  }
  select[multiple],
  textarea {
    height: auto;
  }
  li.additional-row {
    border-top: 1px solid @legend-border-color;
    margin-top: 10px;
    padding-top: 7px;

    p {
      .clearfix();
    }

    .btn-remove {
      float: right;
      margin: 5px 0 0;
    }
  }

  .input-range {
    input.input-text,
    span {
      display: inline-block;
    }

    input.input-text {
      width: 40%;
    }
  }
}

.form-list-narrow {
  li {
    margin-bottom: 0;
  }
  li .input-box {
    margin-bottom: 6px;
  }
  li.wide .input-box {
    width: 260px;
  }
  li.wide input.input-text,
  li.wide textarea {
    width: 254px }
  li.wide select {
    width: 260px;
  }
}

// Customer
.form-list {

  // Pattern for combinations below is
  // prefix-FIRSTNAME-middlename-LASTNAME-suffix
  // where FIRSTNAME and LASTNAME are more important
  // than prefix, middlename and suffix. Present
  // item are represented by a number and a dash.
  // This ensures we hit every concevable combination

  // 1-1-0-1-0
  .customer-name-prefix {
    .name-prefix {
      width: 16%;
    }
    .name-firstname,
    .name-lastname {
      width: 42%;
    }
  }

  // 1-1-1-1-0
  .customer-name-prefix-middlename {
    .name-prefix,
    .name-middlename, {
      width: 16%;
    }
    .name-firstname,
    .name-lastname {
      width: 34%;
    }
  }

  // 1-1-0-1-1
  .customer-name-prefix-suffix {
    .name-prefix,
    .name-suffix {
      width: 16%;
    }
    .name-firstname,
    .name-lastname {
      width: 34%;
    }
  }

  // 1-1-1-1-1
  .customer-name-prefix-middlename-suffix {
    .name-prefix,
    .name-middlename,
    .name-suffix {
      width: 12%;
    }
    .name-firstname,
    .name-lastname {
      width: 32%;
    }
  }

  // 0-1-1-1-0
  .customer-name-middlename {
    .name-middlename {
      width: 16%;
    }
    .name-firstname,
    .name-lastname {
      width: 42%;
    }
  }

  // 0-1-1-1-1
  .customer-name-middlename-suffix {
    .name-middlename,
    .name-suffix, {
      width: 16%;
    }
    .name-firstname,
    .name-lastname {
      width: 34%;
    }
  }

  // 0-1-0-1-1
  .customer-name-suffix {
    .name-suffix {
      width: 16%;
    }
    .name-firstname,
    .name-lastname {
      width: 42%;
    }
  }

  // Date of birth is easy,
  // it's just 30% 30% 40%
  .customer-dob {
    .dob-day,
    .dob-month,
    .dob-year {
      float: left;
      padding-right: (@grid-gutter-width / 2);
      padding-left: (@grid-gutter-width / 2);

      &:first-child {
        padding-left: 0;
      }
    }

    // Unfortunately, the last child is not the
    // last element. However we can use a clever
    // selector to find this out.
    .dob-day + .dob-month + .dob-year,
    .dob-month + .dob-day + .dob-year,
    .dob-year + .dob-day + .dob-month,
    .dob-year + .dob-month + .dob-day {
      padding-right: 0;
    }

    .dob-day,
    .dob-month {
      width: 30%;
    }

    .dob-year {
      width: 40%;
    }
  }
}

.fieldset {
  // .clearfix();
}

.legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: @line-height-computed;
  font-size: (@font-size-base * 1.5);
  font-weight: normal;
  line-height: inherit;
  color: @legend-color;
  border: 0;
  border-bottom: 1px solid @legend-border-color;
}

// Button sets
.buttons-set {
  .clearfix();
  margin: 4em 0 0;
  padding: 8px 0 0;
  border-top: 1px solid @legend-border-color;
  line-height: @input-height-base;
  text-align: right;
}
.buttons-set p.required {
  margin: 0 0 10px;
}
.buttons-set .back-link {
  float: left;
  margin: 0;
}
.buttons-set button.button {
  float: right;
  margin-left: 5px;
}

.buttons-set-order {
  margin: 10px 0 0;
}
.buttons-set-order .please-wait {
  padding: 12px 7px 0 0;
}

// Form Validation
.validation-advice, .validation-advice-newsletter-modal {

  clear: both;
  color: @alert-danger-text;
  text-align: left;
  font-size: @font-size-smaller;
  text-transform: none;

  &.text-center {
    text-align: center;
  }

}
.validation-failed, .validation-failed-newsletter-modal  {
  border-color: @alert-danger-text !important;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.075)); // Redeclare so transitions work

  &:focus {
    border-color: darken(@alert-danger-text, 10%) !important;
    @shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten(@alert-danger-text, 20%);
    -webkit-box-shadow: @shadow !important;
        box-shadow: @shadow !important;
  }
}

p.required {
  text-align: right;
  color: @alert-danger-text;
}

// Address validation suggestion modal styles
#addressSelectionForm-singleship, #addressSelectionForm-multiship, #addressSelectionForm-customer{

  ul {
    margin: @grid-gutter-width 0;
  }

  li {

    padding: @grid-gutter-width;

    &:nth-child(even) {
      background-color: lighten(@gray-lightest, 7%);
    }

  }

  label {

    font-weight: normal;
    cursor: pointer;
    margin-bottom: 0;
    width: 100%;

    h3 {
      margin-bottom: 2px;
      font-size: @font-size-medium-small;
      font-weight: bold;
      text-transform: none;
    }

  }

  input[type="radio"] {
    cursor: pointer;
    float: left;
    margin: 1px 10px 1.7em 0;
  }

  .validation-suggestion {
    color: #dc7016;
    font-weight: bold;
  }

  .suggest-address-comma{
    color: #333;
    font-weight: normal;
  }

}

// Expiration date and CVV number validation fix
.v-fix {
  float: left;
}
.v-fix .validation-advice {
  display: block;
  width: 12em;
  margin-right: -12em;
  position: relative;
}

// extend the Bootstrap .form-control class
.form-control {

  .box-shadow(none);
  font-size: @font-size-small;
  -webkit-appearance: none; // disable mobile Safari's built-in extra styles

  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: default; // override Bootstrap's not-allowed cursor, which is jarring and unnecessary
    color: lighten(@gray-lightest, 3%);
    border: 1px solid lighten(@gray-lightest, 3%);
  }

}

// placeholder styles
input {
  &::input-placeholder,
  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  :-ms-input-placeholder { color: @gray-lighter; }
}
// end placeholder styles

// checkbox styles (uses jqTransform plugin)
span.jqTransformCheckboxWrapper {

  display: block;
  float: left;
  margin-right: 4px;

  a.jqTransformCheckbox {

    .sprite('checkbox', inline-block);
    .form-control-focus();
    vertical-align: baseline;
    margin-bottom: -1px;
    transition: box-shadow 0.3s;

    &.jqTransformChecked {
      .sprite('checkbox-checked', inline-block);
    }

  }

  // style checkboxes as toggle switches by assigning the "toggle-switch" class to the input element
  .toggle-switch + a.jqTransformCheckbox {

    background-image: none;
    background-color: #ffffff;
    border: 1px solid @gray-light;
    width: 72px;
    height: 27px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: normal;
    font-size: @font-size-small;
    .transition(~'border-color 100ms ease-out, box-shadow 100ms ease-out');

    &:before, &:after {
      display: inline-block;
      height: 25px;
      width: 35px;
      text-align: center;
      padding-top: 4px;
      color: #ffffff;
    }

    &:before {
      content: 'ON';
      background-color: @brand-primary;
      margin-left: -35px;
      .transition(~'margin-left 100ms ease-out, background-color 100ms ease-out');
    }

    &:after {
      content: 'OFF';
      background-color: @gray-light;
      margin-left: 35px;
      .transition(~'background-color 100ms ease-out');
    }

    &.jqTransformChecked {

      border-color: @brand-primary;

      &:before {
        margin-left: 0;
      }

      &:hover {
        border-color: darken(@brand-primary, 10%);
      }

    }

    &:hover {

      border-color: darken(@gray-light, 7%);
      .box-shadow(@input-focus-shadow);

      &:before {
        background-color: darken(@brand-primary, 7%);
      }

      &:after {
        background-color: darken(@gray-light, 7%);
      }


    }

  }

  .jqTransformHidden {
    display: none;
  }
}
// end checkbox styles

// dropdown (select) styles
select {

  .input-text();
  // use special spritesheet with all images aligned to right or left edge
  background-image: url('@{image-path}frans-sprites-edges.png') !important;
  background-repeat: no-repeat;
  background-position: right -16px;
  cursor: pointer;
  padding: 1px 13px 3px 2px;
  text-overflow: '';
  -webkit-appearance: none;
  -moz-appearance: none;

  &:disabled {

    color: #dadada;

    &[selected] {
      display: none;
      background-color: #fff;
      color: #a8a8a8;
    }

  }

  &.empty {
    color: @gray-lighter;
  }

  .notmac.safari & {
    padding-left: 7px;
    padding-top: 4px;
  }

  .mac.safari &,
  .ios.safari &,
  .mac.chrome & {
    padding-left: 6px;
    padding-top: 4px;
  }

  &::-ms-expand {
    display: none;
  }

  @-moz-document url-prefix() {
    & {
      padding: 6px 1px 6px 0;
      text-indent: 1.5px;
    }
  }

  @media all and (-ms-high-contrast:none) {
    & {
      padding-left: 4px;
    }
  }

}

option {

  color: @gray;

  &:disabled {

    color: @gray-lightest;

    &[selected] {
      display: none;
      background-color: #fff;
      color: @gray-light;
    }

  }
}
// end dropdown (select) styles