// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

@import "@{bootstrap-path}grid.less";

.container {
  @media (min-width: @screen-sm-min) {
    padding: 0;
  }
}

.col2-set,
.col2-set,
.col4-set {
  .make-row();
}

// Content Columns
.col2-set {

  > .legend {
    margin-left: (@grid-gutter-width / 2);
    margin-right: (@grid-gutter-width / 2);
    width: auto;
  }

  .col-1,
  .col-2 {
    .make-sm-column(6);
  }
  .col-narrow {
    .make-sm-column(4);
  }
  .col-wide {
    .make-sm-column(8);
  }
}

.col3-set {

  .col-1,
  .col-2,
  .col-3 {
    .make-sm-column(4);
  }
}

.col4-set {

  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    .make-sm-column(3);
  }
}

div[role="main"] {

  padding-top: @navbar-offset;

  @media(min-width: @screen-md-min) {
    padding-top: 0;
  }

}

// generates a container for a grid with Fran's background and gutter behavior
.frans-container {

  background-color: @content-bg;
  padding: 0;

  &.keep-mobile-gutters {
    padding: @grid-gutter-width;
  }

  & > p {
    margin: 0;
  }

  @media(max-width: @screen-ms-max){
    width: 100%;
  }

  @media(min-width: @screen-sm-min){

    .make-row();
    padding: @grid-gutter-width;

    // if multiple frans-containers appear in a row, remove the padding between them
    // where is this needed? creates a bug when empty containers are added above main product sets
    // disabling to fix this layout bug.
    //& + .frans-container {
    //  padding-top: 0;
    //}

    &:empty {
      padding: 0;
      margin: 0;
    }

  }

}

.banner {

  background-position: top center;
  background-repeat: no-repeat;

  a {
    display: block;
  }

  .content {
    min-height: 350px;
    .clearfix();
  }

}

// row wraps underneath the rows that follow it, only on screens larger than mobile
.backdrop {

  .make-row();
  margin-top: (@navbar-offset * -1);

  @media(max-width: @screen-ms-max){

    margin-left: 0;
    margin-right: 0;
    //height: 400px; // banner is shorter on small screens (REMOVED: was added in SVN commit 1254 but appears to be breaking stuff)

    & > [class*="col-"]{
      padding-left: 0;
      padding-right: 0;
    }

  }

  @media(min-width: @screen-sm-min){

    .banner a .content {
      min-height: 400px; // cutoff height, see fixRowHeights() function in frans-main.js
    }

    display: inline-block;
    width: 102%; // less accurate, for old browsers
    width: ~'calc(100% + (@{grid-gutter-width} * 2))'; // more accurate, for new browsers
    margin-left: (@grid-gutter-width * -1);
    margin-right: (@grid-gutter-width * -1);
    margin-top: 0;
    height: (420px - (@grid-gutter-width / 2));

    .banner {
      height: 770px; // banner height exceeds container so the image continues behind next content
    }

  }

  // backdrop should always be followed by a frans-container
  & + .frans-container {

    padding-top: 0;

    // remove margin from mobile view of top of first tile-row, if there is one
    .tile-row:first-child {

      margin-top: 0;

      .tile .tile-content {
        margin-top: 0;
      }

    }

  }

}

// use form-row class instead of row to use narrower gutters between rows and cols
.form-row {

  .make-row(@form-gutter-width);
  margin-bottom: @form-gutter-width;

  h5 {
    font-size: @font-size-small;
    font-weight: bold;
    text-transform: none;
    margin: ((@input-height-base - @font-size-small) / 2) 0 0;
  }

  button {
    float: right;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .col-xs-12 { .make-xs-column(12; @form-gutter-width); }
  .col-xs-11 { .make-xs-column(11; @form-gutter-width); }
  .col-xs-10 { .make-xs-column(10; @form-gutter-width); }
  .col-xs-9 { .make-xs-column(9; @form-gutter-width); }
  .col-xs-8 { .make-xs-column(8; @form-gutter-width); }
  .col-xs-7 { .make-xs-column(7; @form-gutter-width); }
  .col-xs-6 { .make-xs-column(6; @form-gutter-width); }
  .col-xs-5 { .make-xs-column(5; @form-gutter-width); }
  .col-xs-4 { .make-xs-column(4; @form-gutter-width); }
  .col-xs-3 { .make-xs-column(3; @form-gutter-width); }
  .col-xs-2 { .make-xs-column(2; @form-gutter-width); }
  .col-xs-1 { .make-xs-column(1; @form-gutter-width); }

  .col-ms-12 { .make-ms-column(12; @form-gutter-width); }
  .col-ms-11 { .make-ms-column(11; @form-gutter-width); }
  .col-ms-10 { .make-ms-column(10; @form-gutter-width); }
  .col-ms-9 { .make-ms-column(9; @form-gutter-width); }
  .col-ms-8 { .make-ms-column(8; @form-gutter-width); }
  .col-ms-7 { .make-ms-column(7; @form-gutter-width); }
  .col-ms-6 { .make-ms-column(6; @form-gutter-width); }
  .col-ms-5 { .make-ms-column(5; @form-gutter-width); }
  .col-ms-4 { .make-ms-column(4; @form-gutter-width); }
  .col-ms-3 { .make-ms-column(3; @form-gutter-width); }
  .col-ms-2 { .make-ms-column(2; @form-gutter-width); }
  .col-ms-1 { .make-ms-column(1; @form-gutter-width); }

  .col-sm-12 { .make-sm-column(12; @form-gutter-width); }
  .col-sm-11 { .make-sm-column(11; @form-gutter-width); }
  .col-sm-10 { .make-sm-column(10; @form-gutter-width); }
  .col-sm-9 { .make-sm-column(9; @form-gutter-width); }
  .col-sm-8 { .make-sm-column(8; @form-gutter-width); }
  .col-sm-7 { .make-sm-column(7; @form-gutter-width); }
  .col-sm-6 { .make-sm-column(6; @form-gutter-width); }
  .col-sm-5 { .make-sm-column(5; @form-gutter-width); }
  .col-sm-4 { .make-sm-column(4; @form-gutter-width); }
  .col-sm-3 { .make-sm-column(3; @form-gutter-width); }
  .col-sm-2 { .make-sm-column(2; @form-gutter-width); }
  .col-sm-1 { .make-sm-column(1; @form-gutter-width); }

  .col-md-12 { .make-md-column(12; @form-gutter-width); }
  .col-md-11 { .make-md-column(11; @form-gutter-width); }
  .col-md-10 { .make-md-column(10; @form-gutter-width); }
  .col-md-9 { .make-md-column(9; @form-gutter-width); }
  .col-md-8 { .make-md-column(8; @form-gutter-width); }
  .col-md-7 { .make-md-column(7; @form-gutter-width); }
  .col-md-6 { .make-md-column(6; @form-gutter-width); }
  .col-md-5 { .make-md-column(5; @form-gutter-width); }
  .col-md-4 { .make-md-column(4; @form-gutter-width); }
  .col-md-3 { .make-md-column(3; @form-gutter-width); }
  .col-md-2 { .make-md-column(2; @form-gutter-width); }
  .col-md-1 { .make-md-column(1; @form-gutter-width); }

  .col-lg-12 { .make-lg-column(12; @form-gutter-width); }
  .col-lg-11 { .make-lg-column(11; @form-gutter-width); }
  .col-lg-10 { .make-lg-column(10; @form-gutter-width); }
  .col-lg-9 { .make-lg-column(9; @form-gutter-width); }
  .col-lg-8 { .make-lg-column(8; @form-gutter-width); }
  .col-lg-7 { .make-lg-column(7; @form-gutter-width); }
  .col-lg-6 { .make-lg-column(6; @form-gutter-width); }
  .col-lg-5 { .make-lg-column(5; @form-gutter-width); }
  .col-lg-4 { .make-lg-column(4; @form-gutter-width); }
  .col-lg-3 { .make-lg-column(3; @form-gutter-width); }
  .col-lg-2 { .make-lg-column(2; @form-gutter-width); }
  .col-lg-1 { .make-lg-column(1; @form-gutter-width); }

}