// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

// Products grid
.products-grid {
  .make-row();

  .item {
    .make-xs-column(4);
    min-height: 390px;
    padding-bottom: 80px;
  }

  .product-image {
    display: block;
    margin-bottom: (@line-height-computed / 2);

    img {
      .img-thumbnail();
    }
  }

  .product-name {
    min-height: (@line-height-computed * 3); // 3 Lines
  }

  .price-box {

  }

  .actions {
    position: absolute;
    bottom: 0;
  }

  .add-to-links {

    .separator {
      display: none;
    }
  }
}

// Products list block
.products-list {
  li.item {
    .clearfix();
    padding: (@line-height-computed / 2) 0;
    border-bottom: 1px solid @hr-border;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  .product-image {
    float: left;
    width: 150px;
    display: block;

    img {
      .img-thumbnail();
    }
  }

  .product-shop {
    margin-left: 160px;
  }

  .add-to-links {

    li {
      display: inline;
    }

    .separator {
      display: inline;
      margin: 0 4px;
    }
  }
}

// Product name
.product-name {
  margin: 0;
  font-size: @font-size-base;
  font-weight: @headings-font-weight;
  line-height: @line-height-computed;
}

// Availability
.availability {
  margin: 0;

  span {
    font-weight: bold;
  }

  &.in-stock span {
    color: @alert-success-text;
  }

  &.out-of-stock span {
    color: @alert-danger-text;
  }
}

.availability-only {
  span,
  a {
    font-weight: bold;
  }
}

.availability-only-details {
  .table();
}

// Add to cart
.add-to-cart {

  .paypal-logo {
    margin: 0;
    text-align: right;

    .paypal-or {
      display: block;
      margin: 5px 60px 5px 0;
    }

    .paypal-logo {
      margin: 0;
    }
  }
}

// "Add to box"
.add-to-box {
  .clearfix();
  text-align: center;
  padding-left: (@grid-gutter-width / 2);
  padding-right: (@grid-gutter-width / 2);

  .add-to-cart {
    margin: 0 (-@grid-gutter-width / 2) (@line-height-computed / 2);
  }

  .or {
    float: left;
  }

  .add-to-links {
    float: right;

    li,
    .separator {
      float: left;
    }

    .separator {
      margin: 0 4px;
    }
  }
}

// Product view page
.product-view {
  .make-row();
}
.product-essential,
.product-collateral {
  .make-ms-column(12);
  .make-sm-column(12);
  .make-lg-column(9);
  float: none !important;
  margin: 0 auto;

  @media(min-width: @screen-lg-min) {
    width: 960px;
  }

}

// Essential (media + shop)
.product-essential {

  .product-name {

    .make-md-column(5);
    text-align: center;
    padding: 0 45px 0;

    @media(min-width: @screen-sm-min){
      padding: 25px 125px 0;
    }

    @media(min-width: @screen-md-min){
      float: right !important; // fudge column placement to appear above .product-shop
      padding: 25px 0 0 30px;
      text-align: left;
    }

    h2 {
      font-size: 20px; // TODO: Use a font-size variable instead of hard-coding size here
      font-weight: normal;
      margin-top: 0;
    }

    h3 {
      font-size: 13px;
      font-weight: normal;
      color: #636363;
      margin: 0 0 6px;
    }

  }

  .product-shop {

    .make-md-column(5);

    .add-to-cart {

      text-align: center;
      margin-top: 35px;

      .btn-cart {
        width: 100%;
        max-width: 560px;
        margin: 0 auto;
      }

      p {
        margin-bottom: 5px;
      }

      .unavailable-header {
        font-size: @font-size-small;
        color: @gray;
        text-transform: uppercase;
      }

      .unavailable-label {
        font-size: @font-size-small;
        font-weight: bold;
      }

    }

    @media(min-width: @screen-sm-min){
      .add-to-cart .btn-cart {
        width: 265px;
        font-size: @font-size-small;
      }
    }

    @media(min-width: @screen-md-min){

      float: right !important; // fudge column placement to appear below .product-name
      padding: 0 0 30px 30px;

      .add-to-cart {

        text-align: left;
        margin-top: @line-height-computed;

        .btn-cart {
          width: auto;
        }

      }

    }

  }

}

@media(max-width: @screen-ms-max){
  body.catalog-product-view {

    background-color: @body-bg;
    background-image: url('@{image-path}bg-default.png');

    .layout.layout-1-col div[role="main"]{
      max-width: none;
    }

  }
}

// Product images
.product-img-box {

  .make-md-column(7);
  padding: 0;
  max-width: 520px;
  margin: 0 auto 30px;
  height: 228px;

  .product-image {

    margin-bottom: 0;

    li {

      position: absolute;
      display: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 4;

      img {
        max-width: 100%;
        max-height: 228px; // same as height of .product-img-box
      }

      &.active {
        display: block;
        z-index: 5;
      }

    }

  }

  .gallery-control {

    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 6;
    font-size: 0;
    text-indent: -5000px;
    vertical-align: middle;

    &.gallery-prev {

      width: 75px;
      left: 0;
      .transition(background-color 100ms linear);

      span {
        .sprite('gallery-prev');
        position: absolute;
        top: 0;
        bottom: 0;
        left: (@grid-gutter-width / 2);
        right: 65%; // less accurate, for old browsers
        right: ~'calc(100% - 20px - (@{grid-gutter-width} / 2))'; // more accurate, for new browsers
        .transition(right 50ms linear);
        margin: auto;
        color: transparent;
        font-size: 0px;
      }
    }

    &.gallery-next {

      width: 75px;
      right: 0;
      //.transition(background-color 100ms linear);

      span {
        .sprite('gallery-next');
        position: absolute;
        top: 0;
        bottom: 0;
        right: (@grid-gutter-width / 2);
        left: 65%; // less accurate, for old browsers
        left: ~'calc(100% - 20px - (@{grid-gutter-width} / 2))'; // more accurate, for new browsers
        //.transition(left 50ms linear);
        margin: auto;
      }


    }

  }

  .gallery-pager {

    position: absolute;
    bottom: -18px;
    left: (@grid-gutter-width / 2);
    right: (@grid-gutter-width / 2);
    text-align: center;
    z-index: 6;


    span {
      text-indent: -4000px;
    }
    .gallery-control {

      .sprite('gallery-pager', inline-block);
      position: static;
      margin: 0 1.5px;

      &:hover {
        .sprite('gallery-pager-hover', inline-block);
      }

      &.active {
        .sprite('gallery-pager-active', inline-block);
      }

    }


  }

}

// Product Options
.product-options {
  //.well();
  //.well-sm();
  margin-bottom: (@line-height-computed / 2);
  position: relative;

  dl {
    margin: 0;
  }
  dt {
    padding-top: 10px;
    font-weight: normal;

    label {
      margin-bottom: 0;
      font-weight: bold;

      &.required em {
        margin-left: 2px;
        color: @alert-danger-text;
      }
    }

    .qty-disabled {
      background: none;
      border: 0;
      padding: 3px;
    }
  }
  dd .qty-holder {
    display: block;

  }
  dd .qty-holder label {
    vertical-align: middle;
  }
  dd {
    padding: 5px 0 10px 5px;
    border-bottom: 1px solid @hr-border;

    .input-text,
    select,
    textarea {
      .form-control();
    }

    select[multiple],
    textarea {
      height: auto;
    }
  }
  dl.last dd.last {
    border-bottom: 0;
    margin-bottom: 0;
  }
  ul.options-list {
    margin-bottom: 0;

    input.radio {
      float: left;
      margin-top: 3px;
    }
    input.checkbox {
      float: left;
      margin-top: 3px;
    }
    .label {
      display: block;
      margin-left: 18px;
    }
    label {
      font-weight: normal;
    }
  }
  ul.validation-failed {
    padding: 0 7px;
  }
  p.note {
    margin: 0;
    font-size: @font-size-small;
  }
  p.required {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

// Product options bottom
.product-options-bottom {
  .make-row();

  .price-box,
  .add-to-cart {
    .make-md-column(6);
  }

  .add-to-links {
    padding-top: (@line-height-computed / 2);
    clear: both;
    text-align: center;

    li {
      display: inline;
    }
  }
  .price-box {
    .clearfix();
    padding-top: (@line-height-computed / 2);
  }
  .price-label {
    float: left;
    padding-right: 5px;
  }
  .price-tax {
    float: left;
  }

  @media (min-width: @screen-md) {
    .price-box {
      padding-top: 0;
    }
  }
}

// Grouped products
.product-view .grouped-items-table {
  .price-box {
    margin: 0;
  }

  .qty {
    width: auto;
  }
}

.product-view .box-collateral {
  .clearfix();
  //.panel();
  padding: 15px;
  border-color: @panel-default-border;

  > h2 {
    //.panel-heading();
    margin: -15px -15px 15px;
    border-color: @panel-default-border;
    background-color: @panel-default-heading-bg;
    font-size: ceil((@font-size-base * 1.125));
    color: @panel-default-text;
  }
}

// Attributes
.product-view .box-additional {
  padding: 0;

  > h2 {
    margin: 0;
  }

  .data-table {
    border: 0;
    margin-bottom: 0;

    > tbody > tr {
      > th {
        border-left: 0;
      }
      > td {
        border-right: 0;
      }

      &.first {
        > th,
        > td {
          border-top: 0;
        }
      }

      &.last {
        > th,
        > td {
          border-bottom: 0;
        }
      }
    }
  }
}

// Upsell products
.product-view .box-up-sell {
  .table-responsive {
    padding: 15px 0;
  }
  .products-grid {
    margin: 0;
    width: 100%;

    td {
      width: 25%;
      padding: 0 (@grid-gutter-width / 2);
      vertical-align: top;
    }

    .product-image,
    .price-box {
      margin-bottom: (@line-height-computed / 2);
    }

    .ratings {
      margin-bottom: 0;
    }
  }

  @media (max-width: @screen-sm) {
    .products-grid {
      min-width: 500px;
      > tbody > tr {
        > th,
        > td {
          white-space: normal;
        }
      }
    }
  }
}

// Tags
.product-view .box-tags {
  margin: 0;

  .product-tags li {
    display: inline;
    white-space: nowrap;
    margin: 0 6px;
  }

  .note {
    margin: 0;
    text-align: center;
  }
}

// Reviews
.product-view .box-reviews {
  dt {
    padding-top: 15px;
    font-weight: normal;

    a,
    span {
      font-weight: bold;
    }
  }
  dd {
    .clearfix();
    padding-bottom: 15px;
    border-bottom: 1px solid @hr-border;

    .ratings-table {
      float: left;
      margin-right: 10px;
    }

    small {
      font-style: italic;
    }
  }

  .form-add {

    h3 {
      margin-top: 0;
      font-size: @font-size-base;
      font-weight: normal;

      span {
        font-weight: @headings-font-weight;
      }
    }

    // Make the h4 act like a label
    h4 {
      display: inline-block;
      position: relative;
      margin-bottom: 5px;
      font-size: @font-size-base;
      font-weight: bold;

      em {
        float: right;
        position: absolute;
        top: 0;
        right: -8px;
        color: @alert-danger-text;
      }
    }

    td.value {
      text-align: center;

      .radio {
        display: inline;
        margin: 0;
        padding: 0;
        height: (@line-height-computed);
      }
    }

    @media (max-width: @screen-sm) {
      form {
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 15px;
        border: 1px solid @table-border-color;
      }
    }
  }
}

// Product Tags
.tags-list {
  margin: 0;
  padding: 10px;

  li {
    display: inline !important;
    margin: 0 3px;
  }
}

// Color tiles
.color-tiles {

  .clearfix();

  line-height: 0;
  font-size: 0;
  padding-top: (@line-height-computed / 2);
  width: 265px;
  margin: 0 auto;
  text-align: center;

  .color-tile-wrapper {
    margin: -5px;
  }

  @media (min-width: @screen-md-min){
    text-align: left;
    border-top: 1px solid @gray-lighter;
    width: auto;
    margin-top: @line-height-computed;
  }

  h4 {
    font-size: @font-size-base;
  }

  label {

    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    background-position: center;
    background-size: 30px 30px;
    text-indent: -4000px;
    color: transparent;
    font-size: 0px;
    border: 1px solid #DDD;
    .transition(border-color 150ms);

    &.checked, &:hover {
      border: 1px solid #DDD;
      box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,.5);
    }

    input[type="radio"] {

      margin: 0;
      vertical-align: top;
      width: 0;
      height: 0;
      position: absolute;
      top: -1000px; // since some browsers won't shrink width and height to zero, move the button off the top of the page

      &:focus:before {

        display: block;
        width: 33px;
        height: 33px;
        content: "";
        opacity: 1;
        .box-shadow(@input-focus-shadow-dark);
        position: absolute;
        top: 1000px; // cancel out the negative position of the button, putting this pseudo-element where it needs to be
        left: -17px; // compensate for the position of center-aligned tiles on small devices (number is half of tile width, rounded)

        @media(min-width: @screen-md-min){
          left: auto; // cancel out the compensation when tiles are left-justified
        }

      }

    }

  }

}

.product-basics {

  line-height: 34px;
  font-size: @font-size-small;
  width: 220px;
  margin: 22px auto 8px;

  & > div:first-child {

    padding: 0.8em 0 0 0;
    line-height: 1.3em;

    & > select {
      margin-top: -0.8em;
    }

  }

  & > div:last-child {
    padding-right: 0;
  }

  .price {
    display: inline-block;
    text-align: right;
    padding-right: 20px;
  }

  @media(min-width: @screen-md-min){

    margin: 0;
    width: auto;

    .price {
      text-align: left;
    }

  }

}

// Quantity field
.input-text.qty {
  text-transform: uppercase;
}

// Attribute accordion
.product-collateral {

  margin-top: 40px;

  & > ul > li {

    background-color: @gray-lightest;
    margin-bottom: 1px;
    font-size: @font-size-small;

    & > span {

      display: block;
      position: relative;
      padding: @grid-gutter-width ((@grid-gutter-width * 2) + 12px) @grid-gutter-width @grid-gutter-width;
      text-transform: uppercase;
      .transition(background-color 150ms);

      .expander-icon {
        position: absolute;
        .sprite('expander-icon-plus');
        top: 0;
        bottom: 0;
        right: @grid-gutter-width;
        margin: auto;
      }

      &.expanded {
        font-weight: bold;
        background-color: lighten(@gray-lightest, 3%);

        .expander-icon {
          .sprite('expander-icon-minus');
        }

      }

      &:hover {

        background-color: darken(@gray-lightest, 3%);

        &.expanded {
          background-color: lighten(@gray-lightest, 3%);
        }

      }

    }

    & > ul {

      line-height: @line-height-small;
      background-color: @gray-lightest;
      padding: @grid-gutter-width;
      .transition(background-color 150ms);

      &.expanded {
        background-color: lighten(@gray-lightest, 3%);
      }

    }

    &:last-child {
      margin-bottom: 0;
    }

  }

}

// "Inside The Box" attribute
#ex-inside_the_box {

  .row {

    margin-bottom: @grid-gutter-width;

    .inside-the-box-column {

      margin-bottom: @grid-gutter-width;

      &:last-child {
        margin-bottom: 0;
      }

    }

    &:last-child {
      margin-bottom: 0;
    }

  }

  .product-piece-image {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .product-piece-details {

    background-color: lighten(@gray-lightest, 7%);
    padding: 18px 20px 10px;

    .product-piece-name {
      font-weight: bold;
    }

  }

}
// End "Inside The Box" attribute

// "Nutrition & Ingredients" attribute
#ex-nutrition_ingredients {

  .nutrition-wrapper {

    background-color: lighten(@gray-lightest, 3%);
    background-position: bottom left;
    background-repeat: no-repeat;
    margin: (-40px - @grid-gutter-width) (@grid-gutter-width * -1) (@grid-gutter-width * -1);
    padding: (40px + @grid-gutter-width) @grid-gutter-width @grid-gutter-width;

    @media(max-width: @screen-ms-max){
      background-image: none !important;
    }

  }

  .nutritional-facts {

    background-color: #ffffff;
    border: 15px solid #ffffff;
    margin: 0 auto @line-height-computed;
    width: 290px;

    @media(min-width: @screen-sm-min){
      float: right;
      margin: 0 28px 40px 60px;
    }

    h5 {
      text-transform: none;
      margin: 0;
    }

    td {
      padding: 5px 10px;
    }

    .facts-header,
    .net-weight {
      padding: 0 0 10px 0;
    }

    .serving-size {
      padding: 0;
    }

    .amount-per-serving,
    .total-fat,
    .total-fat-dv,
    .saturated-fat,
    .saturated-fat-dv,
    .total-carbohydrate,
    .total-carbohydrate-dv,
    .dietary-fiber,
    .dietary-fiber-dv,
    .vitamin-a,
    .vitamin-c,
    .calcium {
      padding-bottom: 0;
    }

    .calories,
    .calories-from-fat,
    .saturated-fat,
    .saturated-fat-dv,
    .trans-fat,
    .trans-fat-dv,
    .dietary-fiber,
    .dietary-fiber-dv,
    .sugars,
    .vitamin-c,
    .calcium,
    .iron {
      padding-top: 0;
    }

    .calories-from-fat {
      padding-left: 0;
    }
    
    .saturated-fat,
    .trans-fat,
    .dietary-fiber,
    .sugars {
      text-indent: 10px;
    }

    .amount-per-serving,
    .calories,
    .calories-from-fat {
      background-color: lighten(@gray-lightest, 7%);
    }

    .divider-after {
      border-bottom: 1px solid @gray-lightest;
    }

    .calories .nutrition-label,
    .total-fat .nutrition-label,
    .cholesterol .nutrition-label,
    .sodium .nutrition-label,
    .total-carbohydrate .nutrition-label,
    .protein .nutrition-label {
      font-weight: bold;
    }

    .total-carbohydrate .nutrition-value {
      line-height: 3em;
    }

    .daily-value-header,
    .daily-value {
      text-align: right;
    }

    .daily-value {
      font-weight: bold;
    }

    .nutrition-label {
      float: left;
    }

    .nutrition-value {
      float: right;
    }

    .daily-value-footnote {
      font-size: @font-size-smaller;
      padding: 10px 5px 0;
    }

  }

  ul.badges {

    .clearfix();

    & > li {

      float: left;
      text-align: center;
      margin-right: 28px;
      min-width: 60px;

      &:last-child {
        margin-right: 0;
      }

      .badge {

        margin: 8px auto 4px;
        width: 62px;
        height: 62px;
        background-size: 62px auto;
        display: block;

        &.gluten-free {
          background-image: url('@{image-path}cms/nutrition-badge-gluten.png');
        }

        &.non-gmo {
          background-image: url('@{image-path}cms/nutrition-badge-gmo.png');
        }

        &.vegan {
          background-image: url('@{image-path}cms/nutrition-badge-vegan.png');
        }

        &.alcohol {
          background-image: url('@{image-path}cms/nutrition-badge-alcohol.png');
        }

        &.milkeggs {
          background-image: url('@{image-path}cms/nutrition-badge-milkeggs.png');
        }

        &.nuts {
          background-image: url('@{image-path}cms/nutrition-badge-nuts.png');
        }

        &.fairtrade {
          background-image: url('@{image-path}cms/nutrition-badge-fairtrade.png');
          margin-left: 10px;
        }

        &.organic {
          background-image: url('@{image-path}cms/nutrition-badge-organic.png');
        }

      }

    }

  }

}
.expander-toggle.expanded[data-expander-id="ex-nutrition_ingredients"] {
  background-color: transparent;
}
// End "Nutrition & Ingredients" attribute

// "Gift Services" attribute
#ex-gift_services {

  .gift-services-header {
    text-align: center;
    margin-bottom: @grid-gutter-width;
  }

  .row {

    // use equal column heights
    display: table-row;

    .gift-services-column {

      float: none;
      background-color: lighten(@gray-lightest, 7%);
      border-bottom: @grid-gutter-width solid lighten(@gray-lightest, 3%);

      p {

        margin: 0;
        padding: 0 20px 0;

        &:first-child {
          padding: 0;
          min-height: 150px;
        }

        &:last-child {
          padding-bottom: 10px;
        }

      }

      img {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        height: auto;
        margin: 0 auto;
        max-height: 200px;
        max-width: 98%;
      }

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
        border-bottom: none;
      }

    }

  }
}
// End "Gift Services" attribute


// MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT

// special breakpoint for fixing the size of gift services images
@media(min-width: 390px) {

  #ex-gift_services .row .gift-services-column p:first-child {
    min-height: 200px;
  }

}

// special breakpoint for fixing the size of PDP gallery
@media(min-width: 535px) {

  .product-img-box {

    height: 350px;

    .product-image li img {
      max-height: 350px; // same as height of .product-img-box
    }

  }

}

@media(min-width: @screen-sm-min) {

  #ex-inside_the_box .row .inside-the-box-column {
    margin-bottom: 0;
  }

  #ex-gift_services .row .gift-services-column {
    // use equal column heights and use borders to fake gutters between them
    display: table-cell;
    border-left: (@grid-gutter-width / 2) solid lighten(@gray-lightest, 3%);
    border-right: (@grid-gutter-width / 2) solid lighten(@gray-lightest, 3%);
    border-bottom: none;
  }

}

// media gallery styles for viewport narrower than product image, image scales freely here, locked to 100% of width
@media(max-width: 520px) {
  .product-img-box {

    position: static;
    height: auto;

    .product-image li {

      position: static;

      &:not(.active) {
        display: none !important; // fixes bug causing free-scaling gallery to show two images at once when paging
      }

      img {
        max-height: none;
      }

    }

    .gallery-control {

      top: 66px; // pre-calculated average that works decently for vertical alignment for any allowed image size
      height: 276px; // pre-calculated average that works decently for vertical alignment for any allowed image size

      &.gallery-next span {
        float: right;
      }

      span {
        position: static !important;
        margin: 0 15px !important;
        left: auto !important;
        right: auto !important;
      }

    }

    .gallery-pager {
      bottom: auto;
      margin-top: -18px;
    }

  }
}