// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

@import "@{bootstrap-path}scaffolding.less";

.page-popup {
  padding: @grid-gutter-width;
}

.layout {

  &.layout-1-col div[role="main"] {
    .make-md-column(12);
  }

  &.layout-3-cols div[role="main"] {
    .make-md-column(6);
  }

}

// Main
div[role="main"] {

  .make-md-column(9);
  max-width: (@screen-xs-max - @scrollbar-width); // remove gutters on mobile devices
  margin: 0 auto;

  @media(max-width: @screen-ms-max) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  @media(min-width: @screen-sm-min) {
    max-width: none;
  }

}

// Sidebar(s)
aside[role="complementary"] {
  .make-md-column(3);
  display: none;
  margin-bottom: @line-height-computed;

  @media (min-width: @screen-md) {
    display: block;
  }
}