// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

.form-search {

  position: absolute;
  right: 0;
  top: 13px;

  input#search {

    position: absolute;
    top: -10px;
    right: 0;
    width: 0;
    border-left-width: 0;
    border-right-width: 0;
    padding-left: 0;
    padding-right: 0;
    .transition(~'width 100ms ease-in-out, padding 100ms linear, border-width 125ms linear');

    &.active {
      width: 250px;
      padding-left: @padding-base-horizontal;
      padding-right: @padding-base-horizontal;
      border-left-width: 1px;
      border-right-width: 1px;
      .transition(~'width 100ms cubic-bezier(.5,.70,.75,1.2), padding 100ms linear');
    }

  }

  .search-icon {
    .sprite('search-icon-dark');
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: -1px;
  }

  // Style up the autocomplete to be just
  // like a TWBS list group.
  .search-autocomplete {
    z-index: @zindex-dropdown;

    li {
      //.list-group-item();
      cursor: pointer;

      .amount {
        float: right;
      }

      // Bootstrap uses a hidden list
      // item for the first child, so
      // we target the first child to
      // [class="first"].
      &.first {
        .border-top-radius(@list-group-border-radius);
      }

      // Hover state
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: @list-group-hover-bg;
      }

      // When somebody selects an item
      &.selected,
      &.selected:hover,
      &.selected:focus {
        z-index: 2; // Place active items above their siblings for proper border styling
        color: @list-group-active-color;
        background-color: @list-group-active-bg;
        border-color: @list-group-active-border;
      }
    }
  }
}


// Advanced Search
.advanced-search .form-list {

  .input-range {
    line-height: @input-height-base;
    small {
      float: right;
    }
  }
}
.advanced-search-amount {

}
.advanced-search-summary {
  //.well();
  //.well-sm();
  .clearfix();

  ul {
    margin-bottom: 0;
    padding-left: (@grid-gutter-width / 2);
    padding-right: (@grid-gutter-width / 2);
  }

  strong {
    color: @brand-primary;
  }

  p {
    clear: both;
    padding: (@line-height-computed / 2) (@grid-gutter-width / 2) 0;
    margin-bottom: 0;
    font-weight: bold;
  }

  @media (min-width: @screen-xs) {
    ul {
      float: left;
      width: 50%;
    }
  }
}
