// Styles and variables for Fran's seasonal changes
@seasonal-primary: #527a0d; // bright green
@seasonal-accent: #6fa219; // light green
@seasonal-secondary: #fff; // white
@seasonal-dark: #405309; // dark green
@seasonal-darker: #af1b7d; // darker pink
@seasonal-content-bg: #ffffff; // white
@seasonal-brown: #5b2f12; //brown
@seasonal-brown-secondary: #382818; //darker brown

body.cms-index-defaultindex {
  .home-content {
    background-color: @seasonal-content-bg;
  }
}

.store-divider {
  width: 100%;
  height: 36px;
  background-image: url('@{image-path}/divider-store-page.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: @line-height-computed;
}