// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

@import "@{bootstrap-path}type.less";

// h1, .h1 { font-size: floor(@font-size-base * 1.8); }
// h2, .h2 { font-size: floor(@font-size-base * 1.6); }
// h3, .h3 { font-size: ceil(@font-size-base * 1.4); }
// h4, .h4 { font-size: ceil(@font-size-base * 1.2); }
// h5, .h5 { font-size:  @font-size-base; }
// h6, .h6 { font-size: ceil(@font-size-base * 0.85); }

p:last-child {
  margin-bottom: 0; // fix that annoying extra margin beneath the last paragraph in a block of text
}

.title-buttons {
  text-align: right;

  h1, h2, h3,
  h4, h5, h6 {
    float: left;
  }
}

.subtitle,
.sub-title {
  color: @headings-small-color;
}

blockquote {

  border: none;
  color: @gray-light;
  font-size: @font-size-large;
  width: 300px;
  margin: @grid-gutter-width (@grid-gutter-width * 1.25) @grid-gutter-width 0;
  padding: 0 40px;
  position: relative;

  &:before {
    .sprite('quote-open');
    position: absolute;
    top: 0;
    left: 0;
  }

  &:after {
    .sprite('quote-close');
    position: absolute;
    bottom: 0;
    right: 0;
  }

}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}