<tr class="border">
    <td colspan="10" class="last">
        <?php
            $item = $this->initItem();
        ?>

        <div id="item_notes_<?php echo $item->getId(); ?>">

        <?php

            $options = $this->getOptions(); 
            if(!empty($options)):
                foreach($options as $label => $value): ?>
                    <strong><?php echo $label; ?>:</strong> <?php echo $value; ?><br />
                <?php endforeach;
            endif; ?>

            <a href="#" onclick="productNotes.showForm('<?php echo $item->getId(); ?>'); return false;"><?php echo $this->getVerb($options); ?> Product Notes</a>
        </div>
        <div class="frans-options" id="item_notes_<?php echo $item->getId(); ?>_form_wrapper" style="display: none !important;">
            <?php echo $this->getNotesHtml(); ?>
        </div>

       
    </td>
</tr>