/**
	Frans Maintenance Page
**/

@import url("//hello.myfonts.net/count/25b5bf");
@font-face {font-family: 'TradeGothicLTCom-Bd2Obl';src: url('/fonts/tradegothic/25B5BF_0_0.eot');src: url('/fonts/tradegothic/25B5BF_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/tradegothic/25B5BF_0_0.woff') format('woff'),url('/fonts/tradegothic/25B5BF_0_0.ttf') format('truetype');}
@font-face {font-family: 'TradeGothicLTCom-Bd2';src: url('/fonts/tradegothic/25B5BF_1_0.eot');src: url('/fonts/tradegothic/25B5BF_1_0.eot?#iefix') format('embedded-opentype'),url('/fonts/tradegothic/25B5BF_1_0.woff') format('woff'),url('/fonts/tradegothic/25B5BF_1_0.ttf') format('truetype');}
@font-face {font-family: 'TradeGothicLTCom-Cn18Obl';src: url('/fonts/tradegothic/25B5BF_2_0.eot');src: url('/fonts/tradegothic/25B5BF_2_0.eot?#iefix') format('embedded-opentype'),url('/fonts/tradegothic/25B5BF_2_0.woff') format('woff'),url('/fonts/tradegothic/25B5BF_2_0.ttf') format('truetype');}
@font-face {font-family: 'TradeGothicLTCom-BdCn20';src: url('/fonts/tradegothic/25B5BF_3_0.eot');src: url('/fonts/tradegothic/25B5BF_3_0.eot?#iefix') format('embedded-opentype'),url('/fonts/tradegothic/25B5BF_3_0.woff') format('woff'),url('/fonts/tradegothic/25B5BF_3_0.ttf') format('truetype');}
@font-face {font-family: 'TradeGothicLTCom-BdCn20Obl';src: url('/fonts/tradegothic/25B5BF_4_0.eot');src: url('/fonts/tradegothic/25B5BF_4_0.eot?#iefix') format('embedded-opentype'),url('/fonts/tradegothic/25B5BF_4_0.woff') format('woff'),url('/fonts/tradegothic/25B5BF_4_0.ttf') format('truetype');}
@font-face {font-family: 'TradeGothicLTCom-Obl';src: url('/fonts/tradegothic/25B5BF_5_0.eot');src: url('/fonts/tradegothic/25B5BF_5_0.eot?#iefix') format('embedded-opentype'),url('/fonts/tradegothic/25B5BF_5_0.woff') format('woff'),url('/fonts/tradegothic/25B5BF_5_0.ttf') format('truetype');}
@font-face {font-family: 'TradeGothicLTCom-BoldObl';src: url('/fonts/tradegothic/25B5BF_6_0.eot');src: url('/fonts/tradegothic/25B5BF_6_0.eot?#iefix') format('embedded-opentype'),url('/fonts/tradegothic/25B5BF_6_0.woff') format('woff'),url('/fonts/tradegothic/25B5BF_6_0.ttf') format('truetype');}
@font-face {font-family: 'TradeGothicLTStd-Extended';src: url('/fonts/tradegothic/25B5BF_7_0.eot');src: url('/fonts/tradegothic/25B5BF_7_0.eot?#iefix') format('embedded-opentype'),url('/fonts/tradegothic/25B5BF_7_0.woff') format('woff'),url('/fonts/tradegothic/25B5BF_7_0.ttf') format('truetype');}
@font-face {font-family: 'TradeGothicLTStd-BoldExt';src: url('/fonts/tradegothic/25B5BF_8_0.eot');src: url('/fonts/tradegothic/25B5BF_8_0.eot?#iefix') format('embedded-opentype'),url('/fonts/tradegothic/25B5BF_8_0.woff') format('woff'),url('/fonts/tradegothic/25B5BF_8_0.ttf') format('truetype');}
@font-face {font-family: 'TradeGothicLT';src: url('/fonts/tradegothic/25B5BF_9_0.eot');src: url('/fonts/tradegothic/25B5BF_9_0.eot?#iefix') format('embedded-opentype'),url('/fonts/tradegothic/25B5BF_9_0.woff') format('woff'),url('/fonts/tradegothic/25B5BF_9_0.ttf') format('truetype');}
@font-face {font-family: 'TradeGothicLT-CondEighteen';src: url('/fonts/tradegothic/25B5BF_A_0.eot');src: url('/fonts/tradegothic/25B5BF_A_0.eot?#iefix') format('embedded-opentype'),url('/fonts/tradegothic/25B5BF_A_0.woff') format('woff'),url('/fonts/tradegothic/25B5BF_A_0.ttf') format('truetype');}
@font-face {font-family: 'TradeGothicLT-Light';src: url('/fonts/tradegothic/25B5BF_B_0.eot');src: url('/fonts/tradegothic/25B5BF_B_0.eot?#iefix') format('embedded-opentype'),url('/fonts/tradegothic/25B5BF_B_0.woff') format('woff'),url('/fonts/tradegothic/25B5BF_B_0.ttf') format('truetype');}
@font-face {font-family: 'TradeGothicLT-LightOblique';src: url('/fonts/tradegothic/25B5BF_C_0.eot');src: url('/fonts/tradegothic/25B5BF_C_0.eot?#iefix') format('embedded-opentype'),url('/fonts/tradegothic/25B5BF_C_0.woff') format('woff'),url('/fonts/tradegothic/25B5BF_C_0.ttf') format('truetype');}
@font-face {font-family: 'TradeGothicLT-Bold';src: url('/fonts/tradegothic/25B5BF_D_0.eot');src: url('/fonts/tradegothic/25B5BF_D_0.eot?#iefix') format('embedded-opentype'),url('/fonts/tradegothic/25B5BF_D_0.woff') format('woff'),url('/fonts/tradegothic/25B5BF_D_0.ttf') format('truetype');}



/**
	Typography
**/

html{
	font-size: 100%;
}
body{
	font-family:helvetica,arial,sans-serif;
	font-size: 11px;
}
.tg-reg{
	font-family: 'TradeGothicLT', helvetica,arial,sans-serif;
}

.tg-lt{
	font-family: 'TradeGothicLT-Light', helvetica,arial,sans-serif;
}

.tg-bold{
	font-family: 'TradeGothicLT-Bold', helvetica,arial,sans-serif;
}

h1{
	font-weight: normal;
	text-transform: uppercase;
	font-size: 2.0em;
	color: #666666;
	font-family: 'TradeGothicLT-Light', helvetica,arial,sans-serif;
}

.message p{
	font-size: 1.4em;
	line-height: 1.6em;
	font-family: 'TradeGothicLT-Light', helvetica,arial,sans-serif;
}

.catalog .note{
	font-size: 1em;
	color: #a1a1a1;
}

.catalog h2{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2em;
}	

/**
	info columns
**/

.info h3{
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.1em;
	line-height: 1.3em;
	font-family: 'TradeGothicLT-Light', helvetica,arial,sans-serif;
}

.info{
	font-size: 1.1em;
}
	
.info .phone{
	font-weight: bold;
}

.info .day{
	font-weight: bold;
}

/**
	store modals
**/

.hide .top h2{
	font-size: 1.2em;	
	text-transform: uppercase;
}
.hide .top p{
	font-size: 1.1em;
	color: #d3cfd0;
}

.hide .bottom-left h3{
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
}	

.hide .bottom-left .left{
	font-weight: bold;
}
.hide .bottom-left p{
	line-height: 1.1em;
	font-size: 1.05em;
}

.hide .bottom-left p.left{

}

.hide .bottom-right a{
	text-transform: uppercase;
}	

.hide .bottom-right a span{
	font-size: 1.1em;
	font-weight: bold;
	color: #59351f;
}	

/**
	Layout
**/

body {
    background-color:#e9e9e9;
	color:#8e8e8e;
	text-align: center;
}

a{
	color: #db2e2e;
	text-decoration: none;
}

a:hover{
	color: #af2525;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
}
.header {
	width: 670px;
	height: 297px;
	background: url('images/img-header-holiday.png') top center no-repeat;
    clear:both;
    background-repeat: no-repeat;
	background-position: top center;
	margin: 0 auto;
}


.catalog{
	margin-top: 25px;
	margin-bottom: 25px;
}
.catalog .link{
	display: block;
	width: 109px;
	height: 83px;
	background: url('images/img-catalog-holiday.png') center no-repeat;
	clear:both;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
}
.catalog h2{
	margin-top: 12px;
	margin-bottom: 6px;
}

.catalog h2 span, 
.catalog h2 a{
	display: inline-block;
	position: relative;
	overflow: hidden;	
	margin: 0;
	padding: 0 0 0 0;
	line-height: 18px;
	height: 18px;
	vertical-align: top;
}

a span.icon{
	overflow: hidden;
	text-indent: -100px;
	width: 12px;
	background-image: url('images/btn-arrow-holiday.png');
	background-position: 0 2px;
	background-repeat: no-repeat;
	margin: 0 0 0 3px;
	padding: 0;
}	

a:hover span.icon{
	background-position: -12px 2px;
}

.catalog .note a{
	color:#8e8e8e;
}

.message p{
	margin: 12px;
}	

.info{
	display: block;
	margin: 0 45px;
	width: 870px;
	position: relative;
	overflow: hidden;
}
.box1, .box2, .box3{
	width: 290px;
	height: 170px;
	float: left;
}
.box2{
	width: 287px;
	border-right: 1px solid #c4c4c4;
	border-left: 1px solid #c4c4c4;	
}
.box1 .link{
	width: 36px;
	height: 36px;
	background: url('images/img-phone.png') center no-repeat;
	clear:both;
	background-repeat: no-repeat;
	background-position: center;
	margin: 12px auto;
}
.box2 .link{
	width: 36px;
	height: 36px;
	background: url('images/img-email.png') center no-repeat;
	clear:both;
	background-repeat: no-repeat;
	background-position: center;
	margin: 12px auto;
}
.box3 .link{
	width: 36px;
	height: 36px;
	background: url('images/img-boutique.png') center no-repeat;
	clear:both;
	background-repeat: no-repeat;
	background-position: center;
	margin: 12px auto;
}

.info h3{
	padding-bottom: 8px;
}

.info .phone{
	padding-bottom: 16px;
}

.info p{
	padding-bottom: 8px;
}

.footer {
	width: 36px;
	height: 37px;
	background: url('images/img-frans-logo.png') bottom center no-repeat;
    clear:both;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom center;
	margin: 0 auto;
	margin-top: 190px;
	margin-bottom: 30px;
}

.hide {
	display: block;
	width: 420px;
	margin: 0 auto;
	text-align: left;
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
}

.hide .top{
	width: 420px;
	height: 160px;
	clear:both;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	color:#ffffff;	
}
.modal1 .top{
	background: url('images/img-bellevue-location.png') center no-repeat;
}

.modal2 .top{
	background: url('images/img-university-location.png') center no-repeat;
}

.modal3 .top{
	background: url('images/img-downtown-location.png') center no-repeat;
}
/* 10/14/2014 */
.modal4 .top{
    background: url('images/img-georgetown-location.png') center no-repeat;
}
/* end 10/14/2014 */
.hide .top h2{
	padding: 3px;
	padding-left: 20px;
	padding-top: 75px;
}
.hide .top p{
	padding: 3px;
	padding-left: 20px;
}

.hide .bottom {
	clear: both;
	display: block;
	width: 418px;
	margin: 0 auto;
	text-align: left;
	position: relative;
	overflow: hidden;
	border: 1px solid #cecece;
	border-top: none;
	background: #ffffff;
}

.hide .bottom-left{
	float: left;
	width: 190px;
	padding: 10px 0 20px 16px;
}
.hide .bottom-left h3{
	clear: both;
	padding: 6px 0;
}
.hide .bottom-left .down{
	padding-top: 24px;
}
.hide .bottom-left p{
	padding: 3px 0;
}
.hide .bottom-left .left{
	width: 60px;
	float: left;
}
.hide .bottom-left .right{
	width: 122px;
	float: left;
	padding: 3px 0 3px 6px;
}

.hide .close{
	width: 24px;
	height: 24px;
	background-image: url('images/btn-close.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	clear: both;
	float: right;
	margin-bottom: 8px;
	display: none;
	overflow: hidden;
	position: relative;
	text-indent: -500px;
	cursor: pointer;
}

.hide .close:hover{
	background-position: 0 -24px;
}

.hide .bottom-right{
	background-repeat: no-repeat;
	background-position: center;
	float: right;
	padding: 0;
	margin: 16px 16px 20px 0;
}

.hide .bottom-right a span.map{
	display: block;
	width: 190px;
	height: 104px;
	overflow: hidden;	
	background-image: url('images/img-map-seattle.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	margin-bottom: 8px;
}

.hide.modal1 .bottom-right a span.map{
	background-image: url('images/img-map-bellevue.png');
}

.hide.modal2 .bottom-right a span.map{
	background-image: url('images/img-map-uv.png');
}

.hide.modal3 .bottom-right a span.map{
	background-image: url('images/img-map-seattle.png');
}
/* 10/14/2014 */
.hide.modal4 .bottom-right a span.map{
    background-image: url('images/img-map-georgetown.png');
}
/* end 10/14/2014 */
.hide .bottom-right a{
	display: block;
	width: 190px;
	overflow: hidden;
	text-align: right;
	color: #4f2b15;
	padding: 0 0 0 0;
}

.hide .bottom-right a span{
	display: inline-block;
	height: 2em;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 18px;
	line-height: 18px;
}

.hide .bottom-right a span.icon{
	text-indent: 100px;
	margin: 0 0 0 0;
	width: 12px;
	background: url('images/btn-directions.png') 100% 4px no-repeat;
}

.fade-out{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #ffffff;
	background-color: rgba(255,255,255,.8);
	z-index: 100;
	display: none;	
}

.modal{
	z-index:200;
	position: fixed;
	top: 100px;
	left:50%;
	margin-left: -210px;	
}

#georgetown.hide .bottom-left .standard-hours .left {
    width: 70px;
}
#georgetown.hide .bottom-left .standard-hours .right {
    padding: 3px 0 3px 0px;
}

/*Till After 12/25/14 ======================= */
.info .phone {
    padding-bottom: 10px;
}
.info .box1 h3 {
    padding-bottom: 0;
}
/*Till After 12/25/14 END ======================= */