<?php

	$backgroundUrl = $this->getBackgroundUrl();
	$nutritionInfo = $this->_nutritionInfo;

	$calcium = $nutritionInfo->getCalcium();
	$calories = $nutritionInfo->getCalories();
	$caloriesFromFat = $nutritionInfo->getCaloriesFromFat();
	$cholesterol = $nutritionInfo->getCholesterol();
	$cholesterolDv = $nutritionInfo->getCholesterolDv();
	$dietaryFiber = $nutritionInfo->getDietaryFiber();
	$dietaryFiberDv = $nutritionInfo->getDietaryFiberDv();
	$ingredients = $nutritionInfo->getIngredients();
	$iron = $nutritionInfo->getIron();
	$protein = $nutritionInfo->getProtein();
	$netWeight = $nutritionInfo->getNetWeight();
	$saturatedFat = $nutritionInfo->getSaturatedFat();
	$saturatedFatDv = $nutritionInfo->getSaturatedFatDv();
	$servingSize = $nutritionInfo->getServingSize();
	$sodium = $nutritionInfo->getSodium();
	$sodiumDv = $nutritionInfo->getSodiumDv();
	$sugars = $nutritionInfo->getSugars();
	$totalCarbohydrate = $nutritionInfo->getTotalCarbohydrate();
	$totalCarbohydrateDv = $nutritionInfo->getTotalCarbohydrateDv();
	$totalFat = $nutritionInfo->getTotalFat();
	$totalFatDv = $nutritionInfo->getTotalFatDv();
	$transFat = $nutritionInfo->getTransFat();
	$transFatDv = $nutritionInfo->getTransFatDv();
	$vitaminA = $nutritionInfo->getVitaminA();
	$vitaminC = $nutritionInfo->getVitaminC();
	$weight = $nutritionInfo->getWeight();

?>

<div class="nutrition-wrapper" <?php if($backgroundUrl): ?>style="background-image: url('<?php echo $backgroundUrl; ?>');"<?php endif; ?>>
	<table class="nutritional-facts">
		<thead>
			<tr>
				<td class="facts-header" colspan="2">
					<h5><?php echo $this->__('Nutrition Facts'); ?></h5>
				</td>
			</tr>
			<?php if(!is_null($servingSize) && !is_null($weight)): ?>
				<tr>
					<td class="serving-size" colspan="2">
						<?php echo $this->__('Serving Size %s (approx. %s)', $servingSize, $weight); ?>
					</td>
				</tr>
			<?php endif; ?>
			<?php if(!is_null($netWeight)): ?>
				<tr>
					<td class="net-weight" colspan="2">
						<?php echo $this->__('Net weight %s', $netWeight); ?>
					</td>
				</tr>
			<?php endif; ?>
		</thead>
		<tbody>
			<tr>
				<td class="amount-per-serving <?php if(is_null($calories) || is_null($caloriesFromFat)): ?>divider-after<?php endif; ?>" colspan="2">
					<?php echo $this->__('Amount Per Serving'); ?>
				</td>
			</tr>
			<?php if(!is_null($calories) && !is_null($caloriesFromFat)): ?>
				<tr>
					<td class="calories divider-after">
						<span class="nutrition-label"><?php echo $this->__('Calories'); ?></span>
						<span class="nutrition-value"><?php echo $calories; ?></span>
					</td>
					<td class="calories-from-fat divider-after">
						<span class="nutrition-label"><?php echo $this->__('Calories from Fat'); ?></span>
						<span class="nutrition-value"><?php echo $caloriesFromFat; ?></span>
					</td>
				</tr>
			<?php endif; ?>
			<tr>
				<td class="daily-value-header divider-after" colspan="2">
					<?php echo $this->__('% Daily Value*'); ?>
				</td>
			</tr>
			<?php if(!is_null($totalFat) && !is_null($totalFatDv)): ?>
				<tr>
					<td class="total-fat <?php if((is_null($saturatedFat) || is_null($saturatedFatDv)) && (is_null($transFat) || is_null($transFatDv))): ?>divider-after<?php endif; ?>">
						<span class="nutrition-label"><?php echo $this->__('Total Fat'); ?></span>
						<span class="nutrition-value"><?php echo $totalFat; ?></span>
					</td>
					<td class="total-fat-dv daily-value <?php if((is_null($saturatedFat) || is_null($saturatedFatDv)) && (is_null($transFat) || is_null($transFatDv))): ?>divider-after<?php endif; ?>">
						<?php echo $totalFatDv; ?>
					</td>
				</tr>
			<?php endif; ?>
			<?php if(!is_null($saturatedFat) && !is_null($saturatedFatDv)): ?>
				<tr>
					<td class="saturated-fat <?php if(is_null($transFat) || is_null($transFatDv)): ?>divider-after<?php endif; ?>">
						<span class="nutrition-label"><?php echo $this->__('Saturated Fat'); ?></span>
						<span class="nutrition-value"><?php echo $saturatedFat; ?></span>
					</td>
					<td class="saturated-fat-dv daily-value <?php if(is_null($transFat) || is_null($transFatDv)): ?>divider-after<?php endif; ?>">
						<?php echo $saturatedFatDv; ?>
					</td>
				</tr>
			<?php endif; ?>
			<?php if(!is_null($transFat) && !is_null($transFatDv)): ?>
				<tr>
					<td class="trans-fat divider-after">
						<span class="nutrition-label"><em><?php echo $this->__('Trans'); ?></em> <?php echo $this->__('Fat'); ?></span>
						<span class="nutrition-value"><?php echo $transFat; ?></span>
					</td>
					<td class="trans-fat-dv daily-value divider-after">
						<?php echo $transFatDv; ?>
					</td>
				</tr>
			<?php endif; ?>
			<?php if(!is_null($cholesterol) && !is_null($cholesterolDv)): ?>
				<tr>
					<td class="cholesterol divider-after">
						<span class="nutrition-label"><?php echo $this->__('Cholesterol'); ?></span>
						<span class="nutrition-value"><?php echo $cholesterol; ?></span>
					</td>
					<td class="cholesterol-dv daily-value divider-after">
						<?php echo $cholesterolDv; ?>
					</td>
				</tr>
			<?php endif; ?>
			<?php if(!is_null($sodium) && !is_null($sodiumDv)): ?>
				<tr>
					<td class="sodium divider-after">
						<span class="nutrition-label"><?php echo $this->__('Sodium'); ?></span>
						<span class="nutrition-value"><?php echo $sodium; ?></span>
					</td>
					<td class="sodium-dv daily-value divider-after">
						<?php echo $sodiumDv; ?>
					</td>
				</tr>
			<?php endif; ?>
			<?php if(!is_null($totalCarbohydrate) && !is_null($totalCarbohydrateDv)): ?>
				<tr>
					<td class="total-carbohydrate <?php if((is_null($dietaryFiber) || is_null($dietaryFiberDv)) && is_null($sugars)): ?>divider-after<?php endif; ?>">
						<span class="nutrition-label"><?php echo $this->__('Total'); ?><br /><?php echo $this->__('Carbohydrate'); ?></span>
						<span class="nutrition-value"><?php echo $totalCarbohydrate; ?></span>
					</td>
					<td class="total-carbohydrate-dv daily-value">
						<?php echo $totalCarbohydrateDv; ?>
					</td>
				</tr>
			<?php endif; ?>
			<?php if(!is_null($dietaryFiber) && !is_null($dietaryFiberDv)): ?>
				<tr>
					<td class="dietary-fiber <?php if(is_null($sugars)): ?>divider-after<?php endif; ?>">
						<span class="nutrition-label"><?php echo $this->__('Dietary Fiber'); ?></span>
						<span class="nutrition-value"><?php echo $dietaryFiber; ?></span>
					</td>
					<td class="dietary-fiber-dv daily-value <?php if(is_null($sugars)): ?>divider-after<?php endif; ?>">
						<?php echo $dietaryFiberDv; ?>
					</td>
				</tr>
			<?php endif; ?>
			<?php if(!is_null($sugars)): ?>
				<tr>
					<td class="sugars divider-after">
						<span class="nutrition-label"><?php echo $this->__('Sugars'); ?></span>
						<span class="nutrition-value"><?php echo $sugars; ?></span>
					</td>
					<td class="divider-after"></td>
				</tr>
			<?php endif; ?>
			<?php if(!is_null($protein)): ?>
				<tr>
					<td class="protein divider-after">
						<span class="nutrition-label"><?php echo $this->__('Protein'); ?></span>
						<span class="nutrition-value"><?php echo $protein; ?></span>
					</td>
					<td class="divider-after"></td>
				</tr>
			<?php endif; ?>
			<?php if(!is_null($vitaminA)): ?>
				<tr>
					<td class="vitamin-a <?php if(is_null($vitaminC) && is_null($calcium) && is_null($iron)): ?>divider-after<?php endif; ?>" colspan="2">
						<span class="nutrition-label"><?php echo $this->__('Vitamin A'); ?></span>
						<span class="nutrition-value"><?php echo $vitaminA; ?></span>
					</td>
				</tr>
			<?php endif; ?>
			<?php if(!is_null($vitaminC)): ?>
				<tr>
					<td class="vitamin-c <?php if(is_null($calcium) && is_null($iron)): ?>divider-after<?php endif; ?>" colspan="2">
						<span class="nutrition-label"><?php echo $this->__('Vitamin C'); ?></span>
						<span class="nutrition-value"><?php echo $vitaminC; ?></span>
					</td>
				</tr>
			<?php endif; ?>
			<?php if(!is_null($calcium)): ?>
				<tr>
					<td class="calcium <?php if(is_null($iron)): ?>divider-after<?php endif; ?>" colspan="2">
						<span class="nutrition-label"><?php echo $this->__('Calcium'); ?></span>
						<span class="nutrition-value"><?php echo $calcium; ?></span>
					</td>
				</tr>
			<?php endif; ?>
			<?php if(!is_null($iron)): ?>
				<tr>
					<td class="iron divider-after" colspan="2">
						<span class="nutrition-label"><?php echo $this->__('Iron'); ?></span>
						<span class="nutrition-value"><?php echo $iron; ?></span>
					</td>
				</tr>
			<?php endif; ?>
			<tr>
				<td class="daily-value-footnote" colspan="2">
					<?php echo $this->__('*Percent Daily Values (Dv) are based on a 2,000 Calorie Diet.'); ?>
				</td>
			</tr>
		</tbody>
	</table>

	<?php if($ingredients): ?>
		<p><strong><?php echo $this->__('Ingredients:'); ?></strong></p>
		<p><?php echo $nutritionInfo->getIngredients(); ?></p>
	<?php endif; ?>
	<ul class="badges">
		<?php // Currently we only show badges for Gluten Free, Non-GMO, and Vegan; see frans_catalog_product_nutrition for full list ?>
		<?php if($nutritionInfo->getIsFairTrade()): ?>
			<li>
				<span class="badge fairtrade"></span>
				<?php echo $this->__('Fair Trade'); ?>
			</li>
		<?php endif; ?>
		<?php if($nutritionInfo->getIsOrganic()): ?>
			<li>
				<span class="badge organic"></span>
				<?php echo $this->__('Organic'); ?>
			</li>
		<?php endif; ?>
		<?php if($nutritionInfo->getIsVegan()): ?>
			<li>
				<span class="badge vegan"></span>
				<?php echo $this->__('Vegan'); ?>
			</li>
		<?php endif; ?>
		<?php if($nutritionInfo->getIsGlutenFree()): ?>
			<li>
				<span class="badge gluten-free"></span>
				<?php echo $this->__('Gluten Free'); ?>
			</li>
		<?php endif; ?>
		<?php if($nutritionInfo->getIsNonGmo()): ?>
			<li>
				<span class="badge non-gmo"></span>
				<?php echo $this->__('Non-GMO'); ?>
			</li>
		<?php endif; ?>
		<?php if($nutritionInfo->getContainsNuts()): ?>
			<li>
				<span class="badge nuts"></span>
				<?php echo $this->__('Contains Nuts'); ?>
			</li>
		<?php endif; ?>
		<?php if($nutritionInfo->getContainsMilkEggs()): ?>
			<li>
				<span class="badge milkeggs"></span>
				<?php echo $this->__('Contains Milk/Eggs'); ?>
			</li>
		<?php endif; ?>
		<?php if($nutritionInfo->getContainsAlcohol()): ?>
			<li>
				<span class="badge alcohol"></span>
				<?php echo $this->__('Contains Alcohol'); ?>
			</li>
		<?php endif; ?>
	</ul>
</div>