<?php // This template is used in Fran's checkout success page (receipt) and in the order view modal ?>

<?php
	$order = $this->getOrder();
	$orderDate = new DateTime($order->getCreatedAt());
	$childOrders = $order->getChildOrders();
	$shipmentCount = $childOrders ? count($childOrders) : 1;

    $giftcardAmount = $order->getIsMultishipChildOrder() ?
        $order->getMultishipParentOrder()->getGiftcardAmount() :
        $order->getGiftcardAmount();

    $hasGiftCard = $giftcardAmount > 0;

    // we may have a gift card independent of other payment methods
    if ($hasGiftCard)
    {
        $giftcardNumber = $order->getIsMultishipChildOrder() ?
	        $order->getMultishipParentOrder()->getGiftcardNumber() :
	        $order->getGiftcardNumber();
        // pad with X except last 4 chars
        $giftCardLast4 = substr($giftcardNumber, -4, 4);
        $maskedGiftCardNumber = str_pad($giftCardLast4, strlen($giftcardNumber), 'X', STR_PAD_LEFT);
    }

	$billingAddress = $order->getBillingAddress();

	$payment = $order->getPayment();
	$paymentMethod = $payment->getMethod();

	if ($paymentMethod == 'stripe')
	{
		$ccLast4 = $payment->getCcLast4();
		$ccType = $payment->getCcType();
		$ccExpMo = sprintf("%02s", $payment->getCcExpMonth());
		$ccExpYr = $payment->getCcExpYear();

		$ccHelper = Mage::helper('frans/creditCard');
		$formattedCc = $ccHelper->formatLast4ByCardType($ccLast4, $ccType);
		$ccTypeLabel = $ccHelper->getCardTypeLabel($ccType);
	}
	else if ($paymentMethod == 'pay_at_pickup')
	{
		$paymentText = $this->__('Payment at Pickup');
	}
	else if ($paymentMethod == 'paybyinvoice')
	{
		$paymentText = $this->__('Payment by Invoice');
	}
	else if ($paymentMethod == 'free')
	{
		$paymentText = $this->__('No Payment Required');
	}
	else if ($paymentMethod == "paid_at_register")
	{
		$paymentText = $this->__('Paid at Register');
	}

	$orderIncrementId = $order->getIncrementId();

	$orderTotal = Mage::helper('core')->currency(($order->getSubtotalInclTax() + $order->getShippingAmount() + $order->getDiscountAmount()), true, false);

?>

<div class="order-summary">
	<div class="row">
		<div class="col-xs-12">
			<p class="text-uppercase">
				<b><?php echo $this->__('Order Details'); ?></b>
			</p>
		</div>
	</div>
	<div class="row receipt-status">
		<p><?php echo $this->__('Please check your email for an order confirmation and shipping confirmation upon shipment.'); ?></p>
	</div>
	<div class="content row">
		<div class="column col-xs-12 col-sm-6 col-md-4 col-lg-2">
			<h3><?php echo $this->__('Billing Address'); ?></h3>
			<address>
				<?php echo $billingAddress->getFirstname() . ' ' . $billingAddress->getLastname(); ?><br />
				<?php echo nl2br($billingAddress->getStreetFull()); ?><br />
				<?php echo $billingAddress->getCity(); ?>, <?php echo $billingAddress->getRegionCode(); ?> <?php echo $billingAddress->getPostcode(); ?><br />
				<?php echo Mage::app()->getLocale()->getCountryTranslation($billingAddress->getCountry()); ?><br />
				<?php echo $billingAddress->getTelephone(); ?>
			</address>
		</div>

		<div class="clearfix newrow hidden visible-xs"></div>

		<div class="column col-xs-12 col-sm-6 col-md-4 col-lg-2">
			<div class="payment-details">
				<h3><?php echo $this->__('Payment'); ?></h3>
				<?php if($paymentMethod == 'stripe'): ?>
					<span><?php echo $ccTypeLabel; ?></span>
					<span><?php echo $formattedCc; ?></span>
					<span><?php echo $this->__('Expires'); ?>: <?php echo $ccExpMo; ?>/<?php echo $ccExpYr; ?></span>
				<?php elseif(!$hasGiftCard): ?>
					<span><?php echo $paymentText; ?></span>
				<?php endif; ?>
			</div>

			<?php if($hasGiftCard): ?>
				<div class="giftcard-details">
					<h3><?php echo $this->__('Gift Card'); ?></h3>
					<span><?php echo $maskedGiftCardNumber; ?></span>
					<span><?php echo Mage::helper('core')->formatPrice($giftcardAmount, false); ?></span>
				</div>
			<? endif; ?>

		</div>

		<div class="clearfix newrow hidden visible-xs visible-ms visible-sm"></div>

		<div class="column col-xs-12 col-sm-6 col-md-4 col-lg-2">
			<h3><?php echo $this->__('Order Total'); ?></h3>
			<span><?php echo $orderTotal; ?></span>
		</div>

		<div class="clearfix newrow hidden visible-xs visible-md"></div>

		<div class="column col-xs-12 col-sm-6 col-md-4 col-lg-2">
			<h3><?php echo $this->__('Shipments'); ?></h3>
			<span><?php echo $shipmentCount; ?></span>
		</div>

		<div class="clearfix newrow hidden visible-xs visible-ms visible-sm"></div>

		<div class="column col-xs-12 col-sm-6 col-md-4 col-lg-2">
			<h3><?php echo $this->__('Order Placed'); ?></h3>
			<span><?php echo $orderDate->format('M j, Y'); ?></span>
		</div>

		<div class="clearfix newrow hidden visible-xs"></div>

		<div class="column col-xs-12 col-sm-6 col-md-4 col-lg-2">
			<h3><?php echo $this->__('Order Number'); ?></h3>
			<span class="order-number"><?php echo $orderIncrementId; ?></span>
		</div>

		<div class="clearfix"></div>

	</div>
</div>