<?php
/**
@var GoSolid_Frans_Block_Adminhtml_Sales_Order_Create_Form_Additional $this
*/
$order = $this->getOrder();


$giftMessageValue = '';
$specialInstructionsValue = '';
$showForm = $this->getShowForm();

if ($order)
{
	$canSave = true;
    $giftMessageValue = $order->getGiftMessage();
    $specialInstructionsValue = $order->getSpecialInstructions();
}
else
{
    $giftMessageValue = $this->getQuote()->getShippingAddress()->getGiftMessage();
    $specialInstructionsValue = $this->getQuote()->getShippingAddress()->getSpecialInstructions();

    $canSave = false;
}

// validate that the gift message is 300 chars or fewer
$giftMessageClass = (strlen($giftMessageValue) > 300) ? ' validation-failed' : '';

?>
<? if ($showForm): ?>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head fieldset-legend <?php echo $this->getHeaderCssClass() ?>"><?php echo $this->getHeaderText() ?></h4>
    </div>
    <div id="order_additional_fields">
        <div id="additional_fields" class="fieldset">
            <div class="hor-scroll">
                <div>
                    <label for="order-gift-message"><?php echo Mage::helper('frans')->__('Gift Message') ?></label>
                    <br />
                    <textarea name="order[gift_message]" rows="3" cols="5" class="gift_message_entry textarea soft-maxlength<?php echo $giftMessageClass; ?>" id="order-gift-message"><?php echo $giftMessageValue; ?></textarea>
                </div>
                <div>
                    <label for="order-special-instructions"><?php echo Mage::helper('frans')->__('Special Instructions') ?></label>
                    <br />
                    <textarea name="order[special_instructions]" rows="3" cols="5" class="special_instructions_entry textarea" id="special_instructions"><?php echo $specialInstructionsValue; ?></textarea>
                </div>
	            <div class="f-right25">
                    <? if ($this->canSave()): ?>
                        <? echo $this->getSaveButtonHtml('saveGiftMessage'); ?>
	                <? else: ?>
	                    <button type="button" class="scalable save progress-done"><span><span><?php echo $this->__('Done'); ?></span></span></button>
                    <? endif; ?>
	            </div>
            </div>
        </div>
    </div>
</div>

<? endif; ?>