<?php
/**
@var $this GoSolid_Frans_Block_Adminhtml_Sales_Order_Create_Form_AdminNotes
*/
$order = $this->getOrder();

if ($order)
{
	$canSave = true;
	$value = $order->getAdminNotes();
}
else
{
    $value = $this->getQuote()->getAdminNotes();
	$canSave = false;

}
?>
<div class="entry-edit-head">
    <h4 class="icon-head fieldset-legend <?php echo $this->getHeaderCssClass() ?>"><?php echo $this->getHeaderText() ?></h4>
</div>
<div id="admin_notes_fields">
    <div class="fieldset">
	    <label class="normal" for="admin_notes"><?php echo Mage::helper('frans')->__('Admin Notes') ?></label>
	    <br/>
	    <textarea name="order[admin_notes]" rows="2" cols="15" id="admin_notes" style="width:98%;height:8em;"><?php echo $value; ?></textarea>
		<div class="f-right">
			<button type="button" class="scalable save progress-done"><span><span><?php echo $this->__('Done'); ?></span></span></button>
	    </div>
	</div>
</div>