<div class="entry-edit-head">
    <h4 class="icon-head fieldset-legend head-account"><?php echo $this->__('Customer Notes') ?></h4>
</div>
<div id="customer_notes_fields">
    <div class="fieldset">
        <label class="normal" for="customer_notes"><?php echo $this->__('Customer Notes') ?></label>
        <br/>
        <textarea name="order[customer_notes]" rows="2" cols="15" id="customer_notes" style="width:98%;height:8em;"><?php echo $this->getCustomerNotes(); ?></textarea>
        <div class="f-right">
            <button type="button" class="scalable save progress-done"><span><span><?php echo $this->__('Done'); ?></span></span></button>
        </div>
        <div class="clear"></div>
    </div>
</div>