<div class="bounding-box">

	<h4><?php echo $this->__('Order Progress'); ?></h4>
	<div class="radial-indicator">
		<input value="0" id="knob" />
	</div>
	<ul class="steps">
		<?php echo $this->getStepHtml(); ?>
	</ul>

	<div id="order-totals" class="order-totals"><?php echo $this->getChildHtml('totals') ?></div>

</div>

<script type="text/javascript">

	jQuery("#knob").knob(knobSettings);

	/* START FLOATING BEHAVIOR FOR PROGRESS SIDEBAR */
	var offsetTop = 60, // pixel distance from top where floater will stick, corresponds to .sticky { top: XXXpx; }
		offsetBottom = 0, // pixel distance from bottom where floater will stick, corresponds to .bottom { bottom: XXXpx; }
		container = jQuery('#progress-wrapper'),
		floater = jQuery('#order-progress'),
		floaterHeight = floater.height();

	// observe the scrolling of the window so we can adjust the positioning of the floater
	jQuery(window).on('scroll', function(){

		var containerHeight = container.height() - offsetBottom,
			containerTop = container.offset().top,
			containerBottom = containerTop + containerHeight - floaterHeight, // the lowest allowed position for the top of the floater
			y = document.viewport.getScrollOffsets().top + offsetTop; // y position of the scroll

		// make the floater sticky if the scroll is between the container top and the container bottom
		floater.toggleClass('sticky', (y >= containerTop && y <= containerBottom));
		// anchor floater to the bottom of the container instead of the top if scrolled below the container bottom
		floater.toggleClass('bottom', (y > containerBottom));

	});
	/* END FLOATING BEHAVIOR FOR PROGRESS SIDEBAR */


	var getUrl = BASE_URL + 'sales_order_create/getQuoteProgress';
	jQuery.get(getUrl, function(response){
		Element.hide('loading-mask');
		var progressElems = JSON.parse(response);

		jQuery.each(progressElems, function() {
			var stepElement = jQuery('#order-progress .steps').find('li[data-step-id='+this+']');
			stepElement.addClass('done');
		});
		updateProgress();

	});
</script>