<?php
/* @var $this GoSolid_Frans_Block_Adminhtml_Sales_Order_View_Items_VirtualGiftCard_Resend */
?>
<? if ($this->isVirtualGiftCard()): ?>
    <? $item = $this->getItem(); ?>
<tr class="border">
    <td colspan="10" class="last">
        <a href="#" id="vgc_resend_link_<? echo $item->getId(); ?>" onclick="virtualGiftCardResend.toggleForm('<?php echo $item->getId(); ?>'); return false;"><?php echo $this->__('Resend Email'); ?></a>
        <div id="vgc_resend_container_<? echo $item->getId(); ?>" class='hide'>
            <? echo $this->getFormHtml(); ?>
                <? echo $this->getSendButtonHtml(); ?>
                <? echo $this->getCancelButtonHtml(); ?>
        </div>
    </td>
</tr>
<? endif; ?>