<!--@subject Welcome! @-->

<table cellpadding="0" cellspacing="0">
	<tr>
		<td height="30" colspan="3" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="25" valign="top">&nbsp;</td>
		<td width="320" valign="top">
			<table cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td height="9" style="line-height: 0;">&nbsp;</td>
				</tr>
				<tr>
					<td height="26" valign="top">
						<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
							<h1 style="font-weight: normal; font-size: 1.3em; margin: 0; color: #555555;">YOUR ACCOUNT HAS BEEN CREATED</h1>
						</font>
					</td>
				</tr>
				<tr>
					<td height="21" valign="top" style="color: #909090;">
						<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
							Thank you for creating an account with us!
						</font>
					</td>
				</tr>
				<tr>
					<td height="31" valign="top" style="color: #909090;">
						<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
							Your happiness is our greatest delight.
						</font>
					</td>
				</tr>
				<tr>
					<td height="99" valign="middle" style="letter-spacing: 0; color: #888888;">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td height="99" width="60" style="text-align: center;">
									<img src="{{skin url="images/email/frans-fleurdelis.png"}}" />
								</td>
								<td height="99">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b>YOUR ACCOUNT INFORMATION<br />Email:</b> {{htmlescape var=$customer.email}}
									</font>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td height="15" style="line-height: 0;">&nbsp;</td>
				</tr>
				<tr>
					<td valign="top" height="31" style="color: #909090;">
						<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
							See you online again soon!
						</font>
					</td>
				</tr>
				<tr>
					<td valign="top" style="color: #909090;">
						<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
							<i>&ndash; From all of us at Fran's Chocolates &ndash;</i>
						</font>
					</td>
				</tr>
			</table>
		</td>
		<td width="355" valign="top">
			<table cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td height="14" style="line-height: 0;">&nbsp;</td>
				</tr>
				<tr>
					<td valign="top">
						<img src="{{skin url="images/email/bg-newaccount.png"}}" />
					</td>
				</tr>
				<tr>
					<td height="3" style="line-height: 0;">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="12" colspan="3" style="line-height: 0;">&nbsp;</td>
	</tr>
</table>