<!--@subject Your Fran's Password@-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<table cellpadding="0" cellspacing="0" width="650" align="center" style="color: #909090;">
	<tr>
		<td height="30" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td>
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				<h1 style="color: #777777; font-size: 1.3em; margin: 0; letter-spacing: 0.03em;">PLEASE USE THE LINK BELOW TO RESET YOUR PASSWORD.</h1>
			</font>
		</td>
	</tr>
	<tr>
		<td height="10" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td style="line-height: 1.5em;">
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				If clicking the link doesn't work, please copy and paste the URL into your browser instead.
			</font>
		</td>
	</tr>
	<tr>
		<td height="10" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td>
			<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
				<a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="color:#1E7EC8;">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a>
			</font>
		</td>
	</tr>
	<tr>
		<td height="10" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
		<td>
			{{var contact_details}}
		</td>
	</tr>
	<tr>
		<td height="30" valign="top" style="line-height: 0;">&nbsp;</td>
	</tr>
</table>