<!--@subject Thank you for creating a Fran's business account! @-->
<!--@vars
{"var contact_email" : "Contact for business email"}
@-->


<table cellpadding="0" cellspacing="0">
	<tr>
		<td height="30" colspan="3" valign="top">
			<table width="760" cellpadding="0" cellspacing="0">
				<tr>
					<td height="30" width="700" style="line-height: 0;">&nbsp;</td>
					<td height="30" width="60" style="background-color: #ebebeb; line-height: 0;">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="25" valign="top">
			<table width="25">
				<tr>
					<td>&nbsp;</td>
				</tr>
			</table>
		</td>
		<td width="380" valign="top">
			<table cellpadding="0" cellspacing="0" width="380">
				<tr>
					<td height="9" style="line-height: 0;">&nbsp;</td>
				</tr>
				<tr>
					<td height="26" valign="top">
						<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
							<h1 style="font-weight: normal; font-size: 1.3em; margin: 0; color: #555555;">BUSINESS GIFTING THAT IS SIMPLY DELICIOUS</h1>
						</font>
					</td>
				</tr>
				<tr>
					<td height="31" valign="top" style="color: #909090;">
						<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
							Your happiness is our greatest delight.
						</font>
					</td>
				</tr>
				<tr>
					<td height="99" valign="middle" style="letter-spacing: 0; color: #888888;">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td height="99" width="60" style="text-align: center;">
									<img src="{{skin url="images/email/frans-fleurdelis.png"}}" />
								</td>
								<td height="99">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b>YOUR ACCOUNT INFORMATION<br />Business:</b> {{htmlescape var=$customer.company_name}}<br /><b>Email:</b> {{htmlescape var=$customer.email}}
									</font>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td height="15" style="line-height: 0;">&nbsp;</td>
				</tr>
				<tr>
					<td valign="top" height="31" style="color: #909090;">
						<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
							Our business gifting specialist is available to you for<br />assistance with large orders, special packaging and<br />event favors.
						</font>
					</td>
				</tr>
				<tr>
					<td height="15" style="line-height: 0;">&nbsp;</td>
				</tr>
				<tr>
					<td valign="top" style="color: #909090;">
						<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
							For additional information, please contact us at <br/><a href="mailto:{{var contact_email}}">{{var contact_email}}</a>
						</font>
					</td>
				</tr>
			</table>
		</td>
		<td width="355" valign="top">
			<table cellpadding="0" cellspacing="0" width="355">
				<tr>
					<td height="14" style="line-height: 0;">&nbsp;</td>
					<td height="14" style="background-color: #ebebeb; line-height: 0;">&nbsp;</td>
				</tr>
				<tr>
					<td valign="top" width="295">
						<img src="{{skin url="images/email/frans-giftbasket-left.png"}}" />
					</td>
					<td valign="top" width="60" style="background-color: #ebebeb;">
						<img src="{{skin url="images/email/frans-giftbasket-right.png"}}" />
					</td>
				</tr>
				<tr>
					<td height="3" style="line-height: 0;">&nbsp;</td>
					<td height="3" style="background-color: #ebebeb; line-height: 0;">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
</table>