<!--@subject Thank You for Contacting Us@-->
<!--@vars
{"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.telephone":"Sender Telephone",
"var data.comment":"Comment"}
@-->

<table cellpadding="0" cellspacing="0">
	<tr>
		<td height="30" colspan="3" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="25" valign="top">&nbsp;</td>
		<td valign="top">
			<table cellpadding="0" cellspacing="0">
				<tr>
					<td height="26" valign="top">
						<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
							<h1 style="font-weight: normal; font-size: 1.3em; margin: 0;">{{var message_title}}</h1>
						</font>
					</td>
				</tr>
				<tr>
					<td valign="top" style="color: #909090;">
						<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
                            {{var message_content}}
						</font>
					</td>
				</tr>
				<tr>
					<td>
						{{var contact_details}}
					</td>
				</tr>
			</table>
		</td>
		<td width="25" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td height="12" colspan="3" style="line-height: 0;">&nbsp;</td>
	</tr>
</table>