<!--@subject Newsletter unsubscription success @-->

<table cellpadding="0" cellspacing="0">
	<tr>
		<td height="30" colspan="3" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="25" valign="top">&nbsp;</td>
		<td width="650" valign="top">
			<table cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td height="21" valign="top" style="color: #909090;">
						<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
							We have received your request to unsubscribe to our email notes, we will not send you any further emails except for order information.
						</font>
					</td>
				</tr>
			</table>
		</td>
		<td width="25" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td height="30" colspan="3" style="line-height: 0;">&nbsp;</td>
	</tr>
</table>