<!--@subject Newsletter subscription success @-->
<!--style="width: 100%;-->
<table cellpadding="0" cellspacing="0" style="width: 700px; margin: 0 auto;">
    <tbody align = "center">
        <tr>
            <td valign="top" >
                <div class="img-wrapper">
                    <img  src="{{skin url="images/email/new-sub-image.jpg"}}" style="display: block; margin: auto;" />
                </div>
            </td>
        </tr>
        <tr>
            <td height="26" valign="top">
                <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
                    <h1 style="font-weight: normal; font-size: 1.3em;  margin: 0 0 20px; color: #353535; text-align: center;">YOU MAKE US HAPPY.</h1>
                </font>
            </td>
        </tr>
        <tr>
            <td valign="top" height="31" style="color: #353535; text-align: center;">
                <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
                    Thank you for signing up with us! We look forward to being in touch with you soon.
                </font>
            </td>
        </tr>
        <tr style="height:40px">
            <td valign="top" height="40px" style="color: #353535; text-align: center;">
                <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
                    <i>From all of us at Fran's.</i>
                </font>
            </td>
        </tr>
    </tbody>
</table>