<!--@subject Sitemap Generation Summary for Domain: {{var domain}} @-->

<body style="color:#2f2f2f; background: #F6F6F6; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin: 0; padding: 0;">
<div style="padding: 26px;">
    Hello,
    <p> This is a '{{var frequency }}' XML Sitemap Generation Summary for Domain: {{var domain}}.</p>

    <p>Make sure you re-submit this sitemap Index File to Google & Bing Webmaster Account
        to ensure that Search Engines index it. (Ping doesn't ensure indexing.)</p>

    <b>XML Sitemap Summary: </b>

    <p>Generated on: {{var sitemap_time}}<br/>
        XML Sitemap Index File Location: <a href="{{var sitemap_link}}" target="_blank">{{var sitemap_link}}</a></p>

    <p><b>- Ping Report:</b> {{var ping_report}}</p>

    <p><b>- Warning:</b> <br/>
    {{var sitemap_warning}} </p>

    <table style="border:1px solid #cbd3d4;">
        <thead>
        <tr>
            <th>Description</th>
            <th>Links</th>
        </tr>
        </thead>
        <tbody>
        {{var page_report}}
        </tbody>
    </table>
    <p>{{var file_report}}</p>
    <p>
        <button type="button"
                style="border-width:1px; border-style:solid; border-color:#ed6502 #a04300 #a04300 #ed6502; padding:0 7px 1px 7px;  cursor:pointer; text-align:center !important; white-space:nowrap;background:#ffac47 url({{var domain}}skin/adminhtml/default/default/images/btn_bg.gif) repeat-x 0 100%;">
            <a style="text-decoration:none;" href=" {{var domain}}index.php/admin/sitemapEnhanced/ ">
                <span style="color:#fff; font:bold 12px arial, helvetica, sans-serif; line-height:1.35em; background-repeat:no-repeat; background-position:0 50%;">Go to the Extension</span>
            </a>
        </button>
    </p>
    <p> This message was sent to: {{var recipients}}.</p>
    Visit the <a href="{{var domain}}index.php/admin/system_config/edit/section/sitemapEnhanced/">Configuration</a>
    Settings of your Magento store, to manage your email alerts for this extension. Please add {{var sender}} to your
    address book to ensure delivery of our emails to your in-box.
    <br/><br/>

    <p>Thank you for using <a href="www.cueblocks.com">CueBlocks </a>'XML Sitemap Generator & Splitter'.<br/><br/>
        <b>XML Sitemap Plus Generator & Splitter</b> is a Magento Extension developed by CueBlocks.com in compliance
        with
        <a href="http://support.google.com/webmasters/bin/answer.py?hl=en&answer=156184&from=40318&rd=1">Google Sitemap
            Guidelines</a>. If you have any feedback or queries regarding functioning of this extension, you can email
        at <a href="mailto:magento@cueblocks.com">magento@cueblocks.com</a>.<br/><br/>
        If you are satisfied with our extension please write a review on <a
                href="http://www.magentocommerce.com/magento-connect/xml-sitemap-plus-generator-splitter.html">Magento
            Connect</a>
    </p>

    <p>Please note that this extension is provided as is. It is recommended to always backup your installation prior to
        use. </p>
</div>
</body>