<!--@subject A sweet surprise! A Fran's Gift Card has been sent to you.@-->
<!--hidewrapper-->

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
	<tr border="0" style="padding: 0; margin: 0;">
		<td>
			<table width="700" cellpadding="0" cellspacing="0" style="width: 700px; margin: 0 auto; font-size: 1px; line-height: 0; mso-margin-top-alt: 1px;" align="center">
				<tr><td height="30">&nbsp;</td></tr>
				<tr>
					<td height="3" style="line-height: 0;">
						<img src="{{skin url="images/email/border-top.png"}}" style="vertical-align: bottom;" />
					</td>
				</tr>
				<tr>
					<td height="93"" style="background-color: #ffffff; text-align: center;" valign="bottom">
						<a href="{{store direct_url=''}}" style="border: 0;"><img src="{{skin url="images/email/giftcard-top.png"}}" style="vertical-align: bottom;" border="0" height="60" width="592" /></a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr border="0" style="padding: 0; margin: 0;">
		<td height="160" background="{{skin url="images/email/giftcard-leather.jpg"}}" style="background-color: #5b402a; text-align: center; line-height: 0; padding: 0; margin: 0;" border="0">
			<a href="{{store direct_url=''}}" style="border: 0; padding: 0; margin: 0;"><img src="{{skin url="images/email/giftcard-middle.png"}}" border="0" alt="A Fran's Gift Card has been sent to you!" height="161" width="592" style="margin: 0; padding: 0;" /></a>
		</td>
	</tr>
	<tr border="0" style="padding: 0; margin: 0;">
		<td>
			<table width="700" cellpadding="0" cellspacing="0" align="center">
				<tr>
					<td height="120" style="background-color: #ffffff; text-align: center;" valign="top">
						<a href="{{store direct_url=''}}" style="border: 0;"><img src="{{skin url="images/email/giftcard-bottom.png"}}" style="vertical-align: top;" border="0" height="111" width="592" /></a>
					</td>
				</tr>
				<tr>
					<td style="background-color: #ffffff;">
						<table width="650" cellpadding="0" cellspacing="0" style="background-color: #f8f8f8; color: #666666;" align="center">
							<tr>
								<td height="30" colspan="9">&nbsp;</td>
							</tr>
							<tr>
								<td width="100">&nbsp;</td>
								<td width="8" style="border-bottom: 1px solid #d5d5d5; font-size: 0;">&nbsp;</td>
								<td width="104" style="border-bottom: 1px solid #d5d5d5; vertical-align: bottom; padding: 7px 0;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b>To:</b>
									</font>
								</td>
								<td width="8" style="border-bottom: 1px solid #d5d5d5; font-size: 0;">&nbsp;</td>
								<td width="3" style="font-size: 0;">&nbsp;</td>
								<td width="8" style="border-bottom: 1px solid #d5d5d5; font-size: 0;">&nbsp;</td>
								<td width="311" style="border-bottom: 1px solid #d5d5d5; vertical-align: bottom; padding: 7px 0;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										{{var gc_recipient_name}} ({{var gc_recipient_email}})
									</font>
								</td>
								<td width="8" style="border-bottom: 1px solid #d5d5d5; font-size: 0;">&nbsp;</td>
								<td width="100">&nbsp;</td>
							</tr>
							<tr>
								<td width="100">&nbsp;</td>
								<td width="8" style="border-bottom: 1px solid #d5d5d5; font-size: 0;">&nbsp;</td>
								<td width="104" style="border-bottom: 1px solid #d5d5d5; vertical-align: bottom; padding: 7px 0;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b>From:</b>
									</font>
								</td>
								<td width="8" style="border-bottom: 1px solid #d5d5d5; font-size: 0;">&nbsp;</td>
								<td width="3" style="font-size: 0;">&nbsp;</td>
								<td width="8" style="border-bottom: 1px solid #d5d5d5; font-size: 0;">&nbsp;</td>
								<td width="311" style="border-bottom: 1px solid #d5d5d5; vertical-align: bottom; padding: 7px 0;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										{{var gc_sender_name}} ({{var gc_sender_email}})
									</font>
								</td>
								<td width="8" style="border-bottom: 1px solid #d5d5d5; font-size: 0;">&nbsp;</td>
								<td width="100">&nbsp;</td>
							</tr>
							<tr>
								<td width="100">&nbsp;</td>
								<td width="8" style="border-bottom: 1px solid #d5d5d5; font-size: 0;">&nbsp;</td>
								<td width="104" style="border-bottom: 1px solid #d5d5d5; vertical-align: bottom; padding: 7px 0;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b>Amount:</b>
									</font>
								</td>
								<td width="8" style="border-bottom: 1px solid #d5d5d5; font-size: 0;">&nbsp;</td>
								<td width="3" style="font-size: 0;">&nbsp;</td>
								<td width="8" style="border-bottom: 1px solid #d5d5d5; font-size: 0;">&nbsp;</td>
								<td width="311" style="border-bottom: 1px solid #d5d5d5; vertical-align: bottom; padding: 7px 0;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										{{var gc_amount}}
									</font>
								</td>
								<td width="8" style="border-bottom: 1px solid #d5d5d5; font-size: 0;">&nbsp;</td>
								<td width="100">&nbsp;</td>
							</tr>
							<tr>
								<td width="100">&nbsp;</td>
								<td width="8" style="border-bottom: 1px solid #d5d5d5; font-size: 0;">&nbsp;</td>
								<td width="104" style="border-bottom: 1px solid #d5d5d5; vertical-align: top; padding: 7px 0;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b>Note:</b>
									</font>
								</td>
								<td width="8" style="border-bottom: 1px solid #d5d5d5; font-size: 0;">&nbsp;</td>
								<td width="3" style="font-size: 0;">&nbsp;</td>
								<td width="8" style="border-bottom: 1px solid #d5d5d5; font-size: 0;">&nbsp;</td>
								<td width="311" style="border-bottom: 1px solid #d5d5d5; vertical-align: bottom; padding: 7px 0;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										{{var gc_message}}
									</font>
								</td>
								<td width="8" style="border-bottom: 1px solid #d5d5d5; font-size: 0;">&nbsp;</td>
								<td width="100">&nbsp;</td>
							</tr>
							<tr>
								<td width="100">&nbsp;</td>
								<td width="8" style="border-bottom: 1px solid #d5d5d5; font-size: 0;">&nbsp;</td>
								<td width="104" style="border-bottom: 1px solid #d5d5d5; vertical-align: bottom; padding: 7px 0;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b>Card Number:</b>
									</font>
								</td>
								<td width="8" style="border-bottom: 1px solid #d5d5d5; font-size: 0;">&nbsp;</td>
								<td width="3" style="font-size: 0;">&nbsp;</td>
								<td width="8" style="border-bottom: 1px solid #d5d5d5; font-size: 0;">&nbsp;</td>
								<td width="311" style="border-bottom: 1px solid #d5d5d5; vertical-align: bottom; padding: 7px 0;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										{{var card_number}}
									</font>
								</td>
								<td width="8" style="border-bottom: 1px solid #d5d5d5; font-size: 0;">&nbsp;</td>
								<td width="100">&nbsp;</td>
							</tr>
							<tr>
								<td height="30" colspan="9">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td style="background-color: #ffffff;">
						<table width="650" cellpadding="0" cellspacing="0" style="background-color: #f0f0f0; color: #666666;" align="center">
							<tr>
								<td height="30">&nbsp;</td>
							</tr>
							<tr>
								<td style="text-align: center;">
									<img src="{{var url}}" />
								</td>
							</tr>
							<tr>
								<td height="5" style="line-height: 0;">&nbsp;</td>
							</tr>
							<tr>
								<td style="text-align: center; color: #000000;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b>{{var card_number}}</b>
									</font>
								</td>
							</tr>
							<tr>
								<td height="30">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td style="background-color: #ffffff;">
						<table width="650" align="center">
							<tr><td height="30" colspan="2">&nbsp;</td></tr>
							<tr>
								<td style="color: #666666;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="3">
										<b>TO&nbsp;REDEEM&nbsp;YOUR&nbsp;GIFT&nbsp;CARD&nbsp;&nbsp;</b>
									</font>
								</td>
								<td width="100%" style="background: transparent url('{{skin url="images/email/divider-shipment.png"}}') repeat-x left center; line-height: 0;">
									<hr size="1" color="d8d8d8" style="display: none;" />
								</td>
							</tr>
							<tr>
								<td height="30" colspan="2" style="vertical-align: bottom; color: #a2a2a2;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b>ONLINE</b>
									</font>
								</td>
							</tr>
							<tr>
								<td colspan="2" style="color: #666666; line-height: 1.6em;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<i>Visit <a href="{{store url=""}}" style="color: #88551e;">frans.com</a> and enter your gift card number during checkout.</i>
									</font>
								</td>
							</tr>
							<tr>
								<td height="30" colspan="2" style="vertical-align: bottom; color: #a2a2a2;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b>IN STORES</b>
									</font>
								</td>
							</tr>
							<tr>
								<td colspan="2" style="color: #666666; line-height: 1.6em;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<i>Bring your mobile device or a printout of this page to a <a href="{{store url=""}}stores"  style="color: #88551e;">Fran’s store</a> and share with the Fran’s associate. If printing, please make sure the gift card number is visible.</i>
									</font>
								</td>
							</tr>
							<tr>
								<td height="30" colspan="2" style="vertical-align: bottom; color: #a2a2a2;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b>BY PHONE</b>
									</font>
								</td>
							</tr>
							<tr>
								<td colspan="2" style="color: #666666; line-height: 1.6em;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<i>Call {{config path='general/store_information/tollfree_number'}} and share your gift card number with the Fran’s associate.</i>
									</font>
								</td>
							</tr>

							<tr><td height="24" colspan="2">&nbsp;</td></tr>
							<tr>
								<td style="color: #666666;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="3">
										<b>TO&nbsp;CHECK&nbsp;YOUR&nbsp;BALANCE&nbsp;&nbsp;</b>
									</font>
								</td>
								<td width="100%" style="background: transparent url('{{skin url="images/email/divider-shipment.png"}}') repeat-x left center; line-height: 0;">
								<hr size="1" color="d8d8d8" style="display: none;" />
								</td>
							</tr>
							<tr>
								<td height="30" colspan="2" style="vertical-align: bottom; color: #a2a2a2;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b>ONLINE</b>
									</font>
								</td>
							</tr>
							<tr>
								<td colspan="2" style="color: #666666; line-height: 1.6em;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<i>Visit <a href="{{store url=""}}frans/giftcards" style="color: #88551e;">frans.com/frans/giftcards</a> and enter your gift card number.</i>
									</font>
								</td>
							</tr>
							<tr>
								<td height="30" colspan="2" style="vertical-align: bottom; color: #a2a2a2;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b>IN STORES</b>
									</font>
								</td>
							</tr>
							<tr>
								<td colspan="2" style="color: #666666; line-height: 1.6em;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<i>Bring your mobile device or a printout of this page to a <a href="{{store url=""}}stores" style="color: #88551e;">Fran’s store</a> and share with the Fran’s associate. If printing, please make sure the gift card number is visible.</i>
									</font>
								</td>
							</tr>
							<tr>
								<td height="30" colspan="2" style="vertical-align: bottom; color: #a2a2a2;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<b>BY PHONE</b>
									</font>
								</td>
							</tr>
							<tr>
								<td colspan="2" style="color: #666666; line-height: 1.6em;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<i>Call {{config path='general/store_information/tollfree_number'}} and share your gift card number with the Fran’s associate.</i>
									</font>
								</td>
							</tr>

							<tr><td height="24" colspan="2">&nbsp;</td></tr>
							<tr>
								<td style="color: #666666;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="3">
										<b>TERMS&nbsp;AND&nbsp;CONDITIONS&nbsp;&nbsp;</b>
									</font>
								</td>
								<td width="100%" style="background: transparent url('{{skin url="images/email/divider-shipment.png"}}') repeat-x left center; line-height: 0;">
									<hr size="1" color="d8d8d8" style="display: none;" />
								</td>
							</tr>
							<tr>
								<td height="8" colspan="2" style="line-height: 0;">&nbsp;</td>
							</tr>
							<tr>
								<td colspan="2" style="color: #666666; line-height: 1.6em;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<i>Your Fran’s Gift Card may be redeemed online at <a href="{{store url=""}}" style="color: #88551e;">frans.com</a>, in person at a <a href="{{store url=""}}stores" style="color: #88551e;">Fran’s store</a>, or by calling {{config path='general/store_information/tollfree_number'}}.</i>
									</font>
								</td>
							</tr>
							<tr>
								<td height="8" colspan="2" style="line-height: 0;">&nbsp;</td>
							</tr>
							<tr>
								<td colspan="2" style="color: #666666; line-height: 1.6em;">
									<font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
										<i>Your Fran’s Gift Card does not expire and Fran’s does not charge fees associated with your gift card for any reason. Fran’s Gift Cards cannot be replaced if lost or stolen, and may not be redeemed for cash.</i>
									</font>
								</td>
							</tr>
							<tr><td height="30" colspan="2">&nbsp;</td></tr>
						</table>
					</td>
				</tr>
				<tr>
					<td height="3" style="line-height: 0;">
						<img src="{{skin url="images/email/border-bottom.png"}}" style="vertical-align: top;" />
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>