@import "base.less";

/* @mirasvit for Magento 1.9.0.1 begin */

/*---------------- Create New Ticket in Account ------------------*/

h2.legend.create_new_ticket {
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
}
form#helpdesk-form-validate.MultiFile-intercepted div.fieldset ul.form-list {
  width: 50%;
}
form#helpdesk-form-validate.MultiFile-intercepted div.fieldset ul.form-list li.wide div.input-box select {
  width: 100%;
}
form#helpdesk-form-validate.MultiFile-intercepted div.fieldset ul.form-list li.wide div.input-box input {
  width: 100%;
}
form#helpdesk-form-validate.MultiFile-intercepted div.fieldset ul.form-list li.wide div.input-box textarea {
  width: 100%;
}
form#helpdesk-form-validate.MultiFile-intercepted div.buttons-set p.required {
  float: left;
}

/*---------------- Ticket Information in Account ------------------*/
h2.legend.ticket_information {
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
}
h2.legend.post_replay {
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
}
h2.legend.ticket_history {
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 0px;
}
h2.legend.ticket_history_log {
  font-size: 14px;
  margin-top: 20px;
  font-style: italic;
  text-transform: none;
  font-family: Georgia, Times, "Times New Roman", serif;
}
.ticket-history {
  padding: 6px 0px 6px 0px;
}
form#helpdesk-form-validate.MultiFile-intercepted div.fieldset ul.form-list button.button {
  margin-bottom: 2px;
}

/*---------------- Contact Form in Popup ------------------*/
ul.form-list li div.input-box {
  width: 106% !important;
}
form#helpdesk-contact-form.helpdesk-contact-form div.dropbox div.inside-form ul.form-list div.customer-details {
  width: 98%;
}
/*---------------- Contacts Page ------------------*/
form#contactForm.MultiFile-intercepted div.fieldset ul.form-list li.wide div.input-box textarea {
  width: 50%;
}
form#contactForm.MultiFile-intercepted div.fieldset ul.form-list li.fields div.field div.input-box input {
  width: 50%;
}
form#contactForm.MultiFile-intercepted div.fieldset ul.form-list li.wide div.field div.input-box input {
  width: 50%;
}
form#contactForm.MultiFile-intercepted div.fieldset ul.form-list li div.input-box input {
  width: 50%;
}
form#contactForm.MultiFile-intercepted div.fieldset ul.form-list li.fields div.field div.input-box select {
  width: 50%;
}
/* @mirasvit for Magento 1.9.0.1 end */

.helpdesk-box-tickets {
  margin-bottom: 40px;
}

#loading_mask_loader {
  position: fixed;
  top: 45%;
  left: 50%;
  width: 97px;
  margin-left: -62px;
  padding: 15px 30px;
  background: #fff4e9;
  border: 2px solid #f1af73;
  color: #d85909;
  font-weight: bold;
  text-align: center;
  z-index: 1000;
}

/* Extended status colors frontend support */

span.helpdesk-status.aqua
{
  font-size: 11px;
  background-color: #72e7e2;
  background-image: -moz-linear-gradient(top, #9ffdfd, #2ec5b9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9ffdfd), to(#2ec5b9));
  background-image: -webkit-linear-gradient(top, #9ffdfd, #2ec5b9);
  background-image: -o-linear-gradient(top, #9ffdfd, #2ec5b9);
  background-image: linear-gradient(to bottom, #9ffdfd, #2ec5b9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9ffdfd', endColorstr='#ff2ec5b9', GradientType=0);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 2px 15px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}
span.helpdesk-status.grey
{
  font-size: 11px;
  background-color: #6b6b6b;
  background-image: -moz-linear-gradient(top, #868686, #424242);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#868686), to(#424242));
  background-image: -webkit-linear-gradient(top, #868686, #424242);
  background-image: -o-linear-gradient(top, #868686, #424242);
  background-image: linear-gradient(to bottom, #868686, #424242);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff868686', endColorstr='#ff424242', GradientType=0);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 2px 15px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}
span.helpdesk-status.navy
{
  font-size: 11px;
  background-color: #7387bf;
  background-image: -moz-linear-gradient(top, #8d8dc7, #4c7eb4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8d8dc7), to(#4c7eb4));
  background-image: -webkit-linear-gradient(top, #8d8dc7, #4c7eb4);
  background-image: -o-linear-gradient(top, #8d8dc7, #4c7eb4);
  background-image: linear-gradient(to bottom, #8d8dc7, #4c7eb4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8d8dc7', endColorstr='#ff4c7eb4', GradientType=0);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 2px 15px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}
span.helpdesk-status.silver
{
  font-size: 11px;
  background-color: #ababab;
  background-image: -moz-linear-gradient(top, #c0c0c0, #8b8b8b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c0c0c0), to(#8b8b8b));
  background-image: -webkit-linear-gradient(top, #c0c0c0, #8b8b8b);
  background-image: -o-linear-gradient(top, #c0c0c0, #8b8b8b);
  background-image: linear-gradient(to bottom, #c0c0c0, #8b8b8b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc0c0c0', endColorstr='#ff8b8b8b', GradientType=0);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 2px 15px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}
span.helpdesk-status.black {
  font-size: 11px;
  background-color: #000000;
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#000000));
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(to bottom, #000000, #000000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#ff000000', GradientType=0);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 2px 15px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}
span.helpdesk-status.green
{
  font-size: 11px;
  background-color: #77da79;
  background-image: -moz-linear-gradient(top, #97e399, #47cd4a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#97e399), to(#47cd4a));
  background-image: -webkit-linear-gradient(top, #97e399, #47cd4a);
  background-image: -o-linear-gradient(top, #97e399, #47cd4a);
  background-image: linear-gradient(to bottom, #97e399, #47cd4a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff97e399', endColorstr='#ff47cd4a', GradientType=0);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 2px 15px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}
span.helpdesk-status.olive
{
  font-size: 11px;
  background-color: #95a051;
  background-image: -moz-linear-gradient(top, #b4b471, #668121);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b4b471), to(#668121));
  background-image: -webkit-linear-gradient(top, #b4b471, #668121);
  background-image: -o-linear-gradient(top, #b4b471, #668121);
  background-image: linear-gradient(to bottom, #b4b471, #668121);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb4b471', endColorstr='#ff668121', GradientType=0);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 2px 15px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}
span.helpdesk-status.teal
{
  font-size: 11px;
  background-color: #49a6b0;
  background-image: -moz-linear-gradient(top, #59afaf, #3298b1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#59afaf), to(#3298b1));
  background-image: -webkit-linear-gradient(top, #59afaf, #3298b1);
  background-image: -o-linear-gradient(top, #59afaf, #3298b1);
  background-image: linear-gradient(to bottom, #59afaf, #3298b1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff59afaf', endColorstr='#ff3298b1', GradientType=0);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 2px 15px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}
span.helpdesk-status.blue
{
  font-size: 11px;
  background-color: #8b90ff;
  background-image: -moz-linear-gradient(top, #a9a9ff, #5e6bff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a9a9ff), to(#5e6bff));
  background-image: -webkit-linear-gradient(top, #a9a9ff, #5e6bff);
  background-image: -o-linear-gradient(top, #a9a9ff, #5e6bff);
  background-image: linear-gradient(to bottom, #a9a9ff, #5e6bff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa9a9ff', endColorstr='#ff5e6bff', GradientType=0);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 2px 15px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}
span.helpdesk-status.lime
{
  font-size: 11px;
  background-color: #67ec59;
  background-image: -moz-linear-gradient(top, #67ff4a, #68cf70);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#67ff4a), to(#68cf70));
  background-image: -webkit-linear-gradient(top, #67ff4a, #68cf70);
  background-image: -o-linear-gradient(top, #67ff4a, #68cf70);
  background-image: linear-gradient(to bottom, #67ff4a, #68cf70);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff67ff4a', endColorstr='#ff68cf70', GradientType=0);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 2px 15px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}
span.helpdesk-status.purple
{
  font-size: 11px;
  background-color: #d13dd1;
  background-image: -moz-linear-gradient(top, #dd61dd, #c007bf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd61dd), to(#c007bf));
  background-image: -webkit-linear-gradient(top, #dd61dd, #c007bf);
  background-image: -o-linear-gradient(top, #dd61dd, #c007bf);
  background-image: linear-gradient(to bottom, #dd61dd, #c007bf);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd61dd', endColorstr='#ffc007bf', GradientType=0);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 2px 15px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}
span.helpdesk-status.fuchsia
{
  font-size: 11px;
  background-color: #ee8dee;
  background-image: -moz-linear-gradient(top, #ffaeff, #d55bd5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffaeff), to(#d55bd5));
  background-image: -webkit-linear-gradient(top, #ffaeff, #d55bd5);
  background-image: -o-linear-gradient(top, #ffaeff, #d55bd5);
  background-image: linear-gradient(to bottom, #ffaeff, #d55bd5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffaeff', endColorstr='#ffd55bd5', GradientType=0);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 2px 15px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}
span.helpdesk-status.maroon
{
  font-size: 11px;
  background-color: #b26767;
  background-image: -moz-linear-gradient(top, #b47171, #af5959);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b47171), to(#af5959));
  background-image: -webkit-linear-gradient(top, #b47171, #af5959);
  background-image: -o-linear-gradient(top, #b47171, #af5959);
  background-image: linear-gradient(to bottom, #b47171, #af5959);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb47171', endColorstr='#ffaf5959', GradientType=0);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 2px 15px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}
span.helpdesk-status.red
{
  font-size: 11px;
  background-color: #ff6262;
  background-image: -moz-linear-gradient(top, #ff8b8b, #ff2525);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff8b8b), to(#ff2525));
  background-image: -webkit-linear-gradient(top, #ff8b8b, #ff2525);
  background-image: -o-linear-gradient(top, #ff8b8b, #ff2525);
  background-image: linear-gradient(to bottom, #ff8b8b, #ff2525);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff8b8b', endColorstr='#ffff2525', GradientType=0);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 2px 15px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}
span.helpdesk-status.orange
{
  font-size: 11px;
  background-color: #ff8c00;
  background-image: -moz-linear-gradient(top, #ff8c00, #ff8c00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff8c00), to(#ff8c00));
  background-image: -webkit-linear-gradient(top, #ff8c00, #ff8c00);
  background-image: -o-linear-gradient(top, #ff8c00, #ff8c00);
  background-image: linear-gradient(to bottom, #ff8c00, #ff8c00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff8c00', endColorstr='#ffff8c00', GradientType=0);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 2px 15px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}
span.helpdesk-status.yellow
{
  font-size: 11px;
  background-color: #f9ca34;
  background-image: -moz-linear-gradient(top, #ffd757, #f0b700);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd757), to(#f0b700));
  background-image: -webkit-linear-gradient(top, #ffd757, #f0b700);
  background-image: -o-linear-gradient(top, #ffd757, #f0b700);
  background-image: linear-gradient(to bottom, #ffd757, #f0b700);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffd757', endColorstr='#fff0b700', GradientType=0);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 2px 15px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}
