.ticket-satisfaction-block {
  color: #777;
  font-size: 10px;
  margin: 0px 0px 15px 0px;
  overflow: hidden;
}
.ticket-satisfaction-block .satisfaction-header {
  margin: 40px 0px 10px 10px;
}
.ticket-satisfaction-block .satisfaction-block {
  width: 130px;
  float: left;
  text-align: center;
  margin-right: 20px;
}
.ticket-satisfaction-block .satisfaction-block.success {
  width: auto;
}
.ticket-satisfaction-block .satisfaction-block.success .label {
  font-size: 14px;
  font-weight: bold;
  color: #690;
}
.ticket-satisfaction-block .satisfaction-block img {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border: 0px;
}
.ticket-satisfaction-block .satisfaction-block .desciption {
  line-height: normal;
  margin: 0;
}
.ticket-satisfaction-block .satisfaction-block .label {
  margin: 0 0 5px 0;
}
.ticket-satisfaction-block .satisfaction-block .label .green {
  color: #690;
}
.ticket-satisfaction-block .satisfaction-block .label .red {
  color: #c00;
}
