.ticket-satisfaction-block {
  color: #777;
  font-size: 10px;
  margin: 0px 0px 15px 0px;
  overflow: hidden;
//  width: 500px;

  .satisfaction-header {
      margin: 40px 0px 10px 10px;
  }
  .satisfaction-block {
    width: 130px;
    float: left;
    text-align: center;
    margin-right: 20px;

    &.success {
      width: auto;

      .label {
        font-size: 14px;
        font-weight: bold;
        color:#690;
      }
    }

    img {
      margin: 0 auto;
      width: 40px;
      height: 40px;
      border: 0px;
    }

    .desciption {
      line-height: normal;
      margin: 0;
    }

    .label {
      margin: 0 0 5px 0;

      .green {
        color: #690;
      }

      .red {
        color: #c00;
      }
    }
  }
}