<?php

// use a URL param to open either the "contact" or "signup" tab automatically
$openTab = $this->getRequest()->getParam('tab', false);

// flag for showing the registration form (otherwise tab is replaced with link to account area)
$showRegistrationForm = true;

// contact form field values
$shopUrlPath = Mage::getStoreConfig('frans/business_gifting_options/shop_link_path');
$firstName = '';
$lastName = '';
$businessName = '';
$email = '';
$phone = '';


if($this->helper('customer')->isLoggedIn())
{
    $showRegistrationForm = false;
    $customer = Mage::getSingleton('customer/session')->getCustomer();
    $firstName = $customer->getFirstname();
    $lastName = $customer->getLastname();
    $businessName = $customer->getCompanyName();
    $email = $customer->getEmail();
    if($customer->getPrimaryBillingAddress()){
        $phone = $customer->getPrimaryBillingAddress()->getTelephone();
    }
}

?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <div class="std">
    <h2><?php echo $this->__('Business Gifting Made Simple And Elegant'); ?></h2>
    <ul>
        <li><?php echo $this->__('Personalized gift enclosures'); ?></li>
        <li class="divider-item"></li>
        <li><?php echo $this->__('Ribbon colors'); ?></li>
        <li class="divider-item"></li>
        <li><?php echo $this->__('Hang tags'); ?></li>
        <li class="divider-item"></li>
        <li><?php echo $this->__('Large orders shipping to multiple locations'); ?></li>
    </ul>
    <ul class="busgift">
        <li>
            <a class="busgift-shop" href="<?php echo $this->getUrl($shopUrlPath); ?>">
                <?php echo $this->__('Shop our business gifts'); ?>
            </a>
        </li>
        <li>
            <a class="busgift-contact<?php if($openTab === 'contact') echo ' active'; ?>" href="javascript:void(0);">
                <?php echo $this->__('Contact us to place a large order'); ?>
            </a>
        </li>
        <li>
            <?php if($showRegistrationForm): ?>
                <a class="busgift-register<?php if($openTab === 'signup') echo ' active'; ?>" href="javascript:void(0);">
                    <?php echo $this->__('Sign up for an account'); ?>
                </a>
            <?php else: ?>
                <a class="busgift-register" href="<?php echo $this->getUrl('customer/account'); ?>">
                    <?php echo $this->__('Your account'); ?>
                </a>
            <?php endif; ?>
        </li>

    </ul>
    <div class="contact-form<?php if($openTab !== 'contact') echo ' hide'; ?>">
        <form action="<?php echo $this->getUrl('frans/contacts_index/post'); ?>" method="post" id="business-gifting">
            <input type="hidden" name="action" class="form-action" value = "business-gifting">
            <ul class="busgift-msg form-list">
                <li>
                    <span class="form-header"><?php echo $this->__('Place a large order'); ?></span>
                    <span class="form-subheader"><?php echo $this->__('Fill out the form below and we will call you!'); ?></span>
                </li>
                <li>
                    <div class="input-box">
                        <input type="text" name="firstname" id="firstname" value="<?php echo $firstName; ?>" title="<?php echo $this->__('First name'); ?>" class="input-text required-entry" placeholder="<?php echo $this->__('First name') ?>" />
                        <input type="text" name="lastname" id="lastname" value="<?php echo $lastName; ?>" title="<?php echo $this->__('Last name'); ?>" class="input-text required-entry" placeholder="<?php echo $this->__('Last name') ?>" />
                    </div>
                </li>
                <li>
                    <div class="input-box">
                        <input type="text" name="companyname" id="companyname" value="<?php echo $businessName; ?>" title="<?php echo $this->__('Business name'); ?>" class="input-text" placeholder="<?php echo $this->__('Business name') ?>" />
                    </div>
                </li>
                <li>
                    <div class="input-box">
                        <input type="text" name="email" id="email" value="<?php echo $email; ?>" title="<?php echo $this->__('Email address'); ?>" class="input-text validate-email required-entry" placeholder="<?php echo $this->__('Email address') ?>" />
                    </div>
                </li>
                <li>
                    <div class="input-box">
                        <input type="text" name="phone" id="phone" value="<?php echo $phone; ?>" title="<?php echo $this->__('Phone number'); ?>" class="input-text validate-phoneLax required-entry" placeholder="<?php echo $this->__('Phone number') ?>" />
                    </div>
                </li>
                <li class="busgift-divider"></li>
                <li>
                    <div class="input-box">
                        <input type="text" name="subject" id="subject" value="" title="<?php echo $this->__('Message subject'); ?>" class="input-text required-entry" placeholder="<?php echo $this->__('Message subject') ?>" />
                    </div>
                </li>
                <li>
                    <div class="input-box">
                        <textarea name="body" id="body" value="" title="<?php echo $this->__('Message body'); ?>" class="input-text required-entry" placeholder="<?php echo $this->__('Please let us know any details that may assist us with expediting this order. We will contact you immediately upon receipt of this communication.') ?>"></textarea>
                    </div>
                </li>
                <li>
                    <div class="buttons-set">
                        <button type="submit" title="<?php echo $this->__('Submit'); ?>" class="button-dark"><span><span><?php echo $this->__('Submit'); ?></span></span></button>
                    </div>
                </li>
            </ul>
        </form>
        <div class="success-message hide">
            <?php echo $this->__('Thank you for submitting your large order request. A Fran\'s representative will be in touch with you shortly.'); ?>
        </div>
    </div>
    <?php if($showRegistrationForm): ?>
        <div class="register-form<?php if($openTab !== 'signup') echo ' hide'; ?>">
            <form action="<?php echo $this->getUrl("customer/account/createpost") ?>" method="post" id="form-register">
                <input type="hidden" name="source" value="businessgifting" />
                <ul class="busgift-reg form-list">
                    <li>
                        <span class="form-header"><?php echo $this->__('Sign up for a Business Account'); ?></span>
                        <span class="form-subheader"><?php echo $this->__('Checkout faster, save addresses, and track orders'); ?></span>
                    </li>
                    <li class="business-name-wrapper">
                        <div class="buttons-set">
                            <input type="text" name="company_name" id="company_name" class="input-text company_name" title="<?php echo $this->__('Business Name'); ?>" placeholder="<?php echo $this->__('Business Name'); ?>"  />
                        </div>
                    </li>
                    <li>
                        <div class="input-box">
                            <input type="text" name="email" id="email" value="" title="<?php echo $this->__('Email address'); ?>" class="input-text validate-email required-entry" placeholder="<?php echo $this->__('Email address') ?>" />
                        </div>
                    </li>
                    <li>
                        <div class="input-box">
                            <input type="password" name="password" id="password" data-tooltip-id="passrequirements" data-tooltip-position="right" class="input-text required-entry validate-password autotooltip" title="<?php echo $this->__('Password'); ?>" placeholder="<?php echo $this->__('Password'); ?>" />
                        </div>
                    </li>
                    <li>
                        <div class="input-box">
                            <input type="password" name="confirmation" id="confirmation" class="input-text required-entry validate-cpassword" title="<?php echo $this->__('Confirm password'); ?>" placeholder="<?php echo $this->__('Confirm password'); ?>" />
                        </div>
                    </li>
                    <li>
                        <label class="register-checkbox">
                            <input type="checkbox" name="business-account" class="business-account" checked />
                            <?php echo $this->__('This Is For A Business Account'); ?>
                        </label>
                        <label class="register-checkbox">
                            <input type="checkbox" name="is_subscribed" title="<?php echo $this->__('Sign Up for Newsletter'); ?>" value="1" id="is_subscribed" class="checkbox" />
                            <?php echo $this->__('Receive Fran\'s Chocolates communications'); ?>
                        </label>
                    </li>
                    <li>
                        <div class="buttons-set">
                            <button type="submit" title="<?php echo $this->__('Create Account'); ?>" class="button-dark"><span><span><?php echo $this->__('Create Account'); ?></span></span></button>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    <?php endif; ?>
    <script type="text/javascript">
        //<![CDATA[
        var contactForm = new VarienForm('business-gifting', true);
        var registerForm = new VarienForm('form-register', true);

        jQuery('.busgift-contact').on('click', function(){
            <?php if($showRegistrationForm): ?>
            toggleRegisterForm(false);
            <?php endif; ?>
            toggleContactForm();
        });

        function toggleContactForm(doShow){
            var control = jQuery('.busgift-contact');
            var display = jQuery('.contact-form');
            if(typeof(doShow) === 'undefined'){
                doShow = !control.hasClass('active');
            }
            if(doShow){
                contactForm.validator.reset();
                control.addClass('active');
                display.fadeIn();
            } else {
                control.removeClass('active');
                display.hide();
            }
        }

        <?php if($showRegistrationForm): ?>
        jQuery('.busgift-register').on('click', function(){
            toggleContactForm(false);
            toggleRegisterForm();
        });

        function toggleRegisterForm(doShow){
            var control = jQuery('.busgift-register');
            var display = jQuery('.register-form');
            if(typeof(doShow) === 'undefined'){
                doShow = !control.hasClass('active');
            }
            if(doShow){
                registerForm.validator.reset();
                control.addClass('active');
                display.fadeIn();
            } else {
                control.removeClass('active');
                display.hide();
            }
        }
        <?php endif; ?>

        new Event.observe('business-gifting', 'submit', function(e){
            e.stop();
            var validator = new Validation(this);
            if(validator.validate()){
                var form = jQuery('#business-gifting');
                var data = form.serialize();
                makeAjaxRequest(form.attr('action'), data, function(response){
                    if(response['success'] == true)
                    {
                        form.hide();
                        form.siblings('.success-message').show();
                    }
                    else
                    {
                        alert('<?php echo $this->__('Sorry, there was a problem submitting your message. Please try again later.'); ?>');
                    }
                });
            }
        });

        // show+enable or hide+disable the Business Name field when "business account" box is checked
        jQuery('input.business-account').on('change', function(){
            var enabled = jQuery(this).is(':checked');

            if(enabled)
            {
                jQuery('.business-name-wrapper').show();
                jQuery('input#company_name').addClass('required-entry');
            }
            else
            {
                jQuery('.business-name-wrapper').hide();
                jQuery('input#company_name').removeClass('required-entry');

            }

        });

        //]]>
    </script>
    <div class="busgift-footer">
        <img src="<?php echo $this->getSkinUrl('images/frans-logo-watermark.png'); ?>" alt="<?php echo $this->__('Fran\'s Chocolates'); ?>" />
        <p>Please <a href="<?php echo $this->getBaseUrl(); ?>contact">contact us</a> with questions or for assistance with your order.</p>
        <p class="busgift-contact"><strong><?php echo Mage::getStoreConfig('general/store_information/phone'); ?></strong></p>
        <p class="busgift-contact"><?php echo Mage::getStoreConfig('general/store_information/business_contact_hours'); ?></p>
    </div>
    </div>
<?php echo $this->getChildHtml('businessgifting.passrequirements'); ?>