<? /** @var IntellectLabs_Stripe_Block_Adminhtml_Customer_Edit_Tab_Stripe $this */ ?>

<?php if ($this->sendAddressData()) : ?><input type="hidden" name="send_address_data" value="1" id="send_address_data" /><?php endif; ?>
<input type="hidden" name="publishable_key" value="<?php echo $this->getPublishableKey() ?>" id="publishable_key" />
<?php $_code=$this->getMethodCode() ?>
<?php
// figure out if we require the fields by default.
// if we are a customer but have no default, they are required.
$requiredClass = ($this->getCustomer() && !$this->getStripeCustomerDefaultCard()) ? 'required-entry' : '';
?>
<ul id="payment_form_<?php echo $_code ?>" style="display:none">
	<li>
		<ul id="stripe-change-payment-form" <?php if ($this->getIsStripeCustomer()): ?> style="display: none;"<?php endif; ?>>
			<? if ($this->getCustomer() && $this->getCustomer()->getId()): ?>
            <li>
				<div class="input-box">
				<?php if ($this->getAlwaysCreateStripeCustomer()) : ?>
					<input type="hidden" name="payment[create_stripe_customer]" value="<?php if ($this->getIsStripeCustomer()) : ?>0<?php else: ?>1<?php endif; ?>" />
				<?php else : ?>
					<label for="<?php echo $_code ?>_create_stripe_customer"><?php echo Mage::helper('payment')->__("Save card for later use?")?></label>
					<input type="checkbox" value="1" name="payment[create_stripe_customer]" id="<?php echo $_code ?>_create_stripe_customer" />
				<?php endif; ?>
				</div>
			</li>
            <? endif; ?>
			<li>
				<input type="hidden" name="payment[<?php echo $_code ?>_token]" value="<?php echo $this->getInfoData('stripe_token') ?>" id="<?php echo $_code?>_token" />
			</li>
		    <li>
		        <div class="input-box">
		            <label for="<?php echo $_code ?>_cc_number"><?php echo Mage::helper('payment')->__('Credit Card Number') ?> <span class="required">*</span></label><br/>
		            <input type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number]" title="<?php echo Mage::helper('payment')->__('Credit Card Number') ?>" class="<? echo $requiredClass; ?> input-text validate-cc-number stripe-toggle-valid" value="<?php echo $this->getInfoData('cc_number')?>"/>
		        </div>
		    </li>
		    <li>
		        <div class="input-box">
		            <label for="<?php echo $_code ?>_expiration"><?php echo Mage::helper('payment')->__('Expiration Date') ?> <span class="required">*</span></label><br/>
		            <select id="<?php echo $_code ?>_expiration" style="width:140px;" name="payment[cc_exp_month]" class="validate-cc-exp <? echo $requiredClass; ?> stripe-toggle-valid">
		            <?php $_ccExpMonth = $this->getInfoData('cc_exp_month') ?>
		            <?php foreach ($this->getCcMonths() as $k=>$v): ?>
		                <option value="<?php echo $k ?>" <?php if($k==$_ccExpMonth): ?>selected="selected"<?php endif ?>><?php echo $v ?></option>
		            <?php endforeach ?>
		            </select>
		            <?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
		            <select id="<?php echo $_code ?>_expiration_yr" style="width:103px;" name="payment[cc_exp_year]" class="<? echo $requiredClass; ?> stripe-toggle-valid">
		            <?php foreach ($this->getCcYears() as $k=>$v): ?>
		                <option value="<?php echo $k ? $k : '' ?>" <?php if($k==$_ccExpYear): ?>selected="selected"<?php endif ?>><?php echo $v ?></option>
		            <?php endforeach ?>
		            </select>
		        </div>
		    </li>
		    <?php if($this->hasVerification()): ?>
		    <li>
		        <div class="input-box">
		            <label for="<?php echo $_code ?>_cc_cid"><?php echo Mage::helper('payment')->__('Card Verification Number') ?> <span class="required">*</span></label><br/>
		            <input type="text" title="<?php echo Mage::helper('payment')->__('Card Verification Number') ?>" class="<? echo $requiredClass; ?> input-text validate-cc-cvn stripe-toggle-valid" id="<?php echo $_code ?>_cc_cid" name="payment[cc_cid]" style="width:3em;" value="<?php echo $this->getInfoData('cc_cid')?>"/>
		        </div>
		    </li>
		    <?php endif; ?>
		</ul>
	</li>
	<?php if ($this->getIsStripeCustomer()) : ?>
		<li>
			<a id="stripe-update-payment" class="use" href="#" onclick="toggleStripePaymentFields(event, this);"><?php echo $this->__("Change payment information") ?></a>
		</li>
	<?php endif; ?>
    <?php if ($this->getIsStripeCustomer()) : ?>
		<li id="stripe-payment-details"<?php if (!$this->getIsStripeCustomer()) : ?> style="display: none;"<?php endif; ?>>
			<fieldset>
				<ul>
					<li>
						<input type="hidden" name="payment[stripe_customer_id]" value="<?php echo $this->getStripeCustomerId() ?>" id="<?php echo $_code?>_stripe_customer_id" />
					</li>
					<li>
						<?php echo $this->getPaymentHtml(); ?>
					</li>
				</ul>
			</fieldset>
		</li>
	<?php else: ?>
		<input type="hidden" name="payment[stripe_customer_id]" value="<?php echo $this->getStripeCustomerId() ?>" id="<?php echo $_code?>_stripe_customer_id" /> 
	<?php endif; ?> 
</ul>