<?php /** @var Mirasvit_Helpdesk_Block_Ticket_Satisfaction $this */?>
<div class="ticket-satisfaction-block">
    <div id="satisfaction-header" class="satisfaction-header">
        <?php echo $this->__('Please rate my answer:')?>
    </div>
    <div class="satisfaction-block">
        <a href="<?php echo $this->getRateUrl(3) ?>" target="_blank">
            <img src="<?php echo $this->getSkinUrl('images/mst_helpdesk/smile/3.png', array('_area' => 'frontend'))?>" alt="<?php echo $this->__('Great')?>">
        </a>
        <h2 class="label">
            <a href="<?php echo $this->getRateUrl(3) ?>" class="green" target="_blank"><?php echo $this->__('Awesome')?></a>
        </h2>
        <p class="desciption"><?php echo $this->__('Fast, friendly, helpful, pleasant. Great job!')?></p>
    </div>

    <div class="satisfaction-block">
        <a href="<?php echo $this->getRateUrl(2) ?>" target="_blank">
            <img src="<?php echo $this->getSkinUrl('images/mst_helpdesk/smile/2.png', array('_area' => 'frontend'))?>" alt="<?php echo $this->__('OK')?>">
        </a>
        <h2 class="label">
            <a href="<?php echo $this->getRateUrl(2) ?>" target="_blank"><?php echo $this->__('Just Okay')?></a>
        </h2>
        <p class="desciption"><?php echo $this->__('Fine, but definitely could have been better.')?></p>
    </div>

    <div class="satisfaction-block">
        <a href="<?php echo $this->getRateUrl(1) ?>" target="_blank">
            <img src="<?php echo $this->getSkinUrl('images/mst_helpdesk/smile/1.png', array('_area' => 'frontend'))?>" alt="<?php echo $this->__('Bad')?>">
        </a>
        <h2 class="label">
            <a href="<?php echo $this->getRateUrl(1) ?>" class="red" target="_blank"><?php echo $this->__('Not good')?></a>
        </h2>
        <p class="desciption"><?php echo $this->__('Unfortunately, I wasn\'t happy with it at all.')?></p>
    </div>
    <div class="satisfaction-block success" style="display: none;">
        <p class="label"><?php echo $this->__('Thank you for your feedback!')?></p>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    window.onload = function() {
        $$('.satisfaction-block a').each(function(element) {
            element.observe('click', function (e) {
                e.stop();
                submitSatisfaction(this.readAttribute('href'));
            });
        })
    }

    function submitSatisfaction(url) {
        new Ajax.Request(url, {
            method: 'post',
            onSuccess: function(transport) {
                if(transport.status == 200) {
                    var response = transport.responseText;
                    if(response == 'success') {
                        $('satisfaction-header').hide()
                        $$('.satisfaction-block').each(function(element) {
                            element.hide();
                        });
                        $$('.satisfaction-block.success')[0].show();
                    }
                }
            }
        });
    }

    //]]>
</script>