<?php
/**
 * template for showing address validation results
 */
?>
<?php /** @var $this GoSolid_Frans_Block_Adminhtml_Sales_Order_Address_Validation_View */ ?>

<div id="address_validation" class="product-configure-popup address-validation" style="display:none;">
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head fieldset-legend"><?= $this->__('Address Validation'); ?></h4>
        </div>

        <div id="address_validation_display" class="content">
            <? if ($messages = $this->getDisplayMessages()): ?>
            <div>
                <ul class="messages">
                    <? foreach ($messages as $message): ?>
                        <li class="error-msg"><?= $message; ?></li>
                    <? endforeach; ?>
                </ul>
            </div>
            <? endif; ?>
            <div class="address-col">
                <h5><?= $this->__('Entered Address'); ?></h5>

                <?
                // not sure of a better way to do this, since the order needs to match between the two areas
                $enteredAddress = $this->getAddress();
                ?>
                <div class="hor-scroll">
                <table cellspacing="0" class="form-list address-validation-table">
                    <tbody>
                        <tr>
                            <td class="slim-label"><?= $this->__('Company'); ?></td>
                            <td class="value display-value"><?= htmlspecialchars($enteredAddress->getCompany()); ?></td>
                        </tr>
                        <tr>
                            <td class="slim-label"><?= $this->__('Street'); ?></td>
                            <td class="value display-value">
                                <?= htmlspecialchars($enteredAddress->getStreet1()); ?>
                                <br />
                                <?= htmlspecialchars($enteredAddress->getStreet2()); ?>
                            </td>
                        </tr>
                        <tr>
                            <td class="slim-label"><?= $this->__('City'); ?></div>
                            <td class="value display-value"><?= htmlspecialchars($enteredAddress->getCity()); ?></td>
                        </tr>
                        <tr>
                            <td class="slim-label"><?= $this->__('State/Province'); ?></td>
                            <td class="value display-value"><?= htmlspecialchars($enteredAddress->getRegion()); ?></td>
                        </tr>
                        <tr>
                            <td class="slim-label"><?= $this->__('Zip/Postal Code'); ?></td>
                            <td class="value display-value"><?= htmlspecialchars($enteredAddress->getPostcode()); ?></td>
                        </tr>
                        <tr>
                            <td class="slim-label"><?= $this->__('Country'); ?></td>
                            <td class="value display-value"><?= htmlspecialchars($enteredAddress->getCountryId()); ?></td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
            <div class="address-col">
                <h5><?= $this->__('Proposed Address'); ?></h5>
                <?
                    // proposed address is editable, but should be the same order as above
                    $proposedAddress = $this->getProposedAddress();

                ?>
                <table cellspacing="0" class="form-list address-validation-table">
                    <tbody>
                    <tr>
                        <td class="slim-label"><?= $this->__('Company'); ?></td>
                        <td class="value">
                            <input type="text" name="updated_address[company]" id="updated_address_company" value="<?= ( $proposedAddress->getCompany()=='' ? $enteredAddress->getCompany() : $proposedAddress->getCompany() ); ?>" size="30" <? if ($this->isFieldChanged('company')) echo "class='changed-field'"; ?>/>
                        </td>
                    </tr>
                    <tr>
                        <td class="slim-label"><label><?= $this->__('Street'); ?><span class="required">*</span></label></td>
                        <td class="value">
                            <input type="text" name="updated_address[street][]" id="updated_address_street_1" value="<?= $proposedAddress->getStreet1(); ?>" size="30" <? if ($this->isFieldChanged('street')) echo "class='changed-field'"; ?>/>
                            <br />
                            <input type="text" name="updated_address[street][]" id="updated_address_street_2" value="<?= ( $proposedAddress->getStreet2()=='' ? $enteredAddress->getStreet2() : $proposedAddress->getStreet2() ); ?>" size="30" <? if ($this->isFieldChanged('street')) echo "class='changed-field'"; ?>/>
                        </td>
                    </tr>
                    <tr>
                        <td class="slim-label"><label><?= $this->__('City'); ?><span class="required">*</span></label></td>
                        <td class="value">
                            <input type="text" name="updated_address[city]" id="updated_address_city" value="<?= $proposedAddress->getCity(); ?>" size="30" <? if ($this->isFieldChanged('city')) echo "class='changed-field'"; ?>/>
                        </td>
                    </tr>
                    <tr>
                        <td class="slim-label"><label><?= $this->__('State/Province'); ?><span class="required">*</span></label></td>
                        <td class="value">
                            <input type="text" name="updated_address[region]" id="updated_address_region" value="<?= $proposedAddress->getRegion(); ?>" size="30" <? if ($this->isFieldChanged('region')) echo "class='changed-field'"; ?>/>
                            <select name="updated_address[region_id]" id="updated_address_region_id" value="<?= $proposedAddress->getRegionId(); ?>" class="select<? if ($this->isFieldChanged('region_id')) echo " changed-field"; ?>" style="display:none">
                                <option value="">Please select</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="slim-label">
                            <label><?= $this->__('Zip/Postal Code'); ?>
                                <span class="required">*</span>
                            </label>
                        </td>
                        <td class="value">
                            <input type="text" name="updated_address[postcode]" id="updated_address_postcode" value="<?= $proposedAddress->getPostcode(); ?>" size="30" <? if ($this->isFieldChanged('postcode')) echo "class='changed-field'"; ?> />
                        </td>
                    </tr>
                    <tr>
                        <td class="slim-label"><?= $this->__('Country'); ?></td>
                        <td class="value">
<!--                            <input type="text" name="updated_address[country_id]" id="updated_address_country_id" value="--><?//= $proposedAddress->getCountryId(); ?><!--" size="30" --><?// if ($this->isFieldChanged('country_id')) echo "class='changed-field'"; ?><!--/>-->
                            <? echo $this->getCountrySelectHtml($proposedAddress->getCountryId()); ?>
                            <script type="text/javascript">
                                $('updated_address_region_id').setAttribute('defaultValue', '<? echo $proposedAddress->getRegionId(); ?>');
                                new regionUpdater('updated_address_country_id', 'updated_address_region', 'updated_address_region_id', <? echo $this->helper('directory')->getRegionJson(); ?>);
                            </script>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <div class="buttons-set a-right">
            <button type="button" class="scalable cancel" onclick="addressValidation.onCancelBtn()" id="address_validation_cancel"><span><span><span><?= $this->__('Don\'t Apply') ?></span></span></span></button>
            <button type="button" class="scalable save" onclick="addressValidation.onApplyBtn()" id="address_validation_apply"><span><span><span><?= $this->__('Apply to Address') ?></span></span></span></button>
        </div>
    </div>
</div>