<p class="customer-note">As a preferred business customer you have the option to pay by invoice. Select this option to place your order without a credit card and we will email you an invoice for your order.</p>
<ul class="form-list" id="payment_form_paybyinvoice">
    <li>
        <label for="paybyinvoice_po_number">Purchase Order Number</label>
        <div class="input-box">
            <input type="text" title="Purchase Order Number" class="input-text" id="paybyinvoice_po_number" name="payment[po_number]" value="" autocomplete="off" />
        </div>
    </li>
</ul>