<?php
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Webcomm Pty Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
?>
<?php
/**
 * Customer login form template
 *
 * @see Mage_Customer_Block_Form_Login
 */
?>
<div class="account-login">

	<h1 class="page-title"><?php echo $this->__('Sign In'); ?></h1>
	<?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>

	<?php /* Extensions placeholder */ ?>
	<?php echo $this->getChildHtml('customer.form.login.extra'); ?>

	<div id="login-section" class="frans-container">
		<div id="login-wrapper">
			<div class="login-or-guest">
				<div class="row">
					<div class="col-xs-12 col-sm-5">
						<?php echo $this->getChildHtml('customer.form.login_form'); ?>
					</div>
					<div class="col-xs-12 col-sm-2">
						<div class="dynamic-or-divider"><?php echo $this->__('or'); ?></div>
					</div>
					<div class="col-xs-12 col-sm-5">
						<?php echo $this->getChildHtml('customer.form.register_form'); ?>
					</div>
				</div>
			</div>
			<div class="email-notice">
				<div class="row">
					<div class="col-xs-12 notice-to-new-customers">
						<h2><?php echo $this->__('Notice to current customers'); ?></h2>
						<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('login-notice')->toHtml(); ?>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		//<![CDATA[
		var dataForm = new VarienForm('login-form', true);
		//]]>
	</script>
</div>
