<?php // row of one full-width "feature" backdrop including inset with static background image, ?>
<?php // header text, and content, the inset is on the right for large devices, then centers ?>
<?php // for mobile devices ?>

<?php $content = $this->getContent(); ?>

<?php if(isset($content)): ?>

	<div class="backdrop">
		<div class="col-xs-12">
			<?php echo $this->getStaticTileHtml($content, 'inset-right-static'); ?>
		</div>
	</div>

<?php endif; ?>