<?php // row of one full-width tile ?>

<?php $products = $this->getProducts(); ?>

<?php if(count($products) > 0): ?>
	<div class="tile-row one">

		<?php if(isset($products[0])): ?>
			<div class="tile one <?php if($products[0]->getTypeId()): ?><?php echo $products[0]->getTypeId(); ?>-product<?php endif; ?>">
				<?php echo $this->getTileHtml($products[0], 'default'); ?>
			</div>
		<?php endif; ?>

	</div>
<?php endif; ?>