<?php // row of three tiles of equal size ?>
<?php // collapses to two rows, the first with one large tile, the second with two medium ones ?>
<?php // then collapses again to three rows with one tile on each for mobile devices ?>

<?php $products = $this->getProducts(); ?>

<?php if(count($products) > 0): ?>
	<div class="tile-row three">

		<?php if(isset($products[0])): ?>
			<div class="tile one <?php if($products[0]->getTypeId()): ?><?=$products[0]->getTypeId()?>-product<? endif; ?>">
				<?php echo $this->getTileHtml($products[0], 'default'); ?>
			</div>
		<?php endif; ?>

		<?php if(isset($products[1])): ?>
			<div class="tile two <?php if($products[1]->getTypeId()): ?><?=$products[1]->getTypeId()?>-product<? endif; ?>">
				<?php echo $this->getTileHtml($products[1], 'default'); ?>
			</div>
		<?php endif; ?>

		<?php if(isset($products[2])): ?>
			<div class="tile three <?php if($products[2]->getTypeId()): ?><?=$products[2]->getTypeId()?>-product<? endif; ?>">
				<?php echo $this->getTileHtml($products[2], 'default'); ?>
			</div>
		<?php endif; ?>

	</div>
<?php endif; ?>