<?php // row of two tiles of equal size ?>

<?php $products = $this->getProducts(); ?>

<?php if(count($products) > 0): ?>
	<div class="tile-row two">

		<?php if(isset($products[0])): ?>
			<div class="tile one <?php if($products[0]->getTypeId()): ?><?=$products[0]->getTypeId()?>-product<? endif; ?>">
				<?php echo $this->getTileHtml($products[0], 'default'); ?>
			</div>
		<?php endif; ?>

		<?php if(isset($products[1])): ?>
			<div class="tile two <?php if($products[1]->getTypeId()): ?><?=$products[1]->getTypeId()?>-product<? endif; ?>">
				<?php echo $this->getTileHtml($products[1], 'default'); ?>
			</div>
		<?php endif; ?>

	</div>
<?php endif; ?>