@wedding-favors-color-gold: #caad9f;
@wedding-favors-color-gold-hover: #d6b9ab;
@wedding-favors-color-pink: #fea891;
@wedding-favors-color-pink-hover: #ffbca9;
@wedding-favors-hero-image: '@{image-path}hero/hero-wedding-favors.jpg';

.backdrop.wedding-favors {
    .banner {
      height: 480px; // actual image height (same as cutoff, for mobile view)
      background-image: url('@{wedding-favors-hero-image}');
      background-size: 900px auto;
      background-position: 50% -55px;
      .hero > .content {
        height: 480px;
        .accent {
            height: auto;
            position: relative;
            bottom: auto;
            text-align: center;
            top: auto;
            left: auto;
            padding: 70px 0 0 0;
            margin: auto;
            width: auto;
            max-width: 400px;
            background-size: auto;
            background-position: 50% 0;
            background-repeat: no-repeat;
            h2 {
                display: block;
                font-family: @hero-font;
                color: @wedding-favors-color-gold;
                margin: 0;
                font-size: 40px;
                line-height: 44px;
                letter-spacing: 3px;
                padding: 0;
                span {
                    display: inline-block;
                }
            }
            h3 {
                display: block;
                font-family: @hero-font;
                color: @wedding-favors-color-gold;
                margin: 0;
                font-size: 15px;
                line-height: 24px;
                letter-spacing: 0;
                text-indent: 0;
                padding: 9px 0 15px 0;
            }
            .banner-button {
                font-family: @hero-font;
                color: @seasonal-content-bg;
                background-color: @wedding-favors-color-gold;
                display: inline-block;
                height: auto;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: 1px;
                padding: 13px 22px;
                margin-top: 0;
                white-space: nowrap;
                text-transform: uppercase;
                .transition(background-color 150ms);
            }
            .banner-button:hover {
                background-color: @wedding-favors-color-gold-hover;
                .transition(background-color 50ms);
            }
        }
      }
    }
}

.backdrop.wedding-favors.color-pink{
    .banner {
      .hero > .content {
        .accent {
            h2 {
                color: @wedding-favors-color-pink;
            }
            h3 {
                color: @wedding-favors-color-pink;
            }
            .banner-button {
                background-color: @wedding-favors-color-pink;
            }
            .banner-button:hover {
                background-color: @wedding-favors-color-pink-hover;
            }
        }
      }
    }
}


//=========== MEDIA QUERIES ===========
/* tablet / full nav / vertical type layout / 768 to 992 */

@media(min-width: @screen-sm-min) {
    .backdrop.wedding-favors{
        .banner {
            height: 800px; // actual image height (same as cutoff, for mobile view)
            background-image: url('@{wedding-favors-hero-image}');
            background-size: auto;
            background-position: 50% -200px;
            .hero > .content {
                height: 500px;
                .accent{
                    max-width: 100%;
                    padding: 40px 0 0 0;
                    h2 {
                        font-size: 42px;
                    }
                    h3 {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}