@valentines-frans-assortment-cta: #ea1c73;
@valentines-frans-assortment-cta-hover: #f85fa0;
@valentines-frans-assortment-cta-text: #ffffff;
@valentines-frans-assortment-headline: #6d402e;
@valentines-frans-assortment-hero-image: '@{image-path}hero/hero-valentines-frans-assortment.jpg';

.backdrop.valentines-frans-assortment {
    padding-top: 54px;
    .banner {
      height: 445px; // actual image height (same as cutoff, for mobile view)
      height: 390px; // height minus top padding in backdrop
      background-image: url('@{valentines-frans-assortment-hero-image}');
      background-size: 655px auto;
      background-position: 50% 0;
      .hero > .content {
        height: 445px;
        .accent {
            height: auto;
            position: relative;
            bottom: auto;
            text-align: center;
            top: auto;
            left: auto;
            padding: 330px 0 0 0;
            margin: auto;
            width: auto;
            max-width: 320px;
            background-size: auto;
            background-position: 50% 0;
            background-repeat: no-repeat;
            .banner-button {
                font-family: @hero-font;
                color: @valentines-frans-assortment-cta-text;
                background-color: @valentines-frans-assortment-cta;
                display: inline-block;
                height: auto;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: 1px;
                padding: 13px 22px;
                margin: 0 auto;
                white-space: nowrap;
                text-transform: uppercase;
                .transition(background-color 150ms);
            }
            .banner-button:hover {
                background-color: @valentines-frans-assortment-cta-hover;
                .transition(background-color 50ms);
            }
        }
      }
    }
}

//=========== MEDIA QUERIES ===========
/* tablet / full nav / vertical type layout / 768+ */

@media(min-width: @screen-sm-min) {
    .backdrop.valentines-frans-assortment{
        padding-top: 0;
        .banner {
            height: 900px; // actual image height (same as cutoff, for mobile view)
            background-image: url('@{valentines-frans-assortment-hero-image}');
            background-size: auto;
            background-position: 50% 0;
            .hero > .content {
                height: 690px;
                .accent{
                    padding: 628px 0 0 0;
                    max-width: 650px;
                }
            }
        }
    }
}