// ================== BEGIN Homepage hero SPRING PARTY 2016 styles =================
@spring-party-2016-seasonal-green: #9ed12a;
@spring-party-2016-seasonal-green-dark: #4c9700;
@spring-party-2016-seasonal-green-light: #9ed12a;

@spring-party-2016-hero-image-accent:           '@{image-path}hero/elem-spring-flowers.png';
@spring-party-2016-hero-image:                  '@{image-path}hero/hero-spring-party.jpg';
@spring-party-2016-hero-image-desktop:          '@{image-path}hero/hero-spring-party.jpg';
@spring-party-2016-hero-image-mobile:           '@{image-path}hero/hero-spring-party-mobile.jpg';


      .backdrop.spring-party-2016 {
        .banner {
          height: 520px; // actual image height (same as cutoff, for mobile view)
          background-image: url('@{spring-party-2016-hero-image-mobile}');
          background-size: auto;
          background-position: 50% 0;
          .hero > .content {
            height: 520px;
            .accent {
              height: auto;
              position: relative;
              bottom: auto;
              text-align: center;
              top: 60px;
              left: auto;
              padding: 60px 0 0 0;
              margin: auto;
              width: 300px;
              background-image: url('@{spring-party-2016-hero-image-accent}');
              background-size: auto;
              background-position: 50% 0;
              background-repeat: no-repeat;

              h2 {
                display: block;
                font-family: @hero-font;
                color: @spring-party-2016-seasonal-green-light;
                margin: 0;
                font-size: 33px;
                line-height: 42px;
                letter-spacing: 3px;
                padding: 0;
                span {
                  display: inline-block;
                }
              }
              h3 {
                display: block;
                font-family: @hero-font;
                color: @spring-party-2016-seasonal-green-light;
                margin: 0;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0;
                text-indent: 0;
                padding: 9px 0 15px 0;
              }
              .banner-button {
                font-family: @hero-font;
                color: @seasonal-content-bg;
                background-color: @spring-party-2016-seasonal-green-light;
                display: inline-block;
                height: auto;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: 1px;
                padding: 13px 22px;
                margin-top: 0;
                white-space: nowrap;
                text-transform: uppercase;
                .transition(background-color 150ms);
              }
              .banner-button:hover {
                background-color: @spring-party-2016-seasonal-green-dark;
                .transition(background-color 50ms);
              }
            }
          }
        }
      }


    //=========== MEDIA QUERIES ===========

    /* large phones / 607 to 768 */
    @media(min-width: 607px) {
      .backdrop.spring-party-2016{
        .banner {
          .hero > .content {
            .accent {
              width: 100%;
              h2 {
                max-width: 340px;
                font-size: 33px;
                line-height: 42px;
                letter-spacing: 3px;
                margin: auto;
              }
              h3 {
                font-size: 18px;
                line-height: 30px;
                letter-spacing: 2px;
              }
            }
          }
        }
      }
    }
    /* tablet / full nav / vertical type layout / 768 to 992 */
    @media(min-width: @screen-sm-min) {
      .backdrop.spring-party-2016{
        .banner {
          height: 800px; // actual image height (same as cutoff, for mobile view)
          background-image: url('@{spring-party-2016-hero-image-desktop}');
          background-size: auto;
          background-position: 50% 0;
          .hero > .content {
            height: 500px;
            .accent {
              top: 20px;
              h2 {
                max-width: 100%;
              }
              h3 {
                letter-spacing: 8px;
              }
            }
          }
        }
      }
    }


// ================== END Homepage hero SPRING PARTY 2016 styles ==================

// ================== BEGIN Homepage hero SPRING 1 2016 styles ====================

@spring-1-2016-hero-color:                @seasonal-primary;
@spring-1-2016-hero-color-secondary:      @seasonal-secondary;
@spring-1-2016-hero-color-tertiary:       @seasonal-dark;
@spring-1-2016-hero-image-accent:        '@{image-path}hero/elem-spring-butterfly-1.png';
@spring-1-2016-hero-image:               '@{image-path}hero/hero-spring-1.jpg';


    .backdrop.spring-1-2016 {
      .banner {
        height: 360px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{spring-1-2016-hero-image}');
        background-size: 900px;
        background-position: 92% -30px;
        .hero > .content {
          height: 360px;
          .accent {
            height: auto;
            position: absolute;
            bottom: auto;
            text-align: center;
            background-image: url('@{spring-1-2016-hero-image-accent}');
            background-repeat: no-repeat;
            background-size: 48px auto;
            background-position: 25% 0;
            top: 40px;
            left: auto;
            padding: 0;
            margin: auto;
            width: 100%;

            h2 {
              font-family: @hero-font;
              color: @spring-1-2016-hero-color-secondary;
              letter-spacing: 3px;
              padding: 20px 0 0;
              margin: 0;
              span {
                display: block;
                &.line-1,
                &.line-2 {
                  font-size: 34px;
                  line-height: 40px;
                  letter-spacing: 0px;
                }
                &.line-3 {
                  display: block;
                  margin-top: 10px;
                  color: @spring-1-2016-hero-color-tertiary;
                  font-size: 16px;
                  line-height: 20px;
                  letter-spacing: 4px;
                  text-indent: 8px;
                }
              }
            }
            .banner-button {
              font-family: @hero-font;
              font-size: @hero-font-size-button;
              color: @seasonal-content-bg;
              background-color: @spring-1-2016-hero-color;
              display: inline-block;
              height: 40px;
              line-height: 40px;
              padding: 0 20px;
              margin-top: 15px;
              white-space: nowrap;
              text-transform: uppercase;
              .transition(background-color 150ms);
            }
            .banner-button:hover {
              background-color: @seasonal-accent;
              .transition(background-color 50ms);
            }
          }
        }
      }
    }

  //=========== MEDIA QUERIES ===========

    /* large phones / 480 to 768 */
    @media (min-width: 480px) {
      .backdrop.spring-1-2016 {
        .banner {
          height: 390px;
          background-position: 100% -10px;
          .hero > .content {
            height: 390px;
            .accent {
              background-size: auto;
              background-position: 22% 0;
              top: 20px;
              h2 {
                padding: 30px 0 0 0;
                span {
                  &.line-1,
                  &.line-2 {
                    font-size: 45px;
                    line-height: 56px;
                  }
                  &.line-3 {
                    font-size: 25px;
                    line-height: 27px;
                  }
                }
              }
            }
          }
        }
      }
    }

    /* tablet / full nav / vertical type layout / 768 to 992 */
    @media (min-width: @screen-sm-min) {
      .backdrop.spring-1-2016 {
        max-height: 500px;
        .banner {
          height: 800px;
          background-size: auto;
          background-position: 100% -100px;
          .hero > .content {
            height: 500px;
            .accent {
              top: 0;
              background-position: 205px 15px;
              h2 {
                span {
                  &.line-1,
                  &.line-2 {
                    font-size: 55px;
                    line-height: 68px;
                  }
                  &.line-3 {
                    font-size: 24px;
                    line-height: 27px;
                    letter-spacing: 9px;
                    text-indent: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }

    /* laptop / horizontal type layout / 992 to 1200 */
    @media (min-width: @screen-md-min) {
      .backdrop.spring-1-2016 {
        .banner {
          background-position: 75% -220px;
          .hero > .content {
            .accent {
              top: 50px;
              left: 20px;
              width: auto;
              background-size: auto;
              background-position: 110px 0;
              h2 {
                padding: 55px 0 0 0;
                span {
                  &.line-1,
                  &.line-2 {
                    font-size: 60px;
                    line-height: 68px;
                    letter-spacing: 0px;
                  }
                  &.line-3 {
                    font-size: 25px;
                    line-height: 27px;
                    letter-spacing: 10px;
                    text-indent: 20px;
                  }
                }
              }
              .banner-button {
                margin-top: 25px;
              }
            }
          }
        }
      }
    }

    /* Desktop sizes 1220+ */
    @media (min-width: @screen-lg-min) {
      .backdrop.spring-1-2016 {
        .banner {
          background-position: 100% -220px;
          .hero > .content {
            .accent {
              left: 75px;
            }
          }
        }
      }
    }

// ================== BEGIN Homepage hero EASTER 2 2016 styles ====================


@easter-2-2016-seasonal-green: #4c9700;
@easter-2-2016-seasonal-green-dark: #4c9700;
@easter-2-2016-seasonal-green-light: #6fa219;

@easter-2-2016-hero-image-accent:      '@{image-path}hero/elem-easter-egg.png';
@easter-2-2016-hero-image:             '@{image-path}hero/hero-easter-2.jpg';
@easter-2-2016-hero-image-desktop:     '@{image-path}hero/hero-easter-2.jpg';
@easter-2-2016-hero-image-mobile:      '@{image-path}hero/hero-easter-2-mobile.jpg';

  .backdrop.easter-2-2016 {
    .banner {
      height: 550px; // actual image height (same as cutoff, for mobile view)
      background-image: url('@{easter-2-2016-hero-image-mobile}');
      background-size: 590px auto;
      background-position: 50% 0;
      .hero > .content {
        height: 550px;
        .accent {
          height: auto;
          position: relative;
          bottom: auto;
          text-align: center;
          background-repeat: no-repeat;
          background-size: auto;
          background-position: 25% 0;
          top: 60px;
          left: auto;
          padding: 0;
          margin: auto;
          width: 300px;

          h2 {
            display: block;
            font-family: @hero-font;
            color: @easter-2-2016-seasonal-green-dark;
            margin: 0;
            font-size: 28px;
            line-height: 32px;
            letter-spacing: 1px;
            padding: 0;
            span {
              display: inline-block;
            }
          }
          h3 {
            display: block;
            font-family: @hero-font;
            color: @easter-2-2016-seasonal-green-dark;
            margin: 8px 0 0 0;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0;
            text-indent: 0;
            background-image: url('@{easter-2-2016-hero-image-accent}');
            background-size: 100px auto;
            background-position: 50% 4px;
            background-repeat: no-repeat;
            padding: 0 0 72px 0;
          }
          .banner-button {
            font-family: @hero-font;
            font-size: @hero-font-size-button;
            color: @seasonal-content-bg;
            background-color: @easter-2-2016-seasonal-green-dark;
            display: inline-block;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            margin-top: 0;
            white-space: nowrap;
            text-transform: uppercase;
            .transition(background-color 150ms);
          }
          .banner-button:hover {
            background-color: @easter-2-2016-seasonal-green-light;
            .transition(background-color 50ms);
          }
        }
      }
    }
  }

  //=========== MEDIA QUERIES ===========

  /* large phones / 607 to 768 */
  @media(min-width: 607px) {
    .backdrop.easter-2-2016 {
      .banner {

        .hero > .content {

          .accent {
            width: 550px;
            h2 {
              font-size: 32px;
              line-height: 38px;
            }
            h3 {
              letter-spacing: 2px;
              background-position: 50% -25px;
              background-size: auto;
              padding-bottom: 112px;
            }
          }
        }
      }
    }
  }

  /* tablet / full nav / vertical type layout / 768 to 992 */
  @media(min-width: @screen-sm-min) {
    .backdrop.easter-2-2016 {
      .banner {
        height: 800px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{easter-2-2016-hero-image-desktop}');
        background-size: auto;
        background-position: -390px 0;
        .hero > .content {
          height: 500px;
          .accent {
            position: absolute;
            left: 35px;
            top: 15px;
            width: 380px;
            background-image: url('@{easter-2-2016-hero-image-accent}');
            background-size: auto;
            background-position: 50% 0;
            background-repeat: no-repeat;
            padding-top: 170px;
            h2 {
              font-size: 36px;
              line-height: 40px;
              letter-spacing: 1px;
            }
            h3 {
              font-size: 16px;
              line-height: 26px;
              background-image: none;
              padding: 0;
              margin: 12px auto;
              letter-spacing: 2px;
              padding-left: 2px;
            }
          }
        }
      }
    }
  }

  /* laptop / horizontal type layout / 992 to 1200 */
  @media(min-width: @screen-md-min) {
    .backdrop.easter-2-2016 {
      .banner {
        background-position: 76% 0;
        .hero > .content {
          .accent {
            width: 600px;
            top: 35px;
            left: 25px;
            h2 {
              font-size: 36px;
              line-height: 40px;
            }
            h3 {
              font-size: 20px;
              line-height: 26px;
              letter-spacing: 4px;
              padding-left: 4px;
              margin: 14px auto 25px;
            }
          }
        }
      }
    }
  }

  /* Desktop sizes 1220+ */
  @media(min-width: @screen-lg-min) {
    .backdrop.easter-2-2016 {
      .banner {
        .hero > .content {
          .accent {
            left: 75px;
            top: 40px;
          }
        }
      }
    }
  }



// ================== END Homepage hero EASTER 2 2016 styles ==================

// ================== BEGIN Homepage hero EASTER 1 2016 styles ====================


@easter-1-2016-seasonal-green: #4c9700;
@easter-1-2016-seasonal-green-dark: #4c9700;
@easter-1-2016-seasonal-green-light: #6fa219;

@easter-1-2016-hero-image-accent:               '@{image-path}hero/elem-easter-bunny-1.png';
@easter-1-2016-hero-image:              		'@{image-path}hero/hero-easter-1.jpg';
@easter-1-2016-hero-image-desktop:              '@{image-path}hero/hero-easter-1.jpg';
@easter-1-2016-hero-image-mobile:               '@{image-path}hero/hero-easter-1-mobile.jpg';

  .backdrop.easter-1-2016 {
    .banner {
      height: 550px; // actual image height (same as cutoff, for mobile view)
      background-image: url('@{easter-1-2016-hero-image-mobile}');
      background-size: 590px auto;
      background-position: 50% 0;
      .hero > .content {
        height: 550px;
        .accent {
          height: auto;
          position: relative;
          bottom: auto;
          text-align: center;
          background-repeat: no-repeat;
          background-size: auto;
          background-position: 25% 0;
          top: 60px;
          left: auto;
          bottom: auto;
          padding: 0;
          margin: auto;
          width: 300px;
          h2 {
            display: block;
            font-family: @hero-font;
            color: @easter-1-2016-seasonal-green-dark;
            letter-spacing: 0;
            padding: 20px 0 0;
            margin: 0;
            font-size: 28px;
            line-height: 32px;
            span {
              display: inline-block;
              letter-spacing: 4px;
              padding: 0;
              &.w1,
              &.w3,
              &.w5{
                padding-left: 4px;
              }
            }
          }
          h3 {
            display: block;
            font-family: @hero-font;
            color: @easter-1-2016-seasonal-green-dark;
            margin: 8px 0 0 0;
            font-size: 18px;
            line-height: 20px;
            letter-spacing: 0;
            text-indent: 0;
            background-image: url('@{easter-1-2016-hero-image-accent}');
            background-size: 60px auto;
            background-position: 50% 30px;
            background-repeat: no-repeat;
            padding: 0 0 46px 0;
          }
          .banner-button {
            font-family: @hero-font;
            font-size: @hero-font-size-button;
            color: @seasonal-content-bg;
            background-color: @easter-1-2016-seasonal-green-dark;
            display: inline-block;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            margin-top: 0;
            white-space: nowrap;
            text-transform: uppercase;
            .transition(background-color 150ms);
          }
          .banner-button:hover {
            background-color: @easter-1-2016-seasonal-green-light;
            .transition(background-color 50ms);
          }
        }
      }
    }
  }

  //=========================== MEDIA QUERIES ===============================

  /* large phones / 607 to 768 */
  @media(min-width: 607px) {
    .backdrop.easter-1-2016{
      .banner {
        .hero > .content {
          .accent {
            width: 550px;
            h2 {
              font-size: 40px;
              line-height: 42px;
              span {
                letter-spacing: 0;
                padding: 0;
                &.w1,&.w2,&.w3,&.w4,&.w5,&.w6 {
                  letter-spacing: 0;
                  padding: 0;
                }
                &.w4,
                &.w5,
                &.w6{
                  letter-spacing: 8px;
                }
                &.w4{
                  padding-left: 8px;
                }
              }
            }
            h3 {
              padding-bottom: 56px;
              background-size: auto;
              background-position: 50% 100%;
              letter-spacing: 5px;
              padding-left: 5px;
            }
          }
        }
      }
    }
  }

  /* tablet / full nav / vertical type layout / 768 to 992 */
  @media(min-width: @screen-sm-min) {
    .backdrop.easter-1-2016{
      .banner {
        height: 800px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{easter-1-2016-hero-image-desktop}');
        background-size: auto;
        background-position: -390px 0;
        .hero > .content {
          height: 500px;
          .accent {
            position: absolute;
            left: 20px;
            top: 54px;
            width: 380px;
            background-image: url('@{easter-1-2016-hero-image-accent}');
            background-size: auto;
            background-position: 50% 0;
            background-repeat: no-repeat;
            padding-top: 52px;
            h2 {
              font-size: 40px;
              line-height: 50px;
              span {
                letter-spacing: 6px;
                padding: 0;
                &.w1,&.w2,&.w3,&.w4,&.w5,&.w6 {
                  letter-spacing: 6px;
                  padding: 0;
                }
                &.w1,
                &.w3,
                &.w5{
                  padding-left: 5px;
                }
              }
            }
            h3 {
              font-size: 20px;
              line-height: 22px;
              background-image: none;
              padding: 0;
              margin: 12px auto;
              letter-spacing: 2px;
              padding-left: 2px;
            }
          }
        }
      }
    }
  }

  /* laptop / horizontal type layout / 992 to 1200 */
  @media(min-width: @screen-md-min) {
    .backdrop.easter-1-2016 {
      .banner {
        background-position: 76% 0;
        .hero > .content {
          .accent {
            width: 580px;
            top: 50px;
            left: 20px;
            h2 {
              font-size: 48px;
              line-height: 62px;
              span {
                letter-spacing: 0;
                padding: 0;
                &.w1,&.w2,&.w3,&.w4,&.w5,&.w6 {
                  letter-spacing: 0;
                  padding-left: 0;
                }
                &.w4,&.w5,&.w6{
                  letter-spacing: 10px;
                }
                &.w4{
                  padding-left: 10px;
                }
              }
            }
            h3 {
              font-size: 18px;
              line-height: 22px;
              letter-spacing: 12px;
              padding-left: 14px;
              margin: 14px auto 25px;
            }
          }
        }
      }
    }
  }

  /* Desktop sizes 1220+ */
  @media(min-width: @screen-lg-min) {
    .backdrop.easter-1-2016{
      .banner {
        .hero > .content {
          .accent {
            width: 605px;
            top: 78px;
            left: 48px;
            h3 {
              letter-spacing: 13px;
              padding-left: 17px;
            }
          }
        }
      }
    }
  }
// ================== END Homepage hero EASTER 1 2016 styles ==================

// ================== BEGIN Homepage hero VALENTINES 1 2016 styles ====================

  @valentines-1-2016-hero-font-size-desktop:            72px;
  @valentines-1-2016-hero-font-size-mobile:             22px;
  @valentines-1-2016-hero-font-size-secondary-mobile:   48px;
  @valentines-1-2016-hero-font-size-tertiary-mobile:    38px;
  @valentines-1-2016-hero-color:                        #e10095;
  @valentines-1-2016-hero-color-secondary:              #555;

  @valentines-1-2016-hero-image:                        '@{image-path}hero/hero-valentines-2.jpg';

  @valentines-1-2016-hero-accent-top-desktop:           65px; // top position for hero accent text, on desktop views
  @valentines-1-2016-hero-accent-bottom-desktop:        auto; // bottom position for hero accent text, on desktop views
  @valentines-1-2016-hero-accent-left-desktop:          150px; // left position for hero accent text, on desktop views

  @valentines-1-2016-hero-accent-bottom-mobile:         auto; // bottom position for hero accent text, on mobile views

    .backdrop.valentines-1-2016 {

      max-height: 600px; // force this backdrop to be shorter than regular backdrops, mobile view only
      .banner {

        height: 600px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{valentines-1-2016-hero-image}');
        background-size: 1000px;
        .hero > .content {
          .accent {

            height: auto;
            background-repeat: no-repeat;
            background-position: 210px 0;
            position: absolute;
            bottom: @valentines-1-2016-hero-accent-bottom-mobile;
            text-align: center;

            h2 {

              font-family: @hero-font;
              color: @valentines-1-2016-hero-color-secondary;
              letter-spacing: 3px;
              margin: 0 0 30px 0;

              span {

                display: block;
                margin-right: -11px;

                &.line-1 {
                  font-size: 42px;
                  line-height: 58px;
                }

                &.line-2 {
                  font-size: 48px;
                  color: @valentines-1-2016-hero-color-secondary;
                  letter-spacing: 1px;
                  line-height: 80px;
                }

                &.line-1-join {
                  display: inline;
                }
              }
            }

            .banner-button {
              color: #fff;
              background-color: @valentines-1-2016-hero-color;
              padding: 12px 25px;
              font-size: @font-size-small;
              white-space: nowrap;
              text-transform: uppercase;
              .transition(background-color 150ms);

            }

            .banner-button:hover {
              background-color: #af1b7d;
              .transition(background-color 50ms);
            }
          }
        }
      }
    }

    //=========================== MEDIA QUERIES ===============================

    @media (max-width: 589px){
      .backdrop.valentines-1-2016 {
        max-height: 668px;
        .banner {
          background-size: 1060px;
          height: 668px;
          background-position: center 30%;
          .hero > .content {
            height: 668px;
            .accent {
              padding: 0;
              top: 68px;
              margin: auto;
              position: relative;
              width: 75%;
              h2 {
                span {
                  &.line-1 {
                    letter-spacing: 3px;
                    line-height: 26px;
                    font-size: @valentines-1-2016-hero-font-size-mobile;
                  }
                  &.line-2 {
                    letter-spacing: 4px;
                    line-height: 40px;
                    font-size: @valentines-1-2016-hero-font-size-tertiary-mobile;
                  }
                }
              }
              .banner-button{
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
    @media(min-width: 590px) and (max-width: @screen-sm-min){
      .backdrop.valentines-1-2016 {
        .banner {
          background-size: 173%;
          height: auto;
          background-position: 23% 68%;
          .hero > .content {
            min-height: 320px;
            height: 320px;
            .accent {
              top: 60px;
              left: 25px;
              h2 {
                span {

                  &.line-1 {
                    letter-spacing: 3px;
                    line-height: 28px;
                    font-size: @valentines-1-2016-hero-font-size-mobile;
                  }
                  &.line-2 {
                    letter-spacing: 4px;
                    line-height: 50px;
                    font-size: @valentines-1-2016-hero-font-size-secondary-mobile;
                  }
                }
              }
              .banner-button{
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
    @media(min-width: @screen-sm-min){

      .backdrop.valentines-1-2016 {
        height: 515px; // cutoff height
        max-height: none;

        .banner {

          height: 925px; // actual image height, taller than the default banner height of 770px
          background-image: url('@{valentines-1-2016-hero-image}');
          background-size: auto;
          .hero > .content {

            height: 515px; // link clickable area (banner content) should be same height as cutoff

            .accent {
              background-position: 210px 0;
              padding: 0 0 0;

              h2 {

                font-size: @valentines-1-2016-hero-font-size-desktop;
                letter-spacing: 3px;

                span {
                  &.line-1 {
                    letter-spacing: 3px;
                    line-height: 52px;
                  }
                  &.line-2 {
                    font-size: @valentines-1-2016-hero-font-size-desktop;
                    letter-spacing: 4px;
                    line-height: 70px;

                  }


                }

              }

            }

          }

        }

      }

    }
    @media(min-width: @screen-sm-min) and (max-width: @screen-md-min){

      .backdrop.valentines-1-2016 {
        .banner {
          background-image: url('@{valentines-1-2016-hero-image}');
          background-position: 25% 152%;
          background-size: 200%;
          .hero > .content {
            height: 500px;
            .accent {
              left: 35px;
              top: 70px;
              h2 {
                font-size: @valentines-1-2016-hero-font-size-desktop;
                &.line-1 {
                  letter-spacing: 3px;
                  line-height: 52px;
                }
                &.line-2 {
                  letter-spacing: 4px;
                  line-height: 70px;
                }

              }
            }

          }
        }
      }
    }

    @media(min-width: @screen-md-min){

      .backdrop.valentines-1-2016 {

        .banner {
          background-image: url('@{valentines-1-2016-hero-image}');
          .hero > .content {

            .accent {
              padding: 0;

              h2 {
                font-size: @valentines-1-2016-hero-font-size-desktop;

                span {
                  &.line-1 {
                    letter-spacing: 3px;
                  }
                  &.line-2 {
                    font-size: @valentines-1-2016-hero-font-size-desktop;
                    letter-spacing: 4px;
                    margin-right: -11px;
                  }
                }

              }

            }


          }

        }

      }

    }

    @media(min-width: @screen-md-min) and (max-width: @screen-lg-min){

      .backdrop.valentines-1-2016 {
        .banner {
          height: 825px;
          background-position: 10% 121%;
          background-size: 156%;
          .hero > .content {
            height: 500px;
            .accent {
              left: 85px;
              top: 60px;
              h2 {
                font-size: @valentines-1-2016-hero-font-size-desktop;
                &.line-1 {
                  letter-spacing: 3px;
                }
                &.line-2 {
                  letter-spacing: 4px;
                }
              }
            }
          }
        }
      }
    }

    @media(min-width: @screen-lg-min) {
      .backdrop.valentines-1-2016 {
        .banner {
          background-size: auto;
          background-image: url('@{valentines-1-2016-hero-image}');
          background-position: 0% 139%;
          .hero > .content {
            height: 500px;
            .accent {
              padding: 0;
              top: @valentines-1-2016-hero-accent-top-desktop;
              left: @valentines-1-2016-hero-accent-left-desktop;
              bottom: @valentines-1-2016-hero-accent-bottom-desktop;
              background-position: 339px 3px;

              h2 {
                letter-spacing: 3px;
                font-size: @valentines-1-2016-hero-font-size-desktop;
                &.line-1 {
                  letter-spacing: 3px;
                }
                &.line-2 {
                  letter-spacing: 4px;
                }

              }
            }
          }

        }
      }
    }



// ================== END Homepage hero VALENTINES 1 2016 styles ====================

// ================== BEGIN Homepage hero WINTER 1 2016 styles ====================

  @winter-1-2016-hero-font-size-desktop:            72px;
  @winter-1-2016-hero-font-size-mobile:             64px;
  @winter-1-2016-hero-font-size-secondary-mobile:   34px;
  @winter-1-2016-hero-color:                        #2175bd;
  @winter-1-2016-hero-color-secondary:              #fff;

  @winter-1-2016-hero-image-desktop:                '@{image-path}hero/hero-winter.jpg';
  @winter-1-2016-hero-image-mobile:                 '@{image-path}hero/hero-winter-mobile.jpg';

  @winter-1-2016-hero-accent-top-desktop:           30px; // top position for hero accent text, on desktop views
  @winter-1-2016-hero-accent-bottom-desktop:        auto; // bottom position for hero accent text, on desktop views

  @winter-1-2016-hero-accent-right-tablet:          225px; // right position for hero accent text, on tablet views

  @winter-1-2016-hero-accent-top-mobile:            25px; // top position for hero accent text, on mobile views
  @winter-1-2016-hero-accent-bottom-mobile:         auto; // bottom position for hero accent text, on mobile views

    .backdrop.winter-1-2016  {

      max-height: 600px; // force this backdrop to be shorter than regular backdrops, mobile view only

      .banner {

        height: 600px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{winter-1-2016-hero-image-mobile}');
        background-size: 1000px;
        .hero > .content {
          .accent {

            height: auto;
            background-repeat: no-repeat;
            background-position: 210px 0;
            position: absolute;
            bottom: @winter-1-2016-hero-accent-bottom-mobile;
            text-align: center;

            h2 {

              font-family: @hero-font;
              color: @winter-1-2016-hero-color;
              letter-spacing: 3px;
              margin: 0;

              span {

                display: block;
                margin-right: -11px;

                &.line-2 {
                  font-size: @winter-1-2016-hero-font-size-secondary-mobile;
                  color: @winter-1-2016-hero-color-secondary;
                  letter-spacing: 1px;
                  padding: 0px 0 10px 0;
                }

                &.line-1-join {
                  display: inline;
                }

              }

            }

            .banner-button {
              display: inline-block;
              color: @winter-1-2016-hero-color-secondary;
              background-color: @winter-1-2016-hero-color;
              padding: 12px 25px;
              font-size: @font-size-small;
              text-transform: uppercase;
              .transition(background-color 150ms);


            }


            .banner-button:hover {
              background-color: #24659d;
              .transition(background-color 50ms);
            }



          }


        }

      }

    }

    // MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT
    @media(min-width: 468px) and (max-width: 537px){
      .backdrop.winter-1-2016  {
        .banner {
          background-size: 630px;
          height: 465px;
          background-position: center -10px;
          .hero > .content {
            height: 465px;
            .accent {
              padding: 0;
              top: 70px;
              margin: auto;
              position: relative;
              width: 75%;
              h2 {
                span {
                  margin-bottom: 0;

                  &.line-1 {
                    letter-spacing: 3px;
                    font-size: @winter-1-2016-hero-font-size-mobile;
                  }
                  &.line-2 {
                    letter-spacing: 4px;
                    font-size: @winter-1-2016-hero-font-size-secondary-mobile;
                  }
                }
              }
              .banner-button{
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
    @media(min-width: 538px) and (max-width: @screen-sm-min){
      .backdrop.winter-1-2016  {
        .banner {
          background-size: 630px;
          height: 465px;
          background-position: center -10px;
          .hero > .content {
            height: 465px;
            .accent {
              padding: 0;
              top: 70px;
              margin: auto;
              position: relative;
              width: 75%;
              h2 {
                span {
                  margin-bottom: 0;

                  &.line-1 {
                    letter-spacing: 3px;
                    font-size: @winter-1-2016-hero-font-size-mobile;
                  }
                  &.line-2 {
                    letter-spacing: 4px;
                    font-size: @winter-1-2016-hero-font-size-secondary-mobile;
                  }
                }
              }
              .banner-button{
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
    @media(min-width: @screen-sm-min){

      .backdrop.winter-1-2016  {
        height: 515px; // cutoff height
        max-height: none;

        .banner {

          height: 925px; // actual image height, taller than the default banner height of 770px
          background-image: url('@{winter-1-2016-hero-image-desktop}');
          background-size: auto;
          .hero > .content {

            height: 515px; // link clickable area (banner content) should be same height as cutoff

            .accent {
              background-position: 210px 0;
              padding: 0px 0 0;

              h2 {

                font-size: @winter-1-2016-hero-font-size-desktop;
                letter-spacing: 3px;

                span {

                  margin-bottom: 0px;
                  margin-right: -11px;
                  &.line-1 {
                    letter-spacing: 3px;
                  }
                  &.line-2 {
                    font-size: @winter-1-2016-hero-font-size-desktop;
                    letter-spacing: 4px;
                    margin-right: -11px;
                    padding: 0px 0 10px 0;

                  }


                }

              }

            }

          }

        }

      }

    }
    @media(min-width: @screen-sm-min) and (max-width: @screen-md-min){

      .backdrop.winter-1-2016  {
        .banner {
          background-image: url('@{winter-1-2016-hero-image-desktop}');
          background-position: -225px -25px;
          .hero > .content {
            height: 486px;
            .accent {
              right: 120px;
              top: @winter-1-2016-hero-accent-top-mobile;
              h2 {
                font-size: @winter-1-2016-hero-font-size-desktop;
                &.line-1 {
                  letter-spacing: 3px;
                }
                &.line-2 {
                  letter-spacing: 4px;
                }

              }
            }

          }
        }
      }
    }

    @media(min-width: @screen-md-min){

      .backdrop.winter-1-2016  {

        .banner {
          background-size: auto;
          background-image: url('@{winter-1-2016-hero-image-desktop}');
          .hero > .content {

            .accent {
              padding: 0;
              background-position: 300px 3px;

              h2 {
                font-size: @winter-1-2016-hero-font-size-desktop;

                span {

                  margin-bottom: 0;
                  margin-right: -11px;
                  &.line-1 {
                    letter-spacing: 3px;
                  }
                  &.line-2 {
                    font-size: @winter-1-2016-hero-font-size-desktop;
                    letter-spacing: 4px;
                    margin-right: -11px;
                  }


                }

              }

            }


          }

        }

      }

    }

    @media(min-width: @screen-md-min) and (max-width: @screen-lg-min){

      .backdrop.winter-1-2016 {
        .banner {
          height: 825px;
          background-position: -115px -25px;
          background-size: auto;
          .hero > .content {
            height: 486px;
            .accent {
              right: @winter-1-2016-hero-accent-right-tablet;
              top: @winter-1-2016-hero-accent-top-mobile;
              h2 {
                font-size: @winter-1-2016-hero-font-size-desktop;
                &.line-1 {
                  letter-spacing: 3px;
                }
                &.line-2 {
                  letter-spacing: 4px;
                }
              }
            }
          }
        }
      }
    }

    @media(min-width: @screen-lg-min) {
      .backdrop.winter-1-2016 {
        .banner {
          background-size: auto;
          background-image: url('@{winter-1-2016-hero-image-desktop}');
          .hero > .content {
            height: 600px;
            .accent {
              padding: 0;
              width: 100%;
              top: @winter-1-2016-hero-accent-top-desktop;
              bottom: @winter-1-2016-hero-accent-bottom-desktop;
              background-position: 339px 3px;
              h2 {
                letter-spacing: 3px;
                font-size: @winter-1-2016-hero-font-size-desktop;
                &.line-1 {
                  letter-spacing: 3px;
                }
                &.line-2 {
                  letter-spacing: 4px;
                }
              }
            }
          }
        }
      }
    }
    // SMALLER THAN MOBILE BREAKPOINT FOR SPECIAL CASES (VERY SMALL DEVICES)
    @media(max-width: 468px){
      .backdrop.winter-1-2016 {
        .banner {
          background-size: 630px;
          background-position: center -10px;
          height: 465px; // actual image height (same as cutoff, for mobile view)
          .hero > .content {
            height: 465px; // link clickable area should be same height as cutoff
            .accent {
              padding: 0;
              top: 70px;
              margin: auto;
              position: relative;
              width: 85%;
              h2 {
                span {
                  margin-bottom: 0;
                  &.line-1 {
                    letter-spacing: 3px;
                    font-size: @winter-1-2016-hero-font-size-mobile;
                  }
                  &.line-2 {
                    letter-spacing: 4px;
                    font-size: @winter-1-2016-hero-font-size-secondary-mobile;
                  }
                }
              }
              .banner-button{
                margin-top: 5px;
              }
            }
          }
        }
      }
    }

// ================== END Homepage hero WINTER 1 2016 styles ====================
// ================== BEGIN Homepage hero HOLIDAY NEWYEARS 1 2015 styles ====================

  @holiday-newyears-2015-hero-font-size-desktop:            68px;
  @holiday-newyears-2015-hero-font-size-mobile:             68px;
  @holiday-newyears-2015-hero-font-size-secondary-desktop:  18px;
  @holiday-newyears-2015-hero-font-size-secondary-tablet:   16px;
  @holiday-newyears-2015-hero-font-size-secondary-mobile:   16px;
  @holiday-newyears-2015-hero-font-size-tertiary-desktop:   20px;
  @holiday-newyears-2015-hero-font-size-tertiary-tablet:    18px;
  @holiday-newyears-2015-hero-font-size-tertiary-mobile:    18px;
  @holiday-newyears-2015-hero-color:                        #5b2f12;
  @holiday-newyears-2015-hero-color-secondary:              #5b2f12;

  @holiday-newyears-2015-hero-image-desktop:                '@{image-path}hero/2015-newyears-desktop.jpg';
  @holiday-newyears-2015-hero-image-mobile:                 '@{image-path}hero/2015-newyears-mobile.jpg';

  @holiday-newyears-2015-hero-accent-top-desktop:           100px; // top position for hero accent text, on desktop views
  @holiday-newyears-2015-hero-accent-bottom-desktop:        auto; // bottom position for hero accent text, on desktop views

  @holiday-newyears-2015-hero-accent-right-tablet:          40px; // right position for hero accent text, on tablet views

  @holiday-newyears-2015-hero-accent-top-mobile:            100px; // top position for hero accent text, on mobile views
  @holiday-newyears-2015-hero-accent-bottom-mobile:         auto; // bottom position for hero accent text, on mobile views

    .backdrop.holiday-newyears-2015 {
      max-height: 600px; // force this backdrop to be shorter than regular backdrops, mobile view only
      .banner {
        height: 600px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{holiday-newyears-2015-hero-image-mobile}');
        background-size: 1000px;
        background-position: -200px -80px;
        .hero > .content {
          .accent {
            height: auto;
            background-repeat: no-repeat;
            background-position: 210px 0;
            position: absolute;
            bottom: @holiday-newyears-2015-hero-accent-bottom-mobile;
            text-align: center;
            h2 {
              font-family: @hero-font;
              color: @holiday-newyears-2015-hero-color;
              letter-spacing: 6px;
              margin: 0;
              span {
                display: block;
                margin-right: -11px;
                &.ampersand {
                  font-size: 32px;
                  display: inline;
                  margin: 0 5px;
                  position: relative;
                  top: -7px;}
                &.line-2 {
                  font-size: @holiday-newyears-2015-hero-font-size-secondary-mobile;
                  color: #757575;
                  letter-spacing: 1px;
                  padding: 10px 0 5px 0;
                }
                &.line-3 {
                  font-size: @holiday-newyears-2015-hero-font-size-secondary-mobile;
                  color: #757575;
                  letter-spacing: 1px;
                  padding: 0 0 8px 0;
                }
                &.line-4 {
                  margin-top: 30px;
                  font-family: @hero-font-secondary;
                  font-size: @holiday-newyears-2015-hero-font-size-tertiary-mobile;
                  letter-spacing: 1px;
                }
                &.line-1-join {
                  display: inline;
                }
              }
            }
            .banner-button {
              display: inline-block;
              color: #fff;
              background-color: #5b2f12;
              padding: 12px 25px;
              font-size: @font-size-small;
              text-transform: uppercase;
              .transition(background-color 150ms);
            }
            .banner-button:hover {
              background-color: #5b2f12;
              .transition(background-color 50ms);
            }
          }
          .hero-giftcard {
            position: absolute;
            background-repeat: no-repeat;
            display: block;
            width: 392px;
          }
        }
      }
    }
    // MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT
    @media(min-width: 468px) and (max-width: 537px){
      .backdrop.holiday-newyears-2015 {
        .banner {
          background-size: 630px;
          background-position: center -5px;
          height: 535px;
          .hero > .content {
            height: 535px;
            .accent {
              padding: 0;
              top: 37px;
              margin: auto;
              position: relative;
              h2 {
                font-size: 36px;
                span {
                  margin-bottom: 0;

                  &.line-3 {
                    padding: 25px 0 0 0;
                  }
                }
              }
              .banner-button{
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
    @media(min-width: 538px) and (max-width: @screen-sm-min){
      .backdrop.holiday-newyears-2015 {
        .banner {
          background-size: 630px;
          background-position: center -5px;
          height: 535px;
          .hero > .content {
            height: 535px;
            .accent {
              padding: 0;
              top: 37px;
              margin: auto;
              position: relative;
              h2 {
                font-size: 36px;
                span {
                  margin-bottom: 0;
                  &.line-3 {
                    padding: 25px 0 0 0;
                  }
                }
              }
              .banner-button{
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
    @media(min-width: @screen-sm-min){
      .backdrop.holiday-newyears-2015 {
        height: 520px; // cutoff height
        max-height: none;
        .banner {
          height: 925px; // actual image height, taller than the default banner height of 770px
          background-image: url('@{holiday-newyears-2015-hero-image-desktop}');
          background-position: -300px 0px;
          background-size: auto;
          .hero > .content {
            height: 520px; // link clickable area (banner content) should be same height as cutoff
            .accent {
              background-position: 210px 0;
              padding: 0 0 0;
              h2 {
                letter-spacing: 6px;
                span {
                  margin-bottom: 0;
                  margin-right: -11px;
                  &.ampersand {
                    font-size: 32px;
                    display: inline;
                    vertical-align: middle;
                    margin: 0 5px;
                    position: relative;
                    top: -7px;}
                  &.line-2 {
                    font-size: @holiday-newyears-2015-hero-font-size-secondary-tablet;
                    letter-spacing: 1px;
                    margin-right: -11px;
                    padding: 20px 0 25px 0;
                  }
                  &.line-4 {
                    letter-spacing: normal;
                    font-size: @holiday-newyears-2015-hero-font-size-tertiary-tablet;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media(min-width: @screen-sm-min) and (max-width: @screen-md-min){
      .backdrop.holiday-newyears-2015 {
        .banner {
          .hero > .content {
            height: 486px;
            .accent {
              right: 30px;
              top: @holiday-newyears-2015-hero-accent-top-mobile;
              h2 {
                font-size: 70px;
                span {
                  &.line-3 {
                    padding: 0 0 8px 0;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media(min-width: @screen-md-min){
      .backdrop.holiday-newyears-2015 {
        .banner {
          background-position: 0px 0px;
          background-size: auto;
          .hero > .content {
            .accent {
              padding: 0;
              background-position: 300px 3px;
              h2 {
                font-size: @holiday-newyears-2015-hero-font-size-desktop;
                span {
                  margin-bottom: 0;
                  margin-right: -11px;
                  &.ampersand {
                    font-size: 32px;
                    display: inline;
                    vertical-align: middle;
                    margin: 0 5px;
                    position: relative;
                    top: -7px;
                  }
                  &.line-2 {
                    font-size: @holiday-newyears-2015-hero-font-size-secondary-desktop;
                    letter-spacing: 1px;
                    margin-right: -11px;
                  }
                  &.line-4 {
                    font-size: @holiday-newyears-2015-hero-font-size-tertiary-desktop;
                    letter-spacing: normal;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media(min-width: @screen-md-min) and (max-width: @screen-lg-min){
      .backdrop.holiday-newyears-2015 {
        .banner {
          height: 825px;
          background-position: -160px 0px;
          background-size: auto;
          .hero > .content {
            height: 486px;
            .accent {
              right: @holiday-newyears-2015-hero-accent-right-tablet;
              top: @holiday-newyears-2015-hero-accent-top-mobile;
            }
          }
        }
      }
    }
    @media(min-width: @screen-lg-min) {
      .backdrop.holiday-newyears-2015 {
        .banner {
          background-size: auto;
          .hero > .content {
            height: 600px;
            .accent {
              padding: 0;
              width: 400px;
              top: @holiday-newyears-2015-hero-accent-top-desktop;
              bottom: @holiday-newyears-2015-hero-accent-bottom-desktop;
              right: 80px;
              background-position: 339px 3px;
              h2 {
                letter-spacing: 6px;
                font-size: @holiday-newyears-2015-hero-font-size-mobile;
              }
            }
          }

        }
      }
    }

    // SMALLER THAN MOBILE BREAKPOINT FOR SPECIAL CASES (VERY SMALL DEVICES)
    @media(max-width: 468px){
      .backdrop.holiday-newyears-2015 {
        .banner {
          background-size: 750px;
          background-position: -210px -20px;
          height: 525px; // actual image height (same as cutoff, for mobile view)
          .hero > .content {
            height: 500px; // link clickable area should be same height as cutoff
            .accent {
              padding: 0;
              top: 37px;
              margin: auto;
              position: relative;
              h2 {
                font-size: 36px;
                span {
                  margin-bottom: 0;
                  &.line-2 {
                    font-size: 16px;
                    letter-spacing: 1px;
                    padding: 10px 0 5px 0;
                  }
                  &.line-3 {
                    padding: 25px 0 0 0;
                  }
                }
              }
              .banner-button{
                margin-top: 5px;
              }
            }
            .giftcard-container {
              height: 275px;
              position: absolute;
              bottom: 0;
              text-align: center;
              margin: auto;
              width: 95%;
              display: block;
            }
          }
        }
        .hero-banner {
          height: 535px; // actual image height (same as cutoff, for mobile view)
          background-size: 630px;
          background-position: center -5px;
          .hero > .content {
            height: 535px; // link clickable area should be same height as cutoff
            .accent {
              padding: 0;
              top: 37px;
              margin: auto;
              position: relative;
              h2 {
                font-size: 36px;
                span {
                  margin-bottom: 0;
                  &.line-2 {
                    font-size: 16px;
                    letter-spacing: 1px;
                    padding: 10px 0 5px 0;
                  }
                  &.line-3 {
                    padding: 25px 0 0 0;
                  }
                }
              }
              .banner-button{
                margin-top: 5px;
              }
            }
          }
        }
      }
    }



// ================== END Homepage hero HOLIDAY NEWYEARS 2015 styles ====================
// ================== BEGIN Homepage hero HOLIDAY GIFTCARDS 2015 styles ====================

  @holiday-giftcards-2015-hero-font-size-desktop:            70px;
  @holiday-giftcards-2015-hero-font-size-mobile:             70px;
  @holiday-giftcards-2015-hero-font-size-secondary-desktop:  16px;
  @holiday-giftcards-2015-hero-font-size-secondary-tablet:   16px;
  @holiday-giftcards-2015-hero-font-size-secondary-mobile:   16px;
  @holiday-giftcards-2015-hero-font-size-tertiary-desktop:   20px;
  @holiday-giftcards-2015-hero-font-size-tertiary-tablet:    18px;
  @holiday-giftcards-2015-hero-font-size-tertiary-mobile:    18px;

  @holiday-giftcards-2015-hero-image-desktop:                '@{image-path}hero/hero-gift-card-background-desktop.png';
  @holiday-giftcards-2015-hero-image-mobile:                 '@{image-path}hero/hero-gift-card-background-mobile.png';
  @holiday-giftcards-2015-hero-image-giftcard:               '@{image-path}hero/hero-gift-card-mobile.png';

  @holiday-giftcards-2015-hero-accent-top-desktop:           100px; // top position for hero accent text, on desktop views
  @holiday-giftcards-2015-hero-accent-bottom-desktop:        auto; // bottom position for hero accent text, on desktop views

  @holiday-giftcards-2015-hero-accent-left-tablet:           100px; // left position for hero accent text, on tablet views

  @holiday-giftcards-2015-hero-accent-top-mobile:            100px; // top position for hero accent text, on mobile views
  @holiday-giftcards-2015-hero-accent-bottom-mobile:         auto; // bottom position for hero accent text, on mobile views

    .backdrop.holiday-giftcards-2015 {
      max-height: 600px; // force this backdrop to be shorter than regular backdrops, mobile view only
      .banner {
        height: 600px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{holiday-giftcards-2015-hero-image-mobile}');
        background-size: 1000px;
        background-position: -200px -80px;
        .hero > .content {
          .accent {
            height: auto;
            background-repeat: no-repeat;
            background-position: 210px 0;
            position: absolute;
            bottom: @holiday-giftcards-2015-hero-accent-bottom-mobile;
            text-align: center;
            h2 {
              font-family: @hero-font;
              color: #c30412;
              letter-spacing: 8px;
              span {
                display: block;
                margin-right: -11px;
                &.ampersand {
                  font-size: 32px;
                  display: inline;
                  margin: 0 5px;
                  position: relative;
                  top: -7px;}
                &.line-2 {
                  font-size: @holiday-giftcards-2015-hero-font-size-secondary-mobile;
                  color: #333;
                  letter-spacing: 1px;
                  margin-top: 10px;
                }
                &.line-4 {
                  margin-top: 30px;
                  font-family: @hero-font-secondary;
                  font-size: @holiday-giftcards-2015-hero-font-size-tertiary-mobile;
                  letter-spacing: 1px;
                }
              }
            }
            .banner-button {
              display: inline-block;
              color: #fff;
              background-color: #c30412;
              padding: 12px 25px;
              margin-top: 10px;
              font-size: @font-size-small;
              text-transform: uppercase;
              .transition(background-color 150ms);
            }
            .banner-button:hover {
              background-color: #69051d;
              .transition(background-color 50ms);
            }
          }
          .hero-giftcard {
            position: absolute;
            background-repeat: no-repeat;
            display: block;
            width: 392px;
          }
        }
      }
    }
    // MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT
    @media(min-width: 468px) and (max-width: 537px){
      .backdrop.holiday-giftcards-2015 {
        .banner {
          background-size: 630px;
          background-position: -10px -10px;
          height: 540px;
          .hero > .content {
            height: 540px;
            .accent {
              padding: 0;
              top: 37px;
              margin: auto;
              width: 95%;
              h2 {
                font-size: 44px;
                span {
                  margin-bottom: 0;
                }
              }
              .banner-button{
                margin-top: 5px;
              }
            }
            .giftcard-container {
              height: 305px;
              position: absolute;
              bottom: 0;
              text-align: center;
              margin: auto;
              width: 95%;
              display: block;
            }
            .hero-giftcard {
              background-image: url('@{holiday-giftcards-2015-hero-image-giftcard}');
              height: 305px;
              bottom: 0;
              background-size: 250px;
              width: 225px;
              display: inline-block;
              position: relative;
              margin: 0 15px 0 0;
            }
          }
        }
      }
    }
    @media(min-width: 538px) and (max-width: @screen-sm-min){
      .backdrop.holiday-giftcards-2015 {
        .banner {
          background-size: 630px;
          background-position: -25px -10px;
          height: 535px;
          .hero > .content {
            height: 535px;
            .accent {
              padding: 0;
              top: 37px;
              left: 140px;
              h2 {
                font-size: 44px;
                line-height: 1.0;
                span {
                  margin-bottom: 0;
                }
              }
              .banner-button{
                margin-top: 5px;
              }
            }
            .hero-giftcard {
              background-image: url('@{holiday-giftcards-2015-hero-image-giftcard}');
              height: 305px;
              bottom: 0;
              background-size: 250px;
              left: 170px;
            }
          }
        }
      }
    }
    @media(min-width: @screen-sm-min){
      .backdrop.holiday-giftcards-2015 {
        height: 520px; // cutoff height
        max-height: none;
        .banner {
          height: 525px; // actual image height, taller than the default banner height of 770px
          background-image: url('@{holiday-giftcards-2015-hero-image-desktop}');
          background-position: -300px 0px;
          background-size: auto;
          .hero > .content {
            height: 520px; // link clickable area (banner content) should be same height as cutoff
            .accent {
              background-position: 210px 0;
              padding: 0px 0 0;
              h2 {
                letter-spacing: 8px;
                span {
                  margin-bottom: 0px;
                  margin-right: -11px;
                  &.ampersand {
                    font-size: 32px;
                    display: inline;
                    vertical-align: middle;
                    margin: 0 5px;
                    position: relative;
                    top: -7px;}

                  &.line-2 {
                    font-size: @holiday-giftcards-2015-hero-font-size-secondary-tablet;
                    letter-spacing: 1px;
                    margin-right: -11px;
                    margin-top: 10px;
                  }
                  &.line-4 {
                    letter-spacing: normal;
                    font-size: @holiday-giftcards-2015-hero-font-size-tertiary-tablet;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media(min-width: @screen-sm-min) and (max-width: @screen-md-min){

      .backdrop.holiday-giftcards-2015 {
        .banner {
          .hero > .content {
            height: 486px;
            .accent {
              left: 30px;
              top: @holiday-giftcards-2015-hero-accent-top-mobile;
              h2 {
                font-size: 70px;
              }
            }
            .hero-giftcard {
              background-image: url('@{holiday-giftcards-2015-hero-image-giftcard}');
              right: -23px;
              height: 486px;
              top: 40px;
              background-size: 375px;
            }
          }
        }
      }
    }
    @media(min-width: @screen-md-min){
      .backdrop.holiday-giftcards-2015 {
        .banner {
          background-position: 0 0;
          background-size: auto;
          .hero > .content {
            .accent {
              padding: 0;
              background-position: 300px 3px;
              h2 {
                font-size: @holiday-giftcards-2015-hero-font-size-desktop;
                span {
                  margin-bottom: 0;
                  margin-right: -11px;
                  &.ampersand {
                    font-size: 32px;
                    display: inline;
                    vertical-align: middle;
                    margin: 0 5px;
                    position: relative;
                    top: -7px;
                  }
                  &.line-2 {
                    font-size: @holiday-giftcards-2015-hero-font-size-secondary-desktop;
                    letter-spacing: 1px;
                    margin-right: -11px;
                    margin-top: 10px;
                  }
                  &.line-4 {
                    font-size: @holiday-giftcards-2015-hero-font-size-tertiary-desktop;
                    letter-spacing: normal;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media(min-width: @screen-md-min) and (max-width: @screen-lg-min){
      .backdrop.holiday-giftcards-2015 {
        .banner {
          height: 525px;
          background-position: -140px 0px;
          background-size: auto;
          .hero > .content {
            height: 486px;
            .accent {
              left: @holiday-giftcards-2015-hero-accent-left-tablet;
              top: @holiday-giftcards-2015-hero-accent-top-mobile;
            }
            .hero-giftcard {
              left: 540px;
              background-image: url('@{holiday-giftcards-2015-hero-image-giftcard}');
              height: 486px;
              top: 40px;
              background-size: 375px;
            }
          }
        }
      }
    }

    @media(min-width: @screen-lg-min) {
      .backdrop.holiday-giftcards-2015 {
        .banner {
          background-size: auto;
          height:900px;
          .hero > .content {
            height: 520px;
            .accent {
              padding: 0;
              width: 350px;
              top: @holiday-giftcards-2015-hero-accent-top-desktop;
              bottom: @holiday-giftcards-2015-hero-accent-bottom-desktop;
              left: 160px;
              background-position: 339px 3px;
              h2 {
                letter-spacing: 8px;
                font-size: @holiday-giftcards-2015-hero-font-size-mobile;
              }
            }
            .hero-giftcard {
              left: 720px;
              background-image: url('@{holiday-giftcards-2015-hero-image-giftcard}');
              height: 500px;
              top: 40px;
              background-size: 400px;
            }
          }
        }
      }
    }
    // SMALLER THAN MOBILE BREAKPOINT FOR SPECIAL CASES (VERY SMALL DEVICES)
    @media(max-width: 468px){
      .backdrop.holiday-giftcards-2015 .banner {
        background-image: url('@{holiday-giftcards-2015-hero-image-mobile}');
        background-size: 750px;
        background-position: -210px -20px;
        height: 510px; // actual image height (same as cutoff, for mobile view)
        .hero > .content {
          height: 510px; // link clickable area should be same height as cutoff
          .accent {
            padding: 0;
            top: 35px;
            left: -3px;
            margin: auto;
            width: 97%;
            h2 {
              font-size: 42px;
              span {
                margin-bottom: 0;
                &.line-2 {
                  font-size: 16px;
                  letter-spacing: .5px;
                  margin-top: 10px;
                }
              }
            }
          }
          .giftcard-container {
            height: 275px;
            position: absolute;
            bottom: 0;
            text-align: center;
            margin: auto;
            width: 95%;
            display: block;
          }
          .hero-giftcard {
            background-image: url('@{holiday-giftcards-2015-hero-image-giftcard}');
            height: 275px;
            bottom: 0;
            background-size: 230px;
            width: 225px;
            display: inline-block;
            position: relative;
          }
        }
      }
    }
// ================== END Homepage hero HOLIDAY GIFTCARDS 2015 styles ====================
// ================== BEGIN Homepage hero HOLIDAY 2 2015 styles ====================
  @holiday-2-2015-hero-font-size-desktop:            67px;
  @holiday-2-2015-hero-font-size-tablet:             67px;
  @holiday-2-2015-hero-font-size-mobile:             67px;
  @holiday-2-2015-hero-font-size-secondary-desktop:  29px;
  @holiday-2-2015-hero-font-size-secondary-tablet:   29px;
  @holiday-2-2015-hero-font-size-secondary-mobile:   29px;
  @holiday-2-2015-hero-font-size-tertiary-desktop:   20px;
  @holiday-2-2015-hero-font-size-tertiary-tablet:    18px;
  @holiday-2-2015-hero-font-size-tertiary-mobile:    18px;
  @holiday-2-2015-hero-color:                        #c30412;

  @holiday-2-2015-hero-image-desktop:                '@{image-path}hero/2015-holiday_2.jpg';
  @holiday-2-2015-hero-image-mobile:                 '@{image-path}hero/2015-holiday_2full.jpg';

  @holiday-2-2015-hero-accent-top-desktop:           -45px; // top position for hero accent text, on desktop views
  @holiday-2-2015-hero-accent-right-desktop:         450px; // right position for hero accent text, on desktop views
  @holiday-2-2015-hero-accent-bottom-desktop:        auto; // bottom position for hero accent text, on desktop views
  @holiday-2-2015-hero-accent-left-desktop:          auto; // left position for hero accent text, on desktop views

  @holiday-2-2015-hero-accent-right-tablet:          40px; // right position for hero accent text, on tablet views

  @holiday-2-2015-hero-accent-top-mobile:            0; // top position for hero accent text, on mobile views
  @holiday-2-2015-hero-accent-right-mobile:          6px; // right position for hero accent text, on mobile views
  @holiday-2-2015-hero-accent-bottom-mobile:         auto; // bottom position for hero accent text, on mobile views
  @holiday-2-2015-hero-accent-left-mobile:           6px; // left position for hero accent text, on mobile views

    .backdrop.holiday-2-2015 {
      max-height: 600px; // force this backdrop to be shorter than regular backdrops, mobile view only
      .banner {
        height: 600px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{holiday-2-2015-hero-image-mobile}');
        background-size: 1000px;
        background-position: -200px -80px;
        .hero > .content {
          height: 600px; // link clickable area should be same height as cutoff
          .accent {
            height: auto;
            padding: 40px 0 0;
            background-repeat: no-repeat;
            background-position: 210px 0;
            position: absolute;
            top: @holiday-2-2015-hero-accent-top-mobile;
            right: @holiday-2-2015-hero-accent-right-mobile;
            bottom: @holiday-2-2015-hero-accent-bottom-mobile;
            left: @holiday-2-2015-hero-accent-left-mobile;
            text-align: center;
            h2 {
              font-family: @hero-font;
              color: @holiday-2-2015-hero-color;
              font-size: @holiday-2-2015-hero-font-size-mobile;
              letter-spacing: 2px;
              margin-bottom: 20px;
              span {
                display: block;
                margin-bottom: 5px;
                margin-right: -11px;
                &.ampersand {
                  font-size: 32px;
                  display: inline;
                  vertical-align: middle;
                  margin: 0 5px;
                  position: relative;
                  top: -7px;}
                &.line-2 {
                  font-size: @holiday-2-2015-hero-font-size-secondary-mobile;
                  color: #333;
                  letter-spacing: 11px;
                }
                &.line-4 {
                  margin-top: 30px;
                  font-family: @hero-font-secondary;
                  font-size: @holiday-2-2015-hero-font-size-tertiary-mobile;
                  letter-spacing: 11px;
                }
              }
            }
            .banner-button {
              display: inline-block;
              color: #fff;
              background-color: #c30412;
              padding: 12px 60px;
              font-size: @font-size-small;
              text-transform: uppercase;
              .transition(background-color 150ms);
            }
          }
          &:hover {
            .banner-button {
              background-color: #69051d;
              .transition(background-color 50ms);
            }
          }
        }
      }
    }
    // MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT
    @media(min-width: @screen-sm-min){
      .backdrop.holiday-2-2015 {
        height: 520px; // cutoff height
        max-height: none;
        .banner {
          height: 891px; // actual image height, taller than the default banner height of 770px
          background-image: url('@{holiday-2-2015-hero-image-desktop}');
          background-position: -230px -115px;
          background-size: auto;
          .hero > .content {
            height: 520px; // link clickable area (banner content) should be same height as cutoff
            .accent {
              background-position: 210px 0;
              padding-top: 0;
              h2 {
                font-size: @holiday-2-2015-hero-font-size-tablet;
                letter-spacing: 2px;
                span {
                  margin-bottom: 14px;
                  margin-right: -11px;
                  &.ampersand {
                    font-size: 32px;
                    display: inline;
                    vertical-align: middle;
                    margin: 0 5px;
                    position: relative;
                    top: -7px;}
                  &.line-2 {
                    font-size: @holiday-2-2015-hero-font-size-secondary-tablet;
                    letter-spacing: 11px;
                    margin-right: -11px;
                  }
                  &.line-4 {
                    letter-spacing: normal;
                    font-size: @holiday-2-2015-hero-font-size-tertiary-tablet;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media(min-width: @screen-md-min){
      .backdrop.holiday-2-2015 {
        .banner {
          background-position: 0px -125px;
          background-size: auto;
          .hero > .content {
            .accent {
              background-position: 300px 3px;
              right: @holiday-2-2015-hero-accent-right-tablet;
              h2 {
                font-size: @holiday-2-2015-hero-font-size-desktop;
                span {
                  margin-bottom: 0;
                  margin-right: -11px;
                  &.ampersand {
                    font-size: 32px;
                    display: inline;
                    vertical-align: middle;
                    margin: 0 5px;
                    position: relative;
                    top: -7px;
                  }
                  &.line-2 {
                    font-size: @holiday-2-2015-hero-font-size-secondary-desktop;
                    letter-spacing: 11px;
                    margin-right: -11px;
                  }
                  &.line-4 {
                    font-size: @holiday-2-2015-hero-font-size-tertiary-desktop;
                    letter-spacing: normal;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media(min-width: @screen-md-min) and (max-width: @screen-lg-min){
      .backdrop.holiday-2-2015 {
        .banner {
          background-position: -130px -125px;
          background-size: auto;
        }
      }
    }
    @media(min-width: @screen-lg-desktop){
      .backdrop.holiday-2-2015 {
        .banner {
          background-size: auto;
          .backdrop .banner .hero > .content .accent {
            width: 350px;
            top: @holiday-2-2015-hero-accent-top-desktop;
            right: @holiday-2-2015-hero-accent-right-desktop;
            bottom: @holiday-2-2015-hero-accent-bottom-desktop;
            left: @holiday-2-2015-hero-accent-left-desktop;
            background-position: 339px 3px;
            h2 {
              letter-spacing: 3px;
              span.line-4 {
                letter-spacing: 3px;
              }
            }
          }
        }
      }
    }
    // SMALLER THAN MOBILE BREAKPOINT FOR SPECIAL CASES (VERY SMALL DEVICES)
    @media(max-width: 468px){
      .backdrop.holiday-2-2015 .banner {
        background-image: url('@{holiday-2-2015-hero-image-mobile}');
        background-size: 1000px;
        background-position: -300px -180px;
        height: 500px; // actual image height (same as cutoff, for mobile view)
        .hero > .content {
          height: 500px; // link clickable area should be same height as cutoff
          .accent {
            right: 2px;
            left: 2px;
            h2 span {
              font-size: 57px;
              margin-bottom: 0;
              &.ampersand {
                font-size: 32px;
                display: inline;
                vertical-align: middle;
                margin: 0 5px;
                position: relative;
                top: -7px;
              }
              &.line-2 {
                font-size: 23px;
                letter-spacing: 11px;
              }
            }
          }
        }
      }
    }

// ==================   END Homepage hero HOLIDAY 2 2015 styles ====================
// ==================   BEGIN Homepage hero HOLIDAY 1 2015 styles ====================


  @holiday-1-2015-hero-font-size-desktop:            72px;
  @holiday-1-2015-hero-font-size-tablet:             64px;
  @holiday-1-2015-hero-font-size-mobile:             60px;
  @holiday-1-2015-hero-font-size-secondary-desktop:  16px;
  @holiday-1-2015-hero-font-size-secondary-tablet:   @holiday-1-2015-hero-font-size-secondary-desktop;
  @holiday-1-2015-hero-font-size-secondary-mobile:   @holiday-1-2015-hero-font-size-secondary-desktop;

  @holiday-1-2015-hero-image:                        '@{image-path}hero/2015-holiday.jpg';

  @holiday-1-2015-hero-accent-top-mobile:            0; // top position for hero accent text, on mobile views
  @holiday-1-2015-hero-accent-right-mobile:          auto; // right position for hero accent text, on mobile views
  @holiday-1-2015-hero-accent-bottom-mobile:         auto; // bottom position for hero accent text, on mobile views
  @holiday-1-2015-hero-accent-left-mobile:           auto; // left position for hero accent text, on mobile views

  .backdrop.holiday-1-2015 {
    max-height: 450px; // force this backdrop to be shorter than regular backdrops, mobile view only
    .banner {
      height: 450px; // actual image height (same as cutoff, for mobile view)
      background-image: url('@{holiday-1-2015-hero-image}');
      background-position: 50% -190px;
      background-size: 900px;
      .hero > .content {
        height: 450px; // link clickable area should be same height as cutoff
        .accent {
          height: auto;
          width: 100%;
          padding: 30px 0 0;
          position: absolute;
          top: @holiday-1-2015-hero-accent-top-mobile;
          right: @holiday-1-2015-hero-accent-right-mobile;
          bottom: @holiday-1-2015-hero-accent-bottom-mobile;
          left: @holiday-1-2015-hero-accent-left-mobile;
          text-align: center;
          h2 {
            font-family: @hero-font;
            color: #c30412;
            font-size: @holiday-1-2015-hero-font-size-tablet;
            letter-spacing: 4px;
            margin-bottom: 20px;
            span {
              display: block;
              margin-bottom: 5px;
              &.line-1 {
                margin-bottom: 10px;
              }
              &.line-2 {
                font-size: @holiday-1-2015-hero-font-size-secondary-tablet;
                color: #512502;
                letter-spacing: 2px;
              }
            }
          }
          .banner-button {
            display: inline-block;
            color: #fff;
            background-color: #c30412;
            padding: 12px 18px;
            font-size: 13px;
            text-transform: uppercase;
            .transition(background-color 150ms);
          }
        }
        &:hover {
          .banner-button {
            background-color: #69051d;
            .transition(background-color 50ms);
          }
        }
      }
    }
  }
  // MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT
  @media(min-width: @screen-sm-min){
    .backdrop.holiday-1-2015 {
      height: 520px; // cutoff height
      max-height: none;
      .banner {
        height: 891px; // actual image height, taller than the default banner height of 770px
        background-position: bottom center;
        background-size: auto;
        .hero > .content {
          height: 520px; // link clickable area (banner content) should be same height as cutoff
          .accent {
            padding-top: 60px;
            h2 {
              font-size: @holiday-1-2015-hero-font-size-desktop;
              span {
                margin-bottom: 14px;
                &.line-2 {
                  font-size: @holiday-1-2015-hero-font-size-secondary-desktop;
                }
              }
            }
          }
        }
      }
    }
  }
  @media(min-width: @screen-md-min){
    .backdrop.holiday-1-2015 {
      .banner {
        .hero > .content {
          .accent {
            background-position: bottom center;
            h2 {
              span {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
  // SMALLER THAN MOBILE BREAKPOINT FOR SPECIAL CASES (VERY SMALL DEVICES)
  @media(max-width: 468px){
    .backdrop.holiday-1-2015 .banner {
      background-size: 600px;
      background-position: 50% 0;
      .hero > .content {
        .accent {
          padding-top: 50px;
          h2 {
            span {
              font-size: @holiday-1-2015-hero-font-size-mobile;
              margin-bottom: 0;
              &.line-2 {
                font-size: @holiday-1-2015-hero-font-size-secondary-mobile;
                line-height: 19px;
              }
            }
          }
        }
      }
    }
  }
// ==================   END Homepage hero HOLIDAY 1 2015 styles ====================
// ==================   BEGIN Homepage hero FALL 2015 styles ====================
  @fall-2015-hero-font-size-desktop:            40px;
  @fall-2015-hero-font-size-tablet:             35px;
  @fall-2015-hero-font-size-mobile:             30px;
  @fall-2015-hero-font-size-secondary-desktop:  80px;
  @fall-2015-hero-font-size-secondary-tablet:   60px;
  @fall-2015-hero-font-size-secondary-mobile:   50px;
  @fall-2015-hero-font-size-tertiary-desktop:   20px;
  @fall-2015-hero-font-size-tertiary-tablet:    18px;
  @fall-2015-hero-font-size-tertiary-mobile:    18px;
  @fall-2015-hero-color:                        #512502;
  @fall-2015-hero-color-secondary:              #b06001;

  @fall-2015-hero-image-desktop:                '@{image-path}hero/2015-fall-desktop.jpg';
  @fall-2015-hero-image-mobile:                 '@{image-path}hero/2015-fall-mobile.jpg';
  @fall-2015-hero-image-accent:                 '@{image-path}hero/2015-fall-accent.png';

  @fall-2015-hero-accent-top-desktop:           42px; // top position for hero accent text, on desktop views
  @fall-2015-hero-accent-right-desktop:         66px; // right position for hero accent text, on desktop views
  @fall-2015-hero-accent-bottom-desktop:        auto; // bottom position for hero accent text, on desktop views
  @fall-2015-hero-accent-left-desktop:          auto; // left position for hero accent text, on desktop views

  @fall-2015-hero-accent-top-tablet:            25px; // top position for hero accent text, on tablet views
  @fall-2015-hero-accent-right-tablet:          36px; // right position for hero accent text, on tablet views
  @fall-2015-hero-accent-bottom-tablet:         auto; // bottom position for hero accent text, on tablet views
  @fall-2015-hero-accent-left-tablet:           auto; // left position for hero accent text, on tablet views

  @fall-2015-hero-accent-top-mobile:            0; // top position for hero accent text, on mobile views
  @fall-2015-hero-accent-right-mobile:          6px; // right position for hero accent text, on mobile views
  @fall-2015-hero-accent-bottom-mobile:         auto; // bottom position for hero accent text, on mobile views
  @fall-2015-hero-accent-left-mobile:           6px; // left position for hero accent text, on mobile views

    .backdrop.fall-2015 {
      max-height: 600px; // force this backdrop to be shorter than regular backdrops, mobile view only
      .banner {
        height: 600px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{fall-2015-hero-image-mobile}');
        .hero > .content {
          height: 600px; // link clickable area should be same height as cutoff
          .accent {
            height: auto;
            padding: 40px 0 0;
            background-repeat: no-repeat;
            background-position: 210px 0;
            position: absolute;
            top: @fall-2015-hero-accent-top-mobile;
            right: @fall-2015-hero-accent-right-mobile;
            bottom: @fall-2015-hero-accent-bottom-mobile;
            left: @fall-2015-hero-accent-left-mobile;
            text-align: center;
            h2 {
              font-family: @hero-font;
              color: @fall-2015-hero-color;
              font-size: @fall-2015-hero-font-size-mobile;
              letter-spacing: 4px;
              margin-bottom: 20px;
              span {
                display: block;
                margin-bottom: 5px;
                &.line-2 {
                  font-size: @fall-2015-hero-font-size-secondary-mobile;
                  color: @fall-2015-hero-color-secondary;
                }
                &.line-4 {
                  margin-top: 30px;
                  font-family: @hero-font-secondary;
                  font-size: @fall-2015-hero-font-size-tertiary-mobile;
                  letter-spacing: 2px;
                }
              }
            }
            .banner-button {
              display: inline-block;
              color: #fff;
              background-color: #eea033;
              padding: 12px 18px;
              font-size: @font-size-small;
              text-transform: uppercase;
              .transition(background-color 150ms);
            }
          }
          &:hover {
            .banner-button {
              background-color: #b06001;
              .transition(background-color 50ms);
            }
          }
        }
      }
    }
    // MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT
    @media(min-width: @screen-sm-min){
      .backdrop.fall-2015 {
        height: 520px; // cutoff height
        max-height: none;
        .banner {
          height: 891px; // actual image height, taller than the default banner height of 770px
          background-image: url('@{fall-2015-hero-image-desktop}');
          .hero > .content {
            height: 520px; // link clickable area (banner content) should be same height as cutoff
            .accent {
              background-image: url('@{fall-2015-hero-image-accent}');
              text-align: left;
              top: @fall-2015-hero-accent-top-tablet;
              right: 25px;
              bottom: @fall-2015-hero-accent-bottom-tablet;
              left: @fall-2015-hero-accent-left-tablet;
              padding-top: 75px;
              h2 {
                font-size: @fall-2015-hero-font-size-tablet;
                letter-spacing: 2px;
                span {
                  margin-bottom: 14px;
                  &.line-2 {
                    font-size: @fall-2015-hero-font-size-secondary-tablet;
                  }
                  &.line-4 {
                    letter-spacing: normal;
                    font-size: @fall-2015-hero-font-size-tertiary-tablet;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media(min-width: @screen-md-min){
      .backdrop.fall-2015 {
        .banner {
          .hero > .content {
            .accent {
              padding-top: 50px;
              background-position: 300px 3px;
              top: @fall-2015-hero-accent-top-desktop;
              right: @fall-2015-hero-accent-right-tablet;
              h2 {
                font-size: @fall-2015-hero-font-size-desktop;
                span {
                  margin-bottom: 0;
                  &.line-2 {
                    font-size: @fall-2015-hero-font-size-secondary-desktop;
                  }
                  &.line-4 {
                    font-size: @fall-2015-hero-font-size-tertiary-desktop;
                    letter-spacing: normal;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media(min-width: @screen-lg-min){
      .backdrop.fall-2015 .banner .hero > .content .accent {
        width: 470px;
        top: @fall-2015-hero-accent-top-desktop;
        right: @fall-2015-hero-accent-right-desktop;
        bottom: @fall-2015-hero-accent-bottom-desktop;
        left: @fall-2015-hero-accent-left-desktop;
        background-position: 339px 3px;
        h2 {
          letter-spacing: 8px;
          span.line-4 {
            letter-spacing: 3px;
          }
        }
      }
    }
    // SMALLER THAN MOBILE BREAKPOINT FOR SPECIAL CASES (VERY SMALL DEVICES)
    @media(max-width: 468px){
      .backdrop.fall-2015 .banner {
        height: 500px; // actual image height (same as cutoff, for mobile view)
        .hero > .content {
          height: 500px; // link clickable area should be same height as cutoff
          .accent {
            h2 span {
              font-size: 26px;
              margin-bottom: 0;
              &.line-4 {
                margin-top: 20px;
                font-size: 15px;
                letter-spacing: normal;
              }
            }
          }
        }
      }
    }

// ==================   END Homepage hero FALL 2015 styles ====================