// Hero - 20 years of salted caramels with didot

@hero-font-size-button: 13px;

@seasonal-gray: #333;
@seasonal-color: #382818;
@seasonal-color-dark: #382818;

@cta-dark-brown: #522601;
@cta-dark-brown-hover: #402005;

@seasonal-color-2: #513629;
@cta-dark-brown-2: #503629;
@cta-dark-brown-hover-2: #5b3f32;

@hero-image-caramel-2019: '@{image-path}hero/hero-caramel-2019.jpg';

.backdrop.caramels-20-year-2 {
    margin-top: 0;
    .banner {
        height: 500px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{hero-image-caramel-2019}');
        background-size: 712px auto;
        background-position: 15% 0;
        background-color: #fdfdfd;
        .hero > .content {
            height: 500px;
            .accent {
                display: block;
                height: auto;
                position: relative;
                text-align: center;
                background: none;
                padding: 20px 20px 0;
                margin: auto;
                width: auto;
                max-width: 340px;

                h2 {
                    display: block;
                    font-family: @hero-font-serif;
                    color: @seasonal-color-2;
                    padding: 0;
                    margin: 0;
                    font-size: 30px;
                    line-height: 38px;
                    letter-spacing: 0;
                    padding: 0 0 10px 0;

                    text-transform: none;
                    font-weight: normal;
                    font-style: normal;

                    font-smoothing: antialiased;
                    text-rendering: optimizeLegibility;
                    -webkit-font-smoothing: antialiased;
                    /* text-shadow: 1px 1px 1px rgba(0,0,0,0.004); */
                }

                .banner-button {
                    font-family: @hero-font-secondary;
                    font-size: @hero-font-size-button;
                    color: @seasonal-content-bg;
                    background-color: @cta-dark-brown-2;
                    .hero-button-standard();
                }

                .banner-button:hover {
                    background-color: @cta-dark-brown-hover-2;
                }
            }
        }
    }
}

/* 480 : 480 to 606 stretch */
@media(min-width: 460px) {
    .backdrop.caramels-20-year-2{
        .banner {
            background-position: 0 0;
        }
    }
}

/* 607 : 590px column */
@media(min-width: @screen-ms-min) {
    .backdrop.caramels-20-year-2{
        .banner {
            background-position: 0 -40px;
            background-size: 865px;
        }
    }
}


/* 761 : 760px column */
@media(min-width: @screen-sm-min) {
    .backdrop.caramels-20-year-2{

        .banner {
            height: 900px; // actual image height (same as cutoff, for mobile view)
            background-position: -45px -150px;
            background-size: 818px;
            .hero > .content {
                height: 350px; //desktop layout hero content height
                .accent {
                    position: absolute;
                    top: 120px;
                    right: 20px;
                    max-width: 360px;
                    padding: 0;
                    h2 {
                        font-size: 38px;
                        line-height: 46px;
                        padding-bottom: 18px;
                    }
                }
            }
        }
    }
}

/* 997 : Desktop Nav */
@media(min-width: @screen-md-min) {
    .backdrop.caramels-20-year-2 {
        .banner {
            background-position: 0 -118px;
            background-size: 1000px;
            .hero > .content {
                height: 590px; //desktop layout hero content height
                .accent {
                    position: absolute;
                    top: 195px;
                    right: 0;
                    max-width: 470px;
                    h2 {
                        font-size: 48px;
                        line-height: 60px;
                        padding-bottom: 18px;
                    }
                    .banner-button{
                        .hero-button-standard-desktop();
                    }
                }
            }
        }
    }
}

/* 1220 : 1220+ */
@media(min-width: @screen-lg-min) {
    .backdrop.caramels-20-year-2{
        .banner {
            background-position: 0 -200px;
            background-size: auto;
            .hero > .content {
                .accent {
                    right: 56px;
                }
            }
        }
    }
}