// Homepage hero styles
// Easter 2019b Hero - bunnies

@hero-image-easter-2019b: '@{image-path}hero/hero-easter-2019b.jpg';

/*
.global-site-notice.demo-notice{
    display: none;
}
*/

/* mobile first styles / 320 to 460px wide */
.backdrop.hero-easter-2019b {
    margin-top: 0;
    .banner {
        height: 540px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{hero-image-easter-2019b}');
        background-position: 16% 0;
        background-size: 925px auto;
        background-color: #fdfdfd;
        .hero > .content {
            height: 540px;
            min-height: 540px;

            .accent {
                
                box-sizing: border-box;
                height: auto;
                position: relative;
                text-align: center;
                top: 0;
                left: 0;
                bottom: auto;
                background: none;
                padding: 0 0 0 0;
                margin: 30px auto 0;
                width: 100%;
                max-width: 320px;

                h2 {
                    display: block;
                    font-family: @hero-font-gotham;
                    color: #ffffff;
                    margin: auto;
                    font-size: 36px;
                    line-height: 36px;
                    padding: 0 0 10px 0;
                    span{
                        display: block;
                    }
                }
                .banner-button {
                    font-family: @hero-font-secondary;
                    font-size: @hero-font-size-button;
                    color: #ffffff;
                    background-color: #00adbc;
                    .hero-button-standard();
                }
                .banner-button:hover {
                    background-color: #5bc7cc;
                }
            }
        }
    }
}

/* tablet / full nav / vertical type layout / 768 to 992 */
@media(min-width: @screen-sm-min) {
    .backdrop.hero-easter-2019b{
        .banner {
            height: 800px;
            background-position: 61% -150px;
            background-size: 1100px;
            .hero > .content {
                height: 600px;
                .accent {
                }
            }
        }
    }
}

/* laptop / horizontal type layout / 992 to 1200 */
@media(min-width: @screen-md-min) {
    .backdrop.hero-easter-2019b {
        .banner {
            background-position: 50% -200px;
            background-size: 1210px;
            .hero > .content {
                .accent {
                    position: absolute;
                    top: 45px;
                    left: auto;
                    right: 60px;
                    min-width: 450px;
                    max-width: 450px;
                    margin: 0;
                    h2 {
                        font-size: 60px;
                        line-height: 60px;
                        padding-bottom: 15px;
                        letter-spacing: -2px;
                    }
                    .banner-button{
                        .hero-button-standard-desktop();
                    }
                }
            }
        }
    }
}

/* Desktop sizes 1220+ */
@media(min-width: @screen-lg-min) {
    .backdrop.hero-easter-2019b {
        .banner {
            .hero > .content {
                .accent {
                    right: 120px;
                }
            }
        }
    }
}