// Homepage hero styles
// Easter 2019a Hero - basket

@hero-image-spring-2019: '@{image-path}hero/hero-spring-2019.jpg';
@elem-spring-2019-png: '@{image-path}hero/elem-spring-2019.png';
@elem-spring-2019-svg: '@{image-path}hero/elem-spring-2019.svg';

/*
.global-site-notice.demo-notice{
    display: none;
}
*/

/* mobile first styles / 320 to 460px wide */
.backdrop.hero-spring-2019 {
    margin-top: 0;
    .banner {
        height: 480px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{hero-image-spring-2019}');
        background-position: 35% -50px;
        background-size: 760px auto;
        background-color: #fdfdfd;
        transition-timing-function: 'ease-out';
        .transition(background 100ms);
        
        .hero > .content {
            height: 480px;
            min-height: 480px;
            .accent {
                box-sizing: border-box;
                height: auto;
                position: relative;
                text-align: center;
                top: 0;
                left: 0;
                bottom: auto;
                background: none;
                padding: 0 0 0 0;
                margin: 30px auto 0;
                max-width: 320px;

                h2 {
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    height: 72px;
                    box-sizing: border-box;
                    font-family: @hero-font-gotham;
                    background-image: url('@{elem-spring-2019-png}');
                    background-image: url('@{elem-spring-2019-svg}');
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    color: #ffffff;
                    margin: auto;
                    font-size: 18px;
                    line-height: 18px;
                    margin-bottom: 10px;
                    text-indent: -1200px;
                    overflow: hidden;
                    span{
                        display: block;
                    }
                    .line2{
                        font-size: 38px;
                        line-height: 38px;
                    }
                }
                .banner-button {
                    font-family: @hero-font-secondary;
                    font-size: @hero-font-size-button;
                    color: #ffffff;
                    background-color: #05b896;
                    .hero-button-standard();
                }
                .banner-button:hover {
                    background-color: #4cabba;
                }
            }
        }
    }
}

/* 607 + */
@media(min-width: @screen-xs-min) {
    .backdrop.hero-spring-2019{
        .banner {
            background-position: 50% -66px;
            background-size: 800px;
        }
    }
}

/* 768 to 992 */
@media(min-width: @screen-sm-min) {
    .backdrop.hero-spring-2019{
        .banner {
            height: 800px;
            background-position: 50% -194px;
            background-size: 1100px;
            .hero > .content {
                height: 550px;
                .accent {
                    margin: 30px auto 0;
                    .banner-button{
                        margin-left: 120px;
                    }
                }
            }
        }
    }
}

/* 992 to 1200 */
@media(min-width: @screen-md-min) {
    .backdrop.hero-spring-2019 {
        .banner {
            background-position: 50% -200px;
            background-size: 1210px;
            .hero > .content {
                height: 616px;
                .accent {
                    min-width: 100%;
                    margin: 24px auto 0;
                    h2 {
                        width: 450px;
                        height: 104px;
                        font-size: 26px;
                        line-height: 26px;
                        margin-bottom: 12px;
                        background-size: auto;
                        .line2{
                            font-size: 56px;
                            line-height: 56px;
                        }
                    }
                    .banner-button{
                        .hero-button-standard-desktop();
                        margin-left: 165px;
                    }
                }
            }
        }
    }
}

/* Desktop sizes 1220+ */
@media(min-width: @screen-lg-min) {
}