// Homepage hero styles
// Easter Hero #1

@hero-font:                         "Trade Gothic Light";
@hero-font-secondary:               "Trade Gothic";
@hero-font-size-button:             13px;

@seasonal-green: #9ed12a;
@seasonal-green-dark: #4c9700;
@seasonal-green-light: #9ed12a;

@hero-image-accent:                 '@{image-path}hero/elem-spring-flowers.png';
@hero-image:              			'@{image-path}hero/hero-spring-party.jpg';
@hero-image-desktop:                '@{image-path}hero/hero-spring-party.jpg';
@hero-image-mobile:                 '@{image-path}hero/hero-spring-party-mobile.jpg';

.cms-index-defaultindex {
			
	.backdrop {		
		.banner {
			height: 520px; // actual image height (same as cutoff, for mobile view)
			background-image: url('@{hero-image-mobile}');
			background-size: auto;
			background-position: 50% 0;
			.hero > .content {
				height: 520px;
				.accent {
					height: auto;
					position: relative;
					bottom: auto;
					text-align: center;									
					top: 60px;
					left: auto;
					bottom: auto;					
					padding: 60px 0 0 0;						
					margin: auto;
					width: 300px;
					background-image: url('@{hero-image-accent}');
					background-size: auto;
					background-position: 50% 0;				
					background-repeat: no-repeat;
					
					h2 {
						display: block;	
						font-family: @hero-font;
						color: @seasonal-green-light;
						letter-spacing: 0;
						padding: 20px 0 0;
						margin: 0;						
						font-size: 33px;																		
						line-height: 42px;
						letter-spacing: 3px;
						padding: 0;
						span {
							display: inline-block;						
						}
					}
					h3 {
						display: block;
						font-family: @hero-font;
						color: @seasonal-green-light;
						margin: 0;
						font-size: 16px;
						line-height: 30px;
						letter-spacing: 0;
						text-indent: 0;
						padding: 9px 0 15px 0;
						letter-spacing: 0;
					}
					.banner-button {
						font-family: @hero-font;
						font-size: @hero-font-size-button;
						color: @seasonal-content-bg;
						background-color: @seasonal-green-light;
						display: inline-block;
						height: auto;
						font-size: 14px;
						line-height: 14px;
						letter-spacing: 1px;
						padding: 13px 22px;
						margin-top: 0;
						white-space: nowrap;
						text-transform: uppercase;
						.transition(background-color 150ms);
					}	
					.banner-button:hover {
						background-color: @seasonal-green-dark;
						.transition(background-color 50ms);
					}
				}
			}
		}
	}

//=========================== MEDIA QUERIES ===============================

	/* large phones / 607 to 768 */	
	@media(min-width: 607px) {
		.backdrop{
			.banner {

				.hero > .content {

					.accent {
						width: 100%;
						h2 {
							max-width: 340px;						
							font-size: 33px;
							line-height: 42px;
							letter-spacing: 3px;
							margin: auto;
							span {					

							}
						}
						h3 {
							font-size: 18px;
							line-height: 30px;
							letter-spacing: 2px;					
						}						
					}
				}
			}
		}	
	}

	/* tablet / full nav / vertical type layout / 768 to 992 */	
	@media(min-width: @screen-sm-min) {
		.backdrop{

			.banner {
				height: 800px; // actual image height (same as cutoff, for mobile view)
				background-image: url('@{hero-image-desktop}');
				background-size: auto;
				background-position: 50% 0;
				.hero > .content {
					height: 500px;
					.accent {
						top: 20px;
						h2 {
							max-width: 100%;
							span {					
							}
						}
						h3 {
							letter-spacing: 8px;
						}						
					}
				}
			}
		}
	}
	
	/* laptop / horizontal type layout / 992 to 1200 */
	@media(min-width: @screen-md-min) {
		.backdrop {
			.banner {
				.hero > .content {
					.accent {
						h2 {			
							span {	
							}
						}
						h3 {
						}						
					}
				}
			}
		}
	}

  	/* Desktop sizes 1220+ */
	@media(min-width: @screen-lg-min) {
		.backdrop{
			.banner {
				.hero > .content {
					.accent {				
					}
				}
			}
		}
	}
	
}