// Homepage hero styles
// Easter 2019d Hero - color

@hero-image-easter-2019d: '@{image-path}hero/hero-easter-2019d.jpg';

/*
.global-site-notice.demo-notice{
    display: none;
}
*/

/* mobile first styles / 320 to 460px wide */
.backdrop.hero-easter-2019d {
    margin-top: 0;
    .banner {
        height: 500px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{hero-image-easter-2019d}');
        background-position: 67% 13%;
        background-size: 800px auto;
        background-color: #fdfdfd;
        .hero > .content {
            height: 500px;
            min-height: 500px;
        }
    }
}

/* tablet / full nav / vertical type layout / 768 to 992 */
@media(min-width: @screen-sm-min) {
    .backdrop.hero-easter-2019d{
        .banner {
            height: 800px;
            background-size: auto;
            .hero > .content {
                height: 600px;
                .accent {
                }
            }
        }
    }
}

/* laptop / horizontal type layout / 992 to 1200 */
@media(min-width: @screen-md-min) {
    .backdrop.hero-easter-2019d {
        .banner {
            background-position: 50% -200px;
            background-size: 1210px;
            .hero > .content {
                .accent {
                    h2 {
                    }
                }
            }
        }
    }
}

/* Desktop sizes 1220+ */
@media(min-width: @screen-lg-min) {
    .backdrop.hero-easter-2019d {
        .banner {
            .hero > .content {
                .accent {
                    h2 {
                    }
                }
            }
        }
    }
}