@mothersday-2016-seasonal-gray: #333333;
@mothersday-2016-seasonal-color: #eb4f76;
@mothersday-2016-seasonal-color-dark: #d9476b;

@mothersday-2016-hero-image-desktop:                '@{image-path}hero/hero-mothers-day.jpg';
@mothersday-2016-hero-image-mobile:                 '@{image-path}hero/hero-mothers-day.jpg';

	.backdrop.mothersday-2016 {
		.banner {
			height: 420px; // actual image height (same as cutoff, for mobile view)
			background-image: url('@{mothersday-2016-hero-image-mobile}');
			background-size: 800px auto;
			background-position: 50% 0;
			.hero > .content {
				height: 420px;
				.accent {
					height: auto;
					position: relative;
					bottom: auto;
					text-align: center;									
					top: 20px;
					left: auto;
					padding: 60px 0 0 0;						
					margin: auto;
					width: auto;
					background: none;
					
					h2 {
						display: block;	
						font-family: @hero-font;
						color: @mothersday-2016-seasonal-gray;
						padding: 0;
						margin: 0;						
						font-size: 16px;																		
						line-height: 20px;
						letter-spacing: 4px;
						span {
							display: inline-block;						
						}
					}
					h3 {
						display: block;
						font-family: @hero-font;
						color: @mothersday-2016-seasonal-gray;
						margin: 0;
						font-size: 22px;
						line-height: 26px;
						letter-spacing: 1px;
						text-indent: 0;
						padding: 0 0 10px 0;
					}
					.banner-button {
						font-family: @hero-font;
						color: #fff;
						background-color: @mothersday-2016-seasonal-color;
						display: inline-block;
						height: auto;
						font-size: 13px;
						line-height: 13px;
						letter-spacing: 0;
						padding: 13px 18px;
						margin-top: 0;
						white-space: nowrap;
						text-transform: uppercase;
						.transition(background-color 150ms);
					}	
					.banner-button:hover {
						background-color: @mothersday-2016-seasonal-color-dark;
						.transition(background-color 50ms);
					}
				}
			}
		}
	}
//=========================== MEDIA QUERIES ===============================
	/* large phones / 490 to 607 */	
	@media(min-width: 460px) {
		.backdrop.mothersday-2016{
			.banner {	
				height: 520px;			
				background-image: url('@{mothersday-2016-hero-image-desktop}');
				background-size: auto;
				background-position: 50% -100px;
				.hero > .content {
					height: 520px;
					.accent {
						h2 {
							font-size: 18px;
							line-height: 22px;
							letter-spacing: 4px;
						}
						h3 {
							font-size: 30px;
							line-height: 34px;
							letter-spacing: 2px;
							padding-bottom: 12px;
						}
						.banner-button {
							font-size: 14px;
							line-height: 14px;
							padding: 13px 22px;
						}						
					}
				}
			}
		}	
	}
	/* large phones / 607 to 768 */	
	@media(min-width: 607px) {
		.backdrop.mothersday-2016{
			.banner {
				.hero > .content {
					.accent {
						top: 10px;
						h2 {
							font-size: 20px;
							line-height: 24px;
							padding-bottom: 4px;
							letter-spacing: 4px;
						}
						h3 {
							font-size: 36px;
							line-height: 40px;
							letter-spacing: 2px;
							padding: 2px 0 20px 0;
						}
					}
				}
			}
		}	
	}
	/* tablet / full nav / vertical type layout / 768 to 992 */	
	@media(min-width: @screen-sm-min) {
		.backdrop.mothersday-2016{
			.banner {
				height: 800px; // actual image height (same as cutoff, for mobile view)
				.hero > .content {
					height: 500px;
					.accent {
						h2 {
							letter-spacing: 10px;
							padding: 0 0 4px 0;
						}
						h3 {
							letter-spacing: 4px;
							padding: 2px 0 20px 0;
						}						
					}
				}
			}
		}
	}


