// Homepage hero styles
// Easter 2019a Hero - basket

@hero-image-mothers-day-2019a: '@{image-path}hero/hero-mothers-day-2019a.jpg';
@elem-mom-2019a: '@{image-path}hero/elem-mom-2019a.png';

/*
.global-site-notice.demo-notice{
    display: none;
}
*/

/* mobile first styles / 320 to 460px wide */
.backdrop.hero-mothers-day-2019a {
    margin-top: 0;
    .banner {
        height: 500px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{hero-image-mothers-day-2019a}');
        background-position: 19% -156px;
        background-size: 1020px auto;
        background-color: #fdfdfd;
        transition-timing-function: 'ease-out';
        .transition(background 100ms);
        
        .hero > .content {
            height: 500px;
            min-height: 500px;
            .accent {
                box-sizing: border-box;
                height: auto;
                position: relative;
                text-align: center;
                top: 0;
                left: 0;
                bottom: auto;
                background: none;
                padding: 0 0 0 0;
                margin: 24px auto 0;
                width: 100%;
                max-width: 320px;

                h2 {
                    display: block;
                    width: 100%;
                    height: 100px;
                    max-width: 214px;
                    font-family: @hero-font-gotham;
                    background-image: url('@{elem-mom-2019a}');
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    text-indent: -1200px;
                    overflow: hidden;
                    color: #ffffff;
                    margin: auto;
                    font-size: 18px;
                    line-height: 18px;
                    padding: 0 0 10px 0;
                    margin-bottom: 330px;
                    span{
                        display: block;
                    }
                    .line2{
                        font-size: 38px;
                        line-height: 38px;
                    }
                }
                .banner-button {
                    font-family: @hero-font-secondary;
                    font-size: @hero-font-size-button;
                    color: #ffffff;
                    background-color: #9264cd;
                    .hero-button-standard();
                }
                .banner-button:hover {
                    background-color: #8867c8;
                }
            }
        }
    }
}

/* 768 to 992 */
@media(min-width: @screen-sm-min) {
    .backdrop.hero-mothers-day-2019a{
        .banner {
            height: 800px;
            background-position: 67% -175px;
            background-size: 1100px;
            .hero > .content {
                height: 530px;
                .accent {
                    h2{
                        margin-bottom: 360px;
                    }
                }
            }
        }
    }
}

/* 992 to 1200 */
@media(min-width: @screen-md-min) {
    .backdrop.hero-mothers-day-2019a {
        .banner {
            background-position: 50% -200px;
            background-size: 1210px;
            .hero > .content {
                height: 590px;
                .accent {
                    min-width: 100%;
                    margin: 35px auto 0;
                    h2 {
                        margin-bottom: 405px;
                        font-size: 26px;
                        line-height: 26px;
                        width: 295px;
                        max-width: 295px;
                        height: 91px;
                        background-size: auto;
                        padding-bottom: 15px;
                        .line2{
                            font-size: 56px;
                            line-height: 56px;
                        }
                    }
                    .banner-button{
                        .hero-button-standard-desktop();
                    }
                }
            }
        }
    }
}

/* Desktop sizes 1220+ */
@media(min-width: @screen-lg-min) {
}