// Homepage hero styles
// Easter 2019c Hero - chicks

@hero-image-mothers-day-2019b: '@{image-path}hero/hero-mothers-day-2019b.jpg';
@elem-mom-2019b: '@{image-path}hero/elem-mom-2019b.png';

/*
.global-site-notice.demo-notice{
    display: none;
}
*/

/* mobile first styles / 320 to 460px wide */
.backdrop.hero-mothers-day-2019b {
    margin-top: 0;
    .banner {
        height: 500px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{hero-image-mothers-day-2019b}');
        background-position: 41% -30px;
        background-size: 800px auto;
        background-color: #fdfdfd;
        .hero > .content {
            height: 500px;
            min-height: 500px;
            .accent{
                background: #876aaf;
                .inner{
                    h2{
                        width: 100%;
                        height: 60px;
                        max-width: 196px;
                        margin: 0 auto 15px;
                        background-image: url('@{elem-mom-2019b}');
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        text-indent: -1200px;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

@media(min-width: @screen-xs-min) {
    .backdrop.hero-mothers-day-2019b{
        .banner {
            .hero > .content {
                .accent {
                    max-width: 324px;
                    .inner{
                        h2 {
                            width: 227px;
                            max-width: 227px;
                            height: 70px;
                            background-size: auto;
                        }
                    }
                    .banner-button{
                        font-size: 22px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}

/* tablet / full nav / vertical type layout / 768 to 992 */
@media(min-width: @screen-sm-min) {
    .backdrop.hero-mothers-day-2019b{
        .banner {
            height: 800px;
            background-size: auto;
            .hero > .content {
                height: 610px;
            }
        }
    }
}

/* laptop / horizontal type layout / 992 to 1200 */
@media(min-width: @screen-md-min) {
    .backdrop.hero-mothers-day-2019b {
        .banner {
            background-position: 50% -200px;
            background-size: 1210px;
        }
    }
}

/* Desktop sizes 1220+ */
@media(min-width: @screen-lg-min) {
    .backdrop.hero-mothers-day-2019b {
        .banner {
        }
    }
}