@gold-bars-3-cta: #b0887e;
@gold-bars-3-cta-hover: #be9990;
@gold-bars-3-cta-text: #ffffff;
@gold-bars-3-headline: #9a7e74;
//@gold-bars-3-hero-image: '@{image-path}hero/hero-coconut-gold-bars.jpg';
@gold-bars-3-hero-image: '@{image-path}hero/hero-coconut-gold-bars-type.jpg';

// screen-xs-min : 480px
// screen-ms-min : 607px
// screen-sm-min : 768px //tablet / full nav / vertical type layout / 768+
// screen-md-min : 992px
// screen-lg-min : 1200px

.backdrop.gold-bars-3 {
    height: 300px;
    min-height: 300px;
    .banner {
        height: 300px; // actual image height (same as cutoff, for mobile view)
        min-height: 300px;
        background-image: url('@{gold-bars-3-hero-image}');
        background-size: 480px auto;
        background-position: 5% 50px; /* logo nav gap for mobile */
        .hero > .content {
            height: 300px;
            min-height: 300px;
            text-align: center;
            .accent {
                height: auto;
                position: relative;
                bottom: auto;
                text-align: center;
                top: auto;
                left: auto;
                padding: 65px 0 0 0;
                margin: 0 0 0 12px;
                width: auto;
                max-width: 188px;
                background-size: auto;
                background-position: 50% 0;
                background-repeat: no-repeat;
                h2 {
                    display: none; //hide type
                    font-family: @hero-font-serif;
                    color: @gold-bars-3-headline;
                    margin: 0 auto;
                    padding: 0;
                    font-size: 21px;
                    line-height: 23px;
                    font-weight: normal;
                    font-style: italic;
                    letter-spacing: 0;
                    text-transform: none;
                    span {
                        display: inline-block;
                    }
                }
                h3 {
                    display: none; //hide type
                    font-family: @hero-font;
                    color: @gold-bars-3-headline;
                    margin: 10px auto 0;
                    padding: 0;
                    font-size: 22px;
                    line-height: 24px;
                    font-weight: normal;
                    letter-spacing: 0;
                    text-transform: none;
                }
            }
            .banner-button {
                font-family: @hero-font;
                color: @gold-bars-3-cta-text;
                background-color: @gold-bars-3-cta;
                display: inline-block;
                height: auto;
                font-size: 10px;
                line-height: 10px;
                letter-spacing: 0;
                padding: 8px 8px;
                margin: 0 auto;
                margin-top: 160px;
                white-space: nowrap;
                text-transform: uppercase;
                .transition(background-color 150ms);
            }
            .banner-button:hover {
                background-color: @gold-bars-3-cta-hover;
                .transition(background-color 50ms);
            }
        }
    }
}

@media(min-width: 480px) {
    .backdrop.gold-bars-3 {
        .banner {
            background-size: 570px auto;
            background-position: 20% 50px;
        }
        .hero > .content {
            .accent{
                margin: 0 0 0 28px;
            }
            .banner-button {
                margin-top: 180px;
                padding: 13px 13px;
            }
        }
    }
}

@media(min-width: 570px) {
    .backdrop.gold-bars-3{
        .banner {
            height: 365px;
            background-size: 655px auto;
            background-position: 32% 50px;
            .hero > .content {
                height: 365px;
                .accent{
                    max-width: 270px;
                    padding: 85px 0 0 0;
                    margin: 0 0 0 0;
                    h2,h3 {
                        font-size: 22px;
                        line-height: 28px;
                        letter-spacing: 0;
                    }
                }
                .banner-button {
                    margin-top: 200px;
                }
            }
        }
    }
}

@media(min-width: @screen-sm-min) {
    .backdrop.gold-bars-3{
        .banner {
            height: 890px; // actual image height (same as cutoff, for mobile view)
            background-image: url('@{gold-bars-3-hero-image}');
            background-size: 900px auto;
            background-position: 15% 0;
            .hero > .content {
                height: 430px;
                .accent{
                    max-width: 390px;
                    padding: 0;
                    margin: 0;
                    h2,h3 {
                        font-size: 30px;
                        line-height: 38px;
                        letter-spacing: 0;
                    }
                }
                .banner-button {
                    margin-top: 320px;
                    font-size: 14px;
                    line-height: 14px;
                    letter-spacing: 1px;
                    padding: 13px 22px;
                }
            }
        }
    }
}

@media(min-width: @screen-md-min) {
    .backdrop.gold-bars-3{
        .banner {
            height: 890px; // actual image height (same as cutoff, for mobile view)
            background-image: url('@{gold-bars-3-hero-image}');
            background-size: auto;
            background-position: 15% 0;
            .hero > .content {
                height: 600px;
                .accent{
                    max-width: 410px;
                    padding: 0;
                    margin: 0;
                    h2,h3 {
                        font-size: 34px;
                        line-height: 44px;
                        letter-spacing: 0;
                    }
                }
                .banner-button {
                    margin-top: 400px;
                    font-size: 14px;
                    line-height: 14px;
                    letter-spacing: 1px;
                    padding: 13px 22px;
                }
            }
        }
    }
}

@media(min-width: @screen-lg-min) {
    .backdrop.gold-bars-3{
        .banner {
            background-position: 0 0;
            .hero > .content {
                .accent{
                    max-width: 580px;
                    margin: 0;
                }
                .banner-button {
                    margin-top: 400px;
                }
            }
        }
    }
}