@fall-halloween-cta: #44494d;
@fall-halloween-cta-hover: #545d64;
@fall-halloween-headline: #ffffff;
@fall-halloween-hero-image: '@{image-path}hero/hero-fall-halloween.jpg';

.backdrop.fall-halloween {
    .banner {
      height: 480px; // actual image height (same as cutoff, for mobile view)
      background-image: url('@{fall-halloween-hero-image}');
      background-size: 700px auto;
      background-position: 50% 0;
      .hero > .content {
        height: 480px;
        .accent {
            height: auto;
            position: relative;
            bottom: auto;
            text-align: center;
            top: auto;
            left: auto;
            padding: 60px 0 0;
            margin: auto;
            width: auto;
            max-width: 320px;
            background-size: auto;
            background-position: 50% 0;
            background-repeat: no-repeat;
            h2 {
                display: block;
                font-family: @hero-font;
                color: @fall-halloween-headline;
                margin: 0 auto 14px;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 0;
                padding: 0;
                font-style: italic;
                span {
                    display: inline-block;
                }
            }
            .banner-button {
                font-family: @hero-font;
                color: @fall-halloween-headline;
                background-color: @fall-halloween-cta;
                display: inline-block;
                height: auto;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: 1px;
                padding: 13px 22px;
                margin-top: 0;
                white-space: nowrap;
                text-transform: uppercase;
                .transition(background-color 150ms);
            }
            .banner-button:hover {
                background-color: @fall-halloween-cta-hover;
                .transition(background-color 50ms);
            }
        }
      }
    }
}


//=========== MEDIA QUERIES ===========
/* tablet / full nav / vertical type layout / 768 to 992 */

@media(min-width: @screen-sm-min) {
    .backdrop.fall-halloween{
        .banner {
            height: 990px; // actual image height (same as cutoff, for mobile view)
            background-image: url('@{fall-halloween-hero-image}');
            background-size: auto;
            background-position: 50% 0;
            .hero > .content {
                height: 800px;
                .accent{
                    max-width: 650px;
                    padding: 90px 0 0 0;
                    h2 {
                        font-size: 42px;
                        line-height: 50px;
                        margin: 0 auto 25px;
                        letter-spacing: 1px;
                    }
                    .banner-button {
                    }
                }
            }
        }
    }
}