// Homepage hero styles
// Gratitidue Hero

@hero-font:                         "Trade Gothic Light";
@hero-font-secondary:               "Trade Gothic";
@hero-font-size-button:             13px;

@seasonal-gray: #333;
@seasonal-color: #382818;
@seasonal-color-dark: #382818;

@cta-dark-brown: #522601;
@cta-dark-brown-hover: #402005;

@hero-image-caramel-20:               '@{image-path}hero/hero-caramel-20-year.png';

    .backdrop.caramels-20-year {
        .banner {
            height: 440px; // actual image height (same as cutoff, for mobile view)
            background-image: url('@{hero-image-caramel-20}');
            background-size: 800px auto;
            background-position: 28% -18px;
            background-color: #fdfdfd;
            .hero > .content {
                height: 440px;
                .accent {
                    height: auto;
                    position: relative;
                    text-align: center;
                    top: 270px;
                    left: auto;
                    right: auto;
                    bottom: auto;
                    background: none;
                    padding: 0;
                    margin: auto;
                    width: auto;

                    h2 {
                        display: block;
                        font-family: @hero-font;
                        color: @seasonal-color;
                        padding: 0;
                        margin: 0;
                        font-size: 32px;
                        line-height: 32px;
                        letter-spacing: 2px;
                        padding: 0 0 4px 0;
                        .line1, .linee2{
                            display: block;
                        }
                        .line1{
                            font-size: 32px;
                            line-height: 32px;
                        }
                        .line2{
                            font-size: 49px;
                            line-height: 49px;
                        }
                    }
                    h3 {
                        display: block;
                        font-family: @hero-font;
                        color: @seasonal-color;
                        margin: 0;
                        font-size: 14px;
                        line-height: 14px;
                        margin: auto;
                        letter-spacing: 3px;
                        text-indent: 0;
                        padding: 2px 0 12px;
                    }
                    .banner-button {
                        font-family: @hero-font;
                        font-size: @hero-font-size-button;
                        color: @seasonal-content-bg;
                        background-color: @cta-dark-brown;
                        display: inline-block;
                        height: auto;
                        margin-top: 0;
                        white-space: nowrap;
                        text-transform: uppercase;
                        
                        font-size: 14px;
                        line-height: 14px;
                        padding: 13px 22px;
                        letter-spacing: 1px;
                        
                        .transition(background-color 150ms);
                    }
                    
                    .banner-button:hover {
                        background-color: @cta-dark-brown-hover;
                        .transition(background-color 50ms);
                    }
                }
            }
        }
    }

//=========================== MEDIA QUERIES ===============================

    /* large phones / 490 to 607 */
    @media(min-width: 370px) {
        .backdrop.caramels-20-year{
            .banner {
                background-position: 20% -20px;
            }
        }
    }

    /* large phones / 490 to 607 */
    @media(min-width: 512px) {
        .backdrop.caramels-20-year{
            .banner {
                height: 350px;
                background-size: 1110px auto;
                background-position: 52% -44px;
                .hero > .content {
                    height: 350px;
                    .accent {
                        position: absolute;
                        right: 16px;
                        top: 100px;
                        padding: 0;
                        h2 {
                            font-size: 25px;
                            line-height: 35px;
                            letter-spacing: 2px;
                        }
                        h3 {
                            font-size: 13px;
                            line-height: 18px;
                            letter-spacing: 3px;
                        }
                    }
                }
            }
        }
    }

    /* tablet / full nav / vertical type layout / 768 to 992 */
    @media(min-width: @screen-sm-min) {
        .backdrop.caramels-20-year{

            .banner {
                height: 900px; // actual image height (same as cutoff, for mobile view)
                background-size: auto;
                background-position: 32% -30px;

                .hero > .content {
                    height: 350px; //desktop layout hero content height
                    .accent {
                        top: 130px;
                        right: 40px;
                    }
                }
            }
        }
    }

    /* Full Desktop 1 */
    /* laptop / horizontal type layout / 992 to 1200 */
    @media(min-width: @screen-md-min) {
        .backdrop.caramels-20-year {
            .banner {
                background-position: 25% -20px;
                .hero > .content {
                    height: 430px; //desktop layout hero content height
                    .accent {
                        top: 140px;
                        right: 50px;
                        h2{
                            .line1{
                                font-size: 45px;
                                line-height: 45px;
                            }
                            .line2{
                                font-size: 70px;
                                line-height: 70px;
                            }
                        }
                        h3{
                            font-size: 22px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }

    /* Full Desktop 2 */
    /* Desktop sizes 1220+ */
    @media(min-width: @screen-lg-min) {
        .backdrop.caramels-20-year{
            .banner {
                background-position: 50% -20px;
                .hero > .content {
                    .accent {
                        right: 120px;
                    }
                }
            }
        }
    }