// Homepage hero styles
// Gratitidue Hero

@hero-font:                         "Trade Gothic Light";
@hero-font-secondary:               "Trade Gothic";
@hero-font-size-button:             13px;

@seasonal-gray: #333;
@seasonal-white: #fff;
@seasonal-brown: #7c4e2a;
@seasonal-brown-dark: #7c4e2a;

@hero-image-fathers:				'@{image-path}hero/hero-fathers.jpg';
			
	.backdrop.fathers {		
		.banner {
			height: 400px; // actual image height (same as cutoff, for mobile view)
			background-image: url('@{hero-image-fathers}');
			background-size: 900px auto;
			background-position: 85% 50px;
			background-color: #fdfdfd;
			.hero > .content {
				height: 400px;
				.accent {
					box-sizing: border-box;
					height: auto;
					position: relative;
					text-align: center;									
					top: 50px;				
					left: auto;
					bottom: auto;				
					background: none;
					padding: 32px 0 0;
					margin: auto;
					width: 100%;
					min-height: 350px;
					background: linear-gradient( rgba(0,0,0,.4) , rgba(0,0,0,0) );
					
					h2 {
						display: block;	
						font-family: @hero-font;
						color: @seasonal-white;
						padding: 0;
						margin: auto;			
						max-width: 320px;			
						font-size: 28px;																		
						line-height: 36px;
						letter-spacing: 1px;
						padding: 0 0 2px 0;
						text-shadow: 1px 1px 1px rgba(0,0,0,.3);
					}
					h3 {
						display: block;
						font-family: @hero-font;
						color: @seasonal-white;
						margin: auto;
						font-size: 13px;
						line-height: 18px;
						margin: auto;
						letter-spacing: 1px;
						text-indent: 0;
						padding: 2px 0 9px;
						text-shadow: 1px 1px 1px rgba(0,0,0,.3);
					}
					.banner-button {
						font-family: @hero-font;
						font-size: @hero-font-size-button;
						color: @seasonal-content-bg;
						background-color: @seasonal-brown;
						display: inline-block;
						height: auto;
						font-size: 13px;
						line-height: 13px;
						letter-spacing: 1px;
						padding: 13px 18px;
						margin-top: 0;
						white-space: nowrap;
						text-transform: uppercase;
						.transition(background-color 150ms);
					}	
					.banner-button:hover {
						background-color: @seasonal-brown-dark;
						.transition(background-color 50ms);
					}
				}
			}
		}
	}

//=========================== MEDIA QUERIES ===============================

	/* large phones / 460 to 607 */	
	@media(min-width: 460px) {
		.backdrop.fathers{
			.banner {
				background-size: 900px auto;
				background-position: 90% 50px;			
				.hero > .content {
					.accent {
						h2 {
						}
						h3 {
						}						
					}
				}
			}
		}	
	}
	
	/* large phones / 607 to 768 */	
	@media(min-width: 607px) {
		.backdrop.fathers{
			.banner {				
				.hero > .content {					
					.accent {
						h2 {
						}
						h3 {
						}
						.banner-button {
						    font-size: 14px;
						    line-height: 14px;						
						}
					}
				}
			}
		}	
	}	

	/* tablet / full nav / vertical type layout / 768 to 992 */	
	@media(min-width: @screen-sm-min) {
		.backdrop.fathers{
			height: 380px !important;
			.banner {
				height: 900px; // actual image height (same as cutoff, for mobile view)
				background-size: 1000px auto;
				background-position: 60% 0;
				
				.hero > .content {
					height: 350px;
					.accent {
						position: absolute;
						width: auto;						
						max-width: 360px;
						top: 15px;						
						left: 30px;
						background: none;
						h2 {
							font-size: 34px;
							line-height: 40px;
							letter-spacing: 1px;
						}
						h3 {
							font-size: 16px;
							line-height: 20px;
							letter-spacing: 1px;
							padding: 4px 0 18px 0;							
						}						
					}
				}
			}
		}
	}
	
	/* laptop / horizontal type layout / 992 to 1200 */
	@media(min-width: @screen-md-min) {
		.backdrop.fathers {
			height: 420px !important;
			.banner {
				background-position: 50% 0;
				background-size: 1100px;
				.hero > .content {
					.accent {
						top: 50px;
						left: 35px;
					    max-width: 380px;
						h2 {			
							font-size: 42px;
							line-height: 52px;
							letter-spacing: 2px;
							padding: 0 0 6px 0;	
						}
						h3 {
							font-size: 16px;
							line-height: 20px;
							letter-spacing: 2px;
							padding: 4px 0 18px 0;						
						}						
					}
				}
			}
		}
	}

  	/* Desktop sizes 1220+ */
	@media(min-width: @screen-lg-min) {
		.backdrop.fathers{
			height: 460px !important;
			.banner {
				background-position: 50% 0;
				background-size: auto;
				.hero > .content {
					.accent {
						top: 80px;			
						left: 80px;
					}
				}
			}
		}
	}