// Homepage hero styles
// Signature 2 Hero Pure Delight

@hero-font:                         "Trade Gothic Light";
@hero-font-secondary:               "Trade Gothic";
@hero-font-size-button:             13px;

@seasonal-drak-gray: #333333;
@seasonal-light-brown: #c5a289;
@seasonal-light-brown2: #956a4d;

@hero-image-signature-2:                '@{image-path}hero/hero-signature-2.png';

    /* mobile first styles / 320 to 460px wide */

    .backdrop.signature-2 {
        .banner {
            height: 490px; // actual image height (same as cutoff, for mobile view)
            background-image: url('@{hero-image-signature-2}');
            background-position: 50% 0;
            background-size: auto;
            background-color: #ffffff;
            .hero > .content {
                height: 490px;
                min-height: 490px;
                .accent {
                    box-sizing: border-box;
                    height: auto;
                    position: relative;
                    text-align: center;
                    top: 0;
                    left: 0;
                    bottom: auto;
                    background: none;
                    padding: 0 0 0;
                    margin: 70px auto 0;
                    width: 100%;
                    max-width: 320px;

                    h2 {
                        display: block;
                        font-family: @hero-font;
                        color: @seasonal-drak-gray;
                        margin: auto;
                        font-size: 40px;
                        line-height: 46px;
                        letter-spacing: 2px;
                        text-indent: -2px;
                        padding: 0 0 22px 0;
                        span{
                            display: block;
                        }
                    }
                    .banner-button {
                        font-family: @hero-font;
                        font-size: @hero-font-size-button;
                        color: @seasonal-content-bg;
                        background-color: @seasonal-light-brown;
                        display: inline-block;
                        height: auto;
                        font-size: 13px;
                        line-height: 13px;
                        letter-spacing: 1px;
                        padding: 12px 20px;
                        margin-top: 0;
                        white-space: nowrap;
                        text-transform: uppercase;
                        .transition(background-color 150ms);
                    }
                    .banner-button:hover {
                        background-color: @seasonal-light-brown2;
                        .transition(background-color 50ms);
                    }
                }
            }
        }
    }

//=========================== MEDIA QUERIES ===============================

    /* tablet / mobile / vertical type layout / 768 to 992 */
    @media(min-width: @screen-sm-min) {
        .backdrop.signature-2{
            .banner {
                height: 800px;
                .hero > .content {
                    height: 470px;
                    .accent {
                        max-width: 400px;
                        margin: 38px auto 0;
                        h2{
                            font-size: 50px;
                            line-height: 60px;
                            letter-spacing: 4px;
                            text-indent: -4px;
                        }
                    }
                }
            }
        }
    }

    /* laptop / full nav / horizontal type layout / 992 to 1200 */
    @media(min-width: @screen-md-min) {
        .backdrop.signature-2 {
            .banner {
                .hero > .content {
                    .accent {
                        .banner-button{
                            font-size: 14px;
                            line-height: 14px;
                            padding: 13px 22px;
                        }
                    }
                }
            }
        }
    }

    /* Desktop sizes 1220+ */
    @media(min-width: @screen-lg-min) {
        .backdrop.signature-2{
        }
    }