// Homepage hero styles
// Summer Hero

@hero-font:                         "Trade Gothic Light";
@hero-font-secondary:               "Trade Gothic";
@hero-font-size-button:             13px;

@seasonal-green-1: #95cc3a;
@seasonal-green-dark-1: #82b035;
@seasonal-gray-1: #999999;

@hero-image-summer-1:				'@{image-path}hero/hero-summer-1.jpg';
			
	.backdrop.summer-1 {		
		.banner {
			height: 550px; // actual image height (same as cutoff, for mobile view)
			background-image: url('@{hero-image-summer-1}');
			background-position: 15% 0;
		    background-size: 1000px auto;
			background-color: #fdfdfd;
			.hero > .content {
				height: 550px;
				.accent {
					box-sizing: border-box;
					height: auto;
					position: relative;
					text-align: center;									
					top: auto;				
					left: auto;
					bottom: auto;				
					background: none;
					padding: 0 0 0;
					margin: 60px auto 0;
					width: 100%;
					max-width: 320px;					
					
					h2 {
						display: block;	
						font-family: @hero-font;
						color: @seasonal-green-1;
						padding: 0;
						margin: 0 auto 6px;
						span.line1{
							font-size: 42px;
							line-height: 42px;
							letter-spacing: 7px;
							margin-right: -7px;
						}						
						span.line2{
							font-size: 42px;
							line-height: 42px;
							letter-spacing: 20px;
							margin-right: -20px;							
						}
					}
					h3 {
						display: block;
						font-family: @hero-font;
						color: @seasonal-gray-1;
						margin: auto;
						font-size: 18px;
						line-height: 22px;
						margin: auto;
						letter-spacing: 4px;
						margin-right: -4px;
						padding: 0 0 8px;
					}
					.banner-button {
						font-family: @hero-font;
						font-size: @hero-font-size-button;
						color: @seasonal-content-bg;
						background-color: @seasonal-green-1;
						display: inline-block;
						height: auto;
						font-size: 13px;
						line-height: 13px;
						letter-spacing: 1px;
						padding: 13px 18px;
						margin-top: 0;
						white-space: nowrap;
						text-transform: uppercase;
						.transition(background-color 150ms);
					}	
					.banner-button:hover {
						background-color: @seasonal-green-dark-1;
						.transition(background-color 50ms);
					}
				}
			}
		}
	}

//=========================== MEDIA QUERIES ===============================

	/* large phones / 460 to 607 */	
	@media(min-width: 460px) {
		.backdrop.summer-1{
			.banner {			
			    background-position: 10% 0;
			    background-size: 1000px auto;
				.hero > .content {
					.accent {
						h2 {
						}
						h3 {
						}						
					}
				}
			}
		}	
	}
	
	/* large phones / 607 to 768 */	
	@media(min-width: 607px) {
		.backdrop.summer-1{
			.banner { 
			    background-position: 0 0;
			    background-size: 1000px auto;						
				.hero > .content {					
					.accent {
						h2 {
						}
						h3 {
						}
						.banner-button {
						}
					}
				}
			}
		}	
	}	

	/* tablet / full nav / vertical type layout / 768 to 992 */	
	@media(min-width: @screen-sm-min) {
		.backdrop.summer-1{
			.banner {	
				height: 800px;
			    background-position: 0 -128px;
			    background-size: auto;						
				.hero > .content {
					height: 520px;				
					.accent {
						margin: 25px auto 0;
						h2 {
						}
						h3 {
						}						
					}
				}
			}
		}
	}
	
	/* laptop / horizontal type layout / 992 to 1200 */
	@media(min-width: @screen-md-min) {
		.backdrop.summer-1 {
			.banner {
			    background-position: 30% -220px;
			    background-size: auto;				
				.hero > .content {
					.accent {
						position: absolute;
						right: 15px;
						top: 140px;
						max-width: 400px;
						margin: 0;
						h2 {
							span.line1{
								font-size: 56px;
								line-height: 62px;
								letter-spacing: 9px;
								margin-right: -9px;
							}						
							span.line2{
								font-size: 64px;
								line-height: 68px;
								letter-spacing: 20px;
								margin-right: -20px;							
							}
						}
						h3 {
							font-size: 18px;
							line-height: 22px;
							letter-spacing: 9px;
							margin-right: -9px;
							padding: 0 0 12px 0;
						}					
					}
				}
			}
		}
	}

  	/* Desktop sizes 1220+ */
	@media(min-width: @screen-lg-min) {
		.backdrop.summer-1{
			.banner {
			    background-position: 0 -220px;
			    background-size: auto;				
				.hero > .content {
					.accent {
						right: 120px;
					}
				}
			}
		}
	}