// Homepage hero styles
// Wedding Hero

@hero-font:                         "Trade Gothic Light";
@hero-font-secondary:               "Trade Gothic";
@hero-font-size-button:             13px;

@seasonal-green: #a9ca7b;
@seasonal-green-dark: #91b45f;

@hero-image-wedding:				'@{image-path}hero/hero-wedding.jpg';
			
	.backdrop.wedding {		
		.banner {
			height: 450px; // actual image height (same as cutoff, for mobile view)
			background-image: url('@{hero-image-wedding}');
			background-position: 15% -70px;
		    background-size: 1030px auto;
			background-color: #fdfdfd;
			.hero > .content {
				height: 450px;
				.accent {
					box-sizing: border-box;
					height: auto;
					position: relative;
					text-align: center;									
					top: auto;				
					left: auto;
					bottom: auto;				
					background: none;
					padding: 0 0 0;
					margin: 270px auto 0;
					width: 100%;
					max-width: 320px;					
					
					h2 {
						display: block;	
						font-family: @hero-font;
						color: @seasonal-green-dark;
						padding: 0;
						margin: auto;
						font-size: 32px;																		
						line-height: 38px;
						letter-spacing: 2px;
						padding: 0 0 2px 0;
					}
					h3 {
						display: block;
						font-family: @hero-font;
						color: @seasonal-green-dark;
						margin: auto;
						font-size: 14px;
						line-height: 22px;
						margin: auto;
						letter-spacing: 1px;
						text-indent: 0;
						padding: 0 0 8px;
					}
					.banner-button {
						font-family: @hero-font;
						font-size: @hero-font-size-button;
						color: @seasonal-content-bg;
						background-color: @seasonal-green;
						display: inline-block;
						height: auto;
						font-size: 13px;
						line-height: 13px;
						letter-spacing: 1px;
						padding: 13px 18px;
						margin-top: 0;
						white-space: nowrap;
						text-transform: uppercase;
						.transition(background-color 150ms);
					}	
					.banner-button:hover {
						background-color: @seasonal-green-dark;
						.transition(background-color 50ms);
					}
				}
			}
		}
	}

//=========================== MEDIA QUERIES ===============================

	/* large phones / 460 to 607 */	
	@media(min-width: 460px) {
		.backdrop.wedding{
			.banner {			
			    background-position: 10% -70px;
			    background-size: 1030px auto;
				.hero > .content {
					.accent {
						h2 {
						}
						h3 {
						}						
					}
				}
			}
		}	
	}
	
	/* large phones / 607 to 768 */	
	@media(min-width: 607px) {
		.backdrop.wedding{
			.banner { 
			    background-position: 0 -70px;
			    background-size: 1030px auto;							
				.hero > .content {					
					.accent {
						h2 {
						    font-size: 36px;
						    line-height: 40px;
						}
						h3 {
						    font-size: 16px;
						    line-height: 26px;
						}
						.banner-button {
						}
					}
				}
			}
		}	
	}	

	/* tablet / full nav / vertical type layout / 768 to 992 */	
	@media(min-width: @screen-sm-min) {
		.backdrop.wedding{
			.banner {	
				height: 800px; 
			    background-position: 68% 0;
			    background-size: auto;						
				.hero > .content {
					height: 400px;				
					.accent {
						position: absolute;
						right: 15px;
						top: 155px;
						max-width: 400px;
						margin: 0;
						h2 {
							font-size: 38px;
							line-height: 44px;
							margin: 0 0 6px 0;
							letter-spacing: 3px;							
						}
						h3 {
						    font-size: 18px;
						    line-height: 28px;
						    margin: 0 0 8px 0;
						    letter-spacing: 1px;											
						}						
					}
				}
			}
		}
	}
	
	/* laptop / horizontal type layout / 992 to 1200 */
	@media(min-width: @screen-md-min) {
		.backdrop.wedding {
			.banner {
			    background-position: 45% 0;
			    background-size: auto;				
				.hero > .content {
					.accent {
						right: 20px;
						h2 {			
						}
						h3 {
						}						
					}
				}
			}
		}
	}

  	/* Desktop sizes 1220+ */
	@media(min-width: @screen-lg-min) {
		.backdrop.wedding{
			.banner {
			    background-position: 50% 0;
			    background-size: auto;				
				.hero > .content {
					.accent {
						right: 120px;
					}
				}
			}
		}
	}