// Homepage hero styles
// Fall Gold Bars Hero

@hero-font:                                 "Trade Gothic Light";
@hero-font-secondary:                       "Trade Gothic";
@hero-font-size-button:                     13px;

@seasonal-brown-3:          #604443;
@seasonal-brown-light-3:    #593d3c;

@hero-image-fall-gold-bars:                 '@{image-path}hero/hero-gold-bars-2.png';

    .backdrop.gold-bars {
        .banner {
            height: 300px; // actual image height (same as cutoff, for mobile view)
            background-image: url('@{hero-image-fall-gold-bars}');
            background-position: 68% -40px;
            background-size: 605px;
            background-color: #ececec;
            .hero > .content {
                height: 300px;
                .accent {
                    box-sizing: border-box;
                    height: auto;
                    position: relative;
                    text-align: left;
                    background: none;
                    padding: 0 0 0;
                    margin: 148px 0 0 16px;
                    width: 170px;

                    h2 {
                        display: block;
                        font-family: @hero-font;
                        color: @seasonal-brown-2;
                        margin: 0 0 10px 0;
                        padding: 0;
                        font-size: 23px;
                        line-height: 26px;
                        max-width: 220px;
                        letter-spacing: 0;

                        span{
                            display: block;
                        }

                    }
                    h3{
                        display: block;
                        font-family: @hero-font;
                        color: @seasonal-brown-2;
                        font-size: 18px;
                        line-height: 18px;
                        letter-spacing: 0;
                        margin-bottom: 4px;
                    }
                    
                    .banner-button {
                        font-family: @hero-font;
                        font-size: @hero-font-size-button;
                        color: @seasonal-content-bg;
                        background-color: @seasonal-brown-3;
                        display: inline-block;
                        height: auto;
                        font-size: 13px;
                        line-height: 13px;
                        letter-spacing: 0;
                        padding: 13px 30px;
                        margin-top: 0;
                        white-space: nowrap;
                        text-transform: uppercase;
                        .transition(background-color 150ms);
                    }
                    .banner-button:hover {
                        background-color: @seasonal-brown-light-3;
                        .transition(background-color 50ms);
                    }
                }
            }
        }
    }

//=========================== MEDIA QUERIES ===============================

    /* large phones iphone6+ */
    @media(min-width: 410px) {
        .backdrop.gold-bars{
            .banner {
                background-position: 65% -10px;
                background-size: 605px;
                .hero > .content {
                    .accent {
                        width: 280px;
                        margin: 100px 0 0 15px;

                        h2 {
                            font-size: 27px;
                            line-height: 34px;
                            max-width: 100%;
                        }
                        h3{
                            font-size: 19px;
                            line-height: 19px;
                            margin-bottom: 8px;
                        }

                    }
                }
            }
        }
    }

    /* larger phones 410 to 590 */
    @media(min-width: 590px) {
        .backdrop.gold-bars{
            .banner {
                background-position: 60% -30px;
                background-size: 700px;
                height: 350px;
                .hero > .content {
                    height: 350px;
                    .accent {
                        margin: 90px 0 0 10px;
                        max-width: inherit;
                        width: 100%;
                        max-width: 300px;
                        text-align: center;
                        h2 {
                            font-size: 44px;
                            line-height: 48px;
                            margin-bottom: 20px;
                        }
                        h3{
                            font-size: 30px;
                            line-height: 30px;
                        }

                    }
                }
            }
        }
    }

    /* tablet / full nav / vertical type layout / 768 to 992 */
    @media(min-width: @screen-sm-min) {
        .backdrop.gold-bars{
            .banner {
                height: 990px;
                background-position: 85% -80px;
                background-size: 900px;
                background-color: #ffffff;
                .hero > .content {
                    height: 380px;
                    min-height: 380px;
                    .accent {
                        margin: 100px 0 0 30px;
                        h2 {
                        }
                    }
                }
            }
        }
    }

    /* laptop / horizontal type layout / 992 to 1200 */
    @media(min-width: @screen-md-min) {
        .backdrop.gold-bars {
            .banner {

                background-position: 68% -116px;
                background-size: auto;

                .hero > .content {
                    height: 480px;
                    min-height: 480px;
                    .accent {
                        margin: 120px 0 0 40px;
                        max-width: 420px;
                        h2 {
                            font-size: 56px;
                            line-height: 62px;
                        }
                        h3{
                            font-size: 33px;
                            line-height: 33px;
                            letter-spacing: 2px;
                        }
                    }
                }

            }
        }
    }

    /* Desktop sizes 1220+ */
    @media(min-width: @screen-lg-min) {
        .backdrop.gold-bars{
            .banner {
                background-position: 50% -116px;
                .hero > .content {
                    .accent {
                        margin: 120px 0 0 100px;
                        h2 {
                            font-size: 60px;
                            line-height: 66px;
                        }
                        h3{
                            font-size: 36px;
                            line-height: 38px;
                        }
                    }
                }
            }
        }
    }