// Homepage hero styles
// Spring Hero #1

@hero-font:                         "Trade Gothic Light";
@hero-font-secondary:               "Trade Gothic";
@hero-font-size-button:             13px;
@hero-color:                        @seasonal-primary;
@hero-color-secondary:              @seasonal-secondary;
@hero-color-tertiary:               @seasonal-dark;
@hero-image-accent:                 '@{image-path}hero/elem-spring-butterfly-1.png';
@hero-image:              			'@{image-path}hero/hero-spring-1.jpg';
//@hero-image-desktop:                '@{image-path}hero/hero-spring-hero.jpg';
//@hero-image-mobile:                 '@{image-path}hero/hero-spring-1.jpg';

.cms-index-defaultindex {
			
	.backdrop {		
		.banner {
			height: 360px; // actual image height (same as cutoff, for mobile view)
			background-image: url('@{hero-image}');
			background-size: 900px;
			background-position: 92% -30px;
			.hero > .content {
				height: 360px;
				.accent {
					height: auto;
					position: absolute;
					bottom: auto;
					text-align: center;
					background-image: url('@{hero-image-accent}');			
					background-repeat: no-repeat;
					background-size: 48px auto;
					background-position: 25% 0;										
					top: 40px;
					left: auto;
					bottom: auto;					
					padding: 0;						
					margin: auto;
					width: 100%;
					
					h2 {
						font-family: @hero-font;
						color: @hero-color-secondary;
						letter-spacing: 3px;
						padding: 20px 0 0;
						margin: 0;
						span {
							display: block;
							&.line-1,
							&.line-2 {							
								font-size: 34px;																		
								line-height: 40px;									
								letter-spacing: 0px;							
							}
							&.line-3 {
								display: block;
								margin-top: 10px;
								color: @hero-color-tertiary;
								font-size: 16px;
								line-height: 20px;
								letter-spacing: 4px;									
								text-indent: 8px;
							}
						}
					}
					.banner-button {
						font-family: @hero-font;
						font-size: @hero-font-size-button;
						color: @seasonal-content-bg;
						background-color: @hero-color;
						display: inline-block;
						height: 40px;
						line-height: 40px;
						padding: 0 20px;
						margin-top: 15px;
						white-space: nowrap;
						text-transform: uppercase;
						.transition(background-color 150ms);
					}	
					.banner-button:hover {
						background-color: @seasonal-accent;
						.transition(background-color 50ms);
					}
				}
			}
		}
	}

//=========================== MEDIA QUERIES ===============================

	/* large phones / 480 to 768 */	
	@media(min-width: 480px) {
		.backdrop{
			.banner {
				height: 390px;
				background-position: 100% -10px;
				.hero > .content {
					height: 390px;
					.accent {
						background-size: auto;
						background-position: 22% 0;
						top: 20px;
						h2 {
							padding: 30px 0 0 0;
							span {
								&.line-1,
								&.line-2 {
									font-size: 45px;
									line-height: 56px;
								}
								&.line-3 {
									font-size: 25px;
									line-height: 27px;
								}
							}
						}
					}
				}
			}
		}	
	}

	/* tablet / full nav / vertical type layout / 768 to 992 */	
	@media(min-width: @screen-sm-min) {
		.backdrop{
			max-height: 500px;		
			.banner {
				height: 800px;
				background-size: auto;
				background-position: 100% -100px;
				.hero > .content {
					height: 500px;
					.accent {
						top: 0;
						background-position: 205px 15px;
						h2 {
							span {
								&.line-1,
								&.line-2 {
									font-size: 55px;
									line-height: 68px;
								}
								&.line-3 {
									font-size: 24px;
									line-height: 27px;
									letter-spacing: 9px;
									text-indent: 18px;
								}
							}
						}
					}
				}
			}
		}
	}
	
	/* laptop / horizontal type layout / 992 to 1200 */
	@media(min-width: @screen-md-min) {
		.backdrop {
			.banner {
				background-position: 75% -220px;
				.hero > .content {
					.accent {
						top: 50px;
						left: 20px;
						width: auto;
						background-size: auto;
						background-position: 110px 0;
						h2 {
							padding: 55px 0 0 0;						
							span {								
								&.line-1,
								&.line-2 {
									font-size: 60px;
									line-height: 68px;
									letter-spacing: 0px;
								}
								&.line-3 {
									font-size: 25px;
									line-height: 27px;								
									letter-spacing: 10px;
									text-indent: 20px;									
								}
							}
						}
						.banner-button {
							margin-top: 25px;
						}
					}
				}
			}
		}
	}

  	/* Desktop sizes 1220+ */
	@media(min-width: @screen-lg-min) {
		.backdrop{
			.banner {
				background-position: 100% -220px;
				.hero > .content {
					.accent {
						left: 75px;
					}
				}
			}
		}
	}
	
}