// Homepage hero styles
// Summertime hero 2019

@summer-2019-image: '@{image-path}hero/hero-summer-2019.jpg';

/*
.global-site-notice.demo-notice{
    display: none;
}
*/

/* mobile first styles / 320 to 460px wide */
.backdrop.hero-summer-2019 {
    margin-top: 0;
    .banner {
        height: 470px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{summer-2019-image}');
        background-position: 8% 0;
        background-size: 900px auto;
        background-color: #fdfdfd;
        transition-timing-function: 'ease-out';
        .transition(background 100ms);
        
        .hero > .content {
            height: 470px;
            min-height: 470px;
            .accent {
                box-sizing: border-box;
                height: auto;
                position: relative;
                text-align: center;
                top: 0;
                left: 0;
                bottom: auto;
                background: none;
                padding: 0 0 0 0;
                margin: 16px auto 0;
                max-width: 320px;

                h2 {
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    box-sizing: border-box;
                    font-family: @hero-font-gotham;
                    font-weight: 400;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    color: #ffffff;
                    margin: auto;
                    font-size: 40px;
                    line-height: 40px;
                    margin-bottom: 8px;
                    span{
                        display: block;
                    }
                    .line1{
                        text-transform: uppercase;
                        font-style: italic;
                    }
                    .line2{
                        text-transform: capitalize;
                        font-size: 24px;
                        line-height: 24px;
                    }
                }
                .banner-button {
                    font-family: @hero-font-secondary;
                    font-size: @hero-font-size-button;
                    color: #ffffff;
                    background-color: #1783a8;
                    .hero-button-standard();
                }
                .banner-button:hover {
                    background-color: #0e6d8c;
                }
            }
        }
    }
}

/* 607 + */
@media(min-width: @screen-xs-min) {
    .backdrop.hero-summer-2019{
        .banner {
        }
    }
}

/* 768 to 992 */
@media(min-width: @screen-sm-min) {
    .backdrop.hero-summer-2019{
        .banner {
            height: 730px;
            background-position: 50% 0;
            background-size: 1050px;
            .hero > .content {
                height: 550px;
                .accent {
                    max-width: 700px;
                    margin: 18px auto 0;
                    h2 {
                        font-size: 50px;
                        line-height: 50px;
                        margin-bottom: 8px;
                        .line2{
                            font-size: 30px;
                            line-height: 30px;
                        }
                    }
                    .banner-button{
                    }
                }
            }
        }
    }
}

/* 992 to 1200 */
@media(min-width: @screen-md-min) {
    .backdrop.hero-summer-2019 {
        .banner {
            background-position: 50% 0;
            background-size: 1210px;
            .hero > .content {
                height: 650px;
                .accent {
                    min-width: 100%;
                    margin: 40px auto 0;
                    h2 {
                        font-size: 66px;
                        line-height: 66px;
                        margin-bottom: 22px;
                        .line2{
                            font-size: 38px;
                            line-height: 38px;
                        }
                    }
                    .banner-button{
                        .hero-button-large-desktop();
                    }
                }
            }
        }
    }
}

/* Desktop sizes 1220+ */
@media(min-width: @screen-lg-min) {
}