@mothersday-2018-seasonal-gray: #333333;
@mothersday-2018-seasonal-color: #eb4f76;
@mothersday-2018-seasonal-color-dark: #d9476b;

@mothersday-2018-hero-image-desktop:                '@{image-path}hero/hero-mothers-day-3.jpg';
@mothersday-2018-hero-image-mobile:                 '@{image-path}hero/hero-mothers-day-3.jpg';

    .backdrop.mothersday-2018 {
        .banner {
            height: 350px; // actual image height (same as cutoff, for mobile view)
            background-image: url('@{mothersday-2018-hero-image-mobile}');
            background-size: 700px auto;
            background-position: 50% 0;
            .hero > .content {
                height: 350px;
                .accent {
                    height: auto;
                    position: relative;
                    bottom: auto;
                    text-align: center;
                    top: 130px;
                    left: auto;
                    padding: 0 0 0 0;
                    margin: auto;
                    width: auto;
                    background: none;

                    h2 {
                        display: block;
                        font-family: @hero-font;
                        color: @mothersday-2018-seasonal-gray;
                        padding: 0;
                        margin: 0;
                        font-size: 16px;
                        line-height: 20px;
                        letter-spacing: 4px;
                        span {
                            display: inline-block;
                        }
                    }
                    h3 {
                        display: block;
                        font-family: @hero-font;
                        color: @mothersday-2018-seasonal-gray;
                        margin: 0;
                        font-size: 22px;
                        line-height: 26px;
                        letter-spacing: 1px;
                        text-indent: 0;
                        padding: 0 0 16px 0;
                    }
                    .banner-button {
                        font-family: @hero-font;
                        color: #fff;
                        background-color: @mothersday-2018-seasonal-color;
                        display: inline-block;
                        height: auto;
                        font-size: 13px;
                        line-height: 13px;
                        letter-spacing: 0;
                        padding: 13px 18px;
                        margin-top: 0;
                        white-space: nowrap;
                        text-transform: uppercase;
                        .transition(background-color 150ms);
                    }
                    .banner-button:hover {
                        background-color: @mothersday-2018-seasonal-color-dark;
                        .transition(background-color 50ms);
                    }
                }
            }
        }
    }
//=========================== MEDIA QUERIES ===============================
    /* large phones / 490 to 607 */
    @media(min-width: 460px) {
        .backdrop.mothersday-2018{
            .banner {
                height: 420px;
                background-image: url('@{mothersday-2018-hero-image-desktop}');
                background-size: 900px auto;
                background-position: 50% -50px;
                .hero > .content {
                    height: 420px;
                    .accent {
                        top: 150px;
                        h2 {
                            font-size: 20px;
                            line-height: 22px;
                            letter-spacing: 5px;
                            padding: 0 0 4px 0;
                        }
                        h3 {
                            font-size: 30px;
                            line-height: 32px;
                            letter-spacing: 2px;
                            padding: 2px 0 30px 0;
                        }
                        .banner-button {
                            font-size: 14px;
                            line-height: 14px;
                            padding: 13px 22px;
                        }
                    }
                }
            }
        }
    }

    /* tablet / full nav / vertical type layout / 768 to 992 */
    @media(min-width: @screen-sm-min) {
        .backdrop.mothersday-2018{
            .banner {
                height: 800px; // actual image height (same as cutoff, for mobile view)
                background-size: auto;
                background-position: 50% -250px;
                .hero > .content {
                    height: 480px;
                    .accent {
                        h3 {
                            font-size: 42px;
                            line-height: 44px;
                            letter-spacing: 4px;
                        }
                        .banner-button{
                            font-size: 14px;
                            line-height: 14px;
                            padding: 13px 22px;
                        }
                    }
                }
            }
        }
    }


    /* laptop / full nav / horizontal type layout / 992 to 1200 */
    @media(min-width: @screen-md-min) {
        .backdrop.mothersday-2018 {
            .banner {
                .hero > .content {
                    .accent {
                        h2 {
                            font-size: 24px;
                            line-height: 26px;
                        }
                        h3 {
                            font-size: 52px;
                            line-height: 54px;
                        }
                    }
                }
            }
        }
    }

    /* Desktop sizes 1220+ */
    @media(min-width: @screen-lg-min) {
        .backdrop.mothersday-2018{
        }
    }