// Homepage hero styles
// Summertime hero 2019

@summer-2019-image-iced: '@{image-path}hero/hero-summer-2019-iced-2.jpg';

/*
.global-site-notice.demo-notice{
    display: none;
}
*/

/* mobile first styles / 320 to 460px wide */
.backdrop.hero-summer-2019-iced {
    margin-top: 0;
    .banner {
        height: 500px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{summer-2019-image-iced}');
        background-position: 70% -50px;
        background-size: 940px auto;
        background-color: #fdfdfd;
        transition-timing-function: 'ease-out';
        .transition(background 100ms);
        
        .hero > .content {
            height: 500px;
            min-height: 500px;
            .accent {
                box-sizing: border-box;
                height: auto;
                position: relative;
                text-align: center;
                top: 0;
                left: 0;
                bottom: auto;
                background: none;
                padding: 0 0 0 0;
                margin: 16px auto 0;
                max-width: 320px;

                h2 {
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    box-sizing: border-box;
                    font-family: @hero-font-gotham;
                    font-weight: 400;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    color: #ffffff;
                    margin: auto;
                    font-size: 30px;
                    line-height: 30px;
                    margin-bottom: 8px;
                    text-transform: none;
                    span{
                        display: block;
                    }
                    .line1{
                    }
                    .line2{
                    }
                }
                .banner-button {
                    font-family: @hero-font-secondary;
                    font-size: @hero-font-size-button;
                    color: #ffffff;
                    background-color: #76a4a2;
                    .hero-button-standard();
                }
                .banner-button:hover {
                    background-color: #0e6d8c;
                }
            }
        }
    }
}

/* 607 + */
@media(min-width: @screen-xs-min) {
    .backdrop.hero-summer-2019-iced{
        .banner {
        }
    }
}

/* 768 to 992 */
@media(min-width: @screen-sm-min) {
    .backdrop.hero-summer-2019-iced{
        .banner {
            height: 730px;
            background-position: 50% -174px;
            background-size: 1050px;
            .hero > .content {
                height: 550px;
                .accent {
                    max-width: 430px;
                    margin: 0;
                    position: absolute;
                    top: 140px;
                    left: 20px;
                    h2 {
                        font-size: 36px;
                        line-height: 38px;
                        margin-bottom: 22px;
                    }
                    .banner-button{
                        .hero-button-standard-desktop();
                    }
                }
            }
        }
    }
}

/* 992 to 1200 */
@media(min-width: @screen-md-min) {
    .backdrop.hero-summer-2019-iced {
        .banner {
            background-position: 50% -200px;
            background-size: 1210px;
            .hero > .content {
                height: 610px;
                .accent{
                    left: 30px;
                    max-width: 490px;
                    h2 {
                        font-size: 44px;
                        line-height: 48px;
                        margin-bottom: 22px;
                    }
                }
            }
        }
    }
}

/* Desktop sizes 1220+ */
@media(min-width: @screen-lg-min) {
    .backdrop.hero-summer-2019-iced {
        .banner {
            .hero > .content {
                .accent {
                    left: 60px;
                    h2 {
                        font-size: 52px;
                        line-height: 54px;
                    }
                }
            }
        }
    }
}