// ================== BEGIN Homepage hero GENERAL styles ==================

@hero-font:                         "Trade Gothic Light";
@hero-font-secondary:               "Trade Gothic";
@hero-font-gotham:                  "HCo Gotham";
@hero-font-gotham-book:             "HCo Gotham";
@hero-font-gotham-book-italic:      "HCo Gotham";
@hero-font-script:                  "MistletoeScript";
@hero-font-serif-regular:           "DidotLTPro-Bold";
@hero-font-serif:                   "DidotLTPro-BoldItalic";
@hero-font-size-button:             13px;

/* hero button standard mixin */
.hero-button-standard() {
    display: inline-block;
    height: auto;
    margin-top: 0;
    white-space: nowrap;
    text-transform: uppercase;
    
    font-size: 14px;
    line-height: 14px;
    padding: 10px 12px 7px;
    letter-spacing: 0;
    
    .transition(background-color 250ms);
}

.hero-button-standard-desktop() {
    font-size: 16px;
    line-height: 16px;
    padding: 9px 12px 7px;
}

.hero-button-large-desktop() {
    font-size: 18px;
    line-height: 18px;
    padding: 14px 14px 10px;
}

/* centered square accent copy */
.banner.hero-template-label{
    .content{
        .content-table{
            display: table;
            width: 100%;
            height: 100%;
            .content-center{
                display: table-cell;
                width: 100%;
                height: 100%;
                vertical-align: middle;
                text-align: center;
            }
        }
        .accent{
            
            display: table;
            box-sizing: border-box;
            background-color: #00adbc;
            position: relative;
            text-align: center;
            padding: 16px;
            margin: 0 auto;
            width: 90%;
            max-width: 270px;
            height: 200px;
            position: relative;
            
            .inner{
                display: table-cell;
                vertical-align: middle;
                box-sizing: border-box;
                margin: 0 auto;
                padding: 4px;
                border: 3px solid #fff;
            }
            h2 {
                display: block;
                font-family: @hero-font-gotham;
                color: #ffffff;
                margin: auto;
                font-size: 32px;
                line-height: 34px;
                letter-spacing: 0;
                padding: 0 0 14px 0;
                span{
                    display: block;
                }
                .line2{
                    font-size: 46px;
                    line-height: 48px;
                }
            }
            .banner-button{
                color: #fff;
                text-transform: capitalize;
                background: none;
                cursor: pointer;
                font-family: @hero-font-secondary;
                font-size: 18px;
                line-height: 18px;
            }
            .banner-button:hover{
                color: #fff;
            }
        }
    }
}

@media(min-width: 607px) {
    .banner.hero-template-label{
        .content{
            .accent{
                max-width: 340px;
                height: 236px;
                padding: 20px;
                .inner{
                    padding: 5px;
                }
                h2 {
                    font-size: 40px;
                    line-height: 42px;
                    padding-bottom: 16px;
                    .line2{
                        font-size: 60px;
                        line-height: 62px;
                    }
                }
            }
        }
    }
}