@winter-santa-cta: #C70B24;
@winter-santa-cta-hover: #da2941;
@winter-santa-cta-text: #ffffff;
@winter-santa-headline: #b51127;
@winter-santa-hero-image: '@{image-path}hero/hero-winter-santa.jpg';

.backdrop.winter-santa {
    .banner {
        height: 435px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{winter-santa-hero-image}');
        background-size: 655px auto;
        background-position: 50% 50px; /* logo nav gap for mobile */
        .hero > .content {
            height: 435px;
            text-align: center;
            .accent {
                display: none;
                height: auto;
                position: relative;
                bottom: auto;
                text-align: center;
                top: auto;
                left: auto;
                padding: 50px 0 0 0;
                margin: auto;
                width: auto;
                max-width: 320px;
                background-size: auto;
                background-position: 50% 0;
                background-repeat: no-repeat;
                h2 {
                    display: block;
                    font-family: @hero-font-script;
                    color: @winter-santa-headline;
                    margin: 0 auto;
                    padding: 0;
                    font-size: 30px;
                    line-height: 32px;
                    letter-spacing: 0;
                    text-transform: none;
                    span {
                        display: inline-block;
                    }
                }
            }
            .cta-box{
                text-align: center;
                position: absolute;
                top: 380px;
                left: 0;
                width: 100%;
                .banner-button {
                    font-family: @hero-font;
                    color: @winter-santa-cta-text;
                    background-color: @winter-santa-cta;
                    display: inline-block;
                    height: auto;
                    font-size: 14px;
                    line-height: 14px;
                    letter-spacing: 1px;
                    padding: 13px 22px;
                    margin: 0 auto;
                    white-space: nowrap;
                    text-transform: uppercase;
                    .transition(background-color 150ms);
                }
                .banner-button:hover {
                    background-color: @winter-santa-cta-hover;
                    .transition(background-color 50ms);
                }
            }
        }
    }
}

/* tablet / full nav / vertical type layout / 768+ */

@media(min-width: @screen-sm-min) {
    .backdrop.winter-santa{
        .banner {
            height: 890px; // actual image height (same as cutoff, for mobile view)
            background-image: url('@{winter-santa-hero-image}');
            background-size: auto;
            background-position: 50% 0;
            .hero > .content {
                height: 690px;
                .accent{
                    max-width: 650px;
                    h2 {
                        font-size: 150px;
                        line-height: 150px;
                        letter-spacing: 0;
                    }
                }
                .cta-box{
                    top: 628px;
                }
            }
        }
    }
}