// Homepage hero styles
// Easter Hero #1

@hero-font:                         "Trade Gothic Light";
@hero-font-secondary:               "Trade Gothic";
@hero-font-size-button:             13px;

@seasonal-green: #4c9700;
@seasonal-green-dark: #4c9700;
@seasonal-green-light: #6fa219;

@hero-image-accent:                 '@{image-path}hero/elem-easter-bunny-1.png';
@hero-image:              			'@{image-path}hero/hero-easter-1.jpg';
@hero-image-desktop:                '@{image-path}hero/hero-easter-1.jpg';
@hero-image-mobile:                 '@{image-path}hero/hero-easter-1-mobile.jpg';

.cms-index-defaultindex {
			
	.backdrop {		
		.banner {
			height: 550px; // actual image height (same as cutoff, for mobile view)
			background-image: url('@{hero-image-mobile}');
			background-size: 590px auto;
			background-position: 50% 0;
			.hero > .content {
				height: 550px;
				.accent {
					height: auto;
					position: relative;
					bottom: auto;
					text-align: center;
					background-repeat: no-repeat;
					background-size: auto;
					background-position: 25% 0;										
					top: 60px;
					left: auto;
					bottom: auto;					
					padding: 0;						
					margin: auto;
					width: 300px;
					
					h2 {
						display: block;	
						font-family: @hero-font;
						color: @seasonal-green-dark;
						letter-spacing: 0;
						padding: 20px 0 0;
						margin: 0;						
						font-size: 28px;																		
						line-height: 32px;
						letter-spacing: 0;
						padding: 0;
						span {
							display: inline-block;
							letter-spacing: 4px;
							padding: 0;
							&.w1,
							&.w3,
							&.w5{
								padding-left: 4px;
							}							
						}
					}
					h3 {
						display: block;
						font-family: @hero-font;
						color: @seasonal-green-dark;
						margin: 8px 0 0 0;
						font-size: 18px;
						line-height: 20px;
						letter-spacing: 0;
						text-indent: 0;
						background-image: url('@{hero-image-accent}');
						background-size: 60px auto;
						background-position: 50% 30px;				
						background-repeat: no-repeat;
						padding: 0 0 46px 0;
						letter-spacing: 0;
					}
					.banner-button {
						font-family: @hero-font;
						font-size: @hero-font-size-button;
						color: @seasonal-content-bg;
						background-color: @seasonal-green-dark;
						display: inline-block;
						height: 40px;
						line-height: 40px;
						padding: 0 20px;
						margin-top: 0;
						white-space: nowrap;
						text-transform: uppercase;
						.transition(background-color 150ms);
					}	
					.banner-button:hover {
						background-color: @seasonal-green-light;
						.transition(background-color 50ms);
					}
				}
			}
		}
	}

//=========================== MEDIA QUERIES ===============================

	/* large phones / 607 to 768 */	
	@media(min-width: 607px) {
		.backdrop{
			.banner {

				.hero > .content {

					.accent {
						width: 550px;
						h2 {
							font-size: 40px;
							line-height: 42px;
							span {					
								letter-spacing: 0;
								padding: 0;
								&.w1,&.w2,&.w3,&.w4,&.w5,&.w6 {
									letter-spacing: 0;
									padding: 0;
								}								
								&.w4,
								&.w5,
								&.w6{
									letter-spacing: 8px;
								}
								&.w4{
									padding-left: 8px;
								}
							}
						}
						h3 {
							padding-bottom: 56px;
							background-size: auto;
							background-position: 50% 100%;
							letter-spacing: 5px;
							padding-left: 5px;
						}						
					}
				}
			}
		}	
	}

	/* tablet / full nav / vertical type layout / 768 to 992 */	
	@media(min-width: @screen-sm-min) {
		.backdrop{

			.banner {
				height: 800px; // actual image height (same as cutoff, for mobile view)
				background-image: url('@{hero-image-desktop}');
				background-size: auto;
				background-position: -390px 0;
				.hero > .content {
					height: 500px;
					.accent {
						position: absolute;
						left: 20px;
						top: 54px;
						width: 380px;
						background-image: url('@{hero-image-accent}');
						background-size: auto;
						background-position: 50% 0;
						background-repeat: no-repeat;
						padding-top: 52px;
						h2 {
							font-size: 40px;
							line-height: 50px;							
							span {
								letter-spacing: 6px;
								padding: 0;
								&.w1,&.w2,&.w3,&.w4,&.w5,&.w6 {
									letter-spacing: 6px;
									padding: 0;
								}
								&.w1,
								&.w3,
								&.w5{
									padding-left: 5px;
								}							
							}
						}
						h3 {
							font-size: 20px;
							line-height: 22px;
							background-image: none;
							padding: 0;
							margin: 12px auto;
							letter-spacing: 2px;
							padding-left: 2px;
						}						
					}
				}
			}
		}
	}
	
	/* laptop / horizontal type layout / 992 to 1200 */
	@media(min-width: @screen-md-min) {
		.backdrop {
			.banner {
				background-position: 76% 0;
				.hero > .content {
					.accent {
						width: 580px;
						top: 50px;
						left: 20px;
						h2 {			
							font-size: 48px;
							line-height: 62px;								
							span {
								letter-spacing: 0;
								padding: 0;
								&.w1,&.w2,&.w3,&.w4,&.w5,&.w6 {
									letter-spacing: 0;
									padding-left: 0;
								}
								&.w4,&.w5,&.w6{
									letter-spacing: 10px;
								}								
								&.w4{
									padding-left: 10px;
								}	
							}
						}
						h3 {
							font-size: 18px;
							line-height: 22px;
							letter-spacing: 12px;
							padding-left: 14px;
							margin: 14px auto 25px;
						}						
					}
				}
			}
		}
	}

  	/* Desktop sizes 1220+ */
	@media(min-width: @screen-lg-min) {
		.backdrop{
			.banner {
				.hero > .content {
					.accent {
						width: 605px;
						top: 78px;
						left: 48px;
						h3 {
							letter-spacing: 13px;
							padding-left: 17px;
						}														
					}
				}
			}
		}
	}
	
}