// Homepage hero styles
// Easter 2019a Hero - basket

@hero-image-easter-2019a: '@{image-path}hero/hero-easter-2019a.jpg';

/*
.global-site-notice.demo-notice{
    display: none;
}
*/

/* mobile first styles / 320 to 460px wide */
.backdrop.hero-easter-2019a {
    margin-top: 0;
    .banner {
        height: 500px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{hero-image-easter-2019a}');
        background-position: 86% -96px;
        background-size: 850px auto;
        background-color: #fdfdfd;
        transition-timing-function: 'ease-out';
        .transition(background 100ms);
        
        .hero > .content {
            height: 500px;
            min-height: 500px;
            .accent {
                box-sizing: border-box;
                height: auto;
                position: relative;
                text-align: center;
                top: 0;
                left: 0;
                bottom: auto;
                background: none;
                padding: 0 0 0 0;
                margin: 24px auto 0;
                width: 100%;
                max-width: 320px;

                h2 {
                    display: block;
                    font-family: @hero-font-gotham;
                    color: #ffffff;
                    margin: auto;
                    font-size: 18px;
                    line-height: 18px;
                    padding: 0 0 10px 0;
                    span{
                        display: block;
                    }
                    .line2{
                        font-size: 38px;
                        line-height: 38px;
                    }
                }
                .banner-button {
                    font-family: @hero-font-secondary;
                    font-size: @hero-font-size-button;
                    color: #ffffff;
                    background-color: #9264cd;
                    .hero-button-standard();
                }
                .banner-button:hover {
                    background-color: #9f73ae;
                }
            }
        }
    }
}

/* 360px */
@media(min-width: 360px ) {
    .backdrop.hero-easter-2019a{
        .banner {
            background-position: 89% -96px;
        }
    }
}

/* 375px */
@media(min-width: 375px ) {
    .backdrop.hero-easter-2019a{
        .banner {
            background-position: 89% -96px;
        }
    }
}

/* 500px */
@media(min-width: 500px ) {
    .backdrop.hero-easter-2019a{
        .banner {
            background-position: 94% -96px;
        }
    }
}

/* 415px */
@media(min-width: 415px ) {
    .backdrop.hero-easter-2019a{
        .banner {
            background-position: 100% -96px;
        }
    }
}

/* 607 + */
@media(min-width: @screen-xs-min) {
    .backdrop.hero-easter-2019a{
        .banner {
            background-position: 69% -96px;
        }
    }
}

/* 768 to 992 */
@media(min-width: @screen-sm-min) {
    .backdrop.hero-easter-2019a{
        .banner {
            height: 800px;
            background-position: 67% -175px;
            background-size: 1100px;
            .hero > .content {
                height: 608px;
                .accent {
                }
            }
        }
    }
}

/* 992 to 1200 */
@media(min-width: @screen-md-min) {
    .backdrop.hero-easter-2019a {
        .banner {
            background-position: 50% -200px;
            background-size: 1210px;
            .hero > .content {
                .accent {
                    min-width: 100%;
                    margin: 35px auto 0;
                    h2 {
                        font-size: 26px;
                        line-height: 26px;
                        padding-bottom: 15px;
                        .line2{
                            font-size: 56px;
                            line-height: 56px;
                        }
                    }
                    .banner-button{
                        .hero-button-standard-desktop();
                    }
                }
            }
        }
    }
}

/* Desktop sizes 1220+ */
@media(min-width: @screen-lg-min) {
}