@fall-thanksgiving-cta: #b75532;
@fall-thanksgiving-cta-hover: #ca623c;
@fall-thanksgiving-cta-text: #ffffff;
@fall-thanksgiving-headline: #6d402e;
@fall-thanksgiving-hero-image: '@{image-path}hero/hero-fall-thanksgiving.jpg';

.backdrop.fall-thanksgiving {
    .banner {
      height: 445px; // actual image height (same as cutoff, for mobile view)
      background-image: url('@{fall-thanksgiving-hero-image}');
      background-size: 655px auto;
      background-position: 50% 0;
      .hero > .content {
        height: 445px;
        .accent {
            height: auto;
            position: relative;
            bottom: auto;
            text-align: center;
            top: auto;
            left: auto;
            padding: 305px 0 0 0;
            margin: auto;
            width: auto;
            max-width: 320px;
            background-size: auto;
            background-position: 50% 0;
            background-repeat: no-repeat;
            h2 {
                display: block;
                font-family: @hero-font-secondary;
                color: @fall-thanksgiving-headline;
                margin: 0 auto 10px;
                padding: 0;
                font-size: 30px;
                line-height: 32px;
                letter-spacing: 0;
                text-transform: none;
                span {
                    display: inline-block;
                }
            }
            .banner-button {
                font-family: @hero-font;
                color: @fall-thanksgiving-cta-text;
                background-color: @fall-thanksgiving-cta;
                display: inline-block;
                height: auto;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: 1px;
                padding: 13px 22px;
                margin: 0 auto;
                white-space: nowrap;
                text-transform: uppercase;
                .transition(background-color 150ms);
            }
            .banner-button:hover {
                background-color: @fall-thanksgiving-cta-hover;
                .transition(background-color 50ms);
            }
        }
      }
    }
}

//=========== MEDIA QUERIES ===========
/* tablet / full nav / vertical type layout / 480+ */

@media(min-width: 480px) {
    .backdrop.fall-thanksgiving{
        .banner {
            height: 430px;
            .hero > .content {
                height: 430px;
                .accent{
                    max-width: 100%;
                    padding: 315px 0 0 0;
                    h2 {
                        font-size: 32px;
                        line-height: 34px;
                        letter-spacing: 0;
                        margin: 0 auto 15px;
                    }
                }
            }
        }
    }
}

/* 607+ */
/* @media(min-width: @screen-ms-min) */

//=========== MEDIA QUERIES ===========
/* tablet / full nav / vertical type layout / 768+ */

@media(min-width: @screen-sm-min) {
    .backdrop.fall-thanksgiving{
        .banner {
            height: 900px; // actual image height (same as cutoff, for mobile view)
            background-image: url('@{fall-thanksgiving-hero-image}');
            background-size: auto;
            background-position: 50% 0;
            .hero > .content {
                height: 690px;
                .accent{
                    padding: 562px 0 0 0;
                    max-width: 650px;
                    h2 {
                        font-size: 40px;
                        line-height: 44px;
                        letter-spacing: 0;
                        margin: 0 auto 13px;
                    }
                    .banner-button {
                    }
                }
            }
        }
    }
}