// Homepage hero styles
// Park Bar Hero

@hero-font:                         "Trade Gothic Light";
@hero-font-secondary:               "Trade Gothic";
@hero-font-size-button:             13px;

@seasonal-gray: #333;
@seasonal-white: #fff;
@seasonal-brown: #7c4e2a;
@seasonal-brown-hover: #8f5e37;

@hero-image-park-bar: '@{image-path}hero/hero-park-bar-3.jpg';
	
	.backdrop.park-bars {
		.banner {
			height: 600px; // actual image height (same as cutoff, for mobile view)
			background-image: url('@{hero-image-park-bar}');
			background-size: 900px auto;
			background-position: 25% 0;
			background-color: #fdfdfd;
			.hero > .content {
				height: 600px;
				.accent {
					box-sizing: border-box;
					height: auto;
					position: relative;
					text-align: center;
					top: 75px;
					left: auto;
					bottom: auto;
					background: none;
					padding: 0 0 0 0;
					margin: auto;
					max-width: 360px;
					
					h2 {
						display: block;
						font-family: @hero-font;
						color: @seasonal-gray;
						padding: 0;
						margin: auto;
						max-width: auto;
						font-size: 24px;
						line-height: 24px;
						letter-spacing: 0;
						padding: 0;
						text-shadow: 1px 1px 1px rgba(0,0,0,.3);
						text-shadow: none;
						.w1{
							display: block;
						}
						.w2{
							display: block;
							font-size: 54px;
							line-height: 54px;
							letter-spacing: 1px;
							padding: 6px 0 6px;
						}
					}
					h3 {
						display: block;
						font-family: @hero-font;
						color: @seasonal-gray;
						margin: auto;
						font-size: 13px;
						line-height: 18px;
						margin: auto;
						letter-spacing: 0;
						text-indent: 0;
						padding: 2px 0 9px;
						text-shadow: 1px 1px 1px rgba(0,0,0,.3);
						text-shadow: none;
					}
					.banner-button {
						font-family: @hero-font;
						font-size: @hero-font-size-button;
						color: @seasonal-content-bg;
						background-color: @seasonal-brown;
						display: inline-block;
						height: auto;
						font-size: 13px;
						line-height: 13px;
						letter-spacing: 1px;
						padding: 13px 18px;
						margin-top: 0;
						white-space: nowrap;
						text-transform: uppercase;
						.transition(background-color 150ms);
					}	
					.banner-button:hover {
						background-color: @seasonal-brown-hover;
						.transition(background-color 50ms);
					}
				}
			}
		}
	}

//=========================== MEDIA QUERIES ===============================

	/* background adjustments */
	
	@media(min-width: 420px) {
		.backdrop.park-bars{
			.banner {
				background-position: 10% 0;
				.hero > .content {
					.accent {
						top: 60px;
					}
				}
			}
		}
	}
	@media(min-width: 500px) {
		.backdrop.park-bars{
			.banner {
				background-position: 0 0;
			}
		}
	}	
	
	/* large phones / 460 to 768. Largest Mobile Menu View 590 fixed width view */
	
	@media(min-width: 607px) {
		.backdrop.park-bars{
			.banner {
				background-size: 960px auto;
				background-position: 0 -28px;
				.hero > .content {
					.accent {
						top: 60px;
						h2 {
							letter-spacing: 1px;
						}
						h3 {
							letter-spacing: 1px;
						}
						.banner-button {
							font-size: 14px;
							line-height: 14px;
						}
					}
				}
			}
		}	
	}	
	
	/* tablet / full nav / vertical type layout / 768 to 992 */
	/* switch to desktop nav with fadded hero tile with larger banner height */
	
	@media(min-width: @screen-sm-min) {
		.backdrop.park-bars{
			height: 390px !important;
			.banner {
				height: 1000px; // actual image height (same as cutoff, for mobile view)
				background-size: 1050px auto;
				background-position: 59% -300px;
				
				.hero > .content {
					height: 390px;
					.accent {
						position: absolute;
						width: auto;
						max-width: 375px;
						top: 100px;
						right: 25px;
						h2 {
							font-size: 21px;
							line-height: 21px;
							letter-spacing: 1px;
							padding: 0;
							.w2{
								display: block;
								font-size: 50px;
								line-height: 50px;
								padding: 8px 0 12px;
							}
							
						}
						h3 {
							font-size: 15px;
							line-height: 15px;
							letter-spacing: 0;
							padding: 0 0 20px 0;
						}
					}
				}
			}
		}
	}
	
	/* laptop / horizontal type layout / 992 to 1200 */
	
	@media(min-width: @screen-md-min) {
		.backdrop.park-bars {
			height: 520px !important;
			.banner {
				background-position: 68% -300px;
				background-size: auto;
				.hero > .content {
					height: 500px;
					.accent {
						top: 130px;
						right: 30px;
						max-width: 460px;
						h2 {
							font-size: 32px;
							line-height: 32px;
							letter-spacing: 2px;
							padding: 0;
							.w2{
								display: block;
								font-size: 74px;
								line-height: 74px;
								letter-spacing: 3px;
								padding: 10px 0 14px;
							}
						}
						h3 {
							font-size: 16px;
							line-height: 16px;
							letter-spacing: 2px;
							padding: 0 0 30px;
						}
					}
				}
			}
		}
	}

	/* Desktop sizes 1220+ */
	
	@media(min-width: @screen-lg-min) {
		.backdrop.park-bars{
			height: 520px !important;
			.banner {
				background-position: 50% -300px;
				background-size: auto;
				.hero > .content {
					.accent {
						top: 130px;
						right: 70px;
					}
				}
			}
		}
	}