// Homepage hero styles
// Wedding Hero

@hero-font:                         "Trade Gothic Light";
@hero-font-secondary:               "Trade Gothic";
@hero-font-size-button:             13px;

@seasonal-drak-gray: #333333;
@seasonal-dark-brown: #5f4443;
@seasonal-dark-brown2: #543c3b;

@hero-image-signature:				'@{image-path}hero/hero-signature-champagne8.png';

/*
.global-site-notice.demo-notice{
	display: none;
}
*/
	
	/* mobile first styles / 320 to 460px wide */
	
	.backdrop.hero-signature {
		.banner {
			height: 490px; // actual image height (same as cutoff, for mobile view)
			background-image: url('@{hero-image-signature}');
			background-position: 75% -2px;
		    background-size: 900px auto;
			background-color: #fdfdfd;
			.hero > .content {
				height: 490px;
				min-height: 490px;
				.accent {
					box-sizing: border-box;
					height: auto;
					position: relative;
					text-align: center;
					top: 0;
					left: 0;
					bottom: auto;
					background: none;
					padding: 0 0 0;
					margin: 55px auto 0;
					width: 100%;
					max-width: 320px;
					
					h2 {
						display: block;
						font-family: @hero-font;
						color: @seasonal-drak-gray;
						margin: auto;
						font-size: 26px;
						line-height: 28px;
						letter-spacing: 1px;
						padding: 0 0 16px 0;
						span{
							display: block;
						}
					}
					h3 {
						display: block;
						font-family: @hero-font;
						color: @seasonal-drak-gray;
						margin: auto;
						font-size: 14px;
						line-height: 22px;
						margin: auto;
						letter-spacing: 1px;
						text-indent: 0;
						padding: 0 0 8px;
					}
					.banner-button {
						font-family: @hero-font;
						font-size: @hero-font-size-button;
						color: @seasonal-content-bg;
						background-color: @seasonal-dark-brown;
						display: inline-block;
						height: auto;
						font-size: 13px;
						line-height: 13px;
						letter-spacing: 1px;
						padding: 13px 18px;
						margin-top: 0;
						white-space: nowrap;
						text-transform: uppercase;
						.transition(background-color 150ms);
					}
					.banner-button:hover {
						background-color: @seasonal-dark-brown2;
						.transition(background-color 50ms);
					}
				}
			}
		}
	}

//=========================== MEDIA QUERIES ===============================

	/* large phones / 460 to 607 */	
	@media(min-width: 460px) {
		.backdrop.hero-signature{
		}
	}
	
	/* large phones / 607 to 768 */
	@media(min-width: 607px) {
		.backdrop.hero-signature{
			.banner{
				background-position: 100% -12px;
			}
		}
	}	

	/* tablet / full nav / vertical type layout / 768 to 992 */
	@media(min-width: @screen-sm-min) {
		.backdrop.hero-signature{
			.banner {
				height: 800px;
				background-position: 75% -175px;
				background-size: auto;
				.hero > .content {
					height: 470px;
					.accent {
						margin: 20px auto 0;
					}
				}
			}
		}
	}
	
	/* laptop / horizontal type layout / 992 to 1200 */
	@media(min-width: @screen-md-min) {
		.backdrop.hero-signature {
			.banner {
				background-position: 45% -200px;
				.hero > .content {
					.accent {
						position: absolute;
						margin: 0;
						left: 30px;
						top: 140px;
						max-width: 400px;
						h2 {
							font-size: 42px;
							line-height: 48px;
							letter-spacing: 1px;
							padding: 0 0 24px 0;
						}
					}
				}
			}
		}
	}

  	/* Desktop sizes 1220+ */
	@media(min-width: @screen-lg-min) {
		.backdrop.hero-signature{
			.banner {
				.hero > .content {
					.accent {
						top: 145px;
						left: 40px;
						max-width: 480px;
						h2 {
							font-size: 48px;
							line-height: 52px;
							letter-spacing: 2px;
						}
					}
				}
			}
		}
	}