// Homepage hero styles
// Summertime hero 2019

@summer-2019-image-wedding: '@{image-path}hero/hero-summer-2019-wedding-2.jpg';

/*
.global-site-notice.demo-notice{
    display: none;
}
*/

/* mobile first styles / 320 to 460px wide */
.backdrop.hero-summer-2019-wedding {
    margin-top: 0;
    .banner {
        height: 500px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{summer-2019-image-wedding}');
        background-position: 78% 0;
        background-size: 1060px auto;
        background-color: #fdfdfd;
        transition-timing-function: 'ease-out';
        .transition(background 100ms);
        
        .hero > .content {
            height: 500px;
            min-height: 500px;
            .accent {
                box-sizing: border-box;
                height: auto;
                position: relative;
                text-align: center;
                top: 0;
                left: 0;
                bottom: auto;
                background: none;
                padding: 0 0 0 0;
                margin: 18px auto 0;
                max-width: 320px;

                h2 {
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    box-sizing: border-box;
                    font-family: @hero-font-serif-regular;
                    font-weight: 400;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    color: #ffffff;
                    margin: auto;
                    font-size: 36px;
                    line-height: 36px;
                    margin-bottom: 8px;
                    text-transform: none;
                    span{
                        display: block;
                    }
                }
                .banner-button {
                    font-family: @hero-font-secondary;
                    font-size: @hero-font-size-button;
                    color: #ffffff;
                    background-color: #8b87d7;
                    .hero-button-standard();
                }
                .banner-button:hover {
                    background-color: #a29fdb;
                }
            }
        }
    }
}

/* 768 to 992 */
@media(min-width: @screen-xs-min) {
    .backdrop.hero-summer-2019-wedding{
        .banner {
            background-position: 50% 0;
        }
    }
}

/* 768 to 992 */
@media(min-width: @screen-sm-min) {
    .backdrop.hero-summer-2019-wedding{
        .banner {
            height: 730px;
            background-position: 50% 0;
            background-size: 1060px;
            .hero > .content {
                height: 550px;
                .accent {
                    max-width: 700px;
                    margin: 18px auto 0;
                    h2 {
                        font-size: 48px;
                        line-height: 48px;
                        margin-bottom: 14px;
                    }
                    .banner-button{
                    }
                }
            }
        }
    }
}

/* 992 to 1200 */
@media(min-width: @screen-md-min) {
    .backdrop.hero-summer-2019-wedding {
        .banner {
            background-position: 50% 0;
            background-size: 1210px;
            .hero > .content {
                height: 600px;
                .accent {
                    min-width: 100%;
                    margin: 18px auto 0;
                    h2 {
                        font-size: 58px;
                        line-height: 58px;
                        margin-bottom: 14px;
                    }
                    .banner-button{
                        .hero-button-standard-desktop();
                    }
                }
            }
        }
    }
}

/* Desktop sizes 1220+ */
@media(min-width: @screen-lg-min) {
}