// Homepage hero styles
// Fall Gold Bars Hero

@hero-font:													"Trade Gothic Light";
@hero-font-secondary:								"Trade Gothic";
@hero-font-size-button:							13px;

@seasonal-brown-2: #382818;
@seasonal-brown-light-2: #4a3623;

@hero-image-fall-gold-bars:					'@{image-path}hero/hero-fall-gold-bars.jpg';

	.backdrop.fall-gold-bars {
		.banner {
			height: 350px; // actual image height (same as cutoff, for mobile view)
			background-image: url('@{hero-image-fall-gold-bars}');
			background-position: 68% -40px;
			background-size: 605px;
			background-color: #ececec;
			.hero > .content {
				height: 350px;
				.accent {
					box-sizing: border-box;
					height: auto;
					position: relative;
					text-align: left;
					background: none;
					padding: 0 0 0;
					margin: 145px 0 0 10px;
					width: 280px;
					
					h2 {
						display: block;	
						font-family: @hero-font;
						color: @seasonal-brown-2;
						max-width: 280px;
						margin: 0;
						padding: 0;
						font-size: 28px;
						line-height: 30px;
						max-width: 220px;
						letter-spacing: 0;
						
						span{
							display: block;
						}
						
					}
					h3 {
						display: block;
						font-family: @hero-font;
						color: @seasonal-brown-2;
						margin: 10px 0 14px;
						padding: 0;
						font-size: 12px;
						line-height: 16px;
						max-width: 170px;
						letter-spacing: 0;
						text-indent: 0;
						
						span{
							display: block;
						}
						
					}
					.banner-button {
						font-family: @hero-font;
						font-size: @hero-font-size-button;
						color: @seasonal-content-bg;
						background-color: @seasonal-brown-2;
						display: inline-block;
						height: auto;
						font-size: 13px;
						line-height: 13px;
						letter-spacing: 0;
						padding: 13px 18px;
						margin-top: 0;
						white-space: nowrap;
						text-transform: uppercase;
						.transition(background-color 150ms);
					}
					.banner-button:hover {
						background-color: @seasonal-brown-light-2;
						.transition(background-color 50ms);
					}
				}
			}
		}
	}

//=========================== MEDIA QUERIES ===============================

	/* large phones iphone6+ */
	@media(min-width: 410px) {
		.backdrop.fall-gold-bars{
			.banner {
				background-position: 65% -10px;
				background-size: 605px;
				.hero > .content {
					.accent {
						width: 280px;
						margin: 130px 0 0 15px;
						
						h2 {
							font-size: 30px;
							line-height: 32px;
						}
						h3 {
							max-width: inherit;
							width: 100%;
						}
						
					}
				}
			}
		}	
	}
	
	/* larger phones 410 to 590 */
	@media(min-width: 590px) {
		.backdrop.fall-gold-bars{
			.banner {
				background-position: 60% -30px;
				background-size: 700px;
				height: 410px;
				.hero > .content {
					height: 410px;
					.accent {
						margin: 130px 0 0 20px;
						max-width: inherit;
						width: auto;
						h2 {
							font-size: 45px;
							line-height: 55px;
							letter-spacing: 3px;
							max-width: inherit;
							width: auto;
						}
						h3 {
							font-size: 16px;
							line-height: 22px;
							letter-spacing: 0px;
							margin: 10px 0 18px;
						}
						
					}
				}
			}
		}	
	}

	/* tablet / full nav / vertical type layout / 768 to 992 */	
	@media(min-width: @screen-sm-min) {
		.backdrop.fall-gold-bars{
			.banner {
				height: 990px; 
				background-position: 85% -80px;
				background-size: 900px;
				background-color: #ffffff;
				.hero > .content {
					height: 500px;
					min-height: 500px;
					.accent {
						margin: 170px 0 0 20px;
						h2 {
							font-size: 60px;
							line-height: 68px;
							letter-spacing: 3px;
						}
						h3 {
							font-size: 18px;
							line-height: 26px;
							letter-spacing: 2px;
						}
					}
				}
			}
		}
	}
	
	/* laptop / horizontal type layout / 992 to 1200 */
	@media(min-width: @screen-md-min) {
		.backdrop.fall-gold-bars {
			.banner {
				
				background-position: 55% -100px;
				background-size: auto;
				
				.hero > .content {
					.accent {
						margin: 110px 0 0 45px;
						h2 {
							font-size: 64px;
							line-height: 70px;
						}
						h3 {
							font-size: 20px;
							line-height: 28px;
						}
					}
				}
				
			}
		}
	}

  	/* Desktop sizes 1220+ */
	@media(min-width: @screen-lg-min) {
		.backdrop.fall-gold-bars{
			.banner {
				background-position: 55% -100px;
				.hero > .content {
					.accent {
						margin: 110px 0 0 100px;
						h2 {
						}
						h3 {
						}
					}
				}
			}
		}
	}