// Homepage hero styles
// Easter 3 - 2018 - watercolor

@hero-font:                         "Trade Gothic Light";
@hero-font-secondary:               "Trade Gothic";
@hero-font-size-button:             13px;

@easter-3-green: #4c9700;
@easter-3-green-dark: #4c9700;
@easter-3-green-light: #6fa219;

@hero-image-easter-3:                '@{image-path}hero/hero-easter-3.jpg';
@hero-image-easter-3-mobile:         '@{image-path}hero/hero-easter-3-mobile.jpg';
@hero-image-easter-3-chick:          '@{image-path}hero/elem-easter-chick-3.png';

    /* mobile first styles / 320 to 460px wide */

    .backdrop.easter-3 {
        .banner {
            height: 550px; // actual image height (same as cutoff, for mobile view)
            background-image: url('@{hero-image-easter-3-mobile}');
            background-position: 50% -100px;
            background-size: auto;
            background-color: #ffffff;
            .hero > .content {
                height: 550px;
                min-height: 550px;
                .accent {
                    box-sizing: border-box;
                    height: auto;
                    position: relative;
                    text-align: center;
                    top: 0;
                    left: 0;
                    bottom: auto;
                    background: none;
                    padding: 34px 0 0;
                    margin: 52px auto 0;
                    width: 100%;
                    max-width: 320px;
                    background: url('@{hero-image-easter-3-chick}') 50% 0 no-repeat;
                    h2 {
                        display: block;
                        font-family: @hero-font;
                        color: #fff;
                        margin: auto;
                        font-size: 38px;
                        line-height: 40px;
                        letter-spacing: 0px;
                        text-indent: 0px;
                        padding: 0 0 12px 0;
                        span.line{
                            display: block;
                        }
                        span.line2{
                            font-size: 23px;
                            line-height: 25px;
                        }
                    }
                    h3{
                        color: #fff;
                    }
                    .banner-button {
                        font-family: @hero-font;
                        font-size: @hero-font-size-button;
                        color: @seasonal-content-bg;
                        background-color: @easter-3-green-dark;
                        display: inline-block;
                        height: auto;
                        font-size: 13px;
                        line-height: 13px;
                        letter-spacing: 1px;
                        padding: 12px 20px;
                        margin-top: 0;
                        white-space: nowrap;
                        text-transform: uppercase;
                        .transition(background-color 150ms);
                    }
                    .banner-button:hover {
                        background-color: @easter-3-green-light;
                        .transition(background-color 50ms);
                    }
                }
            }
        }
    }

//=========================== MEDIA QUERIES ===============================

    /* tablet / mobile / vertical type layout / 768 to 992 */
    @media(min-width: @screen-sm-min) {
        .backdrop.easter-3{
            .banner {
                height: 800px;
                background-position: 50% -100px;
                background-size: auto;
                .hero > .content {
                    height: 550px;
                    .accent {
                        margin: 20px auto 0;
                        max-width: 550px;
                        h2{
                            font-size: 64px;
                            line-height: 64px;
                            letter-spacing: 2px;
                            text-indent: -2px;
                            span.line2{
                                font-size: 36px;
                                line-height: 40px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* laptop / full nav / horizontal type layout / 992 to 1200 */
    @media(min-width: @screen-md-min) {
        .backdrop.easter-3 {
            .banner {
                background-image: url('@{hero-image-easter-3}');
                background-position: -220px -250px;
                background-size: auto;
                .hero > .content {
                    height: 470px;
                    .accent {
                        margin: 0;
                        position: absolute;
                        top: 120px;
                        left: 40px;
                        .banner-button{
                            font-size: 14px;
                            line-height: 14px;
                            padding: 13px 22px;
                        }
                    }
                }
            }
        }
    }

    /* Desktop sizes 1220+ */
    @media(min-width: @screen-lg-min) {
        .backdrop.easter-3{
            .banner {
                background-position: 0 -250px;
                .hero > .content {
                    .accent {
                        left: 120px;
                    }
                }
            }
        }
    }