// Homepage hero styles
// Park Bar Hero

@hero-font:                         "Trade Gothic Light";
@hero-font-secondary:               "Trade Gothic";
@hero-font-size-button:             13px;

@seasonal-gray: #333;
@seasonal-white: #fff;
@seasonal-brown2: #4a3b30;
@seasonal-green2: #59ab1e;
@seasonal-green2-hover: #71c435;
@seasonal-brown-hover: #8f5e37;

@hero-image-sauce: '@{image-path}hero/hero-sauce-2.png';
@icon-sun: '@{image-path}hero/elem-sun-icon.png';
	
	.backdrop.summer-sauce {
		.banner {
			height: 400px; // actual image height (same as cutoff, for mobile view)
			background-image: url('@{hero-image-sauce}');
			background-size: 1000px auto;
			background-position: 50% 0;
			background-color: none;
			.hero > .content {
				height: 400px;
				.accent {
					box-sizing: border-box;
					height: auto;
					position: relative;
					text-align: center;
					background: none;
					padding: 60px 0 0 0;
					margin: 0 auto;
					max-width: 320px;
					
					h2 {
						background-image: url('@{icon-sun}');
						background-size: 20px auto;
						background-position: 50% 0;
						background-repeat: no-repeat;
						padding: 26px 0 0 0;
						
						display: block;
						font-family: @hero-font;
						color: @seasonal-green2;
						margin: auto;
						font-size: 12px;
						line-height: 12px;
						letter-spacing: 4px;
						text-indent: 4px;
						text-shadow: 1px 1px 1px rgba(0,0,0,.3);
						text-shadow: none;
					}
					h3 {
						display: block;
						font-family: @hero-font;
						color: @seasonal-green2;
						margin: auto;
						font-size: 18px;
						line-height: 18px;
						margin: auto;
						padding: 6px 0 10px;
						letter-spacing: 0;
						text-indent: 0;
						text-shadow: 1px 1px 1px rgba(0,0,0,.3);
						text-shadow: none;
					}
					.banner-button {
						font-family: @hero-font;
						font-size: @hero-font-size-button;
						color: @seasonal-content-bg;
						background-color: @seasonal-green2;
						display: inline-block;
						height: auto;
						font-size: 13px;
						line-height: 13px;
						letter-spacing: 1px;
						padding: 13px 18px;
						margin-top: 0;
						white-space: nowrap;
						text-transform: uppercase;
						.transition(background-color 150ms);
					}	
					.banner-button:hover {
						background-color: @seasonal-green2-hover;
						.transition(background-color 50ms);
					}
				}
			}
		}
	}

//=========================== MEDIA QUERIES ===============================

	/* iphone 6 / 6+ mini sizes */
	
	@media(min-width: 375px) {
		.backdrop.summer-sauce{
			.banner {
				.hero > .content {
					.accent {
						padding: 55px 0 0 0;
						max-width: 375px;
						h2 {
							font-size: 14px;
							line-height: 14px;
						}
						h3 {
							font-size: 20px;
							line-height: 20px;
						}
					}
				}
			}
		}	
	}
	
	@media(min-width: 400px) {
		.backdrop.summer-sauce{
			.banner {
				.hero > .content {
					.accent {
						max-width: 400px;
						h2 {
							font-size: 14px;
							line-height: 14px;
						}
						h3 {
							font-size: 22px;
							line-height: 22px;
						}
					}
				}
			}
		}	
	}		
	
	/* large phones / 460 to 768. Largest Mobile Menu View 590 fixed width view */
	
	@media(min-width: 607px) {
		.backdrop.summer-sauce{
			height: 420px !important;
			.banner {
				height: 420px;
				background-size: 1100px auto;
				background-position: 50% 0;
				.hero > .content {
					height: 420px;
					.accent {
						padding: 52px 0 0 0;
						max-width: 700px;
						h2 {
						
							background-size: 30px auto;
							padding: 35px 0 0 0;
						
							font-size: 18px;
							line-height: 18px;
							letter-spacing: 6px;
							text-indent: 6px;
						}
						h3 {
							font-size: 28px;
							line-height: 28px;
							letter-spacing: 1px;
							text-indent: 1px;
							padding: 8px 0 10px;
						}
						.banner-button {
							font-size: 14px;
							line-height: 14px;
							padding: 13px 28px;
						}
					}
				}
			}
		}	
	}	
	
	/* tablet / full nav / vertical type layout / 768 to 992 */
	/* switch to desktop nav with fadded hero tile with larger banner height */
	
	@media(min-width: @screen-sm-min) {
		.backdrop.summer-sauce{
			height: 520px !important;
			.banner {
				height: 800px; // actual image height (same as cutoff, for mobile view)
				background-size: auto;
				background-position: 50% 0;
				
				.hero > .content {
					height: 520px;
					.accent {
						padding: 30px 0 0 0;
						h2 {
							padding: 40px 0 0 0;
							
							font-size: 18px;
							line-height: 18px;
							letter-spacing: 6px;
							text-indent: 6px;
						}
						h3 {
							font-size: 36px;
							line-height: 36px;
							letter-spacing: 1px;
							text-indent: 1px;
							padding: 10px 0 20px;
						}
					}
				}
			}
		}
	}
	
	/* laptop / horizontal type layout / 992 to 1200 */
	
	@media(min-width: @screen-md-min) {
		.backdrop.summer-sauce {
			.banner {
				background-position: 50% 0;
				.hero > .content {
					.accent {
					}
				}
			}
		}
	}

	/* Desktop sizes 1220+ */
	
	@media(min-width: @screen-lg-min) {
		.backdrop.summer-sauce{
			.banner {
				.hero > .content {
					.accent {
					}
				}
			}
		}
	}