// Homepage hero styles
// Gratitidue Hero

@hero-font:                         "Trade Gothic Light";
@hero-font-secondary:               "Trade Gothic";
@hero-font-size-button:             13px;

@seasonal-gray: #333;
@seasonal-color: #382818;
@seasonal-color-dark: #271c10;

@hero-image-accent:                 '@{image-path}hero/elem-pink-flowers.png';
@hero-image:              			'@{image-path}hero/hero-gratitude.jpg';
@hero-image-desktop:                '@{image-path}hero/hero-gratitude.jpg';
@hero-image-mobile:                 '@{image-path}hero/hero-gratitude.jpg';
			
	.backdrop.gratitude {		
		.banner {
			height: 420px; // actual image height (same as cutoff, for mobile view)
			background-image: url('@{hero-image-mobile}');
			background-size: 760px auto;
			background-position: 50% 98px;
			background-color: #fdfdfd;
			.hero > .content {
				height: 420px;
				.accent {
					height: auto;
					position: relative;
					bottom: auto;
					text-align: center;									
					top: 45px;
					left: auto;
					bottom: auto;
					background-position: 50% 0;
					background-repeat: no-repeat;
					background-image: url('@{hero-image-accent}');					
					background-size: 120px;
					padding: 60px 0 0 0;						
					margin: auto;
					width: auto;
					
					h2 {
						display: block;	
						font-family: @hero-font;
						color: @seasonal-color;
						padding: 0;
						margin: 0;						
						font-size: 23px;																		
						line-height: 26px;
						letter-spacing: 2px;
						padding: 0 0 4px 0;
					}
					h3 {
						display: block;
						font-family: @hero-font;
						color: @seasonal-color;
						margin: 0;
						font-size: 12px;
						line-height: 20px;
						max-width: 320px;
						margin: auto;
						letter-spacing: 0;
						text-indent: 0;
						padding: 2px 10px 10px 10px;						
					}
					.banner-button {
						font-family: @hero-font;
						font-size: @hero-font-size-button;
						color: @seasonal-content-bg;
						background-color: @seasonal-color;
						display: inline-block;
						height: auto;
						font-size: 13px;
						line-height: 13px;
						letter-spacing: 0;
						padding: 13px 18px;
						margin-top: 0;
						white-space: nowrap;
						text-transform: uppercase;
						.transition(background-color 150ms);
					}	
					.banner-button:hover {
						background-color: @seasonal-color-dark;
						.transition(background-color 50ms);
					}
				}
			}
		}
	}

//=========================== MEDIA QUERIES ===============================

	/* large phones / 490 to 607 */	
	@media(min-width: 460px) {
		.backdrop.gratitude{
			.banner {	
				height: 520px;			
				background-image: url('@{hero-image-desktop}');
				background-size: 960px;
				background-position: 50% 108px;
				.hero > .content {
					height: 520px;
					.accent {
						background-size: auto;
						padding: 70px 0 0 0;
						h2 {
							font-size: 30px;
							line-height: 36px;
							letter-spacing: 2px;
						}
						h3 {
							font-size: 15px;
							line-height: 22px;
							letter-spacing: 1px;
							max-width: 100%;
						}						
					}
				}
			}
		}	
	}
	
	/* large phones / 607 to 768 */	
	@media(min-width: 607px) {
		.backdrop.gratitude{
			.banner {
				
				.hero > .content {
					
					.accent {
						top: 45px;
						h2 {
							font-size: 30px;
							line-height: 36px;
							letter-spacing: 2px;
						}
						h3 {
							font-size: 17px;
							line-height: 22px;
							letter-spacing: 2px;
							padding: 2px 0 20px 0;
						}
						.banner-button {
							font-size: 14px;
							line-height: 14px;
							padding: 13px 22px;
							letter-spacing: 1px;
						}												

					}
				}
			}
		}	
	}	

	/* tablet / full nav / vertical type layout / 768 to 992 */	
	@media(min-width: @screen-sm-min) {
		.backdrop.gratitude{

			.banner {
				height: 800px; // actual image height (same as cutoff, for mobile view)
				background-size: auto;
				background-position: 50% 10px;
				
				.hero > .content {
					height: 500px;
					.accent {
						top: 0;
						h2 {
							letter-spacing: 4px;
						}
						h3 {
							letter-spacing: 4px;
						}						
					}
				}
			}
		}
	}
	
	/* laptop / horizontal type layout / 992 to 1200 */
	@media(min-width: @screen-md-min) {
		.backdrop.gratitude {
			.banner {
				background-position: 50% 0;
				.hero > .content {
					.accent {
						h2 {			
							span {	
							}
						}
						h3 {
						}						
					}
				}
			}
		}
	}

  	/* Desktop sizes 1220+ */
	@media(min-width: @screen-lg-min) {
		.backdrop.gratitude{
			.banner {
				background-position: 50% 0;
				.hero > .content {
					.accent {				
					}
				}
			}
		}
	}