// Homepage hero styles
// Fall Gold Bars Hero

@hero-font:													"Trade Gothic Light";
@hero-font-secondary:								"Trade Gothic";
@hero-font-size-button:							13px;

@seasonal-dark-gray: #333333;
@seasonal-brown-light-3: #504235;

@hero-image-gifts-tame:					'@{image-path}hero/hero-gifts-tame.jpg';

	.backdrop.gifts-tame {
		.banner {
			height: 700px; // actual image height (same as cutoff, for mobile view)
			background-image: url('@{hero-image-gifts-tame}');
			background-position: 28% -30px;
			background-size: auto;
			background-color: #ffffff;
			.hero > .content {
				height: 700px;
				.accent {
					box-sizing: border-box;
					height: auto;
					position: relative;
					text-align: center;
					background: none;
					padding: 0 0 0;
					margin: 470px auto 0;
					width: 300px;
					
					h2 {
						display: block;	
						font-family: @hero-font;
						color: @seasonal-dark-gray;
						margin: 0;
						padding: 0;
						font-size: 50px;
						line-height: 54px;
						letter-spacing: 2px;
						text-indent: 0;
						
						span{
							display: block;
						}
						
					}
					h3 {
						display: block;
						font-family: @hero-font;
						color: @seasonal-brown-light-3;
						margin: 15px 0;
						padding: 0;
						font-size: 14px;
						line-height: 16px;
						letter-spacing: 0;
						text-indent: 0;
						
						span{
							display: block;
						}
						
					}
					.banner-button {
						font-family: @hero-font;
						font-size: @hero-font-size-button;
						color: @seasonal-content-bg;
						background-color: @seasonal-brown-light-3;
						display: inline-block;
						height: auto;
						font-size: 13px;
						line-height: 13px;
						letter-spacing: 2px;
						padding: 13px 30px;
						margin-top: 0;
						white-space: nowrap;
						text-transform: uppercase;
						.transition(background-color 150ms);
					}
					.banner-button:hover {
						background-color: @seasonal-brown-light-2;
						.transition(background-color 50ms);
					}
				}
			}
		}
	}

//=========================== MEDIA QUERIES ===============================


	/* phones larger 590+ */
	@media(min-width: 460px) {
		.backdrop.gifts-tame{
			.banner {
				.hero > .content {
					.accent {
						width: 400px;
						margin: 455px auto 0;
						h2 {
							font-size: 58px;
							line-height: 62px;
						}
						h3 {
							font-size: 15px;
							line-height: 18px;
							letter-spacing: 1px;
						}
					}
				}
			}
		}
	}
	
	/* phones larger 590+ */
	@media(min-width: 590px) {
		.backdrop.gifts-tame{
			.banner {
				background-position: -60px -30px;
				.hero > .content {
					.accent {
						width: 440px;
						margin: 445px auto 0;
						h2 {
							font-size: 66px;
							line-height: 68px;
							letter-spacing: 2px;
						}
						h3 {
							font-size: 16px;
							line-height: 20px;
							letter-spacing: 1px;
							margin: 15px 0 15px 0;
						}
					}
				}
			}
		}
	}

	/* tablet / full nav / vertical type layout / 768 to 992 */	
	@media(min-width: @screen-sm-min) {
		.backdrop.gifts-tame{
			.banner {
				height: 800px;
				background-position: -210px 0;
				.hero > .content {
					height: 500px;
					.accent {
						position: absolute;
						width: 320px;
						top: 125px;
						right: 20px;
						margin: 0;
						h2 {
							font-size: 56px;
							line-height: 60px;
						}
						h3 {
							font-size: 15px;
							line-height: 18px;
							letter-spacing: 0;
							margin: 20px 0 30px 0;
						}
					}
				}
			}
		}
	}
	
	/* laptop / horizontal type layout / 992 to 1200 */
	@media(min-width: @screen-md-min) {
		.backdrop.gifts-tame{
			.banner {
				background-position: -150px 0;
				.hero > .content {
					.accent {
						width: 500px;
						top: 117px;
						right: 12px;
						h2 {
							font-size: 74px;
							line-height: 80px;
						}
						h3 {
							font-size: 19px;
							line-height: 24px;
							letter-spacing: 1px;
							margin: 20px 0 30px 0;
						}
					}
				}
			}
		}
	}

  	/* Desktop sizes 1220+ */
	@media(min-width: @screen-lg-min) {
		.backdrop.gifts-tame{
			.banner {
				background-position: 0 0;
				.hero > .content {
					.accent {
						right: 50px;
						h2 {
						}
						h3 {
						}
					}
				}
			}
		}
	}