// Homepage hero styles
// fathers-2 / fathers-day-2018 Hero

@hero-font:                         "Trade Gothic Light";
@hero-font-secondary:               "Trade Gothic";
@hero-font-size-button:             13px;

@seasonal-gray: #333;
@seasonal-white: #fff;
@seasonal-brown: #7c4e2a;
@seasonal-brown-hover: #8f5e37;

@hero-image-park-bar: '@{image-path}hero/hero-park-bar-3.jpg';
    
    .backdrop.fathers-2 {
        .banner {
            height: 600px; // actual image height (same as cutoff, for mobile view)
            background-image: url('@{hero-image-park-bar}');
            background-size: 960px auto;
            background-position: 25% 0;
            background-color: #fdfdfd;
            .hero > .content {
                height: 600px;
                .accent {
                    box-sizing: border-box;
                    height: auto;
                    position: relative;
                    text-align: center;
                    top: 55px;
                    left: auto;
                    bottom: auto;
                    background: none;
                    padding: 0 0 0 0;
                    margin: auto;
                    max-width: 360px;
                    
                    h2 {
                        display: block;
                        font-family: @hero-font;
                        color: @seasonal-gray;
                        padding: 0;
                        margin: auto;
                        max-width: auto;
                        font-size: 24px;
                        line-height: 28px;
                        letter-spacing: 1px;
                        padding: 0;
                        text-shadow: none;
                        .w1,.w2,.w3,.w4{
                            display: block;
                        }
                        .w2,.w4{
                            display: block;
                            font-size: 50px;
                            line-height: 54px;
                            padding: 0;
                        }
                    }
                    .banner-button {
                        font-family: @hero-font;
                        font-size: @hero-font-size-button;
                        color: @seasonal-content-bg;
                        background-color: @seasonal-brown;
                        display: inline-block;
                        height: auto;
                        font-size: 13px;
                        line-height: 13px;
                        letter-spacing: 1px;
                        padding: 13px 18px;
                        margin-top: 0;
                        white-space: nowrap;
                        text-transform: uppercase;
                        .transition(background-color 150ms);
                    }   
                    .banner-button:hover {
                        background-color: @seasonal-brown-hover;
                        .transition(background-color 50ms);
                    }
                }
            }
        }
    }

//=========================== MEDIA QUERIES ===============================

    /* background adjustments */
    
    @media(min-width: 420px) {
        .backdrop.fathers-2{
            .banner {
                background-position: 20% 0;
            }
        }
    }
    @media(min-width: 500px) {
        .backdrop.fathers-2{
            .banner {
                background-position: 10% 0;
            }
        }
    }   
    
    /* large phones / 460 to 768. Largest Mobile Menu View 590 fixed width view */
    
    @media(min-width: 607px) {
        .backdrop.fathers-2{
            height: 650px !important;
            .banner {
                height: 650px;
                background-size: 1000px auto;
                background-position: 0 0;
                .hero > .content {
                    height: 650px;
                    .accent {
                        top: 50px;
                        .banner-button {
                            font-size: 14px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }   
    }   
    
    /* tablet / full nav / vertical type layout / 768 to 992 */
    /* switch to desktop nav with fadded hero tile with larger banner height */
    
    @media(min-width: @screen-sm-min) {
        .backdrop.fathers-2{
            height: 390px !important;
            .banner {
                height: 1000px; // actual image height (same as cutoff, for mobile view)
                background-size: 1050px auto;
                background-position: 59% -300px;
                
                .hero > .content {
                    height: 390px;
                    .accent {
                        position: absolute;
                        width: auto;
                        max-width: 375px;
                        min-width: 200px;
                        top: 62px;
                        right: 90px;
                        h2 {
                            margin-bottom: 10px;
                            font-size: 30px;
                            line-height: 32px;
                            .w2,.w4{
                                font-size: 64px;
                                line-height: 70px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    /* laptop / horizontal type layout / 992 to 1200 */
    
    @media(min-width: @screen-md-min) {
        .backdrop.fathers-2 {
            height: 520px !important;
            .banner {
                background-position: 4% -281px;
                background-size: auto;
                .hero > .content {
                    height: 500px;
                    .accent {
                        top: 120px;
                        right: 65px;
                    }
                }
            }
        }
    }

    /* Desktop sizes 1220+ */
    
    @media(min-width: @screen-lg-min) {
        .backdrop.fathers-2{
            height: 520px !important;
            .banner {
                background-position: 0 -281px;
                background-size: auto;
                .hero > .content {
                    .accent {
                        top: 135px;
                        right: 220px;
                    }
                }
            }
        }
    }