// Homepage hero styles
// Gratitidue Hero

@hero-font:                         "Trade Gothic Light";
@hero-font-secondary:               "Trade Gothic";
@hero-font-size-button:             13px;

@seasonal-gray: #333;
@seasonal-color: #382818;
@seasonal-color-dark: #382818;

@hero-image-eventful:				'@{image-path}hero/hero-eventful.jpg';
			
	.backdrop.eventful {		
		.banner {
			height: 440px; // actual image height (same as cutoff, for mobile view)
			background-image: url('@{hero-image-eventful}');
			background-size: 800px auto;
			background-position: 20% 0;
			background-color: #fdfdfd;
			.hero > .content {
				height: 440px;
				.accent {
					height: auto;
					position: relative;
					text-align: center;									
					top: 260px;				
					left: auto;
					bottom: auto;				
					background: none;
					padding: 0 20px;
					margin: auto;
					width: auto;
					max-width: 320px;
					
					h2 {
						display: block;	
						font-family: @hero-font;
						color: @seasonal-color;
						padding: 0;
						margin: 0;						
						font-size: 28px;																		
						line-height: 38px;
						letter-spacing: 2px;
						padding: 0 0 4px 0;
					}
					h3 {
						display: block;
						font-family: @hero-font;
						color: @seasonal-color;
						margin: 0;
						font-size: 15px;
						line-height: 20px;
						margin: auto;
						letter-spacing: 3px;
						text-indent: 0;
						padding: 2px 0 10px;
					}
					.banner-button {
						font-family: @hero-font;
						font-size: @hero-font-size-button;
						color: @seasonal-content-bg;
						background-color: @seasonal-color;
						display: inline-block;
						height: auto;
						font-size: 13px;
						line-height: 13px;
						letter-spacing: 0;
						padding: 13px 18px;
						margin-top: 0;
						white-space: nowrap;
						text-transform: uppercase;
						.transition(background-color 150ms);
					}	
					.banner-button:hover {
						background-color: @seasonal-color-dark;
						.transition(background-color 50ms);
					}
				}
			}
		}
	}

//=========================== MEDIA QUERIES ===============================

	/* large phones / 490 to 607 */	
	@media(min-width: 460px) {
		.backdrop.eventful{
			.banner {	
				height: 350px;
				background-size: 1110px auto;
				background-position: 40% 0;
				.hero > .content {
					height: 350px;
					.accent {
						position: absolute;
						max-width: 240px;
						left: 45%;
						top: 100px;
						padding: 0;
						h2 {
							font-size: 25px;
							line-height: 35px;
							letter-spacing: 2px;
						}
						h3 {
							font-size: 13px;
							line-height: 18px;
							letter-spacing: 3px;
						}						
					}
				}
			}
		}	
	}
	
	/* large phones / 607 to 768 */	
	@media(min-width: 607px) {
		.backdrop.eventful{
			.banner {
				
				.hero > .content {
					
					.accent {
						max-width: 280px;
						left: auto;
						right: 10px;
						top: 100px;
						h2 {
							font-size: 28px;
							line-height: 38px;
						}
						h3 {
							font-size: 15px;
							line-height: 20px;
						}
						.banner-button {
							font-size: 14px;
							line-height: 14px;
							padding: 13px 22px;
							letter-spacing: 1px;
						}												

					}
				}
			}
		}	
	}	

	/* tablet / full nav / vertical type layout / 768 to 992 */	
	@media(min-width: @screen-sm-min) {
		.backdrop.eventful{

			.banner {
				height: 900px; // actual image height (same as cutoff, for mobile view)
				background-size: 1000px auto;
				background-position: 32% 0;
				
				.hero > .content {
					height: 350px;
					.accent {
						max-width: 360px;
						right: 15px;
						top: 100px;
						h2 {
							font-size: 38px;
							line-height: 42px;
							letter-spacing: 3px;
						}
						h3 {
							font-size: 21px;
							line-height: 30px;
							letter-spacing: 4px;
						}						
					}
				}
			}
		}
	}
	
	/* laptop / horizontal type layout / 992 to 1200 */
	@media(min-width: @screen-md-min) {
		.backdrop.eventful {
			.banner {
				background-position: 25% 0;
				background-size: auto;
				.hero > .content {
					.accent {
						top: 130px;
						right: 50px;
						max-width: 390px;
						h2 {			
							span {	
							}
						}
						h3 {
						}						
					}
				}
			}
		}
	}

  	/* Desktop sizes 1220+ */
	@media(min-width: @screen-lg-min) {
		.backdrop.eventful{
			.banner {
				background-position: 50% 0;
				.hero > .content {
					.accent {
						right: 100px;	
					}
				}
			}
		}
	}