// Homepage hero styles
// Wedding Hero

@hero-font:                         "Trade Gothic Light";
@hero-font-secondary:               "Trade Gothic";
@hero-font-size-button:             13px;

@seasonal-drak-gray: #333333;
@seasonal-light-brown: #c5a289;
@seasonal-light-brown2: #956a4d;

@hero-image-new-years-2:                '@{image-path}hero/hero-new-years-2.png';

    /* mobile first styles / 320 to 460px wide */

    .backdrop.hero-new-years-2 {
        .banner {
            height: 490px; // actual image height (same as cutoff, for mobile view)
            background-image: url('@{hero-image-new-years-2}');
            background-position: 75% -25px;
            background-size: 900px auto;
            background-color: #fdfdfd;
            .hero > .content {
                height: 490px;
                min-height: 490px;
                .accent {
                    box-sizing: border-box;
                    height: auto;
                    position: relative;
                    text-align: center;
                    top: 0;
                    left: 0;
                    bottom: auto;
                    background: none;
                    padding: 0 0 0;
                    margin: 65px auto 0;
                    width: 100%;
                    max-width: 320px;

                    h2 {
                        display: block;
                        font-family: @hero-font;
                        color: @seasonal-drak-gray;
                        margin: auto;
                        font-size: 26px;
                        line-height: 28px;
                        letter-spacing: 1px;
                        padding: 0 0 12px 0;
                        span{
                            display: block;
                        }
                        span.w1{
                            font-family: 'times',serif;
                            font-size: 15px;
                            line-height: 16px;
                            letter-spacing: 4px;
                            font-style: italic;
                            padding: 0 0 8px 0;
                        }
                        span.w2{
                            font-size: 14px;
                            line-height: 15px;
                            letter-spacing: 1px;
                            padding: 0 0 8px 0;
                        }
                        span.w3{
                            font-size: 40px;
                            line-height: 40px;
                            letter-spacing: 5px;
                            padding: 0 0 0 0;
                        }
                    }
                    .banner-button {
                        font-family: @hero-font;
                        font-size: @hero-font-size-button;
                        color: @seasonal-content-bg;
                        background-color: @seasonal-light-brown;
                        display: inline-block;
                        height: auto;
                        font-size: 13px;
                        line-height: 13px;
                        letter-spacing: 1px;
                        padding: 12px 20px;
                        margin-top: 0;
                        white-space: nowrap;
                        text-transform: uppercase;
                        .transition(background-color 150ms);
                    }
                    .banner-button:hover {
                        background-color: @seasonal-light-brown2;
                        .transition(background-color 50ms);
                    }
                }
            }
        }
    }

//=========================== MEDIA QUERIES ===============================

    /* large phones / 460 to 607 */
    @media(min-width: 460px) {
        .backdrop.hero-new-years-2{
        }
    }

    /* large phones / 607 to 768 */
    @media(min-width: 607px) {
        .backdrop.hero-new-years-2{
            .banner{
                background-position: 100% -20px;
            }
        }
    }

    /* tablet / mobile / vertical type layout / 768 to 992 */
    @media(min-width: @screen-sm-min) {
        .backdrop.hero-new-years-2{
            .banner {
                height: 800px;
                background-position: 75% -190px;
                background-size: auto;
                .hero > .content {
                    height: 470px;
                    .accent {
                        margin: 20px auto 0;
                    }
                }
            }
        }
    }

    /* laptop / full nav / horizontal type layout / 992 to 1200 */
    @media(min-width: @screen-md-min) {
        .backdrop.hero-new-years-2 {
            .banner {
                background-position: 50% -260px;
                .hero > .content {
                    .accent {
                        position: absolute;
                        margin: 0;
                        top: 110px;
                        left: 70px;
                        h2 {
                            padding: 0 0 20px 0;
                            span.w1{
                                font-size: 16px;
                                line-height: 18px;
                                letter-spacing: 6px;
                                padding: 0 0 16px 0;
                            }
                            span.w2{
                                font-size: 16px;
                                line-height: 18px;
                                letter-spacing: 2px;
                                padding: 0 0 8px 0;
                            }
                            span.w3{
                                font-size: 48px;
                                line-height: 60px;
                                letter-spacing: 5px;
                                padding: 0 0 0 0;
                            }
                        }
                        .banner-button{
                            font-size: 14px;
                            line-height: 14px;
                            padding: 13px 22px;
                        }
                    }
                }
            }
        }
    }

    /* Desktop sizes 1220+ */
    @media(min-width: @screen-lg-min) {
        .backdrop.hero-new-years-2{
            .banner {
                .hero > .content {
                    .accent {
                        top: 110px;
                        left: 110px;
                        h2 {
                            span.w1{
                            }
                        }
                    }
                }
            }
        }
    }