// Homepage hero styles
// Summer 2 Ice Hero

@hero-font:                         "Trade Gothic Light";
@hero-font-secondary:               "Trade Gothic";
@hero-font-size-button:             13px;

@seasonal-brown-2: #382818;
@seasonal-brown-light-2: #4a3623;

@hero-image-summer-2-ice:				'@{image-path}hero/hero-summer-2-ice.jpg';
			
	.backdrop.summer-2-ice {		
		.banner {
			height: 450px; // actual image height (same as cutoff, for mobile view)
			background-image: url('@{hero-image-summer-2-ice}');
			background-position: 10% 175px;
			background-size: 650px auto;
			background-color: #ececec;
			.hero > .content {
				height: 450px;
				.accent {
					box-sizing: border-box;
					height: auto;
					position: relative;
					text-align: center;									
					top: auto;				
					left: auto;
					bottom: auto;				
					background: none;
					padding: 0 0 0;
					margin: 60px auto 0;
					width: 100%;
					max-width: 320px;					
					
					h2 {
						display: block;	
						font-family: @hero-font;
						color: @seasonal-brown-2;
						margin: 0 auto;
						padding: 0;						
						font-size: 40px;																		
						line-height: 62px;
						letter-spacing: 4px;
					}
					h3 {
						display: block;
						font-family: @hero-font;
						color: @seasonal-brown-2;
						margin: 0 auto;
						padding: 0 0 8px;						
						font-size: 13px;
						line-height: 20px;
						letter-spacing: 0;
						text-indent: 0;
					}
					.banner-button {
						font-family: @hero-font;
						font-size: @hero-font-size-button;
						color: @seasonal-content-bg;
						background-color: @seasonal-brown-2;
						display: inline-block;
						height: auto;
						font-size: 13px;
						line-height: 13px;
						letter-spacing: 1px;
						padding: 13px 18px;
						margin-top: 0;
						white-space: nowrap;
						text-transform: uppercase;
						.transition(background-color 150ms);
					}	
					.banner-button:hover {
						background-color: @seasonal-brown-light-2;
						.transition(background-color 50ms);
					}
				}
			}
		}
	}

//=========================== MEDIA QUERIES ===============================

	/* large phones / 460 to 607 */	
	@media(min-width: 460px) {
		.backdrop.summer-2-ice{
			.banner {
				height: 585px; 	
				background-position: 0 175px;
    			background-size: 1000px auto;    			
				.hero > .content {
					height: 585px;
					.accent {
						max-width: 400px;
						margin: 75px auto 0;						
						h2 {
						    font-size: 56px;
						    line-height: 62px;						
						    letter-spacing: 4px;
						    padding: 0 0 6px 0;
						}
						h3 {
						    font-size: 16px;
						    line-height: 20px;						
						    letter-spacing: 0;
						    padding: 0 0 12px 0;						
						}						
					}
				}
			}
		}	
	}	

	/* tablet / full nav / vertical type layout / 768 to 992 */	
	@media(min-width: @screen-sm-min) {
		.backdrop.summer-2-ice{
			.banner {	
				height: 800px; 
				background-position: 0 0;
			    background-size: 800px;
			    background-color: #ffffff;
				.hero > .content {
					height: 350px;				
					min-height: 350px;
					.accent {
						position: absolute;
						right: 45px;
						top: 70px;
						max-width: 260px;
						margin: 0;
						h2 {
							font-size: 56px;
							line-height: 62px;
							letter-spacing: 2px;							
							padding: 0 0 6px 0;
						}
						h3 {										
						}						
					}
				}
			}
		}
	}
	
	/* laptop / horizontal type layout / 992 to 1200 */
	@media(min-width: @screen-md-min) {
		.backdrop.summer-2-ice {
			.banner {
				background-position: 0 0;
			    background-size: 1000px;
				.hero > .content {
					height: 400px;				
					min-height: 400px;				
					.accent {
						max-width: 450px;
						right: 5px;
						top: 150px;
						h2 {			
						}
						h3 {
							padding: 0 0 16px 0;
						}						
					}
				}
			}
		}
	}

  	/* Desktop sizes 1220+ */
	@media(min-width: @screen-lg-min) {
		.backdrop.summer-2-ice{
			.banner {
				background-position: 50% 0;
			    background-size: auto;		
				.hero > .content {
					height: 500px;				
					min-height: 500px;				
					.accent {
						right: 60px;
						top: 170px;
						h2 {
							letter-spacing: 4px;
						}
						h3 {										
						}						
					}
				}
			}
		}
	}