// Homepage hero styles
// Park Bar Hero

@hero-font:                         "Trade Gothic Light";
@hero-font-secondary:               "Trade Gothic";
@hero-font-size-button:             13px;

@seasonal-gray: #333;
@seasonal-white: #fff;
@seasonal-plum: #d65c49;
@seasonal-plum-hover: #e16f5e;

@hero-image-lacquer-collection: '@{image-path}hero/hero-lacquer.png';

    .backdrop.lacquer-collection {
        .banner {
            height: 480px; // actual image height (same as cutoff, for mobile view)
            background-image: url('@{hero-image-lacquer-collection}');
            background-size: 900px auto;
            background-position: 20% -60px;
            background-color: #fdfdfd;
            .hero > .content {
                height: 480px;
                .accent {
                    box-sizing: border-box;
                    height: auto;
                    position: relative;
                    text-align: center;
                    top: 75px;
                    left: auto;
                    bottom: auto;
                    background: none;
                    padding: 0 0 0 0;
                    margin: auto;
                    max-width: 360px;

                    h2 {
                        display: block;
                        font-family: @hero-font;
                        color: @seasonal-gray;
                        padding: 0;
                        margin: auto;
                        max-width: auto;
                        font-size: 23px;
                        line-height: 24px;
                        letter-spacing: 0;
                        padding: 0;
                    }
                    h3 {
                        display: block;
                        font-family: @hero-font;
                        color: @seasonal-gray;
                        margin: auto;
                        font-size: 13px;
                        line-height: 18px;
                        margin: auto;
                        letter-spacing: 0;
                        text-indent: 0;
                        padding: 12px 0 20px;
                    }
                    .banner-button {
                        font-family: @hero-font;
                        font-size: @hero-font-size-button;
                        color: @seasonal-content-bg;
                        background-color: @seasonal-plum;
                        display: inline-block;
                        height: auto;
                        font-size: 13px;
                        line-height: 13px;
                        letter-spacing: 1px;
                        padding: 13px 18px;
                        margin-top: 0;
                        white-space: nowrap;
                        text-transform: uppercase;
                        .transition(background-color 150ms);
                    }
                    .banner-button:hover {
                        background-color: @seasonal-plum-hover;
                        .transition(background-color 50ms);
                    }
                }
            }
        }
    }

//=========================== MEDIA QUERIES ===============================

    /* background adjustments */
    @media(min-width: 400px) {
        .backdrop.lacquer-collection{
            .banner {
                background-position: 13% -60px;
            }
        }
    }

    /* background adjustments */
    @media(min-width: 500px) {
        .backdrop.lacquer-collection{
            .banner {
                background-position: 0 -60px;
                .hero > .content {
                    .accent {
                        h2 {
                            font-size: 24px;
                        }
                        h3 {
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }

    /* tablet / full nav / vertical type layout / 768 to 992 */
    /* switch to desktop nav with fadded hero tile with larger banner height */

    @media(min-width: @screen-sm-min) {
        .backdrop.lacquer-collection{
            height: 370px;
            .banner {
                height: 1000px; // actual image height (same as cutoff, for mobile view)
                background-position: -130px -250px;
                background-size: 1000px;
                .hero > .content {
                    height: 370px;
                    min-height: 370px;
                    .accent {
                        position: absolute;
                        width: auto;
                        max-width: 500px;
                        top: 100px;
                        right: 35px;
                        h2 {
                            font-size: 25px;
                            line-height: 28px;
                            letter-spacing: 1px;
                            padding: 0 0 18px 0;
                        }
                        h3 {
                            font-size: 15px;
                            line-height: 15px;
                            letter-spacing: 1px;
                            padding: 0 0 30px;
                        }
                    }
                }
            }
        }
    }

    /* laptop / horizontal type layout / 992 to 1200 */
    /* comp view */

    @media(min-width: @screen-md-min) {
        .backdrop.lacquer-collection {
            height: 450px;
            .banner {
                background-position: 50% -300px;
                background-size: auto;
                .hero > .content {
                    height: 450px;
                    .accent {
                        top: 130px;
                        right: 40px;
                        h2 {
                            font-size: 31px;
                            line-height: 34px;
                        }
                        h3 {
                            font-size: 18px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }

    /* Desktop sizes 1220+ */

	@media(min-width: @screen-lg-min) {
		.backdrop.lacquer-collection{
			height: 450px;
			.banner {
				.hero > .content {
					.accent {
						top: 130px;
						right: 100px;
					}
				}
			}
		}
	}