// hero: coconut gold bar 2019

@hero-font-size-button: 13px;
@seasonal-color-3: #886761;
@cta-light-brown-2: #b0887e;
@cta-light-brown-hover-2: #886761;

@hero-image-gold-bar-2019: '@{image-path}hero/hero-gold-bar-2019.jpg';

.backdrop.gold-bars-4 {
    margin-top: 0;
    .banner {
        height: 500px; // actual image height (same as cutoff, for mobile view)
        background-image: url('@{hero-image-gold-bar-2019}');
        background-size: 810px auto;
        background-position: 52% 0;
        background-color: #ffffff;
        .hero > .content {
            height: 500px;
            min-height: 500px; //desktop layout hero content height
            .accent {
                width: 100%;
                height: auto;
                box-sizing: border-box;
                text-align: center;
                position: relative;
                padding: 20px 10px 10px 10px;
                
                h2 {
                    display: block;
                    font-family: @hero-font-serif;
                    color: @seasonal-color-3;
                    padding: 0;
                    margin: 0;
                    font-size: 32px;
                    line-height: 38px;
                    letter-spacing: 0;
                    padding: 0;
                    
                    text-transform: none;
                    font-weight: normal;
                    font-style: normal;
                    
                    font-smoothing: antialiased;
                    text-rendering: optimizeLegibility;
                    -webkit-font-smoothing: antialiased;
                    /* text-shadow: 1px 1px 1px rgba(0,0,0,0.004); */
                    
                    .line1{
                        display: block;
                        font-family: @hero-font;
                        font-family: 'TradeGothicLT-CondEighteen';
                        font-size: 20px;
                        line-height: 22px;
                        padding-bottom: 6px;
                        text-transform: uppercase;
                    }
                    .line2{
                        display: block;
                        padding-bottom: 0;
                    }
                    .line3{
                        display: block;
                        padding-bottom: 4px;
                    }
                    .line4{
                        font-weight: normal;
                        font-family: 'Trade Gothic';
                        display: block;
                        font-size: 20px;
                        line-height: 22px;
                        padding-bottom: 10px;
                    }
                }
                
                .banner-button {
                    font-family: @hero-font-secondary;
                    font-size: @hero-font-size-button;
                    color: @seasonal-content-bg;
                    background-color: @cta-light-brown-2;
                    .hero-button-standard();
                }
                
                .banner-button:hover {
                    background-color: @cta-light-brown-hover-2;
                }
            }
        }
    }
}

/* large phone with gutters 607 to 768*/
@media(min-width: 360px) {
    .backdrop.gold-bars-4{
        .banner {
            background-position: 67% 0;
        }
    }
}

/* large phone with gutters 607 to 768*/
@media(min-width: @screen-ms-min) {
    .backdrop.gold-bars-4{
        .banner {
            background-position: 25% -155px;
            background-size: 855px;
            height: 350px;
            .hero > .content {
                height: 350px;
                min-height: 350px;
                .accent {
                    width: 40%;
                    top: 50px;
                    left: 0;
                    
                    h2 {
                        font-size: 28px;
                        line-height: 32px;
                        .line1{
                            font-size: 22px;
                            line-height: 22px;
                            padding-bottom: 10px;
                        }
                        .line2{
                            padding-bottom: 0;
                        }
                        .line3{
                            padding-bottom: 10px;
                        }
                        .line4{
                            font-size: 22px;
                            line-height: 22px;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}

/* tablet / full nav / vertical type layout / 768 to 992 */
@media(min-width: @screen-sm-min) {
    .backdrop.gold-bars-4{
        .banner {
            background-position: 34% -174px;
            background-size: 855px;
            height: 800px;
            .hero > .content {
                height: 380px;
                min-height: 380px;
            }
        }
    }
}

/* laptop / horizontal type layout / 992 to 1200 */
@media(min-width: @screen-md-min) {
    .backdrop.gold-bars-4 {
        .banner {
            background-position: 15% -200px;
            background-size: 1210px;
            .hero > .content {
                height: 590px;
                min-height: 590px;
                .accent{
                    top: 100px;
                    left: 20px;
                    h2 {
                        font-size: 52px;
                        line-height: 62px;
                        .line1{
                            font-size: 26px;
                            line-height: 30px;
                        }
                        .line4{
                            font-size: 28px;
                            line-height: 32px;
                        }
                    }
                    .banner-button{
                        .hero-button-standard-desktop();
                    }
                }
            }
        }
    }
}

/* Full Desktop 1 1200+ */
@media(min-width: @screen-lg-min) {
    .backdrop.gold-bars-4 {
        .banner {
            .hero > .content {
                .accent{
                    left: 40px;
                }
            }
        }
    }
}