// Homepage hero styles
// Summer 2 Ice Hero

@hero-font:                         "Trade Gothic Light";
@hero-font-secondary:               "Trade Gothic";
@hero-font-size-button:             13px;

@seasonal-brown-2: #382818;
@seasonal-brown-light-2: #4a3623;

@hero-image-summer-4-icecream:              '@{image-path}hero/hero-summer-4-icecream-toppings.png';

    .backdrop.summer-4-toppings {
        .banner {
            height: 380px; // actual image height (same as cutoff, for mobile view)
            background-image: url('@{hero-image-summer-4-icecream}');
            background-position: 50% 110px;
            background-size: 585px auto;
            background-color: #f5f5f5;
            .hero > .content {
                height: 380px;
                .accent {
                    box-sizing: border-box;
                    height: auto;
                    position: relative;
                    text-align: center;
                    top: auto;
                    left: auto;
                    bottom: auto;
                    background: none;
                    padding: 0 0 0;
                    margin: 60px auto 0;
                    width: 100%;
                    max-width: 320px;

                    h2 {
                        display: block;
                        font-family: @hero-font;
                        color: @seasonal-brown-2;
                        max-width: 280px;
                        margin: 0 auto 10px;
                        padding: 0;
                        font-size: 40px;
                        line-height: 44px;
                        letter-spacing: 3px;
                    }
                    h3 {
                        display: block;
                        font-family: @hero-font;
                        color: @seasonal-brown-2;
                        margin: 0 auto 10px;
                        padding: 0;
                        font-size: 15px;
                        line-height: 18px;
                        letter-spacing: 0;
                        text-indent: 0;
                    }
                    .banner-button {
                        font-family: @hero-font;
                        font-size: @hero-font-size-button;
                        color: @seasonal-content-bg;
                        background-color: @seasonal-brown-2;
                        display: inline-block;
                        height: auto;
                        font-size: 13px;
                        line-height: 13px;
                        letter-spacing: 1px;
                        padding: 13px 18px;
                        margin-top: 0;
                        white-space: nowrap;
                        text-transform: uppercase;
                        .transition(background-color 150ms);
                    }
                    .banner-button:hover {
                        background-color: @seasonal-brown-light-2;
                        .transition(background-color 50ms);
                    }
                }
            }
        }
    }

//=========================== MEDIA QUERIES ===============================

    /* large phones / 460 to 607 */
    @media(min-width: 460px) {
        .backdrop.summer-4-toppings{
            .banner {
                height: 410px;
                background-position: 20% 105px;
                background-size: 650px auto;
                .hero > .content {
                    height: 410px;
                    .accent {
                        max-width: 400px;
                        margin: 60px auto 0;
                        h2 {
                            font-size: 50px;
                            line-height: 54px;
                            letter-spacing: 3px;
                            max-width: 300px;
                        }
                        h3 {
                            font-size: 15px;
                            line-height: 18px;
                            letter-spacing: 0;
                            max-width: 300px;
                        }
                    }
                }
            }
        }
    }

    /* tablet / full nav / vertical type layout / 768 to 992 */
    @media(min-width: @screen-sm-min) {
        .backdrop.summer-4-toppings{
            .banner {
                height: 800px;
                background-position: 30% 0;
                background-size: 1155px;
                background-color: #ffffff;
                .hero > .content {
                    height: 500px;
                    min-height: 500px;
                    .accent {
                        max-width: 400px;
                        margin: 40px auto 0;
                        h2 {
                            font-size: 62px;
                            line-height: 70px;
                            letter-spacing: 3px;
                            margin: 0 auto 8px;
                            max-width: 500px;
                        }
                        h3 {
                            font-size: 16px;
                            line-height: 20px;
                            letter-spacing: 0;
                            margin: 4px auto 30px;
                            max-width: 500px;
                        }
                    }
                }
            }
        }
    }

    /* laptop / horizontal type layout / 992 to 1200 */
    @media(min-width: @screen-md-min) {
        .backdrop.summer-4-toppings {
            .banner {
                background-size: auto;
                background-position: 50% -35px;
            }
        }
    }

    /* Desktop sizes 1220+ */
    @media(min-width: @screen-lg-min) {
        .backdrop.summer-4-toppings{
            .banner {
            }
        }
    }