// breakpoints for Parties & Events category view

.category-parties-events {

  .backdrop .banner {

    @media(max-width: @screen-ms-max){
      background-position: 16% 0%;
    }

  }

  .inset {

    @media(max-width: @screen-sm-max){
      max-width: 370px !important;
      background: #ffffff !important;
      background: rgba(255, 255, 255, 0.94) !important;
    }

    @media(max-width: @screen-ms-max){
      max-width: 82% !important;
    }

    @media(max-width: 390px){
      max-width: @screen-xs !important;
    }

  }

  .tile-row.boundless .banner {

    @media(max-width: @screen-md-max){
      background-position: 30% 50%;
    }

    @media(max-width: @screen-sm-max){
      background-position: 90% 50%;
    }

  }

}