<?php
	$layer = Mage::getSingleton('catalog/layer');
	$_category = $layer->getCurrentCategory();
	//$_category = Mage::registry('current_category');
    $_imgHtml   = '';
    if ($_imgUrl = $_category->getImageUrl()) {
        $_imgHtml = '<p class="category-image"><img src="'.$_imgUrl.'" alt="'.$this->htmlEscape($_category->getName()).'" title="'.$this->htmlEscape($_category->getName()).'" /></p>';
        //$_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
    }	
?>	
<div class="banner">
	<?php if($_imgUrl): ?>
	    <?php echo $_imgHtml ?>
	<?php endif; ?>
	<div class="page-title category-title cat-img-style-<?php echo $_category->getCategoryImageStyle();?>">
	    <h1><?php echo $_category->getName(); ?></h1>
	</div>
</div>