<?php $categoryIds = $this->getCategoryIds(); ?>
<?php $categories = $this->getCategories($categoryIds); ?>

<?php $index = 1; //increment to keep track of the foreach loop, used for determining odd/even, left/right ?>
<?php foreach($categories as $category): ?>
	<div class="cat-tile <?php echo $this->getOddEven($index); ?> <?php echo $index % 2 ? 'left' : 'right'; ?>">
		<div class="cat-tile-content">
			<a class="cat-title" href="<?php echo $this->getUrl($category->getUrlPath()); ?>">
				<div><?php echo $category->getName(); ?></div>
				<img src="<?php echo $this->getUrl('media/catalog/category/') . $category->getThumbnail(); ?>" />
			</a>
		</div>
		<div class="cat-tile-content">
			<ul>
				<?php if($category->getChildrenCount()): ?>
					<?php foreach($this->getChildren($category->getId()) as $child): ?>
						<li><a href="<?php echo $this->getUrl($child->getUrlPath()); ?>"><?php echo $child->getName();?></a></li>
					<?php endforeach; ?>
				<?php else: ?>
					<li><a href="<?php echo $this->getUrl($category->getUrlPath()); ?>"><?php echo $category->getName(); ?></a></li>
				<?php endif; ?>
			</ul>
		</div>
	</div>
	<?php $index++; ?>
<?php endforeach; ?>