<?php
/**
 * Frans
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2012 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<?php
/**
 * Category view template
 *
 * @see Mage_Catalog_Block_Category_View
 */
?>
<?php
    $_helper        = $this->helper('catalog/output');
    $_category      = Mage::getModel('catalog/category')->load($this->getCurrentCategory()->getId());
	$children       = $_category->getChildrenCategories();
    $childrenCount  = count($children);
	$doShowTiles    = false;
	$doShowCms      = false;
	$messages       = trim($this->getMessagesBlock()->getGroupedHtml());
?>

<?php if($this->isContentMode()): ?>
	<?php $doShowCms = true; ?>
<?php elseif($this->isMixedMode()): ?>
	<?php $doShowCms = true; ?>
	<?php $doShowTiles = true; ?>
<?php else: ?>
	<?php $doShowTiles = true; ?>
<?php endif; ?>

<?php if($messages): ?>
	<div class="frans-container"><?php echo $messages; ?></div>
<?php endif; ?>

<?php if($doShowCms): ?>
	<?php if($this->getCmsBlockHtml() != ''): ?>
		<div class="frans-container">
			<?php echo $this->getCmsBlockHtml(); ?>
		</div>
	<?php endif; ?>
<?php endif; ?>

<?php if($doShowTiles): ?>
	<?php if(!$_category->getIsAnchor()): ?>
		<?php echo $this->getProductListHtml(); ?>
	<?php endif; ?>
	<?php echo $this->getChildCategoryHtml(); ?>
	<?php echo $this->getCrosssellHtml(); ?>
<?php endif; ?>