<?php
/** @var GoSolid_Frans_Block_Adminhtml_Sales_Order_View_Tab_Info $this */
?>
<?php $_order = $this->getOrder() ?>
<?php 
	$isParent = $isChild = false;
	$isStandard = true;
	# steps to take before we do any conditional multiship stuff
	if ($_order->getIsMultishipParent())
	{
		$isParent = true;
		$isStandard = false;
	}
	else if ($_order->getIsMultishipChildOrder())
	{
		$isChild = true;
		$isStandard = false;
	}
?>
<div id="popup-window-mask" style="display:none;"></div>
<div>
    <div id="order-messages">
        <?php echo $this->getChildHtml('order_messages') ?>
    </div>
    <?php echo $this->getChildHtml('order_info') ?>
    <input type="hidden" name="order_id" value="<?php echo $_order->getId() ?>"/>
    <?php if ($_order->getIsVirtual() && !$isParent): ?>
    <div class="box-right">
    <?php else: ?>
    <div class="box-left">
    <?php endif; ?>
    <!--Payment Method-->
    <?php echo $this->getPaymentHtml() ?>
    <?php echo $this->getChildHtml('additional_fields') ?>

</div>

	<?php if ($isParent): ?>
	<!--  parents have a quick box with shipping/handling -->
    <div class="box-right">
        <!--Shipping Method-->
        <div class="entry-edit">
            <div class="entry-edit-head">
                <h4 class="icon-head head-shipping-method"><?php echo Mage::helper('sales')->__('Shipping &amp; Handling Information') ?></h4>
            </div>
            <fieldset>
            <?php echo $this->__('See individual shipment orders for tracking information');?>
            </fieldset>
        </div>
	</div>	
	<?php endif;?>
	
    <?php if (!$_order->getIsVirtual()): ?>
    	<?php echo $this->getShippingMethodHtml();?>
    <?php endif; ?>
    <div class="clear"></div>
    
    <?php if ($isParent): ?>
	<!-- parents show destination orders -->
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-products"><?php echo Mage::helper('sales')->__('Shipment Orders') ?></h4>
        </div>
    </div>
    <?php echo $this->getChildOrdersHtml() ?>
    <div class="clear"></div>
    <br />
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-products"><?php echo Mage::helper('sales')->__('Items Ordered (not including canceled items)') ?></h4>
        </div>
    </div>
    <?php echo $this->getAllItemsHtml() ?>
	<br />
	<!-- they also show the sum of items -->
	    
    <?php else: ?>
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-products"><?php echo Mage::helper('sales')->__('Items Ordered') ?></h4>
        </div>
    </div>
    <?php echo $this->getItemsHtml() ?>
    <?php endif; ?>
    <div class="clear"></div>
    <?php if(!$_order->getIsMultishipChildOrder()): ?>
    <div class="box-left">
        <div class="entry-edit">
            <div class="entry-edit-head">
                <h4><?php echo Mage::helper('sales')->__('Comments History') ?></h4>
            </div>
            <fieldset><?php echo $this->getChildHtml('order_history') ?></fieldset>
        </div>
    </div>
    <?php endif; ?>
    <div class="box-right entry-edit">
        <div class="entry-edit-head"><h4><?php echo Mage::helper('sales')->__('Order Totals') ?></h4></div>
        <div class="order-totals" id="order-totals-display"><?php echo $this->getChildHtml('order_totals') ?></div>
    </div>
    <div class="clear"></div>
</div>

    <?php echo $this->getChildHtml('popup_window');?>
    <script type="text/javascript">
        //<![CDATA[
        function getGiftOptionsTooltipContent(itemId) {
            var contentLines = [];
            var headerLine = null;
            var contentLine = null;

            $$('#gift_options_data_' + itemId + ' .gift-options-tooltip-content').each(function (element) {
                if (element.down(0)) {
                    headerLine = element.down(0).innerHTML;
                    contentLine = element.down(0).next().innerHTML;
                    if (contentLine.length > 30) {
                        contentLine = contentLine.slice(0, 30) + '...';
                    }
                    contentLines.push(headerLine + ' ' + contentLine);
                }
            });
            return contentLines.join('<br/>');
        }
        giftOptionsTooltip.setTooltipContentLoaderFunction(getGiftOptionsTooltipContent);
        //]]>
    </script>
