<?php
/**
 * This is a combination of the abstract billing form with our new giftcard stuff
 */
$_giftcardNumber = $this->getGiftcardNumber();
?>

<div class="entry-edit progress-step" id="order-gift_card">
    <div class="entry-edit-head">
        <h4 class="icon-head"><?php echo $this->__('Gift Card') ?></h4>
    </div>

    <?php echo $this->getChildHtml('giftcard'); ?>
</div>

<!-- this is the normal abstract info -->
<div class="entry-edit progress-step" id="order-payment_method">
	<div class="entry-edit-head">
		<div style="float: right;"><?php echo $this->getButtonsHtml() ?></div>
		<h4 class="fieldset-legend <?php echo ($this->getHeaderCssClass()) ? $this->getHeaderCssClass().' icon-head' : '' ?>"><?php echo $this->getHeaderText() ?></h4>
	</div>
	<div class="fieldset">
		<?php echo $this->getChildHtml('form', true, true) ?>
	</div>
	<button type="button" class="scalable save progress-done"><span><span><?php echo $this->__('Done'); ?></span></span></button>
</div>