<?php
/**
@var $this GoSolid_Givex_Block_Adminhtml_Sales_Order_Create_Form_Giftcard
 */

$_giftcardNumber = $this->getGiftcardNumber();
?>
    <fieldset class="np">
        <div id="giftcard_fields" class="content">
        <?php if ($_giftcardNumber): ?>
            <table cellspacing="0" class="form-list">
                <tbody>
                    <tr>
                        <td class="label">
                            <label><?php echo $this->__('Gift Card Number: '); ?></label>
                        </td>
                        <td class="value" id="current_giftcard_number">
                            <?php echo $_giftcardNumber; ?>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label><?php echo $this->__('Balance: '); ?></label>
                        </td>
                        <td class="value">
                            <?php echo Mage::helper('core')->currency($this->getQuote()->getGiftcardBalance(), true, false); ?>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label><?php echo $this->__('Applied Amount: '); ?></label>
                        </td>
                        <td class="value">
                            <?php echo Mage::helper('core')->currency($this->getQuote()->getGiftcardAmount(), true, false); ?>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="f-right">
                <?php echo $this->getChildHtml('remove_button') ?>
            </div>
            <div class="clear"></div>
        </div>
        <?php else: ?>
        <span class="field-row">
            <label class="normal" for="giftcard_number"><?php echo Mage::helper('givex')->__('Gift Card Number') ?></label>
            <input type="text" name="giftcard_number" id="giftcard_number" />
        </span>
            <div class="f-right">
                <?php echo $this->getChildHtml('save_button') ?>
            </div>
            <div class="clear"></div>
        </div>
        <? endif; ?>
    </fieldset>
