<?php
/**
 * Displays the items in the shipment
 */
?>
<div class="grid np">
    <table cellspacing="0" class="data order-tables">
        <thead>
            <tr class="headings">
                <th><?php echo $this->helper('sales')->__('SKU') ?></th>
                <th><?php echo $this->helper('sales')->__('Product') ?></th>
                <th><?php echo $this->helper('sales')->__('Order Qty') ?></th>
                <th class="last"><?php echo $this->helper('sales')->__('Ship Qty') ?></th>
            </tr>
        </thead>
        <?php $_items = $this->getItemsCollection() ?>
        <?php $i=0;foreach ($_items as $_item):?>
            <?php if ($_item->getParentItem()) continue; else $i++;?>
            	<?php $_totalQty = ($_item->getQtyOrdered() - $_item->getQtyCanceled()); ?>
            <tbody class="<?php echo $i%2?'even':'odd' ?>">
            	<tr>
            	<td><?php echo $_item->getSku(); ?></td>
            	<td><?php echo $_item->getName(); ?></td>
            	<td><?php echo $_totalQty; ?></td>
            	<td>
                    <?php //echo $_totalQty; ?>
            		<!-- turning off. for now they will always reship all items.-->
                    <input type="text" name="items[<?php echo $_item->getId();?>]" value="<?php echo ($_totalQty - $_item->getQtyShipped()); ?>" size="3"/>

            	</td>
            </tr>
            </tbody>
        <?php endforeach; ?>
        <tr class="border">
        	<td colspan="4" class="last"></td>
        </tr>
    </table>
</div>
<br />
