// Overrides Bootstrap's grid.less to add support for "ms" breakpoint

// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.
.container {
  @media (min-width: @screen-ms-min) and (max-width: @screen-ms-max) {
    max-width: @container-ms;
  }
}

// Generate the medium-small columns
.make-ms-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  (@gutter / 2);
  padding-right: (@gutter / 2);

  @media (min-width: @screen-ms-min) {
    float: left;
    width: percentage((@columns / @grid-columns));
  }
}
.make-ms-column-offset(@columns) {
  @media (min-width: @screen-ms-min) {
    margin-left: percentage((@columns / @grid-columns));
  }
}
.make-ms-column-push(@columns) {
  @media (min-width: @screen-ms-min) {
    left: percentage((@columns / @grid-columns));
  }
}
.make-ms-column-pull(@columns) {
  @media (min-width: @screen-ms-min) {
    right: percentage((@columns / @grid-columns));
  }
}