// Overrides Bootstrap's responsive-utilities.less to add support for "ms" breakpoint

.visible-ms {
  .responsive-invisibility();
}

.visible-ms-block,
.visible-ms-inline,
.visible-ms-inline-block {
  display: none !important;
}

.visible-ms {
  @media (min-width: @screen-ms-min) and (max-width: @screen-ms-max) {
    .responsive-visibility();
  }
}

.visible-ms-block {
  @media (min-width: @screen-ms-min) and (max-width: @screen-ms-max) {
    display: block !important;
  }
}
.visible-ms-inline {
  @media (min-width: @screen-ms-min) and (max-width: @screen-ms-max) {
    display: inline !important;
  }
}
.visible-ms-inline-block {
  @media (min-width: @screen-ms-min) and (max-width: @screen-ms-max) {
    display: inline-block !important;
  }
}

.hidden-ms {
  @media (min-width: @screen-ms-min) and (max-width: @screen-ms-max) {
    .responsive-invisibility();
  }
}