// Overrides Bootstrap's variables.less to add support for "ms" breakpoint


// Media queries breakpoints
//
//

@screen-ms: (591px + @scrollbar-width);
@screen-ms-min: @screen-ms;
@screen-ms-max: (@screen-sm-min - 1);
@screen-xs-max: (@screen-ms-min - 1);

//== Container sizes
//
//

@container-ms:                 590px;