<?php // two rows, each with three tiles of equal size ?>
<?php // collapses to three rows of two tiles each ?>
<?php // then collapses again to six rows with one tile on each for mobile devices ?>

<?php $categories = $this->getCategories(); ?>

<?php if(count($categories) > 0): ?>
	<div class="tile-row all-products">

		<?php if(isset($categories[0])): ?>
			<div class="tile one">
				<?php echo $this->getTileHtml($categories[0], 'all-products'); ?>
			</div>
		<?php endif; ?>

		<?php if(isset($categories[1])): ?>
			<div class="tile two">
				<?php echo $this->getTileHtml($categories[1], 'all-products'); ?>
			</div>
		<?php endif; ?>

		<?php if(isset($categories[2])): ?>
			<div class="tile three">
				<?php echo $this->getTileHtml($categories[2], 'all-products'); ?>
			</div>
		<?php endif; ?>

		<?php if(isset($categories[3])): ?>
			<div class="tile four">
				<?php echo $this->getTileHtml($categories[3], 'all-products'); ?>
			</div>
		<?php endif; ?>

		<?php if(isset($categories[4])): ?>
			<div class="tile five">
				<?php echo $this->getTileHtml($categories[4], 'all-products'); ?>
			</div>
		<?php endif; ?>

		<?php if(isset($categories[5])): ?>
			<div class="tile six">
				<?php echo $this->getTileHtml($categories[5], 'all-products'); ?>
			</div>
		<?php endif; ?>

	</div>
<?php endif; ?>