<?php // row of one full-width tile with details on right side ?>

<?php $categories = $this->getCategories(); ?>

<?php if(count($categories) > 0): ?>
	<div class="tile-row one">

		<?php if(isset($categories[0])): ?>
			<div class="tile one">
				<?php echo $this->getTileHtml($categories[0], 'details-right'); ?>
			</div>
		<?php endif; ?>

	</div>
<?php endif; ?>