<?php // row of one full-width "feature" backdrop including inset with description and ?>
<?php // action image and label, the inset is on the right for large devices, then centers ?>
<?php // for mobile devices ?>

<?php $categories = $this->getCategories(); ?>

<?php if(count($categories) > 0): ?>

	<?php if(isset($categories[0])): ?>

		<div class="backdrop">
			<div class="col-xs-12">
				<?php echo $this->getTileHtml($categories[0], 'inset-right'); ?>
			</div>
		</div>

	<?php endif; ?>

<?php endif; ?>