<?php // row of slim tiles, one for each category (up to five) ?>

<?php $categories = $this->getCategories(); ?>
<?php $helper = $this->helper('frans'); ?>
<?php $categoryCount = count($categories); ?>

<?php if(($categoryCount > 0) && ($categoryCount < 6)): ?>

	<div class="tile-row <?php echo $helper->getNumberText($categoryCount); ?>">

		<?php foreach($categories as $index => $category): ?>
			<div class="tile <?php echo $helper->getNumberText($index + 1); ?>">
				<?php echo $this->getTileHtml($category, 'slim'); ?>
			</div>
		<?php endforeach; ?>

	</div>

<?php endif; ?>