<?php // row of slim tiles, one for each child category (up to five) ?>
<?php // this layout is built to show the children of a single category ?>

<?php $categories = $this->getCategories(); ?>
<?php $helper = $this->helper('frans'); ?>
<?php $categoryHelper = $this->helper('catalog/category'); ?>

<?php if(count($categories) == 1): // do nothing if there are multiple categories here ?>

	<?php $children = $categoryHelper->getChildCategories($categories[0]); ?>
	<?php $childrenCount = count($children); ?>

	<?php if($childrenCount > 0): ?>

		<?php if($childrenCount > 5): ?>
			<?php $children = array_slice($children, 0, 5); // remove everything after the fifth category ?>
			<?php $childrenCount = 5; ?>
		<?php endif; ?>

		<div class="tile-row <?php echo $helper->getNumberText($childrenCount); ?>">

			<?php foreach($children as $index => $child): ?>
				<div class="tile <?php echo $helper->getNumberText($index + 1); ?>">
					<?php echo $this->getTileHtml($child, 'slim'); ?>
				</div>
			<?php endforeach; ?>

		</div>

	<?php endif; ?>

<?php endif; ?>