<?php // row of three tiles of equal size ?>
<?php // collapses to two rows, the first with two medium tiles, the second with one large ones ?>
<?php // then collapses again to three rows with one tile on each for mobile devices ?>
<?php // note this uses the three-flip row class, which collapses differently than the one used ?>
<?php // by the product version of this row template (catalog/product/list/layout/row/three.phtml) ?>

<?php $categories = $this->getCategories(); ?>

<?php if(count($categories) > 0): ?>
	<div class="tile-row three-flip">

		<?php if(isset($categories[0])): ?>
			<div class="tile one">
				<?php echo $this->getTileHtml($categories[0], 'default'); ?>
			</div>
		<?php endif; ?>

		<?php if(isset($categories[1])): ?>
			<div class="tile two">
				<?php echo $this->getTileHtml($categories[1], 'default'); ?>
			</div>
		<?php endif; ?>

		<?php if(isset($categories[2])): ?>
			<div class="tile three">
				<?php echo $this->getTileHtml($categories[2], 'default'); ?>
			</div>
		<?php endif; ?>

	</div>
<?php endif; ?>