<?php // row of two tiles of equal size ?>

<?php $categories = $this->getCategories(); ?>

<?php if(count($categories) > 0): ?>
	<div class="tile-row two">

		<?php if(isset($categories[0])): ?>
			<div class="tile one">
				<?php echo $this->getTileHtml($categories[0], 'default'); ?>
			</div>
		<?php endif; ?>

		<?php if(isset($categories[1])): ?>
			<div class="tile two">
				<?php echo $this->getTileHtml($categories[1], 'default'); ?>
			</div>
		<?php endif; ?>

	</div>
<?php endif; ?>