//
// This LESS mixin file is updated automatically by TexturePacker.
// If you manually make changes to this file, they will be overwritten!
//
// Please review internal documentation for info about updating spritesheets:
// http://connect.gosolid.net/public/index.php?path_info=projects%2F128%2Fpages%2F74344
//
// SmartUpdateHash: {{smartUpdateKey}}
//{% load makecssselector %}{% load getscalefactor %}{% load isretinasprite %}{% load isiestylesheet %}{% if variantIndex|isiestylesheet %}{% load gettimestamp %}

// append a timestamp (generated once per publish) to the URLs to invalidate old cached spritesheets
@sprite-timestamp: '{{smartUpdateKey|gettimestamp}}';

// load the styles for downscaled sprites, to enable retina sprite support for browsers that don't support background-size
@import "sprites-downscaled.less";

// Global mixin used for all sprites
.sprite(@sprite-name; @sprite-display: block){
  display: @sprite-display;
  background-image: url('@{image-path}{{texture.fullName}}?@{sprite-timestamp}');
  background-repeat: no-repeat;
  .sprite-info(@sprite-name);
  content: '';
}

// Individual sprite definitions below this point
{% for sprite in sprites %}
.sprite-info('{{sprite.trimmedName|makecssselector}}') {
  @scale-factor: {{sprite.trimmedName|getscalefactor}};
  background-position: (-{{sprite.frameRect.x}}px * @scale-factor) (-{{sprite.frameRect.y}}px * @scale-factor);
  width: ({{sprite.frameRect.width}}px * @scale-factor);
  height: ({{sprite.frameRect.height}}px * @scale-factor);
  background-size: floor({{texture.size.width}}px * @scale-factor) floor({{texture.size.height}}px * @scale-factor);
}
{% endfor %}{% else %}
@image-path: "/skin/frontend/frans/frans/images/";

// Individual sprite overrides for retina sprites only, using downscaled spritesheet for browsers that don't support background-size
{% for sprite in sprites %}{% if sprite.trimmedName|isretinasprite %}
.sprite-info('{{sprite.trimmedName|makecssselector}}') {
  body.nobgsize & {
    background-image: url('@{image-path}{{texture.fullName}}?@{sprite-timestamp}') !important;
  }	
}
{% endif %}{% endfor %}{% endif %}