<?php
/*
 * Email wrapper designed for Fran's Chocolates. All outgoing emails with
 * template types designated as HTML will be wrapped in this markup.
 * 
 * Note that the individual templates should work fine if the structure of
 * this wrapper is modified, EXCEPT for the Virtual Gift Card template,
 * which is a special case. Be sure to check that any changes here do not
 * disrupt it.
 *
 * Liberal use of the <font> tag in this template is for Outlook compatibility
 * since that email client is unable to handle the web font stack properly.
 *
 */
?>

<?php

	$isTestMode     = $this->getIsTestMode();
	$hideWrapper	= (bool) strpos($this->getContent(), '<!--hidewrapper-->');

	if($isTestMode){
		$logoUrl			= $this->getSkinUrl('images/email/logo.png');
		$borderTopUrl		= $this->getSkinUrl('images/email/border-top.png');
		$borderBottomUrl	= $this->getSkinUrl('images/email/border-bottom.png');
		$facebookImageUrl	= $this->getSkinUrl('images/email/social-facebook.png');
		$twitterImageUrl	= $this->getSkinUrl('images/email/social-twitter.png');
		$homeUrl			= $this->getUrl('');
		$giftCardsUrl		= $this->getUrl('gift-cards');
		$locationsUrl		= $this->getUrl('locations');
		$myAccountUrl		= $this->getUrl('customer/account');
		$phoneNumber		= Mage::getStoreConfig('general/store_information/phone');
		$filter				= Mage::getSingleton('core/email_template_filter');
		$content			= $filter->filter($this->getContent());
	} else {
		$logoUrl			= '{{skin url="images/email/logo.png"}}';
		$borderTopUrl		= '{{skin url="images/email/border-top.png"}}';
		$borderBottomUrl	= '{{skin url="images/email/border-bottom.png"}}';
		$facebookImageUrl	= '{{skin url="images/email/social-facebook.png"}}';
		$twitterImageUrl	= '{{skin url="images/email/social-twitter.png"}}';
		$homeUrl			= '{{store url=""}}';
		$giftCardsUrl		= '{{store url="gift-cards"}}';
		$locationsUrl		= '{{store url="locations"}}';
		$myAccountUrl		= '{{store url="customer/account"}}';
		$phoneNumber		= '{{config path="general/store_information/phone"}}';
		$content			= $this->getContent();
	}
	
	$baseFontPath = 'css/fonts';
	
	/* All available fonts listed here */
	$fonts = array(
		'tradegothic' => array(
			'TradeGothicLTCom-Bd2Obl'		=> '25B5BF_0_0',
			'TradeGothicLTCom-Bd2'			=> '25B5BF_1_0',
			'TradeGothicLTCom-Cn18Obl'		=> '25B5BF_2_0',
			'TradeGothicLTCom-BdCn20'		=> '25B5BF_3_0',
			'TradeGothicLTCom-BdCn20Obl'	=> '25B5BF_4_0',
			'TradeGothicLTCom-Obl'			=> '25B5BF_5_0',
			'TradeGothicLTCom-BoldObl'		=> '25B5BF_6_0',
			'TradeGothicLTStd-Extended'		=> '25B5BF_7_0',
			'TradeGothicLTStd-BoldExt'		=> '25B5BF_8_0',
			'TradeGothicLT'					=> '25B5BF_9_0',
			'TradeGothicLT-CondEighteen'	=> '25B5BF_A_0',
			'TradeGothicLT-Light'			=> '25B5BF_B_0',
			'TradeGothicLT-LightOblique'	=> '25B5BF_C_0',
			'TradeGothicLT-Bold'			=> '25B5BF_D_0'
		)
	);
	
?>

<?php if($this->getIsHtmlTemplate()): ?>
	<?php if($isTestMode): ?>
		<style type="text/css">
	<?php else: ?>
		<!--@styles
	<?php endif; ?>
			@import url("//hello.myfonts.net/count/25b5bf");
			
			<?php $fontPath = $baseFontPath . '/' . 'tradegothic' . '/'; ?>
			
			<?php // TODO: Find out why some font URLs are being generated with /skin/frontend/base/default/ instead of /skin/frontend/base/frans/ ?>
			
			@font-face {
				<?php $fileName = '25B5BF_B_0'; ?>
				<?php $eotUrl	= $isTestMode ? $this->getSkinUrl($fontPath . $fileName . '.eot')			: '{{skin url="' . $fontPath . $fileName . '.eot"}}'; ?>
				<?php $iefixUrl	= $isTestMode ? $this->getSkinUrl($fontPath . $fileName . '.eot?#iefix')	: '{{skin url="' . $fontPath . $fileName . '.eot?#iefix"}}'; ?>
				<?php $woffUrl	= $isTestMode ? $this->getSkinUrl($fontPath . $fileName . '.woff')			: '{{skin url="' . $fontPath . $fileName . '.woff"}}'; ?>
				<?php $ttfUrl	= $isTestMode ? $this->getSkinUrl($fontPath . $fileName . '.ttf')			: '{{skin url="' . $fontPath . $fileName . '.ttf"}}'; ?>
				font-family: 'Trade Gothic';
				src: url('<?php echo $eotUrl; ?>');
				src: url('<?php echo $iefixUrl; ?>') format('embedded-opentype'),url('<?php echo $woffUrl; ?>') format('woff'),url('<?php echo $ttfUrl; ?>') format('truetype');
				font-weight: normal;
				font-style: normal;
			}
			@font-face {
				<?php $fileName = '25B5BF_1_0'; ?>
				<?php $eotUrl	= $isTestMode ? $this->getSkinUrl($fontPath . $fileName . '.eot')			: '{{skin url="' . $fontPath . $fileName . '.eot"}}'; ?>
				<?php $iefixUrl	= $isTestMode ? $this->getSkinUrl($fontPath . $fileName . '.eot?#iefix')	: '{{skin url="' . $fontPath . $fileName . '.eot?#iefix"}}'; ?>
				<?php $woffUrl	= $isTestMode ? $this->getSkinUrl($fontPath . $fileName . '.woff')			: '{{skin url="' . $fontPath . $fileName . '.woff"}}'; ?>
				<?php $ttfUrl	= $isTestMode ? $this->getSkinUrl($fontPath . $fileName . '.ttf')			: '{{skin url="' . $fontPath . $fileName . '.ttf"}}'; ?>
				font-family: 'Trade Gothic';
				src: url('<?php echo $eotUrl; ?>');
				src: url('<?php echo $iefixUrl; ?>') format('embedded-opentype'),url('<?php echo $woffUrl; ?>') format('woff'),url('<?php echo $ttfUrl; ?>') format('truetype');
				font-weight: bold;
				font-style: normal;
			}
			@font-face {
				<?php $fileName = '25B5BF_C_0'; ?>
				<?php $eotUrl	= $isTestMode ? $this->getSkinUrl($fontPath . $fileName . '.eot')			: '{{skin url="' . $fontPath . $fileName . '.eot"}}'; ?>
				<?php $iefixUrl	= $isTestMode ? $this->getSkinUrl($fontPath . $fileName . '.eot?#iefix')	: '{{skin url="' . $fontPath . $fileName . '.eot?#iefix"}}'; ?>
				<?php $woffUrl	= $isTestMode ? $this->getSkinUrl($fontPath . $fileName . '.woff')			: '{{skin url="' . $fontPath . $fileName . '.woff"}}'; ?>
				<?php $ttfUrl	= $isTestMode ? $this->getSkinUrl($fontPath . $fileName . '.ttf')			: '{{skin url="' . $fontPath . $fileName . '.ttf"}}'; ?>
				font-family: 'Trade Gothic';
				src: url('<?php echo $eotUrl; ?>');
				src: url('<?php echo $iefixUrl; ?>') format('embedded-opentype'),url('<?php echo $woffUrl; ?>') format('woff'),url('<?php echo $ttfUrl; ?>') format('truetype');
				font-weight: normal;
				font-style: italic;
			}
			@font-face {
				<?php $fileName = '25B5BF_0_0'; ?>
				<?php $eotUrl	= $isTestMode ? $this->getSkinUrl($fontPath . $fileName . '.eot')			: '{{skin url="' . $fontPath . $fileName . '.eot"}}'; ?>
				<?php $iefixUrl	= $isTestMode ? $this->getSkinUrl($fontPath . $fileName . '.eot?#iefix')	: '{{skin url="' . $fontPath . $fileName . '.eot?#iefix"}}'; ?>
				<?php $woffUrl	= $isTestMode ? $this->getSkinUrl($fontPath . $fileName . '.woff')			: '{{skin url="' . $fontPath . $fileName . '.woff"}}'; ?>
				<?php $ttfUrl	= $isTestMode ? $this->getSkinUrl($fontPath . $fileName . '.ttf')			: '{{skin url="' . $fontPath . $fileName . '.ttf"}}'; ?>
				font-family: 'Trade Gothic';
				src: url('<?php echo $eotUrl; ?>');
				src: url('<?php echo $iefixUrl; ?>') format('embedded-opentype'),url('<?php echo $woffUrl; ?>') format('woff'),url('<?php echo $ttfUrl; ?>') format('truetype');
				font-weight: bold;
				font-style: italic;
			}
			
			a:hover { color: inherit; text-decoration: none !important; }
			.email-footer-links a:hover { color: #333 !important; }
			h1,h2,h3,h4,h5,p,span,div,ul,li { margin: 0; padding: 0; line-height: 1.3em; }

	<?php if($isTestMode): ?>
		</style>
	<?php else: ?>
		@-->
	<?php endif; ?>
<body style="background-color: #ebebeb;
	font: 9.3pt/1.5em sans-serif;
	font: 9.3pt/1.5em Arial;
	font: 9.3pt/1.5em Helvetica;
	font: 10pt/normal 'Trade Gothic';
	color: #909090;
	line-height: 1.7em;
	margin: 0;">
	<?php if(!$hideWrapper): ?>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td style="background-color: #ebebeb;">
					<table width="700" cellpadding="0" cellspacing="0" style="width: 700px; margin: 0 auto;" align="center">
							<tr><td height="30">&nbsp;</td></tr>
							<tr>
								<td height="104" style="vertical-align: top; text-align: center;">
									<a href="<?php echo $homeUrl; ?>"><img src="<?php echo $logoUrl; ?>" alt="Fran's Chocolates" style="border: 0;" /></a>
								</td>
							</tr>
						<tr>
							<td height="3" style="line-height: 0;"><img src="<?php echo $borderTopUrl; ?>" style="vertical-align: bottom;" /></td>
						</tr>
						<tr>
							<td style="background-color: #fff;">
	<?php endif; ?>
<?php endif; ?>

<?php echo $content; ?>

<?php if($this->getIsHtmlTemplate()): ?>
	<?php if(!$hideWrapper): ?>
							</td>
						</tr>
						<tr>
							<td height="3" style="line-height: 0;"><img src="<?php echo $borderBottomUrl; ?>" style="vertical-align: top;" /></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	<?php endif; ?>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td style="background-color: #ebebeb;">
				<table width="700" cellpadding="0" cellspacing="0" style="width: 700px; margin: 0 auto;" align="center">
					<tr>
						<td height="57" style="text-align: center; line-height: 0;">
							<table cellpadding="0" cellspacing="0">
								<tr>
									<td width="50%" style="text-align: right;">
										<a href="http://www.facebook.com/franschocolates" title="Visit Fran's Chocolates on Facebook"><img src="<?php echo $facebookImageUrl; ?>" border="0" alt="Visit Fran's Chocolates on Facebook" /></a>
									</td>
									<td width="15">
										<table width="15" style="line-height: 0;">
											<tr>
												<td>&nbsp;</td>
											</tr>
										</table>
									</td>
									<td width="50%" style="text-align: left;">
										<a href="http://www.twitter.com/franschocolates" title="Visit Fran's Chocolates on Twitter"><img src="<?php echo $twitterImageUrl; ?>" border="0" alt="Visit Fran's Chocolates on Twitter" /></a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr class="email-footer-links">
						<td height="18">
							<table width="100%" cellpadding="0" cellspacing="0" style="line-height: 18px;">
								<tr>
									<td width="129"></td>
									<td width="110" style="border-right: 1px solid #aaaaaa; text-align: center;">
										<a style="color: #666666; text-decoration: none;" href="<?php echo $homeUrl; ?>"><font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">SHOP FRAN'S</font></a>
									</td>
									<td width="104" style="border-right: 1px solid #aaaaaa; text-align: center;">
										<a style="color: #666666; text-decoration: none;" href="<?php echo $giftCardsUrl; ?>"><font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">GIFT CARDS</font></a>
									</td>
									<td width="101" style="border-right: 1px solid #aaaaaa; text-align: center;">
										<a style="color: #666666; text-decoration: none;" href="<?php echo $locationsUrl; ?>"><font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">LOCATIONS</font></a>
									</td>
									<td width="132" style="text-align: center;">
										<a style="color: #666666; text-decoration: none;" href="<?php echo $myAccountUrl; ?>"><font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">YOUR ACCOUNT</font></a>
									</td>
									<td width="124"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<p style="margin: 20px 0 50px; color: #aaa; text-align: center;">
                                <font face="'Trade Gothic', Helvetica, Arial, sans-serif" size="2">
                                    <?php echo Mage::getStoreConfig('shipping/origin/street_line1'); ?>
                                    <?php echo Mage::getStoreConfig('shipping/origin/street_line2'); ?>
                                    <?php echo Mage::getStoreConfig('shipping/origin/city'); ?>,
                                    <?php echo Mage::getModel('directory/region')->load(Mage::getStoreConfig('shipping/origin/region_id'))->getCode(); ?>
                                    <?php echo Mage::getStoreConfig('shipping/origin/postcode'); ?> | <?php echo Mage::getStoreConfig('general/store_information/tollfree_number'); ?>
							    </font>
                            </p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
<?php endif; ?>