<div class="frans-container">
    <h1>Fran's Web Style Guide</h1>
    <h2>Fonts</h2>
    
    <div class="font-container">
        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
    </div>
    
    <div class="font-container">
        <h2 class="font-tg-frans-01">Trade Gothic</h2>
        <h2 class="font-tg-frans-02">Trade Gothic Bold</h2>
        <h2 class="font-tg-frans-03">Trade Gothic Italic</h2>
        <h2 class="font-tg-frans-04">Trade Gothic Bold Italic</h2>
        <h2 class="font-tg-frans-05">Trade Gothic Light</h2>
    </div>
    
    <div class="font-container">
        <h2 class="font-tg-01">Trade Gothic 01</h2>
        <h2 class="font-tg-02">Trade Gothic 02</h2>
        <h2 class="font-tg-03">Trade Gothic 03</h2>
        <h2 class="font-tg-04">Trade Gothic 04</h2>
        <h2 class="font-tg-05">Trade Gothic 05</h2>
        <h2 class="font-tg-06">Trade Gothic 06</h2>
        <h2 class="font-tg-07">Trade Gothic 07</h2>
        <h2 class="font-tg-08">Trade Gothic 08</h2>
        <h2 class="font-tg-09">Trade Gothic 09</h2>
        <h2 class="font-tg-10">Trade Gothic 10</h2>
        <h2 class="font-tg-11">Trade Gothic 11</h2>
        <h2 class="font-tg-12">Trade Gothic 12</h2>
        <h2 class="font-tg-13">Trade Gothic 13</h2>
        <h2 class="font-tg-14">Trade Gothic 14</h2>
    </div>
    
    <div class="font-container">
        <h2 class="font-gotham-01">Gotham 01</h2>
        <h2 class="font-gotham-02">Gotham 02</h2>
        <h2 class="font-gotham-03">Gotham 03</h2>
        <h2 class="font-gotham-04">Gotham 04</h2>
        <h2 class="font-gotham-05">Gotham 05</h2>
        <h2 class="font-gotham-06">Gotham 06</h2>
        <h2 class="font-gotham-07">Gotham 07</h2>
        <h2 class="font-gotham-08">Gotham 08</h2>
        <h2 class="font-gotham-09">Gotham 09</h2>
        <h2 class="font-gotham-10">Gotham 10</h2>
        <h2 class="font-gotham-11">Gotham 11</h2>
        <h2 class="font-gotham-12">Gotham 12</h2>
        <h2 class="font-gotham-13">Gotham 13</h2>
        <h2 class="font-gotham-14">Gotham 14</h2>
        <h2 class="font-gotham-15">Gotham 15</h2>
        <h2 class="font-gotham-16">Gotham 16</h2>
        <h2 class="font-gotham-15">Gotham 17</h2>
        <h2 class="font-gotham-16">Gotham 18</h2>
    </div>
    
    <div class="font-container">
        <h2 class="font-didot-01">Didot 01</h2>
        <h2 class="font-didot-02">Didot 02</h2>
    </div>
    
    <h2>Heroes</h2>
</div>
