<?php
	$_quote = $this->getQuote();
	$_cardNumber = $_quote->getGiftcardNumber();
	$_cardAmount = $_quote->getGiftcardAmount();
	$_cardBalance = $_quote->getGiftcardBalance();
	$_cardRemoved = $_quote->getGiftcardRemoved();
	if ($_cardNumber)
	{
	    $_remainingTotal = $_quote->getGrandTotal();
	    $_coversBalance = !($_remainingTotal > 0);
	}

	// NOTE: we have to do some JS down below because we want to make sure it happens both when the entire
	// payment block loads (ie, they open the step), and when they load just giftcard info via AJAX
?>

<div class="form-row giftcard-header">
	<div class="col-xs-12">
		<h5><?php echo $this->__("Have a Fran's Gift Card?"); ?></h5>
	</div>
</div>


<?php if($_cardNumber && $_coversBalance): ?>
	<div class="form-row">
		<div class="col-xs-12 giftcard-message">
			<?php echo sprintf($this->__('%s has been applied from gift card %s.'),
				$this->helper('core')->formatPrice($_cardAmount),
				substr($_cardNumber, -4)
			); ?>
		</div>
	</div>
<?php elseif($_cardNumber): ?>
	<div class="form-row">
		<div class="col-xs-12 giftcard-message">
			<?php echo sprintf($this->__('%s has been applied from gift card %s.'),
				$this->helper('core')->formatPrice($_cardAmount),
				substr($_cardNumber, -4)
			); ?>
			<span class="giftcard-balance-message"><?php echo sprintf($this->__('Please enter a credit card for the remaining balance of %s.'), $this->helper('core')->formatPrice($_remainingTotal)); ?></span>
		</div>
	</div>
	<script type='text/javascript'> setGiftcardPaymentDetails(false); </script>
<?php elseif ($_cardRemoved): ?>
	<div class="form-row">
		<div class="col-xs-12 giftcard-message">
			<?php echo $this->__('Gift card %s has been removed as payment.',
				substr($_quote->getGiftcardRemovedNumber(), -4)); ?>
		</div>
	</div>
<?php endif; ?>

<div class="form-row">
	<div class="col-xs-12 giftcard-entry">
		<input id="giftcard_number" class="input-text giftcard-number<?php if ($_cardNumber) echo ' valid'; ?>" type="text" placeholder="<?php echo $this->__('Gift card number'); ?>" autocomplete="off" <?php if ($_cardNumber) echo "value='$_cardNumber' disabled"; ?>/>
		<?php if($_cardNumber): ?>
			<button type="submit" class="button plain infield active giftcard-remove" title="<?php echo $this->__('Remove'); ?>"><span><span><?php echo $this->__('Remove'); ?></span></span></button>
		<?php endif; ?>
	</div>
	<span id="giftcard-validation-sync"></span>
	<?php if($_cardNumber): ?>
		<span id="giftcard-validation-check"></span>
	<?php endif; ?>
</div>


	<script type='text/javascript'>

		jQuery("#giftcard_number").typeWatch({
			callback: tryApplyGiftcardTypeWatch,
			wait: 750,
			highlight: true,
			allowSubmit: false,
			captureLength: 10
		});

		<?php if ($_cardNumber && $_coversBalance): ?>
		// have to set selected tab this way (referencing payment phtml JS) else it runs before tabs are setup and nothing happens
		selectedTab = '.tab-gift';
		setGiftcardPaymentDetails(true);
		<?php endif; ?>
	</script>
