<?php
/** @var GoSolid_Frans_Block_Adminhtml_Customer_Edit_Address $this */

    $_address = $this->getAddress();
?>
<div class="customer-address-buttons">
    <?php echo $this->getButtonsHtml() ?>
</div>
<? echo $this->getFormHtml(); ?>
<div class="customer-address-buttons">
    <?php echo $this->getButtonsHtml() ?>
</div>