<?php /** @var IntellectLabs_Stripe_Block_Adminhtml_Customer_Edit_Tab_Stripe $this */ ?>
<?php
$existingDetailsHtml = false;
$stripeIdError = false;
$canEdit = Mage::getSingleton('admin/session')->isAllowed('admin/customer/manage/editstripe');
$stripeCustomerId = $this->getStripeCustomerId();
try {
    $existingDetailsHtml = $this->getPaymentHtml();
}catch(Exception $ex){
    $stripeIdError = $ex->getMessage();
}
?>
<div id="customer_info_tabs_customer_edit_tab_stripe_content">
	<div class="entry-edit">
		<div class="entry-edit-head">
			<h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Stripe Details'); ?></h4>
		</div>
		<div class="fieldset">
			<div class="hor-scroll">
                <?php if($canEdit): ?>
                <strong>Customer Stripe ID</strong>
                <br>
                <input type="text" id="_accountstripe_customer_id" name="account[stripe_customer_id]" value="<?php echo($stripeCustomerId); ?>" class=" input-text real-stripe-field">
                <?php if($existingDetailsHtml): ?>
                    <font class="stripe-status stripe-valid" id="advice-stripe_customer_id">Valid Customer</font>
                <?php else: ?>
                    <font class="stripe-status stripe-invalid" id="advice-stripe_customer_id">
                        <?php if($stripeIdError): ?>
                            <?php echo($stripeIdError); ?>
                        <?php else: ?>
                            Invalid Stripe ID
                        <?php endif; ?>
                        </font>
                <?php endif; ?>
                <hr style="margin:20px; color:#ebebeb;">
                <? endif; ?>
                <? if ($existingDetailsHtml): ?>
                    <h5><? echo $this->__('Current Payment Information'); ?></h5>
                    <? echo $existingDetailsHtml; ?>
                    <?php if($canEdit): ?>
                    <div>
                        <button id="stripe-delete-payment" title="<? echo $this->__('Delete All Customer Stripe Information'); ?>" type="button" class="scalable save" ><span><span><span><? echo $this->__('Delete All Customer Stripe Information'); ?></span></span></span></button>
                    </div>
                    <?php endif; ?>
                <? endif; ?>
                <div class="clear"></div>
                <p>Customers can edit their payment details within their account. If an admin needs to
                edit their stripe details, they can do it within <a target="_blank" href="<? echo $this->getStripeUrl(); ?>">Stripe</a>.</p>
                <? if ($this->getStripeCustomerId() && $existingDetailsHtml): ?>
                <p><a target="_blank" href="<? echo $this->getStripeUrl($this->getStripeCustomerId()); ?>">Edit this customer in Stripe</a></p>
                <? endif; ?>
			</div>
		</div>
	</div>
</div>
<style>
    .stripe-status{
        clear: both;
        min-height: 15px;
        margin: 3px 0 0 9px;
        font-size: .95em;
        font-weight: bold;
        line-height: 1.25em;
        font-weight: bold !important;
        color: #005580;
    }
    .stripe-invalid{
        color: #D40707 !important;
    }
    .stripe-valid{
        color: #27a363 !important;
    }
</style>
<script type="text/javascript">
    var sscid = '<?=$this->getStripeCustomerId()?>';
    $$('#_accountstripe_customer_id').first().up(1).remove();
<?php if($canEdit): ?>
    $$('.real-stripe-field').first().observe('keyup',function(){
        $('advice-stripe_customer_id').replace('<font class="stripe-status" id="advice-stripe_customer_id">Save to validate.</font>');
    });
<?php if ($this->getStripeCustomerId() && $existingDetailsHtml): ?>
    $('stripe-delete-payment').observe('click',function(){
        var request = new Ajax.Request(
            '<?php echo $this->getUrl("adminhtml/stripe/delete", array('customer_id' => $this->getCustomer()->getId())) ?>',
            {
                method:'post',
                onComplete: stripeComplete,
                onSuccess: stripeSuccess,
                onFailure: stripeFailure,
                parameters: { stripe_customer_id: '<?php echo $stripeCustomerId; ?>' }
            }
        );
    });

    function stripeComplete(transport) {
        //    setLoading(false);
    }

    function stripeSuccess(transport) {
        //  setLoading(false);
        window.location.reload();
    }


    function stripeFailure(transport) {
        if (transport && transport.responseText){
            try{
                response = eval('(' + transport.responseText + ')');
            }
            catch (e) {
                response = {};
            }
        }

        if (response.error) {
            if (response.fields) {
                var fields = response.fields.split(',');
                for (var i=0;i<fields.length;i++) {
                    var field = null;
                    if (field = $(fields[i])) {
                        Validation.ajaxError(field, response.error);
                    }
                }
                return;
            }
            alert(response.error);
            return;
        }
    }

    <? endif; ?>
<?php endif; ?>
</script>
