<?php
/**
 * This code lovingly adapted from Magento's sales/order/create/shipping/method/form.phtml
 */
$_order = $this->getOrder();
$_quote = Mage::getModel("sales/quote")->loadByIdWithoutStore($_order->getQuoteId());

$_quoteAddress = $_order->getShippingAddress()->getQuoteAddress();
$_originalAmount = ($_quoteAddress) ? $_quoteAddress->getShippingAmount() : 0;

$ratesLoaded = false;
?>
<?php /** @var $this GoSolid_Frans_Block_Adminhtml_Sales_Order_View_Shipping_Method_Form */ ?>
<div class="box-right" id="shipping-method-form">
	<form id="order-ship-method" action="<? echo $this->getSaveUrl(); ?>" method="post">
	<input type="hidden" name="form_key" value="<? echo $this->getFormKey(); ?>" />  
    <!--Shipping Method-->
        <div class="entry-edit">
            <div class="entry-edit-head">
                <h4 class="icon-head head-shipping-method"><?php echo Mage::helper('frans')->__('Shipping Information') ?></h4>
				<?php if (!$this->getIsMethodLocked()): ?>
				<div class="tools shipping-method-display" <?php if ($this->getIsEditMode()) echo "style='display:none;'"; ?>><a href="#" id="start-edit-shippping">Edit</a></div>
				<?php endif; ?>
            </div>
            <fieldset>
                <?php  if ($_order->getTracksCollection()->count()) : ?>
                <a href="#" id="linkId"
                   onclick="popWin('<?php echo $this->helper('shipping')->getTrackingPopupUrlBySalesModel($_order) ?>','trackorder','width=800,height=600,resizable=yes,scrollbars=yes')"
                   title="<?php echo $this->__('Track Order') ?>"><?php echo $this->__('Track Order') ?></a>
                <br/>
                <?php endif; ?>
                <?php 
                	$showShippingDescription = $this->showShippingDescription();
                	$descriptionStyle = (!$showShippingDescription) ? "style='display:none;'" : '';
                ?>
                	<div class="shipping-method-display" <?php echo $descriptionStyle?>>
                    <table cellspacing="0" class="form-list">
                        <tbody>
                            <tr>
                                <td class="label"><? echo $this->__('Shipping Method'); ?></td>
                                <td class="value"><strong><?php echo $this->getShippingDescription() ?></strong>
                                    <?php if ($this->helper('tax')->displayShippingPriceIncludingTax()): ?>
                                        <?php $_excl = $this->displayShippingPriceInclTax($_order); ?>
                                    <?php else: ?>
                                        <?php $_excl = $this->displayPriceAttribute('shipping_amount', false, ' '); ?>
                                    <?php endif; ?>
                                    <?php $_incl = $this->displayShippingPriceInclTax($_order); ?>

                                    <?php echo $_excl; ?>
                                    <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                        (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                                    <?php endif; ?>

                                </td>
                            </tr>
                            <tr>
                                <td class="label"><? echo $this->__('Preferred Arrival Date'); ?></td>
                                <td class="value"><strong><?php echo $this->getPreferredArrivalDate() ?></strong></td>
                            </tr>
                            <tr>
                                <td class="label"><? echo $this->__('Ship Date [Planned]'); ?></td>
                                <td class="value"><strong><?php echo $this->getPlannedShipDate() ?></strong></td>
                            </tr>
                            <tr>
                                <td class="label"><? echo $this->__('Ship Date [Actual]'); ?></td>
                                <td class="value"><strong>
                                        <?if ($shipDate = $this->getShipDate()):?>
                                            <? echo $shipDate; ?>
                                        <? else: ?>
                                            <? echo $this->__('Not yet shipped'); ?>
                                        <? endif; ?>
                                    </strong></td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                <?php # not locked, need to show the rates? ?>

				<?php if (!$showShippingDescription): ?>
				<?php $_shippingRateGroups = $this->getShippingRates(); ?>
				<?php if ($_shippingRateGroups): ?>
					<?php $ratesLoaded = true;?>
				    <div id="order-shipping-method-choose">
                    <div class="order-shipping-col">
				    <dl class="shipment-methods">
				    <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
				        <dt><strong><?php echo $this->escapeHtml($this->getCarrierName($code)) ?></strong></dt>
				        <dd>
				            <ul>
				            <?php foreach ($_rates as $_rate): ?>
				                <?php $_radioProperty = 'name="shipping_method" type="radio" ' ?>
				                <?php $_code=$_rate->getCode() ?>
				                <li>
				                   <?php if ($_rate->getErrorMessage()): ?>
				                        <ul class="messages">
				                            <li class="error-msg"><?php echo $this->escapeHtml($_rate->getErrorMessage()) ?></li>
				                        </ul>
				                   <?php else: ?>
				                        <?php $_checked = $this->isMethodActive($_code) ? 'checked="checked"' : '' ?>
				                        <input <?php echo $_radioProperty ?> value="<?php echo $_code ?>" id="s_method_<?php echo $_code ?>" <?php echo $_checked ?>/>
				                        <label class="normal" for="s_method_<?php echo $_code ?>">
				                            <?php echo $this->escapeHtml($_rate->getMethodTitle() ? $_rate->getMethodTitle() : $_rate->getMethodDescription()) ?> -
				                            <strong>
				                                <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
				                                <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
				
				                                <?php echo $_excl; ?>
				                                <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
				                                    (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
				                                <?php endif; ?>
				                            </strong>
				                        </label>
				                   <?php endif ?>
				                </li>
				            <?php endforeach; ?>
				            </ul>
				        </dd>
				    <?php endforeach; ?>
				    </dl>
				    </div>
                    <div id="order-shipping-dates" class="order-shipping-col">
                        <h5 class='title'><? echo $this->__('Dates / Price'); ?></h5>
                        <table cellspacing="0" class="form-list">
                            <tbody>
                            <tr>
                                <td class="label"><? echo $this->__('Preferred Arrival Date'); ?></td>
                                <td class="value">
                                    <? echo $this->getDateFieldHtml('preferred_arrival_date', $this->getPreferredArrivalDate(true)); ?>
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><? echo $this->__('Planned Ship Date'); ?></td>
                                <td class="value">
                                    <? echo $this->getDateFieldHtml('planned_ship_date', $this->getPlannedShipDate()); ?>
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><? echo $this->__('Price'); ?></td>
                                <td class="value">



                                    <input type="hidden" id="original_rate" value="<? echo Mage::helper('core')->currency($_originalAmount, false, true) ; ?>" />
                                    <input type="text" id="adjusted_rate" name="adjusted_rate" value="<?php echo $this->getCurrentShippingAmount();?>" />
                                    <br>
                                    <span><? echo $this->__("Original Amount") ?>: <? echo Mage::helper('core')->currency($_originalAmount, true, true) ; ?> </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="label"></td>
                                <td class="value">
                                    <button class='scalable' id='save-ship-method'><?php echo $this->__('Save'); ?></button>
                                    <a href="#" id="cancel-ship-method"><?php echo $this->__('Cancel'); ?></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                    <div class="clear"></div>
				<?php endif; ?>  
				<?php endif;?>              
            </fieldset>
        </div>
        <?php echo $this->getChildHtml('shipnote'); ?>
    <script type="text/javascript">
		var editUrl = '<?php echo $this->getEditUrl(); ?>';
		var loaded = <?php if ($ratesLoaded) echo "true"; else echo "false"; ?>; 
		
    	jQuery(document).ready(function($) {
			$("#start-edit-shippping").click(function() {
				if (!loaded) {
					$('#loading-mask').show();
					$.ajax(editUrl).done(function(result) {
						$("#shipping-method-form").replaceWith(result);
					}).fail(function() {
						alert('Unable to start editing shipping.'); 
					}).always(function() {
						$('#loading-mask').hide();
					});
				}
				else {
					$("#order-shipping-method-choose").show();
					$(".shipping-method-display").hide();
				}
				return false;
			});

			$("#save-ship-method").click(function(evt) {
				evt.preventDefault();
				var newVal = $('#adjusted_rate').val();
				if (isNaN(parseFloat(newVal))) {
					alert('Please enter a number for the new rate.');
					return false;
				}
                var arrivalDate = $('#preferred_arrival_date').val();
                var plannedDate = $('#planned_ship_date').val();
                if (!plannedDate || !arrivalDate) {
                    alert('Please specify arrival and ship date.');
                    return false;
                }

                //check to see if the original is more then the actual.
                if(parseFloat($("#original_rate").val()) <  newVal)
                {
                    alert("The shipping price must be equal to or less than the original value of <? echo Mage::helper('core')->currency($_originalAmount, true, false) ; ?>. To increase the shipping price above <? echo Mage::helper('core')->currency($_originalAmount, true, false) ; ?> you must edit this order.");
                    return;
                }


				$('#loading-mask').show();
				var $form = $("#order-ship-method");
				$.post($form.prop('action'), $form.serialize()).success(
					function(result) {
						if (result.success) {
							$('#loading-mask').hide();
							$("#shipping-method-form").replaceWith(result.shippingContent);
							$("#order-totals-display").html(result.totalsContent);
						}
						else {
							$('#loading-mask').hide();
							alert('Unable to update shipping method/totals.');
							console.log(result);
						}
					}).error(function() {
						$('#loading-mask').hide();
						alert('An error occurred while updating the shipping information.');
					});
					
				return false;
				
			});

			$("#cancel-ship-method").click(function() {
				$("#order-shipping-method-choose").hide();
				$(".shipping-method-display").show();
				return false;
			});
    	});
    </script>
    </form>
    <?php echo $this->_getIcePackHtml(); ?>
    </div>
