<?php $cacheEnabled = Mage::getStoreConfig(GoSolid_PageCache_Model_Observer::PAGECACHE_CONFIG_ENABLED); ?>
<form method="post"  action="<? echo $this->getFormAction(); ?>">
	<input type="hidden" name="form_key" value="<? echo $this->getFormKey(); ?>" />  
	<div class="content-header">
	    <table cellspacing="0">
	        <tbody>
	        	<tr>
	            	<td style="width:50%;"><h3 class="icon-head head-cache"><?php echo $this->__("Flush Page Cache");?></h3></td>
	            	<td class="form-buttons">
	            		<?php if ($cacheEnabled): ?>
	            			<button id="" title="<?php echo $this->__("Submit");?>" type="submit" class="scalable" style=""><span><span><span><?php echo $this->__("Submit");?></span></span></span></button>
	            		<?php endif; ?>
	            	</td>
	   			 </tr>
	   			 <?php if (!$cacheEnabled): ?>
	   			 <tr>
	   			 	<td colspan="2" class="icon-head">
	   			 		Full page cache is currently <strong>disabled</strong>. It can be enabled via the "Full Page Cache" tab on System-&gt;Configuration.
	   			 	</td>
	   			 </tr>
	   			 <?php endif; ?>
	    </tbody>
	    </table>
	</div>
	
	<?php if ($cacheEnabled): ?>
    <table cellspacing="0" cellpadding="0" class="massaction">
        <tr>
            <td>
                <a href="#" onclick="jQuery('.grid input[type=checkbox]').attr('checked', true); return false;">Select All</a>
                <span class="separator">|</span>
                <a href="#" onclick="jQuery('.grid input[type=checkbox]').attr('checked', false); return false;">Unselect All</a>
            </td>
            <td></td>
        </tr>
    </table>
	<div class="grid">
		<table class="data">
			<thead>
				<tr class="headings">
					<th><span class="nobr">&nbsp;</span></th>
					<th><span><?php echo $this->__("Cache Type"); ?></span></th>
				</tr>
			</thead>
		    <tbody>
                <? foreach ($this->getPageCacheTypes() as $cacheType => $label): ?>
		    	<tr>
		            <td  style="width:20px;" ><input type="checkbox" name="cache[]" value="<?= $cacheType ?>" /></td>
		            <td><?= $label ?></td>
		        </tr>
		        <? endforeach; ?>
		    </tbody>
		</table>
	</div>
	<?php endif; ?>
</form>