<?php
/** @var GoSolid_Frans_Block_Checkout_Multiship_Delivery $this */
    $best = $this->getBestArrivalDatesAndMethods();
	$_quote = $this->getQuote();
	$addresses = $_quote->getAllShippingAddresses();
	$_totalShipments = count($addresses);
	$_allLabel = $_totalShipments == 2 ? 'both' : 'all '.$_totalShipments; // generate "all X" or "both" label
	$_defaultImageUrl = Mage::getModel('frans/shipping_carrier_frans')->getDefaultMessage()->getImageUrl();
?>

<div id="shipping-popup">
	<div class="shipping-popup-content">
		<?php echo $this->getShippingPopupHtml(); ?>
	</div>
</div>

<div class="shipment">
	<div class="shipment-wrapper">
		<div class="arrival order">
			<div class="wrapper row">
				<div class="col-xs-6 arrival-entry">
					<div class="form-row quickship-delivery-method-wrapper">
						<div class="col-xs-12 option instruction">
							<?php echo $this->__('Select a preferred arrival date for all your shipments:'); ?>
						</div>
					</div>
					<div class="form-row quickship-delivery-method-wrapper">
						<div class="col-xs-12 option">
							<input class="quickship-delivery-method-radio" type="radio" id="quickship_delivery_method_future" name="quickship_delivery_method" value="future" />
							<div class="future-ship-date">
								<input id="arrivaldate-all" type="text" placeholder="<?php echo $this->__('mm/dd/yyyy'); ?>" maxlength="10"  />
								<div class="icon"><?php echo $this->__('View Calendar'); ?></div>
							</div>
						</div>
					</div>
					<div class="form-row quickship-delivery-method-wrapper">
						<div class="col-xs-12 option">
							<div class="divider-with-text"><span><?php echo $this->__('or'); ?></span></div>
						</div>
					</div>
					<div class="form-row quickship-delivery-method-wrapper">
						<div class="col-xs-12 option instruction">
							<?php echo $this->__('Select a shipping method for all your shipments:'); ?>
						</div>
					</div>
		            <div class="form-row quickship-delivery-method-wrapper">
		                <div class="col-xs-12 option">
			                <ul>
				                <li>
					                <input class="quickship-delivery-method-radio" data-date-range="<?php echo $best["cheapest"]["date"]; ?>" data-price-range="<?php echo $best["cheapest"]["price"]; ?>" type="radio" id="quickship_delivery_method_bestvalue" name="quickship_delivery_method" value="bestvalue" />
					                <label for="quickship_delivery_method_bestvalue"><?php echo $this->__('Best Value Shipping'); ?></label>
				                </li>
				                <li>
					                <input class="quickship-delivery-method-radio"  data-date-range="<?php echo $best["fastest"]["date"]; ?>" data-price-range="<?php echo $best["fastest"]["price"]; ?>" type="radio" id="quickship_delivery_method_fastest" name="quickship_delivery_method" value="fastest" />
					                <label for="quickship_delivery_method_fastest"><?php echo $this->__('Fastest Shipping'); ?></label>
				                </li>
			                </ul>
		                </div>
		            </div>
				</div>
				<div class="col-xs-6 arrival-summary" id="applyall">
					<div class="wrapper">
						<div class="arrival-icon"></div>
						<span class="arrival-title"><?php echo $this->__('Estimated Arrival'); ?></span>
						<span class="arrival-message"></span>
						<span class="arrival-date"></span>
						<span class="arrival-method"></span>
						<a tabindex="-1" href="#" class="about-shipping"><?php echo $this->__('About our shipping'); ?></a>
					</div>
				</div>
			</div>

			<div class="notes row">
				<div class="col-xs-6 message giftmsg">
					<span class="instruction">
						<?php echo $this->__('Are these gifts? Please add a gift message with your name so the recipients know who the gift is from.'); ?>
					</span>
					<textarea id="giftmsg-all" maxlength="300" placeholder="" class="show-remaining"></textarea>
				</div>
				<div class="col-xs-6 message instructmsg">
					<span class="instruction">
						<?php echo $this->__('Please note anything additional that you would like the Fran\'s team to know about your order.'); ?>
					</span>
					<textarea id="instructmsg-all"  placeholder=""></textarea>
				</div>
			</div>

			<div class="form-row">
				<div class="col-xs-12">
		            <button type="button" id="btn-apply-all"  class="button-dark btn left" title="<?php echo $this->__('Apply To %s Shipments', $_allLabel); ?>"><span><span><?php echo $this->__('Apply To %s Shipments', $_allLabel); ?></span></span></button>
				</div>
			</div>

		</div>
	</div>
</div>

<form id="delivery-form">
    <div id="multiship-delivery-address-list">
	    <?php
		    /* BEGIN LOOPING SHIPMENTS */

		    $_shipmentCount = 0;

		    /* @var GoSolid_Frans_Model_Sales_Quote_Address $address */
		    foreach ($addresses as $address):
		        $formPrefix = "addresses[{$address->getId()}]";
		        if ($address->getPreferredArrivalDate())
		        {
		            $arrivalDate = new DateTime($address->getPreferredArrivalDate());
		            $entryDate = Mage::helper('frans')->calendarDisplayDate($arrivalDate);
		            $method = $address->getShippingMethod();
		        }
		        else
		        {
		            $entryDate = '';
		            $method = '';
		        }
	    ?>
		    <?php $_shipmentCount++; ?>
		    <h4 class="title"><?php echo $this->__('Shipment'); ?> <?php echo $_shipmentCount;?> <?php echo $this->__('of'); ?> <?php echo $_totalShipments; ?></h4>
		    <div class="shipment">
				<div class="shipment-wrapper">
					<div class="shipping-address">
						<a href="<?php echo $this->getAddressEditUrl($address); ?>" class="editlink delivery-address-edit"><?php echo $this->__('Edit'); ?></a>
						<span class="address-title"><?php echo $this->__('Shipping Address'); ?></span>
						<p id="shipping-address-<?php echo $address->getId(); ?>">
							<?php echo $this->getAddressHtml($address); ?>
						</p>
					</div>
					<div class="order-summary">
						<div class="cart-items">
							<div class="row column-headers">
								<div class="col-item"><?php echo $this->__('Item'); ?></div>
								<div class="col-price"><?php echo $this->__('Price'); ?></div>
								<div class="col-qty"><?php echo $this->__('Qty'); ?></div>
								<div class="col-total"><?php echo $this->__('Total'); ?></div>
							</div>

							<?php
								foreach ($address->getAllItems() as $_item):
									/* BEGIN LOOPING SHIPMENT ITEMS (SPACING ISSUES WILL RESOLVE THEMSELVES WHEN LOOP IS IMPLEMENTED) */
									$_quoteItem = $_item->getQuoteItem();
									$_storeId = Mage::app()->getStore()->getId();
									$_product = $_quoteItem->getProduct();
									$_colorTileValue = Mage::getResourceModel('catalog/product')->getAttributeRawValue($_product->getId(), 'color_tile', $_storeId);
									$_colorTileLabel = null;
									$_parentId = $_quoteItem->getConfigurableProductId();
									if($_parentId && !empty($_colorTileValue)){
										$_colorTileLabel = $_product->setColorTile($_colorTileValue)->getAttributeText('color_tile');
									}
							?>
								<div class="row">
									<div class="col-item">
										<div class="item-thumbnail">
											<?php /* THUMBNAILS ARE 100PX WIDE IN THIS LOCATION */ ?>
											<?php $_imageUrl = Mage::helper('frans/image')->getImageResizedByProduct($_product, 'thumbnail', 100); ?>
											<img src="<?php echo $_imageUrl; ?>" alt="<?php echo $_item->getName(); ?>" />
										</div>
										<div class="item-details">
											<?php if($_colorTileLabel): ?>
												<span class="item-color-tile"><?php echo $_colorTileLabel; ?></span>
											<?php endif; ?>
											<?php echo $this->htmlEscape($_quoteItem->getName()); ?>
										</div>
									</div>
									<div class="col-price">
										<span class="item-price"><?php echo $this->helper('checkout')->formatPrice($_item->getPrice(), true, false); ?></span>
									</div>
									<div class="col-qty">
										<span class="item-qty"><?php echo (int) $_item->getQty(); ?></span>
									</div>
									<div class="col-total">
										<span class="item-total"><?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal(), true, false); ?></span>
									</div>
								</div>
							<?php endforeach; /* END LOOPING SHIPMENT ITEMS */ ?>
						</div>
						<div class="row subtotal">
							<div class="col-xs-11">
								<span class="subtotal-label"><?php echo $this->__('Subtotal')?></span>
							</div>
							<div class="col-xs-1">
								<span class="amount"><?php echo Mage::helper('core')->currency($address->getSubtotal(), true, false); ?></span>
							</div>
						</div>
						<div class="row shipping-total">
							<div class="col-xs-11">
								<span class="subtotal-label"><?php echo $this->__('Shipping total')?></span>
							</div>
							<div class="col-xs-1">
								<span class="amount">--</span>
							</div>
						</div>
						<div class="row shipment-total">
							<div class="col-xs-11">
								<span class="subtotal-label"><?php echo $this->__('Shipment total')?></span>
							</div>
							<div class="col-xs-1">
								<span class="amount"><?php echo Mage::helper('core')->currency($address->getSubtotal(), true, false); ?></span>
							</div>
						</div>
					</div>

					<div class="arrival">
						<div class="wrapper row">
							<div class="col-xs-6 arrival-entry">
								<div class="form-row">
									<div class="col-xs-12 instruction">
										<?php echo $this->__('Select a preferred arrival date:'); ?>
									</div>
								</div>
								<div class="form-row">
									<div class="col-xs-12">
										<div class="future-ship-date" data-address-id="<?php echo $address->getId(); ?>">
											<input type="text" class="ship-date required-entry validate-date" placeholder="<?php echo $this->__('mm/dd/yyyy'); ?>" maxlength="10" name="<?php echo $formPrefix . '[preferred_arrival_date]'; ?>" <?php if ($entryDate) echo "value='$entryDate'"; ?>/>
											<input type="hidden" name="<?php echo $formPrefix . '[shipping_method]'; ?>" class="shipping-method" <?php if ($method) echo "value='$method'"; ?> />
											<div class="icon"><?php echo $this->__('View Calendar'); ?></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-6 arrival-summary">
								<div class="wrapper">
									<div class="arrival-icon"></div>
									<span class="arrival-title"><?php echo $this->__('Estimated Arrival'); ?></span>
									<span class="arrival-message"></span>
									<span class="arrival-date"></span>
									<span class="arrival-method"></span>
									<a tabindex="-1" href="#" class="about-shipping"><?php echo $this->__('About our shipping'); ?></a>
								</div>
							</div>
						</div>

						<div class="notes row">
							<div class="col-xs-6 message giftmsg">
								<span class="instruction">
									<?php echo $this->__('Is this a gift? Please add a gift message with your name so the recipient knows who the gift is from.'); ?>
								</span>
								<textarea maxlength="300" class="gift_message show-remaining" name="<? echo $formPrefix . '[gift_message]'; ?>" placeholder=""><? echo $address->getGiftMessage(); ?></textarea>
							</div>
							<div class="col-xs-6 message instructmsg">
								<span class="instruction">
									<?php echo $this->__('Please note anything additional that you would like the Fran\'s team to know about your order.'); ?>
								</span>
								<textarea class="special_instructions" name="<? echo $formPrefix . '[special_instructions]'; ?>" placeholder=""><? echo $address->getSpecialInstructions(); ?></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		<?php
			endforeach;
			/* END LOOPING SHIPMENTS */
	    ?>

		<div class="form-row" id="delivery-complete-shipping">
			<div class="col-xs-12">
				<button type="button" id="tryFinishDelivery" class="btn button-dark complete-delivery" title="<?php echo $this->__('Continue'); ?>"><span><span><?php echo $this->__('Continue'); ?></span></span></button>
			</div>
		</div>

	</div>
</form>

<?php /* BEGIN POP-UP CALENDAR AND JAVASCRIPT FOR FUTURE SHIP DATE SELECTION */ ?>
<div class="calendar" id="future-ship-calendar" style="display: none;">
	<a href="javascript:void(0);" class="prevmonth disabled">&lt;</a>
	<a href="javascript:void(0);" class="nextmonth">&gt;</a>
	<div class="all-pages"></div>
</div>
<script type="text/javascript">

jQuery(document).ready(function($){

    deliveryForm = new VarienForm('delivery-form', false);

	// instantiate a calendar for every future ship date input on the page
	$('.future-ship-date').each(function(){
		$(this).calendar({
			url:					'<?php echo $this->getUrl('*/checkout_calendar/updateCalendar'); ?>',
			defaultIcon:            '<?php echo $_defaultImageUrl; ?>'
		});
	});
});
</script>

<?php /* END POP-UP CALENDAR AND JAVASCRIPT FOR FUTURE SHIP DATE SELECTION */ ?>

<script type="text/javascript">
	/* Register remaining character count for textareas loaded via Ajax */
	jQuery('textarea[maxlength].show-remaining').limitMaxlength({
		onEdit: maxLengthDisplay.onEditCallback,
		onLimit: maxLengthDisplay.onLimitCallback
	});
</script>