<?
    /* @var GoSolid_Frans_Block_Checkout_Multiship_Payment $this */
?>

<div class="payment-details">
    <form id="payment-step" method="post" class="address-save">

		<div class="multiship-payment-wrapper">
	        <?php echo $this->getBillingHtml(); ?>
	        <?php echo $this->getPaymentHtml(); ?>
		</div>

	    <div id="order-summary-wrapper">
		    <?php echo $this->getSummaryHtml(); ?>
	    </div>

	    <div class="form-row" id="multiship-complete-payment">
		    <div class="col-xs-12">
	            <button type="submit" id="multiship-save-order" class="btn button-dark" title="<?php echo $this->__('Place Order'); ?>"><span><span><?php echo $this->__('Place Order'); ?></span></span></button>
		    </div>
	    </div>

    </form>
</div>

<script type="text/javascript">
	//<![CDATA[

    paymentForm = new VarienForm('payment-step', false);
    Validation.add('validate-zip','Required.',function(the_field_value){

        if(the_field_value.strip().length == 0)
        {
            return false;
        }
        return true;
    });

    //disabled the CC fields if saved card is visible.
    if(jQuery("#payment_use_saved_card").prop('checked') == true )
    {
        jQuery(".cc-new").addClass('hide');
    }

    new RegionUpdater('country-billing', 'billing-region', 'billing-region-id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');

    //]]>
</script>