<?php
    /* @var $this GoSolid_Frans_Block_Checkout_Multiship_Shipping */
	$tableWidth = ($this->getPageCount() * 100) . '%';
?>
<div class="frans-tab-content">
	<div class="multiship-checkout">

		<?php echo $this->getPagerHtml(); ?>

		<div class="allocation">
			<form action="<?php echo $this->getSaveInfoUrl(); ?>" id="shipping-form">
				<div class="items-viewport">
					<table class="allocation-table" width="<?php echo $tableWidth; ?>">
						<?php echo $this->getItemsHtml(); ?>
						<?php echo $this->getAddressItemsHtml(); ?>
					</table>
				</div>
			</form>
			<?php echo $this->getAddressesHtml(); ?>
		</div>

		<div id="address-template"></div>
		
		<?php echo $this->getPagerHtml(); ?>
		<?php echo $this->getTotalsHtml(); ?>
		
		<div class="form-row" id="multiship-complete-shipping">
			<div class="col-xs-12">
				<button type="submit" class="button-dark btn" title="<?php echo $this->__('Continue'); ?>"><span><span><?php echo $this->__('Continue'); ?></span></span></button>
			</div>
		</div>


		<div class="tooltip" id="error-no-addresses">
			<h3><?php echo $this->__("You haven't added any recipients to your order."); ?></h3>
			<p><?php echo $this->__('Please add a recipient or <a href="%s">go back to single address shipping</a>.',
				$this->getUrl('*/checkout')); ?></p>
			<div class="tooltip-arrow"></div>
		</div>
		<div class="tooltip" id="error-one-recipient">
			<h3><?php echo $this->__("You have only selected one recipient."); ?></h3>
			<p><?php echo $this->__('Add another recipient to send to multiple addresses or <a href="%s">go back to single address shipping</a>.',
				$this->getUrl('*/checkout')); ?></p>
			<div class="tooltip-arrow"></div>
		</div>
		<div class="tooltip" id="error-empty-shipment">
			<h3><?php echo $this->__("You have recipients with no products."); ?></h3>
			<p><?php echo $this->__("Please assign at least one product to the highlighted recipients or remove these recipients from your order."); ?></p>
			<div class="tooltip-arrow"></div>
		</div>
		<div class="tooltip" id="error-products-not-assigned">
			<h3><?php echo $this->__("You have products in your cart that are not assigned."); ?></h3>
			<p><?php echo $this->__("Please assign the highlighted products to at least one recipient or remove these products from your order."); ?></p>
			<div class="tooltip-arrow"></div>
		</div>
        <div class="tooltip" id="error-min-amount">
            <h3><?php echo $this->__("You have recipients below the minimum order amount."); ?></h3>
            <p><?php echo Mage::getStoreConfig('sales/minimum_order/multi_address_description'); ?></p>
            <div class="tooltip-arrow"></div>
        </div>
    </div>
</div>