<?php
	/* @var GoSolid_Frans_Block_Checkout_Multiship_Shipmentsummary $this; */
    /* @var GoSolid_Frans_Model_Sales_Quote $_quote; */
    $_quote = $this->getQuote();
    $_shippingAddresses = $_quote->getAllShippingAddresses();
	$helper = $this->helper('checkout');
?>
<div class="order-summary-shipments">
    <div class="order-shipments-list">
	    <?php $_shippingAddressIndex = 1; ?>
        <?php /* @var Mage_Sales_Model_Quote_Address $_shippingAddress */ ?>
        <?php foreach ($_shippingAddresses as $_shippingAddress): ?>
	        <?php $_addressItems = $_shippingAddress->getAllItems(); ?>
	        <?php $_addressItemCount = count($_addressItems); ?>
            <div class="order-shipment">

	            <div class="expander-toggle" data-expander-id="shipment-<?php echo $_shippingAddressIndex; ?>" data-expander-group="shipment-details">
		            <p class="expander-icon"></p>
	                <h6><?php echo $this->__('Shipment %d of %s', $_shippingAddressIndex, count($_shippingAddresses)); ?></h6>
		            <div class="hide-when-expanded">
			            <p><?php echo $_shippingAddress->getFirstname() . ' ' . $_shippingAddress->getLastname(); ?></p>
			            <p class="right"><?php echo $this->helper('core')->formatPrice($_shippingAddress->getSubtotal(), false); ?></p>
			            <p class="left"><?php echo ($_addressItemCount > 1) ? $this->__('%s items', $_addressItemCount) : $this->__('%s item', $_addressItemCount); ?></p>
		            </div>
	            </div>

	            <div class="expander" id="shipment-<?php echo $_shippingAddressIndex; ?>">
	                <div>
		                <span class="shipment-header"><?php echo $this->__('Shipping Address'); ?></span>
		                <a href="#" class="edit-link" data-destination-step="1"><?php echo $this->__('Edit'); ?></a>
		                <span><strong><?php echo $_shippingAddress->getFirstname() . ' ' . $_shippingAddress->getLastname(); ?></strong></span>
	                    <span><?php echo $_shippingAddress->getStreet1() ?></span>
		                <?php if ($_street2 = $_shippingAddress->getStreet2()): ?>
			                <span><?php echo $_street2; ?></span>
		                <?php endif; ?>
		                <span><?php echo $_shippingAddress->getCity() . ', ' . $_shippingAddress->getRegion() . ' ' . $_shippingAddress->getPostcode(); ?></span>
		                <span><?php echo $_shippingAddress->getTelephone(); ?></span>
	                </div>

		            <div class="order-summary-delivery">
			            <span class="shipment-header"><?php echo $this->__('Delivery'); ?></span>
			            <a href="#" class="edit-link" data-destination-step="2"><?php echo $this->__('Edit'); ?></a>
			            <div class="clearfix"></div>
			            <div class="arrival-icon"></div>
			            <span><?php echo $this->__('Estimated Arrival'); ?></span>
			            <span><strong><?php echo Mage::helper('frans')->prettyDate($_shippingAddress->getPreferredArrivalDate()); ?></strong></span>
			            <span><?php echo $this->__('via'); ?> <?php echo $_shippingAddress->getShippingDescription(); ?></span>
		            </div>

		            <?php if($_shippingAddress->getGiftMessage()): ?>
		                <div>
			                <span class="shipment-header"><?php echo $this->__('Gift Message'); ?></span>
			                <a href="#" class="edit-link" data-destination-step="2"><?php echo $this->__('Edit'); ?></a>
			                <em><?php echo $_shippingAddress->getGiftMessage(); ?></em>
		                </div>
					<?php endif; ?>

		            <?php if($_shippingAddress->getSpecialInstructions()): ?>
		                <div>
			                <span class="shipment-header"><?php echo $this->__('Special Instructions'); ?></span>
			                <a href="#" class="edit-link" data-destination-step="2"><?php echo $this->__('Edit'); ?></a>
			                <em><?php echo $_shippingAddress->getSpecialInstructions(); ?></em>
		                </div>
					<?php endif; ?>

		            <div>
			            <span class="shipment-header"><?php echo $this->__('Items'); ?></span>
			            <div>
				            <?php /* @var Mage_Sales_Model_Quote_Address_Item $_addressItem */ ?>
				            <?php foreach ($_addressItems as $_addressItem): ?>
					            <?php
						            $qty = (int) $_addressItem->getQty();
						            $price = $_addressItem->getPrice();
					                $_quoteItem = Mage::getModel('sales/quote_item')->load($_addressItem->getQuoteItemId());
						            $_storeId = Mage::app()->getStore()->getId();
						            $_product = Mage::getModel('catalog/product')->load($_addressItem->getProductId());
						            $_colorTileValue = Mage::getResourceModel('catalog/product')->getAttributeRawValue($_product->getId(), 'color_tile', $_storeId);
						            $_colorTileLabel = null;
						            $_parentId = $_quoteItem->getConfigurableProductId();
						            if($_parentId && !empty($_colorTileValue)){
							            $_colorTileLabel = $_product->setColorTile($_colorTileValue)->getAttributeText('color_tile');
						            }
					            ?>
					            <div class="shipment-item">
						            <span class="right"><strong><?php echo $helper->formatPrice($price * $qty); ?></strong></span>
						            <?php if($_colorTileLabel): ?>
							            <span class="item-color-tile"><?php echo $_colorTileLabel; ?></span>
						            <?php endif; ?>
						            <span class="item-name"><strong><?php echo $_addressItem->getName(); ?></strong></span>
						            <span><?php echo $qty; ?> <?php echo $this->__('@'); ?> <?php echo $helper->formatPrice($price); ?></span>
					            </div>
				            <?php endforeach; ?>
			            </div>
		            </div>

		            <div class="shipment-totals">
			            <div class="row">
				            <div class="col-xs-3"></div>
				            <div class="col-xs-5">
					            <?php echo $this->__('Subtotal') ?>
				            </div>
				            <div class="col-xs-4">
					            <span><?php echo $this->helper('core')->formatPrice($_shippingAddress->getSubtotal(), false); ?></span>
				            </div>
			            </div>
			            <?php if($_shippingAddress->getDiscountAmount() <> 0): ?>
				            <div class="row">
					            <div class="col-xs-3"></div>
					            <div class="col-xs-5">
						            <?php echo $this->__('Discount') ?>
					            </div>
					            <div class="col-xs-4">
						            <span><?php echo $this->helper('core')->formatPrice($_shippingAddress->getDiscountAmount(), false); ?></span>
					            </div>
				            </div>
			            <?php endif; ?>
			            <div class="row">
				            <div class="col-xs-3"></div>
				            <div class="col-xs-5">
					            <?php echo $this->__('Shipping total') ?>
				            </div>
				            <div class="col-xs-4">
					            <span><?php echo $this->helper('core')->formatPrice($_shippingAddress->getShippingAmount(), false); ?></span>
				            </div>
			            </div>
			            <div class="row shipment-total">
				            <div class="col-xs-3"></div>
				            <div class="col-xs-5">
					            <?php echo $this->__('Shipment #%s Total', $_shippingAddressIndex) ?>
				            </div>
				            <div class="col-xs-4">
					            <span><?php echo $this->helper('core')->formatPrice($_shippingAddress->getGrandTotal(), false); ?></span>
				            </div>
			            </div>
		            </div>

	            </div>
            </div>
	        <?php $_shippingAddressIndex++; ?>
        <?php endforeach; ?>
    </div>

</div>

<script type="text/javascript">

	jQuery('.order-summary-shipments .order-shipment > div:first-child').on('click', function(){
		var parent = jQuery(this).parent();
		if(parent.hasClass('expanded')){
			parent.removeClass('expanded');
		} else {
			jQuery('.order-summary-shipments .order-shipment').removeClass('expanded');
			parent.addClass('expanded');
		}
	});

</script>