<?php
	/**
	 * Created by goSolid.
	 * @var GoSolid_Frans_Block_Checkout_Standard_Delivery $this
	 *
	 *
	 */
	$_shippingAddress = $this->getQuote()->getShippingAddress();
	$_defaultImageUrl = Mage::getModel('frans/shipping_carrier_frans')->getDefaultMessage()->getImageUrl();
?>

<div id="shipping-popup">
	<div class="shipping-popup-content">
		<?php echo $this->getShippingPopupHtml(); ?>
	</div>
</div>

<form id="single-delivery-form">
	<div class="shipment-wrapper">
		<div class="arrival order">
		    <div class="wrapper row">
		        <div class="col-ms-6 col-sm-12 col-md-6 arrival-entry">
		            <span class="instruction"><?php echo $this->__('Select a preferred arrival date:'); ?></span>
	                <div class="future-ship-date">
	                    <input id="preferred_arrival_date" name="delivery[preferred_arrival_date]" type="text" placeholder="<?php echo $this->__('mm/dd/yyyy'); ?>" maxlength="10" class="required-entry validate-date" value="<?php echo $this->getPreferredArrivalDate(); ?>" />
	                    <input tabindex="-1" type="hidden" name="delivery[shipping_method]" class="shipping-method"  value="<?php echo $_shippingAddress->getShippingMethod(); ?>" />
	                    <div class="icon"><?php echo $this->__('View Calendar'); ?></div>
	                </div>
		        </div>
		        <div class="col-ms-6 col-sm-12 col-md-6 arrival-summary">
			        <div class="wrapper">

			            <div class="arrival-icon"></div>
			            <span class="arrival-title"><?php echo $this->__('Estimated Arrival'); ?></span>
			            <span class="arrival-message"></span>
			            <span class="arrival-date"></span>
			            <span class="arrival-method"></span>
			            <a tabindex="-1" href="#" class="about-shipping"><?php echo $this->__('About our shipping'); ?></a>

			        </div>
		        </div>
		    </div>

		    <div class="notes">
		        <div class="message giftmsg">
		            <span class="instruction"><?php echo $this->__('Is this a gift? Please add a gift message with your name so the recipient knows who the gift is from.'); ?></span>
		            <textarea name="delivery[gift_message]" class="show-remaining" maxlength="300" placeholder=""><? echo $_shippingAddress->getGiftMessage(); ?></textarea>
		        </div>
			    <div class="message instructmsg">
				    <span class="instruction"><?php echo $this->__('Please note anything additional that you would like the Fran\'s team to know about your order.'); ?></span>
				    <textarea name="delivery[special_instructions]" placeholder=""><? echo $_shippingAddress->getSpecialInstructions(); ?></textarea>
			    </div>
		    </div>
		</div>
		<div id="delivery-complete-shipping">
		    <button type="submit" class="btn button-dark complete-delivery" title="<?php echo $this->__('Continue'); ?>"><span><span><?php echo $this->__('Continue'); ?></span></span></button>
		</div>
	</div>
</form>
<div class="calendar" id="future-ship-calendar" style="display: none;">
    <a href="javascript:void(0);" class="prevmonth disabled">&lt;</a>
    <a href="javascript:void(0);" class="nextmonth">&gt;</a>
    <div class="all-pages"></div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function($){
        // variable is created in checkout.js
        deliveryForm = new VarienForm('single-delivery-form');
        jQuery('.future-ship-date').calendar({
	        url:					'<?php echo $this->getUrl('*/checkout_calendar/updateCalendar'); ?>',
	        defaultIcon:            '<?php echo $_defaultImageUrl; ?>'
        });
    });

    /* Register remaining character count for textareas loaded via Ajax */
    jQuery('textarea[maxlength].show-remaining').limitMaxlength({
	    onEdit: maxLengthDisplay.onEditCallback,
	    onLimit: maxLengthDisplay.onLimitCallback
    });

</script>