<?php
    /* @var GoSolid_Frans_Block_Checkout_Standard_Summary $this */
?>
<div class="order-summary-delivery">

    <h5><?php echo $this->__('Delivery'); ?></h5>
	<a href="#" class="edit-link" data-destination-step="2"><?php echo $this->__('Edit'); ?></a>

	<div class="clearfix"></div>

    <div class="arrival-icon"></div>

    <div class="arrival-date-header"><?php echo $this->__('Estimated Arrival'); ?></div>

	<div class="arrival-date"><?php echo $this->getArrivalDate(); ?></div>

    <div class="arrival-method"><?php echo $this->__('Via') . ' ' . $this->getShippingDescription(); ?></div>

</div>