<?php
	/* @var GoSolid_Frans_Block_Checkout_Multiship_Payment_Shipmentlist $this; */
    /* @var Mage_Sales_Model_Quote $_quote; */
    $_quote = $this->getQuote();
    $_shippingAddresses = $_quote->getAllShippingAddresses();
?>
<div class="order-summary-shipments">
    <h5><?php echo $this->__('Shipping Address'); ?></h5>
	<a href="#" class="edit-link" data-destination-step="1"><?php echo $this->__('Edit'); ?></a>
	<div class="clearfix"></div>

	<?php $_shippingAddress = $_shippingAddresses[0]; ?>

    <div class="shipping-address">
	    <span><strong><?php echo $_shippingAddress->getFirstname() . ' ' . $_shippingAddress->getLastname(); ?></strong></span>
	    <span><?php echo $_shippingAddress->getCompany() ?></span>
	    <span><?php echo $_shippingAddress->getStreet1() ?></span>
        <?php if ($_street2 = $_shippingAddress->getStreet2()): ?>
            <span><?php echo $_street2; ?></span>
        <?php endif; ?>
        <span><?php echo $_shippingAddress->getCity() . ', ' . $_shippingAddress->getRegion() . ' ' . $_shippingAddress->getPostcode(); ?></span>
	    <span><?php echo Mage::getModel('directory/country')->load($_shippingAddress->getCountryId())->getName(); ?></span>
        <span><?php echo $_shippingAddress->getTelephone(); ?></span>
    </div>

</div>