/* Future Ship Date (calendar) */

.future-ship-date {
  position: relative;
  height: 33px;
  width: 100%;

  @media(min-width: @screen-sm-max) and (max-width:@screen-sm-min) {
    width: 230px;
  }

}

.future-ship-date input[type='text'] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #c3c3c3;
  color: #666;
  padding: 0 0 0 10px;
  z-index: 2;
  .transition(border-color 0.1s);
}

.future-ship-date.calendar-visible input[type='text'] { border-color: #372718; }

.future-ship-date .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  cursor: text;
  font-size: 0;
  pointer-events: none;
  .sprite('calendar-icon');
}

.calendar {
  position: absolute;
  overflow: hidden;
  top: 33px;
  right: -1px;
  z-index: 1;
  width: 232px;
  background-color: #f7f7f7;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
  border-bottom: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  background-image: url('@{image-path}ajax-loader.gif');
  background-repeat: no-repeat;
  background-position: center center;
  @media(min-width: @screen-sm-max) and (max-width:@screen-sm-min) {
    left: -1px;
  }
}

.future-ship-date .calendar .all-pages { height: 250px; width: 9999px; }
.future-ship-date .calendar .all-pages > div { display: none; }
.future-ship-date .calendar .all-pages > div.preload { display: none !important; }
.future-ship-date .calendar .all-pages > div.active { display: block; }
.future-ship-date .calendar .calendar-page { float: left; }

.future-ship-date .calendar .month {
  background-color: #372718;
  height: 33px;
  line-height: 35px;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  cursor: default;
}

.future-ship-date .calendar {

  & > a {

    display: block;
    visibility: hidden;
    font-size: 0;
    position: absolute;

    &.prevmonth {

      left: 0;
      .sprite('calendar-prev');

      &:hover {
        .sprite('calendar-prev-hover');
      }

      &.disabled {
        .sprite('calendar-prev-disabled');
        cursor: default;
      }

    }

    &.nextmonth {

      right: 0;
      .sprite('calendar-next');

      &:hover {
        .sprite('calendar-next-hover');
      }

      &.disabled {
        .sprite('calendar-next-disabled');
        cursor: default;
      }

    }

  }

}

.future-ship-date .calendar .day {
  padding: 0 9px;
}

.future-ship-date .calendar .day-names > li {
  float: left;
  font-size: 11px;
  width: 14.28571428571429%;
  text-align: center;
  padding: 4px 0;
  cursor: default;
}

.future-ship-date .calendar .day-picker > li {
  float: left;
  width: 14.75%; // less accurate, for old browsers
  width: ~'calc((100% / 7) + 1px)'; // more accurate, for new browsers
  text-align: center;
  margin: 0 -1px -1px 0;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  font-size: 12px;
  font-weight: normal;
  color: #b1b1b1;
}

.future-ship-date .calendar .day-picker .today { color: #666; font-weight: bold; }
.future-ship-date .calendar .day-picker .unavailable { cursor: default; }

.future-ship-date .calendar .day-picker > li > span {
  display: block;
  padding: 3px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 2px solid transparent;
  transition: border-color 0.1s;
}

.future-ship-date .calendar .day-picker > li:hover > span {
  border-color: #3c3c3c;
  transition: border-color 0s;
}
.future-ship-date .calendar .day-picker > .selected > span { border-color: #3c3c3c; }
.future-ship-date .calendar .day-picker > .unavailable:hover > span { border-color: transparent; }


.future-ship-date .calendar .shipmethod-key { clear: both; margin-top: 20px; padding-top: 20px; }

.future-ship-date .calendar .shipmethod-key li {
  height: 10px;
  line-height: 10px;
  margin-bottom: 15px;
}

.future-ship-date .calendar .shipmethod-key li > span {
  display: block;
  background-color: #f7f7f7;
  margin: -5px 0 0 10px;
  font-size: 11px;
  color: #666;
  padding: 0 0 0 8px;
  font-weight: normal;
}

.future-ship-date .calendar .shipmethod-key li > span > span { float: right; }

.calendar .available { color:  #fff !important; }