@cross-sell-heart: '@{image-path}seasonal/cross-sell-icon-heart.png';

.cross-sell {

  h3 {

    font-size: @font-size-base;
    text-align: center;
    margin: 30px auto @grid-gutter-width;
    padding: 28px 0 0;
    color: @gray;
    background-image: url('@{cross-sell-heart}');
    background-repeat: no-repeat;
    background-position: top center;
    /*
    &:before {
      .sprite('cross-sell-icon'); // NOTE: Seasonal styles override this, on retail store pages
      margin: 0 auto @grid-gutter-width;
    }
    */

  }

  ul {
    margin: 0 auto;
    text-transform: lowercase;
    font-size: @font-size-medium-small;
  }

  li {

    display: block;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid @gray-lighter;
    clear: left;

    &:last-child {
      border-bottom: none;
    }

    a {
      display: block;
    }

    .crosssell-image {

      float: left;
      text-align: center;
      width: 126px;

      img {
        max-width: 126px;
        max-height: 85px;
      }

    }

    .crosssell-details {

      padding-top: 5px;

      p {
        margin: 0;
      }

      .price {
        color: @gray-light;
      }

    }

  }

  @media (min-width: @screen-md-min) {

    ul {
      text-align: center;
    }

    li {

      display: inline-block;
      width: 19.6%;
      padding: 0 20px;
      vertical-align: top;
      border: none;

      a {
        height: auto;
      }

      .crosssell-image {

        float: none;
        margin: 0 auto 3px;
        height: 85px;
        position: relative;

        img {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          margin: 0 auto;
        }

      }

      .crosssell-details {
        width: 100%;
        padding-top: 0;
      }

    }

  }

}