// Fran's footer styles go here
// Defaults  to mobile view; overrides for larger breakpoints at bottom of file

footer[role="contentinfo"] {

  .clearfix();
  margin-top: @line-height-computed;
  background-color: @footer-bg;
  font-size: @font-size-base;
  position: relative;

  .container {

    .links {

      text-align: center;

      .group {

        margin-bottom: 0;

        & > li {
          border-bottom: 1px solid @gray-lightest;
        }

      }

      .expander {
        display: none;
      }

      li {

        display: block;

        .header {
          display: block;
          text-transform: uppercase;
          color: @gray-light;
          height: 46px;
          line-height: 42px;
        }

        & > a{

          display: block;
          text-transform: lowercase;
          color: @gray-lighter;
          vertical-align: middle;

          &:hover,
          &:focus {
            color: @gray-light;
          }

        }

        & > div{

          display: block;
          text-transform: lowercase;
          color: @gray-lighter;
          vertical-align: middle;

          &:hover,
          &:focus {
            color: @gray-light;
          }

        }

        li {
          height: 46px;
          line-height: 42px;
        }

        .social-facebook {
          .sprite('social-facebook', inline-block);
          &:hover, &:focus {
            .sprite('social-facebook-hover', inline-block);
          }
        }
        .social-instagram {
          .sprite('social-instagram', inline-block);
          &:hover, &:focus {
            .sprite('social-instagram-hover', inline-block);
          }
        }
        .social-newsletter {
          cursor: pointer;
          color: #afafaf;
        }
        .social-twitter {
          .sprite('social-twitter', inline-block);
          &:hover, &:focus {
            .sprite('social-twitter-hover', inline-block);
          }
        }
        .social-youtube {
          .sprite('social-youtube', inline-block);
          &:hover, &:focus {
            .sprite('social-youtube-hover', inline-block);
          }
        }

      }
    }

    .contact-info {

      padding-bottom: 15px;
      text-align: center;
      color: @gray-lighter;

      .logo-watermark {
        .sprite('logo-watermark');
        margin: 45px auto 8px;
      }

      .phone {
        margin-bottom: (@line-height-computed / 5);
      }

      .hours {
        font-size: @font-size-smaller;
      }

    }

  }

}


// MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT

@media(min-width: @screen-md-min) {

  footer[role="contentinfo"] .container {

    padding: (@line-height-computed * 1.45) 0 (@line-height-computed * 0.8);
    font-size: @font-size-small;
    width: (@container-desktop - 20);

    .links {

      text-align: left;

      .group {

        margin-bottom: inherit;

        & > li {
          border-bottom: none;
        }

      }

      li {

        .header {
          height: floor((@font-size-small * @line-height-base) + 8px); // fixed height allows for even positioning of text and images
          line-height: normal;
        }

        .expander {
          display: block !important;
        }

        li {
          height: floor((@font-size-small * @line-height-base) + 8px); // fixed height allows for even positioning of text and images
          line-height: normal;
        }

      }

    }

  }

}

@media(min-width: @screen-lg-min) {

  footer[role="contentinfo"] .container {
    width: (@container-large-desktop - 20);
  }

}