// Fran's header and main nav styles (including mobile flyout menu) go here
// Defaults  to mobile view; overrides for larger breakpoints at bottom of file


// BANNER (LOGO) AND TOP LINKS (ACCOUNT/LOGOUT/CART ICON)

.header-container {

  position: relative; // keeps the mobile header (mostly) compatible with the Brick module
  margin-bottom: 0;

  header[role="banner"] {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: @zindex-navbar-fixed;
    text-align: center;
    min-width: @minimum-viewport-width;

    .banner-desktop {
      float: left;
      width: 100%;
      display: none;
    }

    .banner-mobile {

      #flyout-left-toggle {

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: @flyout-margin;
        cursor: default;

        .hamburger-icon {
          .sprite('hamburger-icon-dark');
          margin-top: 20px;
          margin-left: 15px;
          cursor: pointer;
        }

        // when flyout is not open, align toggler with content area for ms breakpoint
        body:not(.flyout-left) & {
          @media (min-width: @screen-ms-min) and (max-width: @screen-ms-max){
            left: 9.5%; // less accurate, for old browsers
            left: ~'calc((100% - @{screen-xs-max} + @{scrollbar-width}) / 2)'; // more accurate, for new browsers
          }
          @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
            left: 9.5%; // less accurate, for old browsers
            left: ~'calc((100% - @{screen-ms-max} + @{scrollbar-width}) / 2)'; // more accurate, for new browsers
          }
        }

      }

      .logo-mobile {
        .sprite('logo-mobile-dark');
        margin: ((@navbar-height - 30px) / 2) auto ((@navbar-height - 30px) / 2); // sprite is 30px tall
      }

    }

    // class applied to header[role="banner"] by JS when the user scrolls down
    &.glass {

      background-color: rgba(255,255,255,.9);
      box-shadow: 0 1px 4px rgba(0,0,0,.1);

      .banner-mobile {

        #flyout-left-toggle .hamburger-icon {
          .sprite('hamburger-icon-dark');
        }
        .logo-mobile {
          .sprite('logo-mobile-dark');
        }

      }

    }

  }

}

#topLinks {

  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  #topLinks-banner {

    position: fixed;
    right: (@grid-gutter-width / 2);
    top: 0;
    z-index: @zindex-navbar-fixed;
    .transition(~'left @{flyout-duration} cubic-bezier(0,1,0,1), right @{flyout-duration} cubic-bezier(0,1,0,1)');
    width: 25%;

    ul {

      text-align: right;

      li {

        display: none;
        position: relative;
        vertical-align: middle;
        font-size: 12px;
        text-transform: uppercase;

        &:after {
          content: "|";
          margin: 0 6px;
        }

        &.top-link-cart {

          display: inline-block;
          margin-left: -3px;

          #flyout-right-toggle {

            display: block;
            width: @flyout-margin;
            padding-top: 9px;
            padding-bottom: 9px;
            text-align: center;
            cursor: default;

            .icon-shopping-bag {

              cursor: pointer;
              .sprite('shopping-bag', inline-block);

              &:hover {
                .sprite('shopping-bag-hover', inline-block);
              }

              .item-count {
                display: block;
                position: absolute;
                top: 25px;
                left: 42px;
                background-color: @brand-primary;
                color: contrast(@brand-primary);
                font-size: 9px;
                line-height: normal;
                border-radius: 6px;
                padding: 1px 4px;
                .animation(item-count-appear 1s);
              }

            }

          }

          &:after {
            content: none; // no vertical bar after the shopping bag list item
          }

          // when flyout is not open, align toggler with content area for ms breakpoint
          body:not(.flyout-right) & {
            @media (min-width: @screen-ms-min) and (max-width: @screen-ms-max){
              margin-right: 38%; // less accurate, for old browsers
              margin-right: ~'calc((400% - @{screen-xs-max} + @{scrollbar-width}) / 2)'; // 400% because #topLinks-banner width is only 25%
            }
            @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
              margin-right: 38%; // less accurate, for old browsers
              margin-right: ~'calc((400% - @{screen-ms-max} + @{scrollbar-width}) / 2)'; // 400% because #topLinks-banner width is only 25%
            }
          }
        }
      }
    }
  }
}

// explicitly set some max-widths, to fix IE8 bug
#topLinks ul, #topLinks #flyout-right {
  max-width: @container-md;
  overflow-y: visible;
  @media(min-width: @screen-md-min){
    max-width: @container-md;
  }
  @media(min-width: @container-lg){
    max-width: 1210px;
  }
}

// MAIN NAV MENU (DESKTOP)
.navbar-container {

  display: none; // hidden by default (desktop media queries will display it)
  margin-bottom: 10px;

  nav[role="navigation"] {

    .navbar-main-collapse {

      position: relative;

      ul.navbar-nav {

        text-align: center;
        font-size: 0; // removes gaps between inline-block menu items
        margin-bottom: -1px; // part of fix for 1px gap between menu items and dropdown
        padding-bottom: 1px;
        white-space: nowrap;

        .active {
          a {
            color: #999 !important;
          }
        }

        li {

          display: inline-block;
          font-size: (@font-size-base + 1); // use unusual font size, slightly larger than base (~15px)
          text-transform: lowercase;

          a {

            display: block;
            padding-top: 10px;
            padding-bottom: 11px; // 1px extra on bottom is part of fix for 1px gap between menu items and dropdown

            &:hover {
              color: lighten(@gray-light, 4%);
            }

          }

        }

      }

      ul.navbar-main-expand {

        display: none; // initially hidden (will be displayed by JS)
        position: absolute;
        border: 5px solid #ffffff;
        background-color: @body-bg;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
        width: 100%;
        height: 208px; // default height, is changed by JS
        font-size: 0; // removes gaps between inline-block panels
        white-space: nowrap; // forces panels into one horizontal line
        overflow: hidden; // hides inactive panels
        z-index: @zindex-navbar-fixed;

        .navbar-panel {

          font-size: @font-size-base; // resets font size from parent rule
          width: 100%; // every panel fills the container element's width
          vertical-align: top;
          padding: 18px 18px 36px;
          text-align: center;
          white-space: normal; // make sure child category tiles wrap
          position: absolute;
          display: none;

          .navbar-tagline {

            text-transform: uppercase;
            color: @gray-dark;
            margin-top: 0;
            font-family: @font-family-sans-serif-light;

            & + img {
              margin-top: -2px;
            }

          }

          ul {

            font-size: 0; // removes gaps between inline-block panels
            margin-bottom: 1px;

            li {

              display: inline-block;
              white-space: normal;
              vertical-align: top;

              a {

                display: block;
                font-size: @font-size-medium-small;
                border-bottom: 1px solid lighten(@gray-lighter, 11%);
                .transition(border-bottom-color 10ms linear);
                padding-bottom: 16px;
                text-transform: lowercase;

                &:hover {
                  border-bottom-color: lighten(@gray-light, 4%);
                }

                .category-thumbnail {

                  width: 126px;
                  height: auto;
                  margin: (@grid-gutter-width / 2) (@grid-gutter-width / 2) 0;

                  // we show an empty div with a gray BG in place of a thumbnail if none exists for the category
                  &.placeholder {
                    background-color: darken(@body-bg, 10%);
                    height: 84px;
                  }

                }

              }

            }

          }

          .two-column-wrapper {

            width: 590px;
            margin: 10px auto 0;

            .row > div:first-child {
              border-right: 1px solid lighten(@gray-lighter, 10%);
            }

            li {

              display: block;

              a {
                border: none;
                height: auto;
                padding-top: 5px;
                padding-bottom: 4px;
              }

            }

          }

        }

      }

      // the arrow icon at the top of the nav menu dropdown, indicating which menu item is shown
      .navbar-arrow {
        .sprite('navmenu-indicator');
        position: absolute;
        bottom: 1px; // part of fix for 1px gap between menu items and dropdown
        display: none;
        z-index: @zindex-navbar-fixed + 1;
      }

    }

  }

}

// MOBILE OFF-CANVAS FLYOUT MENU (LEFT)
#flyout-left {

  position: absolute;
  top: 0;
  overflow-y: hidden;
  z-index: @zindex-navbar-fixed; // same z-index as header to prevent header from overlapping flyout
  .transition(~'left @{flyout-duration} cubic-bezier(0,1,0,1)');
  background-color: @body-bg;
  box-shadow: inset -30px 0px 30px -25px rgba(0,0,0,.15);

  @media(max-width: @screen-xs-max){
    left: -84%; // less accurate, for old browsers
    left: ~'calc(-100% + @{flyout-margin})'; // more accurate, for new browsers
    width: 84%; // less accurate, for old browsers
    width: ~'calc(100% - @{flyout-margin})'; // more accurate, for new browsers
  }

  @media(min-width: @screen-ms-min){
    left: -92%; // less accurate, for old browsers
    left: ~'calc(-100% + @{flyout-margin})'; // more accurate, for new browsers
    width: 92%; // less accurate, for old browsers
    width: ~'calc(100% - @{flyout-margin})'; // more accurate, for new browsers
  }

  header {

    padding: 10px;
    background-color: darken(@body-bg, 7%);
    box-shadow: inset -30px 0px 30px -25px rgba(0,0,0,.15);
    display: none; // this prevents flyout menu content from being keyboard-navigable when hidden

    body.flyout-left & {
      display: block;
    }

    #mobile-search {
      width: 100%;
      margin-bottom: (@line-height-computed / 2);
    }

    h5 {
      margin: 0;
      color: @gray;
    }

    &.account-header {
      margin-bottom: @line-height-computed;
    }

  }

  section {

    padding: 10px 0;
    display: none; // this prevents flyout menu content from being keyboard-navigable when hidden

    body.flyout-left & {
      display: block;
    }

    li {

      .clearfix();

      a {
        display: block;
      }

      .icon {

        display: block;
        float: left;
        height: 67px;
        width: 90px; // see .contents:after width below
        padding: 0 10px;
        text-align: center;

        & > * {
          height: auto;
          width: auto;
          max-width: 65px;
          max-height: 67px;
          margin: 0 auto;
        }

      }

      .contents {

        display: block;
        width: 100%;
        line-height: 67px;
        border-bottom: 1px solid @gray-lightest;
        white-space: nowrap;

        @media (max-width: @iphone-width) {
          font-size: 13px;
        }

        & > span {
          display: inline-block;
          vertical-align: middle;
        }

        // cover the left "icon" side of the border-bottom to fake a width of less than 100%
        &:after {
          width: 90px; // see .icon width above
          height: 1px;
          background-color: @body-bg;
          display: block;
          content: '';
          margin-bottom: -1px;
        }

      }

      &.category {
        text-transform: lowercase;
        font-size: @font-size-h5;
      }

      &:last-child .contents {
        border-bottom: none;
      }

      &.account-overview .account-icon {
        .sprite('flyout-account-overview');
      }

      &.account-profile .account-icon {
        .sprite('flyout-account-profile');
      }

      &.account-orders .account-icon {
        .sprite('flyout-account-orders');
      }

      &.account-communications .account-icon {
        .sprite('flyout-account-communications');
      }

      &.account-signout .account-icon {
        .sprite('flyout-account-signout');
      }

      &.account-signin .account-icon {
        .sprite('flyout-account-profile');
      }

      &.account-overview, &.account-profile, &.account-orders, &.account-communications, &.account-signout {
        display: none;
      }

      body.logged-in & {

        &.account-overview, &.account-profile, &.account-orders, &.account-communications, &.account-signout {
          display: block;
        }

        &.account-signin {
          display: none;
        }

      }

    }

    &.account-links {
      text-transform: uppercase;
      line-height: 175%;
    }

  }

}

// MOBILE OFF-CANVAS FLYOUT MENU (RIGHT)
#flyout-right {

  position: absolute;
  top: 0;
  overflow-y: hidden;
  z-index: @zindex-navbar-fixed; // same z-index as header to prevent header from overlapping flyout
  .transition(~'right @{flyout-duration} cubic-bezier(0,1,0,1)');
  background-color: @body-bg;
  box-shadow: inset 30px 0px 30px -25px rgba(0,0,0,.15);

  @media(max-width: @screen-xs-max){
    right: -84%; // less accurate, for old browsers
    right: ~'calc(-100% + @{flyout-margin})'; // more accurate, for new browsers
    width: 84%; // less accurate, for old browsers
    width: ~'calc(100% - @{flyout-margin})'; // more accurate, for new browsers
  }

  @media(min-width: @screen-ms-min){
    right: -92%; // less accurate, for old browsers
    right: ~'calc(-100% + @{flyout-margin})'; // more accurate, for new browsers
    width: 92%; // less accurate, for old browsers
    width: ~'calc(100% - @{flyout-margin})'; // more accurate, for new browsers
  }

  #cart-loader {
    margin: 100px auto;
  }

}

// CART MENU CONTENT (APPEARS IN BOTH MOBILE FLYOUT RIGHT, AND DROPDOWN IN DESKTOP VIEW)
.cart-menu {

  display: none; // this prevents cart menu content from being keyboard-navigable when hidden

  body.flyout-right & {
    display: block;
  }

  h5 {
    margin: 15px 22px;
    color: @gray;
  }

  .cart-items {

    // ITEM RENDERER STYLES LOCATED IN CART.LESS

    padding-left: 0;
    border: none;

    & > li {

      border-bottom: 1px solid @gray-lightest;

      &:last-child {
        border-bottom: 1px solid @gray-lightest;
      }

    }

  }

}

.flyout-push-wrapper {

  position: relative;
  left: 0;
  right: 0;
  .transition(@flyout-duration cubic-bezier(0,1,0,1) left);

  body.flyout-left &#main-wrapper, body.flyout-right &#main-wrapper {
    position: fixed; // prevent the main page content from scrolling while the flyout is open
    bottom: 0;
    overflow: hidden;
    width: 100%;
  }

}

.flyout-push {
  width: 100%;
  height: auto;
}

body {

  header[role="banner"] {
    .transition(~'left @{flyout-duration} cubic-bezier(0,1,0,1), right @{flyout-duration} cubic-bezier(0,1,0,1), 150ms linear background-color, 150ms linear box-shadow');
  }

  &.flyout-left {

    #flyout-left {
      left: 0;
    }

    .flyout-push-wrapper {

      @media(max-width: @screen-xs-max){
        left: 84%; // less accurate, for old browsers
        left: ~'calc(100% - @{flyout-margin})'; // more accurate, for new browsers
      }

      @media(min-width: @screen-ms-min){
        left: 92%; // less accurate, for old browsers
        left: ~'calc(100% - @{flyout-margin})'; // more accurate, for new browsers
      }

    }

    header[role="banner"].glass {

      @media(max-width: @screen-xs-max){
        left: 84%; // less accurate, for old browsers
        left: ~'calc(100% - @{flyout-margin})'; // more accurate, for new browsers
        right: -84%; // less accurate, for old browsers
        right: ~'calc(-100% + @{flyout-margin})'; // more accurate, for new browsers
      }

      @media(min-width: @screen-ms-min){
        left: 92%; // less accurate, for old browsers
        left: ~'calc(100% - @{flyout-margin})'; // more accurate, for new browsers
        right: -92%; // less accurate, for old browsers
        right: ~'calc(-100% + @{flyout-margin})'; // more accurate, for new browsers
      }

      .banner-mobile #flyout-left-toggle {
        height: 9999px; // needs to be taller than any screen; toggle button tap zone spans full device height
      }

    }

    #topLinks {

      #topLinks-banner {

        @media(max-width: @screen-xs-max){
          right: -84%; // less accurate, for old browsers
          right: ~'calc(-100% + @{flyout-margin})'; // more accurate, for new browsers
        }

        @media(min-width: @screen-ms-min){
          right: -92%; // less accurate, for old browsers
          right: ~'calc(-100% + @{flyout-margin})'; // more accurate, for new browsers
        }

      }

    }

    div[role="main"] {
      margin-left: 0;
    }

  }

  &.flyout-right {

    #flyout-right {
      right: 0;
      display: block;
    }

    .flyout-push-wrapper {

      @media(max-width: @screen-xs-max){
        left: -84%; // less accurate, for old browsers
        left: ~'calc(-100% + @{flyout-margin} + 10px)'; // more accurate, for new browsers
      }

      @media(min-width: @screen-ms-min){
        left: -92%; // less accurate, for old browsers
        left: ~'calc(-100% + @{flyout-margin} + 10px)'; // more accurate, for new browsers
      }

    }

    header[role="banner"].glass {

      @media(max-width: @screen-xs-max){
        left: -84%; // less accurate, for old browsers
        left: ~'calc(-100% + @{flyout-margin})'; // more accurate, for new browsers
        right: 84%; // less accurate, for old browsers
        right: ~'calc(100% - @{flyout-margin})'; // more accurate, for new browsers
      }

      @media(min-width: @screen-ms-min){
        left: -92%; // less accurate, for old browsers
        left: ~'calc(-100% + @{flyout-margin})'; // more accurate, for new browsers
        right: 92%; // less accurate, for old browsers
        right: ~'calc(100% - @{flyout-margin})'; // more accurate, for new browsers
      }

    }

    #flyout-right-toggle {

      height: 9999px; // needs to be taller than any screen; toggle button tap zone spans full device height
      padding-right: 5px;

      .item-count {
        left: 39px !important;
      }

    }

    #topLinks {

      #topLinks-banner {

        @media(max-width: @screen-xs-max){
          right: 84%; // less accurate, for old browsers
          right: ~'calc(100% - @{flyout-margin})'; // more accurate, for new browsers
        }

        @media(min-width: @screen-ms-min){
          right: 92%; // less accurate, for old browsers
          right: ~'calc(100% - @{flyout-margin})'; // more accurate, for new browsers
        }

      }

    }

    div[role="main"] {
      margin-right: 0;
    }

  }

}

div[role="main"] {
  // animate the removal or restoration of margins (for browsers that support transitions from units to auto)
  .transition(@flyout-duration cubic-bezier(0,1,0,1) margin-left);
}

@keyframes item-count-appear {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes item-count-appear {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes item-count-appear {
  from { opacity: 0; }
  to { opacity: 1; }
}


// MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT

@media(min-width: @screen-md-min) {

  #main-wrapper {
    // override positioning that is used for mobile flyout display
    width: auto !important;
    position: relative !important;
  }

  #flyout-left {
    left: -92% !important; // disable mobile flyout menu; less accurate, for old browsers
    left: ~'calc(-100% + @{flyout-margin})' !important; // disable mobile flyout menu; more accurate, for new browsers
  }

  #flyout-right {

    .transition(none);

    .cart-menu {
      max-height: 0;
      .transition(~'max-height 500ms'); // animate the dropdown menu for desktop view
    }

    body.flyout-right & {

      .container();
      position: relative;
      min-height: 0;
      right: 0;
      top: 0;
      box-shadow: none;
      background: transparent;
      overflow-y: visible; // so the cart menu's drop shadow doesn't get cut off

      .cart-menu {

        position: relative;
        background-color: @body-bg;
        float: right;
        width: 480px;
        margin-top: 54px;
        border: 5px solid #ffffff;
        box-shadow: 1px 1px 10px rgba(100,100,100,.1);
        max-height: 1280px; // arbitrary max-height is tall enough to cover all cases but short enough to make animation noticeable
        overflow: hidden; // so animation will reveal content as the element increases height
        overflow-y: visible;

        h5 {
          margin-bottom: 0;
        }

        .cart-items {

          padding-bottom: 0;

          & > li {

            padding-left: 10px;

            .row {
              padding-bottom: 10px;
            }

            &:last-child {
              border-bottom: none;
            }

          }

        }

      }

      &:before {
        .sprite('navmenu-indicator'); // attach arrow to this element instead of pop-up menu itself, because menu has overflow: hidden
        position: absolute;
        top: 46px;
        right: 24px;
        z-index: 1; // prevents .cart-menu drop shadow from overlapping arrow
      }

    }

  }

  .flyout-push-wrapper {
    left: 0 !important; // disable mobile flyout menus
    right: 0 !important; // disable mobile flyout menus
  }

  .flyout-push {
    height: auto;
  }

  .header-container {

    header[role="banner"] {

      .make-row();
      margin-bottom: @line-height-computed;
      background-color: transparent !important; // overrides "glass" class
      position: relative !important; // overrides glass class, also pushes content below the banner

      left: 0 !important; // disable mobile flyout menu
      right: 0 !important; // disable mobile flyout menu
      .transition(none) !important; // disable mobile flyout menu

      .banner-mobile {
        display: none;
      }

      .banner-desktop {

        display: block;

        .logo {

          margin: 30px auto 18px;

          a {

            display: inline-block;

            // scale the 2x logo for retina displays
            img {
              width: 130px;
              height: 82px;
            }

          }

        }

      }

    }

  }

  #topLinks {

    body.flyout-right & {
      z-index: @zindex-modal;
    }

    #topLinks-banner {

      .container();
      position: absolute;
      right: 30px !important;
      left: 0;
      height: 0; // reduce the height to zero so it won't overlap any of the rest of the header
      .transition(none);

      ul {

        li {

          display: inline-block;

          &.top-link-cart #flyout-right-toggle {

            width: auto;
            height: auto;
            padding-right: 0;

            .icon-shopping-bag .item-count {
              left: 30px !important;
            }

          }

        }

      }

    }

  }

}

.navbar-container {

  @media(min-width: @screen-md-min) {
    display: block; // visible for screens larger than mobile
  }

  .navbar-main-collapse ul.navbar-nav > li > a {

    @media(min-width: @screen-md-min) {
        padding-left: 19px;
        padding-right: 19px;
    }

    @media(min-width: @screen-lg-min) {
        padding-left: 32px;
        padding-right: 32px;
    }

  }

}