// Custom Fran's styles to be used globally go in here
// Defaults  to mobile view; overrides for larger breakpoints at bottom of file

// Import common styles
@import "header.less";
@import "tiles.less";
@import "footer.less";
@import "calendar.less";
@import "crosssell.less";

// General styles below this point

body {

  background-repeat: no-repeat;
  background-position: top center;
  background-color: rgba(249,249,247,1);
  overflow-x: hidden;
  height: 100%;
  min-width: @minimum-viewport-width;

  @media(min-width: @screen-sm-min){
    background-color: @body-bg;
    background-image: url('@{image-path}bg-default.png');
  }

  &.page-empty {
    background-color: transparent;
    background-image: none;
  }

}

// Main container padding needs to go away for mobile view
@media(max-width: @screen-ms-max){
  #content-container{
    padding-left: 0;
    padding-right: 0;
  }
}

// align Main contianer to the right whent the right flyout is open in mobile views
@media(max-width: @screen-sm-max) {
    body.flyout-right #content-container{
        margin-right: 0;
    }
}

a {

  .transition(color 25ms);

  &:hover,
  &:focus {
    text-decoration: none;
  }

  // styles for keyboard-navigation (make links more visible when they were given focus by the keyboard)
  &.keyboard-navigated:focus:not(:active) {

    color: #000000 !important;
    box-shadow: 0 0 10px 5px rgba(255,255,255,0.7) !important;
    background-color: rgba(255,255,255,0.7) !important;

    &.dark { // invert colors for dark backgrounds
      color: #ffffff !important;
    }

    &.tile-image {
      border: 2px solid @seasonal-dark !important;
      box-shadow: 0 0 10px 5px @seasonal-dark !important;
      background-color: transparent !important;
      margin: -2px 0 !important;
    }

    .backdrop .banner > & {

      border: inherit !important;
      box-shadow: inherit !important;
      background-color: inherit !important;

      .banner-button, .action-label {
        margin: -2px !important;
        border: 2px solid @seasonal-dark !important;
        box-shadow: 0 0 5px 5px #ffffff !important;
      }

    }

  }

}

// Wrap content in this class if you want a white background behind it
.main-content {
  background-color: @content-bg;
}

// Ajax loading animation
#loading-icon {

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -25px;
  z-index: (@zindex-modal + 1);

}

.loading-animation-1 { .sprite('loading-animation-1'); }
.loading-animation-2 { .sprite('loading-animation-2'); }
.loading-animation-3 { .sprite('loading-animation-3'); }
.loading-animation-4 { .sprite('loading-animation-4'); }
.loading-animation-5 { .sprite('loading-animation-5'); }
.loading-animation-6 { .sprite('loading-animation-6'); }
.loading-animation-7 { .sprite('loading-animation-7'); }
.loading-animation-8 { .sprite('loading-animation-8'); }
.loading-animation-9 { .sprite('loading-animation-9'); }
.loading-animation-10 { .sprite('loading-animation-10'); }

// stylized divider line with fleur de lis (large)
hr {

  .sprite('logo-divider');
  border: 0;
  margin-top: 0;

  &:before, &:after {
    content: "";
    position: absolute;
    margin-top: 19px;
    height: 1px;
    background-color: @hr-border;
    width: 43%; // less accurate, for old browsers
    width: ~'calc((100% - 56px) / 2)'; // more accurate, for new browsers
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  // modified version that removes the fleur-de-lis (so it's just a plain divider line)
  &.plain {

    width: 100%;
    height: 1px;
    margin-top: 60px;
    margin-bottom: 50px;
    background: @hr-border;

    &:before, &:after {
      display: none;
    }

  }

}

// stylized divider line with fleur de lis (small)
.accent-divider {
  .sprite('accent-divider');
  margin: @line-height-computed auto;
}

// basic divider line that displays element contents (presumably text) in the middle of it
// (element contents must be wrapped in a <span> element)
.divider-with-text {

  color: @gray-lighter;
  line-height: 0;
  padding-top: (@font-size-small / 2);
  margin-top: (@font-size-small * 1.5);
  font-size: @font-size-small;
  height: (@font-size-small * 1.5);
  text-align: center;
  overflow: hidden;
  text-transform: uppercase;

  span {

    display: inline-block;
    position: relative;
    color: @gray-lighter;
    text-transform: uppercase;

    &:before, &:after {
      content: '';
      position: absolute;
      height: 0;
      border-bottom: 1px solid lighten(@gray-lighter, 7%);
      top: 0;
      width: 1000px;
    }

    &:before {
      right: 100%;
      margin-right: @grid-gutter-width;
    }

    &:after {
      left: 100%;
      margin-left: @grid-gutter-width;
    }

  }

}

// alternate vertical divider with the word "OR" in the middle of it
.dynamic-or-divider {
  .sprite('divider-horizontal-or');
  margin: 30px auto;
  font-size: 0;

  @media(min-width: @screen-sm-min) {
    .sprite('divider-vertical-or');
    margin: auto;
  }

}

// Reusable expander
.expander-toggle {

  cursor: pointer;

  &.keep-open.expanded, &.toggle-disabled {
    cursor: auto;
  }

  &.expanded .hide-when-expanded {
    display: none;
  }

}
.expander {

  display: none;

  &.expanded {
    display: block;
  }

}

// Fran's Tabs styles
.frans-tabs {

  padding: 0 @grid-gutter-width;
  font-size: 0;

  li {

    display: inline-block;
    font-size: @font-size-small;
    text-align: center;
    text-transform: uppercase;
    background-color: lighten(@gray-lightest, 7%);
    border: 1px solid @gray-lightest;
    margin-right: -1px; // prevent double tab borders by overlapping next one 1px on right side
    .transition(background-color 200ms linear);

    & > * {
      display: block;
      padding: @grid-gutter-width;
    }

    &.active {
      background-color: #ffffff;
      border-bottom: 1px solid #ffffff;
    }

    &.first {
      border-left: 1px solid @gray-lightest;
    }

    &.last {
      margin-right: 0; // reset the -1px margin used by all tabs but the last one
    }

    &:hover {

      background-color: lighten(@gray-lightest, 4%);

      &.active {
        background-color: #ffffff; // no special color for hovering over an active tab
      }

    }

  }

  &.one li {
    width: 100%;
    margin-right: 0;
  }

  &.two li {

    width: (100% / 2);
    width: ~'calc((100% / 2) + 1px)';

    &.last {
      width: (100% / 2);
    }

  }

  &.three li {

    width: (100% / 3);
    width: ~'calc((100% / 3) + 1px)';

    &.last {
      width: (100% / 3);
    }

  }

  &.four li {

    width: (100% / 4);
    width: ~'calc((100% / 4) + 1px)';

    &.last {
      width: (100% / 4);
    }

  }

  &.five li {

    width: (100% / 5);
    width: ~'calc((100% / 5) + 1px)';

    &.last {
      width: (100% / 5);
    }

  }

}

.frans-tab-content {
  margin: -1px @grid-gutter-width @grid-gutter-width @grid-gutter-width;
  padding: 21px 90px 20px;
  background-color: #ffffff;
  border: 1px solid @gray-lightest;
}

// End Fran's Tabs styles

/* Fran's tooltip styles */
.tooltip {

  border: 1px solid #bdbdbd;
  background-color: #f5f5f5;
  color: #666;
  width: 238px;
  padding: 10px 15px;
  line-height: 18px;
  position: absolute;
  z-index: @zindex-tooltip;
  display: none;

  h3 {
    margin-top: 0;
    font-weight: bold;
    font-size: 13px;
    padding: 0;
    line-height: 18px;
    text-transform: none;
  }

  ul {
    margin-bottom: 0;
  }

  li {

    text-align: left;
    font-size: 13px;
    display: block !important;
    margin: 0 !important;
    padding-left: 12px;

    &:before {
      content: '\2022';
      display: inline-block;
      font-size: 10px;
      margin-left: -10px;
      width: 10px;
    }

  }

  .tooltip-arrow {
    position: absolute;
    margin: auto;
  }

  &.right .tooltip-arrow {
    .sprite('tooltip-arrow-right');
    left: -10px;
    top: 0;
    bottom: 0;
  }

  &.left .tooltip-arrow {
    .sprite('tooltip-arrow-left');
    right: -10px;
    top: 0;
    bottom: 0;
  }

  &.bottom .tooltip-arrow {
    .sprite('tooltip-arrow-bottom');
    top: -10px;
    left: 0;
    right: 0;
  }

  &.top .tooltip-arrow {
    .sprite('tooltip-arrow-top');
    bottom: -10px;
    left: 0;
    right: 0;
  }

}

// End Fran's tooltip styles

// Help icon styles

.help-icon {
  .sprite('help-icon');
  position: absolute;
  font-size: 0;
}

// End Help icon styles

// Global modal styles

#simplemodal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  opacity: 0.705 !important; // override opacity set by JS library
  z-index: @zindex-modal-background !important; // override z-index set by JS library
}

#simplemodal-container {

  position: absolute;
  margin-top: @navbar-offset;
  z-index: @zindex-modal !important; // override z-index set by JS library
  overflow: visible;
  padding: 20px;
  height: auto !important;
  min-width: 420px;
  max-width: 80%;
  border: 1px solid @gray-lighter;
  background-color: lighten(@gray-lightest, 5%);
  font-size: @font-size-small;

  a {
    color: #6D4720 !important;
  }
  @media(max-width: 455px) {
    min-width: 90%;
  }

  .simplemodal-wrap {
    overflow: visible !important;
  }

  .simplemodal-close {

    position: absolute;
    right: 0;
    top: -33px;
    background-color: @gray-lighter;
    border: 4px solid @gray-lighter;
    border-right-width: 3px;
    border-bottom-width: 3px;
    .sprite('modal-close-icon');
    box-sizing: content-box;
    .transition(~'background-color 200ms linear, border-color 200ms linear');

    &:hover {
      background-color: @gray-light;
      border-color: @gray-light;
    }
    &.close-modal {
      position: static;
      right: auto;
      top: auto;
      border: none;
      background: none;
      display: inline-block;
      width: auto;
      height: auto;
    }

  }

  h1, h2, h3, h4, h5, h6 {
    font-size: @font-size-base;
    font-weight: normal;
    margin-top: 0;
  }

  .popup-logo {
    text-align: center;
  }

  #address-modal {
    &.email-dob{
      .page-title .modal-title{
        font-size: 12px;
        font-weight: bold;
        margin: 4px 2px;
      }
      h5{
        margin: 24px 0 4px 0;
        font-weight: normal;
        color: #333;
        text-transform: none;
        font-size: 12px;

        &.dob-title{
          margin: 24px 0 4px 0;
        }
      }
      #email{
        width: 100%;
        border: 1px solid #ddd;
        color: #999;
        padding: 8px 36px 8px 8px;
      }
      p{
        color: #aaa;
        font-style: italic;
        padding: 4px 0 0 0;
        font-size: 12px;
        line-height: 18px;
      }
      button{
        float: none;
        width: 100%;
        margin: 24px 0 0 0;
      }
    }

  }
}

// "Edit" link styles used throughout the site
.edit-link {
  float: right;
  color: @link-color-bright;
  font-size: @font-size-small;
  margin-left: @grid-gutter-width;
  cursor: pointer; // because sometimes the .edit-link class is on a span instead of an actual link
}

// Credit card form styles
.card-types {

  .icon {

    background-color: #cdcdcd;
    margin-right: (@grid-gutter-width / 2);
    .transition(~'background-color 150ms linear');

    &.active {
      background-color: #a4a4a4;
    }

    &.visa {
      .sprite('card-icon-visa', inline-block);
    }

    &.amex {
      .sprite('card-icon-amex', inline-block);
    }

    &.mastercard {
      .sprite('card-icon-mastercard', inline-block);
    }

    &.discover {
      .sprite('card-icon-discover', inline-block);
    }

  }

}

.cvn-popup-image {

  width: 367px;
  height: 305px;
  margin: 0 8px;
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;

  @media (max-width: @screen-xs-max){
    width: 100%;
    max-width: 367px;
    background-size: contain;
    height: 315px;
    margin: 0;
  }

  @media (max-width: 430px){
    height: 275px;
  }

  @media (max-width: 350px){
    height: 230px;
  }

  &.default {
    background-image: url('@{image-path}cvn-sample-default.png');
  }

  &.amex {
    background-image: url('@{image-path}cvn-sample-amex.png');
  }

  .card-name {
    position: absolute;
    display: block;
    right: 15px;
    bottom: 35px;
    font-weight: bold;
    font-size: 15px;
    color: #666666;
  }

  .cvn-label {
    position: absolute;
    display: block;
    right: 15px;
    bottom: 13px;
    font-size: 15px;
    color: #a3a3a3;
  }

}

.cvn-popup-content {

  text-align: center;

  @media(min-width: 1024px) {
    width: 766px;
    white-space: nowrap;
  }

}

.expires-label {
  text-transform: none;
  padding-top: ((@input-height-base - @line-height-computed) / 2); // vertically center label next to text inputs
}

// Session message styles
ul.messages {

  padding: @grid-gutter-width;
  margin: @grid-gutter-width;
  border: 1px solid @gray;
  background-color: lighten(@gray-lightest, 10%);

  .success-msg {
    color: @state-success-text;
  }

  .error-msg, .notice-msg, .warning-msg {
    color: @state-warning-text;
  }

}