// Fran's general-purpose tile styles go here (used in frontend product grid view)
// Defaults  to mobile view; overrides for larger breakpoints at bottom of file
// Also note that different row types are available, each with its own styles here

.tile-row {

  .make-row();

  @media(max-width: @screen-ms-max) {
    margin-left: 0;
    margin-right: 0;
  }

  .tile {

    @media(min-width: @screen-sm-min) {
      .make-sm-column(12);
    }

    @media(max-width: @screen-ms-max) {
      .frans-container.keep-mobile-gutters & {

        .tile-content {
          margin-bottom: @grid-gutter-width;
        }

        &:last-child .tile-content {
          margin-bottom: 0;
        }

      }
    }
    .tile-content {

      #gradient > .vertical(@start-color: rgba(249,249,247,1); @end-color: rgba(234,234,234,1));
      text-transform: uppercase;
      text-align: center;
      font-size: @font-size-small;

      h3 {
        margin-top: 0;
        font-size: @font-size-h4;
      }

      .tile-image {

        display: block;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;


        .overlay {

          padding: @line-height-computed (@line-height-computed / 2);
          min-height: 350px;
          width: 100%;
          .transition(background-color 150ms linear);

          // special behavior for iPhone size
          @media(max-width: @iphone-width){
            min-height: 350px;
          }

          & > h3 {
            margin-bottom: 4px;
            font-family: "Trade Gothic Light", helvetica, arial, sans-serif;
          }

          .accent-divider {
            margin-top: 6px;
            margin-bottom: 10px;
          }

          li {
            font-size: @font-size-small;
            text-transform: none;
          }

          .reserved-categories {

            background-color: fadeout(#ffffff, 60%);
            padding: 10px;
            margin: 0 -10px;

            @media(min-width: @screen-sm-min) and (max-width: @screen-sm-max){
              padding-left: 75px;
              padding-right: 75px;
            }

            @media(min-width: @screen-md-min) and (max-width: @screen-md-max){
              padding-left: 50px;
              padding-right: 50px;
            }

            @media(min-width: @screen-lg-min){
              padding-left: 88px;
              padding-right: 88px;
            }

            li {

              display: inline-block;

              &:before {
                .sprite('logo-micro', inline-block);
                vertical-align: middle;
                margin: 0 0 1px 4px;
              }

              &:first-child:before {
                display: none;
              }

            }

          }

        }
        &.dark {
          color: #ffffff; // lighter color goes over dark images (use white instead of one of the gray color vars)
        }

        &.light-tile {
          color: inherit; // darker color goes over light images (should be inheriting default @gray color for links)
        }

        &:hover .overlay.light-tile {
          background-color: rgba(255,255,255,0.1);
        }

      }

      .tile-details {

        .details-content {

          li {

            font-size: @font-size-small;
            text-align: left;
            margin-bottom: @grid-gutter-width;

            a {

              display: block;
              padding: 8px 10px;
              background-color: rgba(255,255,255,1);
              .transition(background-color 250ms linear);

              &:hover {
                background-color: rgba(255,255,255,.8);
              }

            }

            &:last-child {
              margin-bottom: 0;
            }

          }

          .details-description {
            display: block;
            text-transform: none;
            color: @gray-light;
          }

        }

      }

      .details-left, .details-right {

        &.product-tile .details-content {
          margin-left: 45px;
          padding: 25px 75px;
        }

        h3 {
          font-family: "Trade Gothic Light", helvetica, arial, sans-serif;
        }

        .price {
          color: @gray-lighter;
        }

        .product-description {
          color: @gray-lighter;
          text-transform: none;
        }

        @media(max-width: @screen-ms-max){

          &.vertical-align {
            margin-top: 0 !important;
          }

          &.product-tile .details-content {
            margin-left: 0;
            padding: 0 25px;
          }

        }

      }

      .image-left, .image-right {
        height: auto;
        width: 100%;
      }

      &.slim {

        font-size: @font-size-h5;

        a {

          background: #a69c9b;
          display: block;
          height: 80px;
          line-height: 60px;
          padding: 10px;

          span {
            display: inline-block;
            line-height: @line-height-computed;
            vertical-align: middle;
            color: #ffffff;
          }

        }

        br {
          display: none;
        }

        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
          font-size: @font-size-base;
        }

        @media (max-width: @screen-sm-max){
          br {
            display: inline;
          }
        }

      }

    }

  }

  &:first-child {
    margin-top: @navbar-height; // push the first row down so it's under the mobile header
  }

  .frans-container &:first-child {

    margin-top: 0; // reset the first row margin if inside a frans-container

    // special behavior for iPhone size
    @media(max-width: @iphone-width) {

      .tile:first-child .tile-content .tile-image .overlay {
        padding-top: 10px;
        min-height: 240px;
      }

      // special behavior for iPhone size
      .backdrop + & .tile:first-child .tile-content .tile-image .overlay {
        padding-top: 20px;
        min-height: 350px;
      }

    }

  }

  &.boundless {

    background-color: @body-bg;

    .banner {
      margin: 0;
    }

  }

}


// TILE ROW STYLES BELOW THIS POINT

// ROW LAYOUT "ONE": 1 row with 2 cols
.tile-row.one {
  .tile {
    @media(min-width: @screen-sm-min){
      .make-sm-column(12);
    }
  }
}
// END ROW LAYOUT "ONE"

// ROW LAYOUT "TWO": 1 row with 2 cols
.tile-row.two {
  .tile {
    @media(min-width: @screen-sm-min){
      .make-sm-column(6);
    }
  }
}
// END ROW LAYOUT "TWO"

// ROW LAYOUT "THREE": 1 row with 3 cols, collapses to 1 row with 1 col and 1 row with 2 cols
.tile-row.three {
  .tile {

    @media(min-width: @screen-sm-min) {

      .make-md-column(4);

      &.one {
        @media(max-width: @screen-sm-max) {
          .make-sm-column(12); // first column goes to full width
          .tile-content {
            margin-bottom: 0;
          }
        }
      }
      &.two {
        @media(max-width: @screen-sm-max) {
          .make-sm-column(6); // second column goes to 50% width
          clear: left; // this is how we start a new row
          .tile-content {
            margin-top: @grid-gutter-width;
          }
        }
      }
      &.three {
        @media(max-width: @screen-sm-max) {
          .make-sm-column(6); // third column goes to 50% width
          .tile-content {
            margin-top: @grid-gutter-width;
          }
        }
      }
    }

  }
}
// END ROW LAYOUT "THREE"

// ROW LAYOUT "THREE-FLIP": 1 row with 3 cols, collapses to 1 row with 2 cols and 1 row with 1 col
.tile-row.three-flip {
  .tile {

    @media(min-width: @screen-sm-min) {

      .make-md-column(4);

      &.one {
        @media(max-width: @screen-sm-max) {
          .make-sm-column(6); // first column goes to 50% width
          .tile-content {
            margin-bottom: @grid-gutter-width;
          }
        }
      }
      &.two {
        @media(max-width: @screen-sm-max) {
          .make-sm-column(6); // second column goes to 50% width
          .tile-content {
            margin-bottom: @grid-gutter-width;
          }
        }
      }
      &.three {
        @media(max-width: @screen-sm-max) {
          .make-sm-column(12); // third column goes to full width
          clear: left; // this is how we start a new row
          .tile-content {
            margin-bottom: 0;
          }
        }
      }
    }

  }
}
// END ROW LAYOUT "THREE-FLIP"

// ROW LAYOUT "FOUR": 1 row with 4 cols, collapses to 2 rows with 2 cols
.tile-row.four {

  .tile {
    @media(min-width: @screen-sm-min) {
      .make-lg-column(3);
    }
  }

  @media(min-width: @screen-sm-min) and (max-width: @screen-md-max) {
    .tile {

      .make-sm-column(6);
      .tile-content {
        margin-bottom: @grid-gutter-width;
      }

      &.three, &.four {
        .tile-content {
          margin-bottom: 0;
        }
      }

    }
  }

}
// END ROW LAYOUT "FOUR"

// ROW LAYOUT "FIVE": 1 row with 5 cols, collapses to 1 row with 2 cols and 1 row with 3 col
.tile-row.five {
  .tile {

    @media (max-width: @screen-xs-max) {
      &.one, &.two, &.three, &.four{
        border-bottom: 2px solid #ffffff;
      }
    }

    @media(min-width: @screen-ms-min) {

      .make-ms-column(2.4);

      @media(max-width: @screen-ms-max) {
        .tile-content {
          margin-bottom: 0 !important;
        }
        &.one, &.two {
          .make-ms-column(6); // first and second columns go to 50% width
          .tile-content {
            margin-bottom: @grid-gutter-width;
          }
        }
        &.three {
          clear: left; // this is how we start a new row
        }
        &.three, &.four, &.five {
          .make-ms-column(4); // last three columns go to 33% width
          margin-top: 2px; // leave a 2px micro-gutter between rows
        }
        &.one, &.three {
          padding-left: 0;
          padding-right: 1px; // leave half of a 2px micro-gutter
        }
        &.two, &.five {
          padding-left: 1px; // leave half of a 2px micro-gutter
          padding-right: 0;
        }
        &.four {
          padding-left: 1px; // leave half of a 2px micro-gutter
          padding-right: 1px; // leave half of a 2px micro-gutter
        }
      }

    }

  }
}
// END ROW LAYOUT "FIVE"

// ROW LAYOUT "ALL-PRODUCTS": 2 rows with 3 cols, collapses to 3 rows with 2 cols (
.tile-row.all-products {

  .tile {

    @media(min-width: @screen-sm-min) {

      .make-sm-column(6);
      .make-md-column(4);

      &.three {
        @media(max-width: @screen-sm-max) {
          clear: left; // this is how we start a new row
          .tile-content {
            margin-top: @grid-gutter-width;
          }
        }
      }
      &.four {
        clear: left; // this is how we start a new row
        .tile-content {
          margin-top: @grid-gutter-width;
        }
        @media(max-width: @screen-sm-max) {
          clear: none; // this is how we get rid of a row break
        }
      }
      &.five {
        .tile-content {
          margin-top: @grid-gutter-width;
        }
        @media(max-width: @screen-sm-max) {
          clear: left; // this is how we start a new row
        }
      }
      &.six {
        .tile-content {
          margin-top: @grid-gutter-width;
        }
      }

    }

  }

  // special case: the last tile in the last row needs to go full-width for the "sm" breakpoint
  &:last-child .tile:last-child {
    @media(min-width: @screen-sm-min) and (max-width: @screen-sm-max){
      width: 100%;
    }
  }

}
// END ROW LAYOUT "ALL-PRODUCTS"

// INSET STYLES
.inset {

  width: 350px;
  margin: 40px 20px;
  padding: 10px 30px;
  text-align: center;
  .clearfix();

  // use line-height enable vertical alignment of interior content
  line-height: 310px;
  .no-gutters & {
    line-height: 290px;
  }

  // determine color for text
  color: @gray !important;
  &.dark { color: #ffffff !important; }

  .inset-valign-center {
    display: inline-block;
    vertical-align: middle;
    line-height: @line-height-computed; // reset line-height established in parent element
  }

  h3 {
    margin-top: 0;
    font-family: "Trade Gothic Light", helvetica, arial, sans-serif;
  }

  p {
    font-size: @font-size-small;
    line-height: (@line-height-base * 1.25);
  }

  img {
    margin: 0 auto (@line-height-computed / 2);
  }

  .action-label {
    text-transform: uppercase;
  }

  .backdrop:first-child .banner & {
    margin-top: @navbar-offset;
    @media(min-width: @screen-sm-min){
      margin-top: 30px;
    }
  }

  // slightly wider margins around the inset if it is inside a backdrop
  .backdrop & {

    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;

    @media(min-width: @screen-sm-min){
      margin-top: 30px;
    }

  }

  &.f-left, &.f-right {
    @media(max-width: @screen-ms-max){
      float: none !important;
      margin: 25px auto;
    }
    @media(max-width: 390px){
      margin-left: 10px;
      margin-right: 10px;
      width: auto;
    }
  }

  // SPECIAL SMALL BREAKPOINT FOR VERY SMALL DEVICES
  @media(max-width: 340px){
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-bottom: 20px;
    padding: 10px 20px;
  }

  @media(min-width: @screen-sm-min){
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 40px;
  }

}
// END INSET STYLES


// MEDIA QUERIES FOR BREAKPOINTS LARGER THAN MOBILE, BELOW THIS POINT

@media(min-width: @screen-ms-min) {
  .tile-row .tile .tile-content {

    font-size: @font-size-base;

    h3 {
      font-size: @font-size-h3;
    }

  }
}

@media(min-width: @screen-sm-min) {

  .tile-row {

    margin-bottom: @grid-gutter-width;

    &:first-child {

      margin-top: 0; // reset margin above first row on page if larger than mobile

      &.no-gutters {
        margin-top: -(@grid-gutter-width);
      }

    }

    &:last-child, &:last-of-type {
      margin-bottom: 0; // for last row only
    }

    .banner {
      @media (max-width: @screen-md-max) {
        margin: 0 (@grid-gutter-width / 2);
      }
    }

    &.no-gutters {

      margin: -(@grid-gutter-width);

      // tile rows "without gutters" still have a horizontal gutter between them and adjacent rows
      .tile-row + & { margin-top: 0; }
      & + .tile-row { margin-top: (@grid-gutter-width * 2); }

      .banner {
        @media (max-width: @screen-md-max) {
          margin: 0;
        }
      }

    }

    &.boundless {
      margin-left: -@grid-gutter-width;
      margin-right: -@grid-gutter-width;
    }

  }

  .tile-row .tile .tile-content .image-left {
    width: auto;
    max-width: 48%; // less precise, for older browsers
    max-width: ~'calc(50% - (@{line-height-computed} / 2))';
    max-height: (350px - (@line-height-computed * 2));
    margin-right: (@line-height-computed / 2);
  }

  .tile-row .tile .tile-content .image-right {
    width: auto;
    max-width: 48%; // less precise, for older browsers
    max-width: ~'calc(50% - (@{line-height-computed} / 2))';
    max-height: (350px - (@line-height-computed * 2));
    margin-left: (@line-height-computed / 2);
  }

  .tile-details {

    .details-content {
      background-color: rgba(255,255,255,0.6);
      padding: @line-height-computed;
    }

    &.details-left {
      float: left;
      width: 50%;
      padding-right: (@line-height-computed / 2);
    }

    &.details-right {
      float: right;
      width: 50%;
      padding-left: (@line-height-computed / 2);
    }

  }

}
.simple-product .tile-image,
.configurable-product .tile-image{
  background-position: center top 50px !important;

  // special behavior for iPhone size
  @media(max-width: 340px){
    background-size: 300px;
  }

  @media(max-width: @screen-sm-max) {
    background-position: center bottom !important;
  }

}

//Newsletter Tile/Modal

#newsletter-tile,
#newsletter-modal{
  min-height: 350px;
  width: 100%;
  margin: 0;

  #newsletter-tile1,
  #newsletter-modal1{
    background-image: url('/skin/frontend/frans/default/images/newsletterTile1.jpg');
    min-height: 350px;
    width: 100%;

    @media(max-width: @screen-lg-min){
      background-position: 50% 0;
    }

    &.flipped {
      transform: rotateX(360deg) !important;
      transition: all 1s ease 0s !important;
    }

    form {
      display: block;
      float: none;
      margin: auto;
      width: 300px;

      .content {
        position: relative;
        top: 105px;
        p {
          text-transform: none;
          font-size: 13.5px;
          padding: 0 0 10px;
        }
        .newsletter-tile-email-input,
        .newsletter-modal-email-input{
          margin: 0 0 10px 0;
          #newsletter-tile-email,
          #newsletter-modal-email{
            display: block;
            text-align: center;
            width: 100%;
            padding: 6px 8px;
            font-size: 12px;
          }
        }
        #newsletter-tile-email-button,
        #newsletter-modal-email-button{
          display: block;
          width: 100%;
          text-align: center;
          margin: 0;
        }
      }
    }
  }

  #newsletter-tile2,
  #newsletter-modal2{
    background-image: url('/skin/frontend/frans/default/images/newsletterTile2.jpg');
    min-height: 350px;
    width: 100%;

    @media(max-width: @screen-lg-min){
      background-position: 45% 0;
    }

    form {
      display: block;
      float: none;
      margin: auto;
      width: 300px;

      .content {
        position: relative;
        top: 115px;
        p {
          text-transform: none;
          font-size: 13.5px;
          padding: 0 0 10px;
        }

        #newsletter-tile-dob,
        #newsletter-modal-dob{
          display: block;
          text-align: center;
          width: 100%;
          margin: 0 0 10px 0;
          padding: 6px 8px;
          font-size: 12px;
        }
        #newsletter-tile-dob-button,
        #newsletter-modal-dob-button{
          padding-top: 7px;
          padding-bottom: 7px;
        }

        #newsletter-tile-dob-nothanks,
        #newsletter-modal-dob-nothanks{
          width: 100%;
          margin-top: 10px;
          background: none;
          border: none;
          text-decoration: underline;
          color: #7c4e2a;
          font-size: 13px;
        }
      }
    }
  }
}

#newsletter-modal{
  #newsletter-modal1, #newsletter-modal2 {
    form {
      .content {
        text-align: center;
        @media(max-width: 333px){
          width: 70%;
          margin: 0 auto;
        }
        h3 {
          font-size: 22px;
          @media(max-width: 333px){
            font-size: 18px;
          }
        }
      }
    }
  }
  @media(max-width: 333px){
    #newsletter-modal2 {
      form{
        .content {
          top: 80px;
          #newsletter-modal-dob-button {
            padding: 7px 0;
          }
        }
      }
    }
  }
}

#newsletter-tile, #newsletter-tile div,
#newsletter-modal, #newsletter-modal div{
  color: #333;

  .validation-advice, .validation-advice-newsletter-modal {
    clear: both;
    color: #a94442;
    font-size: 11px;
    text-align: center;
    text-transform: none;
  }
  .validation-failed, .validation-failed-newsletter-modal{
    border-width: 1px;
    border-style: solid;
  }
}

#newsletter-tile #newsletter-tile1 form#newsletter-tile-thankyou,
#newsletter-modal #newsletter-modal1 form#newsletter-modal-thankyou
{
  display: none;

  h3 {
    line-height: 32px;
  }
  p {
    line-height: 22px;
  }
  #newsletter-tile-restart,
  #newsletter-modal-close{
    display: block;
    margin: 0 auto;
    padding: 4px;
    text-align: center;
    border: none;
    background: none;
    color: #7c4e2a;
    text-decoration: underline;
  }
}

